openapi: 3.1.1
info:
  x-portal:
    module: m4
    label: M4 Registry Integration
    position: 5
    icon: building-2
  title: ABDM M4, register facilities and professionals
  summary: Register healthcare professionals and facilities on the NHPR.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://sandboxsupport.abdm.gov.in/
  x-abdm-gateway: hiecm
  x-abdm-module: M4
  x-abdm-phase: 1
  x-abdm-roles:
    - his
x-abdm-sources:
  - file: catalogue/openapi/.raw/nha-2026-09-24/M4/M4-HFR.json
    role: upstream
    hash: sha256:39a581bb31e74f48340703056258e31850788848220787814ffa49750d23d9ba
    fetched: "2026-09-24"
  - file: catalogue/openapi/.raw/nha-2026-09-24/M4/M4-HPID.json
    role: upstream
    hash: sha256:b673f1dc7d25958998a8be194c87df9b779fd80389f9c8970bdb28b53df30b12
    fetched: "2026-09-24"
  - file: catalogue/openapi/.raw/nha-2026-09-24/M4/M4-HPR.json
    role: upstream
    hash: sha256:2cbcab72692ada1b6b07bce3c6c6d3e3bd047bcaca0c5716ac1d691121025081
    fetched: "2026-09-24"
servers:
  - url: https://apihspsbx.abdm.gov.in/v4/int
    description: NHPR, sandbox
security:
  - bearerAuth: []
tags:
  - name: Registration API's Collection Via Aadhaar
    description: ""
  - name: Onboarding APIs
    description: ""
  - name: Multiple HRP API
    description: ""
  - name: Utilities
    description: ""
  - name: Search
    description: ""
  - name: HFR-HRP Linkage APIs
    description: ""
  - name: Authentication
    description: ""
  - name: Verification
    description: ""
  - name: Util
    description: ""
  - name: Profile
    description: ""
  - name: Forgot Healthcare Professional ID/number
    description: ""
  - name: Searched
    description: ""
  - name: Enrollment
    description: ""
  - name: Utility
    description: ""
paths:
  /aadhaar/generateLink:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_aadhaar_generatelink
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadharGenerateLinkRequest"
            example:
              scopes:
                - nhpr-register
              source: NHPR
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadharGenerateLinkResponse"
              example:
                txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
                mobileNumber: "******1234"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateAadhaarLink
      summary: Generate Aadhaar Link
      x-abdm-summary-derived: true
  /aadhaar/isAuthenticated:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_aadhaar_isauthenticated
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGetTransactionRequest"
            example:
              txnId: 259813b1-a339-4482-8df5-16ee45b8dcf2
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: boolean
              example: true
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: isAadhaarAuthenticated
      summary: Is Aadhaar Authenticated
      x-abdm-summary-derived: true
  /v2/registration/aadhaar/verifyOTP:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v2_registration_aadhaar_verifyotp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGetTransactionRequest"
            example:
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadharVerifyResponsePayload"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyOtp
      summary: Verify Otp
      x-abdm-summary-derived: true
  /v2/registration/aadhaar/demographicAuthViaMobile:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v2_registration_aadhaar_demographicauthviamobile
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MobileDemographicAuthResponseModel"
              example:
                verified: true
                errorCode: null
                reason: null
                uidaiToken: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: demographicAuthViaMobile
      summary: Demographic Auth Via Mobile
      x-abdm-summary-derived: true
  /v1/registration/aadhaar/checkHpIdAccountExist:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v1_registration_aadhaar_checkhpidaccountexist
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountExistPayload"
            example:
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AccountExistResponsePayload"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: accountExist
      summary: Account Exist
      x-abdm-summary-derived: true
  /v1/registration/aadhaar/hpid/suggestion:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v1_registration_aadhaar_hpid_suggestion
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HpIdSuggestionRequst"
            example:
              txnId: a825f76b-0696-40f3-864c-5a3a5b389a83
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  type: string
              example:
                - anujsharma
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getSuggesstion
      summary: Get Suggesstion
      x-abdm-summary-derived: true
  /v1/registration/aadhaar/generateMobileOTP:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v1_registration_aadhaar_generatemobileotp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HPRIDGenerateMobileOTPRequestDTO"
            example:
              mobile: 981065XXXX
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateMobileOtp
      summary: Generate Mobile Otp
      x-abdm-summary-derived: true
  /v1/registration/aadhaar/verifyMobileOTP:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v1_registration_aadhaar_verifymobileotp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HPRIDVerifyMobileOTPRequestDTO"
            example:
              otp: <BASE64 ENCODED STRING>
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HPRIDVerifyMobileOTPResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyMobileOTP
      summary: Verify Mobile OTP
      x-abdm-summary-derived: true
  /v2/registration/aadhaar/createHprIdWithPreVerified:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v2_registration_aadhaar_createhpridwithpreverified
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountWithPreVerifiedAadhaar"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAccountJwtResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: createHprIdV2
      summary: Create Hpr Id V2
      x-abdm-summary-derived: true
  /search/address/filter/deduplicate:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_search_address_filter_deduplicate
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddressFilterRequest"
            example:
              name: Jethana
              address: <ADDRESS>
              district: "511"
              subDistrict: "5271"
              village: ""
              geolocation: ""
              facilityId: "69765"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeduplicateResponseDto"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getFilteredAddressPost
      summary: Get Filtered Address Post
      x-abdm-summary-derived: true
  /v1.5/facility/basic-information:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_v1_5_facility_basic_information
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: x-hprid-auth
          in: header
          required: true
          schema:
            type: string
          description: The HPR token of the signed-in professional, from the HPR login.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityBasicInformationRequest"
            example:
              trackingId: ""
              facilityInformation:
                facilityName: Sahyadri Hospital
                facilityAddressDetails:
                  country: India
                  stateLGDCode: "24"
                  districtLGDCode: "438"
                  subDistrictLGDCode: "6512"
                  facilityRegion: U
                  villageCityTownLGDCode: ""
                  addressLine1: townhall, Pune
                  addressLine2: Pune
                  pincode: <PINCODE>
                  latitude: "23.068570"
                  longitude: "23.068570"
                facilityContactInformation:
                  facilityEmailId: <ABHA_ADDRESS>.com
                  facilityContactNumber: 976243xxxx
                  websiteLink: nha.abdm.gov.in
                  facilityLandlineNumber: ""
                  facilityStdCode: ""
                ownershipCode: G
                ownershipSubTypeCode: C
                ownershipSubTypeCode2: MOHF
                systemOfMedicineCode: M,D,UN
                typeOfServiceCode: IPD,OPD
                facilityTypeCode: "5"
                specialityTypeCode: SINGLE
                facilityUploads:
                  facilityBoardPhoto:
                    name: ""
                    value: ""
                  facilityBuildingPhoto:
                    name: ""
                    value: ""
                facilitySubType: "47"
                facilityOperationalStatus: F
                timingsOfFacility:
                  - workingDays: MON
                    openingHours: 9:00 AM - 6:00 PM
                  - workingDays: TUE
                    openingHours: 9:00 AM - 4:00 PM
                  - workingDays: WED
                    openingHours: 9:00 AM - 6:00 PM
                abdmCompliantSoftware:
                  - existingSoftwares:
                      - ""
                    anyOther: ""
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilityOnboardResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: v15BasicFacilityInformation
      summary: V15Basic Facility Information
      x-abdm-summary-derived: true
  /v1.5/facility/additional-information:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_v1_5_facility_additional_information
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityAdditionalInformationRequest"
            example:
              trackingId: "80266"
              linkedProgramIds:
                nhrrId: "1234"
                nin: "1234"
                abpmjayId: "1234"
                rohiniId: "1234"
                echsId: "1234"
                cghsId: "1234"
                ceaRegistration: "1234"
                stateInsuranceSchemeId: "1234"
              generalInformation:
                hasDialysisCenter: YALL
                hasPharmacy: YALL
                hasBloodBank: YALL
                hasCathLab: YALL
                hasDiagnosticLab: YALL
                hasImagingCenter: YALL
                servicesByImagingCenter:
                  - service: S36
                    count: 7
                  - service: S16
                    count: 5
                  - service: S23
                    count: 3
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilityOnboardResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: v15FacilityAdditionalInformation
      summary: V15Facility Additional Information
      x-abdm-summary-derived: true
  /v1.5/facility/detailed-information:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_v1_5_facility_detailed_information
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityDetailedInformationRequest"
            example:
              trackingId: "80266"
              specialities:
                - systemOfMedicineCode: M
                  isSpecializationAvalaible: Y
                  specialities:
                    - S29
                    - S30
                    - S31
                - systemOfMedicineCode: D
                  isSpecializationAvalaible: Y
                  specialities:
                    - S50
                    - S51
                    - S46
                - systemOfMedicineCode: UN
                  isSpecializationAvalaible: Y
                  specialities:
                    - S68
                    - S168
                    - S100
              medicalInfrastructure:
                countIPDBedsWithoutOxygen: 2
                countIPDBedsWithOxygen: 3
                countICUBedsWithVentilators: 4
                countICUBedsWithoutVentilators: 1
                countHDUBedsWithVentilators: 5
                countHDUBedsWithoutVentilators: 6
                totalNumberOfVentilators: 7
                countDayCareBedsWithoutOxygen: 8
                countDayCareBedsWithOxygen: 9
                countDentalChairs: 1
                totalNumberOfBeds: 4
              pharmacyDetails:
                isJanAushadhiKendra: Y
                janAushadhiKendraId: jan-id
                drugLicenseNumber: test1234
                pharmacyGstinNumber: testg1234
                pharmacistRegistrationNumber: reg1234
              bloodBankDetails:
                isFacilityRegisteredInERaktkosh: N
                eRaktoshId: Y
                bloodBankLicenseNumber: 345-test-regno
                bloodStorageCenters: Y
                storageCentersCount: 7
                bloodCollectedPerAnnum: "5"
                bloodRequiredPerAnnum: "6"
              imagingServices:
                - service: S136
                  count: 77
                - service: S139
                  count: 99
                - service: S138
                  count: 76
              diagnosticServices:
                - ""
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilityOnboardResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: v15FacilityDetailedInformation
      summary: V15Facility Detailed Information
      x-abdm-summary-derived: true
  /v1.5/facility/submit-facility:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_v1_5_facility_submit_facility
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: x-hprid-auth
          in: header
          required: true
          schema:
            type: string
          description: The HPR token of the signed-in professional, from the HPR login.
        - name: x-hprid-auth-verifier
          in: header
          required: false
          schema:
            type: string
          description: The HPR token of the professional verifying the facility submission.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilitySubmitDetails"
            example:
              trackingId: "80266"
              sourceOfInformation: HRP_SUB_1
              sourceUniqueID: "1234"
              facilitySuperUser: STATE_SUPER_1
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilitySubmitResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: v15SubmitFacilityDetails
      summary: V15Submit Facility Details
      x-abdm-summary-derived: true
  /v1/bridges/MutipleHRPAddUpdateServices:
    post:
      tags:
        - Multiple HRP API
      operationId: m4_post_v1_bridges_mutiplehrpaddupdateservices
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BridgeAddUpdateRequestDTO"
            example:
              facilityId: IN0610090166
              facilityName: Singla Eye Center
              HRP:
                - bridgeId: SBX_00XXXX
                  hipName: Singla Eye Center
                  type: HIP
                  active: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: facilityAddAndUpdate
      summary: Facility Add And Update
      x-abdm-summary-derived: true
  /getPsuDetailsByMinistry:
    get:
      tags:
        - Utilities
      operationId: m4_get_getpsudetailsbyministry
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: ministry
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getPsuData
      summary: Get Psu Data
      x-abdm-summary-derived: true
  /FacilityManagement/v1.5/facility/bygeoLocation/searchWithinRadiusWithFilter:
    post:
      tags:
        - Search
      operationId: m4_post_facilitymanagement_v1_5_facility_bygeolocation_se_16e590
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HFRSearchWithinRadiusRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilitySearchResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getFacilityWithinRadiusWithFilter
      summary: Get Facility Within Radius With Filter
      x-abdm-summary-derived: true
  /FacilityManagement/v1.5/facility/search:
    post:
      tags:
        - Search
      operationId: m4_post_facilitymanagement_v1_5_facility_search
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchFacilityRequestDTO"
            example:
              ownershipCode: P
              subDistrictLGDCode: ""
              pincode: ""
              facilityName: hospital
              facilityId: ""
              page: 1
              resultsPerPage: 10
              stateLGDCode: "27"
              districtLGDCode: ""
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilitySearchResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: searchFacility_1
      summary: Search Facility 1
      x-abdm-summary-derived: true
  /v1.0/facility/search-facilities:
    post:
      tags:
        - Multiple HRP API
      operationId: m4_post_v1_0_facility_search_facilities
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchFacilityRequest"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SearchFacilityResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: searchFacility
      summary: Search Facility
      x-abdm-summary-derived: true
  /v1.5/facility/fetch-facility-Sub-type:
    post:
      tags:
        - Utilities
      operationId: m4_post_v1_5_facility_fetch_facility_sub_type
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UtilityFacilitySubTypeReqDto"
            example:
              facilityTypeCode: "2"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
              example:
                type: FACILITY-SUB-TYPE
                data:
                  - code: "29"
                    value: Any Other
                  - code: "1"
                    value: Block Primary Health Centre
                  - code: "40"
                    value: Dispensary
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllFacilitySubTypeByFacilityType
      summary: Get All Facility Sub Type By Facility Type
      x-abdm-summary-derived: true
  /v1.5/facility/fetch-facility-type:
    post:
      tags:
        - Utilities
      operationId: m4_post_v1_5_facility_fetch_facility_type
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UtilityFacilityTypeReqDto"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
              example:
                type: FACILITY-TYPE
                data:
                  - code: "9"
                    value: Blood Bank
                  - code: "74"
                    value: Imaging Center
                  - code: "35"
                    value: "Day Care center "
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllFacilityTypeByOwnershipAndSysOfMed
      summary: Get All Facility Type By Ownership And Sys Of Med
      x-abdm-summary-derived: true
  /v1.5/facility/get-master-data:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_get_master_data
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: type
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UtilityTypeDataResDto"
              example:
                type: MEDICINE
                data:
                  - code: H
                    value: Homeopathy
                  - code: UN
                    value: Unani
                  - code: SD
                    value: Siddha
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getMasterData
      summary: Get Master Data
      x-abdm-summary-derived: true
  /v1.5/facility/get-master-types:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_get_master_types
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/MasterTypeResponseDto"
              example:
                masterTypes:
                  - type: MEDICINE
                    desc: System Of Medicine
                  - type: OWNER
                    desc: Ownership Of Facility
                  - type: OWNER-SUBTYPE
                    desc: Ownership Subtype Of Facility
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllMasterType
      summary: Get All Master Type
      x-abdm-summary-derived: true
  /v1.5/facility/get-owner-subtype:
    post:
      tags:
        - Utilities
      operationId: m4_post_v1_5_facility_get_owner_subtype
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubTypeUtilityRequestDto"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
              example:
                type: CENTRAL-GOVERNMENT
                data:
                  - code: MOHF
                    value: Mo Health and Family Welfare
                  - code: MOR
                    value: Mo Railways
                  - code: MOP
                    value: Mo Power
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllSubTypesByOwnerShipTypeAndSubType
      summary: Get All Sub Types By Owner Ship Type And Sub Type
      x-abdm-summary-derived: true
  /v1.5/facility/get-specialities:
    post:
      tags:
        - Utilities
      operationId: m4_post_v1_5_facility_get_specialities
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecialitiesUtilityRequestDto"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
              example:
                type: SPECIALITIES
                data:
                  - code: D-S44
                    value: OralMedicine and Radiology
                  - code: D-S46
                    value: Oral& Maxillofacial Surgery
                  - code: D-S45
                    value: Periodontology
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllSpecialitiesBySystemOfMedicineCode
      summary: Get All Specialities By System Of Medicine Code
      x-abdm-summary-derived: true
  /v1.5/facility/lgd/districts:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_lgd_districts
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: stateCode
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UtilityCodeNameResDto"
              example:
                - code: "1"
                  name: Anantnag
                - code: "623"
                  name: Bandipora
                - code: "3"
                  name: Baramulla
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllDistrictByStateId
      summary: Get All District By State Id
      x-abdm-summary-derived: true
  /v1.5/facility/lgd/states:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_lgd_states
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StatesUtilityResponseDto"
              example:
                - code: "35"
                  name: Andaman And Nicobar Islands
                  districts:
                    - code: "603"
                      name: Nicobars
                    - code: "632"
                      name: North And Middle Andaman
                    - code: "602"
                      name: South Andamans
                - code: "28"
                  name: Andhra Pradesh
                  districts:
                    - code: "745"
                      name: <NAME>
                    - code: "744"
                      name: Anakapalli
                    - code: "502"
                      name: Ananthapuramu
                - code: "12"
                  name: Arunachal Pradesh
                  districts:
                    - code: "628"
                      name: Anjaw
                    - code: "229"
                      name: Changlang
                    - code: "230"
                      name: Dibang Valley
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllStatesByLGD
      summary: Get All States By LGD
      x-abdm-summary-derived: true
  /v1.5/facility/lgd/subdistricts:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_lgd_subdistricts
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: districtCode
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UtilityCodeNameResDto"
              example:
                - code: "6752"
                  name: Assar
                - code: "65"
                  name: Bhaderwah
                - code: "6747"
                  name: Bhagwah
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllSubDistrictByDistrictCode
      summary: Get All Sub District By District Code
      x-abdm-summary-derived: true
  /v1.5/facility/sendOtpToContact:
    post:
      tags:
        - HFR-HRP Linkage APIs
      operationId: m4_post_v1_5_facility_sendotptocontact
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityContactDetails"
            example:
              facilityId: IN2810002702
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilityOtpResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendOtpToContact
      summary: Send Otp To Contact
      x-abdm-summary-derived: true
  /v1.5/facility/validateOtp:
    post:
      tags:
        - HFR-HRP Linkage APIs
      operationId: m4_post_v1_5_facility_validateotp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateOtpRequestDto"
            example:
              facilityId: IN2810002702
              sourceId: AB-PMJAY
              otp: "885210"
              source: AB-PMJAY
              transactionId: 2ddfc7ec-9a9f-412c-8c50-c2be92da5781
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ValidateOtpResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: validateOtp
      summary: Validate Otp
      x-abdm-summary-derived: true
  /api/v1/auth/authPassword:
    post:
      tags:
        - Authentication
      operationId: m4_post_v1_auth_authpassword
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginViaPasswordRequestDto"
            example:
              idType: ""
              domainName: ""
              hprId: <HPR_ID>
              password: XXXX@992
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/LoginViaPasswordResponseDto"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: loginViaPassword
      summary: Login Via Password
      x-abdm-summary-derived: true
  /api/v1/auth/cert:
    get:
      tags:
        - Authentication
      operationId: m4_get_v1_auth_cert
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: publicCertificateRequestDto
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/PublicCertificateRequestDto"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: string
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getPublicCertificate
      summary: Get Public Certificate
      x-abdm-summary-derived: true
  /api/v1/auth/confirmWithAadhaarOtp:
    post:
      tags:
        - Authentication
      operationId: m4_post_v1_auth_confirmwithaadhaarotp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarAuthVerifyRequestDTO"
            example:
              otp: "308709"
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadhaarAuthVerifyResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyAadhaarOTP
      summary: Verify Aadhaar OTP
      x-abdm-summary-derived: true
  /api/v1/auth/init:
    post:
      tags:
        - Authentication
      operationId: m4_post_v1_auth_init
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarAuthRequestDTO"
            example:
              idType: ""
              domainName: ""
              authMethod: AADHAAR_OTP
              hprId: <HPR_ID>
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadhaarAuthResponseDTO"
              example:
                transactionId: 227654a1-a627-48e3-a617-f6fa7595a512
                mobileNumber: "******1234"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendViaAadhaarOTP
      summary: Send Via Aadhaar OTP
      x-abdm-summary-derived: true
  /api/v2/auth/loginViaMobileSendOTP:
    post:
      tags:
        - Authentication
      operationId: m4_post_v2_auth_loginviamobilesendotp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendVerifyOtpRequestDto"
            example:
              txnId: 4c8c4b29-6d7e-4446-8f73-4574d6d14f09
              mobile: 97624XXXXX
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SendVerifyOtpResponseDto"
              example:
                txnId: 28b4ce41-71df-48af-8b6c-13c30402816c
                mobileNumber: "******1234"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendVerifyOTP
      summary: Send Verify OTP
      x-abdm-summary-derived: true
  /apis/v1/doctors/generate-mobile-otp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_generate_mobile_otp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGenerateOTPRequestDTO"
            example:
              hpr_token: <JWT TOKEN>
              officialMobile: <BASE64 ENCODED STRING>
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadhaarGenerateOTPResponseDTO"
              example:
                status: success
                txnId: 3a9e7f08-39ea-42fc-b3bc-b81a3cc68ab5
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateMobileOTP_2
      summary: Generate Mobile OTP 2
      x-abdm-summary-derived: true
  /apis/v1/doctors/generate-verification-email:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_generate_verification_email
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailAuthRequestDto"
            example:
              emailAddress: <ABHA_ADDRESS>.com
              otp_type: ""
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EmailAuthResponseDto"
              example:
                msg: Mail sent successfully
                status: success
                otpLimitExp: null
                expTime: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendVerificationEmail
      summary: Send Verification Email
      x-abdm-summary-derived: true
  /apis/v1/doctors/regenerate-mobile-otp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_regenerate_mobile_otp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGenerateOTPRequestDTO"
            example:
              hpr_token: <JWT TOKEN>
              officialMobile: PFiI0AQJkAKIdLL6ytdJLKFObqXab9rwTvOEPHflksQBkMzIIb8HMDYUzZfN3AUdefedSbb+B4sPwi72lsaaNRkpXygWRF0GWntEwD/WL80JbXaW9DJkwPpDEzQpMYKKT17iCTp7pQer8337NZofO1D1aYiDfEnA9E1HMTyPCGFjvmbcL32hNqGsgpHKYNh4rHXCo4RwP5UQKWDYI1jLZqbWLp0a9GQu9nC1hyP5IR5LRCASzvhiRfrRk+Y660xuDSCvOKb+uUPcN3ZFA==xxxxxxxx
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadhaarGenerateOTPResponseDTO"
              example:
                status: <string>
                txnId: <string>
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: regenerateMobileOTP
      summary: Regenerate Mobile OTP
      x-abdm-summary-derived: true
  /apis/v1/doctors/resent-verify-email:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_resent_verify_email
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailAuthRequestDto"
            example:
              emailAddress: <ABHA_ADDRESS>.com
              otp_type: ""
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EmailAuthResponseDto"
              example:
                emailAddress: <ABHA_ADDRESS>.com
                otp_type: ""
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: resentVerificationEmail
      summary: Resent Verification Email
      x-abdm-summary-derived: true
  /apis/v1/doctors/verify-email-otp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_verify_email_otp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailOTPVerificationRequestDTO"
            example:
              hpr_token: <JWT TOKEN>
              hpr_id: <HPR_ID>
              officialEmail: <ABHA_ADDRESS>.com
              emailOtp: 515999
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/EmailOTPVerificationResponseDTO"
              example:
                status: fail
                msg: Email Verification Failed
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyEmailOTP
      summary: Verify Email OTP
      x-abdm-summary-derived: true
  /apis/v1/doctors/verify-mobile-otp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_verify_mobile_otp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOtpRequest"
            example:
              hpr_token: <JWT TOKEN>
              txnId: dd392164-0f4a-4894-8d64-1fce027ee033
              otp: <BASE64 ENCODED STRING>
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadhaarGenerateOTPResponseDTO"
              example:
                status: <string>
                txnId: <string>
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyMobileOtp
      summary: Verify Mobile Otp
      x-abdm-summary-derived: true
  /hpid/get/categories:
    get:
      tags:
        - Util
      operationId: m4_get_hpid_get_categories
      parameters:
        - name: role
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HpCategoriesDTO"
              example:
                - code: 1
                  name: Doctor
                  subCategories:
                    - code: "220"
                      name: Yoga and Naturopathy
                    - code: "1"
                      name: Modern Medicine
                    - code: "2"
                      name: Dentist
                - code: 2
                  name: Nurse
                  subCategories:
                    - code: "9"
                      name: Registered Nurse and Registered Midwife (RN & RM)
                    - code: "10"
                      name: Registered Lady Health Visitor (RLHV)
                    - code: "7"
                      name: Registered Auxiliary Nurse Midwife(RANM)
                - code: 6
                  name: Pharmacist
                  subCategories:
                    - code: "33"
                      name: Pharmacy
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: fetchHpIdCategories
      summary: Fetch Hp Id Categories
      x-abdm-summary-derived: true
  /hpid/get/subCategories:
    get:
      tags:
        - Util
      operationId: m4_get_hpid_get_subcategories
      parameters:
        - name: categoryCode
          in: query
          required: false
          schema:
            type: string
        - name: role
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HpSubCategoriesDTO"
              example:
                - code: "220"
                  name: Yoga and Naturopathy
                - code: "1"
                  name: Modern Medicine
                - code: "2"
                  name: Dentist
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: fetchHpIdSubCategoriesFromCategory
      summary: Fetch Hp Id Sub Categories From Category
      x-abdm-summary-derived: true
  /password/change/byPassword:
    post:
      tags:
        - Profile
      operationId: m4_post_password_change_bypassword
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidChangePasswordRequestPayload"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PasswordChangeDTO"
              example:
                message: Password has been changed successfully!
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: changePassword
      summary: Change Password
      x-abdm-summary-derived: true
  /password/recover/byAadhaar:
    post:
      tags:
        - Profile
      operationId: m4_post_password_recover_byaadhaar
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryRequest"
            example:
              hprId: <HPR_ID>
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
              example:
                txnId: 9b78fdfb-3ba4-4707-8913-63c7c5e3a743
                mobileNumber: "******8063"
                msg: ""
                verified: false
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: recoverPasswordViaAadhaar
      summary: Recover Password Via Aadhaar
      x-abdm-summary-derived: true
  /password/recover/byMobile/sendMobileOTP:
    post:
      tags:
        - Profile
      operationId: m4_post_password_recover_bymobile_sendmobileotp
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryRequest"
            example:
              hprId: amol.xxxxxx
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SendOtpResponse"
              example:
                txnId: 7ebad8aa-127b-492f-bd0e-56da716bd39e
                msg: Please enter OTP sent on your mobile number ******2021
                otp: 0
                mobileNumber: "******2021"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateMobileOTP_1
      summary: Generate Mobile OTP 1
      x-abdm-summary-derived: true
  /password/recover/byMobile/verifyMobileOTP:
    post:
      tags:
        - Profile
      operationId: m4_post_password_recover_bymobile_verifymobileotp
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidChangePasswordRequestPayload"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SendOtpResponse"
              example:
                verified: true
                txnId: 7ebad8aa-127b-492f-bd0e-56da716bd39e
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyMobileOTP_1
      summary: Verify Mobile OTP 1
      x-abdm-summary-derived: true
  /password/recover/confirmByAadhaar:
    post:
      tags:
        - Profile
      operationId: m4_post_password_recover_confirmbyaadhaar
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidOtpWebRequestPaylaod"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ValidateAaddhaarDemographicMobileResponseDTO"
              example:
                verified: true
                txnId: 9b78fdfb-3ba4-4707-8913-63c7c5e3a743
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: recoverPasswordConfirmByAadhaar
      summary: Recover Password Confirm By Aadhaar
      x-abdm-summary-derived: true
  /password/reset/password:
    post:
      tags:
        - Profile
      operationId: m4_post_password_reset_password
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidOtpWebRequestPaylaod"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PasswordChangeDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: resetPasswordAndSession
      summary: Reset Password And Session
      x-abdm-summary-derived: true
  /password/resetPassword:
    post:
      tags:
        - Profile
      operationId: m4_post_password_resetpassword
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidOtpWebRequestPaylaod"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PasswordChangeDTO"
              example:
                message: Password has been changed successfully!
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: resetPassword
      summary: Reset Password
      x-abdm-summary-derived: true
  /v1/account/getIdCard:
    get:
      tags:
        - Profile
      operationId: m4_get_v1_account_getidcard
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: X-Token
          in: header
          required: false
          schema:
            type: string
          description: The HPR token of the signed-in professional, from the HPR login.
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ProfileResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAccountPngCard
      summary: Get Account Png Card
      x-abdm-summary-derived: true
  /v1/account/information:
    get:
      tags:
        - Profile
      operationId: m4_get_v1_account_information
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: masked
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserProfileResponseDto"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getUserProfileByJwt
      summary: Get User Profile By Jwt
      x-abdm-summary-derived: true
  /v1/account/user-details/{hprId}:
    get:
      tags:
        - Profile
      operationId: m4_get_v1_account_user_details_hprid
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: hprId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserEntityResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getUserDetails
      summary: Get User Details
      x-abdm-summary-derived: true
  /v1/forgot/hprId/aadhaar:
    post:
      tags:
        - Forgot Healthcare Professional ID/number
      operationId: m4_post_v1_forgot_hprid_aadhaar
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGetTransactionRequest"
            example:
              otp: <BASE64 ENCODED STRING>
              txnId: 4c115e27-a602-4320-b4cd-ee658539e2f0
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/RetrieveHprIdPayloadResponse"
              example:
                hprId: <EMAIL>
                hprIdNumber: 71-1********-0212
                token: <JWT TOKEN>
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: retrievalHealthIdByAadhaar
      summary: Retrieval Health Id By Aadhaar
      x-abdm-summary-derived: true
  /v1/forgot/hprId/mobile:
    post:
      tags:
        - Forgot Healthcare Professional ID/number
      operationId: m4_post_v1_forgot_hprid_mobile
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetriveHprIdMobilePayLoad"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/RetrieveHprIdPayloadResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: retrievalHealthIdByMobile
      summary: Retrieval Health Id By Mobile
      x-abdm-summary-derived: true
  /v1/forgot/hprId/mobile/generateOtp:
    post:
      tags:
        - Forgot Healthcare Professional ID/number
      operationId: m4_post_v1_forgot_hprid_mobile_generateotp
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendOtpRequest"
            example:
              mobileNumber: VPoaDCJBNyGhJiX+sAh9yRq1WXAfRXkgcE31/0U2DMkH/+nvpspAA4GEmkbideZhKsSLYnFA1lHPkBH7PS6Bg4jz0aSdDAoovnYgVftJ/suP4mzhhg1Hrf7zQFPriHiraNlsIzsDeLl3ckGejNiCmXhfhBBw==xxxxxxxxxxxxx
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SendOtpResponse"
              example:
                txnId: 132dd7dd-ca5a-4ec1-a36c-093c007bf794
                msg: Please enter OTP sent on your mobile number ******2021
                mobileNumber: "******2021"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateMobileOTP
      summary: Generate Mobile OTP
      x-abdm-summary-derived: true
  /v1/search/existsByHprId/{hprId}:
    get:
      tags:
        - Searched
      operationId: m4_get_v1_search_existsbyhprid_hprid
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: hprId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: boolean
              example: true
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: existsByHprId
      summary: Exists By Hpr Id
      x-abdm-summary-derived: true
  /v1/search/searchByHprId/{hprId}:
    get:
      tags:
        - Searched
      operationId: m4_get_v1_search_searchbyhprid_hprid
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: hprId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/ForgetUserEntityResponseDTO"
              example:
                hprIdNumber: <HPR_ID>
                name: Ayushman Bharat Mission
                authMethods:
                  - PASSWORD
                  - MOBILE_OTP
                  - AADHAAR_OTP
                hprId: <EMAIL>
                categoryId: "1"
                subCategoryId: "1"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: searchUserByHprId
      summary: Search User By Hpr Id
      x-abdm-summary-derived: true
  /v1/search/searchByMobile/{mobile}:
    get:
      tags:
        - Searched
      operationId: m4_get_v1_search_searchbymobile_mobile
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: mobile
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ForgetUserEntityResponseDTO"
              example:
                - hprIdNumber: <HPR_ID>
                  name: Ayushman Bharat Mission
                  authMethods:
                    - PASSWORD
                    - MOBILE_OTP
                    - AADHAAR_OTP
                  hprId: <EMAIL>
                  categoryId: "1"
                  subCategoryId: "1"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: searchUserByMobileNo
      summary: Search User By Mobile No
      x-abdm-summary-derived: true
  /v4/auth/logout:
    get:
      tags:
        - Profile
      operationId: m4_get_v4_auth_logout
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: string
              example: User Profile LoggedOut Successfully!!
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: logout
      summary: Logout
      x-abdm-summary-derived: true
  /apis/v1/doctors/register-professional-new:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_doctors_register_professional_new
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthProfessionalDto"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HealthProfessionalResponseDto"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: registerProfesstional
      summary: Register Professtional
      x-abdm-summary-derived: true
  /apis/v1/doctors/update-professional-new:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_doctors_update_professional_new
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthProfessionalDto"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HealthProfessionalResponseDto"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: updateProfesstional
      summary: Update Professtional
      x-abdm-summary-derived: true
  /apis/v1/doctors/fetch-documents-list:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_doctors_fetch_documents_list
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchRequestDTO"
            example:
              hprid: <HPR_ID>
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FetchDocumentResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: fetchDocuments
      summary: Fetch Documents
      x-abdm-summary-derived: true
  /apis/v1/uploads/upload-document:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_uploads_upload_document
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadDocumentDTO"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UploadDocumentResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: uploadDocuments
      summary: Upload Documents
      x-abdm-summary-derived: true
  /apis/v1/doctors/fetch-professional-info:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_doctors_fetch_professional_info
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchPracticionerRequestDTO"
            example:
              practitioner:
                id: <HPR_ID>
                name: ""
                contactNumber: 976243XXXX
                state: UTTAR PRADESH
                registrationNumber: ""
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FetchProfessionalResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getProfessionalInfo
      summary: Get Professional Info
      x-abdm-summary-derived: true
  /apis/v1/masters/affiliated-board:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_affiliated_board
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AffiliatedBoardResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllAffiliatedBoard
      summary: Get All Affiliated Board
      x-abdm-summary-derived: true
  /apis/v1/masters/affiliated-board/states/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_affiliated_board_states_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/AffiliatedBoard"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAffiliatedBoardByStateId
      summary: Get Affiliated Board By State Id
      x-abdm-summary-derived: true
  /apis/v1/masters/affiliated-board/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_affiliated_board_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AffiliatedBoardResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAffiliatedBoardById
      summary: Get Affiliated Board By Id
      x-abdm-summary-derived: true
  /apis/v1/masters/colleges/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_colleges_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CollegeResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getCollegeByState
      summary: Get College By State
      x-abdm-summary-derived: true
  /apis/v1/masters/colleges/{stateId}/{medicineId}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_colleges_stateid_medicineid
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: stateId
          in: path
          required: true
          schema:
            type: integer
            format: int64
        - name: medicineId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CollegeResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getCollegeByStateAndMedicineId
      summary: Get College By State And Medicine Id
      x-abdm-summary-derived: true
  /apis/v1/masters/countries:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_countries
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CountriesResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllCountries
      summary: Get All Countries
      x-abdm-summary-derived: true
  /apis/v1/masters/countries/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_countries_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CountriesResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getCountriesById
      summary: Get Countries By Id
      x-abdm-summary-derived: true
  /apis/v1/masters/courses:
    post:
      tags:
        - Utility
      operationId: m4_post_v1_masters_courses
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CoursesRequestDTO"
            example:
              systemOfMedicine: Registered Auxiliary Nurse Midwife(RANM)
              hprType: nurse
              qualificationCount: 0
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/CoursesRequestDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: listCourses
      summary: List Courses
      x-abdm-summary-derived: true
  /apis/v1/masters/district:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_district
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DistrictsResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllDistricts
      summary: Get All Districts
      x-abdm-summary-derived: true
  /apis/v1/masters/district/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_district_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DistrictsResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getDistrictsByState
      summary: Get Districts By State
      x-abdm-summary-derived: true
  /apis/v1/masters/languages:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_languages
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/PiLanguagesResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: listGovernmentHealthProgrammes
      summary: List Government Health Programmes
      x-abdm-summary-derived: true
  /apis/v1/masters/languages/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_languages_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PiLanguagesResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getPiLanguagesById
      summary: Get Pi Languages By Id
      x-abdm-summary-derived: true
  /apis/v1/masters/medical-councils:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_medical_councils
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MedicalCouncilResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllMedicalCouncil
      summary: Get All Medical Council
      x-abdm-summary-derived: true
  /apis/v1/masters/medical-councils/name:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_medical_councils_name
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: medicineName
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MedicalCouncilResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getMedicalCouncilBySystemOfMedicineName
      summary: Get Medical Council By System Of Medicine Name
      x-abdm-summary-derived: true
  /apis/v1/masters/nurse-councils:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_nurse_councils
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/NurseCouncilsResponseDTO"
              example:
                - id: 1
                  name: Andhra Pradesh  Nurses Midwives And Health Visitors Council, Vijayawada
                  status: true
                  visibleStatus: true
                  position: 0
                  stateId: 2
                - id: 2
                  name: Arunachal Pradesh Nursing Council
                  status: true
                  visibleStatus: true
                  position: 0
                  stateId: 3
                - id: 3
                  name: Assam Nurses Midwives And Health Visitors Council, Guwahati
                  status: true
                  visibleStatus: true
                  position: 0
                  stateId: 4
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllNurseCouncils
      summary: Get All Nurse Councils
      x-abdm-summary-derived: true
  /apis/v1/masters/states:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_states
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StatesResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllStates
      summary: Get All States
      x-abdm-summary-derived: true
  /apis/v1/masters/states/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_states_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            pattern: ^[0-9]{2}$
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/StatesResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getStatus
      summary: Get Status
      x-abdm-summary-derived: true
  /apis/v1/masters/sub-districts:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_sub_districts
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubDistrictsResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllSubDistricts
      summary: Get All Sub Districts
      x-abdm-summary-derived: true
  /apis/v1/masters/sub-districts/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_sub_districts_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/SubDistrictsResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllSubDistricts_1
      summary: Get All Sub Districts 1
      x-abdm-summary-derived: true
  /apis/v1/masters/system-of-medicines:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_system_of_medicines
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/MedicalSystemResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllMedicalSystem
      summary: Get All Medical System
      x-abdm-summary-derived: true
  /apis/v1/masters/universites:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_universites
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UniversityResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: listAllUniversity
      summary: List All University
      x-abdm-summary-derived: true
  /apis/v1/masters/universites/{id}:
    get:
      tags:
        - Utility
      operationId: m4_get_v1_masters_universites_id
      parameters:
        - name: Authorization
          in: header
          required: false
          schema:
            type: string
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UniversityResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getUniversityByCollege
      summary: Get University By College
      x-abdm-summary-derived: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: M4 declares bearer authentication. The published M4 specifications name no call that issues the token.
  schemas:
    AadhaarGetTransactionRequest:
      type: object
      properties:
        txnId:
          type: string
    AadharVerifyResponsePayload:
      type: object
      properties:
        txnId:
          type: string
        mobileNumber:
          type: string
        photo:
          type: string
        gender:
          type: string
        name:
          type: string
        email:
          type: string
        pincode:
          type: string
        birthdate:
          type: string
        careOf:
          type: string
        house:
          type: string
        street:
          type: string
        landmark:
          type: string
        locality:
          type: string
        villageTownCity:
          type: string
        subDist:
          type: string
        district:
          type: string
        state:
          type: string
        postOffice:
          type: string
        address:
          type: string
    HPRIDGenerateMobileOTPResponseDTO:
      type: object
      properties:
        txnId:
          type: string
        mobileNumber:
          type: string
    MobileDemographicAuthResponseModel:
      type: object
      properties:
        verified:
          type: boolean
    CreateAccountWithPreVerifiedAadhaar:
      required:
        - email
        - txnId
      type: object
      properties:
        idType:
          type: string
          example: hpr_id
        domainName:
          type: string
          example: "@hpr.abdm"
        email:
          type: string
          description: Email Address of the user.
          example: <ABHA_ADDRESS>.com
        firstName:
          type: string
          description: First Name of the user).
          example: Ayushman
        middleName:
          type: string
          description: "Middle name of the user "
          example: Bharat
        lastName:
          type: string
          description: "Last name of the user "
          example: Mission
        password:
          type: string
          description: Passwords for authentication
          example: Ayushman@143
        profilePhoto:
          type: string
          description: Profile photo of the user (Uploaded by the user).
          example: <BASE64 ENCODED STRING>
        txnId:
          type: string
          description: Transaction ID
          format: uuid
          example: c3b0c27d-e19d-4244-b8bb-3fa19285054a
        hprId:
          type: string
          description: Healthcare Professional ID Alias.
          example: <EMAIL>
        sourceType:
          type: string
          enum:
            - DRIVING_LICENSE
            - AADHAAR
        hpCategoryCode:
          type: integer
          format: int32
          example: 1
        hpSubCategoryCode:
          type: integer
          format: int32
          example: 1
        clientId:
          type: string
          example: V4
        stateCode:
          type: string
        districtCode:
          type: string
        council:
          type: boolean
        role:
          type: integer
          format: int32
    CreateAccountJwtResponse:
      type: object
      properties:
        token:
          type: string
        hprIdNumber:
          type: string
        name:
          type: string
        gender:
          type: string
        yearOfBirth:
          type: string
        monthOfBirth:
          type: string
        dayOfBirth:
          type: string
        firstName:
          type: string
        hprId:
          type: string
        lastName:
          type: string
        middleName:
          type: string
        stateCode:
          type: string
        districtCode:
          type: string
        subDistrictCode:
          type: string
        subDistrictName:
          type: string
        stateName:
          type: string
        districtName:
          type: string
        email:
          type: string
        kycPhoto:
          type: string
        mobile:
          type: string
[...]
