openapi: 3.1.1
info:
  x-portal:
    module: m1
    label: M1 ABHA identity
    position: 2
    icon: id-card
  title: ABDM M1, ABHA identity
  summary: Create, find, log into and manage an ABHA.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://sandboxsupport.abdm.gov.in/
  x-abdm-gateway: hiecm
  x-abdm-module: M1
  x-abdm-phase: 1
  x-abdm-roles:
    - his
  description: Encrypt Aadhaar numbers, mobile numbers, OTP values and passwords under the certificate from GET /abha/api/v3/profile/public/certificate. See /docs/hiecm/v3/concepts/encryption.
x-abdm-sources:
  - file: catalogue/openapi/.raw/nha-2026-09-16/abha/M1 ABHA Swagger 1.yaml
    role: upstream
    hash: sha256:6ab5cfe77c29032fac5fbf25c8e28529f22951e459374fa618f570f15e25551b
    fetched: "2026-09-16"
  - file: catalogue/openapi/.raw/nha-2026-09-16/abha/M1 ABHA Collection.json
    role: upstream
    hash: sha256:ea48dc0600f8322c766bf59b17714ed80b94c01e4df02373a4cc248ac0118f5c
    fetched: "2026-09-15"
    note: Used for the order of M1 calls only. See journeys/m1.yaml.
servers:
  - url: https://abhasbx.abdm.gov.in
    description: ABHA service, sandbox
security:
  - bearerAuth: []
tags:
  - name: ABHA ENROLLMENT Via AADHAAR
    description: ""
  - name: ABHA CREATION USING FACE AUTH
    description: ""
  - name: CHILD ABHA (These APIs are intended for use only by specific Government integrators, approved by NHA)
    description: ""
  - name: FIND ABHA
    description: ""
  - name: ABHA LOGIN
    description: ""
  - name: ABHA PROFILE
    description: ""
  - name: ABHA CARD
    description: ""
  - name: BENEFIT APIS
    description: ""
  - name: ABHA ADDRESS VERIFICATION
    description: ""
  - name: UTILITIES
    description: ""
paths:
  /abha/api/v3/enrollment/request/otp:
    post:
      tags:
        - ABHA ENROLLMENT Via AADHAAR
      summary: "Use Case: ABHA enrollment - Send OTP using Aadhaar number Mobile number, ABHA number and Email address"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                  example:
                    - email-verify
                    - abha-enrol
                    - mobile-verify
                loginHint:
                  type: string
                  example: aadhaar
                loginId:
                  type: string
                  example: "{{encrypted aadhaar number}},{{encrypted mobile number}},{{encrypted email address}}"
                otpSystem:
                  type: string
                  example: abdm,aadhaar
              required:
                - scope
                - loginHint
                - loginId
                - otpSystem
            examples:
              ABHA enrolment via Aadhaar-Send OTP:
                value:
                  txnId: "{{txnId}}"
                  scope:
                    - abha-enrol
                  loginHint: aadhaar
                  loginId: "{{encrypted aadhaar number}}"
                  otpSystem: aadhaar
              Mobile Update - Send OTP:
                value:
                  txnId: "{{txnId}}"
                  scope:
                    - abha-enrol
                    - mobile-verify
                  loginHint: mobile
                  loginId: "{{encrypted mobileNumber}}"
                  otpSystem: abdm
              ABHA Creation via Aadhaar OTP-Send OTP:
                value:
                  txnId: "{{txnId}}"
                  scope:
                    - abha-enrol
                  loginHint: aadhaar
                  loginId: "{{encrypted aadhaar number}}"
                  otpSystem: aadhaar
          application/xml:
            schema:
              type: object
              properties: {}
            examples:
              "":
                value: |-
                  {
                      "txnId": "",
                      "scope": [
                          "abha-enrol"
                      ],
                      "loginHint": "aadhaar",
                      "loginId": "{{encrypted aadhaar}}",
                      "otpSystem": "aadhaar"
                  } 
        description: "<b>Below is the Request Body description:</b><br><br>\r

          \ \r

          <!--<div> <table> <thead> <tr> <th>Attributes</th> <th>Description</th> </tr> </thead> <tbody> <tr> <td>scope <sup>* required</td> <td>Aadhaar/Abha/mobile</td> </tr> <tr> <td>loginHint <sup> * required</td> <td>Aadhaar,Abha And Mobile Number</td> </tr> <tr> <td>loginId <sup>* required </sup></td> <td>encrypted mobile-number</td> </tr> <tr> <td>otpSystem <sup>* required</td> <td>abdm/aadhaar</td> </tr> </tbody> </table> </div> <hr> --> <b>Note:</b> Mandatory fields can't be null.. <ol> <li> <p><strong>scope</strong> (required):</p> <ul> <li><strong>Description:</strong> Specifies the scope of the OTP request.</li> <li><strong>Example:</strong> <code>[\"abha-enrol\", \"mobile-verify\",]</code></li> <li><strong>Possible Values:</strong> <code>abha-enrol</code>, <code>mobile-verify</code> ,<code>email-verify</code>.</li> </ul> </li> <li> <p><strong>loginHint</strong> (required):</p> <ul> <li><strong>Description:</strong> Indicates the type of identifier being used for the OTP request.</li> <li><strong>Example:</strong> <code>aadhaar</code></li> <li><strong>Possible Values:</strong><code>aadhaar</code>, <code>mobile</code></li> </ul> </li> <li>  <p><strong>loginId</strong> (required):</p> <ul> <li><strong>Description:</strong> The encrypted identifier (ABHA Number, or Mobile Number) for which the OTP is being requested.</li> <li><strong>Example:</strong> <code>{{encrypted aadhaar number}}</code>, <code>{{encrypted mobile number}}</code>,<code>{{encrypted email address}}</code></li> </ul> </li>  <li> <p><strong>otpSystem</strong> (required):</p> <ul> <li><strong>Description:</strong> Specifies the system used for OTP generation.</li> <li><strong>Example:</strong> <code>abdm</code>, <code>aadhaar</code></li> <li><strong> Possilbe Values:</strong> <code>aadhaar, abdm</code></li> </ul> </li> </ol> <ol>"
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      responses:
        "200":
          description: |-
            The 200 response code indicates a successful request. In this context, it refers to the successful generation and delivery of an OTP (One-Time Password) for various services.<br><br> <strong>Types of OTP Responses:</strong> <ol> <li><strong>AADHAAR OTP Response:</strong> This OTP is generated for authentication or verification purposes related to AADHAAR, the unique identification number issued by the Indian government.</li> </ol>
             <ol start ="2">
            <li><strong>ABHA OTP Response:</strong> This OTP is generated for authentication or verification purposes related to ABHA (Ayushman Bharat Health Account), which is part of India’s health ID system</li> </ol>
             <ol start="3">
            <li><strong>Mobile OTP Response.</strong> This OTP is generated for general mobile number verification purposes, such as logging into an account, completing a transaction, or verifying identity</li> </ol> <ol start ="4"> <li><strong>Email OTP Response:</strong> This OTP is generated for verification purposes of Email, the OTP is send to the registered email address </li> </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: c6a49f66-c740-4a7d-a93d-8c0431bbb8f3
                  message:
                    type: string
                    example: OTP is sent to Aadhaar registered mobile number ending with*******0903,OTP sent to Aadhaar registered mobile number ending with ******0903,OTP sent to email address ending with *************<EMAIL>
              examples:
                ABHA Creation via Aadhaar OTP-REQUEST OTP FOR AADHAAR AUTHENTICATION:
                  value:
                    txnId: c6a49f66-c740-4a7d-a93d-8c0431bbb8f3
                    message: OTP is sent to Aadhaar registered mobile number ending with*******0903
                Mobile Update - Send OTP- positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-107h6b18a5fa
                    message: OTP sent to mobile number ending with ******0903
                ABHA enrolment via Aadhaar-positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                    message: OTP sent to Aadhaar registered mobile number ending with ******0903
                Email Verify via OTP-positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                    message: OTP sent to email address ending with *************<EMAIL>
        "400":
          description: 'The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the OTP (One-Time Password) generation or validation process.<br><br> <strong>Types of OTP Response Errors:</strong> <ol> <li><strong>ABHA enrolment via Aadhar - Invalid Scope</strong>: This error occurs when the scope provided in the OTP request is invalid. The scope specifies the purpose of the OTP request, such as abha-enrol, mobile-verify, etc.</li> </ol> <ol start="2"> <li><strong>ABHA enrolment via Aadhar  -Send OTP- Invalid LoginId</strong>: This error occurs when the login ID provided for the Aadhaar OTP is invalid. The login ID should be the encrypted Aadhaar number.</li> </ol> <ol start="3"> <li><strong>Mobile Update -Send OTP- Invalid Scope</strong>:  This error occurs when the scope provided in the OTP request for mobile update is invalid.</li> </ol> <ol start="4"> <li><strong>Mobile Update -Send OTP- Invalid LoginId</strong>: This error occurs when the login ID provided for the mobile OTP is invalid. The login ID should be the encrypted mobile number.</li> </ol> <ol start="5"> <li><strong>Mobile Update -Send OTP- Invalid LoginHint</strong>: This error occurs when the login hint provided for the mobile OTP is invalid. The login hint should indicate the type of identifier being used, such as mobile.</li> </ol>  <ol start="6"> <li><strong>ABHA Creation via Aadhar- Invalid Scope</strong>: This error occurs when the scope provided in the OTP request for ABHA creation via Aadhaar is invalid.</li> </ol> <ol start="7"> <li><strong>ABHA Creation via Aadhar- Invalid Login Hint</strong>: This error occurs when the login hint provided for the Aadhaar OTP is invalid. The login hint should indicate the type of identifier being used, such as aadhaar.</li> </ol> <ol start="8"> <li><strong>ABHA enrolment via Aadhar  - Invalid Scope</strong>: The scope of the OTP response is invalid.</li> </ol><ol start="9"> <li><strong>ABHA Verify via Email- Invalid Scope</strong>: This error occurs when the scope provided in the OTP request for ABHA creation via email is invalid.</li> </ol> <ol start="10"> <li><strong>ABHA Verify via Email- Invalid Login Hint</strong>: This error occurs when the login hint provided for the email OTP is invalid. The login hint should indicate the type of identifier being used, such as aadhaar.</li> </ol> <ol start="11"> <li><strong>ABHA Verify via Email  - Invalid LoginHint</strong>: This error occurs when the email ID provided for the email OTP is invalid. The login ID should be the encrypted email address..</li> </ol> '
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:13:04.000Z"
                  - type: object
                    properties:
                      loginId:
                        type: string
                        example: Invalid LoginId
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:15:14.000Z"
                  - type: object
                    properties:
                      loginHint:
                        type: string
                        example: Invalid Login Hint
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:16:16.000Z"
              examples:
                ABHA enrolment via Aadhaar-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:13:04.000Z"
                ABHA enrolment via Aadhaar-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: "2024-05-10T11:15:14.000Z"
                ABHA enrolment via Aadhaar-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: "2024-05-10T11:16:16.000Z"
                Mobile Update - Send OTP-Invalid Scope:
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:13:04.000Z"
                Mobile Update - Send OTP-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: "2024-05-10T11:15:14.000Z"
                Mobile Update - Send OTP-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: "2024-05-10T11:16:16.000Z"
                ABHA Creation via Aadhaar OTP-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:13:04.000Z"
                ABHA Creation via Aadhaar OTP-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: "2024-05-10T11:16:16.000Z"
                ABHA Verify via Email-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: "2024-05-10T11:16:16.000Z"
                ABHA Verify via Email-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:13:04.000Z"
                ABHA Verify via Email-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: "2024-05-10T11:15:14.000Z"
        "401":
          description: 'The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials <br><br> <strong>Types of OTP Response Errors:</strong> <ol> <li><strong>ABHA Enrolment via Aadhaar - Invalid Access Token</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="2"> <li><strong>Mobile Update - Send OTP - Invalid Access Token</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="3"> <li><strong>ABHA Creation via Aadhaar OTP - Invalid Access Token</strong>:  This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="4"> <li><strong>EMail verification via  OTP - Invalid Access Token</strong>:  This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> '
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                ABHA enrolment via Aadhaar-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                Mobile Update - Send OTP-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                ABHA Creation via Aadhaar OTP-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                Email verify via  OTP-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
      description: "This API endpoint is used to generate and send an OTP (One-Time Password) to the user’s registered mobile number. The OTP is essential for verifying the user’s identity and ensuring secure access to the ABHA (Ayushman Bharat Health Account) enrollment process. Depending on the type of identifier provided (Aadhaar Number, ABHA Number, or Mobile Number), the OTP will be generated and sent to the corresponding registered mobile number.\r

        <br> <br> </ol>**Usage of this API for below scenarios: OTP Request**<br><br> **1. AADHAR OTP:**When the user wants to enroll using their Aadhar Number, an OTP is sent to the mobile number registered with their Aadhar linked mobile number. For this pass loginHint as \"Aadhar-number\".   <br>  **2. Mobile OTP:** When the user wants to enroll using their Mobile Number, an OTP is sent to the provided mobile number. For this pass loginHint as \"mobile-number\".<br><b>Note:</b><br> **1.**OTP will be valid for 10 minute only <br><br>"
      operationId: m1_post_v3_enrollment_request_otp
  /abha/api/v3/enrollment/enrol/auth/init:
    post:
      tags:
        - ABHA CREATION USING FACE AUTH
      summary: "UseCase : It will generate the Transaction ID. This Transaction ID will be used for whole face authentication process."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                  example:
                    - abha-enrol
                    - face-auth
              required:
                - scope
                - authData
            examples:
              Init Transaction:
                value:
                  scope:
                    - abha-enrol
                    - face-auth
        description: <b>Below is the Request Body description:<br></b><br> <!--<br> <div> <table> <thead> <tr> <th>Attributes</th> <th>Description</th> </tr> </thead> <tbody> <tr> <td>loginHint <sup> * required</td> <td>Aadhaar,Abha And Mobile Number</td> </tr> <tr> <td>loginId <sup>* required </sup></td> <td>encrypted mobile-number</td> </tr> <tr> <td>otpSystem <sup>* required</td> <td>abdm/aadhaar</td> </tr> <tr> <td>scope <sup>* required</td> <td>Aadhaar/Abha/mobile</td> </tr> </tbody> </table> </div> <hr> --> <b>Note:</b> Mandatory fields can't be null. <p><strong>scope</strong> (required):</p> <ul> <li><strong>Description:</strong> It will generate the Transaction id. This Transaction Id will be used for whole face authentication process.</li> <li><strong>Type:</strong> Array of strings</li> <li><strong>Example:</strong> <code>["abha-enrol", "face-auth"]</code></li> <li><strong>Possible Values:</strong> <code>abha-enrol</code>, <code>face-auth</code></li> </ul> </li> </ol>
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      responses:
        "200":
          description: The 200 response code indicates a successful request. In this context, it refers to the successful generation of Transaction Id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 9c5d453e-756f-45e1-9766-43b9cc1190de
                  message:
                    type: string
                    example: Transaction Id generated Successfully
              examples:
                Init Transaction:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    message: Transaction Id generated Successfully
        "400":
          description: The 400 response code indicates a bad request.
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:41:47.000Z"
        "401":
          description: The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: <b>Internal Server Error</b><br><br>  An Internal Server Error (500) indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
      description: "This API will help to generate transaction id. This transaction Id will be used for whole face authentication process. <br><br> The user can submit this transaction ID to the <strong>ABHA</strong> app using either intent-based sharing or by generating a QR code. <br><br>User can use this transaction ID to generate QR code using any QR generator tool. Open ABHA app and scan this QR code on ABHA App to start and complete the face capture process.<br><br>The data format of the QR code should follow this pattern: <br>https://<phr-env-base-url>/face-auth?txnId=<txn-id-from-the-response-of-init-api>. <br><br><strong>For example:</strong> https://phrsbx.abdm.gov.in/face-auth?txnId=bac7251b-cd25-44d5-9707-f3d2ba181c1c <br><br> For Sandbox- phr-env-base-url - https://phrsbx.abdm.gov.in<br> For Production - phr-env-base-url - https://phr.abdm.gov.in"
      operationId: m1_post_v3_enrollment_enrol_auth_init
  /abha/api/v3/enrollment/enrol/capturePID:
    post:
      tags:
        - ABHA CREATION USING FACE AUTH
      summary: "UseCase : This API is used to check the status of the transaction ID."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                  example:
                    - abha-enrol
                    - face-verify
                txnId:
                  type: string
                  example: ea1dc7aa-d7c3-40ab-bee8-84c6f1eb90fa
              required:
                - scope
                - txnId
            examples:
              Capture PID:
                value:
                  scope:
                    - abha-enrol
                    - face-verify
                  txnId: ea1dc7aa-d7c3-40ab-bee8-84c6f1eb90fa
        description: <b>Below is the Request Body description:<br></b><br> <!--<br> <div> <table> <thead> <tr> <th>Attributes</th> <th>Description</th> </tr> </thead> <tbody> <tr> <td>loginHint <sup> * required</td> <td>Aadhaar,Abha And Mobile Number</td> </tr> <tr> <td>loginId <sup>* required </sup></td> <td>encrypted mobile-number</td> </tr> <tr> <td>otpSystem <sup>* required</td> <td>abdm/aadhaar</td> </tr> <tr> <td>scope <sup>* required</td> <td>Aadhaar/Abha/mobile</td> </tr> </tbody> </table> </div> <hr> --> <b>Note:</b> Mandatory fields can't be null. <p><strong>scope</strong> (required):</p> <ul> <li><strong>Description:</strong> Once you initiate the transaction id, the status of the transaction id can be checked by using this capturePID api.</li> <li><strong>Type:</strong> Array of strings</li> <li><strong>Example:</strong> <code>["abha-enrol", "face-verify"]</code></li> <li><strong>Possible Values:</strong> <code>abha-enrol</code>, <code>face-verify</code></li> </ul> </li> </ol>  <p><strong>txnId</strong> (required):</p> <ul> <li><strong>Description:</strong> Transaction Id generated by you by calling <strong>auth/init </strong> will be used here</li> <li><strong>Type:</strong> Array of strings</li> <li><strong>Example:</strong> <code>ea1dc7aa-d7c3-40ab-bee8-84c6f1eb90fc</code></li></ol>
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      responses:
        "200":
          description: The 200 response code indicates a successful request. The reponse of the API will return status of that transactionId. It can be either <strong>PENDING,VERIFIED,FAILED,COMPLETE. </strong>
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: PENDING
                  message:
                    type: string
                    example: Awaiting PID capture
              examples:
                Status Pending:
                  value:
                    status: PENDING
                    message: Awaiting PID capture
                Status Verified:
                  value:
                    status: VERIFIED
                    message: Awaiting PID capture
                Status Failed:
                  value:
                    status: FAILED
                    message: PID capture failed. Please regenarate the QR Code.
                Status COMPLETE:
                  value:
                    status: COMPLETE
                    message: PID captured successfully
                    txnId: ea1dc7aa-d7c3-40ab-bee8-84c6f1eb90fc
        "400":
          description: The 400 response code indicates a bad request.
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            example: ABDM-1017
                          message:
                            type: string
                            example: Invalid transaction, either the transaction is expired or not found
              examples:
                Invalid transaction Id:
                  value:
                    error:
                      code: ABDM-1017
                      message: Invalid transaction, either the transaction is expired or not found
        "401":
          description: The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: <b>Internal Server Error</b><br><br>  An Internal Server Error (500) indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
      description: This API is designed to verify the status of a transaction ID that was generated during the invocation of the <code>auth/init</code> API. It serves as a follow-up mechanism to ensure that the transaction is still valid, active, and has not expired or been invalidated. <br> <br> Wait for PID capture and submission confirmation from the ABHA App.The reponse of the API will return status of that transactionId. It can be either <strong>PENDING,VERIFIED,FAILED,COMPLETE.</strong> <br> <br> Once the status in the response of this API is returned as <strong> COMPLETE </strong> , it indicates that the face authentication process has been successfully completed. At this stage, the next step is to invoke the <code>/enrollment/enrol/byAadhaar</code> (You can find this API in ABHA ENROLLMENT Via AADHAAR section) API to proceed further. <br><br>User can poll the <code>/capturePID</code> API in every 5 - 10 seconds interval to check the status of face capture process or alternatively skip this step and call the <code>/enrollment/enrol/byAadhaar</code> API once they see the PID submission success message in the ABHA app.
      operationId: m1_post_v3_enrollment_enrol_capturepid
  /abha/api/v3/enrollment/enrol/byAadhaar:
    post:
      tags:
        - ABHA ENROLLMENT Via AADHAAR
        - CHILD ABHA (These APIs are intended for use only by specific Government integrators, approved by NHA)
        - ABHA CREATION USING FACE AUTH
      summary: "UseCase : Create ABHA number Via Aadhaar by verifying Aadhaar OTP, using Biometrics, using demoAuth and Child ABHA Creation."
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                      example:
                        - otp
                        - demo_auth
                        - bio
                        - face
                        - iris
                        - child
                  required:
                    - authMethods
                  anyOf:
                    - type: object
                      properties:
                        otp:
                          type: object
                          properties:
                            txnId:
                              type: string
                              example: "{{txnId}}"
                            otpValue:
                              type: string
                              example: "{{encrypted otp}}"
                            mobile:
                              type: string
                              example: "{{mobile number}}"
                          required:
                            - txnId
                            - otpValue
                            - mobile
                      required:
                        - otp
                    - type: object
                      properties:
                        demo_auth:
                          type: object
                          properties:
                            aadhaarNumber:
                              type: string
                              example: "{{encrypted aadhaar number}}"
                            districtCode:
                              type: string
                              example: "{{District code}}"
                            stateCode:
                              type: string
                              example: "{{State code}}"
                            dateOfBirth:
                              type: string
                              example: "{{DOB}}"
                            gender:
                              type: string
                              example: "{{Gender}}"
                            name:
                              type: string
                              example: "{{Full name}}"
                            mobile:
                              type: string
                              example: "{{Mobile number}}"
                            pinCode:
                              type: string
                              example: "{{Pincode}}"
                            address:
                              type: string
                              example: "{{Address}}"
                            profilePhoto:
                              type: string
                              example: "{{Base64 plain String}}"
                          required:
                            - aadhaarNumber
                            - name
                            - gender
                            - dateOfBirth
                            - districtCode
                            - stateCode
                      required:
                        - demo_auth
                    - type: object
                      properties:
                        bio:
                          type: object
                          properties:
                            aadhaar:
                              type: string
                              example: "{{encrypted aadhaar number}}"
                            fingerPrintAuthPid:
                              type: string
                              example: "{{fingerPrintAuthPid}}"
                            mobile:
                              type: string
                              example: "{{mobile number}}"
                          required:
                            - aadhaar
                            - fingerPrintAuthPid
                            - mobile
                      required:
                        - bio
                    - type: object
                      properties:
                        face:
                          type: object
                          properties:
                            aadhaar:
                              type: string
                              example: "{{encrypted aadhaar number}}"
                            rdPidData:
                              type: string
                              example: "{{faceAuthPid}}"
                            mobile:
                              type: string
                              example: "{{mobile number}}"
                          required:
                            - aadhaar
                            - fingerPrintAuthPid
                            - mobile
                      required:
                        - face
                    - type: object
                      properties:
                        iris:
                          type: object
                          properties:
                            aadhaar:
                              type: string
                              example: "{{encrypted aadhaar number}}"
                            Pid:
                              type: string
                              example: "{{PID}}"
                            mobile:
                              type: string
                              example: "{{mobile number}}"
                          required:
                            - aadhaar
                            - fingerPrintAuthPid
                            - mobile
                      required:
                        - iris
                    - type: object
                      properties:
                        child:
                          type: object
                          properties:
                            dayOfBirth:
                              type: string
                              example: "{{day Of Birth}}"
                            monthOfBirth:
                              type: string
                              example: "{{month Of Birth}}"
                            yearOfBirth:
                              type: string
                              example: "{{year Of Birth}}"
                            gender:
                              type: string
                              example: "{{Gender}}"
                            password:
                              type: string
                              example: ""
                            name:
                              type: string
                              example: "{{Name}}"
                            profilePhoto:
                              type: string
                              example: ""
                            parentConsent:
                              type: string
                              example: "true"
                          required:
                            - dayOfBirth
                            - monthOfBirth
                            - yearOfBirth
                            - gender
                            - name
                            - parentConsent
                      required:
                        - child
                consent:
                  type: object
                  properties:
                    code:
                      type: string
                      example: abha-enrollment
                    version:
                      type: string
                      example: "1.4"
              required:
                - authData
                - consent
            examples:
              Create ABHA by verifying OTP:
                value:
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: "{{txnId}}"
                      otpValue: "{{encrypted otp}}"
                      mobile: "{{mobile number}}"
                  consent:
                    code: abha-enrollment
                    version: "1.4"
              DemoAuth API:
                value:
                  authData:
                    authMethods:
                      - demo_auth
                    demo_auth:
                      aadhaarNumber: "{{encrypted aadhaar number}}"
                      districtCode: "{{District code}}"
                      stateCode: "{{State code}}"
                      dateOfBirth: "{{DOB}}"
                      gender: "{{Gender}}"
                      name: "{{Full name}}"
                      mobile: "{{Mobile number}}"
                      profilePhoto: "{{Base64 plain String}}"
                      pinCode: <PINCODE>
                      address: <ADDRESS>
                  consent:
                    code: abha-enrollment
                    version: "1.4"
              Create ABHA via Biometrics- Aadhaar Bio (Fingerprint):
                value:
                  authData:
                    authMethods:
                      - bio
                    bio:
                      aadhaar: "{{encrypted aadhaar number}}"
                      fingerPrintAuthPid: "{{fingerPrintAuthPid}}"
                      mobile: "{{mobile number}}"
                  consent:
                    code: abha-enrollment
                    version: "1.4"
              Create ABHA via Biometrics- Aadhaar Faceauth:
                value:
                  authData:
                    authMethods:
                      - face_auth
                    face:
                      txnId: 881f2bf5-7377-4067-b50e-1e6ff100b3cc
                      aadhaar: "{{encrypted aadhaar number}}"
                      mobile: "{{mobile number}}"
                  consent:
                    code: abha-enrollment
                    version: "1.4"
              Create ABHA via Biometrics- Aadhaar IRIS:
                value:
                  authData:
                    authMethods:
                      - iris
                    iris:
                      aadhaar: "{{encrypted aadhaar number}}"
                      pid: "{{PID}}"
                      mobile: "{{mobile number}}"
                  consent:
                    code: abha-enrollment
                    version: "1.4"
              CHILD ABHA-Create CHILD ABHA:
                value:
                  authData:
                    authMethods:
                      - child
                    child:
                      dayOfBirth: "{{day Of Birth}}"
                      monthOfBirth: "{{month Of Birth}}"
                      yearOfBirth: "{{year Of Birth}}"
                      gender: "{{Gender}}"
                      password: ""
                      name: "{{Name}}"
                      profilePhoto: ""
                      parentConsent: "true"
                  consent:
                    code: abha-enrollment
                    version: "1.4"
        description: <b>Below is the Request Body description:</b><br><br>  <ol> <li> <p><strong>CHILD ABHA - Create CHILD ABHA</strong></p> <ul> <li><strong>Description:</strong> This API endpoint is used to create a CHILD ABHA number for a minor using their demographic details. The CHILD ABHA number helps in uniquely identifying minors and linking their health records across multiple systems:</li> <li><strong>dayOfBirth:</strong> The day of the user’s birth. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>&lt;DOB&gt;</code></li> </ul> </li> <li><strong>monthOfBirth:</strong> The month of the user’s birth. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>&lt;DOB&gt;</code></li> </ul> </li> <li><strong>yearOfBirth:</strong> The year of the user’s birth. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>&lt;DOB&gt;</code></li> </ul> </li> <li><strong>name:</strong> The user’s name. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>John</code></li> </ul> </li> <li><strong>gender:</strong> The user’s gender. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>M</code></li> </ul> </li> <li><strong>name:</strong> The user’s last name. <ul><li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>Doe John</code></li> </ul> </li>  <li><strong>stateCode:</strong> The code of the user’s state. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>27</code></li> </ul> </li> <li><strong>parentConsent:</strong> Consent of the parent should be true <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>true</code></li> </ul> </li> </ul> </li> </ul> </li> </ul> </li> <li> <p><strong>Demo Auth API</strong></p> <ul> <li><strong>Description:</strong> This API endpoint is used for the demo authentication of an individual using their Aadhaar number. It verifies the demographic details against the Aadhaar database and generates an ABHA number if the details match.</li> <li><strong>dateOfBirth:</strong> The day of the user’s birth. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>&lt;DOB&gt;</code></li> </ul> </li> <li><strong>districtCode:</strong> The code of the user’s district. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>486</code></li> </ul> </li> <li><strong>stateCode:</strong> The code of the user’s state. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>1</code></li> </ul> </li> <li><strong>name:</strong> The user’s name. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>John Doe</code></li> </ul> </li> <li><strong>gender:</strong> The user’s gender. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>M</code></li> </ul> </li> <li><strong>mobile:</strong> The user’s mobile number. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>******1234</code></li> </ul> </li> </ul> </li> <li> <p><strong>Create ABHA by Verifying OTP</strong></p> <ul> <li><strong>Description:</strong> This API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number by verifying an OTP sent to the user’s registered mobile number.</li> </ul> </li> <li> <p><strong>Create ABHA Via Biometrics</strong></p> <ul> <li><strong>Description:</strong> This API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number by using users biometrics. In this flow user will be using Aadhaar authentication and biometrics verification(FingerPrint, Face and Iris). </li> </ul> </li> </ol>
      security:
        - bearerAuth: []
      parameters:
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: BENEFIT_NAME
          in: header
          schema:
            type: string
          description: "**Applicable for user who is enrolling via Benefit Program.**"
          example: "{{Benefit Name}}"
        - name: X-token
          in: header
          schema:
            type: string
          description: "**Applicable for child abha creation. X-token of Parent user, user can get X-token after login to the system**"
          example: Bearer {{X-token}}
      responses:
        "200":
          description: The 200 response code indicates a successful request. In this context, it refers to the successful generation and delivery of an OTP (One-Time Password) for various services.<br><br> <strong>Types of OTP Responses:</strong> <ol> <li><strong>Create ABHA by Verifying OTP - Positive Flow:</strong> his API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems.</li> </ol> <ol start ="2"> <li><strong>CHILD ABHA - Positive Flow:</strong> This API endpoint is used to create a CHILD ABHA number for a minor using their demographic details. The CHILD ABHA number helps in uniquely identifying minors and linking their health records across multiple systems.</li> </ol> <ol start="3"> <li><strong>CHILD ABHA - Account Already Exists.</strong> This error occurs when an attempt is made to create a CHILD ABHA number for a minor who already has an existing ABHA number.</li> </ol> <ol start ="4"> <li><strong>DemoAuth API - In Case of Existing ABHA Numbe:</strong> This API endpoint is used for the demo authentication of an individual using their Aadhaar number. It verifies the demographic details against the Aadhaar database and generates an ABHA number if the details match. If an ABHA number already exists, it will return the existing ABHA number</li> </ol> <ol start ="5"> <li><strong>DemoAuth API - New ABHA Creation :</strong> This API endpoint is used for the demo authentication of an individual using their Aadhaar number. It verifies the demographic details against the Aadhaar database and generates a new ABHA number if the details match and no existing ABHA number is found.</li> </ol>
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: This account already exist,Account created successfully
                      tokens:
                        type: object
                        properties:
                          token:
                            type: string
                          expiresIn:
                            type: integer
                            example: 1800
                          refreshToken:
                            type: string
                          refreshExpiresIn:
                            type: integer
                            example: 1296000
                      ABHAProfile:
                        type: object
                        properties:
                          firstName:
                            type: string
                            example: Username
                          middleName:
                            type: string
                            example: ""
                          lastName:
                            type: string
                            example: <NAME>
                          dob:
                            type: string
                            example: <DOB>
                          gender:
                            type: string
                            example: F
                          mobile:
                            type: string
                            example: "******0903"
                          phrAddress:
                            type: array
                            items:
                              type: string
                            example:
                              - <ABHA_ADDRESS>
                          districtCode:
                            type: string
                            example: "490"
                          stateCode:
                            type: string
                            example: "27"
                          abhaType:
                            type: string
                            example: CHILD
                          stateName:
                            type: string
                            example: Maharashtra
                          districtName:
                            type: string
                            example: <ADDRESS>
                          ABHANumber:
                            type: string
                            example: <ABHA_NUMBER>
                          abhaStatus:
                            type: string
                            example: ACTIVE
                      isNew:
                        type: boolean
                        example: false
                  - type: object
                    properties:
                      healthIdNumber:
                        type: string
                        example: <ABHA_NUMBER>
                      healthId:
                        type: string
                        example: <ABHA_ADDRESS>
                      mobile:
                        type: string
                        example: "******0903"
                      firstName:
                        type: string
                        example: Username
                      middleName:
                        type: string
                        example: <NAME>
                      lastName:
                        type: string
                        example: <NAME>
                      name:
                        type: string
                        example: <NAME>
                      yearOfBirth:
                        type: string
                        example: <DOB>
                      dayOfBirth:
                        type: string
                        example: <DOB>
                      monthOfBirth:
                        type: string
                        example: <DOB>
                      gender:
                        type: string
                        example: F
                      stateCode:
                        type: string
                        example: "27"
                      districtCode:
                        type: string
                        example: "490"
                      stateName:
                        type: string
                        example: MAHARASHTRA
                      districtName:
                        type: string
                        example: <ADDRESS>
                      kycVerified:
                        type: boolean
                        example: true
                      token:
                        type: string
                      jwtResponse:
                        type: object
                        properties:
                          token:
                            type: string
                          expiresIn:
                            type: integer
                            example: 1800
                          refreshToken:
                            type: string
                          refreshExpiresIn:
                            type: integer
                            example: 1296000
                      status:
                        type: string
                        example: ACTIVE
                      new:
                        type: string
                        example: true,false
              examples:
                Create ABHA by verifying OTP - Positive flow:
                  value:
                    message: This account already exist
                    txnId: b89ec10d-71fa-4280-83b3-1fedad66b5f5
                    tokens:
                      token: <TOKEN>
                      expiresIn: 1800
                      refreshToken: <TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: Username
                      middleName: <NAME>
                      lastName: <NAME>
                      dob: <DOB>
                      gender: M
                      photo: <BASE64_PHOTO>
                      mobile: "******0903"
                      phrAddress:
                        - <ABHA_ADDRESS>
                      address: <ADDRESS>
                      districtCode: "478"
                      stateCode: "27"
                      pinCode: <PINCODE>
                      abhaType: STANDARD
                      stateName: MAHARASHTRA
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: false
                Create CHILD ABHA - Positive Flow:
                  value:
                    message: Account created successfully
                    tokens:
                      token: <TOKEN>
                      expiresIn: 1800
                      refreshToken: <TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: Username
                      middleName: ""
                      lastName: <NAME>
                      dob: <DOB>
                      gender: F
                      photo: ""
                      mobile: "******0903"
                      districtCode: "490"
                      stateCode: "27"
                      abhaType: CHILD
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: true
                Create ABHA via Biometric (Fingerprint, Face, IRIS) - Positive Flow:
                  value:
                    message: Account created successfully
                    txnId: b764e218-72b7-4bd7-a11e-2c9f2880fd61
                    tokens:
                      token: <TOKEN>
                      expiresIn: 1800
                      refreshToken: <TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: Username
                      middleName: ""
                      lastName: <NAME>
                      dob: <DOB>
                      gender: F
                      photo: ""
                      mobile: "******0903"
                      email: null
                      phrAddress:
                        - <ABHA_ADDRESS>
                      districtCode: "490"
                      stateCode: "27"
                      abhaType: CHILD
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: true
                CHILD ABHA - Account Already Exist:
                  value:
                    message: This account already exist
                    tokens:
                      token: <TOKEN>
                      expiresIn: 1800
                      refreshToken: <TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: Username
                      middleName: ""
                      lastName: <NAME>
                      dob: <DOB>
                      gender: F
                      mobile: "******0903"
                      phrAddress:
                        - <ABHA_ADDRESS>
                      districtCode: "490"
                      stateCode: "27"
                      abhaType: CHILD
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: false
                DemoAuth API - In case of Existing ABHA Number:
                  value:
                    healthIdNumber: <ABHA_NUMBER>
                    healthId: <ABHA_ADDRESS>
                    mobile: "******0903"
                    firstName: Username
                    middleName: <NAME>
                    lastName: <NAME>
                    name: <NAME>
                    yearOfBirth: <DOB>
                    dayOfBirth: <DOB>
                    monthOfBirth: <DOB>
                    gender: F
                    stateCode: "27"
                    districtCode: "494"
                    pincode: <PINCODE>
                    address: <ADDRESS>
                    stateName: MAHARASHTRA
                    districtName: <ADDRESS>
                    kycVerified: true
                    token: <TOKEN>
                    jwtResponse:
                      token: <TOKEN>
                      expiresIn: 1800
                      refreshToken: <TOKEN>
                      refreshExpiresIn: 1296000
                    status: ACTIVE
                    new: false
                DemoAuth API - New ABHA creation:
                  value:
                    healthIdNumber: <ABHA_NUMBER>
                    healthId: <ABHA_ADDRESS>
                    mobile: "******0903"
                    firstName: Username
                    middleName: <NAME>
                    lastName: <NAME>
                    name: <NAME>
                    yearOfBirth: <DOB>
                    dayOfBirth: <DOB>
                    monthOfBirth: <DOB>
                    gender: F
                    stateCode: "27"
                    districtCode: "490"
                    stateName: MAHARASHTRA
                    districtName: <ADDRESS>
                    kycVerified: true
                    token: <TOKEN>
                    jwtResponse:
                      token: <TOKEN>
                      expiresIn: 1800
                      refreshToken: <TOKEN>
                      refreshExpiresIn: 1296000
                    status: ACTIVE
                    new: true
        "400":
          description: The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the OTP (One-Time Password) verification process.<br><br> <ol> <li> <p><strong>Create ABHA by Verifying OTP - Invalid Transaction Id:</strong>This API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems..</p> </li> </ol> <ol start="2"> <li> <p><strong>Create ABHA by Verifying OTP - Invalid authMethod:</strong> This API endpoint is used to create an ABHA number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems.</p> </li> </ol> <ol start="3"> <li> <p><strong>Create ABHA by Verifying OTP - Invalid Mobile Number:</strong> This API endpoint is used to create an ABHA number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems.</p> </li> </ol> <ol start="4"> <li> <p><strong>DemoAuth API - State District Not Matching - :</strong> This API endpoint is used for the demo authentication of an individual using their Aadhaar number. It verifies the demographic details against the Aadhaar database and generates an ABHA number if the details match.</p> </li> </ol>
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: Invalid Transaction Id
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:41:47.000Z"
                  - type: object
                    properties:
                      authMethods:
                        type: string
                        example: Invalid Auth Method
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:40:16.000Z"
                  - type: object
                    properties:
                      mobile:
                        type: string
                        example: Invalid Mobile Number
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:44:46.000Z"
                  - type: object
                    properties:
                      districtCode:
                        type: string
                        example: Invalid state and district code
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T14:37:47.000Z"
              examples:
                Create ABHA by verifying OTP-Invalid Transaction Id:
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T11:41:47.000Z"
                Create ABHA by verifying OTP-Invalid authMethod:
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: "2024-05-10T11:40:16.000Z"
                Create ABHA by verifying OTP-Invalid Mobile Number:
                  value:
                    mobile: Invalid Mobile Number
                    timestamp: "2024-05-10T11:44:46.000Z"
                DemoAuth API-State District not matching:
                  value:
                    districtCode: Invalid state and district code
                    timestamp: "2024-05-10T14:37:47.000Z"
        "401":
          description: 'The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials.<br><br> <strong>Types of OTP Response Errors:</strong> <ol> <li><strong>Aadhaar Bio - Invalid Benefit Name</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="2"> <li><strong>DemoAuth API - Invalid Benefit Name</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity..</li> </ol> <ol start="3"> <li><strong>CHILD ABHA - Invalid Benefit Name</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="4"> <li><strong> CHILD ABHA - Access Issue</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="5"> <li><strong>CHILD ABHA - X-token Expired</strong>: This error occurs when the X-token provided for authorization has expired. The X-token is essential for authenticating the request, and an expired token means the server cannot verify the user’s identity.</li> </ol> '
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: Invalid Benefit Name,X-token expired
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T18:52:59.000Z"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            example: ABDM-1021
                          message:
                            type: string
                            example: Lack of required privileges
              examples:
                Aadhaar Bio-Invalid Benefit Name:
                  value:
                    message: Invalid Benefit Name
                    timestamp: "2024-05-10T14:39:48.000Z"
                DemoAuth API-Invalid Benefit Name:
                  value:
                    message: Invalid Benefit Name
                    timestamp: "2024-05-10T14:25:56.000Z"
                CHILD ABHA-Invalid Benefit Name:
                  value:
                    message: Invalid Benefit Name
                    timestamp: "2024-05-10T18:52:59.000Z"
                CHILD ABHA-Access Issue:
                  value:
                    error:
                      code: ABDM-1021
                      message: Lack of required priviledges
                CHILD ABHA - X-token expired:
                  value:
                    code: ABDM-1094
                    message: X-token expired
                    timestamp: "2024-05-10T18:55:03.000Z"
        "422":
          description: 'The 422 response code Indicates an unprocessable entity due to errors such as invalid OTP value.<br><br> <strong>Types of OTP Response Errors:</strong> <ol> <li><strong>Create ABHA by Verifying OTP - Invalid OTP Value</strong>: This API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems ,This error occurs when the OTP value provided in the request is invalid. The OTP must be correctly formatted and match the one sent to the user’s registered mobile number.</li> </ol> <ol start="2"> <li><strong>Aadhaar Bio - Invalid Certificate</strong>: This error occurs when the certificate provided for Aadhaar biometric authentication is invalid.</li> </ol> <ol start="3"> <li><strong>DemoAuth API - 6 ABHA Linked to Mobile</strong>: This error occurs when the mobile number provided is already linked to 6 ABHA numbers. The mobile number must be unique or linked to fewer than 6 ABHA numbers.</li> </ol> <ol start="4"> <li><strong>  DemoAuth API - Details Not Matches Against Aadhaar</strong>: This error occurs when the information provided does not match the details on record with Aadhaar. The demographic details must be accurate and match the Aadhaar records.</li> </ol> <ol start="5"> <li><strong>CHILD ABHA - CHILD LIMIT</strong>: This error occurs when the limit for creating or updating CHILD ABHA profiles has been exceeded. The request cannot be processed as the limit has been reached.</li> </ol> '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: ABDM-1157
                      message:
                        type: string
                        example: "Child ABHA’s account limit has been exceeded for the requested Abha ID number ‘<ABHA_NUMBER>, UIDAI Error code : 400 : Invalid Aadhaar OTP value. , UIDAI Error code : 501 : Invalid certificate identifier in ci attribute of Skey,  The information you provided does not match the details on record with Aadhaar. Please verify and provide accurate information., The mobile number provided by you is already linked to 6 ABHA Numbers. Please provide a different Mobile Number"
              examples:
                Create ABHA by verifying OTP- Invalid OTP value:
                  value:
                    error:
                      code: ABDM-1204
                      message: "UIDAI Error code : 400 : Invalid Aadhaar OTP value."
                Aadhaar Bio-Invalid certificate:
                  value:
                    error:
                      code: ABDM-1204
                      message: "UIDAI Error code : 501 : Invalid certificate identifier in “ci” attribute of “Skey”."
                DemoAuth API-6 ABHA linked to Mobile:
                  value:
                    error:
                      code: ABDM-1124
                      message: The mobile number provided by you is already linked to 6 ABHA Numbers. Please provide a different Mobile Number.
                DemoAuth API-Details not matches against Aadhaar:
                  value:
                    error:
                      code: ABDM-1207
                      message: The information you provided does not match the details on record with Aadhaar. Please verify and provide accurate information.
                CHILD ABHA-CHILD LIMIT:
                  value:
                    error:
                      code: ABDM-1157
                      message: Child ABHA’s account limit has been exceeded for the requested Abha ID number ‘<ABHA_NUMBER>
        "500":
          description: Internal Server Error
      description: "This API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number for an individual using their Aadhaar number. The ABHA number is a unique identifier that helps in authenticating individuals and linking their health records across multiple systems and stakeholders, ensuring that medical records are issued to the correct individual and accessed by authorized Health Information Users with appropriate consent. "
      operationId: m1_post_v3_enrollment_enrol_byaadhaar
  /abha/api/v3/enrollment/auth/byAbdm:
    post:
      tags:
        - ABHA ENROLLMENT Via AADHAAR
      summary: "UseCase : Verify- Mobile OTP"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                  example:
                    - abha-enrol
                    - mobile-verify
                    - email-verify
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                      example:
                        - otp
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                          example: "{{txnId}}"
                        otpValue:
                          type: string
                          example: "{{encrypted OTP}}"
                      required:
                        - txnId
                        - otpValue
                  required:
                    - authMethods
                    - otp
              required:
                - scope
                - authData
            examples:
              Mobile Update - Verify OTP:
                value:
                  scope:
                    - abha-enrol
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: "{{txnId}}"
                      otpValue: "{{encrypted otp}}"
        description: <b>Below is the Request Body description:<br></b><br> <!--<br> <div> <table> <thead> <tr> <th>Attributes</th> <th>Description</th> </tr> </thead> <tbody> <tr> <td>loginHint <sup> * required</td> <td>Aadhaar,Abha And Mobile Number</td> </tr> <tr> <td>loginId <sup>* required </sup></td> <td>encrypted mobile-number</td> </tr> <tr> <td>otpSystem <sup>* required</td> <td>abdm/aadhaar</td> </tr> <tr> <td>scope <sup>* required</td> <td>Aadhaar/Abha/mobile</td> </tr> </tbody> </table> </div> <hr> --> <b>Note:</b> Mandatory fields can't be null. <ol> <li> <p><strong>authData</strong> (required):</p> <ul> <li><strong>Description:</strong> Contains the authentication methods and OTP details.</li> <li><strong>Properties:</strong> <ul> <li><strong>authMethods:</strong> Specifies the method of authentication. <ul> <li><strong>Type:</strong> Array of strings</li> <li><strong>Example:</strong> <code>["OTP"]</code></li> </ul> </li> <li><strong>otp:</strong> Contains the OTP value and transaction ID. <ul> <li><strong>Properties:</strong> <ul> <li><strong>otpValue:</strong> The encrypted OTP provided by the user. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>{{encrypted OTP}}</code></li> </ul> </li> <li><strong>txnId:</strong> The transaction ID associated with the OTP request. <ul> <li><strong>Type:</strong> String</li> <li><strong>Example:</strong> <code>{{transactionId}}</code></li> </ul> </li> </ul> </li> </ul> </li> </ul> </li> </ul> </li> <li> <p><strong>scope</strong> (required):</p> <ul> <li><strong>Description:</strong> Specifies the scope of the OTP verification.</li> <li><strong>Type:</strong> Array of strings</li> <li><strong>Example:</strong> <code>["abha-enrol", "mobile-verify"]</code></li> <li><strong>Possible Values:</strong> <code>abha-enrol</code>, <code>mobile-verify</code>,<code>email-verify</code> etc.</li> </ul> </li> </ol>
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      responses:
        "200":
          description: "The 200 response code indicates a successful request. In this context, it refers to the successful generation and delivery of an OTP (One-Time Password) for various services.<br><br> <strong>Types of OTP Responses:</strong> <ol> <li><strong> Mobile Update-Verify OTP-Positive flow:</strong> Indicates a successful request. The response includes a message indicating that the OTP has been verified successfully.</li> </ol>

            \ <ol start =\"2\">

            <li><strong>Mobile Update-Verify OTP-OTP Expired:</strong> This error occurs when the OTP provided for verification has expired. The OTP must be used within the valid time frame to ensure secure authentication.</li> </ol>

            \ "
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 9c5d453e-756f-45e1-9766-43b9cc1190de
                  authResult:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: OTP expired, please try again,Mobile number is now successfully linked to your Account,Email address is now successfully linked to your Account
                  accounts:
                    type: array
                    items:
                      type: object
                    example:
                      - ABHANumber: <ABHA_NUMBER>
              examples:
                Mobile Update - Verify OTP-positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    authResult: success
                    message: Mobile number is now successfully linked to your Account
                    accounts:
                      - ABHANumber: <ABHA_NUMBER>
                Mobile Update - Verify OTP-OTP EXPIRED:
                  value:
                    txnId: 9c5d453e-756f-45e1-9766-43b9cc1190de
                    authResult: failed
                    message: OTP expired, please try again
                    accounts: []
                Email Update - Verify OTP-positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    authResult: success
                    message: Email address is now successfully linked to your Account
                    accounts:
                      - ABHANumber: <ABHA_NUMBER>
                Email Update - Verify OTP-OTP EXPIRED:
                  value:
                    txnId: 9c5d453e-756f-45e1-9766-43b9cc1190de
                    authResult: failed
                    message: OTP expired, please try again
                    accounts: []
        "400":
          description: "The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the OTP (One-Time Password) verification process.<br><br>

            \   <ol>

            \   <li>

            \   <p><strong>Invalid OTP Value:</strong> This error occurs when the OTP value provided for verification is invalid. The OTP must be correctly formatted and match the one sent to the user’s registered mobile number</p>

            \   </li>

            \   </ol>

            \   <ol start=\"2\">

            \   <li>

            \   <p><strong>Invalid Transaction Id:</strong>  This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the OTP request and ensuring that the correct OTP is verified.</p>

            \   </li>

            \   </ol>

            \   <ol start=\"3\">

            \   <li>

            \   <p><strong>Invalid Scope:</strong> This error occurs when the scope provided in the OTP verification request for mobile update is invalid. The scope specifies the purpose of the OTP verification, such as abha-enrol, mobile-verify, etc.</p>

            \   </li>

            \   </ol>

            \   <ol start=\"4\">

            \   <li>

            \   <p><strong>Invalid AuthMethod - :</strong>  This error occurs when the authentication method provided in the OTP verification request for mobile update is invalid. The authMethods field must contain valid authentication methods such as otp.</p>

            \   </li>

            \   </ol>

            \  "
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: Invalid Transaction Id
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:41:47.000Z"
                  - type: object
                    properties:
                      authMethods:
                        type: string
                        example: Invalid Auth Method
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:40:16.000Z"
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: 30839193-9788-4c0d-9459-7cd70a
                      description:
                        type: string
                        example: Invalid OTP value
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T14:37:47.000Z"
              examples:
                Mobile Update - Verify OTP:
                  summary: Invalid OTP Value
                  value:
                    txnId: 30839193-9788-4c0d-9459-7cd70a
                    description: Invalid OTP value
                Invalid Transaction Id:
                  summary: Invalid Transaction Id
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T11:41:47.000Z"
                Invalid Scope:
                  summary: Invalid scope
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:41:47.000Z"
                Invalid AuthMethod:
                  summary: Invalid authMethod
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: "2024-05-10T11:21:54.000Z"
        "401":
          description: The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: The 500 response code indicates an Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
              examples:
                Mobile Update - Verify OTP-Invalid access token:
                  value:
                    code: "900900"
                    message: Unclassified Authentication Failure
                    description: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
      description: "This API verifies via Mobile OTP. After verifying OTP successfully mobile will be mobile number will be updated for further communication for perticular ABHA number. \r

        <br> <br>**Example of OTP Request**<br>  **Mobile Update - Verify OTP:** When the user wants to verify the Mobile Number for communication purpose.<br>   <br> <br><b>Note:</b><br> **1.**OTP will be valid for 10 minute only <br><br>"
      operationId: m1_post_v3_enrollment_auth_byabdm
  /abha/api/v3/enrollment/enrol/suggestion:
    get:
      tags:
        - ABHA ENROLLMENT Via AADHAAR
      summary: "UseCase: ABHA address suggestion"
      description: This API endpoint is used to provide suggestions for ABHA addresses based on the user’s personal information. It helps users find suitable ABHA addresses by generating a list of suggestions. This is particularly useful during the ABHA enrollment process to ensure that users can choose an appropriate and unique ABHA address.
      security:
        - bearerAuth: []
      parameters:
        - name: TRANSACTION_ID
          in: header
          required: true
          schema:
            type: string
          example: "{{txnId}}"
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      responses:
        "200":
          description: The 200 response code indicates a successful request. In this context, it refers to the successful operation of the Suggestion API, suggestions for ABHA addresses based on the user’s personal information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 23acf181-339d-4771-b532-5c5df4a28d19
                  abhaAddressList:
                    type: array
                    items:
                      type: string
                    example:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - Username
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
              examples:
                ABHA Address Suggestion API-Positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    abhaAddressList:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - Username
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
        "400":
          description: |-
            The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the operation of the Suggestion API.<br><br> <p><strong>Types of Suggestion API Errors:</strong></p>
              <ol>
              <li><strong>Abha Address - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed..</li>
              </ol>
              <ol start="2">
              <li><strong>Abha Address - Invalid Preferred Flag:</strong> This error occurs when the preferred flag provided in the request is invalid. The preferred flag indicates the user’s preference for the suggested ABHA address.</li>
              </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: Invalid Transaction Id
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-05-10T12:01:22.000Z"
              examples:
                Abha Address-Invalid Transaction Id:
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T12:01:22.000Z"
                Abha Address-Invalid Preferred Flag:
                  value:
                    preferred: Invalid Preferred Flag
                    timestamp: "2024-05-10T12:00:14.000Z"
        "401":
          description: The 401 response code indicates an unauthorized request. In this context, This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed. An invalid transaction ID means the server cannot verify the request, leading to a failure in generating ABHA address suggestions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: ABDM-1017
                      message:
                        type: string
                        example: Invalid Transaction Id
              examples:
                ABHA Address Suggestion API-Invalid Transaction Id:
                  value:
                    error:
                      code: ABDM-1017
                      message: Invalid Transaction Id
        "500":
          description: <b>Internal Server Error</b><br><br>  An Internal Server Error (500) indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
      operationId: m1_get_v3_enrollment_enrol_suggestion
  /abha/api/v3/enrollment/enrol/abha-address:
    post:
      tags:
        - ABHA ENROLLMENT Via AADHAAR
      summary: "UseCase: Create ABHA address"
      description: This API endpoint is used to enroll a new ABHA address. It allows users to create a unique ABHA address that can be used for accessing and managing their health records. The endpoint ensures that the provided ABHA address is unique and valid..
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                  example: "{{txnId}}"
                abhaAddress:
                  type: string
                  example: "{{abhaAddress}}"
                preferred:
                  type: integer
                  example: 1
              required:
                - txnId
                - abhaAddress
                - preferred
            examples:
              ABHA Address:
                value:
                  txnId: "{{txnId}}"
                  abhaAddress: "{{ABHA Address}}"
                  preferred: 1
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      responses:
        "200":
          description: The 200 response code indicates a successful request. In this context, it refers to the successful operation of the Enroll ABHA Address API.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: "{{txnId}}"
                  abhaAddress:
                    type: string
                    example: "{{abhaAddress}}"
                  preferred:
                    type: integer
                    example: 1
              examples:
                ABHA Address-Positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    healthIdNumber: <ABHA_NUMBER>
                    preferredAbhaAddress: <ABHA_ADDRESS>
        "400":
          description: The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the operation of the Suggestion API.<br><br> <p><strong>Types of Suggestion API Errors:</strong></p> <ol> <li><strong>Invalid Preferred Flag:</strong> This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed. An invalid transaction ID means the server cannot verify the request, leading to a failure in enrolling the ABHA address. .</li> </ol> <ol start="2"> <li><strong>Invalid Transaction Id:</strong>This error occurs when the preferred flag provided in the request is invalid. The preferred flag indicates the user’s preference for the suggested ABHA address. An invalid preferred flag means the server cannot process the user’s preference correctly, leading to a failure in enrolling the ABHA address.</li> </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferred:
                    type: string
                    example: Invalid Preferred Flag
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-05-10T12:00:14.000Z"
              examples:
                ABHA Address-Invalid Preferred Flag:
                  summary: Invalid Preferred Flag
                  value:
                    preferred: Invalid Preferred Flag
                    timestamp: "2024-05-10T12:00:14.000Z"
                ABHA Address-Invalid Transaction Id:
                  summary: Invalid Transaction Id
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T12:01:22.000Z"
        "401":
          description: The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                ABHA Address-Invalid access token:
                  value:
                    code: "900901"
[...]
