# PHR application services.
#
# Derived from NHA's Aarogya Setu Postman collection, which is NHA's own
# PHR. The same calls and the same error codes apply to any PHR.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  title: ABDM PHR application services
  summary: PHR application services, from NHA's reference PHR.
  description: |
    Services an Aarogya Setu style application offers on top of ABDM:
    teleconsultation, nearby facility search, ambulance booking, blood bank
    search, scan and pay, PMJAY facility discovery and NHCX coverage lookups.

    **These are not a certification milestone.** They are application features
    that happen to be in NHA's reference PHR collection. They are documented
    here so the collection is not half ingested, and kept out of P1 to P3 so
    nothing implies they are required to certify as a PHR.

    Nothing in this file has been run against the sandbox from this repository. Sample values are scrubbed.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://devforum.abdm.gov.in
  x-abdm-gateway: hiecm
  x-abdm-module: phr-services
  x-abdm-phase: 2
  x-abdm-roles:
  - phr
  x-portal:
    module: phr-services
    label: PHR application services
    position: 9
x-abdm-sources:
- file: catalogue/openapi/.raw/aarogya-setu.postman_collection.json
  role: upstream
  hash: sha256:84afbc33fc248dd13f63e12adcd8958c9be30e3877184555f5e5a0a50d5ec92c
  fetched: '2026-08-25'
  note: NHA's Aarogya Setu collection, 248 requests. Aarogya Setu is NHA's own
    PHR, so it stands in for any PHR implementation.
servers:
- url: https://phrsbx.abdm.gov.in
  description: Sandbox host, not yet
    confirmed.
- url: https://phr.abdm.gov.in
  description: Production.
security:
- gatewaySession: []
tags:
- name: ambulance
  description: From NHA's "Ambulance service" folder in the Aarogya Setu collection.
- name: blood_bank
  description: From NHA's "Blood bank service" folder in the Aarogya Setu collection.
- name: nearby_health_search
  description: From NHA's "Nearby-health-Service-search service" folder in the
    Aarogya Setu collection.
- name: nhcx
  description: From NHA's "NHCX Service" folder in the Aarogya Setu collection.
- name: pmjay_panel_facility_discovery
  description: From NHA's "PMJAY Panel Facility Discovery Service" folder in the
    Aarogya Setu collection.
- name: scan_and_pay
  description: From NHA's "Scan and Pay service" folder in the Aarogya Setu collection.
- name: teleconsulting
  description: The Teleconsulting service operations.
paths:
  /ambulance-booking/init:
    post:
      operationId: phr_services_step_3_init
      tags:
      - ambulance
      summary: STEP 3 - init
      x-abdm-atom: hiecm.endpoint.phr-services-step-3-init
      x-abdm-source-folder: Ambulance service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    domain:
                      type: string
                    country:
                      type: string
                    city:
                      type: string
                    action:
                      type: string
                    timestamp:
                      type: string
                    core_version:
                      type: string
                    consumer_id:
                      type: string
                    consumer_uri:
                      type: string
                    provider_id:
                      type: string
                    provider_uri:
                      type: string
                    transaction_id:
                      type: string
                    message_id:
                      type: string
                  required:
                  - action
                  - city
                  - consumer_id
                  - consumer_uri
                  - core_version
                  - country
                  - domain
                  - message_id
                  - provider_id
                  - provider_uri
                  - timestamp
                  - transaction_id
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        id:
                          type: string
                      required:
                      - id
                  required:
                  - order
              required:
              - context
              - message
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  context:
                    domain: nic2008:86909
                    country: IND
                    city: std:011
                    action: init
                    timestamp: '2026-06-12T10:00:00'
                    core_version: 0.7.1
                    consumer_id: aarogyaSetu.eua
                    consumer_uri: https://aarogyasetu-sandbox.abdm.gov.in/aarogyasetu/api/v3/app/api/ambulance-booking
                    provider_id: nha.hspa
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa/ambulance
                    transaction_id: <TXN_ID>
                    message_id: <TXN_ID>
                  message:
                    order:
                      id: <O_R_D_E_R_I_D>
      responses:
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '900902'
                    message: Missing Credentials
                    description: 'Invalid Credentials. Make sure your API invocation
                      call has a header: ''Authorization : Bearer ACCESS_TOKEN''
                      or ''Authorization : Basic ACCESS_TOKEN'' or ''apikey: API_KEY'''
        '404':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  type:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
                - type
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '404'
                    type: Status report
                    message: Runtime Error
                    description: No matching resource found for given API Request
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: 400 BAD_REQUEST "Required header 'REQUEST-ID' is
                      not present."
  /ambulance-booking/on_init:
    post:
      operationId: phr_services_step_4_on_init
      tags:
      - ambulance
      summary: STEP 4 - on_init
      x-abdm-atom: hiecm.endpoint.phr-services-step-4-on-init
      x-abdm-source-folder: Ambulance service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    domain:
                      type: string
                    country:
                      type: string
                    city:
                      type: string
                    action:
                      type: string
                    timestamp:
                      type: string
                    core_version:
                      type: string
                    consumer_id:
                      type: string
                    consumer_uri:
                      type: string
                    provider_id:
                      type: string
                    provider_uri:
                      type: string
                    transaction_id:
                      type: string
                    message_id:
                      type: string
                  required:
                  - action
                  - city
                  - consumer_id
                  - consumer_uri
                  - core_version
                  - country
                  - domain
                  - message_id
                  - provider_id
                  - provider_uri
                  - timestamp
                  - transaction_id
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        id:
                          type: string
                        state:
                          type: string
                      required:
                      - id
                      - state
                  required:
                  - order
              required:
              - context
              - message
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  context:
                    domain: nic2008:86909
                    country: IND
                    city: std:011
                    action: on_init
                    timestamp: '2026-06-12T10:00:00'
                    core_version: 0.7.1
                    consumer_id: aarogyaSetu.eua
                    consumer_uri: https://aarogyasetu-sandbox.abdm.gov.in/aarogyasetu/api/v3/app/api/ambulance-booking
                    provider_id: nha.hspa
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa/ambulance
                    transaction_id: <TXN_ID>
                    message_id: <TXN_ID>
                  message:
                    order:
                      id: <O_R_D_E_R_I_D>
                      state: INITIALIZED
      responses:
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '900902'
                    message: Missing Credentials
                    description: 'Invalid Credentials. Make sure your API invocation
                      call has a header: ''Authorization : Bearer ACCESS_TOKEN''
                      or ''Authorization : Basic ACCESS_TOKEN'' or ''apikey: API_KEY'''
        '404':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  type:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
                - type
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '404'
                    type: Status report
                    message: Runtime Error
                    description: No matching resource found for given API Request
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Authorization header not found
  /ambulance-booking/on_search:
    post:
      operationId: phr_services_step_2_on_search
      tags:
      - ambulance
      summary: STEP 2 - on_search
      x-abdm-atom: hiecm.endpoint.phr-services-step-2-on-search
      x-abdm-source-folder: Ambulance service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    domain:
                      type: string
                    country:
                      type: string
                    city:
                      type: string
                    action:
                      type: string
                    timestamp:
                      type: string
                    core_version:
                      type: string
                    consumer_id:
                      type: string
                    consumer_uri:
                      type: string
                    transaction_id:
                      type: string
                    message_id:
                      type: string
                  required:
                  - action
                  - city
                  - consumer_id
                  - consumer_uri
                  - core_version
                  - country
                  - domain
                  - message_id
                  - timestamp
                  - transaction_id
                message:
                  type: object
                  properties: {}
                  required: []
              required:
              - context
              - message
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  context:
                    domain: nic2008:86909
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: '2026-06-12T10:00:00'
                    core_version: 0.7.1
                    consumer_id: aarogyaSetu.eua
                    consumer_uri: https://aarogyasetu-sandbox.abdm.gov.in/aarogyasetu/api/v3/app/api/ambulance-booking
                    transaction_id: <TXN_ID>
                    message_id: <TXN_ID>
                  message: {}
      responses:
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '900902'
                    message: Missing Credentials
                    description: 'Invalid Credentials. Make sure your API invocation
                      call has a header: ''Authorization : Bearer ACCESS_TOKEN''
                      or ''Authorization : Basic ACCESS_TOKEN'' or ''apikey: API_KEY'''
        '404':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  type:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
                - type
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '404'
                    type: Status report
                    message: Runtime Error
                    description: No matching resource found for given API Request
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Authorization header not found
  /ambulance-booking/search:
    post:
      operationId: phr_services_step_1_search
      tags:
      - ambulance
      summary: STEP 1 - search
      x-abdm-atom: hiecm.endpoint.phr-services-step-1-search
      x-abdm-source-folder: Ambulance service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    domain:
                      type: string
                    country:
                      type: string
                    city:
                      type: string
                    action:
                      type: string
                    core_version:
                      type: string
                    consumer_id:
                      type: string
                    consumer_uri:
                      type: string
                    message_id:
                      type: string
                    timestamp:
                      type: string
                    transaction_id:
                      type: string
                  required:
                  - action
                  - city
                  - consumer_id
                  - consumer_uri
                  - core_version
                  - country
                  - domain
                  - message_id
                  - timestamp
                  - transaction_id
                message:
                  type: object
                  properties:
                    intent:
                      type: object
                      properties:
                        category:
                          type: object
                          properties:
                            descriptor:
                              type: object
                              properties:
                                code:
                                  type: string
                                name:
                                  type: string
                              required:
                              - code
                              - name
                          required:
                          - descriptor
                        fulfillment:
                          type: object
                          properties:
                            type:
                              type: string
                            start:
                              type: object
                              properties:
                                time:
                                  type: object
                                  properties:
                                    timestamp:
                                      type: string
                                  required:
                                  - timestamp
                              required:
                              - time
                            end:
                              type: object
                              properties:
                                time:
                                  type: object
                                  properties:
                                    timestamp:
                                      type: string
                                  required:
                                  - timestamp
                              required:
                              - time
                          required:
                          - end
                          - start
                          - type
                        locations:
                          type: array
                          items:
                            type: object
                            properties:
                              descriptor:
                                type: object
                                properties:
                                  code:
                                    type: string
                                  name:
                                    type: string
                                required:
                                - code
                                - name
                              gps:
                                type: string
                              address:
                                type: string
                            required:
                            - address
                            - descriptor
                            - gps
                        item:
                          type: object
                          properties:
                            descriptor:
                              type: object
                              properties:
                                code:
                                  type: string
                                name:
                                  type: string
                              required:
                              - code
                              - name
                          required:
                          - descriptor
                      required:
                      - category
                      - fulfillment
                      - item
                      - locations
                  required:
                  - intent
              required:
              - context
              - message
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  context:
                    domain: nic2008:86909
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: aarogyaSetu.eua
                    consumer_uri: https://aarogyasetu-sandbox.abdm.gov.in/aarogyasetu/api/v3/app/api/ambulance-booking
                    message_id: <TXN_ID>
                    timestamp: '2026-06-12T10:00:00'
                    transaction_id: <TXN_ID>
                  message:
                    intent:
                      category:
                        descriptor:
                          code: ALL
                          name: <NAME>
                      fulfillment:
                        type: EMERGENCY
                        start:
                          time:
                            timestamp: '2026-06-12T10:00:00'
                        end:
                          time:
                            timestamp: '2026-06-12T23:59:59'
                      locations:
                      - descriptor:
                          code: SOURCE
                          name: <NAME>
                        gps: 12.423423,77.325647
                        address: <ADDRESS>
                      item:
                        descriptor:
                          code: AMBULANCE
                          name: <NAME>
      responses:
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid Credentials. Make sure you have provided
                      the correct security credentials
        '404':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  type:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
                - type
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '404'
                    type: Status report
                    message: Runtime Error
                    description: No matching resource found for given API Request
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: 400 BAD_REQUEST "Required header 'REQUEST-ID' is
                      not present."
  /api/blood-bank/on_search:
    post:
      operationId: phr_services_2_post_api_blood_bank_on_search
      tags:
      - blood_bank
      summary: 2. POST /api/blood-bank/on_search
      x-abdm-atom: hiecm.endpoint.phr-services-2-post-api-blood-bank-on-search
      x-abdm-source-folder: Blood bank service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    domain:
                      type: string
                    country:
                      type: string
                    city:
                      type: string
                    action:
                      type: string
                    core_version:
                      type: string
                    consumer_id:
                      type: string
                    consumer_uri:
                      type: string
                    provider_id:
                      type: string
                    provider_uri:
                      type: string
                    transaction_id:
                      type: string
                    message_id:
                      type: string
                    timestamp:
                      type: string
                  required:
                  - action
                  - city
                  - consumer_id
                  - consumer_uri
                  - core_version
                  - country
                  - domain
                  - message_id
                  - provider_id
                  - provider_uri
                  - timestamp
                  - transaction_id
                message:
                  type: object
                  properties:
                    catalog:
                      type: object
                      properties:
                        descriptor:
                          type: object
                          properties:
                            name:
                              type: string
                          required:
                          - name
                        providers:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              descriptor:
                                type: object
                                properties:
                                  name:
                                    type: string
                                  short_desc:
                                    type: string
                                required:
                                - name
                                - short_desc
                              location:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  gps:
                                    type: string
                                  address:
                                    type: string
                                  city:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      code:
                                        type: string
                                    required:
                                    - code
                                    - name
                                  state:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                    required:
                                    - name
                                  country:
                                    type: object
                                    properties:
                                      name:
                                        type: string
                                      code:
                                        type: string
                                    required:
                                    - code
                                    - name
                                required:
                                - address
                                - city
                                - country
                                - gps
                                - id
                                - state
                              contact:
                                type: object
                                properties:
                                  phone:
                                    type: string
                                  email:
                                    type: string
                                required:
                                - email
                                - phone
                              categories:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    descriptor:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        code:
                                          type: string
                                      required:
                                      - code
                                      - name
                                  required:
                                  - descriptor
                                  - id
                              items:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    descriptor:
                                      type: object
                                      properties:
                                        name:
                                          type: string
                                        code:
                                          type: string
                                      required:
                                      - code
                                      - name
                                    category_id:
                                      type: string
                                    quantity:
                                      type: object
                                      properties:
                                        count:
                                          type: integer
                                      required:
                                      - count
                                    provider_id:
                                      type: string
                                  required:
                                  - category_id
                                  - descriptor
                                  - id
                                  - provider_id
                                  - quantity
                              fulfillments:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    id:
                                      type: string
                                    type:
                                      type: string
                                    tracking:
                                      type: boolean
                                  required:
                                  - id
                                  - tracking
                                  - type
                            required:
                            - categories
                            - contact
                            - descriptor
                            - fulfillments
                            - id
                            - items
                            - location
                      required:
                      - descriptor
                      - providers
                  required:
                  - catalog
              required:
              - context
              - message
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  context:
                    domain: nic2004:85110
                    country: IND
                    city: std:011
                    action: on_search
                    core_version: 0.9.1
                    consumer_id: aarogya.setu
                    consumer_uri: <BASE_URL>
                    provider_id: bloodbank.provider.in
                    provider_uri: https://bloodbank-provider.example.in/api
                    transaction_id: <TRANSACTION_ID>
                    message_id: <MESSAGE_ID>
                    timestamp: <TIMESTAMP>
                  message:
                    catalog:
                      descriptor:
                        name: <NAME>
                      providers:
                      - id: BB_AIIMS_001
                        descriptor:
                          name: <NAME>
                          short_desc: All India Institute of Medical Sciences
                            Blood Bank
                        location:
                          id: LOC001
                          gps: 28.5672,77.2100
                          address: <ADDRESS>
                          city:
                            name: <NAME>
                            code: std:011
                          state:
                            name: <NAME>
                          country:
                            name: <NAME>
                            code: IND
                        contact:
                          phone: <MOBILE>
                          email: <EMAIL>
                        categories:
                        - id: BLOOD_GROUP
                          descriptor:
                            name: <NAME>
                            code: BG
                        items:
                        - id: ITEM_O_POS_001
                          descriptor:
                            name: <NAME>
                            code: O_POSITIVE
                          category_id: BLOOD_GROUP
                          quantity:
                            count: 15
                          provider_id: BB_AIIMS_001
                        - id: ITEM_A_POS_001
                          descriptor:
                            name: <NAME>
                            code: A_POSITIVE
                          category_id: BLOOD_GROUP
                          quantity:
                            count: 8
                          provider_id: BB_AIIMS_001
                        fulfillments:
                        - id: FF001
                          type: BLOOD_BANK
                          tracking: false
      responses:
        '200':
          description: No response body is documented for this request.
  /api/blood-bank/search:
    post:
      operationId: phr_services_1_post_api_blood_bank_search
      tags:
      - blood_bank
      summary: 1. POST /api/blood-bank/search
      x-abdm-atom: hiecm.endpoint.phr-services-1-post-api-blood-bank-search
      x-abdm-source-folder: Blood bank service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  type: object
                  properties:
                    domain:
                      type: string
                    country:
                      type: string
                    city:
                      type: string
                    action:
                      type: string
                    core_version:
                      type: string
                    consumer_id:
                      type: string
                    consumer_uri:
                      type: string
                    transaction_id:
                      type: string
                    message_id:
                      type: string
                    timestamp:
                      type: string
                    ttl:
                      type: string
                  required:
                  - action
                  - city
                  - consumer_id
                  - consumer_uri
                  - core_version
                  - country
                  - domain
                  - message_id
                  - timestamp
                  - transaction_id
                  - ttl
                message:
                  type: object
                  properties:
                    intent:
                      type: object
                      properties:
                        item:
                          type: object
                          properties:
                            descriptor:
                              type: object
                              properties:
                                name:
                                  type: string
                              required:
                              - name
                            category_id:
                              type: string
                          required:
                          - category_id
                          - descriptor
                        fulfillment:
                          type: object
                          properties:
                            type:
                              type: string
                          required:
                          - type
                        location:
                          type: object
                          properties:
                            gps:
                              type: string
                            radius:
                              type: object
                              properties:
                                type:
                                  type: string
                                value:
                                  type: string
                                unit:
                                  type: string
                              required:
                              - type
                              - unit
                              - value
                            city:
                              type: object
                              properties:
                                name:
                                  type: string
                                code:
                                  type: string
                              required:
                              - code
                              - name
                          required:
                          - city
                          - gps
                          - radius
                      required:
                      - fulfillment
                      - item
                      - location
                  required:
                  - intent
              required:
              - context
              - message
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  context:
                    domain: nic2004:85110
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.9.1
                    consumer_id: aarogya.setu
                    consumer_uri: <BASE_URL>
                    transaction_id: <TRANSACTION_ID>
                    message_id: <MESSAGE_ID>
                    timestamp: <TIMESTAMP>
                    ttl: PT30S
                  message:
                    intent:
                      item:
                        descriptor:
                          name: <NAME>
                        category_id: BLOOD_GROUP
                      fulfillment:
                        type: BLOOD_BANK
                      location:
                        gps: 28.6139,77.2090
                        radius:
                          type: CIRCULAR
                          value: '10'
                          unit: km
                        city:
                          name: <NAME>
                          code: std:011
      responses:
        '200':
          description: No response body is documented for this request.
  /api/health/service/facility/geo-location/search-within-radius:
    post:
      operationId: phr_services_search_facilities_within_radius
      tags:
      - nearby_health_search
      summary: Search Facilities Within Radius
      x-abdm-atom: hiecm.endpoint.phr-services-search-facilities-within-radius
      x-abdm-source-folder: Nearby-health-Service-search service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                abdmSoftware:
                  type: string
                centerLat:
                  type: string
                centerLon:
                  type: string
                facilityOwnership:
                  type: string
                hospitalSpecialityType:
                  type: string
                radiusInKm:
                  type: string
                from:
                  type: string
                size:
                  type: string
                speciality:
                  type: string
              required:
              - abdmSoftware
              - centerLat
              - centerLon
              - facilityOwnership
              - from
              - hospitalSpecialityType
              - radiusInKm
              - size
              - speciality
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  abdmSoftware: '0'
                  centerLat: '11.9601971'
                  centerLon: '79.812865'
                  facilityOwnership: ''
                  hospitalSpecialityType: ''
                  radiusInKm: '50'
                  from: '0'
                  size: '100'
                  speciality: ''
      responses:
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  searchCountTotal:
                    type: integer
                  recordList:
                    type: array
                    items:
                      type: object
                      properties:
                        mobile_no:
                          type:
                          - 'null'
                          - string
                        abdm_software:
                          type:
                          - 'null'
                          - string
                        pincode:
                          type: string
                        facility_type:
                          type: string
                        sub_district:
                          type: string
                        book_app_url:
                          type:
                          - 'null'
                          - string
                        facility_website:
                          type:
                          - 'null'
                          - string
                        geolocation:
                          type: string
                        district:
                          type: string
                        address2:
                          type:
                          - 'null'
                          - string
                        state:
                          type: string
                        address1:
                          type: string
                        facility_subtype_other:
                          type:
                          - 'null'
                          - string
                        facility_name:
                          type: string
                        facility_ownership:
                          type: string
                        facility_email:
                          type:
                          - 'null'
                          - string
                        system_of_medicine:
                          type: string
                        owner_subtype:
                          type:
                          - 'null'
                          - string
                        landline_no:
                          type:
                          - 'null'
                          - string
                        fac_unique_id:
                          type: string
                        alternate_id:
                          type: string
                        distances:
                          type: string
                        speciality:
                          type:
                          - array
                          - 'null'
                          items:
                            type: string
                        systemOfMedicine:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              value:
                                type: string
                            required:
                            - id
                            - value
                      required:
                      - abdm_software
                      - address1
                      - address2
                      - alternate_id
                      - book_app_url
                      - distances
                      - district
                      - fac_unique_id
                      - facility_email
                      - facility_name
                      - facility_ownership
                      - facility_subtype_other
                      - facility_type
                      - facility_website
                      - geolocation
                      - landline_no
                      - mobile_no
                      - owner_subtype
                      - pincode
                      - speciality
                      - state
                      - sub_district
                      - systemOfMedicine
                      - system_of_medicine
                required:
                - recordList
                - searchCountTotal
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    searchCountTotal: 9887
                    recordList:
                    - mobile_no: <MOBILE>
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '40'
                      sub_district: '4192'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.<REDACTED_ID>,73.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test bhavya <REDACTED_ID>
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: D,M,A,UN,P
                      owner_subtype: ''
                      landline_no: ''
                      fac_unique_id: IN2710004269
                      alternate_id: IN2710004269
                      distances: '0'
                      speciality:
                      - cardiology
                      - anorectalcareclinic
                      - orthodontics
                      - kayachikitsa(internalmedicine)
                      - cancer
                      - amrazeain(eye)
                      - amrazeqalb(cardiology)
                      - physicalmedicine&rehabilitation(pmr)/physiotherapy
                      - hydrotherapy
                      - implantology
                      - cardiothoracicandvascularsurgery
                      - ent
                      - neurosurgery
                      - neonatology
                      systemOfMedicine:
                      - id: D
                        value: Dentistry
                      - id: M
                        value: Modern Medicine(Allopathy)
                      - id: A
                        value: Ayurveda
                      - id: UN
                        value: Unani
                      - id: P
                        value: Physiotherapy
                    - mobile_no: <MOBILE>
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '39'
                      sub_district: '4194'
                      book_app_url: null
                      facility_website: ''
                      geolocation: 18.5615627,73.9079515
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Mentell hospital
                      facility_ownership: P
                      facility_email: <EMAIL>
                      system_of_medicine: M
                      owner_subtype: P
                      landline_no: ''
                      fac_unique_id: IN2710001975
                      alternate_id: IN2710001975
                      distances: '4.79'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: <MOBILE>
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '39'
                      sub_district: '4194'
                      book_app_url: null
                      facility_website: ''
                      geolocation: 18.4761214,73.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: test hrp new
                      facility_ownership: P
                      facility_email: <EMAIL>
                      system_of_medicine: M
                      owner_subtype: P
                      landline_no: ''
                      fac_unique_id: IN2710002401
                      alternate_id: IN2710002401
                      distances: '8.46'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '9'
                      sub_district: '4193'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.<REDACTED_ID>,73.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test PMJAY G
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M,A
                      owner_subtype: S
                      landline_no: ''
                      fac_unique_id: IN2710003902
                      alternate_id: IN2710003902
                      distances: '9.49'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                      - id: A
                        value: Ayurveda
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '44'
                      sub_district: '4193'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.<REDACTED_ID>,73.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: 'testing P no profit '
                      facility_ownership: P
                      facility_email: <EMAIL>
                      system_of_medicine: M
                      owner_subtype: NP
                      landline_no: ''
                      fac_unique_id: IN2710003907
                      alternate_id: IN2710003907
                      distances: '9.84'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '108'
                      sub_district: '4193'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.541951809826116,73.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: testing
                      facility_ownership: P
                      facility_email: <EMAIL>
                      system_of_medicine: YN
                      owner_subtype: ''
                      landline_no: ''
                      fac_unique_id: IN2710003941
                      alternate_id: IN2710003941
                      distances: '10.61'
                      speciality:
                      - naturopathicnutritionanddiettherapy
                      systemOfMedicine:
                      - id: YN
                        value: Yoga and Naturopathy
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '10'
                      sub_district: '4193'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.569102484678183,73.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Tst Fac feb 23
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2710004798
                      alternate_id: IN2710004798
                      distances: '11.31'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '40'
                      sub_district: '4194'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.624315,73.821269
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Dr DY Patil Medical College Hospital  Research
                        Centre
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: M,D,P
                      owner_subtype: ''
                      landline_no: ''
                      fac_unique_id: IN2710002425
                      alternate_id: IN2710002425
                      distances: '11.8'
                      speciality:
                      - cardiology
                      - oncology
                      - neurology
                      - orthopaedics
                      - radiology
                      - generalsurgery
                      - obstetricsandgynecology
                      - psychiatry
                      - manualtherapy
                      - electrotherapy(adult/paediatrics)
                      - mechanotherapy
                      - physicalmedicine&rehabilitation(pmr)/physiotherapy
                      - excercisetherapy
                      - hydrotherapy
                      - sportsmedicine
                      - implantology
                      - orthodontics
                      - communitydentistry
                      - oral&maxillofacialsurgery
                      - pedodontics
                      - conservativedentistry
                      - oralmedicineandradiology
                      - periodontology
                      - endodontics
                      - oralpathology
                      - prosthodontics
                      - anaesthesia
                      - dermatologyandvenerology(skin&vd)rti/sti
                      - ent
                      - hepatology
                      - neonatology
                      - neurosurgery
                      - ophthalmology
                      - pediatrics
                      - cardiothoracicandvascularsurgery
                      - dialysis
                      - familymedicine
                      - genetics
                      - immunology
                      - nephrology
                      - nuclearmedicine
                      - polytrauma
                      - rheumatology
                      - aviationmedicine
                      - cathlab
                      - emergencymedicine
                      - gastroenterology
                      - genitourinarysurgery
                      - interventionalcardiology
                      - paediatriccancer
                      - urology
                      - burns
                      - plastic&reconstructivesurgery
                      - criticalcare
                      - endocrinology
                      - generalmedicine
                      - geriatrics
                      - neuroradiology
                      - medicolegal/forensicmedicine
                      - paediatricsurgery
                      - pulmonology(chestdiseasesandrespiratorymedicine)
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                      - id: D
                        value: Dentistry
                      - id: P
                        value: Physiotherapy
                    - mobile_no: <MOBILE>
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '40'
                      sub_district: '4192'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.504648793596203,73.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Manish Test 21 Aug
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: M,D,P,A,UN
                      owner_subtype: P
                      landline_no: ''
                      fac_unique_id: IN2710004268
                      alternate_id: IN2710004268
                      distances: '12.18'
                      speciality:
                      - cardiology
                      - cancer
                      - amrazejigarwamirara(hepato-biliarysystem)
                      - amrazatfal(paediatrics)
                      - shalakya (eye&ent)
                      - anorectalcareclinic
                      - hydrotherapy
                      - endodontics
                      - orthodontics
                      - cardiothoracicandvascularsurgery
                      - ent
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                      - id: D
                        value: Dentistry
                      - id: P
                        value: Physiotherapy
                      - id: A
                        value: Ayurveda
                      - id: UN
                        value: Unani
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '40'
                      sub_district: '4188'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.629823,73.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test1231
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: ''
                      landline_no: ''
                      fac_unique_id: IN2710004348
                      alternate_id: IN2710004348
                      distances: '14.7'
                      speciality:
                      - cardiology
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: <MOBILE>
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '47'
                      sub_district: '4192'
                      book_app_url: null
                      facility_website: https://nha.abdm.gov.in
                      geolocation: 18.620875, 73.751336
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Ashok Hospita
                      facility_ownership: P
                      facility_email: <EMAIL>
                      system_of_medicine: M,SD
                      owner_subtype: P
                      landline_no: ''
                      fac_unique_id: IN2710003074
                      alternate_id: IN2710003074
                      distances: '16.43'
                      speciality:
                      - cardiology
                      - endocrinology
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                      - id: SD
                        value: Siddha
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '54'
                      sub_district: '4190'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.337776,73.846909
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: DupTestFac5
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: A
                      owner_subtype: P
                      landline_no: ''
                      fac_unique_id: IN2710004342
                      alternate_id: IN2710004342
                      distances: '21.75'
                      speciality:
                      - diabetesandmetabolicdisorderscareclinic
                      - manasrog(psychiatry)
                      systemOfMedicine:
                      - id: A
                        value: Ayurveda
                    - mobile_no: <MOBILE>
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '5'
                      sub_district: '4256'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 17.948265,73.<REDACTED_ID>
                      district: '494'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Rual hospital wai
                      facility_ownership: G
                      facility_email: <EMAIL>
                      system_of_medicine: M
                      owner_subtype: S
                      landline_no: ''
                      fac_unique_id: IN2710002399
                      alternate_id: IN2710002399
                      distances: '64.89'
                      speciality:
                      - generalmedicine
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: <MOBILE>
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '51'
                      sub_district: '4165'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 19.152339,72.<REDACTED_ID>
                      district: '497'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: DSASA
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: D,P
                      owner_subtype: NP
                      landline_no: ''
                      fac_unique_id: IN2710004844
                      alternate_id: IN2710004844
                      distances: '115.58'
                      speciality:
                      - electrotherapy(adult/paediatrics)
                      - mechanotherapy
                      - communitydentistry
                      systemOfMedicine:
                      - id: D
                        value: Dentistry
                      - id: P
                        value: Physiotherapy
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '40'
                      sub_district: ''
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.96,72.83
                      district: '482'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: ''
                      facility_name: Jj medical
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: P
                      landline_no: ''
                      fac_unique_id: IN2710001005
                      alternate_id: IN2710001005
                      distances: '119.95'
                      speciality:
                      - criticalcare
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: <MOBILE>
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '40'
                      sub_district: '4164'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 19.457302,72.811093
                      district: '665'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Aakash Care
                      facility_ownership: P
                      facility_email: <EMAIL>
                      system_of_medicine: M,D,P
                      owner_subtype: P
                      landline_no: ''
                      fac_unique_id: IN2710004706
                      alternate_id: IN2710004706
                      distances: '152.06'
                      speciality:
                      - cardiology
                      - oncology
                      - generalsurgery
                      - none
                      - electrotherapy(adult/paediatrics)
                      - excercisetherapy
                      - none
                      - communitydentistry
                      - oral&maxillofacialsurgery
                      - anaesthesia
                      - dermatologyandvenerology(skin&vd)rti/sti
                      - ent
                      - hepatology
                      - neonatology
                      - immunology
                      - genetics
                      - familymedicine
                      - genitourinarysurgery
                      - gastroenterology
                      - emergencymedicine
                      - cathlab
                      - criticalcare
                      - medicolegal/forensicmedicine
                      - neuroradiology
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                      - id: D
                        value: Dentistry
                      - id: P
                        value: Physiotherapy
                    - mobile_no: null
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '46'
                      sub_district: '5463'
                      book_app_url: null
                      facility_website: null
                      geolocation: 16.666381,74.82068
                      district: '546'
                      address2: null
                      state: '29'
                      address1: <ADDRESS>
                      facility_subtype_other: ''
                      facility_name: Shree Medial And General Store
                      facility_ownership: P
                      facility_email: null
                      system_of_medicine: M
                      owner_subtype: null
                      landline_no: null
                      fac_unique_id: IN2910000703
                      alternate_id: IN2910000703
                      distances: '230.32'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: null
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '1'
                      sub_district: '5446'
                      book_app_url: null
                      facility_website: null
                      geolocation: 16.558433,74.690528
                      district: '524'
                      address2: null
                      state: '29'
                      address1: <ADDRESS>
                      facility_subtype_other: ''
                      facility_name: Sub Health Center Manjari B
                      facility_ownership: G
                      facility_email: null
                      system_of_medicine: M
                      owner_subtype: S
                      landline_no: null
                      fac_unique_id: IN2910000539
                      alternate_id: IN2910000539
                      distances: '235.79'
                      speciality:
                      - generalmedicine
                      - familymedicine
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: null
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '40'
                      sub_district: '5500'
                      book_app_url: null
                      facility_website: null
                      geolocation: 16.467019,74.388358
                      district: '528'
                      address2: null
                      state: '29'
                      address1: <ADDRESS>
                      facility_subtype_other: ''
                      facility_name: Sarvadnye medical
                      facility_ownership: P
                      facility_email: null
                      system_of_medicine: M
                      owner_subtype: null
                      landline_no: null
                      fac_unique_id: IN2910000538
                      alternate_id: IN2910000538
                      distances: '235.91'
                      speciality:
                      - generalmedicine
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: null
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '41'
                      sub_district: '5500'
                      book_app_url: null
                      facility_website: null
                      geolocation: 16.542923,74.673206
                      district: '528'
                      address2: null
                      state: '29'
                      address1: <ADDRESS>
                      facility_subtype_other: ''
                      facility_name: Shetti Medical
                      facility_ownership: P
                      facility_email: null
                      system_of_medicine: M
                      owner_subtype: null
                      landline_no: null
                      fac_unique_id: IN2910000563
                      alternate_id: IN2910000563
                      distances: '236.74'
                      speciality:
                      - generalmedicine
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: null
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '40'
                      sub_district: '4871'
                      book_app_url: null
                      facility_website: null
                      geolocation: 16.398011,74.379989
                      district: '744'
                      address2: null
                      state: '28'
                      address1: <ADDRESS>
                      facility_subtype_other: ''
                      facility_name: Pooja Hospital
                      facility_ownership: P
                      facility_email: null
                      system_of_medicine: M
                      owner_subtype: null
                      landline_no: null
                      fac_unique_id: IN2810001311
                      alternate_id: IN2810001311
                      distances: '243.19'
                      speciality:
                      - generalmedicine
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '7'
                      sub_district: '3969'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.660609,75.342071
                      district: '478'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Facility test 435
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: D,M,P
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2710002535
                      alternate_id: IN2710002535
                      distances: '282.22'
                      speciality:
                      - mechanotherapy
                      - oral&maxillofacialsurgery
                      - cardiothoracicandvascularsurgery
                      systemOfMedicine:
                      - id: D
                        value: Dentistry
                      - id: M
                        value: Modern Medicine(Allopathy)
                      - id: P
                        value: Physiotherapy
                    - mobile_no: <MOBILE>
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '47'
                      sub_district: '4121'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 18.974453,76.<REDACTED_ID>
                      district: '489'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: care speacilist
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: ''
                      landline_no: ''
                      fac_unique_id: IN2710004742
                      alternate_id: IN2710004742
                      distances: '306.76'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '43'
                      sub_district: '4100'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 19.<REDACTED_ID>,77.<REDACTED_ID>
                      district: '485'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: TestName
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: M,D,P,UN
                      owner_subtype: NP
                      landline_no: ''
                      fac_unique_id: IN2710002974
                      alternate_id: IN2710002974
                      distances: '365.97'
                      speciality:
                      - endodontics
                      - pedodontics
                      - anaesthesia
                      - electrotherapy(adult/paediatrics)
                      - mechanotherapy
                      - amrazeqalb(cardiology)
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                      - id: D
                        value: Dentistry
                      - id: P
                        value: Physiotherapy
                      - id: UN
                        value: Unani
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '51'
                      sub_district: '4100'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 19.160168998984574,77.<REDACTED_ID>
                      district: '485'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Snehal test facility 4
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: D
                      owner_subtype: ''
                      landline_no: ''
                      fac_unique_id: IN2710003431
                      alternate_id: IN2710003431
                      distances: '366.5'
                      speciality:
                      - communitydentistry
                      - conservativedentistry
                      - endodontics
                      - oralmedicineandradiology
                      - oral&maxillofacialsurgery
                      - periodontology
                      - prosthodontics
                      - orthodontics
                      systemOfMedicine:
                      - id: D
                        value: Dentistry
                    - mobile_no: ''
                      abdm_software: '1'
                      pincode: <PIN_CODE>
                      facility_type: '51'
                      sub_district: '4110'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 19.175975038439844,77.<REDACTED_ID>
                      district: '485'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test Facility 111
                      facility_ownership: P
                      facility_email: ''
                      system_of_medicine: D
                      owner_subtype: ''
                      landline_no: ''
                      fac_unique_id: IN2710003835
                      alternate_id: IN2710003835
                      distances: '367.34'
                      speciality:
                      - communitydentistry
                      systemOfMedicine:
                      - id: D
                        value: Dentistry
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '5'
                      sub_district: '3999'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.105622,77.141500
                      district: '499'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Testing PSU by Excel 2
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2710005157
                      alternate_id: IN2710005157
                      distances: '384.81'
                      speciality:
                      - cardiology
                      - cathlab
                      - pulmonology(chestdiseasesandrespiratorymedicine)
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '5'
                      sub_district: '3999'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.105622,77.141500
                      district: '499'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test Fac 1905 1
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2710005172
                      alternate_id: IN2710005172
                      distances: '384.81'
                      speciality:
                      - cardiology
                      - cathlab
                      - pulmonology(chestdiseasesandrespiratorymedicine)
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '5'
                      sub_district: '3999'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.105622,77.141500
                      district: '499'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test Fac 1905 2
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2710005179
                      alternate_id: IN2710005179
                      distances: '384.81'
                      speciality:
                      - cardiology
                      - cathlab
                      - pulmonology(chestdiseasesandrespiratorymedicine)
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '5'
                      sub_district: '3999'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.105622,77.141500
                      district: '499'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Testing PSU by Excel
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2710005156
                      alternate_id: IN2710005156
                      distances: '384.81'
                      speciality:
                      - cardiology
                      - cathlab
                      - pulmonology(chestdiseasesandrespiratorymedicine)
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '44'
                      sub_district: '4193'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 22.121567658348738,75.<REDACTED_ID>
                      district: '490'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: 'PMJAY P '
                      facility_ownership: P
                      facility_email: <EMAIL>
                      system_of_medicine: M
                      owner_subtype: P
                      landline_no: ''
                      fac_unique_id: IN2710003972
                      alternate_id: IN2710003972
                      distances: '422.74'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '10'
                      sub_district: '433'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 21.890182,71.877357
                      district: '77'
                      address2: <ADDRESS>
                      state: '7'
                      address1: <ADDRESS>
                      facility_subtype_other: ''
                      facility_name: sdhj567
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2410000024
                      alternate_id: IN2410000024
                      distances: '427.71'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '5'
                      sub_district: '3997'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.633200309630098,77.<REDACTED_ID>
                      district: '499'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: testing7
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: S
                      landline_no: ''
                      fac_unique_id: IN2710005020
                      alternate_id: IN2710005020
                      distances: '444.95'
                      speciality:
                      - dialysis
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '5'
                      sub_district: '3997'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.616801,77.501702
                      district: '499'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test Fac BlkNC2
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2710004386
                      alternate_id: IN2710004386
                      distances: '445.06'
                      speciality:
                      - cardiology
                      - cathlab
                      - dermatologyandvenerology(skin&vd)rti/sti
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '11'
                      sub_district: '3997'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.616801,77.501702
                      district: '499'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test 13-11-25
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: C
                      landline_no: ''
                      fac_unique_id: IN2710004665
                      alternate_id: IN2710004665
                      distances: '445.06'
                      speciality: null
                      systemOfMedicine:
                      - id: M
                        value: Modern Medicine(Allopathy)
                    - mobile_no: ''
                      abdm_software: null
                      pincode: <PIN_CODE>
                      facility_type: '5'
                      sub_district: '3997'
                      book_app_url: ''
                      facility_website: ''
                      geolocation: 20.616801,77.501702
                      district: '499'
                      address2: <ADDRESS>
                      state: '27'
                      address1: <ADDRESS>
                      facility_subtype_other: null
                      facility_name: Test plus001
                      facility_ownership: G
                      facility_email: ''
                      system_of_medicine: M
                      owner_subtype: S
                      landline_no: ''
                      fac_unique_id: IN2710004235
                      alternate_id: IN2710004235
                      distances: '445.06'
                      speciality:
                      - cardiology
[...]
