openapi: 3.1.1
info:
  x-portal:
    module: p2
    label: P2 Management
    position: 7
    icon: files
  title: ABDM P2, PHR management
  summary: Manage the PHR profile, link an ABHA number, switch profiles, and handle linking, sharing and consent for the patient.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://sandboxsupport.abdm.gov.in/
  x-abdm-gateway: hiecm
  x-abdm-module: P2
  x-abdm-phase: 1
  x-abdm-roles:
    - phr
x-abdm-sources:
  - file: catalogue/openapi/.raw/nha-2026-09-16/hiecm/hip-initiated-linking.yaml
    role: upstream
    hash: sha256:8c4036b49028e243d0687d5ddcde6fa025d21d63fdaf90826eb8159f8485382b
    fetched: "2026-09-16"
  - file: catalogue/openapi/.raw/nha-2026-09-16/hiecm/user-initiated-linking.yaml
    role: upstream
    hash: sha256:848439c9e1fd123e706b7d42b7cc1db365a7d779ff65d298301dfb5fbf7a3e66
    fetched: "2026-09-16"
  - file: catalogue/openapi/.raw/nha-2026-09-16/hiecm/patient-share.yaml
    role: upstream
    hash: sha256:8de274b417bbb860e87718adc299bf626c093cd91435fdcd095fa8748b28523a
    fetched: "2026-09-16"
  - file: catalogue/openapi/.raw/nha-2026-09-16/hiecm/consent-management-data-flow.yaml
    role: upstream
    hash: sha256:4b0af51af2e2b5bfbf08f5e8745a940f59c550f8a1e4600c970c526f27bc8718
    fetched: "2026-09-16"
  - file: catalogue/openapi/.raw/nha-2026-09-16/phr/PHR and Locker Swagger.yaml
    role: upstream
    hash: sha256:a7e1b7e0b56b75297623057678cf307f21ecdbfbc9ebdb022dc67df78540f6d5
    fetched: "2026-09-16"
servers:
  - url: https://abhasbx.abdm.gov.in
    description: ABHA service, sandbox
  - url: https://dev.abdm.gov.in
    description: ABDM gateway, sandbox
security:
  - bearerAuth: []
tags:
  - name: abdm-hip-initiated-linking-phr
    description: ""
  - name: abdm-user-initiated-linking-phr
    description: ""
  - name: abdm-hiecm-patient-share-phr
    description: ""
  - name: consent-management-data-flow-phr
    description: ""
  - name: P2 -PHR Profile
    description: P2-Management / P2 -PHR Profile / P2 - Update Email (optional)
  - name: P2 - Link ABHA Number
    description: P2-Management / P2 -PHR Profile / P2 - Link ABHA Number / P2 - via ABHA OTP
  - name: P2 - Switch Profile
    description: P2-Management / P2 -PHR Profile / P2 - Switch Profile
paths:
  /api/hiecm/hip/v3/link/patient/links:
    get:
      tags:
        - abdm-hip-initiated-linking-phr
      operationId: p2_get_hip_v3_link_patient_links
      summary: "This is the PHR  APP API, this api will used to fetch all link care-context for a patient. "
      description: This API endpoint is designed to retrieve all linked care contexts for a patient from various Health Information Providers (HIPs). By invoking this API, users can obtain a comprehensive list of care contexts associated with a patient’s ABHA (Ayushman Bharat Health Account) address. This functionality is essential for ensuring that all relevant health records are accessible and consolidated, thereby supporting coordinated and efficient patient care. The API facilitates seamless health information exchange, enhancing the overall quality and continuity of care within the healthcare ecosystem.
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          schema:
            type: string
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
        - name: limit
          in: query
          required: true
          schema:
            type: integer
          description: Limit the number of records returned. Send -1 to get all the links of the patient.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  Patient:
                    type: object
                    required:
                      - id
                      - links
                      - referenceNumber
                      - display
                      - hiTypes
                      - careContexts
                    properties:
                      id:
                        type: string
                        example: <ABHA_ADDRESS>
                      links:
                        type: array
                        items:
                          type: object
                          properties:
                            hip:
                              type: object
                              description: Identifier and name of the health information provider.
                              properties:
                                id:
                                  type: string
                                  example: ABDM_HIP
                                name:
                                  type: string
                                  example: ABC Hospital
                                type:
                                  type: string
                                  example: HIP
                            referenceNumber:
                              type: string
                              description: Reference number used while linking the health records of the patient.
                              example: string
                            display:
                              type: string
                              description: Displayed information about the care context.
                              example: string
                            hiType:
                              type: string
                              enum:
                                - DiagnosticReport
                                - DischargeSummary
                                - HealthDocumentRecord
                                - ImmunizationRecord
                                - OPConsultation
                                - Prescription
                                - WellnessRecord
                                - Invoice
                              nullable: false
                              example: DiagnosticReport
                            careContexts:
                              type: array
                              description: List of care contexts linked at the HIP end for the identified patient.
                              items:
                                type: object
                                properties:
                                  referenceNumber:
                                    type: string
                                    description: Reference number used while linking the health records of the patient.
                                    example: TMH-PUID-001
                                  display:
                                    type: string
                                    description: Displayed information about the care context.
                                    example: display 1
                            dateCreated:
                              type: string
                              format: date-time
                              example: "2024-05-09T10:34:00.387Z"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1065 - Invalid X Auth token. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                        example: ABDM-1065
                      message:
                        type: string
                        example: Invalid X Auth token
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900902 - Unauthorized. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900902"
                  message:
                    type: string
                    example: Unauthorized
                  description:
                    type: string
                    example: "Invalid Credentials. Make sure your API invocation call has a header: 'Authorization : Bearer ACCESS_TOKEN' or 'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "404":
          description: server cannot find the requested resource
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1001 - No data found. May be returned either bare (`ABDM-1001`) or with a trailing ": " separator (`ABDM-1001: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1001
                      message:
                        type: string
                        example: No data found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: 'ABDM-9999 - Unknown exception. May be returned either bare (`ABDM-9999`) or with a trailing ": " separator (`ABDM-9999: `); match on the code itself and tolerate the separator.'
                    example: ABDM-9999
                  message:
                    type: string
                    example: Unknown exception
      x-abdm-nha-operation-id: abdm-hip-initiated-linking-hip 2
  /api/hiecm/user-initiated-linking/v3/patient/care-context/discover:
    post:
      tags:
        - abdm-user-initiated-linking-phr
      operationId: p2_post_user_initiated_linking_v3_patient_care_context_discover
      summary: This API will be invoked by the patient/user from PHR application to discover his/her health records.
      description: This API endpoint is designed to be invoked by the patient or user through the Personal Health Record (PHR) application to discover their health records. By using this API, patients can initiate a search to locate and access their health information across various Health Information Providers (HIPs). This functionality empowers patients to have greater control and visibility over their health data, facilitating a more informed and engaged approach to managing their health. The API supports the seamless retrieval of health records, ensuring that patients can easily discover and review their care contexts.
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-HIU-ID
          in: header
          required: true
          schema:
            type: string
          example: IN2810014366
          description: Identifier of the health information user to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: <TOKEN>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - hip
                - unverifiedIdentifiers
              properties:
                hip:
                  type: object
                  description: Identifier and name of the health information provider.
                  nullable: false
                  required:
                    - id
                  properties:
                    id:
                      type: string
                      nullable: false
                      example: cowin_hip_01
                      description: The service ID of the health information provider
                unverifiedIdentifiers:
                  type: array
                  description: Identifiers with which the HIP will search for the patient in its own records.
                  items:
                    type: object
                    required:
                      - type
                      - value
                    properties:
                      type:
                        type: string
                        enum:
                          - MR
                          - MOBILE
                          - ABHA_NUMBER
                          - ABHA_ADDRESS
                        nullable: false
                        example: MOBILE
                      value:
                        type: string
                        nullable: false
                        example: +9198765*****
                        description: Allows alphanumeric characters and special characters like "^(\\+)?[a-zA-Z0-9_\\-@,. ]{0,255}$"
      responses:
        "202":
          description: Accepted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1103 - Duplicate Discovery request. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                        example: ABDM-1103
                      message:
                        type: string
                        example: Duplicate Discovery request
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900901 - Invalid Credentials. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid Credentials. Make sure you have provided the correct security credentials
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "500":
          description: Internal Server Error -> It is just one example, for every api the path will be changed.
          content:
            application/json:
              schema:
                type: object
                required:
                  - timestamp
                  - path
                  - status
                  - error
                  - requestId
                properties:
                  timestamp:
                    type: number
                    example: 1731557446506
                  path:
                    type: string
                    example: /api/v3/hiecm/user-initiated-linking/patient/care-context/discover
                  status:
                    type: integer
                    example: 500
                  error:
                    type: string
                    description: The error code and message, if any occurred.
                    example: Internal Server Error
                  requestId:
                    type: string
                    example: d20b575b-2659-4a1b-8c2d-9e3f5a6b7c8d
                    description: Unique UUID
      x-abdm-nha-operation-id: abdm-user-initiated-linking-phr 1
  /api/hiecm/user-initiated-linking/v3/link/care-context/init:
    post:
      tags:
        - abdm-user-initiated-linking-phr
      operationId: p2_post_user_initiated_linking_v3_link_care_context_init
      summary: This API will be invoked by the patient/user to link his/her health records.
      description: This API endpoint is designed to be invoked by the patient or user to link their health records. By using this API, patients can initiate the process of associating their health information with their ABHA (Ayushman Bharat Health Account) address. This functionality empowers patients to actively manage and consolidate their health records, ensuring that all relevant care contexts are accurately linked and accessible. The API supports a seamless and efficient health information exchange, enhancing the overall quality and continuity of care within the healthcare ecosystem.
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-HIU-ID
          in: header
          required: true
          schema:
            type: string
          example: IN2810014366
          description: Identifier of the health information user to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: <TOKEN>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - transactionId
                - patient
              properties:
                transactionId:
                  type: string
                  format: uuid
                  nullable: false
                  example: f901b782-bfdf-4224-9f8d-da2cadc20c0d
                  description: UUID from discover request callback to track the entire user link flow
                patient:
                  type: array
                  nullable: false
                  items:
                    type: object
                    required:
                      - referenceNumber
                      - display
                      - careContexts
                      - hiType
                      - count
                    properties:
                      referenceNumber:
                        type: string
                        nullable: false
                        example: <ABHA_ADDRESS>
                        description: A patient identifier with which patient is registered in the facility/hospital.Allows alpha numeric characters and special characters like "^[a-zA-Z0-9_\\-@,. ()/:\\\\]{0,255}$"
                      display:
                        type: string
                        nullable: true
                        example: Test
                        description: Display text for patient reference.Allows alpha numeric characters and special characters like "^[a-zA-Z0-9_\\-@,. \"':|()/]{0,255}$"
                      careContexts:
                        type: array
                        description: List of care contexts linked at the HIP end for the identified patient.
                        items:
                          type: object
                          required:
                            - referenceNumber
                          properties:
                            referenceNumber:
                              type: string
                              nullable: false
                              example: abc123
                              description: An identifier of patient's care context created in HIP. A care context is a group of patient's health data (Not the actual health data).Allows alpha numeric characters and special characters like "^[a-zA-Z0-9_\\-@,. ()/:\\\\]{0,255}$"
                            display:
                              type: string
                              nullable: true
                              example: Sugar Test
                              description: Display text for care context reference.Allows alpha numeric characters and special characters like "^[a-zA-Z0-9_\\-@,. \"':|()/]{0,255}$"
                      hiType:
                        type: string
                        nullable: false
                        enum:
                          - DiagnosticReport
                          - DischargeSummary
                          - HealthDocumentRecord
                          - ImmunizationRecord
                          - OPConsultation
                          - Prescription
                          - WellnessRecord
                          - Invoice
                        example: OPConsultation
                        description: The health information type
                      count:
                        type: integer
                        nullable: false
                        example: 1
                        description: The count should match the number of care contexts in the payload
      responses:
        "202":
          description: Accepted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1104 - Duplicate Init request. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                        example: ABDM-1104
                      message:
                        type: string
                        example: Duplicate Init request
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900901 - Invalid Credentials. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid Credentials. Make sure you have provided the correct security credentials
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "500":
          description: Internal Server Error -> It is just one example, for every api the path will be changed.
          content:
            application/json:
              schema:
                type: object
                required:
                  - timestamp
                  - path
                  - status
                  - error
                  - requestId
                properties:
                  timestamp:
                    type: number
                    example: 1731557446506
                  path:
                    type: string
                    example: /api/v3/hiecm/user-initiated-linking/patient/care-context/discover
                  status:
                    type: integer
                    example: 500
                  error:
                    type: string
                    description: The error code and message, if any occurred.
                    example: Internal Server Error
                  requestId:
                    type: string
                    example: d20b575b-2659-4a1b-8c2d-9e3f5a6b7c8d
                    description: The request id from discover call back .Allows alpha numeric characters and special characters like "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}"
      x-abdm-nha-operation-id: abdm-user-initiated-linking-phr 3
  /api/hiecm/user-initiated-linking/v3/link/care-context/confirm:
    post:
      tags:
        - abdm-user-initiated-linking-phr
      operationId: p2_post_user_initiated_linking_v3_link_care_context_confirm
      summary: This API will be invoked by the patient/user to confirm his/her health records.
      description: This API endpoint is designed to be invoked by the patient or user to confirm their health records. By using this API, patients can validate and confirm the linkage of their health information to their ABHA (Ayushman Bharat Health Account) address. This confirmation process ensures that all relevant care contexts are accurately linked and verified, providing patients with control over their health data. The API supports a seamless and efficient health information exchange, enhancing the overall quality and continuity of care within the healthcare ecosystem.
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-HIU-ID
          in: header
          required: true
          schema:
            type: string
          example: IN2810014366
          description: Identifier of the health information user to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: <TOKEN>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - linkRefNumber
              properties:
                token:
                  type: integer
                  nullable: false
                  example: 123456
                  description: The token number. Must be 6 digit and contain only 0-9. Allows the numerical values like "[\\d]*$"
                linkRefNumber:
                  type: string
                  format: uuid
                  nullable: false
                  example: d353b782-bfdf-4224-9f8d-da2cadc20c0d
                  description: The link reference number from the /on-init call back . Allows alpha numeric characters and special characters like "^[a-zA-Z0-9_\\-@,. \"':|()/]{0,255}$"
      responses:
        "202":
          description: Accepted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1105 - Duplicate Confirm request. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                        example: ABDM-1105
                      message:
                        type: string
                        example: Duplicate Confirm request
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900901 - Invalid Credentials. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid Credentials. Make sure you have provided the correct security credentials
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "500":
          description: Internal Server Error -> It is just one example, for every api the path will be changed.
          content:
            application/json:
              schema:
                type: object
                required:
                  - timestamp
                  - path
                  - status
                  - error
                  - requestId
                properties:
                  timestamp:
                    type: number
                    example: 1731557446506
                  path:
                    type: string
                    example: /api/v3/hiecm/user-initiated-linking/patient/care-context/discover
                  status:
                    type: integer
                    example: 500
                  error:
                    type: string
                    description: The error code and message, if any occurred.
                    example: Internal Server Error
                  requestId:
                    type: string
                    example: d20b575b-2659-4a1b-8c2d-9e3f5a6b7c8d
                    description: The request id from discover call back .Allows alpha numeric characters and special characters like "^[0-9a-fA-F]{8}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{4}\\b-[0-9a-fA-F]{12}"
      x-abdm-nha-operation-id: abdm-user-initiated-linking-phr 5
  /api/hiecm/patient-share/v3/share:
    post:
      tags:
        - abdm-hiecm-patient-share-phr
      operationId: p2_post_patient_share_v3_share
      summary: This API will be invoked from the PHR-HIU application for sharing the patient/user profile with the HMIS/LIMS.
      description: "This is a API will be invoked from the <b>PHR-HIU</b> to share the user/patient profile with HMIS/LIMS. <ol type='1'> <li> <b>Header</b>  <ol type='a'> <br/> <li>Authorization will be provided by the gateway session API after the successful verification of client ID and Secret [ Example: <TOKEN> ]</li> <li>REQUEST-ID unique UUID[ Example: 18235d89-cb13-479d-ad71-7a57d5f669a8 ]</li> <li>TIMESTAMP  actual time of the requested was initiated[ Example: 2022-10-06T10:10:00.587Z ]</li> <li>X-AUTH-TOKEN JWT Authentication token which was issued by ABDM after successful validation of username and password[ Example: <TOKEN> ]</li> <li>X-CM-ID  consent manager ID[ Example: sbx ]</li> <li>X-HIU-ID  HIU ID[ Example: HIU ]</li> </ol> </li> <br/> <li> <b>Request Body</b> <ol type='a'><br/> <li>intent This is a key value pair  which contains the purpose [ Example: {purpose: PROFILE_SHARE } ]</li> <li>metaData This is a key value pair which contains the location longitude and latitude[ Example: {hip_id: ABDM_HIP, context: 123, lat: 20.5937 long: 78.9629} ]</li> <li>profile which contains user details.</li> </ol> </ol>"
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-HIU-ID
          in: header
          required: true
          schema:
            type: string
          example: HIU_ID
          description: Identifier of the health information user to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: Bearer <TOKEN>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - intent
                - metaData
                - profile
              properties:
                intent:
                  type: string
                  nullable: false
                  enum:
                    - PROFILE_SHARE
                    - RECORD_SHARE
                    - PAYMENT_SHARE
                  example: PROFILE_SHARE
                  description: The intention of share API call
                metaData:
                  type: object
                  description: A key-value pair carrying the location longitude and latitude.
                  nullable: false
                  required:
                    - hipId
                    - context
                    - latitude
                    - longitude
                  properties:
                    hipId:
                      type: string
                      nullable: false
                      example: HIP_1
                      description: The service ID of the health information provider. Allows alpha numeric character and special characters like [A-Z a-z 0-9]+[A-Z a-z 0-9 @//_//-]*[A-Z a-z 0-9]
                    context:
                      type: string
                      nullable: false
                      example: "6"
                      description: This is a counter Id. Allows alpha numeric character and special characters like ^(?:[a-zA-Z0-9 ]|[a-zA-Z0-9 ][a-zA-Z0-9.\\-_ ]*[a-zA-Z0-9 ]){1,250}$
                    hprId:
                      type: string
                      nullable: true
                      example: <EMAIL>
                      description: Healthcare Professionals Registry id. Allows alpha numeric character and special characters like [a-zA-Z0-9][a-zA-Z0-9_.]+[a-zA-Z0-9]@(dr.abdm|hpr.abdm)$|^[1-9][0-9]{13}$
                    latitude:
                      type: number
                      format: float
                      nullable: true
                      example: 20.5937
                      description: The latitude of the location.Allows alpha numeric character and special characters like ^[0-9-.]+$
                    longitude:
                      type: number
                      format: float
                      nullable: true
                      example: 78.9629
                      description: The longitude of the location.Allows alpha numeric character and special characters like ^[0-9-.]+$
                profile:
                  type: object
                  nullable: false
                  description: This should populated only for PROFILE_SHARE
                  required:
                    - patient
                  properties:
                    patient:
                      type: object
                      nullable: false
                      required:
                        - abhaAddress
                        - name
                        - gender
                        - yearOfBirth
                        - address
                        - phoneNumber
                      properties:
                        abhaNumber:
                          type: string
                          nullable: true
                          example: <ABHA_NUMBER>
                          description: The abha number of the patient. Should be only 14 digit. Allows alpha numeric character and special characters like ^(\\d+-?){13}\\d$
                        abhaAddress:
                          type: string
                          nullable: false
                          example: <ABHA_ADDRESS>
                          description: The abha address of the patient. Should start with Alphanumeric . and  _  in the middle and must be ending with @abdm or @sbx and Allows alpha numeric character and special characters like ^[a-zA-Z0-9][a-zA-Z0-9_.\-!]+[a-zA-Z0-9]@(abdm|sbx)$
                        name:
                          type: string
                          nullable: false
                          example: <NAME>
                          description: The name of the patient. Allows alpha numeric character and special characters like ^[a-zA-Z0-9.-_,]+(([',. -][a-zA-Z0-9. ])?[a-zA-Z0-9. ]*)*$
                        gender:
                          type: string
                          enum:
                            - M
                            - F
                            - O
                            - D
                            - T
                            - U
                          nullable: false
                          example: M
                          description: The gender of the patient
                        dayOfBirth:
                          type: string
                          format: number
                          nullable: true
                          example: <DOB>
                          description: The day of birth of the patient. Only allows numeric values between 1 abd 31 and ^(?!\\s*$)(0?[1-9]|[12][0-9]|3[01])$
                        monthOfBirth:
                          type: string
                          format: number
                          nullable: true
                          example: <DOB>
                          description: The month of birth of the patient. Only allows numeric values between 1 abd 12 and ^(?!\\s*$)(0?[1-9]|[1][0-2])$
                        yearOfBirth:
                          type: string
                          format: number
                          nullable: false
                          example: "9999"
                          description: The month of birth of the patient. Only allows numeric values and must be 4 digit ranging between 1900 and 2200 and ^(?!\\s*$)(19|20|21|22)\\d{2}$
                        address:
                          type: object
                          required:
                            - line
                          properties:
                            line:
                              type: string
                              nullable: true
                              example: Address line 1
                              description: The address line
                            district:
                              type: string
                              nullable: true
                              example: Coimbatore
                              description: The district and should only contain alphabets
                            state:
                              type: string
                              nullable: false
                              example: Tamil Nadu
                              description: The state and should only contain alphabets like [A-Z a-z]+[A-Z a-z //' ']*$
                            pincode:
                              type: string
                              nullable: false
                              example: <PINCODE>
                              description: Should be 5 digits and only contain numbers
                        phoneNumber:
                          type: string
                          nullable: true
                          example: <MOBILE_NUMBER>
                          description: The mobile number of the patient. Must be 10 digit and contain only 0-9 and it allows only numbers like ^(\+\d{1,3}[- ]?)?\d{10}$
      responses:
        "202":
          description: Accepted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1006 - Bad Request, invalid request Body. May be returned either bare (`ABDM-1006`) or with a trailing ": " separator (`ABDM-1006: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1006
                      message:
                        type: string
                        example: Bad Request, invalid request Body
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900901 - Invalid Credentials. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid Credentials. Make sure you have provided the correct security credentials
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1001 - No data found. May be returned either bare (`ABDM-1001`) or with a trailing ": " separator (`ABDM-1001: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1001
                      message:
                        type: string
                        example: No data found
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1007 - Connection failed due to timeout. May be returned either bare (`ABDM-1007`) or with a trailing ": " separator (`ABDM-1007: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1007
                      message:
                        type: string
                        example: Connection failed due to timeout
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1022 - Too many requests. May be returned either bare (`ABDM-1022`) or with a trailing ": " separator (`ABDM-1022: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1022
                      message:
                        type: string
                        example: Too many requests
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900900 - Unclassified Authentication Failure. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /hiecm/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: 'ABDM-1024 - Dependent service unavailable. May be returned either bare (`ABDM-1024`) or with a trailing ": " separator (`ABDM-1024: `); match on the code itself and tolerate the separator.'
                    nullable: false
                    example: ABDM-1024
                  message:
                    type: string
                    nullable: false
                    example: Dependent service unavailable
      x-abdm-nha-operation-id: abdm-patient-share-hip 1
  /api/hiecm/patient-share/v3/profile/getTokenDetails:
    get:
      tags:
        - abdm-hiecm-patient-share-phr
      operationId: p2_get_patient_share_v3_profile_gettokendetails
      summary: This API will be invoked to get the historical token numbers of the patient
      description: "This is a API will be invoked get the historical token numbers of the patient. <ol type='1'> <li> <b>Header</b>  <ol type='a'> <br/> <li>AUTHORIZATION will be provided by the gateway session API after the successful verification of client ID and Secret [ Example: <TOKEN> ]</li> <li>REQUEST-ID unique UUID[ Example: 18235d89-cb13-479d-ad71-7a57d5f669a8 ]</li> <li>TIMESTAMP  actual time of the requested was initiated[ Example: 2022-10-06T10:10:00.587Z ]</li> </ol> </li> <br/> </ol>"
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: Bearer <TOKEN>
        - name: limit
          in: query
          required: true
          schema:
            type: string
          description: The limit of data to be fetched
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          format: int64
                          nullable: false
                          example: 1
                        patientId:
                          type: string
                          nullable: false
                          format: email
                          example: <ABHA_ADDRESS>
                        tokenNumber:
                          type: string
                          description: Token number at the HMIS/LMIS to be provided to the patient.
                          nullable: false
                          example: "1"
                        hipId:
                          type: string
                          nullable: false
                          example: ABDM_HIP
                        hipName:
                          type: string
                          nullable: false
                          example: Health Information Provider Name
                        hipAddress:
                          type: string
                          nullable: false
                          example: sample address
                        expiresIn:
                          type: integer
                          nullable: false
                          example: 1800
                        clientId:
                          type: string
                          description: A unique identifier assigned to a client application by the authorization server.
                          nullable: false
                          example: ABDM
                        dateCreated:
                          type: string
                          format: date-time
                          nullable: false
                          example: "2024-09-11T07:31:02.357Z"
                        counterCode:
                          type: string
                          nullable: false
                          example: Counter 1
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1006 - Bad Request, invalid request Body. May be returned either bare (`ABDM-1006`) or with a trailing ": " separator (`ABDM-1006: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1006
                      message:
                        type: string
                        example: Bad Request, invalid request Body
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900901 - Invalid Credentials. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid Credentials. Make sure you have provided the correct security credentials
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1001 - No data found. May be returned either bare (`ABDM-1001`) or with a trailing ": " separator (`ABDM-1001: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1001
                      message:
                        type: string
                        example: No data found
        "408":
          description: Request Timeout
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1007 - Connection failed due to timeout. May be returned either bare (`ABDM-1007`) or with a trailing ": " separator (`ABDM-1007: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1007
                      message:
                        type: string
                        example: Connection failed due to timeout
        "429":
          description: Too Many Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1022 - Too many requests. May be returned either bare (`ABDM-1022`) or with a trailing ": " separator (`ABDM-1022: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1022
                      message:
                        type: string
                        example: Too many requests
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900900 - Unclassified Authentication Failure. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /hiecm/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: 'ABDM-1024 - Dependent service unavailable. May be returned either bare (`ABDM-1024`) or with a trailing ": " separator (`ABDM-1024: `); match on the code itself and tolerate the separator.'
                    nullable: false
                    example: ABDM-1024
                  message:
                    type: string
                    nullable: false
                    example: Dependent service unavailable
      x-abdm-nha-operation-id: profile-share 3
  /api/hiecm/consent/v3/request/{request-id}/approve:
    post:
      tags:
        - consent-management-data-flow-phr
      operationId: p2_post_consent_v3_request_request_id_approve
      summary: This is ABDM HIE-CM API called by patients to approve the consent request raised by HIU from PHR/mobile application.
      description: This API endpoint is used by the user to approve a consent request, specifying their preferred data access parameters. By invoking this API, the user grants permission for the Health Information User (HIU) to access their health data under the defined conditions. This approval process is essential for ensuring that patient data is shared securely and in accordance with the user’s preferences, supporting a transparent and compliant health information exchange. The API facilitates the establishment of trust and adherence to privacy regulations, enabling ethical and efficient access to health information.
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: <TOKEN>
        - name: request-id
          in: path
          required: true
          schema:
            type: string
          description: The consent request id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consents
              properties:
                consents:
                  type: array
                  items:
                    type: object
                    required:
                      - hiTypes
                      - hip
                      - careContexts
                      - permission
                    properties:
                      hiTypes:
                        type: array
                        description: Types of health information document.
                        items:
                          type: string
                          enum:
                            - DiagnosticReport
                            - DischargeSummary
                            - HealthDocumentRecord
                            - ImmunizationRecord
                            - OPConsultation
                            - Prescription
                            - WellnessRecord
                            - Invoice
                          nullable: false
                          example: Prescription
                      hip:
                        type: object
                        description: Identifier and name of the health information provider.
                        nullable: false
                        required:
                          - id
                          - name
                        properties:
                          id:
                            type: string
                            nullable: false
                            example: ABCD_12345
                            description: The service ID of the health information provider. Allows alpha numeric character and special characters like[A-Z a-z 0-9]+[A-Z a-z 0-9 //_//-]*[A-Z a-z 0-9]$
                          name:
                            type: string
                            nullable: true
                            example: ABCD Hospital
                            description: The name of the health information provider. Allows alpha numeric and special characters like "^[a-zA-Z]+[A-Za-z0-9_\\-@,().\\s\\xa0:/]+"
                          type:
                            type: string
                            nullable: true
                            example: HIP
                            description: |-
                              The type of the health information provider. Allows alpha numeric and special characters like
                               "^[a-zA-Z0-9_\\-@,. \":/]{0,255}$"
                      careContexts:
                        type: array
                        description: List of care contexts linked at the HIP end for the identified patient.
                        items:
                          type: object
                          nullable: true
                          required:
                            - patientReference
                            - careContextReference
                          properties:
                            patientReference:
                              type: string
                              nullable: false
                              example: batman@tmh
                              description: A patient identifier with which patient is registered in the facility/hospital. Allows alpha numeric character and special characters like ^[a-zA-Z0-9_\\-@,. \":/]{0,255}$
                            careContextReference:
                              type: string
                              nullable: false
                              example: Episode1
                              description: An identifier of patient's care context created in HIP. A care context is a group of patient's health data (Not the actual health data). Allows alpha numeric character and special characters like ^[a-zA-Z0-9_\\-@,().\"/:| ]{0,255}$
                      permission:
                        type: object
                        nullable: false
                        required:
                          - accessMode
                          - dateRange
                          - dataEraseAt
                          - frequency
                        properties:
                          dateRange:
                            type: object
                            nullable: false
                            required:
                              - from
                              - to
                            properties:
                              from:
                                type: string
                                format: date-time
                                nullable: false
                                example: "2021-09-28T12:30:08.573Z"
                                description: Should be UTC date time in ISO format. Allows alpha numeric character and special characters like "\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}.\\d{3}Z$"
                              to:
                                type: string
                                format: date-time
                                nullable: false
                                example: "2021-09-28T12:30:08.573Z"
                                description: Should be UTC date time in ISO format. Allows alpha numeric character and special characters like "\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}.\\d{3}Z$"
                          frequency:
                            type: object
                            nullable: false
                            required:
                              - unit
                              - value
                              - repeats
                            properties:
                              unit:
                                type: string
                                nullable: false
                                enum:
                                  - HOUR
                                  - DAY
                                  - WEEK
                                  - MONTH
                                  - YEAR
                              value:
                                type: number
                                format: int32
                                nullable: false
                                example: 1
                                description: The frequency unit value. Should be be a integer.Allows alpha numeric character and special characters like ^[a-zA-Z0-9_\\-@,. \":/]{0,255}$
                              repeats:
                                type: number
                                format: int32
                                nullable: true
                                example: 0
                                description: Should be be a integer
                          accessMode:
                            type: string
                            nullable: false
                            enum:
                              - VIEW
                              - STORE
                              - STREAM
                              - QUERY
                            example: VIEW
                          dataEraseAt:
                            type: string
                            format: date-time
                            nullable: false
                            example: "2021-09-28T12:30:08.573Z"
                            description: The date at which the consent expire. Should be UTC date time in ISO format. Allows alpha numeric character and special characters like "\\d{4}-\\d{2}-\\d{2}T\\d{2}:\\d{2}:\\d{2}.\\d{3}Z$"
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    nullable: false
                    example: Successful creation of consent artefact.
                  consentIds:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                          nullable: true
                          example: f29f0e59-8388-4698-9fe6-05db67aeac46
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    error:
                      type: object
                      description: The error code and message, if any occurred.
                      required:
                        - code
                        - message
                      properties:
                        code:
                          type: string
                          pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                          description: 'The error code. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                        message:
                          type: string
                example:
                  - error:
                      code: ABDM-9999
                      message: Invalid Service ID, it must be Alpha numeric and _ or - in middle
                  - error:
                      code: ABDM-9999
                      message: from/to date cannot be null or empty
                  - error:
                      code: ABDM-9999
                      message: from/to date cannot be null or empty
                  - error:
                      code: ABDM-9999
                      message: Frequency unit should not be null or empty
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900901 - Unauthorized. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900901"
                  message:
                    type: string
                    example: Unauthorized
                  description:
                    type: string
                    example: "Invalid Credentials. Make sure your API invocation call has a header: 'Authorization : Bearer ACCESS_TOKEN' or 'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1001 - No data found. May be returned either bare (`ABDM-1001`) or with a trailing ": " separator (`ABDM-1001: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1001
                      message:
                        type: string
                        example: No data found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900900 - Unclassified Authentication Failure. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /hiecm/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: 'ABDM-1024 - Dependent service unavailable. May be returned either bare (`ABDM-1024`) or with a trailing ": " separator (`ABDM-1024: `); match on the code itself and tolerate the separator.'
                    nullable: false
                    example: ABDM-1024
                  message:
                    type: string
                    nullable: false
                    example: Dependent service unavailable
      x-abdm-nha-operation-id: abdm-consent-management 1 (2)
  /api/hiecm/consent/v3/request/{request-id}/deny:
    post:
      tags:
        - consent-management-data-flow-phr
      operationId: p2_post_consent_v3_request_request_id_deny
      summary: This is ABDM HIE-CM API called by patients to deny the consent request raised by HIU from PHR/mobile application.
      description: This API endpoint is used to deny a consent request from the Personal Health Record (PHR) or mobile application. By invoking this API, users can reject a consent request, preventing the Health Information User (HIU) from accessing their health data. This functionality is essential for maintaining user control over their health information, ensuring that consents are managed according to the user’s preferences. The API supports secure and compliant health information exchange, enabling users to deny consent requests as needed.
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: <TOKEN>
        - name: request-id
          in: path
          required: true
          schema:
            type: string
          description: The consent request id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - reason
              properties:
                reason:
                  type: string
                  nullable: true
                  example: Not authorized
                  description: The reason to deny the consent request. Allows alpha numeric characters and special characters like "^[a-zA-Z0-9_\\-@,. \":]{1,255}$"
      responses:
        "202":
          description: Accepted
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1065 - Invalid X Auth token. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                        example: ABDM-1065
                      message:
                        type: string
                        example: Invalid X Auth token
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900901 - Unauthorized. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900901"
                  message:
                    type: string
                    example: Unauthorized
                  description:
                    type: string
                    example: "Invalid Credentials. Make sure your API invocation call has a header: 'Authorization : Bearer ACCESS_TOKEN' or 'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1001 - No data found. May be returned either bare (`ABDM-1001`) or with a trailing ": " separator (`ABDM-1001: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1001
                      message:
                        type: string
                        example: No data found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900900 - Unclassified Authentication Failure. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /hiecm/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: 'ABDM-1024 - Dependent service unavailable. May be returned either bare (`ABDM-1024`) or with a trailing ": " separator (`ABDM-1024: `); match on the code itself and tolerate the separator.'
                    nullable: false
                    example: ABDM-1024
                  message:
                    type: string
                    nullable: false
                    example: Dependent service unavailable
      x-abdm-nha-operation-id: abdm-consent-management 2 (2)
  /api/hiecm/consent/v3/revoke:
    post:
      tags:
        - consent-management-data-flow-phr
      operationId: p2_post_consent_v3_revoke
      summary: This is ABDM HIE-CM API called by patients to revoke the granted consent from PHR/mobile application.
      description: This API endpoint is used to revoke a previously approved consent from the Personal Health Record (PHR) or mobile application. By invoking this API, users can withdraw their consent, thereby terminating the permissions granted to access their health data. This functionality is essential for maintaining user control over their health information, ensuring that consents can be managed dynamically and in accordance with the user’s preferences. The API supports secure and compliant health information exchange, enabling users to revoke consent as needed.
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: <TOKEN>
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - consents
              properties:
                consents:
                  type: array
                  items:
                    type: string
                    nullable: false
                    example: 3fa85f64-5717-4562-b3fc-2c963f66afa6
                    description: The list of consent artefact ids that needs to be revoked. Allows alpha numeric character and special characters like "^[a-zA-Z0-9_\\-@,. \":/]{0,255}$"
      responses:
        "202":
          description: Accepted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Successful revocation of list of consents.
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1080 - Invalid Consent artefact id. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                        example: ABDM-1080
                      message:
                        type: string
                        example: Invalid Consent artefact id
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900901 - Unauthorized. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900901"
                  message:
                    type: string
                    example: Unauthorized
                  description:
                    type: string
                    example: "Invalid Credentials. Make sure your API invocation call has a header: 'Authorization : Bearer ACCESS_TOKEN' or 'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'"
        "403":
          description: Forbidden
          content:
            text/plain:
              schema:
                type: string
                example: Access Denied
        "404":
          description: Not Found
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    description: The error code and message, if any occurred.
                    required:
                      - code
                      - message
                    properties:
                      code:
                        type: string
                        pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                        description: 'ABDM-1001 - No data found. May be returned either bare (`ABDM-1001`) or with a trailing ": " separator (`ABDM-1001: `); match on the code itself and tolerate the separator.'
                        example: ABDM-1001
                      message:
                        type: string
                        example: No data found
        "500":
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: '900900 - Unclassified Authentication Failure. May be returned either bare or with a trailing ": " separator; match on the code itself and tolerate the separator.'
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /hiecm/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                type: object
                required:
                  - code
                  - message
                properties:
                  code:
                    type: string
                    pattern: "^(ABDM-\\d{4}|\\d{3,6})(: )?$"
                    description: 'ABDM-1024 - Dependent service unavailable. May be returned either bare (`ABDM-1024`) or with a trailing ": " separator (`ABDM-1024: `); match on the code itself and tolerate the separator.'
                    nullable: false
                    example: ABDM-1024
                  message:
                    type: string
                    nullable: false
                    example: Dependent service unavailable
      x-abdm-nha-operation-id: abdm-consent-management 3 (4)
  /api/hiecm/consent/v3/request/{request-id}:
    get:
      tags:
        - consent-management-data-flow-phr
      operationId: p2_get_consent_v3_request_request_id
      summary: This is ABDM HIE-CM API called to get the consent request details by request id.
      description: This API endpoint is used to retrieve the details of a consent request using the request ID. By invoking this API, users can obtain comprehensive information about a specific consent request, including its status, scope, and any associated conditions. This functionality is essential for ensuring that users have access to accurate and up-to-date consent information, supporting secure and compliant health information exchange. The API facilitates efficient management and verification of consent requests, enhancing the overall integrity of the consent management process.
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for track the end to end request transaction
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
          example: "2022-10-06T15:10:00.587Z"
          description: Actual time of the request was initiated, ISO 8601 represents date and time by starting with the year, followed by the month, the day, the hour, the minutes, seconds and milliseconds
        - name: X-CM-ID
          in: header
          required: true
          schema:
            type: string
          example: sbx
          description: Suffix of the consent manager to which the request was intended
        - name: X-AUTH-TOKEN
          in: header
          required: true
          description: JWT Authentication token which was issued by ABDM after successful validation of username and password
          schema:
            type: string
            format: bearer
            minimum: 1
            maximum: 100
            example: <TOKEN>
        - name: request-id
          in: path
          required: true
          schema:
            type: string
          description: The consent request id
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                    nullable: false
                    example: e5ec415f-c098-40f6-a0db-faa162fc5295
                  purpose:
                    type: object
                    nullable: false
                    required:
                      - text
                      - code
                      - refUri
                    properties:
                      text:
                        type: string
                        nullable: false
                        enum:
                          - Care Management
                          - Break the Glass
                          - Public Health
                          - Healthcare Payment
                          - Disease Specific Healthcare Research
                          - Self Requested
                      code:
                        type: string
                        nullable: false
                        enum:
                          - CAREMGT
                          - BTG
                          - PUBHLTH
                          - HPAYMT
                          - DSRCH
                          - PATRQT
                      refUri:
                        type: string
                        nullable: false
                        example: www.abc.com
                        description: The reference URL.Allows alpha numeric and special characters like "^[a-zA-Z0-9_\\-@,. \":/]{0,255}$"
                  patient:
                    type: object
                    nullable: false
                    required:
                      - id
                    properties:
                      id:
                        type: string
                        nullable: false
                        example: <ABHA_ADDRESS>
                        description: The abha address of the patient
                  hip:
                    type: object
                    description: Identifier and name of the health information provider.
                    nullable: true
                    required:
                      - id
                      - name
                    properties:
                      id:
                        type: string
                        nullable: false
                        example: cowin_hip_01
                        description: The service ID of the health information provider. Allows alpha numeric character and special characters like [A-Z a-z 0-9]+[A-Z a-z 0-9 //_//-]*[A-Z a-z 0-9]$
                      name:
                        type: string
                        nullable: true
                        example: Cowin
                        description: The name of the health information provider. Allows alpha numeric and special characters like "^[a-zA-Z]+[A-Za-z0-9_\\-@,().\\s\\xa0:/]+"
                      type:
                        type: string
                        nullable: true
                        example: HIP
                        description: The type of the health information provider. Allows alpha numeric and special characters like "^[a-zA-Z0-9_\\-@,. \":/]{0,255}$"
                  hiu:
                    type: object
                    nullable: false
[...]
