# P3 PHR consent and notifications.
#
# Derived from NHA's Aarogya Setu Postman collection, which is NHA's own
# PHR. The same calls and the same error codes apply to any PHR.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  title: ABDM P3 PHR consent and notifications
  summary: P3 PHR consent and notifications, from NHA's reference PHR.
  description: |
    P3 is the patient exercising control. Consent requests they have received,
    artefacts they have granted, what they can revoke, and the notifications
    that tell them any of it happened.

    It is the other side of M3. M3 is a requester asking; P3 is the patient
    deciding.

    Nothing in this file has been run against the sandbox from this repository. Sample values are scrubbed.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://devforum.abdm.gov.in
  x-abdm-gateway: hiecm
  x-abdm-module: p3
  x-abdm-phase: 2
  x-abdm-roles:
  - phr
  x-portal:
    module: p3
    label: P3 PHR consent and notifications
    position: 8
x-abdm-sources:
- file: catalogue/openapi/.raw/aarogya-setu.postman_collection.json
  role: upstream
  hash: sha256:84afbc33fc248dd13f63e12adcd8958c9be30e3877184555f5e5a0a50d5ec92c
  fetched: '2026-08-25'
  note: NHA's Aarogya Setu collection, 248 requests. Aarogya Setu is NHA's own
    PHR, so it stands in for any PHR implementation.
servers:
- url: https://phrsbx.abdm.gov.in
  description: Sandbox host, not yet
    confirmed.
- url: https://phr.abdm.gov.in
  description: Production.
security:
- gatewaySession: []
tags:
- name: consent_management
  description: The Consent Management service operations.
- name: notification_collection
  description: From NHA's "Notification Collection service" folder in the Aarogya
    Setu collection.
paths:
  /api/consent-management/consent-artefacts:
    get:
      operationId: p3_get_all_consent_artefacts_by_abha_address
      tags:
      - consent_management
      summary: Get All Consent Artefacts by ABHA Address
      x-abdm-atom: hiecm.endpoint.p3-get-all-consent-artefacts-by-abha-address
      x-abdm-source-folder: Consent Management service
      responses:
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  consentArtefacts:
                    type: array
                    items:
                      type: object
                      properties:
                        status:
                          type: string
                        consentDetail:
                          type: object
                          properties:
                            schemaVersion:
                              type: string
                            consentId:
                              type: string
                            createdAt:
                              type: string
                            lastUpdated:
                              type: string
                            patient:
                              type: object
                              properties:
                                id:
                                  type: string
                              required:
                              - id
                            careContexts:
                              type: array
                              items:
                                type: object
                                properties:
                                  patientReference:
                                    type: string
                                  careContextReference:
                                    type: string
                                required:
                                - careContextReference
                                - patientReference
                            purpose:
                              type: object
                              properties:
                                text:
                                  type: string
                                code:
                                  type: string
                                refUri:
                                  type: string
                              required:
                              - code
                              - refUri
                              - text
                            hip:
                              type: object
                              properties:
                                id:
                                  type: string
                              required:
                              - id
                            hiu:
                              type: object
                              properties:
                                id:
                                  type: string
                              required:
                              - id
                            consentManager:
                              type: object
                              properties:
                                id:
                                  type: string
                              required:
                              - id
                            requester:
                              type: object
                              properties:
                                name:
                                  type: string
                                identifier:
                                  type: object
                                  properties:
                                    value:
                                      type: string
                                    type:
                                      type: string
                                    system:
                                      type: string
                                  required:
                                  - system
                                  - type
                                  - value
                              required:
                              - identifier
                              - name
                            hiTypes:
                              type: array
                              items:
                                type: string
                            permission:
                              type: object
                              properties:
                                accessMode:
                                  type: string
                                dateRange:
                                  type: object
                                  properties:
                                    from:
                                      type: string
                                    to:
                                      type: string
                                  required:
                                  - from
                                  - to
                                dataEraseAt:
                                  type: string
                                frequency:
                                  type: object
                                  properties:
                                    unit:
                                      type: string
                                    value:
                                      type: integer
                                    repeats:
                                      type: integer
                                  required:
                                  - repeats
                                  - unit
                                  - value
                              required:
                              - accessMode
                              - dataEraseAt
                              - dateRange
                              - frequency
                          required:
                          - careContexts
                          - consentId
                          - consentManager
                          - createdAt
                          - hiTypes
                          - hip
                          - hiu
                          - lastUpdated
                          - patient
                          - permission
                          - purpose
                          - requester
                          - schemaVersion
                        signature:
                          type: string
                      required:
                      - consentDetail
                      - signature
                      - status
                required:
                - consentArtefacts
                - limit
                - offset
                - size
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    size: 10
                    limit: 10
                    offset: 0
                    consentArtefacts:
                    - status: REVOKED
                      consentDetail:
                        schemaVersion: v3
                        consentId: <TXN_ID>
                        createdAt: '2026-06-05T05:49:30.893Z'
                        lastUpdated: '2026-06-05T05:59:33.037Z'
                        patient:
                          id: nithishjanithi@sbx
                        careContexts:
                        - patientReference: nithishjanithi@sbx
                          careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112424637418
                        purpose:
                          text: Care management
                          code: CAREMGT
                          refUri: www.abdm.gov.in
                        hip:
                          id: wdwsd
                        hiu:
                          id: IN0002222
                        consentManager:
                          id: sbx
                        requester:
                          name: <NAME>
                          identifier:
                            value: MH1001
                            type: REGNO1
                            system: https://www.mciindia.9985
                        hiTypes:
                        - OPConsultation
                        permission:
                          accessMode: VIEW
                          dateRange:
                            from: '2023-05-09T08:58:09.738Z'
                            to: '2025-04-12T09:00:00.738Z'
                          dataEraseAt: '2026-09-12T13:26:00.738Z'
                          frequency:
                            unit: HOUR
                            value: 0
                            repeats: 0
                      signature: tY9rOuZomDEo3ihjgjiOl92dgQ1wjzBQa4ogJYlLl7BZFAO3IiR6k8p9qcd30eYgBc1xyPEPied6nDrdPwT6oD2mAso/ny6Ykcto3uU/1nViYH7K/H9/XVEoo4hyOPKb62aGUqMn69QpWNhPM9HTnhtj3CXOjB6TA2eFkHYYbaniX02W/6ALtuPb0OsUchlImVbjj1EBlCK4Xs8GrtAnneU2esnMWR7N0ra9bnyR6zF5Bi2ng/pDLTIeKC3wfVKg4AGUC6obC7FCRrykAUlpgWMM4wBbiV7Y1oLPcJ4VFL7DSUdtilGbW53ez0Av4cKlVizRxZ9gWvw2kWQBa2iL/w==
                    - status: GRANTED
                      consentDetail:
                        schemaVersion: v3
                        consentId: <TXN_ID>
                        createdAt: '2026-06-05T05:39:45.177Z'
                        lastUpdated: '2026-06-05T05:39:45.177Z'
                        patient:
                          id: nithishjanithi@sbx
                        careContexts:
                        - patientReference: nithishjanithi@sbx
                          careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112424637418
                        purpose:
                          text: Care management
                          code: CAREMGT
                          refUri: www.abdm.gov.in
                        hip:
                          id: wdwsd
                        hiu:
                          id: IN0002222
                        consentManager:
                          id: sbx
                        requester:
                          name: <NAME>
                          identifier:
                            value: MH1001
                            type: REGNO1
                            system: https://www.mciindia.9985
                        hiTypes:
                        - OPConsultation
                        permission:
                          accessMode: VIEW
                          dateRange:
                            from: '2023-05-09T08:58:09.738Z'
                            to: '2025-04-12T09:00:00.738Z'
                          dataEraseAt: '2026-09-10T13:26:00.738Z'
                          frequency:
                            unit: HOUR
                            value: 0
                            repeats: 0
                      signature: Rk4JZGhdRdrmNldhcM7tmsZOhKwNyN4FEER8O8WAl2GkqRqNQz79pOeBmBZAFi61HY3X3scKoBEC+o2fl4/F33n3QHoXKuP/5cDhamUMPq0FO8YrbUwzwoeMn46trIB8qEHE+aTdtH/09T8fIY+I1bMTlRaOeebAbhff8JC1v+w51l5Mw+MFnchxY8ulO1U/gGKsYUl+JCC/2+nVpw2OS/7nEv8Dv7Xl4Ttgdcel7cbVkAoy2h+eYNeOLLrCC7UbMvXds2e0Ng64mgNO6Iw8UJ/0FG4W+a9bk2TfOhvYIbJ6XOG+qiIeZDhqT3IddSntjMRsNeGubdsQZmHqKsh0ww==
                    - status: GRANTED
                      consentDetail:
                        schemaVersion: v3
                        consentId: <TXN_ID>
                        createdAt: '2026-06-04T14:55:00.459Z'
                        lastUpdated: '2026-06-04T14:55:00.459Z'
                        patient:
                          id: nithishjanithi@sbx
                        careContexts:
                        - patientReference: nithishjanithi@sbx
                          careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260604184449081782
                        purpose:
                          text: Care Management
                          code: CAREMGT
                          refUri: www.abdm.gov.in
                        hip:
                          id: DigiLocker_NEGD
                        hiu:
                          id: DigiLocker_NEGD
                        consentManager:
                          id: sbx
                        requester:
                          name: <NAME>
                          identifier:
                            value: SELF
                            type: SELF
                            system: nithishjanithi@sbx
                        hiTypes:
                        - OPConsultation
                        permission:
                          accessMode: VIEW
                          dateRange:
                            from: '2026-06-03T18:54:59.605Z'
                            to: '2026-06-04T14:54:59.605Z'
                          dataEraseAt: '2036-06-04T20:24:59.605Z'
                          frequency:
                            unit: YEAR
                            value: 1
                            repeats: 1
                      signature: iVgPM1kwOd7QeR1NWDKYvuWwfmq/2cGxO746Q6eiC9Cc+FZmRPP6ADUCOM/efJF3TpU916qRDmtCdNJINjip83FyrACZbQoULTwRLLKacxh9cM05G65gn7vBZciHhEAX8CWl/mIHZ4r/cbOvtDOBslH0o2xf6kA2vQjT7y+I8V66iQ7N86nrmXpIz+bemJpi8PbF1H5LPtBR5ZULPrgavmbDvdjo9937U963CPvRU+m4HfUuLw9VtpBMakrDEhM/IJ8ASbEpibXEpWewA7s3/SrcQ+Avnmnw8rpCZI3/K/sFvIMJB23hI3WzC9P8VkaGnt9MZ74w8UbkK1Y59/DzkA==
                    - status: GRANTED
                      consentDetail:
                        schemaVersion: v3
                        consentId: <TXN_ID>
                        createdAt: '2026-06-04T14:50:00.511Z'
                        lastUpdated: '2026-06-04T14:50:00.511Z'
                        patient:
                          id: nithishjanithi@sbx
                        careContexts:
                        - patientReference: nithishjanithi@sbx
                          careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260604184449081782
                        purpose:
                          text: Care Management
                          code: CAREMGT
                          refUri: www.abdm.gov.in
                        hip:
                          id: DigiLocker_NEGD
                        hiu:
                          id: DigiLocker_NEGD
                        consentManager:
                          id: sbx
                        requester:
                          name: <NAME>
                          identifier:
                            value: SELF
                            type: SELF
                            system: nithishjanithi@sbx
                        hiTypes:
                        - OPConsultation
                        permission:
                          accessMode: VIEW
                          dateRange:
                            from: '2026-06-03T18:49:59.655Z'
                            to: '2026-06-04T14:49:59.655Z'
                          dataEraseAt: '2036-06-04T20:19:59.655Z'
                          frequency:
                            unit: YEAR
                            value: 1
                            repeats: 1
                      signature: O+qjztRyZPvrBdEmK2FssBTtsSsDQKmNiKo2x2r7/443qDQPLqa/espMGGLHJ4XsnQVOP2ucWv9qWcASRIvFQjcmaED9r8ewL+yh00ofPBP6HDjaRYL1UA5AQLCVlRA8PWZha9LavYFa/kAairDIr4xZ7S3Gx9Fs+zXFOyrApvOqgT4F+FkekSTgtRMhQ8FjAf5wmQ2UC3X0slV/DoZ0Zf9qf82dESyEcE5W2LUXZbfflDXjiC1y34NK7pG/huL84rGhs+a5+JvMGzFweFDkzTI3fqkYAVNi7/KeNgJPXpak6dNrMMtT7Q2ppZHKGySIQjuckhbDS9FRaKyne7DgAA==
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1314
                    message: Required header 'X-token' is not present.
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Authentication required
  /api/consent-management/consent-requests:
    get:
      operationId: p3_get_consent_request_list
      tags:
      - consent_management
      summary: Get Consent Request List
      x-abdm-atom: hiecm.endpoint.p3-get-consent-request-list
      x-abdm-source-folder: Consent Management service
      responses:
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  size:
                    type: integer
                  limit:
                    type: integer
                  offset:
                    type: integer
                  requests:
                    type: array
                    items:
                      type: object
                      properties:
                        requestId:
                          type: string
                        createdAt:
                          type: string
                        lastUpdated:
                          type: string
                        status:
                          type: string
                        purpose:
                          type: object
                          properties:
                            text:
                              type: string
                            code:
                              type: string
                            refUri:
                              type: string
                          required:
                          - code
                          - refUri
                          - text
                        patient:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        hip:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        hiu:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        requester:
                          type: object
                          properties:
                            name:
                              type: string
                            identifier:
                              type: object
                              properties:
                                value:
                                  type: string
                                type:
                                  type: string
                                system:
                                  type: string
                              required:
                              - system
                              - type
                              - value
                          required:
                          - identifier
                          - name
                        hiTypes:
                          type: array
                          items:
                            type: string
                        careContexts:
                          type: array
                          items:
                            type: object
                            properties:
                              patientReference:
                                type: string
                              careContextReference:
                                type: string
                            required:
                            - careContextReference
                            - patientReference
                        permission:
                          type: object
                          properties:
                            accessMode:
                              type: string
                            dateRange:
                              type: object
                              properties:
                                from:
                                  type: string
                                to:
                                  type: string
                              required:
                              - from
                              - to
                            dataEraseAt:
                              type: string
                            frequency:
                              type: object
                              properties:
                                unit:
                                  type: string
                                value:
                                  type: integer
                                repeats:
                                  type: integer
                              required:
                              - repeats
                              - unit
                              - value
                          required:
                          - accessMode
                          - dataEraseAt
                          - dateRange
                          - frequency
                      required:
                      - careContexts
                      - createdAt
                      - hiTypes
                      - hip
                      - hiu
                      - lastUpdated
                      - patient
                      - permission
                      - purpose
                      - requestId
                      - requester
                      - status
                required:
                - limit
                - offset
                - requests
                - size
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    size: 10
                    limit: 10
                    offset: 0
                    requests:
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:54:26.374Z'
                      lastUpdated: '2026-04-28T05:54:26.449Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - DiagnosticReport
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112424637418
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:54:25.533Z'
                          to: '2026-04-28T05:54:25.533Z'
                        dataEraseAt: '2036-04-28T11:24:25.533Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:51:02.270Z'
                      lastUpdated: '2026-04-28T05:51:02.335Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - DiagnosticReport
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112100337536
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:51:01.358Z'
                          to: '2026-04-28T05:51:01.358Z'
                        dataEraseAt: '2036-04-28T11:21:01.358Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:51:02.265Z'
                      lastUpdated: '2026-04-28T05:51:02.328Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - DiagnosticReport
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112100337536
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:51:01.340Z'
                          to: '2026-04-28T05:51:01.340Z'
                        dataEraseAt: '2036-04-28T11:21:01.340Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:50:25.748Z'
                      lastUpdated: '2026-04-28T05:50:25.811Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - DiagnosticReport
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112024090716
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:50:24.837Z'
                          to: '2026-04-28T05:50:24.837Z'
                        dataEraseAt: '2036-04-28T11:20:24.837Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:48:55.599Z'
                      lastUpdated: '2026-04-28T05:48:55.689Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - OPConsultation
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428111853846718
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:48:54.773Z'
                          to: '2026-04-28T05:48:54.773Z'
                        dataEraseAt: '2036-04-28T11:18:54.773Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:48:55.600Z'
                      lastUpdated: '2026-04-28T05:48:55.670Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - OPConsultation
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428111853846718
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:48:54.774Z'
                          to: '2026-04-28T05:48:54.774Z'
                        dataEraseAt: '2036-04-28T11:18:54.774Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:46:20.556Z'
                      lastUpdated: '2026-04-28T05:46:20.622Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - Prescription
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428111618826852
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:46:19.739Z'
                          to: '2026-04-28T05:46:19.739Z'
                        dataEraseAt: '2036-04-28T11:16:19.739Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:46:20.508Z'
                      lastUpdated: '2026-04-28T05:46:20.580Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - Prescription
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428111618826852
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:46:19.677Z'
                          to: '2026-04-28T05:46:19.677Z'
                        dataEraseAt: '2036-04-28T11:16:19.677Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-28T05:46:03.154Z'
                      lastUpdated: '2026-04-28T05:46:03.227Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - HealthDocumentRecord
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428111601543423
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-27T09:46:02.533Z'
                          to: '2026-04-28T05:46:02.533Z'
                        dataEraseAt: '2036-04-28T11:16:02.533Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
                    - requestId: <TXN_ID>
                      createdAt: '2026-04-27T10:59:13.124Z'
                      lastUpdated: '2026-04-27T10:59:13.186Z'
                      status: GRANTED
                      purpose:
                        text: Care Management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      patient:
                        id: nithishjanithi@sbx
                      hip:
                        id: DigiLocker_NEGD
                      hiu:
                        id: DigiLocker_NEGD
                      requester:
                        name: <NAME>
                        identifier:
                          value: SELF
                          type: SELF
                          system: nithishjanithi@sbx
                      hiTypes:
                      - DischargeSummary
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260427162911261772
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2026-04-26T14:59:12.408Z'
                          to: '2026-04-27T10:59:12.408Z'
                        dataEraseAt: '2036-04-27T16:29:12.408Z'
                        frequency:
                          unit: YEAR
                          value: 1
                          repeats: 1
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1314
                    message: Required header 'X-token' is not present.
        '400':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1082
                    message: Invalid X Auth token
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '900902'
                    message: Missing Credentials
                    description: 'Invalid Credentials. Make sure your API invocation
                      call has a header: ''Authorization : Bearer ACCESS_TOKEN''
                      or ''Authorization : Basic ACCESS_TOKEN'' or ''apikey: API_KEY'''
  /api/consent-management/consent-requests/{consentRequestId}:
    get:
      operationId: p3_get_consent_request_by_request_id
      tags:
      - consent_management
      summary: Get Consent Request by Request ID
      x-abdm-atom: hiecm.endpoint.p3-get-consent-request-by-request-id
      parameters:
      - name: consentRequestId
        in: path
        required: true
        schema:
          type: string
        description: Passed as a path segment.
      x-abdm-source-folder: Consent Management service
      responses:
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  createdAt:
                    type: string
                  lastUpdated:
                    type: string
                  status:
                    type: string
                  purpose:
                    type: object
                    properties:
                      text:
                        type: string
                      code:
                        type: string
                      refUri:
                        type: string
                    required:
                    - code
                    - refUri
                    - text
                  patient:
                    type: object
                    properties:
                      id:
                        type: string
                    required:
                    - id
                  hip:
                    type: object
                    properties:
                      id:
                        type: string
                    required:
                    - id
                  hiu:
                    type: object
                    properties:
                      id:
                        type: string
                    required:
                    - id
                  requester:
                    type: object
                    properties:
                      name:
                        type: string
                      identifier:
                        type: object
                        properties:
                          value:
                            type: string
                          type:
                            type: string
                          system:
                            type: string
                        required:
                        - system
                        - type
                        - value
                    required:
                    - identifier
                    - name
                  hiTypes:
                    type: array
                    items:
                      type: string
                  careContexts:
                    type: array
                    items:
                      type: object
                      properties:
                        patientReference:
                          type: string
                        careContextReference:
                          type: string
                      required:
                      - careContextReference
                      - patientReference
                  permission:
                    type: object
                    properties:
                      accessMode:
                        type: string
                      dateRange:
                        type: object
                        properties:
                          from:
                            type: string
                          to:
                            type: string
                        required:
                        - from
                        - to
                      dataEraseAt:
                        type: string
                      frequency:
                        type: object
                        properties:
                          unit:
                            type: string
                          value:
                            type: integer
                          repeats:
                            type: integer
                        required:
                        - repeats
                        - unit
                        - value
                    required:
                    - accessMode
                    - dataEraseAt
                    - dateRange
                    - frequency
                required:
                - careContexts
                - createdAt
                - hiTypes
                - hip
                - hiu
                - lastUpdated
                - patient
                - permission
                - purpose
                - requestId
                - requester
                - status
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    requestId: <TXN_ID>
                    createdAt: '2026-04-28T05:54:26.374Z'
                    lastUpdated: '2026-04-28T05:54:26.449Z'
                    status: GRANTED
                    purpose:
                      text: Care Management
                      code: CAREMGT
                      refUri: www.abdm.gov.in
                    patient:
                      id: nithishjanithi@sbx
                    hip:
                      id: DigiLocker_NEGD
                    hiu:
                      id: DigiLocker_NEGD
                    requester:
                      name: <NAME>
                      identifier:
                        value: SELF
                        type: SELF
                        system: nithishjanithi@sbx
                    hiTypes:
                    - DiagnosticReport
                    careContexts:
                    - patientReference: nithishjanithi@sbx
                      careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112424637418
                    permission:
                      accessMode: VIEW
                      dateRange:
                        from: '2026-04-27T09:54:25.533Z'
                        to: '2026-04-28T05:54:25.533Z'
                      dataEraseAt: '2036-04-28T11:24:25.533Z'
                      frequency:
                        unit: YEAR
                        value: 1
                        repeats: 1
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1314
                    message: Required header 'X-token' is not present.
  /api/consent-management/consent-requests/{consentRequestId}/approve:
    post:
      operationId: p3_approve_consent_request
      tags:
      - consent_management
      summary: Approve Consent Request
      x-abdm-atom: hiecm.endpoint.p3-approve-consent-request
      parameters:
      - name: consentRequestId
        in: path
        required: true
        schema:
          type: string
        description: Passed as a path segment.
      x-abdm-source-folder: Consent Management service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consents:
                  type: array
                  items:
                    type: object
                    properties:
                      hiTypes:
                        type: array
                        items:
                          type: string
                      hip:
                        type: object
                        properties:
                          id:
                            type: string
                        required:
                        - id
                      careContexts:
                        type: array
                        items:
                          type: object
                          properties:
                            patientReference:
                              type: string
                            careContextReference:
                              type: string
                          required:
                          - careContextReference
                          - patientReference
                      permission:
                        type: object
                        properties:
                          accessMode:
                            type: string
                          dateRange:
                            type: object
                            properties:
                              from:
                                type: string
                              to:
                                type: string
                            required:
                            - from
                            - to
                          dataEraseAt:
                            type: string
                          frequency:
                            type: object
                            properties:
                              unit:
                                type: string
                              value:
                                type: integer
                              repeats:
                                type: integer
                            required:
                            - repeats
                            - unit
                            - value
                        required:
                        - accessMode
                        - dataEraseAt
                        - dateRange
                        - frequency
                    required:
                    - careContexts
                    - hiTypes
                    - hip
                    - permission
              required:
              - consents
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  consents:
                  - hiTypes:
                    - OPConsultation
                    hip:
                      id: wdwsd
                    careContexts:
                    - patientReference: nithishjanithi@sbx
                      careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112424637418
                    permission:
                      accessMode: VIEW
                      dateRange:
                        from: '2023-05-09T08:58:09.738Z'
                        to: '2025-04-12T09:00:00.738Z'
                      dataEraseAt: '2026-09-12T13:26:00.738Z'
                      frequency:
                        unit: HOUR
                        value: 0
                        repeats: 0
      responses:
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  consentIds:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                      required:
                      - id
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required: []
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1314
                    message: Required header 'X-token' is not present.
  /api/consent-management/consent-requests/{consentRequestId}/consent-artefacts:
    get:
      operationId: p3_get_all_consent_artefacts_by_request_id
      tags:
      - consent_management
      summary: Get All Consent Artefacts by Request ID
      x-abdm-atom: hiecm.endpoint.p3-get-all-consent-artefacts-by-request-id
      parameters:
      - name: consentRequestId
        in: path
        required: true
        schema:
          type: string
        description: Passed as a path segment.
      x-abdm-source-folder: Consent Management service
      responses:
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Authentication required
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    status:
                      type: string
                    consentDetail:
                      type: object
                      properties:
                        schemaVersion:
                          type: string
                        consentId:
                          type: string
                        createdAt:
                          type: string
                        lastUpdated:
                          type: string
                        patient:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        careContexts:
                          type: array
                          items:
                            type: object
                            properties:
                              patientReference:
                                type: string
                              careContextReference:
                                type: string
                            required:
                            - careContextReference
                            - patientReference
                        purpose:
                          type: object
                          properties:
                            text:
                              type: string
                            code:
                              type: string
                            refUri:
                              type: string
                          required:
                          - code
                          - refUri
                          - text
                        hip:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        hiu:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        consentManager:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        requester:
                          type: object
                          properties:
                            name:
                              type: string
                            identifier:
                              type: object
                              properties:
                                value:
                                  type: string
                                type:
                                  type: string
                                system:
                                  type: string
                              required:
                              - system
                              - type
                              - value
                          required:
                          - identifier
                          - name
                        hiTypes:
                          type: array
                          items:
                            type: string
                        permission:
                          type: object
                          properties:
                            accessMode:
                              type: string
                            dateRange:
                              type: object
                              properties:
                                from:
                                  type: string
                                to:
                                  type: string
                              required:
                              - from
                              - to
                            dataEraseAt:
                              type: string
                            frequency:
                              type: object
                              properties:
                                unit:
                                  type: string
                                value:
                                  type: integer
                                repeats:
                                  type: integer
                              required:
                              - repeats
                              - unit
                              - value
                          required:
                          - accessMode
                          - dataEraseAt
                          - dateRange
                          - frequency
                      required:
                      - careContexts
                      - consentId
                      - consentManager
                      - createdAt
                      - hiTypes
                      - hip
                      - hiu
                      - lastUpdated
                      - patient
                      - permission
                      - purpose
                      - requester
                      - schemaVersion
                    signature:
                      type: string
                  required:
                  - consentDetail
                  - signature
                  - status
              examples:
                recorded:
                  summary: Recorded response
                  value:
                  - status: REVOKED
                    consentDetail:
                      schemaVersion: v3
                      consentId: <TXN_ID>
                      createdAt: '2026-06-05T05:49:30.893Z'
                      lastUpdated: '2026-06-05T05:59:33.037Z'
                      patient:
                        id: nithishjanithi@sbx
                      careContexts:
                      - patientReference: nithishjanithi@sbx
                        careContextReference: 25ac532f-178d-5885-9bcb-b82052f345eb_20260428112424637418
                      purpose:
                        text: Care management
                        code: CAREMGT
                        refUri: www.abdm.gov.in
                      hip:
                        id: wdwsd
                      hiu:
                        id: IN0002222
                      consentManager:
                        id: sbx
                      requester:
                        name: <NAME>
                        identifier:
                          value: MH1001
                          type: REGNO1
                          system: https://www.mciindia.9985
                      hiTypes:
                      - OPConsultation
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2023-05-09T08:58:09.738Z'
                          to: '2025-04-12T09:00:00.738Z'
                        dataEraseAt: '2026-09-12T13:26:00.738Z'
                        frequency:
                          unit: HOUR
                          value: 0
                          repeats: 0
                    signature: tY9rOuZomDEo3ihjgjiOl92dgQ1wjzBQa4ogJYlLl7BZFAO3IiR6k8p9qcd30eYgBc1xyPEPied6nDrdPwT6oD2mAso/ny6Ykcto3uU/1nViYH7K/H9/XVEoo4hyOPKb62aGUqMn69QpWNhPM9HTnhtj3CXOjB6TA2eFkHYYbaniX02W/6ALtuPb0OsUchlImVbjj1EBlCK4Xs8GrtAnneU2esnMWR7N0ra9bnyR6zF5Bi2ng/pDLTIeKC3wfVKg4AGUC6obC7FCRrykAUlpgWMM4wBbiV7Y1oLPcJ4VFL7DSUdtilGbW53ez0Av4cKlVizRxZ9gWvw2kWQBa2iL/w==
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1314
                    message: Required header 'X-token' is not present.
  /api/consent-management/consent-requests/{consentRequestId}/deny:
    post:
      operationId: p3_deny_consent_request
      tags:
      - consent_management
      summary: Deny Consent Request
      x-abdm-atom: hiecm.endpoint.p3-deny-consent-request
      parameters:
      - name: consentRequestId
        in: path
        required: true
        schema:
          type: string
        description: Passed as a path segment.
      x-abdm-source-folder: Consent Management service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
              required:
              - reason
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  reason: Not required
      responses:
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1314
                    message: Required header 'X-token' is not present.
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required: []
  /api/consent-management/consent/on-fetch:
    post:
      operationId: p3_hiu_on_fetch_consent_artefact_fetch_callback
      tags:
      - consent_management
      summary: HIU On-Fetch (Consent Artefact Fetch Callback)
      x-abdm-atom: hiecm.endpoint.p3-hiu-on-fetch-consent-artefact-fetch-callback
      x-abdm-source-folder: Consent Management service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestId:
                  type: string
                timestamp:
                  type: string
                consent:
                  type: object
                  properties:
                    status:
                      type: string
                    consentDetail:
                      type: object
                      properties:
                        consentId:
                          type: string
                        createdAt:
                          type: string
                        patient:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        careContexts:
                          type: array
                          items:
                            description: The sample array was empty, so the
                              element type is unknown.
                        purpose:
                          type: object
                          properties:
                            text:
                              type: string
                            code:
                              type: string
                          required:
                          - code
                          - text
                        hip:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        hiu:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        consentManager:
                          type: object
                          properties:
                            id:
                              type: string
                          required:
                          - id
                        hiTypes:
                          type: array
                          items:
                            type: string
                        permission:
                          type: object
                          properties:
                            accessMode:
                              type: string
                            dateRange:
                              type: object
                              properties:
                                from:
                                  type: string
                                to:
                                  type: string
                              required:
                              - from
                              - to
                            dataEraseAt:
                              type: string
                            frequency:
                              type: object
                              properties:
                                unit:
                                  type: string
                                value:
                                  type: integer
                                repeats:
                                  type: integer
                              required:
                              - repeats
                              - unit
                              - value
                          required:
                          - accessMode
                          - dataEraseAt
                          - dateRange
                          - frequency
                      required:
                      - careContexts
                      - consentId
                      - consentManager
                      - createdAt
                      - hiTypes
                      - hip
                      - hiu
                      - patient
                      - permission
                      - purpose
                    signature:
                      type: string
                  required:
                  - consentDetail
                  - signature
                  - status
                resp:
                  type: object
                  properties:
                    requestId:
                      type: string
                  required:
                  - requestId
              required:
              - consent
              - requestId
              - resp
              - timestamp
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  requestId: <GENERATED>
                  timestamp: <ISO_8601_TIMESTAMP>
                  consent:
                    status: GRANTED
                    consentDetail:
                      consentId: <consent-artefact-id>
                      createdAt: <ISO_8601_TIMESTAMP>
                      patient:
                        id: <abha-address>@abdm
                      careContexts: []
                      purpose:
                        text: Care Management
                        code: CAREMGT
                      hip:
                        id: <hip-id>
                      hiu:
                        id: <hiu-id>
                      consentManager:
                        id: sbx.abdm.gov.in
                      hiTypes:
                      - OPConsultation
                      permission:
                        accessMode: VIEW
                        dateRange:
                          from: '2021-01-01T00:00:00.000Z'
                          to: '2023-12-31T23:59:59.999Z'
                        dataEraseAt: '2024-12-31T23:59:59.999Z'
                        frequency:
                          unit: HOUR
                          value: 1
                          repeats: 0
                    signature: <signature>
                  resp:
                    requestId: <original-request-id>
      responses:
        '200':
          description: No response body is documented for this request.
  /api/consent-management/consent/request/init:
    post:
      operationId: p3_init_consent_request
      tags:
      - consent_management
      summary: Init Consent Request
      x-abdm-atom: hiecm.endpoint.p3-init-consent-request
      x-abdm-source-folder: Consent Management service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consent:
                  type: object
                  properties:
                    purpose:
                      type: object
                      properties:
                        text:
                          type: string
                        code:
                          type: string
                        refUri:
                          type: string
                      required:
                      - code
                      - refUri
                      - text
                    patient:
                      type: object
                      properties:
                        id:
                          type: string
                      required:
                      - id
                    hiu:
                      type: object
                      properties:
                        id:
                          type: string
                      required:
                      - id
                    hip:
                      type: object
                      properties:
                        id:
                          type: string
                      required:
                      - id
                    careContexts:
                      type: 'null'
                    requester:
                      type: object
                      properties:
                        name:
                          type: string
                        identifier:
                          type: object
                          properties:
                            type:
                              type: string
                            value:
                              type: string
                            system:
                              type: string
                          required:
                          - system
                          - type
                          - value
                      required:
                      - identifier
                      - name
                    hiTypes:
                      type: array
                      items:
                        type: string
                    permission:
                      type: object
                      properties:
                        accessMode:
                          type: string
                        dateRange:
                          type: object
                          properties:
                            from:
                              type: string
                            to:
                              type: string
                          required:
                          - from
                          - to
                        dataEraseAt:
                          type: string
                        frequency:
                          type: object
                          properties:
                            unit:
                              type: string
                            value:
                              type: integer
                            repeats:
                              type: integer
                          required:
                          - repeats
                          - unit
                          - value
                      required:
                      - accessMode
                      - dataEraseAt
                      - dateRange
                      - frequency
                  required:
                  - careContexts
                  - hiTypes
                  - hip
                  - hiu
                  - patient
                  - permission
                  - purpose
                  - requester
              required:
              - consent
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  consent:
                    purpose:
                      text: Care management
                      code: CAREMGT
                      refUri: www.abdm.gov.in
                    patient:
                      id: nithishjanithi@sbx
                    hiu:
                      id: IN0002222
                    hip:
                      id: wdwsd
                    careContexts: null
                    requester:
                      name: <NAME>
                      identifier:
                        type: REGNO1
                        value: MH1001
                        system: https://www.mciindia.9985
                    hiTypes:
                    - Prescription
                    permission:
                      accessMode: VIEW
                      dateRange:
                        from: '2023-05-09T08:58:09.738Z'
                        to: '2025-04-12T09:00:00.738Z'
                      dataEraseAt: '2026-09-10T12:26:00.738Z'
                      frequency:
                        unit: HOUR
                        value: 0
                        repeats: 0
      responses:
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: '900902'
                    message: Missing Credentials
                    description: 'Invalid Credentials. Make sure your API invocation
                      call has a header: ''Authorization : Bearer ACCESS_TOKEN''
                      or ''Authorization : Basic ACCESS_TOKEN'' or ''apikey: API_KEY'''
        '400':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Invalid data erase date or date must be a future
                      date
  /api/consent-management/consent/request/notify:
    post:
      operationId: p3_hiu_consent_notification
      tags:
      - consent_management
      summary: HIU Consent Notification
      x-abdm-atom: hiecm.endpoint.p3-hiu-consent-notification
      x-abdm-source-folder: Consent Management service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                notification:
                  type: object
                  properties:
                    consentRequestId:
                      type: string
                    status:
                      type: string
                    consentArtefacts:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                        required:
                        - id
                  required:
                  - consentArtefacts
                  - consentRequestId
                  - status
              required:
              - notification
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  notification:
                    consentRequestId: <TXN_ID>
                    status: DENIED
                    consentArtefacts:
                    - id: <TXN_ID>
      responses:
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Valid consent not found
  /api/consent-management/consent/request/on-init:
    post:
      operationId: p3_hiu_consent_request_on_init_callback
      tags:
      - consent_management
      summary: HIU Consent Request On-Init (Callback)
      x-abdm-atom: hiecm.endpoint.p3-hiu-consent-request-on-init-callback
      x-abdm-source-folder: Consent Management service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestId:
                  type: string
                timestamp:
                  type: string
                consentRequest:
                  type: object
                  properties:
                    id:
                      type: string
                  required:
                  - id
                resp:
                  type: object
                  properties:
                    requestId:
                      type: string
                  required:
                  - requestId
              required:
              - consentRequest
              - requestId
              - resp
              - timestamp
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  requestId: <GENERATED>
                  timestamp: <ISO_8601_TIMESTAMP>
                  consentRequest:
                    id: <TXN_ID>
                  resp:
                    requestId: <TXN_ID>
      responses:
        '200':
          description: No response body is documented for this request.
  /api/consent-management/consents/auto-approval-policy/{autoApprovalId}/disable:
    post:
      operationId: p3_disable_auto_approval
      tags:
      - consent_management
      summary: Disable Auto Approval
      x-abdm-atom: hiecm.endpoint.p3-disable-auto-approval
      parameters:
      - name: autoApprovalId
        in: path
        required: true
        schema:
          type: string
        description: Passed as a path segment.
      x-abdm-source-folder: Consent Management service
      responses:
        '400':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1082
                    message: Invalid X Auth token
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                  message:
                    type: string
                required: []
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Authentication required
  /api/consent-management/consents/auto-approval-policy/{autoApprovalId}/enable:
    post:
      operationId: p3_enable_auto_approval
      tags:
      - consent_management
      summary: Enable Auto Approval
      x-abdm-atom: hiecm.endpoint.p3-enable-auto-approval
      parameters:
      - name: autoApprovalId
        in: path
        required: true
        schema:
          type: string
        description: Passed as a path segment.
      x-abdm-source-folder: Consent Management service
      responses:
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required: []
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1314
                    message: Required header 'X-token' is not present.
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Authentication required
  /api/consent-management/consents/auto-approve:
    post:
      operationId: p3_consent_auto_approve
      tags:
      - consent_management
      summary: Consent Auto Approve
      x-abdm-atom: hiecm.endpoint.p3-consent-auto-approve
      x-abdm-source-folder: Consent Management service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                isApplicableForAllHIPs:
                  type: boolean
                hiu:
                  type: object
                  properties:
                    id:
                      type: string
                    name:
                      type: string
                  required:
                  - id
                  - name
                includedSources:
                  type: array
                  items:
                    type: object
                    properties:
                      hiTypes:
                        type: array
                        items:
                          type: string
                      purpose:
                        type: object
                        properties:
                          text:
                            type: string
                          code:
                            type: string
                          refUri:
                            type: string
                        required:
                        - code
                        - refUri
                        - text
                      hip:
                        type: 'null'
                      period:
                        type: object
                        properties:
                          from:
                            type: string
                          to:
                            type: string
                        required:
                        - from
                        - to
                    required:
                    - hiTypes
                    - hip
                    - period
                    - purpose
                excludedSources:
                  type: 'null'
              required:
              - excludedSources
              - hiu
              - includedSources
              - isApplicableForAllHIPs
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  isApplicableForAllHIPs: true
                  hiu:
                    id: IN0002222
                    name: <NAME>
                  includedSources:
                  - hiTypes:
                    - OPCONSULTATION
                    purpose:
                      text: Care Management
                      code: CAREMGT
                      refUri: string
                    hip: null
                    period:
                      from: '2025-09-30T16:51:40.617Z'
                      to: '2026-07-09T16:51:40.617Z'
                  excludedSources: null
      responses:
        '400':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
        '401':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: 'ABDM-9999: '
                    message: Authentication required
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  autoApprovalId:
                    type: string
                  message:
                    type: string
                  supportedHITypes:
                    type: array
                    items:
                      type: string
                required:
                - autoApprovalId
                - message
                - supportedHITypes
  /api/consent-management/consents/revoke:
    post:
      operationId: p3_revoke_consent
      tags:
      - consent_management
      summary: Revoke Consent
      x-abdm-atom: hiecm.endpoint.p3-revoke-consent
      x-abdm-source-folder: Consent Management service
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                consents:
                  type: array
                  items:
                    type: string
              required:
              - consents
            examples:
              from_nha_collection:
                summary: Example values, scrubbed
                value:
                  consents:
                  - <TXN_ID>
      responses:
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required: []
        '500':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                required:
                - code
                - message
              examples:
                recorded:
                  summary: Recorded response
                  value:
                    code: AS-1314
                    message: Required header 'X-token' is not present.
  /api/consent-management/consents/{consentArtefactId}:
    get:
      operationId: p3_get_consent_artefact_by_artefact_id
      tags:
      - consent_management
      summary: Get Consent Artefact by Artefact ID
      x-abdm-atom: hiecm.endpoint.p3-get-consent-artefact-by-artefact-id
      parameters:
      - name: consentArtefactId
        in: path
        required: true
        schema:
          type: string
        description: Passed as a path segment.
      x-abdm-source-folder: Consent Management service
      responses:
        '200':
          description: Example values, scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  consentDetail:
                    type: object
                    properties:
                      schemaVersion:
                        type: string
                      consentId:
                        type: string
                      createdAt:
                        type: string
                      lastUpdated:
                        type: string
                      patient:
                        type: object
                        properties:
                          id:
                            type: string
                        required:
                        - id
                      careContexts:
                        type: array
                        items:
                          type: object
                          properties:
                            patientReference:
                              type: string
                            careContextReference:
                              type: string
                          required:
                          - careContextReference
                          - patientReference
                      purpose:
                        type: object
                        properties:
                          text:
                            type: string
                          code:
                            type: string
                          refUri:
                            type: string
                        required:
                        - code
                        - refUri
                        - text
                      hip:
                        type: object
                        properties:
                          id:
                            type: string
                        required:
                        - id
                      hiu:
                        type: object
                        properties:
                          id:
                            type: string
                        required:
                        - id
                      consentManager:
                        type: object
                        properties:
                          id:
                            type: string
                        required:
                        - id
                      requester:
                        type: object
                        properties:
                          name:
                            type: string
                          identifier:
                            type: object
                            properties:
                              value:
                                type: string
                              type:
                                type: string
                              system:
                                type: string
                            required:
                            - system
                            - type
                            - value
                        required:
                        - identifier
                        - name
                      hiTypes:
                        type: array
                        items:
                          type: string
                      permission:
                        type: object
[...]
