openapi: 3.1.1
info:
  x-portal:
    module: m1
    label: M1 ABHA creation and verification
    position: 2
    icon: id-card
  title: ABDM M1, ABHA creation and verification
  summary: Create, find, log into and manage an ABHA.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://sandboxsupport.abdm.gov.in/
  x-abdm-gateway: hiecm
  x-abdm-module: M1
  x-abdm-phase: 1
  x-abdm-roles:
    - his
  description: Encrypt Aadhaar numbers, mobile numbers, OTP values and passwords under the certificate from GET /abha/api/v3/profile/public/certificate. See /docs/hiecm/v3/concepts/encryption.
x-abdm-sources:
  - file: catalogue/openapi/.raw/nha-2026-09-22/abha/ABHA Swagger split.yaml
    role: upstream
    hash: sha256:f635eaf1411d96dcf427773d45d3e6d67a57748612ca4b3217b101118620609c
    fetched: "2026-09-22"
  - file: catalogue/openapi/.raw/nha-2026-09-16/abha/M1 ABHA Collection.json
    role: upstream
    hash: sha256:e121c850ed891b6d96c241be3616e15fddeb967a22f600cfc08561c99f81fc65
    fetched: "2026-09-15"
    note: Used for the order of M1 calls only. See journeys/m1.yaml.
servers:
  - url: https://abhasbx.abdm.gov.in
    description: ABHA service, sandbox
security:
  - bearerAuth: []
tags:
  - name: Create ABHA - Aadhaar OTP
    description: |-
      Create an ABHA number with Aadhaar OTP. Send the Aadhaar OTP first, then create the ABHA with that OTP.

      **Call order:**
      1. Send Aadhaar OTP for ABHA enrolment
      2. Create ABHA - verify Aadhaar OTP
      3. After ABHA creation - send OTP to verify mobile (optional)
      4. After ABHA creation - verify mobile OTP (optional)
      5. After ABHA creation - send OTP to verify email (optional)
      6. After ABHA creation - verify email OTP (optional)
      7. After ABHA creation - get ABHA address suggestions
      8. After ABHA creation - create ABHA address
  - name: Create ABHA - Face Authentication
    description: |-
      Create an ABHA number with Aadhaar face authentication (ABHA app / QR flow). No OTP is needed to create the ABHA.

      **Call order:**
      1. Face auth - generate transaction ID (init)
      2. Face auth - capture PID / track status
      3. Create ABHA - Aadhaar face authentication
      4. After ABHA creation - send OTP to verify mobile (optional)
      5. After ABHA creation - verify mobile OTP (optional)
      6. After ABHA creation - send OTP to verify email (optional)
      7. After ABHA creation - verify email OTP (optional)
      8. After ABHA creation - get ABHA address suggestions
      9. After ABHA creation - create ABHA address
  - name: Create ABHA - Fingerprint
    description: |-
      Create an ABHA number with Aadhaar fingerprint authentication. The fingerprint PID replaces the OTP, so creating the ABHA is the first call.

      **Call order:**
      1. Create ABHA - Aadhaar fingerprint (bio)
      2. After ABHA creation - send OTP to verify mobile (optional)
      3. After ABHA creation - verify mobile OTP (optional)
      4. After ABHA creation - send OTP to verify email (optional)
      5. After ABHA creation - verify email OTP (optional)
      6. After ABHA creation - get ABHA address suggestions
      7. After ABHA creation - create ABHA address
  - name: Create ABHA - IRIS
    description: |-
      Create an ABHA number with Aadhaar IRIS authentication. The IRIS PID replaces the OTP, so creating the ABHA is the first call.

      **Call order:**
      1. Create ABHA - Aadhaar IRIS
      2. After ABHA creation - send OTP to verify mobile (optional)
      3. After ABHA creation - verify mobile OTP (optional)
      4. After ABHA creation - send OTP to verify email (optional)
      5. After ABHA creation - verify email OTP (optional)
      6. After ABHA creation - get ABHA address suggestions
      7. After ABHA creation - create ABHA address
  - name: Create ABHA - Demo Auth
    description: |-
      Create an ABHA number with Aadhaar demographic authentication (NHA-approved integrators only).

      **Call order:**
      1. Create ABHA - Demographic authentication (Demo Auth)
  - name: Child ABHA
    description: |-
      Create and manage Child ABHA. **These APIs are for specific Government integrators approved by NHA only.**

      **Call order:**
      1. Create Child ABHA
      2. Get Child ABHA list of the parent
      3. Update Child ABHA profile
      4. Child ABHA KYC - send Aadhaar OTP
      5. Child ABHA KYC - verify Aadhaar OTP
  - name: Login - Mobile Number
    description: |-
      Log in with a mobile number and mobile OTP, then pick the ABHA account.

      **Call order:**
      1. Login via Mobile number - send OTP
      2. Login via Mobile number - verify OTP
      3. Login via Mobile number - verify user (select ABHA)
  - name: Login - ABHA Number (Aadhaar OTP)
    description: |-
      Log in with an ABHA number and Aadhaar OTP.

      **Call order:**
      1. Login via ABHA number - send Aadhaar OTP
      2. Login via ABHA number - verify Aadhaar OTP
  - name: Login - ABHA Number (Mobile OTP)
    description: |-
      Log in with an ABHA number and ABHA (mobile) OTP.

      **Call order:**
      1. Login via ABHA number - send ABHA (mobile) OTP
      2. Login via ABHA number - verify ABHA (mobile) OTP
  - name: Login - Biometric v3.1
    description: |-
      Single-call biometric login (v3.1). Use the API for the chosen modality.

      **APIs:**
      - Login via Biometric (Fingerprint) - v3.1 single step
      - Login via Biometric (Iris) - v3.1 single step
  - name: Login - Face Auth QR (v3.1)
    description: |-
      Log in with Aadhaar face authentication through the ABHA app / QR flow.

      **Call order:**
      1. Face auth - generate transaction ID (init)
      2. Face auth - capture PID / track status
      3. Login via Face Auth (QR) - verify
  - name: Login - Aadhaar Number
    description: |-
      Log in with an Aadhaar number and Aadhaar OTP.

      **Call order:**
      1. Login via Aadhaar number - send Aadhaar OTP
      2. Login via Aadhaar number - verify Aadhaar OTP
  - name: Login - Biometric v3 (Fingerprint)
    description: |-
      Two-step fingerprint login with an ABHA number (v3). (Not in the Postman collection; see *Login - Biometric v3.1*.)

      **Call order:**
      1. Login via Biometric (Fingerprint) - send authentication request
      2. Login via Biometric (Fingerprint) - verify
  - name: Login - Biometric v3 (Iris)
    description: |-
      Two-step iris login with an ABHA number (v3). (Not in the Postman collection; see *Login - Biometric v3.1*.)

      **Call order:**
      1. Login via Biometric (Iris) - send authentication request
      2. Login via Biometric (Iris) - verify
  - name: Profile - Update Mobile
    description: |-
      Change the mobile number of a logged-in ABHA (`X-token`).

      **Call order:**
      1. Update mobile - send OTP
      2. Update mobile - verify OTP
  - name: Profile - Re-KYC
    description: |-
      Re-verify the ABHA against Aadhaar.

      **Call order:**
      1. Re-KYC - send Aadhaar OTP
      2. Re-KYC - verify Aadhaar OTP
  - name: ABHA Card & Profile
    description: |-
      QR code, ABHA card and profile of a logged-in ABHA (`X-token`).

      **APIs:**
      - Get ABHA QR code
      - Retrieve ABHA card image
      - Get ABHA profile
      - Download ABHA card
  - name: Profile - Update Photo
    description: |-
      Update the profile photo. (Not in the Postman collection.)

      **Call order:**
      1. Update profile photo
  - name: Find ABHA - Mobile OTP
    description: |-
      Search ABHA accounts by mobile, pick one, and verify with mobile OTP.

      **Call order:**
      1. Search ABHA by mobile
      2. Find ABHA via Mobile - send OTP
      3. Find ABHA via Mobile - verify OTP
  - name: Find ABHA - Face
    description: |-
      Search ABHA accounts by mobile, pick one, and verify with face authentication.

      **Call order:**
      1. Search ABHA by mobile
      2. Find ABHA via Face - send authentication request
      3. Face auth - capture PID / track status
      4. Find ABHA via Face - verify
  - name: Find ABHA - Fingerprint
    description: |-
      Search ABHA accounts by mobile, pick one, and verify with fingerprint.

      **Call order:**
      1. Search ABHA by mobile
      2. Find ABHA via Fingerprint - send authentication request
      3. Find ABHA via Fingerprint - verify
  - name: Find ABHA - Aadhaar OTP
    description: |-
      Search ABHA accounts by mobile, pick one, and verify with Aadhaar OTP.

      **Call order:**
      1. Search ABHA by mobile
      2. Find ABHA via Aadhaar OTP - send OTP
      3. Find ABHA via Aadhaar OTP - verify OTP
  - name: Find ABHA - IRIS
    description: |-
      Search ABHA accounts by mobile, pick one, and verify with IRIS. (Not in the Postman collection.)

      **Call order:**
      1. Search ABHA by mobile
      2. Find ABHA via IRIS - send authentication request
      3. Find ABHA via IRIS - verify
  - name: Forgot ABHA - Mobile OTP
    description: |-
      Retrieve a forgotten ABHA number with mobile OTP. (Not in the Postman collection.)

      **Call order:**
      1. Forgot ABHA via Mobile - send OTP
      2. Forgot ABHA via Mobile - verify OTP
  - name: Forgot ABHA - Aadhaar OTP
    description: |-
      Retrieve a forgotten ABHA number with Aadhaar OTP. (Not in the Postman collection.)

      **Call order:**
      1. Forgot ABHA via Aadhaar - send OTP
      2. Forgot ABHA via Aadhaar - verify OTP
  - name: Benefit - Create ABHA via Demo Auth
    description: |-
      Create an ABHA for a benefit program with demographic authentication.

      **Call order:**
      1. Create ABHA - Demographic authentication (Demo Auth)
  - name: Benefit - Child ABHA
    description: |-
      Create a Child ABHA for a benefit program. The parent's ABHA is created (or fetched) with Demo Auth first, only to get the parent's `X-token`.

      **Call order:**
      1. Create ABHA - Demographic authentication (Demo Auth)
      2. Create Child ABHA
      3. Get Child ABHA list of the parent
      4. Update Child ABHA profile
      5. Child ABHA KYC - send Aadhaar OTP
      6. Child ABHA KYC - verify Aadhaar OTP
  - name: Benefit - Search
    description: |-
      Find the benefit programs linked to an ABHA. Use the API for the identifier you have.

      **APIs:**
      - Benefit search by xmlUid
      - Benefit search by ABHA number
      - Get benefits linked to an ABHA number
  - name: Benefit - Link / De-link
    description: |-
      Link or de-link a benefit program. Use the API for the identifier you have.

      **APIs:**
      - Link / De-link benefit using X-token
      - Link / De-link benefit using ABHA number
      - Link / De-link benefit using xmlUid
  - name: Access Tokens & Encryption
    description: |-
      Gateway access token (`Authorization: Bearer <token>` for every ABHA API), user-token refresh, and the public certificate used for RSA encryption.

      **APIs:**
      - Refresh user token
      - Gateway session - get access token
      - Get public certificate (RSA encryption key)
  - name: ABHA Address Login - Mobile OTP
    description: |-
      Log in with an ABHA address using mobile OTP, then fetch the profile and PHR card.

      **Call order:**
      1. Search ABHA address (auth methods)
      2. ABHA address login via Mobile OTP - send OTP
      3. ABHA address login via Mobile OTP - verify
      4. Get ABHA-address profile
      5. Get PHR card
      6. Get ABHA-address QR code
  - name: ABHA Address Login - Aadhaar OTP
    description: |-
      Log in with an ABHA address using Aadhaar OTP, then fetch the profile and PHR card.

      **Call order:**
      1. Search ABHA address (auth methods)
      2. ABHA address login via Aadhaar OTP - send OTP
      3. ABHA address login via Aadhaar OTP - verify
      4. Get ABHA-address profile
      5. Get PHR card
      6. Get ABHA-address QR code
  - name: ABHA Address Login - Fingerprint
    description: |-
      Log in with an ABHA address using fingerprint, then fetch the profile, PHR card and QR code.

      **Call order:**
      1. ABHA address login via Fingerprint - send authentication request
      2. ABHA address login via Fingerprint - verify
      3. Get ABHA-address profile
      4. Get PHR card
      5. Get ABHA-address QR code
  - name: ABHA Address Login - IRIS
    description: |-
      Log in with an ABHA address using IRIS, then fetch the profile, PHR card and QR code.

      **Call order:**
      1. ABHA address login via IRIS - send authentication request
      2. ABHA address login via IRIS - verify
      3. Get ABHA-address profile
      4. Get PHR card
      5. Get ABHA-address QR code
paths:
  /abha/api/v3/enrollment/request/otp#aadhaar-otp:
    post:
      tags:
        - Create ABHA - Aadhaar OTP
      summary: Send Aadhaar OTP for ABHA enrolment
      operationId: m1_post_v3_enrollment_request_otp_aadhaar_otp
      description: |-
        Starts ABHA creation with Aadhaar OTP. UIDAI sends an OTP to the mobile number linked with the Aadhaar number. Use the `txnId` from the response in *Create ABHA - verify Aadhaar OTP*.

        **Endpoint:** `POST /abha/api/v3/enrollment/request/otp`

        **Flow:** **Create ABHA - Aadhaar OTP** - step 1 of 8
        - Previous: none (first call of this flow)
        - Next: *Create ABHA - verify Aadhaar OTP*

        **Headers** (plus `Authorization: Bearer <gateway token>`):

        | Header | Required | Description |
        |---|---|---|
        | REQUEST-ID | yes | Unique UUID for every request. |
        | TIMESTAMP | yes | Current UTC timestamp in ISO-8601 format. |

        **Request body for this use case:**

        | Field | Value / Type | Required | Description |
        |---|---|---|---|
        | `txnId` | string | no | Transaction ID returned by the previous step of this flow. |
        | `scope` | `["abha-enrol"]` | yes | Scope that selects this use case. Send exactly the values listed for this API. |
        | `loginHint` | `"aadhaar"` | yes | Type of identifier sent in `loginId`. |
        | `loginId` | string | yes | Identifier value, RSA-encrypted with the ABHA public certificate. |
        | `otpSystem` | `"aadhaar"` | yes | System that generates and delivers the OTP (`aadhaar` = UIDAI, `abdm` = ABDM). |

        > **Note:** `txnId` is optional here. Leave it empty on the first call, or send a previous `txnId` to resend the OTP.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                  description: Transaction ID returned by the previous step of this flow.
                scope:
                  type: array
                  items:
                    type: string
                    enum:
                      - abha-enrol
                  description: Scope that selects this use case. Send exactly the values listed for this API.
                  minItems: 1
                  maxItems: 1
                  example:
                    - abha-enrol
                loginHint:
                  type: string
                  description: Type of identifier sent in `loginId`.
                  enum:
                    - aadhaar
                loginId:
                  type: string
                  description: Identifier value, RSA-encrypted with the ABHA public certificate.
                otpSystem:
                  type: string
                  description: System that generates and delivers the OTP (`aadhaar` = UIDAI, `abdm` = ABDM).
                  enum:
                    - aadhaar
              required:
                - scope
                - loginHint
                - loginId
                - otpSystem
            examples:
              Send Aadhaar OTP for ABHA enrolment:
                value:
                  txnId: "{{txnId}}"
                  scope:
                    - abha-enrol
                  loginHint: aadhaar
                  loginId: "{{encrypted aadhaar number}}"
                  otpSystem: aadhaar
                summary: Send Aadhaar OTP for ABHA enrolment
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
      responses:
        "200":
          description: "Success: ABHA enrolment via Aadhaar-positive flow; ABHA Creation via Aadhaar OTP-REQUEST OTP FOR AADHAAR AUTHENTICATION"
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: c6a49f66-c740-4a7d-a93d-8c0431bbb8f3
                  message:
                    type: string
                    example: OTP is sent to Aadhaar registered mobile number ending with*******0903,OTP sent to Aadhaar registered mobile number ending with ******0903,OTP sent to email address ending with *************<EMAIL>
              examples:
                ABHA enrolment via Aadhaar-positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                    message: OTP sent to Aadhaar registered mobile number ending with ******0903
                ABHA Creation via Aadhaar OTP-REQUEST OTP FOR AADHAAR AUTHENTICATION:
                  value:
                    txnId: c6a49f66-c740-4a7d-a93d-8c0431bbb8f3
                    message: OTP is sent to Aadhaar registered mobile number ending with*******0903
        "400":
          description: "Bad Request (request validation failed): ABHA enrolment via Aadhaar-Invalid scope; ABHA enrolment via Aadhaar-Invalid LoginId; ABHA enrolment via Aadhaar-Invalid Login Hint; ABHA Creation via Aadhaar OTP-Invalid scope; ABHA Creation via Aadhaar OTP-Invalid Login Hint"
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:13:04.000Z"
                  - type: object
                    properties:
                      loginId:
                        type: string
                        example: Invalid LoginId
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:15:14.000Z"
                  - type: object
                    properties:
                      loginHint:
                        type: string
                        example: Invalid Login Hint
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:16:16.000Z"
              examples:
                ABHA enrolment via Aadhaar-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:13:04.000Z"
                ABHA enrolment via Aadhaar-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: "2024-05-10T11:15:14.000Z"
                ABHA enrolment via Aadhaar-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: "2024-05-10T11:16:16.000Z"
                ABHA Creation via Aadhaar OTP-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:13:04.000Z"
                ABHA Creation via Aadhaar OTP-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: "2024-05-10T11:16:16.000Z"
        "401":
          description: "Unauthorized (invalid / expired gateway token, X-token or benefit access): ABHA enrolment via Aadhaar-Invalid access token; ABHA Creation via Aadhaar OTP-Invalid access token"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                ABHA enrolment via Aadhaar-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                ABHA Creation via Aadhaar OTP-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
      x-actual-path: /abha/api/v3/enrollment/request/otp
      x-use-case: aadhaar-otp
      x-journey:
        journey: Create ABHA - Aadhaar OTP
        step: 1
        of: 8
        kind: flow
      x-abdm-nha-operation-id: enrolRequestOtpAadhaar
      x-abdm-title: Send Aadhaar OTP for ABHA enrolment
  /abha/api/v3/enrollment/enrol/byAadhaar#otp:
    post:
      tags:
        - Create ABHA - Aadhaar OTP
      summary: Create ABHA - verify Aadhaar OTP
      operationId: m1_post_v3_enrollment_enrol_byaadhaar_otp
      description: |-
        Verifies the Aadhaar OTP and creates the ABHA number, or returns the existing ABHA if one is already linked to the Aadhaar. The response contains the ABHA profile, `tokens.token` (user X-token) and a refresh token. `mobile` is the number to link with the ABHA. If it is not the Aadhaar-linked mobile, verify it next with *After ABHA creation - send OTP to verify mobile (optional)*.

        **Endpoint:** `POST /abha/api/v3/enrollment/enrol/byAadhaar`

        **Flow:** **Create ABHA - Aadhaar OTP** - step 2 of 8
        - Previous: *Send Aadhaar OTP for ABHA enrolment*
        - Next: *After ABHA creation - send OTP to verify mobile (optional)*

        **Headers** (plus `Authorization: Bearer <gateway token>`):

        | Header | Required | Description |
        |---|---|---|
        | TIMESTAMP | yes | Current UTC timestamp in ISO-8601 format. |
        | REQUEST-ID | yes | Unique UUID for every request. |
        | Benefit-Name | no | **Applicable for user who is enrolling via Benefit Program.** |

        **Request body for this use case:**

        | Field | Value / Type | Required | Description |
        |---|---|---|---|
        | `authData` | object | yes | Authentication payload for this use case. |
        | `authData.authMethods` | `["otp"]` | yes | Authentication method used in this step. |
        | `authData.otp` | object | yes | OTP authentication block. |
        | `authData.otp.txnId` | string | yes | Transaction ID returned by the previous step of this flow. |
        | `authData.otp.otpValue` | string | yes | OTP received by the user, RSA-encrypted. |
        | `authData.otp.mobile` | string | no | Mobile number to be linked with the ABHA (plain, 10 digits). |
        | `consent` | object | yes | Consent captured from the user for ABHA enrolment. |
        | `consent.code` | string | yes | Consent code. Use `abha-enrollment`. |
        | `consent.version` | string | yes | Consent version. Use `1.4`. |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                        enum:
                          - otp
                      description: Authentication method used in this step.
                      minItems: 1
                      maxItems: 1
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                          description: Transaction ID returned by the previous step of this flow.
                        otpValue:
                          type: string
                          description: OTP received by the user, RSA-encrypted.
                        mobile:
                          type: string
                          description: Mobile number to be linked with the ABHA (plain, 10 digits).
                      required:
                        - txnId
                        - otpValue
                      description: OTP authentication block.
                  required:
                    - authMethods
                    - otp
                  description: Authentication payload for this use case.
                consent:
                  type: object
                  properties:
                    code:
                      type: string
                      description: Consent code. Use `abha-enrollment`.
                    version:
                      type: string
                      description: Consent version. Use `1.4`.
                  required:
                    - code
                    - version
                  description: Consent captured from the user for ABHA enrolment.
              required:
                - authData
                - consent
            examples:
              Create ABHA - verify Aadhaar OTP:
                value:
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: "{{txnId}}"
                      otpValue: "{{encrypted otp}}"
                      mobile: "{{mobile number}}"
                  consent:
                    code: abha-enrollment
                    version: "1.4"
                summary: Create ABHA - verify Aadhaar OTP
      security:
        - bearerAuth: []
      parameters:
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: BENEFIT_NAME
          in: header
          schema:
            type: string
          description: "**Applicable for user who is enrolling via Benefit Program.**"
          example: "{{Benefit Name}}"
          required: false
      responses:
        "200":
          description: "Success: Create ABHA by verifying OTP - Positive flow"
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: This account already exist,Account created successfully
                      tokens:
                        type: object
                        properties:
                          token:
                            type: string
                          expiresIn:
                            type: integer
                            example: 1800
                          refreshToken:
                            type: string
                          refreshExpiresIn:
                            type: integer
                            example: 1296000
                      ABHAProfile:
                        type: object
                        properties:
                          firstName:
                            type: string
                            example: Username
                          middleName:
                            type: string
                            example: ""
                          lastName:
                            type: string
                            example: <NAME>
                          dob:
                            type: string
                            example: <DOB>
                          gender:
                            type: string
                            example: F
                          mobile:
                            type: string
                            example: "******0903"
                          phrAddress:
                            type: array
                            items:
                              type: string
                            example:
                              - <ABHA_ADDRESS>
                          districtCode:
                            type: string
                            example: "490"
                          stateCode:
                            type: string
                            example: "27"
                          abhaType:
                            type: string
                            example: CHILD
                          stateName:
                            type: string
                            example: Maharashtra
                          districtName:
                            type: string
                            example: <ADDRESS>
                          ABHANumber:
                            type: string
                            example: <ABHA_NUMBER>
                          abhaStatus:
                            type: string
                            example: ACTIVE
                      isNew:
                        type: boolean
                        example: false
                  - type: object
                    properties:
                      healthIdNumber:
                        type: string
                        example: <ABHA_NUMBER>
                      healthId:
                        type: string
                        example: <ABHA_ADDRESS>
                      mobile:
                        type: string
                        example: "******0903"
                      firstName:
                        type: string
                        example: Username
                      middleName:
                        type: string
                        example: <NAME>
                      lastName:
                        type: string
                        example: <NAME>
                      name:
                        type: string
                        example: <NAME>
                      yearOfBirth:
                        type: string
                        example: <DOB>
                      dayOfBirth:
                        type: string
                        example: <DOB>
                      monthOfBirth:
                        type: string
                        example: <DOB>
                      gender:
                        type: string
                        example: F
                      stateCode:
                        type: string
                        example: "27"
                      districtCode:
                        type: string
                        example: "490"
                      stateName:
                        type: string
                        example: MAHARASHTRA
                      districtName:
                        type: string
                        example: <ADDRESS>
                      kycVerified:
                        type: boolean
                        example: true
                      token:
                        type: string
                      jwtResponse:
                        type: object
                        properties:
                          token:
                            type: string
                          expiresIn:
                            type: integer
                            example: 1800
                          refreshToken:
                            type: string
                          refreshExpiresIn:
                            type: integer
                            example: 1296000
                      status:
                        type: string
                        example: ACTIVE
                      new:
                        type: string
                        example: true,false
              examples:
                Create ABHA by verifying OTP - Positive flow:
                  value:
                    message: This account already exist
                    txnId: b89ec10d-71fa-4280-83b3-1fedad66b5f5
                    tokens:
                      token: <TOKEN>
                      expiresIn: 1800
                      refreshToken: <TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: Username
                      middleName: <NAME>
                      lastName: <NAME>
                      dob: <DOB>
                      gender: M
                      photo: <BASE64_PHOTO>
                      mobile: "******0903"
                      phrAddress:
                        - <ABHA_ADDRESS>
                      address: <ADDRESS>
                      districtCode: "478"
                      stateCode: "27"
                      pinCode: <PINCODE>
                      abhaType: STANDARD
                      stateName: MAHARASHTRA
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: false
        "400":
          description: "Bad Request (request validation failed): Create ABHA by verifying OTP-Invalid Transaction Id; Create ABHA by verifying OTP-Invalid authMethod; Create ABHA by verifying OTP-Invalid Mobile Number"
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: Invalid Transaction Id
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:41:47.000Z"
                  - type: object
                    properties:
                      authMethods:
                        type: string
                        example: Invalid Auth Method
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:40:16.000Z"
                  - type: object
                    properties:
                      mobile:
                        type: string
                        example: Invalid Mobile Number
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:44:46.000Z"
                  - type: object
                    properties:
                      districtCode:
                        type: string
                        example: Invalid state and district code
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T14:37:47.000Z"
              examples:
                Create ABHA by verifying OTP-Invalid Transaction Id:
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T11:41:47.000Z"
                Create ABHA by verifying OTP-Invalid authMethod:
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: "2024-05-10T11:40:16.000Z"
                Create ABHA by verifying OTP-Invalid Mobile Number:
                  value:
                    mobile: Invalid Mobile Number
                    timestamp: "2024-05-10T11:44:46.000Z"
        "401":
          description: "Unauthorized (invalid / expired gateway token, X-token or benefit access): Invalid Benefit Name (generic)"
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: Invalid Benefit Name,X-token expired
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T18:52:59.000Z"
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            example: ABDM-1021
                          message:
                            type: string
                            example: Lack of required privileges
              examples:
                Invalid Benefit Name (generic):
                  value:
                    message: Invalid Benefit Name
                    timestamp: "2024-05-10T14:39:48.000Z"
        "422":
          description: "Unprocessable Entity (business rule or UIDAI failure): Create ABHA by verifying OTP- Invalid OTP value"
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: ABDM-1157
                      message:
                        type: string
                        example: "Child ABHA’s account limit has been exceeded for the requested Abha ID number ‘<ABHA_NUMBER>, UIDAI Error code : 400 : Invalid Aadhaar OTP value. , UIDAI Error code : 501 : Invalid certificate identifier in ci attribute of Skey,  The information you provided does not match the details on record with Aadhaar. Please verify and provide accurate information., The mobile number provided by you is already linked to 6 ABHA Numbers. Please provide a different Mobile Number"
              examples:
                Create ABHA by verifying OTP- Invalid OTP value:
                  value:
                    error:
                      code: ABDM-1204
                      message: "UIDAI Error code : 400 : Invalid Aadhaar OTP value."
        "500":
          description: Internal Server Error.
      x-actual-path: /abha/api/v3/enrollment/enrol/byAadhaar
      x-use-case: otp
      x-journey:
        journey: Create ABHA - Aadhaar OTP
        step: 2
        of: 8
        kind: flow
      x-abdm-nha-operation-id: enrolByAadhaarOtp
      x-abdm-title: Create ABHA - verify Aadhaar OTP
  /abha/api/v3/enrollment/request/otp#mobile-verify--create-abha-aadhaar-otp:
    post:
      tags:
        - Create ABHA - Aadhaar OTP
      summary: After ABHA creation - send OTP to verify mobile (optional)
      operationId: m1_post_v3_enrollment_request_otp_mobile_verify_create_ab_1b66bb
      description: |-
        Optional, called after the ABHA is created. Needed only when the `mobile` sent in the create-ABHA call is **not** the Aadhaar-linked mobile. ABDM sends an OTP to that mobile number so it can be linked to the ABHA. Send the `txnId` from the ABHA creation response.

        **Endpoint:** `POST /abha/api/v3/enrollment/request/otp`

        **Flow:** **Create ABHA - Aadhaar OTP** - step 3 of 8
        - Previous: *Create ABHA - verify Aadhaar OTP*
        - Next: *After ABHA creation - verify mobile OTP (optional)*

        **Headers** (plus `Authorization: Bearer <gateway token>`):

        | Header | Required | Description |
        |---|---|---|
        | REQUEST-ID | yes | Unique UUID for every request. |
        | TIMESTAMP | yes | Current UTC timestamp in ISO-8601 format. |

        **Request body for this use case:**

        | Field | Value / Type | Required | Description |
        |---|---|---|---|
        | `txnId` | string | yes | Transaction ID returned by the previous step of this flow. |
        | `scope` | `["abha-enrol", "mobile-verify"]` | yes | Scope that selects this use case. Send exactly the values listed for this API. |
        | `loginHint` | `"mobile"` | yes | Type of identifier sent in `loginId`. |
        | `loginId` | string | yes | Identifier value, RSA-encrypted with the ABHA public certificate. |
        | `otpSystem` | `"abdm"` | yes | System that generates and delivers the OTP (`aadhaar` = UIDAI, `abdm` = ABDM). |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                  description: Transaction ID returned by the previous step of this flow.
                scope:
                  type: array
                  items:
                    type: string
                    enum:
                      - abha-enrol
                      - mobile-verify
                  description: Scope that selects this use case. Send exactly the values listed for this API.
                  minItems: 2
                  maxItems: 2
                  example:
                    - abha-enrol
                    - mobile-verify
                loginHint:
                  type: string
                  description: Type of identifier sent in `loginId`.
                  enum:
                    - mobile
                loginId:
                  type: string
                  description: Identifier value, RSA-encrypted with the ABHA public certificate.
                otpSystem:
                  type: string
                  description: System that generates and delivers the OTP (`aadhaar` = UIDAI, `abdm` = ABDM).
                  enum:
                    - abdm
              required:
                - txnId
                - scope
                - loginHint
                - loginId
                - otpSystem
            examples:
              After ABHA creation - send OTP to verify mobile (optional):
                value:
                  txnId: "{{txnId}}"
                  scope:
                    - abha-enrol
                    - mobile-verify
                  loginHint: mobile
                  loginId: "{{encrypted mobileNumber}}"
                  otpSystem: abdm
                summary: After ABHA creation - send OTP to verify mobile (optional)
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
      responses:
        "200":
          description: "Success: Mobile Update - Send OTP- positive flow"
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: c6a49f66-c740-4a7d-a93d-8c0431bbb8f3
                  message:
                    type: string
                    example: OTP is sent to Aadhaar registered mobile number ending with*******0903,OTP sent to Aadhaar registered mobile number ending with ******0903,OTP sent to email address ending with *************<EMAIL>
              examples:
                Mobile Update - Send OTP- positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-107h6b18a5fa
                    message: OTP sent to mobile number ending with ******0903
        "400":
          description: "Bad Request (request validation failed): Mobile Update - Send OTP-Invalid Scope; Mobile Update - Send OTP-Invalid LoginId; Mobile Update - Send OTP-Invalid Login Hint"
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:13:04.000Z"
                  - type: object
                    properties:
                      loginId:
                        type: string
                        example: Invalid LoginId
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:15:14.000Z"
                  - type: object
                    properties:
                      loginHint:
                        type: string
                        example: Invalid Login Hint
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:16:16.000Z"
              examples:
                Mobile Update - Send OTP-Invalid Scope:
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:13:04.000Z"
                Mobile Update - Send OTP-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: "2024-05-10T11:15:14.000Z"
                Mobile Update - Send OTP-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: "2024-05-10T11:16:16.000Z"
        "401":
          description: "Unauthorized (invalid / expired gateway token, X-token or benefit access): Mobile Update - Send OTP-Invalid access token"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                Mobile Update - Send OTP-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
      x-actual-path: /abha/api/v3/enrollment/request/otp
      x-use-case: mobile-verify
      x-canonical-operationId: enrolRequestOtpMobile
      x-also-used-in:
        - Create ABHA - Face Authentication
        - Create ABHA - Fingerprint
        - Create ABHA - IRIS
      x-journey:
        journey: Create ABHA - Aadhaar OTP
        step: 3
        of: 8
        kind: flow
      x-abdm-nha-operation-id: enrolRequestOtpMobile_CreateAbhaAadhaarOtp
      x-abdm-title: After ABHA creation - send OTP to verify mobile (optional)
  /abha/api/v3/enrollment/auth/byAbdm#mobile-verify--create-abha-aadhaar-otp:
    post:
      tags:
        - Create ABHA - Aadhaar OTP
      summary: After ABHA creation - verify mobile OTP (optional)
      operationId: m1_post_v3_enrollment_auth_byabdm_mobile_verify_create_ab_091285
      description: |-
        Verifies the OTP sent by *After ABHA creation - send OTP to verify mobile (optional)* and links the mobile number to the newly created ABHA.

        **Endpoint:** `POST /abha/api/v3/enrollment/auth/byAbdm`

        **Flow:** **Create ABHA - Aadhaar OTP** - step 4 of 8
        - Previous: *After ABHA creation - send OTP to verify mobile (optional)*
        - Next: *After ABHA creation - send OTP to verify email (optional)*

        **Headers** (plus `Authorization: Bearer <gateway token>`):

        | Header | Required | Description |
        |---|---|---|
        | REQUEST-ID | yes | Unique UUID for every request. |
        | TIMESTAMP | yes | Current UTC timestamp in ISO-8601 format. |

        **Request body for this use case:**

        | Field | Value / Type | Required | Description |
        |---|---|---|---|
        | `scope` | `["abha-enrol", "mobile-verify"]` | yes | Scope that selects this use case. Send exactly the values listed for this API. |
        | `authData` | object | yes | Authentication payload for this use case. |
        | `authData.authMethods` | `["otp"]` | yes | Authentication method used in this step. |
        | `authData.otp` | object | yes | OTP authentication block. |
        | `authData.otp.txnId` | string | yes | Transaction ID returned by the previous step of this flow. |
        | `authData.otp.otpValue` | string | yes | OTP received by the user, RSA-encrypted. |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                    enum:
                      - abha-enrol
                      - mobile-verify
                  description: Scope that selects this use case. Send exactly the values listed for this API.
                  minItems: 2
                  maxItems: 2
                  example:
                    - abha-enrol
                    - mobile-verify
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                        enum:
                          - otp
                      description: Authentication method used in this step.
                      minItems: 1
                      maxItems: 1
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                          description: Transaction ID returned by the previous step of this flow.
                        otpValue:
                          type: string
                          description: OTP received by the user, RSA-encrypted.
                      required:
                        - txnId
                        - otpValue
                      description: OTP authentication block.
                  required:
                    - authMethods
                    - otp
                  description: Authentication payload for this use case.
              required:
                - scope
                - authData
            examples:
              After ABHA creation - verify mobile OTP (optional):
                value:
                  scope:
                    - abha-enrol
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: "{{txnId}}"
                      otpValue: "{{encrypted otp}}"
                summary: After ABHA creation - verify mobile OTP (optional)
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
      responses:
        "200":
          description: "Success: Mobile Update - Verify OTP-positive flow; Mobile Update - Verify OTP-OTP EXPIRED"
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 9c5d453e-756f-45e1-9766-43b9cc1190de
                  authResult:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: OTP expired, please try again,Mobile number is now successfully linked to your Account,Email address is now successfully linked to your Account
                  accounts:
                    type: array
                    items:
                      type: object
                    example:
                      - ABHANumber: <ABHA_NUMBER>
              examples:
                Mobile Update - Verify OTP-positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    authResult: success
                    message: Mobile number is now successfully linked to your Account
                    accounts:
                      - ABHANumber: <ABHA_NUMBER>
                Mobile Update - Verify OTP-OTP EXPIRED:
                  value:
                    txnId: 9c5d453e-756f-45e1-9766-43b9cc1190de
                    authResult: failed
                    message: OTP expired, please try again
                    accounts: []
        "400":
          description: "Bad Request (request validation failed): Mobile Update - Verify OTP; Invalid Transaction Id; Invalid Scope; Invalid AuthMethod"
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: Invalid Transaction Id
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:41:47.000Z"
                  - type: object
                    properties:
                      authMethods:
                        type: string
                        example: Invalid Auth Method
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:40:16.000Z"
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: 30839193-9788-4c0d-9459-7cd70a
                      description:
                        type: string
                        example: Invalid OTP value
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T14:37:47.000Z"
              examples:
                Mobile Update - Verify OTP:
                  summary: Invalid OTP Value
                  value:
                    txnId: 30839193-9788-4c0d-9459-7cd70a
                    description: Invalid OTP value
                Invalid Transaction Id:
                  summary: Invalid Transaction Id
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T11:41:47.000Z"
                Invalid Scope:
                  summary: Invalid scope
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:41:47.000Z"
                Invalid AuthMethod:
                  summary: Invalid authMethod
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: "2024-05-10T11:21:54.000Z"
        "401":
          description: "Unauthorized (invalid / expired gateway token, X-token or benefit access): Invalid access token"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: "Internal Server Error: Mobile Update - Verify OTP-Invalid access token"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
              examples:
                Mobile Update - Verify OTP-Invalid access token:
                  value:
                    code: "900900"
                    message: Unclassified Authentication Failure
                    description: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
      x-actual-path: /abha/api/v3/enrollment/auth/byAbdm
      x-use-case: mobile-verify
      x-canonical-operationId: enrolVerifyMobileOtp
      x-also-used-in:
        - Create ABHA - Face Authentication
        - Create ABHA - Fingerprint
        - Create ABHA - IRIS
      x-journey:
        journey: Create ABHA - Aadhaar OTP
        step: 4
        of: 8
        kind: flow
      x-abdm-nha-operation-id: enrolVerifyMobileOtp_CreateAbhaAadhaarOtp
      x-abdm-title: After ABHA creation - verify mobile OTP (optional)
  /abha/api/v3/enrollment/request/otp#email-verify--create-abha-aadhaar-otp:
    post:
      tags:
        - Create ABHA - Aadhaar OTP
      summary: After ABHA creation - send OTP to verify email (optional)
      operationId: m1_post_v3_enrollment_request_otp_email_verify_create_abh_ddbed1
      description: |-
        Optional. Sends an ABDM OTP to an email address so it can be linked to the newly created ABHA. Send the `txnId` from the previous enrolment step.

        **Endpoint:** `POST /abha/api/v3/enrollment/request/otp`

        **Flow:** **Create ABHA - Aadhaar OTP** - step 5 of 8
        - Previous: *After ABHA creation - verify mobile OTP (optional)*
        - Next: *After ABHA creation - verify email OTP (optional)*

        **Headers** (plus `Authorization: Bearer <gateway token>`):

        | Header | Required | Description |
        |---|---|---|
        | REQUEST-ID | yes | Unique UUID for every request. |
        | TIMESTAMP | yes | Current UTC timestamp in ISO-8601 format. |

        **Request body for this use case:**

        | Field | Value / Type | Required | Description |
        |---|---|---|---|
        | `txnId` | string | yes | Transaction ID returned by the previous step of this flow. |
        | `scope` | `["abha-enrol", "email-verify"]` | yes | Scope that selects this use case. Send exactly the values listed for this API. |
        | `loginHint` | `"email"` | yes | Type of identifier sent in `loginId`. |
        | `loginId` | string | yes | Identifier value, RSA-encrypted with the ABHA public certificate. |
        | `otpSystem` | `"abdm"` | yes | System that generates and delivers the OTP (`aadhaar` = UIDAI, `abdm` = ABDM). |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                  description: Transaction ID returned by the previous step of this flow.
                scope:
                  type: array
                  items:
                    type: string
                    enum:
                      - abha-enrol
                      - email-verify
                  description: Scope that selects this use case. Send exactly the values listed for this API.
                  minItems: 2
                  maxItems: 2
                  example:
                    - abha-enrol
                    - email-verify
                loginHint:
                  type: string
                  description: Type of identifier sent in `loginId`.
                  enum:
                    - email
                loginId:
                  type: string
                  description: Identifier value, RSA-encrypted with the ABHA public certificate.
                otpSystem:
                  type: string
                  description: System that generates and delivers the OTP (`aadhaar` = UIDAI, `abdm` = ABDM).
                  enum:
                    - abdm
              required:
                - txnId
                - scope
                - loginHint
                - loginId
                - otpSystem
            examples:
              After ABHA creation - send OTP to verify email (optional):
                value:
                  txnId: "{{txnId}}"
                  scope:
                    - abha-enrol
                    - email-verify
                  loginHint: email
                  loginId: "{{encrypted email}}"
                  otpSystem: abdm
                summary: After ABHA creation - send OTP to verify email (optional)
                description: "Source: Postman: ABHA Creation/1. Create ABHA - Aadhaar OTP/1.5"
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
      responses:
        "200":
          description: "Success: Email Verify via OTP-positive flow"
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: c6a49f66-c740-4a7d-a93d-8c0431bbb8f3
                  message:
                    type: string
                    example: OTP is sent to Aadhaar registered mobile number ending with*******0903,OTP sent to Aadhaar registered mobile number ending with ******0903,OTP sent to email address ending with *************<EMAIL>
              examples:
                Email Verify via OTP-positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                    message: OTP sent to email address ending with *************<EMAIL>
        "400":
          description: "Bad Request (request validation failed): ABHA Verify via Email-Invalid scope; ABHA Verify via Email-Invalid LoginId; ABHA Verify via Email-Invalid Login Hint"
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:13:04.000Z"
                  - type: object
                    properties:
                      loginId:
                        type: string
                        example: Invalid LoginId
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:15:14.000Z"
                  - type: object
                    properties:
                      loginHint:
                        type: string
                        example: Invalid Login Hint
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:16:16.000Z"
              examples:
                ABHA Verify via Email-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:13:04.000Z"
                ABHA Verify via Email-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: "2024-05-10T11:15:14.000Z"
                ABHA Verify via Email-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: "2024-05-10T11:16:16.000Z"
        "401":
          description: "Unauthorized (invalid / expired gateway token, X-token or benefit access): Email verify via  OTP-Invalid access token"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                Email verify via  OTP-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: Internal Server Error.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
      x-actual-path: /abha/api/v3/enrollment/request/otp
      x-use-case: email-verify
      x-canonical-operationId: enrolRequestOtpEmail
      x-also-used-in:
        - Create ABHA - Face Authentication
        - Create ABHA - Fingerprint
        - Create ABHA - IRIS
      x-journey:
        journey: Create ABHA - Aadhaar OTP
        step: 5
        of: 8
        kind: flow
      x-abdm-nha-operation-id: enrolRequestOtpEmail_CreateAbhaAadhaarOtp
      x-abdm-title: After ABHA creation - send OTP to verify email (optional)
  /abha/api/v3/enrollment/auth/byAbdm#email-verify--create-abha-aadhaar-otp:
    post:
      tags:
        - Create ABHA - Aadhaar OTP
      summary: After ABHA creation - verify email OTP (optional)
      operationId: m1_post_v3_enrollment_auth_byabdm_email_verify_create_abh_6d732c
      description: |-
        Verifies the OTP sent by *After ABHA creation - send OTP to verify email (optional)* and links the email address to the newly created ABHA.

        **Endpoint:** `POST /abha/api/v3/enrollment/auth/byAbdm`

        **Flow:** **Create ABHA - Aadhaar OTP** - step 6 of 8
        - Previous: *After ABHA creation - send OTP to verify email (optional)*
        - Next: *After ABHA creation - get ABHA address suggestions*

        **Headers** (plus `Authorization: Bearer <gateway token>`):

        | Header | Required | Description |
        |---|---|---|
        | REQUEST-ID | yes | Unique UUID for every request. |
        | TIMESTAMP | yes | Current UTC timestamp in ISO-8601 format. |

        **Request body for this use case:**

        | Field | Value / Type | Required | Description |
        |---|---|---|---|
        | `scope` | `["abha-enrol", "email-verify"]` | yes | Scope that selects this use case. Send exactly the values listed for this API. |
        | `authData` | object | yes | Authentication payload for this use case. |
        | `authData.authMethods` | `["otp"]` | yes | Authentication method used in this step. |
        | `authData.otp` | object | yes | OTP authentication block. |
        | `authData.otp.txnId` | string | yes | Transaction ID returned by the previous step of this flow. |
        | `authData.otp.otpValue` | string | yes | OTP received by the user, RSA-encrypted. |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                    enum:
                      - abha-enrol
                      - email-verify
                  description: Scope that selects this use case. Send exactly the values listed for this API.
                  minItems: 2
                  maxItems: 2
                  example:
                    - abha-enrol
                    - email-verify
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                        enum:
                          - otp
                      description: Authentication method used in this step.
                      minItems: 1
                      maxItems: 1
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                          description: Transaction ID returned by the previous step of this flow.
                        otpValue:
                          type: string
                          description: OTP received by the user, RSA-encrypted.
                      required:
                        - txnId
                        - otpValue
                      description: OTP authentication block.
                  required:
                    - authMethods
                    - otp
                  description: Authentication payload for this use case.
              required:
                - scope
                - authData
            examples:
              After ABHA creation - verify email OTP (optional):
                value:
                  scope:
                    - abha-enrol
                    - email-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: "{{txnId}}"
                      otpValue: "{{encrypted otp}}"
                summary: After ABHA creation - verify email OTP (optional)
                description: "Source: Postman: ABHA Creation/1. Create ABHA - Aadhaar OTP/1.6"
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
      responses:
        "200":
          description: "Success: Email Update - Verify OTP-positive flow; Email Update - Verify OTP-OTP EXPIRED"
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 9c5d453e-756f-45e1-9766-43b9cc1190de
                  authResult:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: OTP expired, please try again,Mobile number is now successfully linked to your Account,Email address is now successfully linked to your Account
                  accounts:
                    type: array
                    items:
                      type: object
                    example:
                      - ABHANumber: <ABHA_NUMBER>
              examples:
                Email Update - Verify OTP-positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    authResult: success
                    message: Email address is now successfully linked to your Account
                    accounts:
                      - ABHANumber: <ABHA_NUMBER>
                Email Update - Verify OTP-OTP EXPIRED:
                  value:
                    txnId: 9c5d453e-756f-45e1-9766-43b9cc1190de
                    authResult: failed
                    message: OTP expired, please try again
                    accounts: []
        "400":
          description: "Bad Request (request validation failed): Invalid Transaction Id; Invalid Scope; Invalid AuthMethod"
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: Invalid Transaction Id
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:41:47.000Z"
                  - type: object
                    properties:
                      authMethods:
                        type: string
                        example: Invalid Auth Method
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:40:16.000Z"
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: 30839193-9788-4c0d-9459-7cd70a
                      description:
                        type: string
                        example: Invalid OTP value
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T14:37:47.000Z"
              examples:
                Invalid Transaction Id:
                  summary: Invalid Transaction Id
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T11:41:47.000Z"
                Invalid Scope:
                  summary: Invalid scope
                  value:
                    scope: Invalid Scope
                    timestamp: "2024-05-10T11:41:47.000Z"
                Invalid AuthMethod:
                  summary: Invalid authMethod
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: "2024-05-10T11:21:54.000Z"
        "401":
          description: "Unauthorized (invalid / expired gateway token, X-token or benefit access): Invalid access token"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: "Internal Server Error: Unclassified Authentication Failure (generic)"
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900900"
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
              examples:
                Unclassified Authentication Failure (generic):
                  value:
                    code: "900900"
                    message: Unclassified Authentication Failure
                    description: "Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure"
      x-actual-path: /abha/api/v3/enrollment/auth/byAbdm
      x-use-case: email-verify
      x-canonical-operationId: enrolVerifyEmailOtp
      x-also-used-in:
        - Create ABHA - Face Authentication
        - Create ABHA - Fingerprint
        - Create ABHA - IRIS
      x-journey:
        journey: Create ABHA - Aadhaar OTP
        step: 6
        of: 8
        kind: flow
      x-abdm-nha-operation-id: enrolVerifyEmailOtp_CreateAbhaAadhaarOtp
      x-abdm-title: After ABHA creation - verify email OTP (optional)
  /abha/api/v3/enrollment/enrol/suggestion#create-abha-aadhaar-otp:
    get:
      tags:
        - Create ABHA - Aadhaar OTP
      summary: After ABHA creation - get ABHA address suggestions
      operationId: m1_get_v3_enrollment_enrol_suggestion_create_abha_aadhaar_otp
      description: |-
        **Endpoint:** `GET /abha/api/v3/enrollment/enrol/suggestion`

        **Flow:** **Create ABHA - Aadhaar OTP** - step 7 of 8
        - Previous: *After ABHA creation - verify email OTP (optional)*
        - Next: *After ABHA creation - create ABHA address*

        ---

        This API endpoint is used to provide suggestions for ABHA addresses based on the user’s personal information. It helps users find suitable ABHA addresses by generating a list of suggestions. This is particularly useful during the ABHA enrollment process to ensure that users can choose an appropriate and unique ABHA address.
      security:
        - bearerAuth: []
      parameters:
        - name: TRANSACTION_ID
          in: header
          required: true
          schema:
            type: string
          example: "{{txnId}}"
          description: Transaction ID from the ABHA creation response.
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
      responses:
        "200":
          description: The 200 response code indicates a successful request. In this context, it refers to the successful operation of the Suggestion API, suggestions for ABHA addresses based on the user’s personal information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 23acf181-339d-4771-b532-5c5df4a28d19
                  abhaAddressList:
                    type: array
                    items:
                      type: string
                    example:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - Username
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
              examples:
                ABHA Address Suggestion API-Positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    abhaAddressList:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - Username
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
        "400":
          description: |-
            The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the operation of the Suggestion API.<br><br> <p><strong>Types of Suggestion API Errors:</strong></p>
              <ol>
              <li><strong>Abha Address - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed..</li>
              </ol>
              <ol start="2">
              <li><strong>Abha Address - Invalid Preferred Flag:</strong> This error occurs when the preferred flag provided in the request is invalid. The preferred flag indicates the user’s preference for the suggested ABHA address.</li>
              </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: Invalid Transaction Id
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-05-10T12:01:22.000Z"
              examples:
                Abha Address-Invalid Transaction Id:
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T12:01:22.000Z"
                Abha Address-Invalid Preferred Flag:
                  value:
                    preferred: Invalid Preferred Flag
                    timestamp: "2024-05-10T12:00:14.000Z"
        "401":
          description: The 401 response code indicates an unauthorized request. In this context, This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed. An invalid transaction ID means the server cannot verify the request, leading to a failure in generating ABHA address suggestions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: ABDM-1017
                      message:
                        type: string
                        example: Invalid Transaction Id
              examples:
                ABHA Address Suggestion API-Invalid Transaction Id:
                  value:
                    error:
                      code: ABDM-1017
                      message: Invalid Transaction Id
        "500":
          description: <b>Internal Server Error</b><br><br>  An Internal Server Error (500) indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
      x-canonical-operationId: enrolAbhaAddressSuggestion
      x-also-used-in:
        - Create ABHA - Face Authentication
        - Create ABHA - Fingerprint
        - Create ABHA - IRIS
      x-journey:
        journey: Create ABHA - Aadhaar OTP
        step: 7
        of: 8
        kind: flow
      x-actual-path: /abha/api/v3/enrollment/enrol/suggestion
      x-abdm-nha-operation-id: enrolAbhaAddressSuggestion_CreateAbhaAadhaarOtp
      x-abdm-title: After ABHA creation - get ABHA address suggestions
  /abha/api/v3/enrollment/enrol/abha-address#create-abha-aadhaar-otp:
    post:
      tags:
        - Create ABHA - Aadhaar OTP
      summary: After ABHA creation - create ABHA address
      operationId: m1_post_v3_enrollment_enrol_abha_address_create_abha_aadhaar_otp
      description: |-
        **Endpoint:** `POST /abha/api/v3/enrollment/enrol/abha-address`

        **Flow:** **Create ABHA - Aadhaar OTP** - step 8 of 8
        - Previous: *After ABHA creation - get ABHA address suggestions*
        - Next: none (last call of this flow)

        ---

        This API endpoint is used to enroll a new ABHA address. It allows users to create a unique ABHA address that can be used for accessing and managing their health records. The endpoint ensures that the provided ABHA address is unique and valid..
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                  example: "{{txnId}}"
                abhaAddress:
                  type: string
                  example: "{{abhaAddress}}"
                preferred:
                  type: integer
                  example: 1
              required:
                - txnId
                - abhaAddress
                - preferred
            examples:
              ABHA Address:
                value:
                  txnId: "{{txnId}}"
                  abhaAddress: "{{ABHA Address}}"
                  preferred: 1
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
      responses:
        "200":
          description: The 200 response code indicates a successful request. In this context, it refers to the successful operation of the Enroll ABHA Address API.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: "{{txnId}}"
                  abhaAddress:
                    type: string
                    example: "{{abhaAddress}}"
                  preferred:
                    type: integer
                    example: 1
              examples:
                ABHA Address-Positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    healthIdNumber: <ABHA_NUMBER>
                    preferredAbhaAddress: <ABHA_ADDRESS>
        "400":
          description: The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the operation of the Suggestion API.<br><br> <p><strong>Types of Suggestion API Errors:</strong></p> <ol> <li><strong>Invalid Preferred Flag:</strong> This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed. An invalid transaction ID means the server cannot verify the request, leading to a failure in enrolling the ABHA address. .</li> </ol> <ol start="2"> <li><strong>Invalid Transaction Id:</strong>This error occurs when the preferred flag provided in the request is invalid. The preferred flag indicates the user’s preference for the suggested ABHA address. An invalid preferred flag means the server cannot process the user’s preference correctly, leading to a failure in enrolling the ABHA address.</li> </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferred:
                    type: string
                    example: Invalid Preferred Flag
                  timestamp:
                    type: string
                    format: date-time
                    example: "2024-05-10T12:00:14.000Z"
              examples:
                ABHA Address-Invalid Preferred Flag:
                  summary: Invalid Preferred Flag
                  value:
                    preferred: Invalid Preferred Flag
                    timestamp: "2024-05-10T12:00:14.000Z"
                ABHA Address-Invalid Transaction Id:
                  summary: Invalid Transaction Id
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: "2024-05-10T12:01:22.000Z"
        "401":
          description: The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: "900901"
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                ABHA Address-Invalid access token:
                  value:
                    code: "900901"
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        "500":
          description: <b>Internal Server Error</b><br><br>  An Internal Server Error (500) indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
      x-canonical-operationId: enrolCreateAbhaAddress
      x-also-used-in:
        - Create ABHA - Face Authentication
        - Create ABHA - Fingerprint
        - Create ABHA - IRIS
      x-journey:
        journey: Create ABHA - Aadhaar OTP
        step: 8
        of: 8
        kind: flow
      x-actual-path: /abha/api/v3/enrollment/enrol/abha-address
      x-abdm-nha-operation-id: enrolCreateAbhaAddress_CreateAbhaAadhaarOtp
      x-abdm-title: After ABHA creation - create ABHA address
  /abha/api/v3/enrollment/enrol/auth/init#create-abha-face-authentication:
    post:
      tags:
        - Create ABHA - Face Authentication
      summary: Face auth - generate transaction ID (init)
      operationId: m1_post_v3_enrollment_enrol_auth_init_create_abha_face_au_4dea33
      description: |-
        **Endpoint:** `POST /abha/api/v3/enrollment/enrol/auth/init`

        **Flow:** **Create ABHA - Face Authentication** - step 1 of 9
        - Previous: none (first call of this flow)
        - Next: *Face auth - capture PID / track status*

        ---

        This API will help to generate transaction id. This transaction Id will be used for whole face authentication process. <br><br> The user can submit this transaction ID to the <strong>ABHA</strong> app using either intent-based sharing or by generating a QR code. <br><br>User can use this transaction ID to generate QR code using any QR generator tool. Open ABHA app and scan this QR code on ABHA App to start and complete the face capture process.<br><br>The data format of the QR code should follow this pattern: <br>https://<phr-env-base-url>/face-auth?txnId=<txn-id-from-the-response-of-init-api>. <br><br><strong>For example:</strong> https://phrsbx.abdm.gov.in/face-auth?txnId=bac7251b-cd25-44d5-9707-f3d2ba181c1c <br><br> For Sandbox- phr-env-base-url - https://phrsbx.abdm.gov.in<br> For Production - phr-env-base-url - https://phr.abdm.gov.in
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                  example:
                    - abha-enrol
                    - face-auth
              required:
                - scope
                - authData
            examples:
              Init Transaction:
                value:
                  scope:
                    - abha-enrol
                    - face-auth
        description: <b>Below is the Request Body description:<br></b><br> <!--<br> <div> <table> <thead> <tr> <th>Attributes</th> <th>Description</th> </tr> </thead> <tbody> <tr> <td>loginHint <sup> * required</td> <td>Aadhaar,Abha And Mobile Number</td> </tr> <tr> <td>loginId <sup>* required </sup></td> <td>encrypted mobile-number</td> </tr> <tr> <td>otpSystem <sup>* required</td> <td>abdm/aadhaar</td> </tr> <tr> <td>scope <sup>* required</td> <td>Aadhaar/Abha/mobile</td> </tr> </tbody> </table> </div> <hr> --> <b>Note:</b> Mandatory fields can't be null. <p><strong>scope</strong> (required):</p> <ul> <li><strong>Description:</strong> It will generate the Transaction id. This Transaction Id will be used for whole face authentication process.</li> <li><strong>Type:</strong> Array of strings</li> <li><strong>Example:</strong> <code>["abha-enrol", "face-auth"]</code></li> <li><strong>Possible Values:</strong> <code>abha-enrol</code>, <code>face-auth</code></li> </ul> </li> </ol>
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
          description: Unique UUID for every request.
        - name: TIMESTAMP
          in: header
          required: true
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
          description: Current UTC timestamp in ISO-8601 format.
      responses:
        "200":
          description: The 200 response code indicates a successful request. In this context, it refers to the successful generation of Transaction Id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 9c5d453e-756f-45e1-9766-43b9cc1190de
                  message:
                    type: string
                    example: Transaction Id generated Successfully
              examples:
                Init Transaction:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    message: Transaction Id generated Successfully
        "400":
          description: The 400 response code indicates a bad request.
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: "2024-05-10T11:41:47.000Z"
        "401":
[...]
