openapi: 3.1.1
info:
  x-portal:
    module: m4
    label: M4 Registry Integration
    position: 5
    icon: building-2
  title: ABDM M4, register facilities and professionals
  summary: Register healthcare professionals and facilities on the NHPR.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://sandboxsupport.abdm.gov.in/
  x-abdm-gateway: hiecm
  x-abdm-module: M4
  x-abdm-phase: 1
  x-abdm-roles:
    - his
x-abdm-sources:
  - file: catalogue/openapi/.raw/nha-2026-09-16/M4/M4-HFR.json
    role: upstream
    hash: sha256:25291734dd3782857bc3e012c7fa1881a069b49fdb3701e1657c514f43b590f5
    fetched: "2026-09-16"
  - file: catalogue/openapi/.raw/nha-2026-09-16/M4/M4-HPID.json
    role: upstream
    hash: sha256:7e2eb837caa110f883dd56fb25ed606c942ac32324b9666d9a728b9a22582263
    fetched: "2026-09-16"
  - file: catalogue/openapi/.raw/nha-2026-09-16/M4/M4-HPR.json
    role: upstream
    hash: sha256:fe3e5b211cf9f1c0cf3af9830de9f3c28c6fbc52294bdc3bf24b76cfacf92cd0
    fetched: "2026-09-16"
servers:
  - url: https://apihspsbx.abdm.gov.in/v4/int
    description: NHPR, sandbox
security:
  - bearerAuth: []
tags:
  - name: Registration API's Collection Via Aadhaar
    description: ""
  - name: Onboarding APIs
    description: ""
  - name: Multiple HRP API
    description: ""
  - name: Utilities
    description: ""
  - name: Search
    description: ""
  - name: HFR-HRP Linkage APIs
    description: ""
  - name: Authentication
    description: ""
  - name: Verification
    description: ""
  - name: hpid
    description: ""
  - name: Util
    description: ""
  - name: Profile
    description: ""
  - name: Forgot Healthcare Professional ID/number
    description: ""
  - name: Searched
    description: ""
  - name: Enrollment
    description: ""
  - name: Utility
    description: ""
  - name: hpr
    description: ""
paths:
  /aadhaar/generateLink:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_aadhaar_generatelink
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadharGenerateLinkRequest"
            example:
              scopes:
                - nhpr-register
              source: NHPR
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AadharGenerateLinkResponse"
              example:
                txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
                mobileNumber: "******1234"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateAadhaarLink
      summary: Generate Aadhaar Link
      x-abdm-summary-derived: true
  /aadhaar/isAuthenticated:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_aadhaar_isauthenticated
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGetTransactionRequest"
            example:
              txnId: 259813b1-a339-4482-8df5-16ee45b8dcf2
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
              example: true
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: isAadhaarAuthenticated
      summary: Is Aadhaar Authenticated
      x-abdm-summary-derived: true
  /v2/registration/aadhaar/verifyOTP:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v2_registration_aadhaar_verifyotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGetTransactionRequest"
            example:
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AadharVerifyResponsePayload"
              example:
                txnId: 951b4258-2ac7-432c-8dbf-6ed990757b88
                mobileNumber: null
                photo: <BASE64 ENCODED STRING>
                gender: M
                name: Ayushman Bharat Mission
                email: null
                pincode: <PINCODE>
                birthdate: <DOB>
                careOf: <NAME>
                house: <ADDRESS>
                street: <ADDRESS>
                landmark: null
                locality: <ADDRESS>
                villageTownCity: Sahibabad
                subDist: null
                district: Ghaziabad
                state: Uttar Pradesh
                postOffice: Sahibabad
                address: 9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyOtp
      summary: Verify Otp
      x-abdm-summary-derived: true
  /v2/registration/aadhaar/demographicAuthViaMobile:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v2_registration_aadhaar_demographicauthviamobile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
            example:
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
              mobileNumber: JrHfDROoEcsYJ41g2wdkicsI7mT1ATCP347iqwBhWbfaEIgZ03/WHAYvDHRG2WXl4HBNuP2orD+3O75pN0xFhOz4oLXrePAxKTLK8uG5jdeAiGE2lKwOrShq9/gg+BckrQcDYjpMUePRuDau4mqLHa8FdSCQ8npGPY9KCpD2hZkscWNqZR68gRo/EwpY4u32kDzv5i1K/s+A7FNVwXqZS5AK2BadEhG5drSRk7P83eFxJZUlwtsvDK6iipOsM4VtMXXXXXXXXXXXXXXXXXXXXXXXXXXX
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MobileDemographicAuthResponseModel"
              example:
                verified: true
                errorCode: null
                reason: null
                uidaiToken: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: demographicAuthViaMobile
      summary: Demographic Auth Via Mobile
      x-abdm-summary-derived: true
  /v1/registration/aadhaar/checkHpIdAccountExist:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v1_registration_aadhaar_checkhpidaccountexist
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccountExistPayload"
            example:
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccountExistResponsePayload"
              example:
                token: <JWT TOKEN>
                hprIdNumber: <HPR_ID>
                categoryId: 100
                subCategoryId: 85
                txnId: 79dbf65d-affa-4249-8935-3d01676d8b82
                name: Ayushman Bharat Mission
                gender: M
                yearOfBirth: <DOB>
                monthOfBirth: <DOB>
                dayOfBirth: <DOB>
                firstName: Ayushman
                middleName: ""
                lastName: Mission
                stateCode: "9"
                districtCode: "145"
                stateName: Uttar Pradesh
                districtName: <ADDRESS>
                address: 9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001
                pincode: <PINCODE>
                profilePhoto: <BASE64 ENCODED STRING>
                mobile: null
                hprId: <EMAIL>
                new: false
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: accountExist
      summary: Account Exist
      x-abdm-summary-derived: true
  /v1/registration/aadhaar/hpid/suggestion:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v1_registration_aadhaar_hpid_suggestion
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HpIdSuggestionRequst"
            example:
              txnId: a825f76b-0696-40f3-864c-5a3a5b389a83
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - anujsharma
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getSuggesstion
      summary: Get Suggesstion
      x-abdm-summary-derived: true
  /v1/registration/aadhaar/generateMobileOTP:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v1_registration_aadhaar_generatemobileotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HPRIDGenerateMobileOTPRequestDTO"
            example:
              mobile: 981065XXXX
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
              example:
                txnId: 951b4258-2ac7-432c-8dbf-6ed990757b88
                mobileNumber: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateMobileOtp
      summary: Generate Mobile Otp
      x-abdm-summary-derived: true
  /v1/registration/aadhaar/verifyMobileOTP:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v1_registration_aadhaar_verifymobileotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HPRIDVerifyMobileOTPRequestDTO"
            example:
              otp: <BASE64 ENCODED STRING>
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/HPRIDVerifyMobileOTPResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyMobileOTP
      summary: Verify Mobile OTP
      x-abdm-summary-derived: true
  /v2/registration/aadhaar/createHprIdWithPreVerified:
    post:
      tags:
        - Registration API's Collection Via Aadhaar
      operationId: m4_post_v2_registration_aadhaar_createhpridwithpreverified
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountWithPreVerifiedAadhaar"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CreateAccountJwtResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: createHprIdV2
      summary: Create Hpr Id V2
      x-abdm-summary-derived: true
  /search/address/filter/deduplicate:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_search_address_filter_deduplicate
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddressFilterRequest"
            example:
              name: Jethana
              address: <ADDRESS>
              district: "511"
              subDistrict: "5271"
              village: ""
              geolocation: ""
              facilityId: "69765"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/DeduplicateResponseDto"
              example:
                - nhrr_facility_id: null
                  facility_central: ""
                  fac_contact_per_desg: null
                  e_hospital_id: null
                  lst_upd_dt: "2024-04-09T08:08:53.224Z"
                  fac_alt_contact_per_name: null
                  hrp_source: null
                  emr_software: ""
                  source: HFR
                  fac_contact_per_landline_no: null
                  mobile_no: ""
                  power_backup_it: null
                  abdm_software: null
                  facility_operational_status: F
                  crt_dt: "2024-04-03T10:35:29.942Z"
                  cea_id: null
                  hospital_speciality_type: null
                  hospital_link_to_colg: null
                  pincode: <PINCODE>
                  type_of_service_other: null
                  fac_alt_contact_per_landline_no: null
                  facility_type: "2"
                  crt_usr: <HPR_ID>
                  country: India
                  sub_district:
                    locId: "5271"
                    locType: SDT
                    locName: Adoni
                    census2001Code: "22  "
                    census2011Code: "05271"
                    ssCode: null
                    locParntId: "511"
                    locLocalName: null
                    crtUsr: LGDAPI
                    updUsr: null
                    hfrYn: Y
                    stateShortName: null
                    nhrrStateCode: null
                    nhrrDistrictCode: null
                    activeYn: Y
                  submit_flag: null
                  mobile_no_per_country_code: null
                  ehospitalid: null
                  echs_id: null
                  fac_contact_per_surname: Roy
                  book_app_url: ""
                  facility_website: ""
                  fac_alt_contact_per_mobile_no: null
                  hmis_code: null
                  pharmacy_software_name: null
                  fac_contact_per_std_code: null
                  ufid: null
                  form3: null
                  lmis_ris_name: null
                  fac_contact_per_email_verified: <ABHA_ADDRESS>.com
                  power_backup: null
                  fac_contact_per_country_code: null
                  emr_software_other: null
                  geolocation: 26.<ABHA_NUMBER>,75.80129199999999
                  open_time: null
                  emr_system: N
                  hospital_cnt_link_colg: null
                  district:
                    locId: "511"
                    locType: DT
                    locName: Kurnool
                    census2001Code: "21"
                    census2011Code: "552"
                    ssCode: ""
                    locParntId: "28"
                    locLocalName: "Kurnool                                           "
                    crtUsr: LGDAPI
                    updUsr: LGDAPI
                    hfrYn: Y
                    stateShortName: null
                    nhrrStateCode: null
                    nhrrDistrictCode: "21"
                    activeYn: Y
                  fac_contact_per_middle_name: ""
                  facility_pan: null
                  health_wellness_center: null
                  colg_cnt_link_hospital: null
                  fac_alt_contact_per_desg: null
                  private_profit_type: ""
                  form1: null
                  facility_owner_private: ""
                  fac_contact_per_name: Tejeshvi
                  facility_sub_type: "30"
                  address2: ""
                  hours_of_operation: null
                  stinsid: null
                  lst_upd_usr: null
                  facility_gst: null
                  state:
                    locId: "28"
                    locType: ST
                    locName: Andhra Pradesh
                    census2001Code: "28"
                    census2011Code: "28"
                    ssCode: null
                    locParntId: "0"
                    locLocalName: Andhra Pradesh
                    crtUsr: LGDAPI
                    updUsr: LGDAPI
                    hfrYn: Y
                    stateShortName: AP
                    nhrrStateCode: "28"
                    nhrrDistrictCode: null
                    activeYn: Y
                  fac_contact_per_prefix: null
                  year_of_establishment: null
                  pharmacy_information_system: null
                  pharmacy_is_name: null
                  fac_unique_id: "69711"
                  declared_by: hfr
                  address_proof_2: null
                  fac_email_verified: No
                  address1: Pisangan Ajmer
                  facility_region: null
                  e_arogya: null
                  facility_subtype_other: null
                  active_yn: Y
                  facility_owner_govt: ""
                  fac_alt_contact_per_surname: null
                  name_asin_pancard: null
                  form2: null
                  identification_number: null
                  facility_tan: null
                  pmjay_id: null
                  rohini_id: null
                  e_sushrut_id: null
                  lmis_ris_availaible: null
                  terms_agree_flag: null
                  any_other_system: ""
                  address_proof_3: null
                  facility_name: Jethana
                  days_of_operation: Mon; Tue; Wed; Thu; Fri; Sat
                  facility_ownership: G
                  alternate_contact_dtls: null
                  hrp_source_fac_id: null
                  facility_email: ""
                  address_proof: EBill
                  fac_alt_contact_per_std_code: null
                  fac_alt_contact_per_email_verified: null
                  about_us: null
                  fac_alt_contact_per_middle_name: null
                  pharmacy_software: null
                  system_of_medicine: M
                  fac_contact_per_mobile_no: "******2125"
                  pharmacy_software_other: null
                  mobileno_verified: No
                  facility_type_other: null
                  private_not_profit_type: ""
                  alt_health_dtls: null
                  fac_alt_contact_per_country_code: null
                  close_time: null
                  fac_alt_contact_per_prefix: null
                  owner_subtype: S
                  entity_type: ""
                  vilage_city_town:
                    locId: ""
                    locType: null
                    locName: null
                    census2001Code: null
                    census2011Code: null
                    ssCode: null
                    locParntId: null
                    locLocalName: null
                    crtUsr: null
                    updUsr: null
                    hfrYn: null
                    stateShortName: null
                    nhrrStateCode: null
                    nhrrDistrictCode: null
                    activeYn: null
                  net_available: null
                  health_id: <HPR_ID>
                  landline_no: ""
                  type_of_service: OPD
                  fac_contact_per_email: <ABHA_ADDRESS>.com
                  progress_value: null
                  it_available: null
                  alternate_id: IN2810001372
                  app_submitted_date: "2024-04-03T10:35:29.942Z"
                  std_code: null
                  status: Draft
                  cghs_id: null
                  nhrr_form_id: null
                  facility_central_other: null
                  fac_alt_contact_per_email: null
                  distances: "0"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getFilteredAddressPost
      summary: Get Filtered Address Post
      x-abdm-summary-derived: true
  /v1.5/facility/basic-information:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_v1_5_facility_basic_information
      parameters:
        - name: x-hprid-auth
          in: header
          required: true
          schema:
            type: string
          description: The HPR token of the signed-in professional, from the HPR login.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityBasicInformationRequest"
            example:
              trackingId: ""
              facilityInformation:
                facilityName: Sahyadri Hospital
                facilityAddressDetails:
                  country: India
                  stateLGDCode: "24"
                  districtLGDCode: "438"
                  subDistrictLGDCode: "6512"
                  facilityRegion: U
                  villageCityTownLGDCode: ""
                  addressLine1: townhall, Pune
                  addressLine2: Pune
                  pincode: <PINCODE>
                  latitude: "23.068570"
                  longitude: "23.068570"
                facilityContactInformation:
                  facilityEmailId: <ABHA_ADDRESS>.com
                  facilityContactNumber: 976243xxxx
                  websiteLink: nha.abdm.gov.in
                  facilityLandlineNumber: ""
                  facilityStdCode: ""
                ownershipCode: G
                ownershipSubTypeCode: C
                ownershipSubTypeCode2: MOHF
                systemOfMedicineCode: M,D,UN
                typeOfServiceCode: IPD,OPD
                facilityTypeCode: "5"
                specialityTypeCode: SINGLE
                facilityUploads:
                  facilityBoardPhoto:
                    name: ""
                    value: ""
                  facilityBuildingPhoto:
                    name: ""
                    value: ""
                facilitySubType: "47"
                facilityOperationalStatus: F
                timingsOfFacility:
                  - workingDays: MON
                    openingHours: 9:00 AM - 6:00 PM
                  - workingDays: TUE
                    openingHours: 9:00 AM - 4:00 PM
                  - workingDays: WED
                    openingHours: 9:00 AM - 6:00 PM
                abdmCompliantSoftware:
                  - existingSoftwares:
                      - ""
                    anyOther: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacilityOnboardResponse"
              example:
                trackingId: "76803"
                status: success
                message: Facility is saved successfully
                errorStatus: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: v15BasicFacilityInformation
      summary: V15Basic Facility Information
      x-abdm-summary-derived: true
  /v1.5/facility/additional-information:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_v1_5_facility_additional_information
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityAdditionalInformationRequest"
            example:
              trackingId: "80266"
              linkedProgramIds:
                nhrrId: "1234"
                nin: "1234"
                abpmjayId: "1234"
                rohiniId: "1234"
                echsId: "1234"
                cghsId: "1234"
                ceaRegistration: "1234"
                stateInsuranceSchemeId: "1234"
              generalInformation:
                hasDialysisCenter: YALL
                hasPharmacy: YALL
                hasBloodBank: YALL
                hasCathLab: YALL
                hasDiagnosticLab: YALL
                hasImagingCenter: YALL
                servicesByImagingCenter:
                  - service: S36
                    count: 7
                  - service: S16
                    count: 5
                  - service: S23
                    count: 3
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacilityOnboardResponse"
              example:
                trackingId: "76803"
                status: Created
                message: Facility details have been saved successfully. Please login at https://nhpr.abdm.gov.in/ and submit your facility details for approval.
                errorStatus: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: v15FacilityAdditionalInformation
      summary: V15Facility Additional Information
      x-abdm-summary-derived: true
  /v1.5/facility/detailed-information:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_v1_5_facility_detailed_information
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityDetailedInformationRequest"
            example:
              trackingId: "80266"
              specialities:
                - systemOfMedicineCode: M
                  isSpecializationAvalaible: Y
                  specialities:
                    - S29
                    - S30
                    - S31
                - systemOfMedicineCode: D
                  isSpecializationAvalaible: Y
                  specialities:
                    - S50
                    - S51
                    - S46
                - systemOfMedicineCode: UN
                  isSpecializationAvalaible: Y
                  specialities:
                    - S68
                    - S168
                    - S100
              medicalInfrastructure:
                countIPDBedsWithoutOxygen: 2
                countIPDBedsWithOxygen: 3
                countICUBedsWithVentilators: 4
                countICUBedsWithoutVentilators: 1
                countHDUBedsWithVentilators: 5
                countHDUBedsWithoutVentilators: 6
                totalNumberOfVentilators: 7
                countDayCareBedsWithoutOxygen: 8
                countDayCareBedsWithOxygen: 9
                countDentalChairs: 1
                totalNumberOfBeds: 4
              pharmacyDetails:
                isJanAushadhiKendra: Y
                janAushadhiKendraId: jan-id
                drugLicenseNumber: test1234
                pharmacyGstinNumber: testg1234
                pharmacistRegistrationNumber: reg1234
              bloodBankDetails:
                isFacilityRegisteredInERaktkosh: N
                eRaktoshId: Y
                bloodBankLicenseNumber: 345-test-regno
                bloodStorageCenters: Y
                storageCentersCount: 7
                bloodCollectedPerAnnum: "5"
                bloodRequiredPerAnnum: "6"
              imagingServices:
                - service: S136
                  count: 77
                - service: S139
                  count: 99
                - service: S138
                  count: 76
              diagnosticServices:
                - ""
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacilityOnboardResponse"
              example:
                trackingId: "76803"
                status: Saved
                message: |-
                  Facility details have been saved successfully. Please login at " + hfrUrl
                  " and submit your facility details for approval.
                errorStatus: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: v15FacilityDetailedInformation
      summary: V15Facility Detailed Information
      x-abdm-summary-derived: true
  /v1.5/facility/submit-facility:
    post:
      tags:
        - Onboarding APIs
      operationId: m4_post_v1_5_facility_submit_facility
      parameters:
        - name: x-hprid-auth
          in: header
          required: true
          schema:
            type: string
          description: The HPR token of the signed-in professional, from the HPR login.
        - name: x-hprid-auth-verifier
          in: header
          required: false
          schema:
            type: string
          description: The HPR token of the professional verifying the facility submission.
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilitySubmitDetails"
            example:
              trackingId: "80266"
              sourceOfInformation: HRP_SUB_1
              sourceUniqueID: "1234"
              facilitySuperUser: STATE_SUPER_1
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilitySubmitResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: v15SubmitFacilityDetails
      summary: V15Submit Facility Details
      x-abdm-summary-derived: true
  /v1/bridges/MutipleHRPAddUpdateServices:
    post:
      tags:
        - Multiple HRP API
      operationId: m4_post_v1_bridges_mutiplehrpaddupdateservices
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BridgeAddUpdateRequestDTO"
            example:
              facilityId: IN0610090166
              facilityName: Singla Eye Center
              HRP:
                - bridgeId: SBX_00XXXX
                  hipName: Singla Eye Center
                  type: HIP
                  active: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: facilityAddAndUpdate
      summary: Facility Add And Update
      x-abdm-summary-derived: true
  /getPsuDetailsByMinistry:
    get:
      tags:
        - Utilities
      operationId: m4_get_getpsudetailsbyministry
      parameters:
        - name: ministry
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: object
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getPsuData
      summary: Get Psu Data
      x-abdm-summary-derived: true
  /FacilityManagement/v1.5/facility/bygeoLocation/searchFacilityAndInfrastructureWithinRadiusWithFilter:
    post:
      tags:
        - Search
      operationId: m4_post_facilitymanagement_v1_5_facility_bygeolocation_se_907b10
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HFRSearchWithinRadiusRequest"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/FacilityWithInfrastructureSearchResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getFacilityAndInfrastructureWithinRadiusWithFilter
      summary: Get Facility And Infrastructure Within Radius With Filter
      x-abdm-summary-derived: true
  /FacilityManagement/v1.5/facility/search:
    post:
      tags:
        - Search
      operationId: m4_post_facilitymanagement_v1_5_facility_search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchFacilityRequestDTO"
            example:
              ownershipCode: P
              subDistrictLGDCode: ""
              pincode: ""
              facilityName: hospital
              facilityId: ""
              page: 1
              resultsPerPage: 10
              stateLGDCode: "27"
              districtLGDCode: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacilitySearchResponse"
              example:
                facilities:
                  - ownership: GOVERNMENT
                    systemOfMedicineCode: P,M
                    systemOfMedicine: Physiotherapy,Modern Medicine(Allopathy)
                    facilityType: Hospital
                    stateName: Bihar
                    stateLGDCode: "10"
                    districtName: <ADDRESS>
                    districtLGDCode: "212"
                    subDistrictName: <ADDRESS>
                    subDistrictLGDCode: "1400"
                    villageCityTownName: null
                    villageCityTownLGDCode: null
                    address: <ADDRESS>
                    pincode: <PINCODE>
                    latitude: "25.635802000000098"
                    longitude: "85.10391099999993"
                    facilityId: ""
                    facilityName: Asian City Hospital
                    facilityStatus: Submitted
                    ownershipCode: G
                    facilityTypeCode: H
                message: Request processed successfully
                totalFacilities: 1
                numberOfPages: 1
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: searchFacility
      summary: Search Facility
      x-abdm-summary-derived: true
  /v1.5/facility/fetch-facility-Sub-type:
    post:
      tags:
        - Utilities
      operationId: m4_post_v1_5_facility_fetch_facility_sub_type
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UtilityFacilitySubTypeReqDto"
            example:
              facilityTypeCode: "2"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                type: FACILITY-SUB-TYPE
                data:
                  - code: "29"
                    value: Any Other
                  - code: "1"
                    value: Block Primary Health Centre
                  - code: "40"
                    value: Dispensary
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllFacilitySubTypeByFacilityType
      summary: Get All Facility Sub Type By Facility Type
      x-abdm-summary-derived: true
  /v1.5/facility/fetch-facility-type:
    post:
      tags:
        - Utilities
      operationId: m4_post_v1_5_facility_fetch_facility_type
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UtilityFacilityTypeReqDto"
            example:
              ownershipCode: G
              systemOfMedicineCode: M
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                type: FACILITY-TYPE
                data:
                  - code: "9"
                    value: Blood Bank
                  - code: "74"
                    value: Imaging Center
                  - code: "35"
                    value: "Day Care center "
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllFacilityTypeByOwnershipAndSysOfMed
      summary: Get All Facility Type By Ownership And Sys Of Med
      x-abdm-summary-derived: true
  /v1.5/facility/get-master-data:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_get_master_data
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UtilityTypeDataResDto"
              example:
                type: MEDICINE
                data:
                  - code: H
                    value: Homeopathy
                  - code: UN
                    value: Unani
                  - code: SD
                    value: Siddha
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getMasterData
      summary: Get Master Data
      x-abdm-summary-derived: true
  /v1.5/facility/get-master-types:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_get_master_types
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MasterTypeResponseDto"
              example:
                masterTypes:
                  - type: MEDICINE
                    desc: System Of Medicine
                  - type: OWNER
                    desc: Ownership Of Facility
                  - type: OWNER-SUBTYPE
                    desc: Ownership Subtype Of Facility
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllMasterType
      summary: Get All Master Type
      x-abdm-summary-derived: true
  /v1.5/facility/get-owner-subtype:
    post:
      tags:
        - Utilities
      operationId: m4_post_v1_5_facility_get_owner_subtype
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SubTypeUtilityRequestDto"
            example:
              ownershipCode: P
              ownerSubtypeCode: NP
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                type: CENTRAL-GOVERNMENT
                data:
                  - code: MOHF
                    value: Mo Health and Family Welfare
                  - code: MOR
                    value: Mo Railways
                  - code: MOP
                    value: Mo Power
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllSubTypesByOwnerShipTypeAndSubType
      summary: Get All Sub Types By Owner Ship Type And Sub Type
      x-abdm-summary-derived: true
  /v1.5/facility/get-specialities:
    post:
      tags:
        - Utilities
      operationId: m4_post_v1_5_facility_get_specialities
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SpecialitiesUtilityRequestDto"
            example:
              systemOfMedicineCode: D
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
              example:
                type: SPECIALITIES
                data:
                  - code: D-S44
                    value: OralMedicine and Radiology
                  - code: D-S46
                    value: Oral& Maxillofacial Surgery
                  - code: D-S45
                    value: Periodontology
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllSpecialitiesBySystemOfMedicineCode
      summary: Get All Specialities By System Of Medicine Code
      x-abdm-summary-derived: true
  /v1.5/facility/lgd/districts:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_lgd_districts
      parameters:
        - name: stateCode
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UtilityCodeNameResDto"
              example:
                - code: "1"
                  name: Anantnag
                - code: "623"
                  name: Bandipora
                - code: "3"
                  name: Baramulla
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllDistrictByStateId
      summary: Get All District By State Id
      x-abdm-summary-derived: true
  /v1.5/facility/lgd/states:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_lgd_states
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/StatesUtilityResponseDto"
              example:
                - code: "35"
                  name: Andaman And Nicobar Islands
                  districts:
                    - code: "603"
                      name: Nicobars
                    - code: "632"
                      name: North And Middle Andaman
                    - code: "602"
                      name: South Andamans
                - code: "28"
                  name: Andhra Pradesh
                  districts:
                    - code: "745"
                      name: <NAME>
                    - code: "744"
                      name: Anakapalli
                    - code: "502"
                      name: Ananthapuramu
                - code: "12"
                  name: Arunachal Pradesh
                  districts:
                    - code: "628"
                      name: Anjaw
                    - code: "229"
                      name: Changlang
                    - code: "230"
                      name: Dibang Valley
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllStatesByLGD
      summary: Get All States By LGD
      x-abdm-summary-derived: true
  /v1.5/facility/lgd/subdistricts:
    get:
      tags:
        - Utilities
      operationId: m4_get_v1_5_facility_lgd_subdistricts
      parameters:
        - name: districtCode
          in: query
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UtilityCodeNameResDto"
              example:
                - code: "6752"
                  name: Assar
                - code: "65"
                  name: Bhaderwah
                - code: "6747"
                  name: Bhagwah
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAllSubDistrictByDistrictCode
      summary: Get All Sub District By District Code
      x-abdm-summary-derived: true
  /v1.5/facility/sendOtpToContact:
    post:
      tags:
        - HFR-HRP Linkage APIs
      operationId: m4_post_v1_5_facility_sendotptocontact
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FacilityContactDetails"
            example:
              facilityId: IN2810002702
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FacilityOtpResponse"
              example:
                facilityId: IN0610089709
                status: Success
                message: Otp sent successfully! Please keep transaction id for future reference
                transactionId: 3cf3de44-94a4-4f77-b7f9-de6ec86785b3
                errorStatus: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendOtpToContact
      summary: Send Otp To Contact
      x-abdm-summary-derived: true
  /v1.5/facility/validateOtp:
    post:
      tags:
        - HFR-HRP Linkage APIs
      operationId: m4_post_v1_5_facility_validateotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ValidateOtpRequestDto"
            example:
              facilityId: IN2810002702
              sourceId: AB-PMJAY
              otp: "885210"
              source: AB-PMJAY
              transactionId: 2ddfc7ec-9a9f-412c-8c50-c2be92da5781
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateOtpResponse"
              example:
                facilityId: IN2810002702
                status: success
                message: OTP validated successfully!!! Hospital id linked to HFR
                errorStatus: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: validateOtp
      summary: Validate Otp
      x-abdm-summary-derived: true
  /api/v1/auth/authPassword:
    post:
      tags:
        - Authentication
      operationId: m4_post_v1_auth_authpassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginViaPasswordRequestDto"
            example:
              idType: ""
              domainName: ""
              hprId: <HPR_ID>
              password: XXXX@992
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LoginViaPasswordResponseDto_HPID"
              example:
                token: <JWT TOKEN>
                expiresIn: 1733639805
                refreshToken: null
                refreshExpiresIn: 0
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: loginViaPassword
      summary: Login Via Password
      x-abdm-summary-derived: true
  /api/v1/auth/cert:
    get:
      tags:
        - Authentication
      operationId: m4_get_v1_auth_cert
      parameters:
        - name: publicCertificateRequestDto
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/PublicCertificateRequestDto"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: string
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getPublicCertificate
      summary: Get Public Certificate
      x-abdm-summary-derived: true
  /api/v1/auth/confirmWithAadhaarOtp:
    post:
      tags:
        - Authentication
      operationId: m4_post_v1_auth_confirmwithaadhaarotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarAuthVerifyRequestDTO"
            example:
              otp: "308709"
              txnId: de4ff682-fcc6-4bcf-a978-0dbb19a288b4
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadhaarAuthVerifyResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyAadhaarOTP_1
      summary: Verify Aadhaar OTP 1
      x-abdm-summary-derived: true
  /api/v1/auth/init:
    post:
      tags:
        - Authentication
      operationId: m4_post_v1_auth_init
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarAuthRequestDTO"
            example:
              idType: ""
              domainName: ""
              authMethod: AADHAAR_OTP
              hprId: <HPR_ID>
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AadhaarAuthResponseDTO"
              example:
                transactionId: 227654a1-a627-48e3-a617-f6fa7595a512
                mobileNumber: "******1234"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendViaAadhaarOTP
      summary: Send Via Aadhaar OTP
      x-abdm-summary-derived: true
  /api/v2/auth/loginViaMobileSendOTP:
    post:
      tags:
        - Authentication
      operationId: m4_post_v2_auth_loginviamobilesendotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendVerifyOtpRequestDto"
            example:
              txnId: 4c8c4b29-6d7e-4446-8f73-4574d6d14f09
              mobile: 97624XXXXX
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendVerifyOtpResponseDto"
              example:
                txnId: 28b4ce41-71df-48af-8b6c-13c30402816c
                mobileNumber: "******1234"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendVerifyOTP
      summary: Send Verify OTP
      x-abdm-summary-derived: true
  /apis/v1/doctors/generate-mobile-otp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_generate_mobile_otp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGenerateOTPRequestDTO"
            example:
              hpr_token: <JWT TOKEN>
              officialMobile: <BASE64 ENCODED STRING>
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AadhaarGenerateOTPResponseDTO"
              example:
                status: success
                txnId: 3a9e7f08-39ea-42fc-b3bc-b81a3cc68ab5
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateMobileOTP_2
      summary: Generate Mobile OTP 2
      x-abdm-summary-derived: true
  /apis/v1/doctors/generate-verification-email:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_generate_verification_email
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailAuthRequestDto"
            example:
              emailAddress: <ABHA_ADDRESS>.com
              otp_type: ""
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailAuthResponseDto"
              example:
                msg: Mail sent successfully
                status: success
                otpLimitExp: null
                expTime: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendVerificationEmail
      summary: Send Verification Email
      x-abdm-summary-derived: true
  /apis/v1/doctors/regenerate-mobile-otp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_regenerate_mobile_otp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGenerateOTPRequestDTO"
            example:
              hpr_token: <JWT TOKEN>
              officialMobile: PFiI0AQJkAKIdLL6ytdJLKFObqXab9rwTvOEPHflksQBkMzIIb8HMDYUzZfN3AUdefedSbb+B4sPwi72lsaaNRkpXygWRF0GWntEwD/WL80JbXaW9DJkwPpDEzQpMYKKT17iCTp7pQer8337NZofO1D1aYiDfEnA9E1HMTyPCGFjvmbcL32hNqGsgpHKYNh4rHXCo4RwP5UQKWDYI1jLZqbWLp0a9GQu9nC1hyP5IR5LRCASzvhiRfrRk+Y660xuDSCvOKb+uUPcN3ZFA==xxxxxxxx
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadhaarGenerateOTPResponseDTO"
              example:
                status: <string>
                txnId: <string>
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: regenerateMobileOTP
      summary: Regenerate Mobile OTP
      x-abdm-summary-derived: true
  /apis/v1/doctors/resent-verify-email:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_resent_verify_email
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailAuthRequestDto"
            example:
              emailAddress: <ABHA_ADDRESS>.com
              otp_type: ""
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailAuthResponseDto"
              example:
                emailAddress: <ABHA_ADDRESS>.com
                otp_type: ""
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: resentVerificationEmail
      summary: Resent Verification Email
      x-abdm-summary-derived: true
  /apis/v1/doctors/verify-email-otp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_verify_email_otp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EmailOTPVerificationRequestDTO"
            example:
              hpr_token: <JWT TOKEN>
              hpr_id: <HPR_ID>
              officialEmail: <ABHA_ADDRESS>.com
              emailOtp: 515999
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailOTPVerificationResponseDTO"
              example:
                status: fail
                msg: Email Verification Failed
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyEmailOTP
      summary: Verify Email OTP
      x-abdm-summary-derived: true
  /apis/v1/doctors/verify-mobile-otp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_doctors_verify_mobile_otp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOtpRequest"
            example:
              hpr_token: <JWT TOKEN>
              txnId: dd392164-0f4a-4894-8d64-1fce027ee033
              otp: <BASE64 ENCODED STRING>
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/AadhaarGenerateOTPResponseDTO"
              example:
                status: <string>
                txnId: <string>
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyMobileOtp
      summary: Verify Mobile Otp
      x-abdm-summary-derived: true
  /getManagementToken:
    post:
      tags:
        - hpid
      operationId: m4_post_getmanagementtoken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginDTO"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/LoginResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAdminToken
      summary: Get Admin Token
      x-abdm-summary-derived: true
  /healdthloginwithmobile:
    post:
      tags:
        - hpid
      operationId: m4_post_healdthloginwithmobile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TokenRequestDTO"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TokenResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: healdthloginwithmobile
      summary: Healdthloginwithmobile
      x-abdm-summary-derived: true
  /hpid/get/categories:
    get:
      tags:
        - Util
      operationId: m4_get_hpid_get_categories
      parameters:
        - name: role
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HpCategoriesDTO"
              example:
                - code: 1
                  name: Doctor
                  subCategories:
                    - code: "220"
                      name: Yoga and Naturopathy
                    - code: "1"
                      name: Modern Medicine
                    - code: "2"
                      name: Dentist
                - code: 2
                  name: Nurse
                  subCategories:
                    - code: "9"
                      name: Registered Nurse and Registered Midwife (RN & RM)
                    - code: "10"
                      name: Registered Lady Health Visitor (RLHV)
                    - code: "7"
                      name: Registered Auxiliary Nurse Midwife(RANM)
                - code: 6
                  name: Pharmacist
                  subCategories:
                    - code: "33"
                      name: Pharmacy
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: fetchHpIdCategories
      summary: Fetch Hp Id Categories
      x-abdm-summary-derived: true
  /hpid/get/subCategories:
    get:
      tags:
        - Util
      operationId: m4_get_hpid_get_subcategories
      parameters:
        - name: categoryCode
          in: query
          required: false
          schema:
            type: string
        - name: role
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/HpSubCategoriesDTO"
              example:
                - code: "220"
                  name: Yoga and Naturopathy
                - code: "1"
                  name: Modern Medicine
                - code: "2"
                  name: Dentist
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: fetchHpIdSubCategoriesFromCategory
      summary: Fetch Hp Id Sub Categories From Category
      x-abdm-summary-derived: true
  /password/change/byPassword:
    post:
      tags:
        - Profile
      operationId: m4_post_password_change_bypassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidChangePasswordRequestPayload"
            example:
              newPassword: <BASE64 ENCODED STRING>
              oldPassword: <BASE64 ENCODED STRING>
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordChangeDTO"
              example:
                message: Password has been changed successfully!
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: changePassword
      summary: Change Password
      x-abdm-summary-derived: true
  /password/recover/byAadhaar:
    post:
      tags:
        - Profile
      operationId: m4_post_password_recover_byaadhaar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryRequest"
            example:
              hprId: <HPR_ID>
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TxnResponse"
              example:
                txnId: 9b78fdfb-3ba4-4707-8913-63c7c5e3a743
                mobileNumber: "******8063"
                msg: ""
                verified: false
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: recoverPasswordViaAadhaar
      summary: Recover Password Via Aadhaar
      x-abdm-summary-derived: true
  /password/recover/byMobile/sendMobileOTP:
    post:
      tags:
        - Profile
      operationId: m4_post_password_recover_bymobile_sendmobileotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CategoryRequest"
            example:
              hprId: amol.xxxxxx
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendOtpResponse"
              example:
                txnId: 7ebad8aa-127b-492f-bd0e-56da716bd39e
                msg: Please enter OTP sent on your mobile number ******2021
                otp: 0
                mobileNumber: "******2021"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateMobileOTP_1
      summary: Generate Mobile OTP 1
      x-abdm-summary-derived: true
  /password/recover/byMobile/verifyMobileOTP:
    post:
      tags:
        - Profile
      operationId: m4_post_password_recover_bymobile_verifymobileotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidChangePasswordRequestPayload"
            example:
              txnId: 7ebad8aa-127b-492f-bd0e-56da716bd39e
              otp: <BASE64 ENCODED STRING>
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendOtpResponse"
              example:
                verified: true
                txnId: 7ebad8aa-127b-492f-bd0e-56da716bd39e
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyMobileOTP_1
      summary: Verify Mobile OTP 1
      x-abdm-summary-derived: true
  /password/recover/confirmByAadhaar:
    post:
      tags:
        - Profile
      operationId: m4_post_password_recover_confirmbyaadhaar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidOtpWebRequestPaylaod"
            example:
              otp: <BASE64 ENCODED STRING>
              txnId: 9b78fdfb-3ba4-4707-8913-63c7c5e3a743
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ValidateAaddhaarDemographicMobileResponseDTO"
              example:
                verified: true
                txnId: 9b78fdfb-3ba4-4707-8913-63c7c5e3a743
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: recoverPasswordConfirmByAadhaar
      summary: Recover Password Confirm By Aadhaar
      x-abdm-summary-derived: true
  /password/reset/password:
    post:
      tags:
        - Profile
      operationId: m4_post_password_reset_password
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidOtpWebRequestPaylaod"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/PasswordChangeDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: resetPasswordAndSession
      summary: Reset Password And Session
      x-abdm-summary-derived: true
  /password/resetPassword:
    post:
      tags:
        - Profile
      operationId: m4_post_password_resetpassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HidOtpWebRequestPaylaod"
            example:
              txnId: 9b78fdfb-3ba4-4707-8913-63c7c5e3a743
              newPassword: <BASE64 ENCODED STRING>
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PasswordChangeDTO"
              example:
                message: Password has been changed successfully!
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: resetPassword
      summary: Reset Password
      x-abdm-summary-derived: true
  /profile/updateRole:
    post:
      tags:
        - hpid
      operationId: m4_post_profile_updaterole
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountWebRequest"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: updateRoleAndCategory
      summary: Update Role And Category
      x-abdm-summary-derived: true
  /v1/account/getIdCard:
    get:
      tags:
        - Profile
      operationId: m4_get_v1_account_getidcard
      parameters:
        - name: X-Token
          in: header
          required: false
          schema:
            type: string
          description: The HPR token of the signed-in professional, from the HPR login.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProfileResponseDTO"
              example:
                pdf: JVBERi0xLjMK
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getAccountPngCard
      summary: Get Account Png Card
      x-abdm-summary-derived: true
  /v1/account/information:
    get:
      tags:
        - Profile
      operationId: m4_get_v1_account_information
      parameters:
        - name: masked
          in: query
          required: false
          schema:
            type: boolean
            default: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserProfileResponseDto_HPID"
              example:
                hprIdNumber: <HPR_ID>
                hprId: <EMAIL>
                mobile: "******2125"
                firstName: Ayushman
                middleName: Bharat
                lastName: Mission
                name: Ayushman Bharat Mission
                yearOfBirth: <DOB>
                dayOfBirth: <DOB>
                monthOfBirth: <DOB>
                gender: M
                email: <ABHA_ADDRESS>.com
                profilePhoto: <BASE64 ENCODED STRING>
                stateCode: "27"
                districtCode: "490"
                subDistrictCode: null
                villageCode: null
                townCode: null
                wardCode: null
                pincode: <PINCODE>
                address: 9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001
                kycPhoto: <BASE64 ENCODED STRING>
                stateName: MAHARASHTRA
                districtName: <ADDRESS>
                subdistrictName: null
                villageName: null
                townName: <ADDRESS>
                wardName: null
                authMethods:
                  - MOBILE_OTP
                  - DEMOGRAPHICS
                  - AADHAAR_BIO
                kycVerified: true
                verificationStatus: "true"
                categoryId: 1
                categoryName: DOCTOR
                categorySubId: 3
                categorySubName: AYURVEDA
                emailVerified: false
                new: false
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getUserProfileByJwt
      summary: Get User Profile By Jwt
      x-abdm-summary-derived: true
  /v1/account/reKYC/generateAadhaarOTP:
    post:
      tags:
        - Profile
      operationId: m4_post_v1_account_rekyc_generateaadhaarotp
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/TxnResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateAadhaarOTPForReKYC
      summary: Generate Aadhaar OTPFor Re KYC
      x-abdm-summary-derived: true
  /v1/account/reKYC/verifyAadhaarOTP:
    post:
      tags:
        - Profile
      operationId: m4_post_v1_account_rekyc_verifyaadhaarotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequestDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: string
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyAadhaarOTP
      summary: Verify Aadhaar OTP
      x-abdm-summary-derived: true
  /v1/account/reKYC/verifyAadhaarOTPGetDetails:
    post:
      tags:
        - Profile
      operationId: m4_post_v1_account_rekyc_verifyaadhaarotpgetdetails
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRequestDto"
        required: true
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyAadhaarOTPGetDetails
      summary: Verify Aadhaar OTPGet Details
      x-abdm-summary-derived: true
  /v1/account/user-details/{hprId}:
    get:
      tags:
        - Profile
      operationId: m4_get_v1_account_user_details_hprid
      parameters:
        - name: hprId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/UserEntityResponseDTO"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: getUserDetails
      summary: Get User Details
      x-abdm-summary-derived: true
  /v1/forgot/hprId/aadhaar:
    post:
      tags:
        - Forgot Healthcare Professional ID/number
      operationId: m4_post_v1_forgot_hprid_aadhaar
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AadhaarGetTransactionRequest"
            example:
              otp: <BASE64 ENCODED STRING>
              txnId: 4c115e27-a602-4320-b4cd-ee658539e2f0
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RetrieveHprIdPayloadResponse"
              example:
                hprId: <EMAIL>
                hprIdNumber: 71-1********-0212
                token: <JWT TOKEN>
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: retrievalHealthIdByAadhaar
      summary: Retrieval Health Id By Aadhaar
      x-abdm-summary-derived: true
  /v1/forgot/hprId/mobile:
    post:
      tags:
        - Forgot Healthcare Professional ID/number
      operationId: m4_post_v1_forgot_hprid_mobile
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetriveHprIdMobilePayLoad"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/RetrieveHprIdPayloadResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: retrievalHealthIdByMobile
      summary: Retrieval Health Id By Mobile
      x-abdm-summary-derived: true
  /v1/forgot/hprId/mobile/generateOtp:
    post:
      tags:
        - Forgot Healthcare Professional ID/number
      operationId: m4_post_v1_forgot_hprid_mobile_generateotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendOtpRequest"
            example:
              mobileNumber: VPoaDCJBNyGhJiX+sAh9yRq1WXAfRXkgcE31/0U2DMkH/+nvpspAA4GEmkbideZhKsSLYnFA1lHPkBH7PS6Bg4jz0aSdDAoovnYgVftJ/suP4mzhhg1Hrf7zQFPriHiraNlsIzsDeLl3ckGejNiCmXhfhBBw==xxxxxxxxxxxxx
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SendOtpResponse"
              example:
                txnId: 132dd7dd-ca5a-4ec1-a36c-093c007bf794
                msg: Please enter OTP sent on your mobile number ******2021
                mobileNumber: "******2021"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: generateMobileOTP
      summary: Generate Mobile OTP
      x-abdm-summary-derived: true
  /v1/search/existsByHprId/{hprId}:
    get:
      tags:
        - Searched
      operationId: m4_get_v1_search_existsbyhprid_hprid
      parameters:
        - name: hprId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
              example: true
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: existsByHprId
      summary: Exists By Hpr Id
      x-abdm-summary-derived: true
  /v1/search/searchByHprId/{hprId}:
    get:
      tags:
        - Searched
      operationId: m4_get_v1_search_searchbyhprid_hprid
      parameters:
        - name: hprId
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ForgetUserEntityResponseDTO"
              example:
                hprIdNumber: <HPR_ID>
                name: Ayushman Bharat Mission
                authMethods:
                  - PASSWORD
                  - MOBILE_OTP
                  - AADHAAR_OTP
                hprId: <EMAIL>
                categoryId: "1"
                subCategoryId: "1"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: searchUserByHprId
      summary: Search User By Hpr Id
      x-abdm-summary-derived: true
  /v1/search/searchByMobile/{mobile}:
    get:
      tags:
        - Searched
      operationId: m4_get_v1_search_searchbymobile_mobile
      parameters:
        - name: mobile
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ForgetUserEntityResponseDTO"
              example:
                - hprIdNumber: <HPR_ID>
                  name: Ayushman Bharat Mission
                  authMethods:
                    - PASSWORD
                    - MOBILE_OTP
                    - AADHAAR_OTP
                  hprId: <EMAIL>
                  categoryId: "1"
                  subCategoryId: "1"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: searchUserByMobileNo
      summary: Search User By Mobile No
      x-abdm-summary-derived: true
  /v1/sendOtpIfDoctorVerified:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_sendotpifdoctorverified
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendOtpIfDoctorVerifiedRequest"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/SendOtpIfDoctorVerifiedResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: sendOtpIfDoctorVerified
      summary: Send Otp If Doctor Verified
      x-abdm-summary-derived: true
  /v1/verifyDoctorVerificationOtp:
    post:
      tags:
        - Verification
      operationId: m4_post_v1_verifydoctorverificationotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyOtpRequest"
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/VerifyDoctorOtpResponse"
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: verifyDoctorVerificationOtp
      summary: Verify Doctor Verification Otp
      x-abdm-summary-derived: true
  /v4/auth/logout:
    get:
      tags:
        - Profile
      operationId: m4_get_v4_auth_logout
      responses:
        "200":
          description: OK
          content:
            "*/*":
              schema:
                type: string
              example: User Profile LoggedOut Successfully!!
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: logout
      summary: Logout
      x-abdm-summary-derived: true
  /apis/v1/doctors/register-professional-new:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_doctors_register_professional_new
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthProfessionalDto"
            example:
              hprToken: <JWT TOKEN>
              practitioner:
                healthProfessionalType: doctor
                profilePhoto: <BASE64 ENCODED STRING>
                officialMobileCode: ""
                officialMobile: 97624xxxxx
                officialMobileStatus: ""
                officialEmail: ""
                officialEmailStatus: ""
                visibleProfilePicture: "0"
                profileVisibleToPublic: "1"
                personalInformation:
                  salutation: "1"
                  firstName: Ayushman
                  middleName: ""
                  lastName: Mission
                  nationality: "356"
                  fatherName: ""
                  motherName: ""
                  spouseName: ""
                  gender: M
                  dateOfBirth: <DOB>
                  placeOfBirthState: "68"
                  district: ""
                  subDistrict: ""
                  city: ""
                  languagesSpoken: 1,2
                  category: C
                addressAsPerKYC: ""
                communicationAddress:
                  isCommunicationAddressAsPerKYC: "false"
                  address: ""
                  name: ""
                  country: ""
                  state: ""
                  district: ""
                  subDistrict: ""
                  city: ""
                  pincode: ""
                contactInformation:
                  publicMobileNumber: ""
                  publicMobileNumberCode: ""
                  publicMobileNumberStatus: ""
                  landLineNumber: ""
                  landLineNumberCode: ""
                  publicEmail: ""
                  publicEmailStatus: ""
                registrationAcademic:
                  category: "1"
                  registrationData:
                    - registeredWithCouncil: "47"
                      registrationNumber: REG12032
                      registrationDate: "2024-12-01"
                      registrationCertificate:
                        fileType: pdf
                        data: <BASE64 ENCODED STRING>
                      isPermanentOrRenewable: Permanent
                      renewableDueDate: ""
                      categoryId: "2"
                      isNameDifferentInCertificate: "false"
                      proofOfNameChangeCertificate: ""
                      qualifications:
                        - nameOfDegreeOrDiplomaObtained: "4074"
                          country: "356"
                          state: "27"
                          college: "1022"
                          university: "6372"
                          yearOfAwardingDegreeDiploma: "2024"
                          monthOfAwardingDegreeDiploma: February
                          degreeCertificate:
                            fileType: pdf
                            data: <BASE64 ENCODED STRING>
                          isNameDifferentInCertificate: "false"
                          proofOfNameChangeCertificate: ""
                        - nameOfDegreeOrDiplomaObtained: Graduation
                          country: United States Of America
                          state: united
                          college: united School
                          university: united University
                          yearOfAwardingDegreeDiploma: "2024"
                          monthOfAwardingDegreeDiploma: February
                          degreeCertificate:
                            fileType: pdf
                            data: <BASE64 ENCODED STRING>
                          isNameDifferentInCertificate: "true"
                          proofOfNameChangeCertificate: <BASE64 ENCODED STRING>
                currentWorkDetails:
                  currentlyWorking: "0"
                  purposeOfWork: Administrative
                  chooseWorkStatus: "1"
                  reasonForNotWorking: Retired
                  certificateAttachment: <BASE64 ENCODED STRING>
                  facilityDeclarationData:
                    facilityId: IN2710000059
                    facilityName: ""
                    facilityAddress: ""
                    facilityPincode: ""
                    state: ""
                    district: ""
                    facilityType: ""
                    facilityDepartment: Surgery
                    facilityDesignation: MD
                    ministry:
                      ministry: MinistryMOR ( Mo Railways )
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthProfessionalResponseDto"
              example:
                referenceNumber: 9a2d25fc-6897-4645-8e78-7f12a91b4ab4
                status: "true"
                message: Congratulations! Your profile has been submitted successfully for verification.
                error: null
                hprId: <HPR_ID>
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: registerProfesstional
      summary: Register Professtional
      x-abdm-summary-derived: true
  /apis/v1/doctors/update-professional-new:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_doctors_update_professional_new
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HealthProfessionalDto"
            example:
              hprToken: <JWT TOKEN>
              practitioner:
                healthProfessionalType: doctor
                profilePhoto: <BASE64 ENCODED STRING>
                officialMobileCode: ""
                officialMobile: 97624xxxxx
                officialMobileStatus: ""
                officialEmail: ""
                officialEmailStatus: ""
                visibleProfilePicture: "0"
                profileVisibleToPublic: "1"
                personalInformation:
                  salutation: "1"
                  firstName: Ayushman
                  middleName: ""
                  lastName: Mission
                  nationality: "356"
                  fatherName: ""
                  motherName: ""
                  spouseName: ""
                  gender: M
                  dateOfBirth: <DOB>
                  placeOfBirthState: "68"
                  district: ""
                  subDistrict: ""
                  city: ""
                  languagesSpoken: 1,2
                  category: C
                addressAsPerKYC: ""
                communicationAddress:
                  isCommunicationAddressAsPerKYC: "false"
                  address: ""
                  name: ""
                  country: ""
                  state: ""
                  district: ""
                  subDistrict: ""
                  city: ""
                  pincode: ""
                contactInformation:
                  publicMobileNumber: ""
                  publicMobileNumberCode: ""
                  publicMobileNumberStatus: ""
                  landLineNumber: ""
                  landLineNumberCode: ""
                  publicEmail: ""
                  publicEmailStatus: ""
                registrationAcademic:
                  category: "1"
                  registrationData:
                    - registeredWithCouncil: "47"
                      registrationNumber: REG12032
                      registrationDate: "2024-12-01"
                      registrationCertificate:
                        fileType: pdf
                        data: <BASE64 ENCODED STRING>
                      isPermanentOrRenewable: Permanent
                      renewableDueDate: ""
                      categoryId: "2"
                      isNameDifferentInCertificate: "false"
                      proofOfNameChangeCertificate: ""
                      qualifications:
                        - nameOfDegreeOrDiplomaObtained: "4074"
                          country: "356"
                          state: "27"
                          college: "1022"
                          university: "6372"
                          yearOfAwardingDegreeDiploma: "2024"
                          monthOfAwardingDegreeDiploma: February
                          degreeCertificate:
                            fileType: pdf
                            data: <BASE64 ENCODED STRING>
                          isNameDifferentInCertificate: "false"
                          proofOfNameChangeCertificate: ""
                        - nameOfDegreeOrDiplomaObtained: Graduation
                          country: United States Of America
                          state: united
                          college: united School
                          university: united University
                          yearOfAwardingDegreeDiploma: "2024"
                          monthOfAwardingDegreeDiploma: February
                          degreeCertificate:
                            fileType: pdf
                            data: <BASE64 ENCODED STRING>
                          isNameDifferentInCertificate: "true"
                          proofOfNameChangeCertificate: <BASE64 ENCODED STRING>
                currentWorkDetails:
                  currentlyWorking: "0"
                  purposeOfWork: Administrative
                  chooseWorkStatus: "1"
                  reasonForNotWorking: Retired
                  certificateAttachment: <BASE64 ENCODED STRING>
                  facilityDeclarationData:
                    facilityId: IN2710000059
                    facilityName: ""
                    facilityAddress: ""
                    facilityPincode: ""
                    state: ""
                    district: ""
                    facilityType: ""
                    facilityDepartment: Surgery
                    facilityDesignation: MD
                    ministry:
                      ministry: MinistryMOR ( Mo Railways )
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthProfessionalResponseDto"
              example:
                referenceNumber: 5b17ca73-f069-4018-91a0-665df0117d43
                status: "true"
                message: Congratulations! Your profile has been submitted successfully for verification.
                error: null
                hprId: <HPR_ID>
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: updateProfesstional
      summary: Update Professtional
      x-abdm-summary-derived: true
  /apis/v1/doctors/fetch-documents-list:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_doctors_fetch_documents_list
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchRequestDTO"
            example:
              hprid: <HPR_ID>
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchDocumentResponseDTO"
              example:
                documentList:
                  profileDetails:
                    profilePhoto:
                      id: 30106
                      data: <BASE64_PHOTO>
                    proofOfWorkCertificate:
                      id: 30106
                      data: JVBERi0xLjMK
                  registrationDetails:
                    - registrationCertificate:
                        id: 21021
                        systemOfMedicide: modern_medicine
                        data: JVBERi0xLjMK
                      proofOfNameChangeRegCertificate:
                        id: 21021
                        systemOfMedicide: modern_medicine
                        data: JVBERi0xLjMK
                  qualificationDetails:
                    - degreeCertificate:
                        id: 9693
                        courseName: PhD Biostatistics
                        qualificationYear: "2021"
                        data: JVBERi0xLjMK
                      proofOfNameChangeQualCertificate:
                        id: 9693
                        courseName: PhD Biostatistics
                        qualificationYear: "2021"
                        data: JVBERi0xLjMK
                  qualification: null
                Message: Data fetched successfully
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: fetchDocuments
      summary: Fetch Documents
      x-abdm-summary-derived: true
  /apis/v1/uploads/upload-document:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_uploads_upload_document
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UploadDocumentDTO"
            example:
              hpr_token: <JWT TOKEN>
              document:
                - document_id: 20931
                  document_type: registrationCertificate
                  fileType: ""
                  data: JVBERi0xLjMK
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadDocumentResponseDTO"
              example:
                profilePhoto: null
                degreeCertificate: null
                registrationCertificate:
                  status: pass
                  msg: Registration certificate updated
                proofOfWorkCertificate: null
        "404":
          description: Not Found
          content:
            "*/*":
              schema:
                type: string
      x-abdm-nha-operation-id: uploadDocuments
      summary: Upload Documents
      x-abdm-summary-derived: true
  /apis/v1/doctors/fetch-professional-info:
    post:
      tags:
        - Enrollment
      operationId: m4_post_v1_doctors_fetch_professional_info
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchPracticionerRequestDTO"
            example:
              practitioner:
                id: <HPR_ID>
                name: ""
                contactNumber: 976243XXXX
                state: UTTAR PRADESH
                registrationNumber: ""
        required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchProfessionalResponseDTO"
              example:
                practitioners:
                  - - identifier: 38053
                      active: false
                      name: Ayushman Bharat Mission
                      gender: Male
                      salutation: Mr
                      communicationLanguage: " English "
                      registrations:
                        - identifier: 25989
                          category: Dentistry
                          nuidnumber: null
                          nuidvalidtill: null
[...]
