# NHCX claim, from the NHCX package's Bruno folder apis/05-claim.
#
# Written by the package's own documentation build; change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: claim
    label: Claim
    position: 5
  title: NHCX claim
  summary: The claim is where money actually moves.
  description: |-
    The Claim calls on the National Health Claims Exchange (NHCX): 4 operations, and 2 callbacks you host.

    The claim is where money actually moves.

    Guides that use these calls: [Claim request](/docs/nhcx/v1/reference/fhir/claim-request), [Claim response](/docs/nhcx/v1/reference/fhir/claim-response), [Claim query and answer](/docs/nhcx/v1/reference/fhir/claim-query-and-answer).
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: claim
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/05-claim
    role: upstream
    hash: sha256:d216977cce22632f8ab901882dfe7b64d92ba5f0dcdd08f477d105b15d14cfbc
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
  - file: nhcx-package/nhcx-error.yaml
    role: upstream
    hash: sha256:d24ac927ed4dd722e60d7bd1d6fed15de370cc29f750d68999ee56fac93c941b
    note: The error codes.
servers:
  - url: https://apisbx.abdm.gov.in/hcx
    description: Sandbox, NHCX exchange.
  - url: https://apisprod.nha.gov.in/hcx
    description: Production.
tags:
  - name: Claim
    description: The claim is where money actually moves.
  - name: Adapter
    description: Internal twins of the exchange calls, for the NHCX adapter deployment.
security:
  - bearerAuth: []
paths:
  /v1/claim/submit:
    post:
      operationId: claim_v1_claim_submit
      x-abdm-atom: nhcx.endpoint.claim-submit
      x-abdm-use-case: Claim
      tags:
        - Claim
      summary: Claim submit
      description: |-
        Provider submits the final itemised Claim bundle (Claim.use claim), or a claim query response or resubmission; NHCX routes it to the payer.

        ### Business purpose

        The claim is where money actually moves. After treatment the provider assembles finalised bills, the complete document set and the preAuthRef, and asks the payer to adjudicate and settle. A well-prepared claim closes within days; a poorly prepared one cycles through queries and resubmissions for weeks. The endpoint gives hospitals a single structured channel for settlement requests and gives payers a complete evidentiary package against which to calculate the approved amount, apply deductions and trigger payment.

        ### When to use

        Called after discharge, once an approved preauth exists (PAYR-1302 otherwise). x-hcx-workflow_id distinguishes the step: 15 CLAIM_REQUEST_INITIATED for the final claim (in PMJAY the discharge and claim steps are merged into this one submission); 151 CLAIM_QUERY_RESPONSE_SUBMITTED to answer a payer query received under 27; the optional x-hcx-use_case header takes New or Resubmit. The NHA sheet also lists R15 and R151 for the reimbursement mirror and 36 CLAIM_ARBITRATION_REQUEST_SUBMITTED for reprocess or erroneous-claim requests, which the FAQ routes through /v1/task/submit rather than this endpoint. Send x-hcx-status request.initiated. PMJAY LAMA or DAMA discharges before or during surgery must carry only procedure LM100 (PAYR-1362).

        ### Preconditions

        - An approved preauth exists for the case and no claim has already been raised for it (PAYR-1301, PAYR-1302).
        - Claim.use is claim; the bundle reuses the preauth's identifier or references preAuthRef, with estimated amounts replaced by final bill amounts.
        - Patient carries PMJAY Member ID and ABHA number; diagnosis, procedure, care team, supportingInfo and an active Coverage are present; discharge summary, operative notes, diagnostics and itemised billing are attached.
        - Discharge information is in supportingInfo (category DIS, code DTH, DTM, LAMA or DAMA, value Before Surgery or After Surgery); for PMJAY either discharge biometric authentication or the Authentication Consent questionnaire response is included (PAYR-1363, PAYR-1364).
        - Admission, registration and discharge dates are valid and ordered (PAYR-1357, PAYR-1358, PAYR-1325 to PAYR-1330).
        - Valid Bearer token, payer certificate, JWE encryption, fresh correlation ID for a new cycle, processingID as recipient code.

        ### Postconditions

        NHCX returns HTTP 202 Accepted with a StatusSuccessResponse acknowledgement (entity_type claim) and forwards the request asynchronously. The payer may respond several times on /v1/claim/on_submit: 25 received, 28 in process and 29 forwarded as response.partial, 27 queried, then 26 approved or a rejection as response.complete. A response.complete closes the claim identifier permanently; no further submissions or responses are permitted against it. An approved final claim triggers the payment sequence 30, 31 and 33 on /v1/paymentnotice/request. Protocol failures arrive as a ProtocolResponse with x-hcx-error_details.

        ### Common mistakes

        - Submitting a claim without an approved preauth (PAYR-1302), or a second claim for the same case (PAYR-1301, PAYR-1016 duplicate by service codes and dates).
        - Claiming more than the preauth approved amount (PAYR-1012) or items that were not in the preauth or were rejected there (PAYR-1306, PAYR-1315).
        - Answering a claim query (27) with a fresh 15 instead of 151, or sending an invalid workflow ID (PAYR-1321).
        - Wrong or missing discharge stage (PAYR-1324) and, for PMJAY LAMA or DAMA cases, omitting LM100 or including other approved items alongside it (PAYR-1362).
        - Missing the mandatory documents named by the InsurancePlan or eligibility response, which produces a query rather than a rejection and delays settlement.
        - Reusing a correlation ID from the preauth cycle for a new claim cycle (NHCX-1006), or retrying a failed cycle with the same ID.

        ### Best practices

        - Start from the approved preauth payload: keep diagnosis and procedure entries, change Claim.use to claim, replace estimates with final amounts and add the full document set.
        - Reference preAuthRef and reuse the case number; key every submission on the correlation ID and persist workflow ID and use_case with it.
        - Check response.outcome on every callback; partial means the claim is still live, so keep monitoring the same correlation ID.
        - Validate supportingInfo value types and discharge codes before encrypting; the PAYR-1098, 1099 and 1501 to 1505 family rejects malformed supporting info.
        - For LAMA discharges send stratification with duration; for cyclic procedures send cycle information for every cycle with one biometric record per date (PAYR-1368, PAYR-1369).
        - Implement v1/error and use /v1/status with the claim's correlation ID when no callback arrives.

        ### Related scenario

        A patient is discharged home after the corneal grafting approved under preAuthRef PREAUTH-HP-2026-78901. The billing desk takes the preauth bundle, sets Claim.use to claim, records discharge code DTH After Surgery, attaches the discharge summary, operative notes and final itemised bill of 13700 INR, and posts it to /v1/claim/submit under workflow 15 with use_case New and a new correlation ID. NHCX returns 202. The payer sends 25 and 28 as response.partial, then queries under 27 for a missing investigation report; the hospital answers under 151. Approval arrives under 26 as response.complete, and a payment notice follows on /v1/paymentnotice/request.

        ### Specification

        Chapter [Claim request](/docs/nhcx/v1/reference/fhir/claim-request) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxWorkflowId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxUseCase"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: NHCX returns HTTP 202 Accepted with a StatusSuccessResponse acknowledgement (entity_type claim) and forwards the request asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                correlation_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                result:
                  sender_code: 1000004446@hcx
                  recipient_code: 1518@hcx
                  entity_type: claim
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/claim/on_submit:
    post:
      operationId: claim_v1_claim_on_submit
      x-abdm-atom: nhcx.endpoint.claim-on-submit
      x-abdm-use-case: Claim
      tags:
        - Claim
      summary: Claim callback
      description: |-
        Payer returns interim (response.partial) and final (response.complete) ClaimResponseBundles for a claim to the provider via NHCX.

        ### Business purpose

        This callback carries the payer's adjudication of the final claim, possibly in several stages. Interim partial responses let the payer signal receipt, processing and queries while the claim stays open; the complete response fixes the financial decision (approved, partially approved or rejected) and triggers payment advice and settlement. For the hospital it is the source of truth for what will be paid and why; for the payer it is the auditable record of the decision.

        ### When to use

        Called by the payer or TPA after each adjudication step on a /v1/claim/submit message, with the same correlation ID. Workflow IDs: 25 CLAIM_REQUEST_RECEIVED, 28 CLAIM_REQUEST_IN_PROCESS and 29 CLAIM_FORWARDED with x-hcx-status response.partial; 27 CLAIM_REQUEST_QUERIED (framed as request.initiated in the NHA sheet, answered by the provider under 151); 26 CLAIM_REQUEST_APPROVED with response.complete; rejection with outcome complete and adjudication reason cancelled. ClaimResponse.outcome complete plus reason approved is approval, complete plus cancelled is rejection, partial plus approved is partial approval, partial plus queried is a query with totals at zero.

        ### Preconditions

        - A claim request with this correlation ID exists in NHCX (NHCX-1010 otherwise) and has not been closed by an earlier response.complete.
        - The payer has a valid Bearer token and the provider's certificate, and encrypts the ClaimResponseBundle for the provider.
        - x-hcx-correlation_id echoes the request; x-hcx-api_call_id is new; sender and recipient codes are swapped; x-hcx-status is response.partial, response.complete or response.error.
        - Adjudication categories (submitted, eligible, copay, benefit) and total[].category codes are populated; processNote explains reductions; query text is carried in the adjudication reason display.
        - Protocol errors are a ProtocolResponse with x-hcx-error_details; business errors are inside the encrypted resource.

        ### Postconditions

        HTTP 202 Accepted with the StatusSuccessResponse acknowledgement (entity_type claim) from NHCX, then asynchronous delivery to the provider's callback, which must acknowledge with 202 within 30 seconds or NHCX retries up to five times before deleting the request. After a response.partial the claim remains open and further callbacks on the same correlation ID are expected. After a response.complete no further provider submissions or payer responses are permitted against that claim identifier; an approval starts the payment notices 30, 31 and 33, and a rejection leaves the provider the option of a reprocess request (workflow 36) via /v1/task/submit.

        ### Common mistakes

        - Provider side: treating outcome complete as approval without checking adjudication[0].reason.coding.code; a rejection is also complete.
        - Provider side: stopping monitoring after the first callback; multiple partial responses may precede the complete one.
        - Provider side: reading a carried-over benefit total on a rejected response as payable, or keying totals by array index instead of category code.
        - Provider side: returning anything other than 202 with the acceptance body, which triggers retries and eventual deletion.
        - Payer side: sending a further response after response.complete on the same claim identifier, or minting a new correlation ID.
        - Payer side: using JWEPayloadResponse instead of ProtocolResponse for protocol rejections (PAYR-1517).

        ### Best practices

        - Provider: acknowledge first, then decrypt, then update case state; be idempotent on correlation ID and api_call_id.
        - Provider: parse the PMJAY query audit trail (USER~datetime~type~comment~trust, entries separated by |) as a plain string.
        - Provider: on complete plus approved, trigger settlement tracking and await 30, 31 and 33; the claim is only closed when 33 arrives and the UTR is persisted.
        - Payer: emit 25 on receipt and 28 during processing so the desk sees progress, and put reduction reasons in processNote linked by noteNumber.
        - Both: keep x-hcx-status and x-hcx-workflow_id consistent with the NHA status sheet, since the pair identifies the message.

        ### Related scenario

        A state health agency receives a final claim for 13700 INR against an approved preauth. Its bridge first posts 25 (received) and 28 (in process) as response.partial to /v1/claim/on_submit. The medical auditor finds the investigation report missing and the bridge posts 27 with the query text in the adjudication reason display; the hospital answers under 151 on /v1/claim/submit. Satisfied, the payer posts 26 with outcome complete, reason approved and benefit 13700 as response.complete. The hospital's callback acknowledges each message within 30 seconds, marks the claim adjudicated and waits for the payment notice under workflow 30.

        ### Specification

        Chapter [Claim response](/docs/nhcx/v1/reference/fhir/claim-response) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - name: x-hcx-workflow_id
          in: header
          required: false
          description: Which step, or which case. See the two readings below. Optional on the envelope.
          schema:
            type: string
          example: "26"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxDebugFlag"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: HTTP 202 Accepted with the StatusSuccessResponse acknowledgement (entity_type claim) from NHCX, then asynchronous delivery to the provider's callback, which must acknowledge with 202 within 30 seconds or NHCX retries up to five times before deleting the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: 9a8b7c6d-5e4f-4a3b-2c1d-0e9f8a7b6c5d
                correlation_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                result:
                  sender_code: 1518@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: claim
                  protocol_status: request.dispatched
                error:
                  code: ""
                  message: ""
  /internal/v1/claim/submit:
    post:
      operationId: claim_internal_v1_claim_submit
      x-abdm-use-case: Adapter
      tags:
        - Adapter
      summary: Claim submit (internal) (adapter)
      description: |-
        Internal twin of /v1/claim/submit (operationId claimSubmitPostInternal) with the same JWEPayload body and response set.

        ### Business purpose

        The claim service publishes its submit operation twice, at /v1 and at /internal/v1. Both let a provider submit or resubmit the final claim bundle for adjudication and settlement. The internal path is documented only as a distinct operationId on the same contract; no separate business purpose is described for it.

        ### When to use

        Documented as the internal variant of claim submit, consumed by providers with a JWEPayload body. The same workflow discriminators apply: 15 for the final claim, 151 for a claim query response, with x-hcx-use_case New or Resubmit and x-hcx-status request.initiated. The OpenAPI specs expose this operation twice, at /v1/... and at /internal/v1/..., with identical descriptions, request bodies and response sets; only the operationId differs (an Internal suffix). The specs do not document what makes the internal variant different beyond that suffix, so treat it as a mirror of the public path and integrate against the public /v1 path unless NHCX onboarding tells you otherwise.

        ### Preconditions

        Identical to /v1/claim/submit: an approved preauth for the case, Claim.use set to claim with preAuthRef and final amounts, the complete document set and discharge information, PMJAY authentication or consent questionnaire, a valid Bearer token, the payer certificate, JWE encryption and a fresh correlation ID. Nothing additional is documented for the internal route.

        ### Postconditions

        Same as the public path: HTTP 202 Accepted with a StatusSuccessResponse acknowledgement, asynchronous forwarding to the payer, and one or more ClaimResponseBundles on the claim callback (the internal twin /internal/v1/claim/on_submit exists with the same body). 400, 404 and 500 carry the same schema.

        ### Common mistakes

        - Assuming a different body or semantics for the internal route; the spec gives it the same JWEPayload body and responses.
        - Using it without confirmation from NHCX onboarding and then chasing a 404; try the alternate host and prefix shape before escalating.
        - Every public claim-submit pitfall applies unchanged: no approved preauth (PAYR-1302), duplicate claim (PAYR-1301), amount above the approved preauth (PAYR-1012), wrong workflow ID (PAYR-1321), reused correlation ID (NHCX-1006).

        ### Best practices

        - Default to /v1/claim/submit and keep the internal path as a configuration option only.
        - Share one client implementation across both paths so header hygiene, encryption and correlation handling cannot diverge.
        - Record which variant carried each correlation ID for support conversations.

        ### Related scenario

        A hospital's HMIS vendor reading the claimhcxservice OpenAPI notices claimSubmitPost and claimSubmitPostInternal side by side. They implement a single claim client against /v1/claim/submit, parameterise the base path, and ask NHCX support whether the internal twin is relevant to their deployment. The end-to-end flow is unchanged: the claim goes out under workflow 15 after discharge, returns a 202, and the payer's adjudication arrives on the claim callback.

        ### Specification

        Chapter [Claim request](/docs/nhcx/v1/reference/fhir/claim-request) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxWorkflowId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxUseCase"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: "Same as the public path: HTTP 202 Accepted with a StatusSuccessResponse acknowledgement, asynchronous forwarding to the payer, and one or more ClaimResponseBundles on the claim callback (the internal twin /internal/v1/claim/on_submit exists with the same body)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                correlation_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                result:
                  sender_code: 1000004446@hcx
                  recipient_code: 1518@hcx
                  entity_type: claim
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /internal/v1/claim/on_submit:
    post:
      operationId: claim_internal_v1_claim_on_submit
      x-abdm-use-case: Adapter
      tags:
        - Adapter
      summary: Claim callback (internal) (adapter)
      description: |-
        Internal twin of /v1/claim/on_submit (operationId claimOnSubmitPostInternal) taking the same bare object body.

        ### Business purpose

        Mirror of the public claim callback: the payer or TPA returns interim and final ClaimResponseBundles, or a protocol error, to the provider through NHCX. It serves the same settlement purpose of communicating the adjudication decision that triggers payment. No separate business role is documented for the internal route.

        ### When to use

        Documented as the internal variant of the claim callback, consumed by payers. Called after each adjudication step with the request's correlation ID and x-hcx-status response.partial (25, 28, 29), response.complete (26 approved or a rejection) or response.error; queries arrive under 27. The OpenAPI specs expose this operation twice, at /v1/... and at /internal/v1/..., with identical descriptions, request bodies and response sets; only the operationId differs (an Internal suffix). The specs do not document what makes the internal variant different beyond that suffix, so treat it as a mirror of the public path and integrate against the public /v1 path unless NHCX onboarding tells you otherwise.

        ### Preconditions

        Identical to the public callback: an in-flight claim request with this correlation ID that has not been closed by a response.complete, the provider's certificate for encryption, a new api_call_id, swapped sender and recipient codes, a valid responder status, and business errors inside the encrypted ClaimResponse rather than the header.

        ### Postconditions

        Same as /v1/claim/on_submit: HTTP 202 Accepted with the StatusSuccessResponse acknowledgement, asynchronous delivery to the provider's callback with the 30-second acknowledgement rule and five retries before deletion, the claim remaining open after a partial and closing permanently after a complete, and an approval starting the payment notices 30, 31 and 33.

        ### Common mistakes

        - Treating the internal callback as a different contract; the spec gives it the same object body and response set.
        - All public claim-callback pitfalls apply: outcome complete misread as approval without checking the reason code, monitoring stopped after the first partial, 200 returned instead of the 202 acceptance body, new correlation ID minted, JWEPayloadResponse sent instead of ProtocolResponse (PAYR-1517).

        ### Best practices

        - Route both callback variants into one handler keyed on x-hcx-correlation_id.
        - Acknowledge with 202 inside 30 seconds and process asynchronously; be idempotent under redelivery.
        - Use the public /v1 path unless NHCX onboarding specifies the internal one.

        ### Related scenario

        A TPA that adjudicates claims for several insurers builds one response pipeline that emits 25, 28, 27 and 26 with the correct outcome and reason codes and echoes the claim's correlation ID. It posts to /v1/claim/on_submit by default and keeps /internal/v1/claim/on_submit as a configurable alternative in case NHCX requires it. The hospital callback acknowledges each message and, on 26, awaits the payment notice.

        ### Specification

        Chapter [Claim response](/docs/nhcx/v1/reference/fhir/claim-response) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - name: x-hcx-workflow_id
          in: header
          required: false
          description: Which step, or which case. See the two readings below. Optional on the envelope.
          schema:
            type: string
          example: "26"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxDebugFlag"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: "Same as /v1/claim/on_submit: HTTP 202 Accepted with the StatusSuccessResponse acknowledgement, asynchronous delivery to the provider's callback with the 30-second acknowledgement rule and five retries before deletion, the claim remaining open after a partial and closing permanently after a complete, and an approval starting the payment notices 30, 31 and 33."
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: 9a8b7c6d-5e4f-4a3b-2c1d-0e9f8a7b6c5d
                correlation_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                result:
                  sender_code: 1518@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: claim
                  protocol_status: request.dispatched
                error:
                  code: ""
                  message: ""
webhooks:
  v1_claim_submit:
    post:
      operationId: claim_webhook_v1_claim_submit
      x-abdm-atom: nhcx.callback.claim-submit
      x-abdm-triggered-by: claim_v1_claim_submit
      x-abdm-use-case: Webhooks
      tags:
        - Claim
      summary: Receive claim submit
      description: |-
        Hosted by the payer. The exchange posts this message to the `endpoint_url` you registered, at `/v1/claim/submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Provider submits the final itemised Claim bundle (Claim.use claim), or a claim query response or resubmission; NHCX routes it to the payer.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxWorkflowId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxUseCase"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  v1_claim_on_submit:
    post:
      operationId: claim_webhook_v1_claim_on_submit
      x-abdm-atom: nhcx.callback.claim-on-submit
      x-abdm-triggered-by: claim_v1_claim_on_submit
      x-abdm-use-case: Webhooks
      tags:
        - Claim
      summary: Receive claim callback
      description: |-
        Hosted by the provider. The exchange posts this message to the `endpoint_url` you registered, at `/v1/claim/on_submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Payer returns interim (response.partial) and final (response.complete) ClaimResponseBundles for a claim to the provider via NHCX.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - name: x-hcx-workflow_id
          in: header
          required: false
          description: Which step, or which case. See the two readings below. Optional on the envelope.
          schema:
            type: string
          example: "26"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxDebugFlag"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "On every NHCX call, the token goes in a header called `bearer_auth`, with the word `Bearer` and a space in front. The sources are not unanimous: the authentication page and the FAQ both write the example as `Authorization`, and the notification endpoint uses `Authorization`. The safe course, and what the adapter does, is to send both headers with the same value."
  parameters:
    BearerAuth:
      name: bearer_auth
      in: header
      required: true
      description: It is `bearer_auth`, not `Authorization`, on NHCX's own endpoints.
      schema:
        type: string
      example: Bearer <access token>
    XHcxSenderCode:
      name: x-hcx-sender_code
      in: header
      required: true
      description: Your participant code. Mandatory on the envelope.
      schema:
        type: string
      example: 1000004446@hcx
    XHcxRecipientCode:
      name: x-hcx-recipient_code
      in: header
      required: true
      description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
      schema:
        type: string
      example: 1518@hcx
    XHcxApiCallId:
      name: x-hcx-api_call_id
      in: header
      required: true
      description: Fresh on every message, including responses. Mandatory on the envelope.
      schema:
        type: string
      example: <uuid>
    XHcxRequestId:
      name: x-hcx-request_id
      in: header
      required: false
      description: One per originating request. The Open Protocol page marks it Mandatory; the Technical Specifications page marks it Optional. Optional on the envelope.
      schema:
        type: string
      example: <uuid>
    XHcxCorrelationId:
      name: x-hcx-correlation_id
      in: header
      required: true
      description: The thread. See the rule below. Mandatory on the envelope.
      schema:
        type: string
      example: <uuid>
    XHcxWorkflowId:
      name: x-hcx-workflow_id
      in: header
      required: false
      description: Which step, or which case. See the two readings below. Optional on the envelope.
      schema:
        type: string
      example: "15"
    XHcxTimestamp:
      name: x-hcx-timestamp
      in: header
      required: true
      description: See the format note below. Mandatory on the envelope.
      schema:
        type: string
      example: <iso timestamp>
    XHcxStatus:
      name: x-hcx-status
      in: header
      required: true
      description: Where this message stands. Values below. Mandatory on the envelope.
      schema:
        type: string
      example: request.initiated
    XHcxBenAbhaId:
      name: x-hcx-ben-abha-id
      in: header
      required: true
      description: The beneficiary's ABHA number. Mandatory on every exchange, including those with no beneficiary in the payload. Mandatory on the envelope.
      schema:
        type: string
      example: "91711234567890"
    XHcxUseCase:
      name: x-hcx-use_case
      in: header
      required: false
      description: Values differ by exchange, see below. Optional on the envelope.
      schema:
        type: string
      example: New
    XHcxDebugFlag:
      name: x-hcx-debug_flag
      in: header
      required: false
      description: "`Error`, `Info` or `Debug`. A server may ignore it. Optional on the envelope."
      schema:
        type: string
      example: INFO
x-abdm-errors:
  notes: "Codes any exchange call can meet are recorded once, in the [Other](/docs/nhcx/v1/api/other) specification: the gateway's NHCX- codes, the standard payer codes, and the reference payer's structure and transport codes. The reference payer's other codes sit with the exchange they reject: coverage eligibility, preauthorisation, claim and insurance plan. [Reading error codes](/docs/nhcx/v1/reference/error-code-guide) explains the code spaces."
x-abdm-errors-reference-payer:
  source: Reference payer codes, PAYR-1001 to PAYR-1520. Sent by the PMJAY reference implementation; they arrive inside the sealed response.
  codes:
    - code: PAYR-1301
      message: Claim has already been raised for case number %s. Hence new claim request will not be accepted.
      action: ""
    - code: PAYR-1302
      message: No preauthorization approved record found for case number %s. Hence new claim request will not be accepted.
      action: ""
    - code: PAYR-1303
      message: No active claim record found for case number %s. Hence query updation request will not be accepted.
      action: ""
    - code: PAYR-1304
      message: No claim queried record found for case number %s. Hence query updation request will not be accepted.
      action: ""
    - code: PAYR-1305
      message: Invalid usecase requested for case number %s. Please try again with valid usecase.
      action: ""
    - code: PAYR-1306
      message: No item found in preauthorization request for procedure %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1307
      message: Invalid quantity requested for procedure %s with item sequence %s for case number %s. Please try again with valid quantity.
      action: ""
    - code: PAYR-1308
      message: No item found in active claim request for procedure %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1309
      message: No item found in preauthorization request for implant %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1310
      message: Invalid quantity requested for implant %s with item sequence %s for case number %s. Please try again with valid quantity.
      action: ""
    - code: PAYR-1311
      message: No item found in active claim request for implant %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1312
      message: No item found in preauthorization request for investigation %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1313
      message: Invalid quantity requested for investigation %s with item sequence %s for case number %s. Please try again with valid quantity.
      action: ""
    - code: PAYR-1314
      message: No item found in active claim request for investigation %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1315
      message: Rejected item found for preauthorization for procedure %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1316
      message: Rejected item found for preauthorization for investigation %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1317
      message: Rejected item found for preauthorization for implant %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1318
      message: No requested treatment plan found for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1319
      message: No requested investigation plan found for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1320
      message: No details found for the requested investigations in the system. Hence request will not be processed.
      action: ""
    - code: PAYR-1321
      message: Error occurred while processing the request due to invalid workflow id as (%s)
      action: ""
    - code: PAYR-1322
      message: No active case found for the given case number.
      action: The SHA HP sandbox sent this code as "Active instance found for case number", for a second request on a case while the first was still queued. The sheet's message reads the opposite way.
    - code: PAYR-1323
      message: Insufficient wallet balance. Hence the request will not be processed.
      action: ""
    - code: PAYR-1324
      message: Invalid discharge stage received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1325
      message: Invalid admission date received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1326
      message: Invalid discharge date received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1327
      message: Invalid admission date format received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1328
      message: Invalid discharge date format received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1329
      message: Invalid registration date received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1330
      message: Invalid registration date format received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1331
      message: Receiver not registered in NHCX. Please try again with valid receiver details.
      action: ""
    - code: PAYR-1332
      message: Invalid CRC request.
      action: ""
    - code: PAYR-1333
      message: Invalid claim type (in-patient/out-patient) received. Hence the request will not be processed.
      action: ""
    - code: PAYR-1334
      message: Hospital configuration not found. Please contact support team.
      action: ""
    - code: PAYR-1335
      message: Invalid implant quantity received as %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1336
      message: Invalid implant unit price received as INR %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1337
      message: Invalid implant net amount received as INR %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1338
      message: Invalid implant attachment received for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1339
      message: Invalid implant status received as %s for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1340
      message: Invalid investigation status received as %s for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1341
      message: Invalid investigation attachment received for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1342
      message: Existing case in progress found for case number %s. Hence new reimbursement request will not be accepted.
      action: ""
    - code: PAYR-1343
      message: Previous reimbursement approved record found for the new reimbursement request for case number %s. Hence request will not be processed further.
      action: ""
    - code: PAYR-1344
      message: No details found for the requested procedures in the system.
      action: ""
    - code: PAYR-1345
      message: Invalid procedure status received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1346
      message: Invalid procedure description received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1347
      message: Invalid procedure type received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1348
      message: Invalid procedure factor received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1349
      message: Invalid procedure quantity received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1350
      message: Invalid procedure net amount received as INR %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1351
      message: Invalid speciality code received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1352
      message: Requested beneficary details and careplan details does not match any criteria for processing the case at this hospital. Please try again with valid data.
      action: ""
    - code: PAYR-1353
      message: Invalid careplan id received. Please try again with valid careplan id.
      action: ""
    - code: PAYR-1354
      message: Rule failure.
      action: ""
    - code: PAYR-1355
      message: No details found for the requested implants in the system. Hence request will not be processed.
      action: ""
    - code: PAYR-1356
      message: Patient liability is not aplicable for the hospital and beneficiary do not have enough wallet balance with deficit amount INR %s for the requested preauthorization for case number %s.
      action: ""
    - code: PAYR-1357
      message: Admission date cannot be after the discharge date. Hence request will not be processed. Please correct the data and try again.
      action: ""
    - code: PAYR-1358
      message: Registration of the patient is allowed maximum upto %s days after admission. Hence request will not be processed. Please correct the data and try again.
      action: ""
    - code: PAYR-1359
      message: No billable treatment plan received for case number %s. Please try again with valid treatment plan data.
      action: ""
    - code: PAYR-1360
      message: Invalid item code received as %s for item sequence %s case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1361
      message: Invalid item sequence received as %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1362
      message: No procedure with code LM100 received with 'Requested' status for case number %s. Please try again with valid data. For PMJAY claims, if case comes under LAMA/DAMA scenario with beneficiary being discharged before surgery or during surgery, procedure with code LM100 is mandatory. Only this procedure code will be accepted for LAMA/DAMA case, and all other previous preauthorization approved items will get disqualified for the claim submission
      action: ""
    - code: PAYR-1363
      message: Response for Authentication Consent Questionnaire is missing for case number %s. This must be sent if the biometric authentication for patient is not available during discharge. For new claim request, either biometric authentication for patient during discharge, or response for Authentication Consent questionnaire must be sent. Please check/update the insurance plan for the policy for the details of the questionnaire.
      action: ""
    - code: PAYR-1364
      message: No value received for link id %s for Authentication Consent Questionnaire for claim request. This must be sent if the biometric authentication for patient is not available during discharge. For new claim request, either biometric authentication for patient during discharge, or response for Authentication Consent questionnaire must be sent. Please check/update the insurance plan for the policy for the details of the questionnaire.
      action: ""
    - code: PAYR-1365
      message: Response for STG Questionnaire id %s is mandatory for procedure code %s. Hence the preauthorization request will not be processed as the questionnaire response is not received for procedure code.
      action: ""
    - code: PAYR-1366
      message: Invalid biometric user token received. Please try again with valid biometric details of the beneficiary. For any issues with biometric, please try with Authentication Consent Questionnaire for discharge, details for which has been received in insurance plan.
      action: ""
    - code: PAYR-1367
      message: No biometric records found for the beneficiary for %s. Please ensure correctness of biometric authentication date for the day for cyclic procedure %s.
      action: ""
    - code: PAYR-1368
      message: "%s units of cycle information received for procedure code %s with item sequence %s. Cycle information should be sent for all the requested/processed cycles."
      action: ""
    - code: PAYR-1369
      message: Biometric authentication cannot be performed more than once on the same date. Multiple biometric authentication information has been provided for same date for cyclic procedure %s. Hence case will not be processed. Please check and update biometric authentication execution dates and try again.
      action: ""
    - code: PAYR-1370
      message: Received invalid start date as %s for supporting details with item sequence %s. Please try again with valid start date.
      action: ""
