# NHCX participant registry, from the NHCX package's Bruno folder apis/10-registry.
#
# Written by the package's own documentation build; change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: registry
    label: Participant registry
    position: 10
  title: NHCX participant registry
  summary: >-
    The participant service holds the registry: who is on the exchange, their certificates and
    callback addresses, and the policies linked to a beneficiary.
  description: |-
    The Participant registry calls on the National Health Claims Exchange (NHCX): 23 operations.

    Every NHCX API call, whether a registry lookup, a certificate fetch or a claim submission, is rejected unless it carries a valid Bearer token, so this is the first call any integration makes and the first thing to check when a working integration starts failing.

    Guides that use these calls: [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant), [Finding participants and policies](/docs/nhcx/v1/getting-started/finding-participants-and-policies), [Fetching a recipient certificate](/docs/nhcx/v1/getting-started/fetching-a-recipient-certificate), [Get your sandbox credentials](/docs/nhcx/v1/getting-started/get-your-sandbox-credentials), [Quickstart](/docs/nhcx/v1/getting-started/quickstart), [The recipient cannot decrypt your message](/docs/nhcx/v1/troubleshooting/the-recipient-cannot-decrypt).
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: registry
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/10-registry
    role: upstream
    hash: sha256:24a781be25eb64996be9a7eb98c1f941a9dc74485129740b4831edcc54c55df0
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
servers:
  - url: https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice
    description: Sandbox, Participant service.
  - url: https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice
    description: Production.
tags:
  - name: Participant registry
    description: Every NHCX API call, whether a registry lookup, a certificate fetch or a claim submission, is rejected unless it carries a valid Bearer token, so this is the first call any integration makes and the first thing to check when a working integration starts failing.
security:
  - bearerAuth: []
paths:
  /get/session:
    post:
      operationId: registry_get_session
      x-abdm-atom: nhcx.endpoint.get-session
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Get session token
      description: |-
        Exchanges the participant's client_id and client_secret (OAuth 2.0 client credentials) for a Bearer access_token valid for 1200 seconds.

        ### Business purpose

        Every NHCX API call, whether a registry lookup, a certificate fetch or a claim submission, is rejected unless it carries a valid Bearer token, so this is the first call any integration makes and the first thing to check when a working integration starts failing. It answers the question of who is calling the gateway. It is deliberately separate from payload confidentiality: a request can be perfectly encrypted and still fail with 401, and vice versa.

        ### When to use

        Call it when your system starts and again before the cached token expires. There is no refresh token: you simply call it again. Confirm the current host with your onboarding contact.

        ### Preconditions

        - You have the `client_id` and `client_secret` issued at onboarding.
        - The credentials match the environment: sandbox and production credentials are separate.
        - The body is form-encoded with `grant_type=client_credentials`.
        - You do not need an access token for this call.

        ### Postconditions

        You get an access token that lasts 20 minutes. Send it on every later call; after it expires, calls return `401`.

        ### Common mistakes

        - Not renewing the token, so calls start failing with `401` after 20 minutes.
        - Sending JSON instead of a form-encoded body.
        - Asking for a new token on every request instead of caching it.
        - Using a sandbox token against production.

        ### Best practices

        - Cache the token in memory keyed by environment and refresh proactively at roughly 80 to 90 percent of the 1200-second (20-minute) lifetime, that is after 16 to 18 minutes.
        - Serialise refresh behind a lock so concurrent workers do not fire simultaneous token requests.
        - On any 401, discard the cached token, mint a new one and replay the original request exactly once; if the second attempt also fails, stop and alert, since the credentials are wrong or revoked.
        - Never log the access_token or client_secret; log the expiry timestamp instead.
        - Store secrets so they can be rotated without a code deploy.
        - The token is validated by ABDM, so a 401 on any NHCX call carries no hint that expiry is the cause; treat 401 as refresh-and-retry first.

        ### Related scenario

        At 09:00 a hospital's claims engine starts and POSTs its client_id and client_secret to /get/session, receiving an access_token with expires_in 1200. It caches the token and immediately calls /fetch/certs for the payer it will submit to. At 09:17 a background timer renews the token before the 20-minute mark, so the /v1/preauth/submit sent at 09:21 carries a fresh Bearer header. Later a worker receives a 401 after a network stall; it drops the cached token, calls /get/session once more, replays the request and succeeds. Had the second attempt also failed, the engine would have alerted operations rather than looping.

        ### Specification

        Chapter [Base URLs](/docs/nhcx/v1/getting-started/base-urls) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _contentType:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                grant_type:
                  type: string
            example:
              _contentType: application/x-www-form-urlencoded
              client_id: <NHCX_CLIENT_ID>
              client_secret: <NHCX_CLIENT_SECRET>
              grant_type: client_credentials
      responses:
        "200":
          description: "HTTP 200 with { access_token, expires_in: 1200, token_type: Bearer }."
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                  token_type:
                    type: string
              example:
                access_token: eyJhbGciOiJSUzI1NiIs...
                expires_in: 1200
                token_type: Bearer
  /participant/update:
    post:
      operationId: registry_participant_update
      x-abdm-atom: nhcx.endpoint.participant-update
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Participant update (v1)
      description: |-
        Updates a participant's registry record; participant_code and roles are mandatory, every other field (certificate, endpoint, contacts, status) is optional.

        ### Business purpose

        Participant details change over the life of an integration: callback endpoints move, encryption certificates are rotated annually, contact numbers and payment details change. The registry is the source of truth that the gateway routes from, so those changes must land there, not just in the participant's own configuration. This v1 update lets an organisation amend any attribute of its full record in one synchronous call, and the sandbox onboarding document names it as the way to update the bridge URL, the encryption certificate or any other attribute.

        ### When to use

        Use it after registration whenever a detail of your participant record must change. For a certificate change alone, `/v2/update/cert` is simpler.

        ### Preconditions

        - The participant already exists and you know its `participant_code`.
        - You have a valid access token in the `bearer_auth` header.
        - If you change the certificate, the new private key is already on your callback server.

        ### Postconditions

        The registry record now holds the new values. Other participants see the change on their next lookup, though some may cache your certificate for up to 24 hours.

        ### Common mistakes

        - Leaving out `roles`: it is required even when roles do not change.
        - Using the v2 field names in this body.
        - Publishing a new certificate before its private key is live, so callbacks cannot be decrypted.
        - Setting a callback URL with an IP address or port.

        ### Best practices

        - Read the current record with /participant/search first and send the full intended state, so a partial body does not unintentionally blank optional fields.
        - Rotate certificates in two phases and keep the old private key for at least 24 hours, the documented certificate cache TTL.
        - Confirm callback reachability (domain name, India-based host, NAT IPs 3.109.99.210, 13.126.152.0 and 13.200.129.223 whitelisted) before pointing endpoint_url at a new host.
        - Log the change with who requested it; registry changes affect where encrypted health data is delivered.

        ### Related scenario

        A hospital migrates its claims callback service to a new domain. Before touching the registry the team deploys the service, verifies the NHCX NAT IPs are whitelisted and copies the existing PKCS8 private key across. They fetch a Bearer token via /get/session, read the current record with /participant/search, and call /participant/update with participant_code, roles and the new endpoint_url. The registry returns 200. The next /v1/preauth/on_submit callback from the payer arrives at the new domain and is acknowledged with 202 within 30 seconds.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_code:
                  type: string
                participant_name:
                  type: string
                scheme_code:
                  type: string
                roles:
                  type: array
                  items:
                    type: string
                primaryEmail:
                  type: string
                phone:
                  type: array
                  items:
                    type: string
                primaryMobile:
                  type: string
                endpoint_url:
                  type: string
                signing_cert_path:
                  type: string
                encryption_cert:
                  type: string
            example:
              participant_code: <participant code>
              participant_name: Test Hospital
              scheme_code: PMJAY
              roles:
                - "10001"
              primaryEmail: integration@hospital.example
              phone:
                - "01123456789"
              primaryMobile: "9876543210"
              endpoint_url: https://nhcx.hospital.example
              signing_cert_path: ""
              encryption_cert: <encryption cert>
      responses:
        "200":
          description: HTTP 200 with a string body (the OpenAPI declares string; the sandbox onboarding document shows the participant code echoed back, for example 100001@sbx).
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: 100001@sbx
  /v2/participant/update:
    post:
      operationId: registry_v2_participant_update
      x-abdm-atom: nhcx.endpoint.v2-participant-update
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Participant certificate and bridge update (v2)
      description: |-
        Stages a change to a participant encryption certificate and/or endpoint URL; returns a transactionid for passcode confirmation via /update/validate.

        ### Business purpose

        Exactly two operational values rotate over a participant's life: the public encryption certificate that counterparties encrypt claims data with, and the endpoint (bridge) URL that the gateway delivers callbacks to. Both are security-sensitive, so the v2 update takes only those fields and gates the change behind an SMS passcode to the registered mobile number. It is step 3 of the production onboarding sequence, where a newly confirmed participant publishes its certificate for the first time, and the documented route for annual key rotation thereafter.

        ### When to use

        Use it right after your participant is confirmed, to upload your certificate and callback URL. Use it again whenever either changes, then confirm with `/update/validate` within 24 hours.

        ### Preconditions

        - Your participant code exists and creation has been confirmed.
        - The certificate is Base64-encoded.
        - You have a valid access token in the `bearer_auth` header.
        - The new private key is already on your callback server.

        ### Postconditions

        - You get a transaction ID, and a passcode goes to your registered mobile number.
        - Nothing changes until `/update/validate` succeeds with that passcode.

        ### Common mistakes

        - Treating the `200` as done and skipping `/update/validate`.
        - Sending the raw certificate instead of the Base64-encoded one.
        - Using the v1 field names in this body.
        - Starting a new update while a passcode is pending, which cancels the earlier one.

        ### Best practices

        - Prepare the new key pair, deploy the PKCS8 private key to the callback host and only then publish the certificate.
        - Keep the previous private key available for at least 24 hours after validation to decrypt callbacks encrypted against a cached certificate.
        - Persist transactionid with its 24-hour expiry and complete /update/validate promptly.
        - Rotate encryption keys once a year, matching the 365-day validity of the self-signed certificate.
        - Verify the new endpointurl is a domain name on an India-based server with the NHCX NAT IPs whitelisted before submitting.

        ### Related scenario

        A TPA has just confirmed its production participant with /validate. Its engineers generate a 2048-bit RSA key, a 365-day self-signed X.509 certificate, Base64-encode it and deploy the private key to the callback host. They call /v2/participant/update with participantcode, encryptioncert and endpointurl; the response returns status and a transactionid, and the registered phone receives a passcode. After GET /update/validate succeeds, the first provider to call /fetch/certs for the TPA receives the new certificate and can encrypt a pre-authorisation for it.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participantcode:
                  type: string
                encryptioncert:
                  type: string
                endpointurl:
                  type: string
            example:
              participantcode: XXXXX7583@hcx
              encryptioncert: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t...
              endpointurl: https://nhcx.demotpa.example.in
      responses:
        "200":
          description: "HTTP 200 with ParticipantCertUpdateResp: participant_code, status and transactionid."
          content:
            application/json:
              schema:
                type: object
                properties:
                  participant_code:
                    type: string
                  status:
                    type: string
                  transactionid:
                    type: string
              example:
                participant_code: XXXXX7583@hcx
                status: Update initiated
                transactionid: 1vouv8tlz2tnl-1fpspjhwj07c6
  /participant/search:
    post:
      operationId: registry_participant_search
      x-abdm-atom: nhcx.endpoint.participant-search
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Participant search
      description: |-
        Reads a participant's full registry record by participant_code, including roles, status, encryption_cert and endpoint_url.

        ### Business purpose

        Before addressing a transaction to a counterparty, an integrator needs to know that the participant exists, is active, holds the expected role and publishes an encryption certificate and callback endpoint. The registry is the phone book of NHCX, and this call is the direct lookup by code. Providers use it to inspect a payer they have selected; payers use it to confirm the sender of an inbound request; everyone uses it to verify their own record after an update.

        ### When to use

        Use it to check a participant's record once you know its code. Call it before you send the first message to a new recipient, or to confirm your own record after an update.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You have the target's `participant_code`, the same value you will put in `x-hcx-recipient_code`.

        ### Postconditions

        You get the participant's full registry record. Nothing changes, and an unknown code returns `404`.

        ### Common mistakes

        - Sending the code under a field name other than `participant_code`.
        - Assuming a record means the participant can transact: its status must be active.
        - Reading `encryption_cert` as the certificate itself. Use `/fetch/certs` for that.
        - Leaving out the `Accept` header.

        ### Best practices

        - Cache the record for the session and re-read it when a transport error (NHCX-1001) or decrypt failure (PAYR-1001/PAYR-1002) suggests stale routing or key data.
        - Check roles and status before selecting the counterparty for x-hcx-recipient_code.
        - Call it against your own code after every registry update to confirm the change is live.
        - Never log payment_details from the response.
        - Treat the participants array as possibly empty and handle 404 gracefully.

        ### Related scenario

        A hospital's TPA desk has selected a payer code from /fetch/participants/list for a PMJAY patient. Before submitting anything the integration calls /participant/search with that participant_code and receives the payer's record: roles include payer, status is Active, scheme_code matches, and endpoint_url and encryption_cert are populated. The engine stores the code as the payerId that will become x-hcx-recipient_code, calls /fetch/certs to obtain the actual certificate, and then encrypts and sends /v1/coverageeligibility/check.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_code:
                  type: string
            example:
              participant_code: 1518@hcx
      responses:
        "200":
          description: "HTTP 200 with ParticipantSearchResponse: timestamp (Unix timestamp when the request is sent) and participants, an array of full participant records with participant_code, linked_registry_codes, participant_name, scheme_code, roles, address, primaryEmail, additionalEmail, phone, primaryMobile, additionalMobile, status, signing_cert_path, encryption_cert, endpoint_url and payment_details."
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: integer
                  participants:
                    type: array
                    items:
                      type: object
                      properties:
                        participant_code:
                          type: string
                        participant_name:
                          type: string
                        linked_registry_codes:
                          type: array
                          items:
                            type: string
                        scheme_code:
                          type: string
                        roles:
                          type: array
                          items:
                            type: string
                        status:
                          type: array
                          items:
                            type: string
                        primaryEmail:
                          type: string
                        primaryMobile:
                          type: string
                        encryption_cert:
                          type: string
                        endpoint_url:
                          type: string
              example:
                timestamp: 1716204567358
                participants:
                  - participant_code: 1518@hcx
                    participant_name: Demo Insurance Company
                    linked_registry_codes:
                      - 125@payer
                    scheme_code: default
                    roles:
                      - payer
                    status:
                      - Active
                    primaryEmail: claims@demoinsurer.example.in
                    primaryMobile: "9800000001"
                    encryption_cert: https://registry.example.in/certs/1518.pem
                    endpoint_url: https://nhcx.demoinsurer.example.in
  /participant/details:
    post:
      operationId: registry_participant_details
      x-abdm-atom: nhcx.endpoint.participant-details
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Participant details (v2 search)
      description: |-
        V2 variant of participant search: takes participant_code and returns the matching full registry records.

        ### Business purpose

        This is the second of two endpoints that read a single participant by code. It exists as the v2 generation of the registry lookup (operationId participantV2SearchPost) and serves the same business need as /participant/search: confirming that a counterparty exists, is active, holds the expected role and publishes an encryption certificate and callback endpoint before any encrypted transaction is addressed to it.

        ### When to use

        Use it wherever you would use `/participant/search`. It takes the same request and returns the same response.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You have the target's `participant_code`.

        ### Postconditions

        You get the participant's full registry record. Nothing changes.

        ### Common mistakes

        - Expecting a richer answer than `/participant/search` gives.
        - Sending the code under a field name other than `participant_code`.
        - Reading `encryption_cert` as the certificate itself instead of calling `/fetch/certs`.
        - Leaving out the `Accept` header.

        ### Best practices

        - Wrap both lookup endpoints behind one client function so the path can be switched by configuration.
        - Check status and roles before choosing a recipient code.
        - Cache the record and refresh on routing or decryption errors rather than on every transaction.
        - Do not log payment_details.

        ### Related scenario

        A payer's inbound gateway receives a /v1/claim/submit whose protected header names x-hcx-sender_code 100001@sbx. Before decrypting and processing, its integration calls /participant/details with that participant_code to confirm the sender is a registered provider with status Active and to record participant_name for the adjudication file. The claim is then decrypted with the payer's private key and passed to the claims team, whose decision goes back on /v1/claim/on_submit.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_code:
                  type: string
            example:
              participant_code: 100001@sbx
      responses:
        "200":
          description: "HTTP 200 with ParticipantSearchResponse: timestamp and a participants array of full participant records (participant_code, linked_registry_codes, participant_name, scheme_code, roles, address, contact fields, status, signing_cert_path, encryption_cert, endpoint_url, payment_details)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: integer
                  participants:
                    type: array
                    items:
                      type: object
                      properties:
                        participant_code:
                          type: string
                        participant_name:
                          type: string
                        linked_registry_codes:
                          type: array
                          items:
                            type: string
                        roles:
                          type: array
                          items:
                            type: string
                        status:
                          type: array
                          items:
                            type: string
                        primaryEmail:
                          type: string
                        primaryMobile:
                          type: string
                        encryption_cert:
                          type: string
                        endpoint_url:
                          type: string
              example:
                timestamp: 1716204567358
                participants:
                  - participant_code: 100001@sbx
                    participant_name: Demo Multispeciality Hospital
                    linked_registry_codes:
                      - IN2910001234@hfr
                    roles:
                      - provider
                    status:
                      - Active
                    primaryEmail: claims@demohospital.example.in
                    primaryMobile: "9800000000"
                    encryption_cert: https://registry.example.in/certs/100001.pem
                    endpoint_url: https://nhcx.demohospital.example.in
  /fetch/participants/list:
    post:
      operationId: registry_fetch_participants_list
      x-abdm-atom: nhcx.endpoint.fetch-participants-list
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Fetch participants list
      description: |-
        Payer discovery: lists participants filtered by role, registration date window and optional entity type; the first step of the cashless workflow.

        ### Business purpose

        A patient is not cashless merely by having insurance. The hospital must first discover which payer to deal with, and that payer's participantcode becomes the payerId used for NHCX routing and the x-hcx-recipient_code header. This endpoint is the discovery workhorse: it returns every participant of a given role registered within a date window, which is how a hospital builds its payer picker and how a payer sees the providers on the exchange. It is item 1 of the provider sandbox-exit checklist.

        ### When to use

        Use it first, to find the payers you can send to. Refresh the list from time to time, not for every patient.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You send a role and a date range, with dates in `dd/MM/yyyy` format.
        - The date range covers when the participants you expect were registered.

        ### Postconditions

        You get a list of participants with their codes and names. The shape of the list can vary, so read it defensively.

        ### Common mistakes

        - Sending dates in any format other than `dd/MM/yyyy`.
        - Using a date range so narrow that some payers are missing.
        - Expecting to filter by name. Filter the list yourself.

        ### Best practices

        - Fetch once with a wide window, cache the list, and filter by name and scheme type locally, as the handbook's internal payers endpoint does.
        - Accept all three response shapes defensively.
        - Follow selection with /participant/search or /participant/details to confirm status and roles, and /fetch/certs to obtain the certificate before encrypting.
        - Remove any hard-coded reference to 1000003538@hcx at go-live; production counterparties are resolved from this call.
        - Refresh the cached list on a schedule so newly registered payers appear.

        ### Related scenario

        A hospital's admission desk opens the cashless screen for a patient holding a government scheme card. The integration has already called /fetch/participants/list with role PAYER, a window from 01/04/2021 to today and entitytype Gov, and cached the result. The desk types the scheme name, the client filters the cached list, and the operator selects the state health agency's participantcode. The engine then calls /participant/get/policies to link the patient's policy, /fetch/certs for the payer certificate, and submits /v1/insuranceplan/request followed by /v1/preauth/submit.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                fromdate:
                  type: string
                todate:
                  type: string
                entitytype:
                  type: string
            example:
              role: PAYER
              fromdate: 01/04/2021
              todate: 20/03/2026
              entitytype: Gov
      responses:
        "200":
          description: "HTTP 200 with ParticipantListResponse: a participantdetails array of ParticipantDetails with participantcode, participantname, address and state."
          content:
            application/json:
              schema:
                type: object
                properties:
                  participantdetails:
                    type: array
                    items:
                      type: object
                      properties:
                        participantcode:
                          type: string
                        participantname:
                          type: string
                        address:
                          type: string
                        state:
                          type: string
              example:
                participantdetails:
                  - participantcode: 1000003538@hcx
                    participantname: NHCX Dummy Payer
                    address: New Delhi
                    state: Delhi
                  - participantcode: 1518@hcx
                    participantname: Demo Insurance Company
                    address: Bengaluru
                    state: Karnataka
  /fetch/certs:
    post:
      operationId: registry_fetch_certs
      x-abdm-atom: nhcx.endpoint.fetch-certs
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Fetch certificate
      description: |-
        Returns a participant's public encryption certificate (PEM X.509 or SPKI key) by participantid; cache it for 24 hours and use it to build the JWE.

        ### Business purpose

        Every NHCX payload is encrypted end-to-end for exactly one recipient so that even the exchange cannot read the clinical and financial content it routes. That guarantee rests on each participant publishing a public certificate in the registry at onboarding. This call is how a sender obtains a counterparty's certificate before encrypting a request or a callback for it. It is item 3 of both sandbox-exit checklists and the endpoint the Integration Handbook names in its encryption steps.

        ### When to use

        Call it before you encrypt the first message to a recipient, then cache the certificate for 24 hours. Fetch it again if encryption or decryption with that recipient fails.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You send the recipient's code as `participantid`.
        - The recipient has registered a certificate.

        ### Postconditions

        You get the recipient's certificate or public key. Use it to encrypt messages to that recipient.

        ### Common mistakes

        - Fetching the certificate before every request instead of caching it.
        - Encrypting with your own certificate instead of the recipient's.
        - Assuming the answer is always a full certificate. It may be a bare public key.
        - Keeping a cached certificate after the recipient changed it.

        ### Best practices

        - Cache per participantid with a 24-hour TTL, plus a negative path that evicts and re-fetches on encrypt or decrypt failures.
        - Implement the import routine as X.509 first, SPKI fallback, treating the 400-byte size hint as diagnostic rather than a hard branch.
        - Use the documented algorithm pair RSA-OAEP-256 and A256GCM.
        - Re-fetch from the production registry at go-live; sandbox certificates do not carry over.
        - Expect annual key rotation by counterparties; the 24-hour cache bounds exposure to a rotation you were not told about.

        ### Related scenario

        A hospital is about to send its first pre-authorisation to payer 1518@hcx. The engine checks its certificate cache, finds no entry, and calls /fetch/certs with participantid 1518@hcx and a Bearer token. The response is a PEM X.509 certificate, which is parsed and cached for 24 hours. The engine builds the JWE protected header with x-hcx-sender_code, x-hcx-recipient_code 1518@hcx and the other x-hcx headers, encrypts the FHIR bundle with RSA-OAEP-256 and A256GCM using the fetched key, and POSTs to /v1/preauth/submit. Later that week the payer rotates its certificate; a PAYR-1001 on the next submission triggers eviction and a fresh fetch.

        ### Specification

        Chapter [Finding participants and policies](/docs/nhcx/v1/getting-started/finding-participants-and-policies) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participantid:
                  type: string
            example:
              participantid: 1518@hcx
      responses:
        "200":
          description: HTTP 200 with a string body containing a PEM-encoded X.509 certificate or an SPKI public key, as uploaded by that participant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: |-
                  -----BEGIN CERTIFICATE-----
                  MIIDdzCCAl+gAwIBAgIEbXq...
                  -----END CERTIFICATE-----
  /fetch/certs/path:
    post:
      operationId: registry_fetch_certs_path
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Fetch certificate path
      description: |-
        Companion to /fetch/certs: takes the same participantid body and returns a string described as the participant's certificate path.

        ### Business purpose

        The registry stores a participant's encryption certificate as a URI or file path in the encryption_cert field, and this endpoint exposes that reference for a given participant. It exists alongside /fetch/certs, which the Integration Handbook names as the call to use when obtaining key material for encryption. Both serve the same underlying need, resolving a counterparty's public key before building a JWE, but the OpenAPI documents them identically and does not describe how their returned strings differ.

        ### When to use

        Use it only if your NHCX instance tells you to. For encryption, use `/fetch/certs`.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You send the target's code as `participantid`.

        ### Postconditions

        You get a string back. What it contains beyond a certificate path is not documented.

        ### Common mistakes

        - Treating the answer as the certificate that `/fetch/certs` returns.
        - Using this instead of `/fetch/certs` without instructions from your instance.

        ### Best practices

        - Prefer /fetch/certs for obtaining key material; use this endpoint only where the instance documents a use for the path form.
        - If you do use it, log the returned string shape once so a change in behaviour is noticed.
        - Apply the same 24-hour cache discipline keyed by participantid.
        - Keep both calls behind one client function so the choice is a configuration switch.

        ### Related scenario

        An integrator building a registry inspection tool for a TPA wants to show, for each payer, where the registry references its certificate as well as the certificate itself. The tool obtains a Bearer token, calls /fetch/certs/path with participantid 1518@hcx and displays the returned path string, then calls /fetch/certs for the PEM used for actual encryption. The production claims engine itself only uses /fetch/certs, as the Integration Handbook prescribes, before each /v1/claim/submit.

        ### Specification

        Chapter [Finding participants and policies](/docs/nhcx/v1/getting-started/finding-participants-and-policies) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participantid:
                  type: string
            example:
              participantid: 1518@hcx
      responses:
        "200":
          description: HTTP 200 with a string body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: <certificate path string as declared by the OpenAPI 200 response>
  /v2/update/cert:
    post:
      operationId: registry_v2_update_cert
      x-abdm-atom: nhcx.endpoint.v2-update-cert
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Update certificate (v2, no passcode)
      description: |-
        Replaces a participant's public encryption certificate by participantId without passcode validation; the same schema is echoed back on success.

        ### Business purpose

        Encryption keys are recommended to be rotated once a year, and a compromised key must be replaced immediately. The passcode-gated /v2/participant/update is the safer general route, but it needs a person with the registered phone and a 24-hour confirmation step. This endpoint exists for certificate-only updates without that validation, so an organisation can publish a new public certificate quickly. Only the certificate changes; the endpoint URL is untouched.

        ### When to use

        Use it to replace your certificate, on schedule or in an emergency, without a passcode step. To change your callback URL too, use `/v2/participant/update`.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You send `participantId` and the new certificate, Base64-encoded.
        - The matching new private key is already on your callback server.

        ### Postconditions

        Your certificate is replaced at once, with no validation step. Some participants may keep the old one cached for up to 24 hours.

        ### Common mistakes

        - Sending the raw certificate instead of the Base64-encoded one.
        - Publishing the certificate before its private key is live.
        - Deleting the old private key straight away. Keep it for 24 hours.
        - Trying to change the callback URL here.

        ### Best practices

        - Rotate in two phases: deploy the new PKCS8 private key, publish the certificate, and keep the old key for at least 24 hours.
        - Generate a 2048-bit RSA key and a 365-day self-signed X.509 certificate so the validity matches the annual rotation recommendation.
        - Verify with /participant/search or a /fetch/certs call against your own code that the new certificate is served.
        - Restrict who can call this endpoint inside your organisation, since it replaces the key that protects all inbound health data without a passcode.
        - Notify the ecosystem promptly if rotation is due to suspected compromise, as the protocol expects.

        ### Related scenario

        A hospital's security audit finds its NHCX private key was copied to a shared drive. The team generates a new 2048-bit RSA key pair and 365-day self-signed certificate, deploys the PKCS8 private key to the callback host and Base64-encodes the certificate. With a Bearer token they call /v2/update/cert with participantId XXXXX7583@hcx and the certificate; the registry echoes the schema back. They keep the old key available for one day so payers still holding the cached certificate can be decrypted, then destroy it. The next /v1/preauth/on_submit from the payer, encrypted against the new certificate, decrypts cleanly.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participantId:
                  type: string
                certificate:
                  type: string
            example:
              participantId: XXXX@hcx
              certificate: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t...
      responses:
        "200":
          description: HTTP 200 with the UpdateCertV2 schema echoed back (participantId and certificate).
          content:
            application/json:
              schema:
                type: object
                properties:
                  participantId:
                    type: string
                  certificate:
                    type: string
              example:
                participantId: XXXX@hcx
                certificate: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t...
  /get/linked/registry/mst:
    post:
      operationId: registry_get_linked_registry_mst
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Get linked registry master (internal)
      description: |-
        Internal-use participant-service operation that fetches the linked registry master; listed in the OpenAPI but not intended for integrators.

        ### Business purpose

        The participant registry can be extended from or linked to external registries such as the ABDM Health Facility Registry and the payer registry, and participant records carry linked_registry_codes in identifier@registry form with supported registry codes configured at instance level. This operation, described in the OpenAPI as for internal use and fetching the linked registry, appears to serve that master configuration to the platform itself. It is documented here for completeness of the 63-endpoint index, not as an integration point.

        ### When to use

        Do not call it. It is for NHCX internal use. To see a participant's linked registries, read them from `/participant/search`.

        ### Preconditions

        - It is internal. Integrators should not call it.

        ### Postconditions

        It returns a string whose content is not documented. Nothing changes.

        ### Common mistakes

        - Building your integration on an internal operation.
        - Confusing it with the linked registry codes on a participant record.

        ### Best practices

        - Leave it out of client libraries and Postman collections used for certification.
        - Source registry codes from the onboarding documentation and participant records instead.
        - If an onboarding contact directs you to it, record their exact instruction, since the specification documents neither a body nor the response content.

        ### Related scenario

        While generating a client from the participanthcxservice OpenAPI document, a hospital integrator notices /get/linked/registry/mst next to /participant/search and asks whether to wire it into the payer picker. The answer from the documentation is no: it is an internal operation, and the picker should be built on /fetch/participants/list, with each selected payer confirmed through /participant/search and its linked_registry_codes read from that record. The generated method is left unused and excluded from the sandbox-exit test evidence.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _body:
                  type: string
            example:
              _body: No request body or parameters are documented in the OpenAPI entry for this internal operation.
      responses:
        "200":
          description: The OpenAPI declares a 200 response of type string, with 400 Client Error, 404 Resource not found and 500 Downstream systems down each returning the ErrorResponse envelope (timestamp plus error code, message and trace).
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: <string as declared by the OpenAPI 200 response; content not documented>
  /participant/link/abha/policy:
    post:
      operationId: registry_participant_link_abha_policy
      x-abdm-atom: nhcx.endpoint.participant-link-abha-policy
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Link ABHA number to policies
      description: |-
        Payer-side write that links a beneficiary's ABHA number and member id to one or more products, so provider policy lookups can find them.

        ### Business purpose

        NHCX does not hold a national policy database of its own. Payers push their beneficiary-to-product links into the participant registry with this call, and providers pull them back with /participant/get/policies. Without a link, a hospital's policy lookup returns nothing and the patient cannot be processed as cashless on NHCX, regardless of what the admission record says. The insurer benefits by making its members discoverable; the hospital benefits by getting the payerId, memberId and productId it needs for every downstream claim call.

        ### When to use

        Use it when a policy is issued or renewed, or a member is added. Also use it to link again after a de-link, for example when an insurer moves to a new TPA.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You are the payer or its TPA, using the credentials that participant was created with.
        - The payer, and the TPA if there is one, are already registered.

        ### Postconditions

        The member's policies are linked at once. Providers can now find them through the get-policies lookups.

        ### Common mistakes

        - Using a token from different credentials than the payer or TPA was created with.
        - Mixing up `payerid` and `processingid`. `payerid` is always the insurer.
        - Re-linking to change TPA. De-link first, then link with the new TPA.
        - Leaving out a required field.

        ### Best practices

        - Generate a fresh UUID for requestid on every call and log it with the response so a duplicate submission can be traced.
        - Keep the ABHA number in the form the member layer expects (the identifier table and get/policies documentation both specify ABHA without hyphens) and store it in that form.
        - Make sure productid and productname exactly match the payer's product catalogue as registered through /product/link, because providers will later match on these values.
        - Cache and proactively refresh the Bearer token; retry once on 401 with a new token, then stop and alert.
        - After linking, verify the result with /participant/get/policies using the same identifier before telling the provider the member is ready.

        ### Related scenario

        A private insurer onboards a new group policy for a corporate client and issues a family floater to a beneficiary who already holds an ABHA. Its policy administration system has previously registered the product through /product/link and now calls /participant/link/abha/policy with the beneficiary's ABHA number, member id, the insurer's own participant code as payerid and the TPA's code as processingid. A week later the beneficiary is admitted to a network hospital; the hospital's desk calls /participant/get/policies with the ABHA number, receives the linked details and uses the processingid as x-hcx-recipient_code for the coverage-eligibility check and the preauthorisation that follow.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                abhanumber:
                  type: string
                mobilenumber:
                  type: string
                memberid:
                  type: string
                payerid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: 7f3f2a4e-0c6b-4b7a-9e2d-2c1f8a5b6d90
              abhanumber: "12345678910111"
              mobilenumber: "9876543210"
              memberid: MEM-2026-000123
              payerid: 100234@sbx
              policies:
                - productid: PRD-FLOATER-01
                  productname: Family Floater Gold
              processingid: 100235@sbx
      responses:
        "200":
          description: On success the service returns HTTP 200 with ParticipantLinkAbhaResponse, whose two optional fields are result (a string) and errormessage (errorcode and errordescription).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /V2/participant/link/abha/policy:
    post:
      operationId: registry_v2_participant_link_abha_policy
      x-abdm-atom: nhcx.endpoint.v2-participant-link-abha-policy
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Link ABHA number to policies (V2)
      description: |-
        V2 variant of the ABHA policy link; same ParticipantLinkAbhaRequest body and ParticipantLinkAbhaResponse as the unversioned call.

        ### Business purpose

        This endpoint serves the same business need as /participant/link/abha/policy: it lets a payer (or the TPA processing on its behalf) record which products a beneficiary holds, keyed by ABHA number and member id, so that providers can discover the policy and route claims correctly. The OpenAPI document exposes it as operation participantLinkAbhaPolicyV2 with an identical request and response schema to the v1 path; the documentation does not describe any behavioural difference beyond the path and operationId.

        ### When to use

        Use it in the same cases as the v1 link call. Pick the v1 or V2 path and use it throughout your integration.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You are the payer or its TPA, using the credentials that participant was created with.
        - The path starts with a capital `V2`.

        ### Postconditions

        The member's policies are linked at once and providers can find them. Only the de-link calls reverse it.

        ### Common mistakes

        - Using a token from different credentials than the payer or TPA was created with.
        - Mixing up `payerid` and `processingid`.
        - Writing the path with a lower-case `v2`, which is a different route.
        - Leaving out a required field.

        ### Best practices

        - Generate a fresh UUID for requestid on every call and log it with the response so a duplicate submission can be traced.
        - Keep the ABHA number in the form the member layer expects (the identifier table and get/policies documentation both specify ABHA without hyphens) and store it in that form.
        - Make sure productid and productname exactly match the payer's product catalogue as registered through /product/link, because providers will later match on these values.
        - Cache and proactively refresh the Bearer token; retry once on 401 with a new token, then stop and alert.
        - After linking, verify the result with /participant/get/policies using the same identifier before telling the provider the member is ready.

        ### Related scenario

        A TPA that processes claims for several insurers migrates its integration to the V2 participant APIs. When one of its insurers issues a new individual health policy, the TPA's system calls /V2/participant/link/abha/policy with the insurer's participant code as payerid and its own code as processingid, listing the product from the insurer's catalogue. The TPA then confirms the link with /V2/participant/get/policies using the member's ABHA number. When the beneficiary later visits a hospital, the provider resolves the processingid as the receiver code and submits the coverage-eligibility check and preauthorisation to the TPA.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                abhanumber:
                  type: string
                mobilenumber:
                  type: string
                memberid:
                  type: string
                payerid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: 0b1d6c1e-6a5f-4d3c-8b9a-4f2e7c0d1a22
              abhanumber: "12345678910111"
              mobilenumber: "9876543210"
              memberid: MEM-2026-000123
              payerid: 100234@sbx
              policies:
                - productid: PRD-INDIV-07
                  productname: Individual Health Silver
              processingid: 100235@sbx
      responses:
        "200":
          description: A successful call returns HTTP 200 with ParticipantLinkAbhaResponse (optional result string and optional errormessage with errorcode and errordescription).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /v2/participant/link/abha/policy/init:
    post:
      operationId: registry_v2_participant_link_abha_policy_init
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Initiate ABHA policy link (v2)
      description: |-
        First half of the two-step v2 link: submits the ABHA policy link request, to be confirmed with a passcode via the validate endpoint.

        ### Business purpose

        The init variant exists so that a policy link can be confirmed out of band before it takes effect. It takes the same ParticipantLinkAbhaRequest as the direct link calls but pairs with GET /v2/participant/link/abha/policy/validate, which accepts a passcode and transactionId. This mirrors the passcode-confirmed pattern already used for participant creation (/validate) and update (/update/validate), giving payers and TPAs an approval gate on member-layer writes. The documentation describes the pairing but does not detail how the passcode is delivered for this endpoint.

        ### When to use

        Use it when your NHCX instance needs linking confirmed with a passcode. Start the link here, then finish it with the validate call.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You are the payer or its TPA, using the credentials that participant was created with.
        - The body carries the member, the payer and the policies to link.

        ### Postconditions

        The link is started but not confirmed. Do not rely on it until the validate call succeeds.

        ### Common mistakes

        - Stopping here and never calling the validate step.
        - Using a token from different credentials than the payer or TPA was created with.
        - Mixing up the path case: this uses a lower-case `v2`.
        - Mixing up `payerid` and `processingid`.

        ### Best practices

        - Persist the requestid you sent and the transaction identifier you receive together, so the validate step can be completed by a different process or after a restart.
        - Complete the validate step promptly; the sibling participant create and update passcodes expire after 24 hours, so do not assume a longer window here.
        - Use the same product identifiers as registered through /product/link.
        - Confirm the outcome with /participant/get/policies before informing the provider or beneficiary.
        - Refresh the Bearer token proactively and retry once on 401.

        ### Related scenario

        An insurer's policy administration team is required by its NHCX instance to confirm member links by passcode. When a new policy is issued, the system posts the ParticipantLinkAbhaRequest to /v2/participant/link/abha/policy/init and records the transaction identifier. The authorised operator receives the passcode and the system calls GET /v2/participant/link/abha/policy/validate with passcode and transactionId to complete the link. The team then checks /V2/participant/get/policies for the member's ABHA number and, satisfied, closes the case; the hospital will discover the policy on the beneficiary's next admission.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                abhanumber:
                  type: string
                mobilenumber:
                  type: string
                memberid:
                  type: string
                payerid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: 3c9e8d2f-5b4a-4e1c-9f7d-8a6b5c4d3e21
              abhanumber: "12345678910111"
              mobilenumber: "9876543210"
              memberid: MEM-2026-000123
              payerid: 100234@sbx
              policies:
                - productid: PRD-FLOATER-01
                  productname: Family Floater Gold
              processingid: 100235@sbx
      responses:
        "200":
          description: The service answers synchronously with HTTP 200 and ParticipantLinkAbhaResponse (optional result and errormessage).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /v2/participant/link/abha/policy/validate:
    get:
      operationId: registry_v2_participant_link_abha_policy_validate
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Validate ABHA policy link (v2)
      description: |-
        Second half of the two-step v2 link: confirms an initiated ABHA policy link with the passcode and transactionId query parameters.

        ### Business purpose

        This GET endpoint closes the approval loop opened by /v2/participant/link/abha/policy/init. By requiring a passcode tied to a transactionId, it ensures that a member-layer write attributed to a payer or TPA was actually authorised by that organisation, in the same way that participant creation and update are confirmed through /validate and /update/validate. The value to the ecosystem is trust in the registry: providers rely on the policy lookup, so the links behind it should be deliberate and traceable.

        ### When to use

        Call it after the init call, once you have the passcode. It confirms the link.

        ### Preconditions

        - An init call has returned a transaction ID.
        - You have the passcode for that transaction.
        - You have a valid access token in the `bearer_auth` header.

        ### Postconditions

        The link is confirmed and providers can find the member's policies. If the passcode or transaction is wrong, start again with init.

        ### Common mistakes

        - Sending `passcode` and `transactionId` in a body. They go in the query string.
        - Using a transaction ID from a different call.
        - Waiting until the passcode expires.

        ### Best practices

        - URL-encode both query parameters and log the transactionId with the outcome.
        - Treat a 404 or an errormessage as a signal to restart from init rather than retrying the same passcode indefinitely.
        - Verify the confirmed link with /participant/get/policies using the same ABHA number.
        - Keep the init and validate calls under the same participant token so the identity check passes.

        ### Related scenario

        A TPA's operations desk initiated a policy link for a new member earlier in the day through /v2/participant/link/abha/policy/init and stored the transaction identifier against the case. When the authorised approver supplies the passcode, the system calls GET /v2/participant/link/abha/policy/validate?passcode=...&transactionId=... and receives a 200 with a result string. The desk then runs /V2/participant/get/policies for the member's ABHA number, sees the product listed, and closes the linking task; the next call in the member's journey will be the hospital's coverage-eligibility check.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      responses:
        "200":
          description: On success the endpoint returns HTTP 200 with ParticipantLinkAbhaResponse (optional result and errormessage).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /participant/delink/abha/policy:
    post:
      operationId: registry_participant_delink_abha_policy
      x-abdm-atom: nhcx.endpoint.participant-delink-abha-policy
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: De-link ABHA policies
      description: |-
        Removes specific products from a member's policy link for a payer, keyed on payerid, memberid and the products listed.

        ### Business purpose

        Policies lapse, members leave a product, and insurance companies move between TPAs. This call is the only documented way to reverse a link written through /participant/link/abha/policy, which keeps the registry honest so that providers do not route claims against coverage that no longer exists. Because there is no in-place re-parenting operation, de-link followed by a fresh link is also the documented procedure when a payer changes its processing TPA. The insurer and TPA control their own data; providers get accurate policy lookups.

        ### When to use

        Use it when a member's policy should no longer be found: the policy ends, the member leaves, or the insurer changes TPA. To correct an ABHA number, use `/update/abhanumber` instead.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You are the payer or TPA that linked the policies.
        - The body names the payer, the member and the policies to remove.

        ### Postconditions

        The policies are no longer returned for that member. Providers that cached them keep seeing them until they force a refresh.

        ### Common mistakes

        - Calling as a participant that did not create the link.
        - Listing a policy that is not linked.
        - Adding an ABHA number to the body. De-link does not use it.
        - Expecting provider caches to update by themselves.

        ### Best practices

        - De-link only the specific products that need removing; the policies array is the unit of work.
        - When moving an insurer to a new TPA, follow the documented order: de-link the existing policies, then link them again with the new TPA's participant code as processingid.
        - Generate a fresh UUID for requestid on every call and log it with the response.
        - Confirm the result with /participant/get/policies afterwards, and remember that providers may need a forced refresh of their own policy cache.
        - Refresh the Bearer token proactively and retry once on 401 before escalating.

        ### Related scenario

        An insurance company ends its contract with one TPA and appoints another. Its integration first calls /participant/get/policies to enumerate the products linked for each affected member, then calls /participant/delink/abha/policy for each member with the insurer's participant code as payerid, the member id and the products to remove. Once every de-link returns success, it calls /participant/link/abha/policy again with the new TPA's participant code as processingid. Hospitals that have cached these members' policies are told to refresh, so that their next coverage-eligibility check is addressed to the new TPA.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                payerid:
                  type: string
                memberid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: 9a7c5e3d-1b2f-4c8a-b6d4-0e9f8a7b6c55
              payerid: 100234@sbx
              memberid: MEM-2026-000123
              policies:
                - productid: PRD-FLOATER-01
                  productname: Family Floater Gold
              processingid: 100235@sbx
      responses:
        "200":
          description: A successful call returns HTTP 200 with ParticipantDeLinkAbhaResponse and the listed products are no longer returned by /participant/get/policies for that payer and member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /V2/participant/delink/abha/policy:
    post:
      operationId: registry_v2_participant_delink_abha_policy
      x-abdm-atom: nhcx.endpoint.v2-participant-delink-abha-policy
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: De-link ABHA policies (V2)
      description: |-
        V2 variant of the ABHA policy de-link; same ParticipantDeLinkAbhaRequest body and response as the unversioned call.

        ### Business purpose

        This endpoint performs the same member-layer removal as /participant/delink/abha/policy: it takes products out of a member's link for a given payer so that providers stop discovering lapsed or migrated coverage. The OpenAPI document exposes it as participantDeLinkAbhaPolicyV2 with an identical request and response schema; the documentation does not describe any behavioural difference beyond the path and operationId. It is the natural partner of /V2/participant/link/abha/policy for integrations that have standardised on the V2 paths.

        ### When to use

        Use it in the same cases as the v1 de-link. Pair it with the V2 link and get-policies calls.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You are the payer or TPA that linked the policies.
        - The path starts with a capital `V2`.

        ### Postconditions

        The policies are no longer returned for that member. Providers that cached them keep seeing them until they force a refresh.

        ### Common mistakes

        - Calling as a participant that did not create the link.
        - Listing a policy that is not linked.
        - Adding an ABHA number to the body.
        - Writing the path with a lower-case `v2`.

        ### Best practices

        - De-link only the specific products that need removing; the policies array is the unit of work.
        - When moving an insurer to a new TPA, follow the documented order: de-link the existing policies, then link them again with the new TPA's participant code as processingid.
        - Generate a fresh UUID for requestid on every call and log it with the response.
        - Confirm the result with /participant/get/policies afterwards, and remember that providers may need a forced refresh of their own policy cache.
        - Refresh the Bearer token proactively and retry once on 401 before escalating.

        ### Related scenario

        A TPA is informed by one of its insurers that a corporate group policy has been cancelled mid-term. The TPA's system lists the affected members from its own records, calls /V2/participant/get/policies to confirm what NHCX currently holds, and then calls /V2/participant/delink/abha/policy per member with the insurer's participant code as payerid, its own code as processingid and the cancelled product. Each success is logged against the member. When a former member later presents at a hospital, the provider's policy lookup (after a forced cache refresh) no longer shows the product, and the desk proceeds as a self-pay case rather than submitting a coverage-eligibility check.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                payerid:
                  type: string
                memberid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: c4d2e1f0-8b7a-4c6d-9e5f-1a2b3c4d5e66
              payerid: 100234@sbx
              memberid: MEM-2026-000123
              policies:
                - productid: PRD-INDIV-07
                  productname: Individual Health Silver
              processingid: 100235@sbx
      responses:
        "200":
          description: On success the service returns HTTP 200 with ParticipantDeLinkAbhaResponse and the products are no longer visible through the get-policies endpoints for that payer and member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /participant/get/policies:
    post:
      operationId: registry_participant_get_policies
      x-abdm-atom: nhcx.endpoint.participant-get-policies
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Get beneficiary policies
      description: |-
        Looks up the policies linked to a beneficiary by ABHA number, member id or mobile number, returning the payer and product details needed for claims.

        ### Business purpose

        This is the provider's window into the member layer that payers populate through the link API. A hospital cannot submit a coverage-eligibility check, preauthorisation or claim until it knows the payer participant code, member id and product for the patient, and this call is where those values come from. The handbook lists policy discovery as step three of the fixed cashless sequence (payer search, payer selection, policy discovery, cache normalisation, effective payer resolution, InsurancePlan retrieval, optional eligibility, preauth). Payers and TPAs also use it to verify that their links were recorded.

        ### When to use

        Call it after registering or admitting a patient, to find their policy and payer. It comes before eligibility and pre-authorisation.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - The payer or TPA has already linked the member.
        - You search by ABHA number, member ID or mobile number. Send the ABHA number without hyphens.

        ### Postconditions

        You get the member's linked policies. Cache them, and force a refresh when something changes on the payer side.

        ### Common mistakes

        - Using the payer ID as `x-hcx-recipient_code`. Use the processing ID from this response.
        - Sending the ABHA number with hyphens.
        - Trying only one identifier. Try ABHA number, then member ID, then mobile number.
        - Trusting an old cached result after the payer changed something.

        ### Best practices

        - Normalise the ABHA number (strip separators) before the call and try identifiers in the documented priority order: ABHA, then MemberId from the latest admission, then mobile number.
        - Cache successful lookups keyed by patient, but expose a forceRefresh path and use it as the first diagnostic step when a preauth is rejected for a coverage mismatch.
        - Store payerId, memberId, productId, productName and policyNumber from the result; these feed x-hcx-recipient_code, the Coverage and Patient identifiers and the InsurancePlan lookup.
        - If the lookup yields nothing, fall back to a coverage-eligibility check with purpose discovery to obtain the active policy code.
        - Keep the token fresh; retry once on 401.

        ### Related scenario

        A patient is admitted to a network hospital and the registration desk captures an ABHA number and a member id. The HMIS has already called /fetch/participants/list to discover payers, and now calls /participant/get/policies with identifiertype AbhaNumber and the hyphen-free ABHA value. The response is normalised and cached against the patient, and the processingID becomes the receiver code. The desk then requests the plan through /v1/insuranceplan/request, optionally runs /v1/coverageeligibility/check, and submits the preauthorisation with /v1/preauth/submit; when the payer later queries a coverage detail, the desk forces a refresh of this lookup before responding.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifiertype:
                  type: string
                identifiervalue:
                  type: string
            example:
              identifiertype: AbhaNumber
              identifiervalue: "12345678910111"
      responses:
        "200":
          description: "The service answers synchronously with HTTP 200 and ParticipantListResponse: an optional participantdetails array whose entries carry optional participantcode, participantname, address and state."
          content:
            application/json:
              schema:
                type: object
                properties:
                  participantdetails:
                    type: array
                    items:
                      type: object
                      properties:
                        participantcode:
                          type: string
                        participantname:
                          type: string
                        address:
                          type: string
                        state:
                          type: string
              example:
                participantdetails:
                  - participantcode: 100234@sbx
                    participantname: Demo Health Insurance Co
                    address: Plot 12, Sector 5, Gurugram
                    state: Haryana
  /V2/participant/get/policies:
    post:
      operationId: registry_v2_participant_get_policies
      x-abdm-atom: nhcx.endpoint.v2-participant-get-policies
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Get beneficiary policies (V2)
      description: |-
        V2 variant of the beneficiary policy lookup; same FetchParticipantPoliciesRequest body and ParticipantListResponse as the unversioned call.

        ### Business purpose

        This endpoint answers the same question as /participant/get/policies: which payer products is this beneficiary linked to, and therefore which payer or TPA should the hospital address. The OpenAPI document exposes it as getParticipantGetPoliciesV2 with an identical request and response schema and the same Registry APIs tag; the documentation records no behavioural difference beyond the path. Integrations that use the V2 link and de-link calls typically read back through this endpoint.

        ### When to use

        Use it at the same point as the v1 lookup, before eligibility and pre-authorisation. Payers also use it to check a link they just made.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - The payer or TPA has already linked the member.
        - Send the ABHA number without hyphens. The path starts with a capital `V2`.

        ### Postconditions

        You get the member's linked policies. Cache them, and force a refresh when something changes on the payer side.

        ### Common mistakes

        - Using the payer ID as `x-hcx-recipient_code`. Use the processing ID from this response.
        - Sending the ABHA number with hyphens.
        - Trying only one identifier type.
        - Writing the path with a lower-case `v2`.

        ### Best practices

        - Normalise the ABHA number (strip separators) before the call and try identifiers in the documented priority order: ABHA, then MemberId from the latest admission, then mobile number.
        - Cache successful lookups keyed by patient, but expose a forceRefresh path and use it as the first diagnostic step when a preauth is rejected for a coverage mismatch.
        - Store payerId, memberId, productId, productName and policyNumber from the result; these feed x-hcx-recipient_code, the Coverage and Patient identifiers and the InsurancePlan lookup.
        - If the lookup yields nothing, fall back to a coverage-eligibility check with purpose discovery to obtain the active policy code.
        - Keep the token fresh; retry once on 401.

        ### Related scenario

        A TPA has just linked a new member through /V2/participant/link/abha/policy and wants to verify the write before closing the ticket. It calls /V2/participant/get/policies with identifiertype AbhaNumber and the member's hyphen-free ABHA number and sees the product returned. Months later the same member is admitted; the hospital's HMIS runs the identifier cascade (ABHA, then member id, then mobile) against this endpoint, caches the result, and proceeds to /v1/insuranceplan/request and /v1/preauth/submit addressed to the TPA's participant code taken from processingID.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                identifiertype:
                  type: string
                identifiervalue:
                  type: string
            example:
              identifiertype: MemberId
              identifiervalue: MEM-2026-000123
      responses:
        "200":
          description: Returns HTTP 200 with ParticipantListResponse (optional participantdetails array of participantcode, participantname, address, state).
          content:
            application/json:
              schema:
                type: object
                properties:
                  participantdetails:
                    type: array
                    items:
                      type: object
                      properties:
                        participantcode:
                          type: string
                        participantname:
                          type: string
                        address:
                          type: string
                        state:
                          type: string
              example:
                participantdetails:
                  - participantcode: 100234@sbx
                    participantname: Demo Health Insurance Co
                    address: Plot 12, Sector 5, Gurugram
                    state: Haryana
  /update/abhanumber:
    post:
      operationId: registry_update_abhanumber
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Update ABHA number
      description: |-
        Replaces a placeholder (dummy) ABHA number with the beneficiary's real ABHA number in the ABHA_AUTH_TRANSACTION table.

        ### Business purpose

        Beneficiaries are sometimes onboarded before their real ABHA is known, using a placeholder value. Because the member layer and the Patient resource both key on the ABHA number, a placeholder that is never corrected leaves the beneficiary undiscoverable and breaks the identifier rules for claim bundles. This endpoint, tagged Retrieving API and implemented by updateAbhaNumberController, lets the placeholder be swapped for the real number so that later policy lookups and claim transactions line up. The docs describe it as updating the ABHA number in the ABHA_AUTH_TRANSACTION table.

        ### When to use

        Use it when a member's real ABHA number becomes available after they were set up with a placeholder. Do it before you rely on ABHA-based lookups.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - You know both the placeholder and the real ABHA number.

        ### Postconditions

        The member's ABHA number is updated. Errors come back in the same response shape as success, so read `errorMessage`.

        ### Common mistakes

        - Reading errors as the usual registry error format.
        - Sending an empty body.
        - Forgetting to refresh cached policies that still use the placeholder.

        ### Best practices

        - Record both the placeholder and the real ABHA with the timestamp of the change for audit purposes.
        - Read successMessage and errorMessage on every response and treat a non-200 status as failure even if the body parses.
        - Immediately re-run /participant/get/policies with forceRefresh: true for the affected beneficiary.
        - Keep the ABHA formatting rule per field: hyphen-free for member lookups and x-hcx-ben-abha-id, XX-XXXX-XXXX-XXXX where NHCX-1018 applies.
        - Never log the token; log the ABHA change with the request identifier only.

        ### Related scenario

        A state scheme enrols a beneficiary in a hurry with a dummy ABHA so that a policy can be linked and an emergency admission can proceed. After discharge the beneficiary completes ABHA creation and the real number is captured. The payer's system calls /update/abhanumber with dummyAbha and realAbha, receives a successMessage, and then calls /participant/get/policies with forceRefresh to make sure the real ABHA resolves the linked product. The hospital's billing team, preparing the final claim, refreshes its own policy cache so that the Claim bundle's Patient identifiers carry the PMJAY member id and the real hyphen-free ABHA.

        ### Specification

        Chapter [Participants and policies](/docs/nhcx/v1/registries) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                dummyAbha:
                  type: string
                realAbha:
                  type: string
            example:
              dummyAbha: "99999999999999"
              realAbha: "12345678910111"
      responses:
        "200":
          description: A successful call returns HTTP 200 with UpdateAbhaResponse, which carries optional successMessage and errorMessage strings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  successMessage:
                    type: string
              example:
                successMessage: ABHA number updated successfully
  /product/link:
    post:
      operationId: registry_product_link
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Link payer product
      description: |-
        Registers a product (product id and name) against a payer's participant code, so that it can be referenced in ABHA policy links.

        ### Business purpose

        Products are the payer's catalogue entries that policies[].productid and productname refer to when a beneficiary is linked. This Retrieving API call, described in the OpenAPI document as the API to list products by the payers or insurance companies, is how an insurer places a product in the registry under its own participant code. Doing so makes the product ownership resolvable through /product/getowner and gives providers a stable productId and productName to match against when they resolve coverage for InsurancePlan and preauth.

        ### When to use

        Use it when a payer launches a new product, before any member is linked to it.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - The payer is already registered.
        - You send `productid`, `productname` and `participantcode`. All three are required.

        ### Postconditions

        The product is registered to the payer, and policy links can now refer to it.

        ### Common mistakes

        - Leaving out one of the three fields.
        - Using a participant code from the wrong environment.
        - Linking members to a product before registering it here.

        ### Best practices

        - Keep productid values stable and unique within the payer; providers use productId for product-level matching and productName as the practical policy or coverage code for plan lookup.
        - Register products before linking members, and verify with /product/getowner that the product resolves to your participant code.
        - Log the participant_code returned with the product identifiers for reconciliation.
        - Refresh the Bearer token proactively and retry once on 401.

        ### Related scenario

        An insurer launches a new family floater plan. Before its policy administration system can link any member, it calls /product/link with the product id, the product name that hospitals will see, and the insurer's participant code, receiving its participant_code back in the response. It then checks /product/getowner with the product id to confirm ownership, and begins linking members with /participant/link/abha/policy. Hospitals that later call /participant/get/policies will see the product id and name, use productName for the InsurancePlan lookup and productId for coverage matching in the preauth.

        ### Specification

        Chapter [Participants and policies](/docs/nhcx/v1/registries) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productid:
                  type: string
                productname:
                  type: string
                participantcode:
                  type: string
            example:
              productid: PRD-FLOATER-01
              productname: Family Floater Gold
              participantcode: 100234@sbx
      responses:
        "200":
          description: On success the endpoint returns HTTP 200 with ParticipantCreateResponse, whose single optional field participant_code is the machine-generated participant identifier on the HCX instance.
          content:
            application/json:
              schema:
                type: object
                properties:
                  participant_code:
                    type: string
              example:
                participant_code: 100234@sbx
  /product/delink:
    post:
      operationId: registry_product_delink
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: De-link payer product
      description: |-
        Removes a product (product id and name) from a payer's participant code in the registry.

        ### Business purpose

        When a payer withdraws a product from the market or replaces it, the registry entry created by /product/link should be removed so that it is no longer resolvable and cannot be referenced by new member links. The OpenAPI document describes this Retrieving API call as the API to de-link products by the payers or insurance companies. Keeping the catalogue accurate protects providers from matching on retired products when they resolve coverage for InsurancePlan and preauthorisation.

        ### When to use

        Use it when a product is withdrawn. Remove the member links to it first.

        ### Preconditions

        - You have a valid access token in the `bearer_auth` header.
        - Member links to the product are already removed.
        - You send `productid`, `productname` and `participantcode`.

        ### Postconditions

        The product no longer belongs to the payer in the registry. Providers that cached it keep seeing it until they force a refresh.

        ### Common mistakes

        - Sending only `productid`. All three fields are required.
        - Removing a product while members are still linked to it.
        - Expecting providers to see the change at once.

        ### Best practices

        - Enumerate and de-link affected member policies before removing the product.
        - Use the exact productid and productname that were registered with /product/link.
        - Verify afterwards with /product/getowner that the product no longer resolves to your participant code.
        - Log the request and the returned participant_code for audit.
        - Refresh the Bearer token proactively and retry once on 401.

        ### Related scenario

        An insurer retires its old Individual Health Silver product at the end of a policy year, having migrated every member to a successor product. Its system first runs /participant/delink/abha/policy for each member still linked to the old product, then calls /product/delink with the product id, product name and the insurer's participant code. A confirmation call to /product/getowner shows the product no longer resolves. The insurer notifies its network hospitals, whose desks force a refresh of cached policies so that the next coverage-eligibility check and preauthorisation reference the successor product.

        ### Specification

        Chapter [Participants and policies](/docs/nhcx/v1/registries) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                productid:
                  type: string
                productname:
                  type: string
                participantcode:
[...]
