# NHCX PMJAY adjudicator, from the NHCX package's Bruno folder apis/12-adjudicator.
#
# Written by the package's own documentation build; change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: adjudicator
    label: PMJAY adjudicator
    position: 12
  title: NHCX PMJAY adjudicator
  summary: A PMJAY case is not decided over NHCX.
  description: |-
    The PMJAY adjudicator calls on the National Health Claims Exchange (NHCX): 4 operations.

    A PMJAY case is not decided over NHCX.

    Guides that use these calls: [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback), [Get your sandbox credentials](/docs/nhcx/v1/getting-started/get-your-sandbox-credentials), [PMJAY sandbox run](/docs/nhcx/v1/roles/provider/pmjay-sandbox-run), [PMJAY adjudication APIs](/docs/nhcx/v1/roles/provider/pmjay-adjudication-apis).

    Production address for the PMJAY payer service, role lookup: not published. Confirm at onboarding.

    Production address for the PMJAY payer service, act on a case: not published. Confirm at onboarding.

    Production address for the Dummy payer: A sandbox test hook only.
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: adjudicator
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
x-abdm-sources:
  - file: nhcx-package/apis/12-adjudicator
    role: upstream
    hash: sha256:cf374ac235b2e017924e723b2904d8305c73a0d0c30d252edce5b09f713e80c0
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
servers:
  - url: https://apisbx.abdm.gov.in/pmjay/sbxhcx/dummyhcxpayer
    description: Sandbox, Dummy payer.
tags:
  - name: PMJAY adjudicator
    description: A PMJAY case is not decided over NHCX.
security:
  - bearerAuth: []
paths:
  /pmjay/sbxhcx/nhcxpayerservice/v1/get/user-role:
    post:
      operationId: adjudicator_adjudicator_role
      x-abdm-atom: nhcx.endpoint.payer-service-get-user-role
      x-abdm-use-case: PMJAY adjudicator
      tags:
        - PMJAY adjudicator
      summary: "Adjudicator: role for a case"
      description: |-
        Asks the NHCX Payer Service which role in the State Health Agency's Transaction Management System holds a PMJAY case, and so which actions may be taken on it next.

        ### Business purpose

        A PMJAY case is not decided over NHCX. The exchange carries the submission to the scheme and the verdict back, but the decision is taken in the SHA's own system, by a named role, on that system's schedule. This call is how an integrator reads that queue. It is also the only way to see where a PMJAY case stands, because a status `Task` sent to the scheme over NHCX is refused, first with `PAYR-1018` and then with `PAYR-1008`.

        ### When to use

        Call it before every `Adjudicator: act on a case`, and whenever a PMJAY case has gone quiet. The case moves on its own, so read the role each time.

        ### Preconditions

        - `caseid` is the scheme's case ID, not the hospital's claim number.
        - `payerid` is the scheme payer's code.
        - A valid ABDM session token.

        ### Postconditions

        Returns the role that holds the case in `currentuserrole`. A decided case has no role.

        ### Common mistakes

        - Sending the hospital's claim number as `caseid`.
        - Acting on the case without reading the role first.
        - Taking a pre-authorisation role on a claim as an error. The case is still in the pre-authorisation queue.

        ### Best practices

        - Store the scheme's case ID beside your own claim number the moment it appears.
        - Read the role before every action, and again after it.
        - Expect this lookup and the action call to sit on different hosts. That is how the service is deployed, not a documentation error.

        ### Related scenario

        A hospital has raised a pre-authorisation that sits at `request.initiated`. It takes the case ID from the payer's acknowledgement and posts it here with the payer code. The answer is `PPD-Trust`, so it approves the case as that role with `Adjudicator: act on a case`. After the claim is raised it reads the role again at every step, through `CEX-Trust`, `CPD-Trust`, `ACO-Trust` and `SHA-Trust`, until the lookup answers with no role and the verdict arrives on the claim's own callback.

        ### Specification

        Chapter [PMJAY adjudication APIs](/docs/nhcx/v1/roles/provider/pmjay-adjudication-apis) of the NHCX integration specification.
      servers:
        - url: https://apisbx.abdm.gov.in
          description: Sandbox, PMJAY payer service, role lookup.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                caseid:
                  type: string
                payerid:
                  type: string
            example:
              caseid: <case number>
              payerid: <payer code>
      responses:
        "200":
          description: The service answers with the role that holds the case in `currentuserrole`, and `errormessage` empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  currentuserrole:
                    type: string
                  errormessage: {}
              example:
                currentuserrole: PPD-Trust
                errormessage: null
  /pmjay/hcx/nhcxpayerservice/wrapper/process/case:
    post:
      operationId: adjudicator_adjudicator_process
      x-abdm-atom: nhcx.endpoint.payer-service-process-case
      x-abdm-use-case: PMJAY adjudicator
      tags:
        - PMJAY adjudicator
      summary: "Adjudicator: act on a case"
      description: |-
        Approves, rejects, queries or forwards a PMJAY case in the State Health Agency's Transaction Management System, as the role that currently holds it.

        ### Business purpose

        This is the action half of the NHCX Payer Service. A PMJAY case sits at `request.initiated` until a role acts on it here, so in the sandbox this call is what makes a case move. A scheme payer building its own side can copy the shape: the exchange carries messages, the queue decides cases, and a case ID the payer issues joins the two.

        ### When to use

        Call it after `Adjudicator: role for a case` names the role that holds the case. Each role accepts its own action names, and `usecase` must match the role.

        ### Preconditions

        - `casenumber` is the scheme's case ID, not the hospital's claim number.
        - `action` is spelled exactly as the current role expects. It is case-sensitive.
        - A fresh `correlationid` for every call.
        - A valid ABDM session token.

        ### Postconditions

        The scheme's decision reaches you over NHCX as a normal `ClaimResponse` on the original request's correlation ID. If the action is refused, the role has moved, so read it again.

        ### Common mistakes

        - Sending `Approve` to `CPD-Trust`, which takes `cpdApprove`.
        - Sending `CLAIM` as `usecase` at a committee, which takes its full name.
        - Reusing a correlation ID across calls.
        - Raising a second request on a case while the first is still queued.

        ### Best practices

        - Read the role immediately before every action.
        - Retry shortly on `Event Meta Log not found for correlationId`, which means the exchange has not finished delivering the request, and on `Case not found for caseId`, which means the case is mid-filing.
        - Hold both threads in a test harness: this call, and the callback it causes.
        - Report the scheme's pace rather than asserting it. An enhancement may be answered `queued` again and decided minutes later.

        ### Related scenario

        On the recorded sandbox run the pre-authorisation was approved as `PPD-Trust` with `Approve` and `usecase` `PREAUTH`. After the claim was raised it was forwarded by `CEX-Trust`, approved by `CPD-Trust` as `cpdApprove`, then by `ACO-Trust` and `SHA-Trust`, each time after reading the role again and with a new correlation ID. The role lookup then answered with no role, and the approval arrived on the claim's own callback.

        ### Specification

        Chapter [PMJAY adjudication APIs](/docs/nhcx/v1/roles/provider/pmjay-adjudication-apis) of the NHCX integration specification.
      servers:
        - url: https://apisbeta.nha.gov.in
          description: Sandbox, PMJAY payer service, act on a case.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                casenumber:
                  type: string
                action:
                  type: string
                receivercode:
                  type: string
                usecase:
                  type: string
                correlationid:
                  type: string
                sendercode:
                  type: string
                memberid:
                  type: string
                remarks:
                  type: string
            example:
              casenumber: <case number>
              action: Approve
              receivercode: <payer code>
              usecase: PREAUTH
              correlationid: <correlation id>
              sendercode: <participant code>
              memberid: <member id>
              remarks: ok
      responses:
        "200":
          description: Acting on the case makes the scheme issue its verdict, which reaches the provider over NHCX as an ordinary `ClaimResponse` on the original request's correlation ID.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
              example:
                status: success
                message: Case processed
  /process/request:
    post:
      operationId: adjudicator_dummy_payer_process_request
      x-abdm-atom: nhcx.endpoint.dummy-payer-process-request
      x-abdm-use-case: PMJAY adjudicator
      tags:
        - PMJAY adjudicator
      summary: Dummy payer, act on a request
      description: |-
        Makes the sandbox dummy payer, participant `1000003538@hcx`, approve, reject or query a pre-authorisation or claim you have submitted, by correlation ID.

        ### Business purpose

        The sandbox hosts a payer that answers back, and this hook decides what it answers. It closes the loop on the first message a new integration sends. Whichever answer comes back proves the token works, the participant record is live, the exchange can reach the provider's address, the dummy payer could open the message, and the provider could read its reply.

        ### When to use

        Use it in the sandbox only. It makes the dummy payer approve, reject or query a pre-authorisation or claim you sent it.

        ### Preconditions

        - You sent a pre-authorisation or claim to the dummy payer and hold its correlation ID.
        - Your callback address is registered and answers `202` within 30 seconds.
        - A valid ABDM session token.

        ### Postconditions

        The decision arrives on your callback, for example `/v1/preauth/on_submit`, on the same correlation ID. A `Query` first sends you a communication request, which you answer on `/v1/communication/on_request`.

        ### Common mistakes

        - Passing the correlation ID of a request not sent to the dummy payer.
        - Waiting for a decision after a `Query` without answering the communication request.
        - Reading the rejection of an empty test bundle as a failure. It is the expected answer.

        ### Best practices

        - Test all three outcomes of each flow, not only approval.
        - Make the callback handler idempotent, since the exchange retries a missed receipt.
        - Keep this hook out of production code paths. It exists only in the sandbox.

        ### Related scenario

        A new provider integration sends the empty bundle from its smoke test to the dummy payer on `/v1/preauth/submit` and gets 202. It posts this hook with `action` `Approve`, `method` `Preauth` and that request's correlation ID. A `ProtocolResponse` refusing the empty bundle lands on its `/v1/preauth/on_submit`, the handler answers 202, and the base framework is proven end to end.

        ### Specification

        Chapter [Building and sending a JWE](/docs/nhcx/v1/getting-started/building-and-sending-a-jwe) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                action:
                  type: string
                method:
                  type: string
                correlationId:
                  type: string
            example:
              action: Approve
              method: Preauth
              correlationId: <correlation id>
      responses:
        "200":
          description: The answer arrives on your callback for the request's family, `/v1/preauth/on_submit` for a pre-authorisation, as a sealed `ClaimResponse` or as a `ProtocolResponse` carrying a refusal, on the correlation ID you sent.
  /paymentNotice/init:
    post:
      operationId: adjudicator_dummy_payer_paymentnotice_init
      x-abdm-atom: nhcx.endpoint.dummy-payer-paymentnotice-init
      x-abdm-use-case: PMJAY adjudicator
      tags:
        - PMJAY adjudicator
      summary: Dummy payer, send a payment notice
      description: |-
        Makes the sandbox dummy payer send a payment notice to the provider named, on `/v1/paymentnotice/request`.

        ### Business purpose

        A payment notice only follows a settled claim, which is slow to reach in a test. This hook makes the sandbox's dummy payer, `1000003538@hcx`, send one on demand, so a provider can build and test its payment notice handling and acknowledgement without waiting for a settlement.

        ### When to use

        Use it in the sandbox to make the dummy payer send you a payment notice. Put your own participant code in `providerId`.

        ### Preconditions

        - Your participant is registered with a reachable callback address.
        - You host `/v1/paymentnotice/request` and answer it `202` within 30 seconds.
        - A valid ABDM session token.

        ### Postconditions

        The notice arrives on `/v1/paymentnotice/request`. You acknowledge it on `/v1/paymentnotice/on_request`.

        ### Common mistakes

        - Triggering the notice before your `/v1/paymentnotice/request` handler is ready.
        - Sending another participant's code in `providerId`.
        - Never sending the acknowledgement on `/v1/paymentnotice/on_request`.

        ### Best practices

        - Test both the receipt and the acknowledgement.
        - Keep this hook out of production code paths. It exists only in the sandbox.

        ### Related scenario

        A provider has built its payment notice handler. It posts this hook with its own participant code in `providerId`. A payment notice from the dummy payer arrives on its `/v1/paymentnotice/request`. The handler answers 202, opens and records the notice, and sends the acknowledgement on `/v1/paymentnotice/on_request`.

        ### Specification

        Chapter [NHCX Use Cases](/docs/nhcx/v1/concepts/nhcx-use-cases) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                providerId:
                  type: string
                claimNumber:
                  type: string
            example:
              providerId: <participant code>
              claimNumber: ""
      responses:
        "200":
          description: The dummy payer sends a payment notice to the provider named, arriving on `/v1/paymentnotice/request`.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "On every NHCX call, the token goes in a header called `bearer_auth`, with the word `Bearer` and a space in front. The sources are not unanimous: the authentication page and the FAQ both write the example as `Authorization`, and the notification endpoint uses `Authorization`. The safe course, and what the adapter does, is to send both headers with the same value."
  parameters:
    BearerAuth:
      name: bearer_auth
      in: header
      required: true
      description: It is `bearer_auth`, not `Authorization`, on NHCX's own endpoints.
      schema:
        type: string
      example: Bearer <access token>
