# NHCX coverage eligibility, from the NHCX package's Bruno folder apis/02-eligibility.
#
# Written by the package's own documentation build; change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: eligibility
    label: Coverage eligibility
    position: 3
  title: NHCX coverage eligibility
  summary: Coverage eligibility is the pre-check a hospital desk runs before committing a patient to a cashless pathway.
  description: |-
    The Coverage eligibility calls on the National Health Claims Exchange (NHCX): 2 operations, and 2 callbacks you host.

    Coverage eligibility is the pre-check a hospital desk runs before committing a patient to a cashless pathway.

    Guides that use these calls: [Building and sending a JWE](/docs/nhcx/v1/getting-started/building-and-sending-a-jwe), [Coverage eligibility request](/docs/nhcx/v1/reference/fhir/coverage-eligibility-request), [Coverage eligibility response](/docs/nhcx/v1/reference/fhir/coverage-eligibility-response).
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: eligibility
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/02-eligibility
    role: upstream
    hash: sha256:e42e738c449e98effd44ddef6394558cb87c97fc073c3ddb7d9662895f6afe51
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
  - file: nhcx-package/nhcx-error.yaml
    role: upstream
    hash: sha256:d24ac927ed4dd722e60d7bd1d6fed15de370cc29f750d68999ee56fac93c941b
    note: The error codes.
servers:
  - url: https://apisbx.abdm.gov.in/hcx
    description: Sandbox, NHCX exchange.
  - url: https://apisprod.nha.gov.in/hcx
    description: Production.
tags:
  - name: Coverage eligibility
    description: Coverage eligibility is the pre-check a hospital desk runs before committing a patient to a cashless pathway.
security:
  - bearerAuth: []
paths:
  /v1/coverageeligibility/check:
    post:
      operationId: eligibility_v1_coverageeligibility_check
      x-abdm-atom: nhcx.endpoint.coverageeligibility-check
      x-abdm-use-case: Coverage eligibility
      tags:
        - Coverage eligibility
      summary: "Provider: check coverage eligibility"
      description: |-
        Provider asks the payer, via NHCX, whether a beneficiary's policy is in force, what it covers and which documents a preauth will need.

        ### Business purpose

        Coverage eligibility is the pre-check a hospital desk runs before committing a patient to a cashless pathway. It confirms three things the desk needs: that the policy is active, what benefits and wallet balance are available, and whether a specific procedure needs authorisation at all. A rejection that would otherwise surface days later at preauth or claim adjudication surfaces in seconds while the patient is still at the counter, which benefits the hospital (less rework), the payer (fewer malformed preauths) and the patient (earlier certainty).

        ### When to use

        - Call it at registration or admission, before you submit a pre-authorisation on `/v1/preauth/submit`.
        - Set `purpose` to say what you want back. It takes one or more values:
          - `discovery` finds the beneficiary's policies. Use it only when `/participant/get/policies` gives no policy code.
          - `validation` says whether the policy is in force, with the used amount, available balance and wallet liability.
          - `benefits` says whether a package is covered for this beneficiary.
          - `auth-requirements` says whether a chosen procedure is covered at this hospital, and returns the STG questionnaires and `MAND` document codes the pre-authorisation must carry.
        - Send `x-hcx-status` `request.initiated`.
        - No workflow code is specific to eligibility. The sample exchange uses `x-hcx-workflow_id` `11` (PATIENT_ADMITTED).
        - Under PMJAY, run an `auth-requirements` check even for an unspecified procedure.

        ### Preconditions

        - You have a valid access token and the payer's certificate.
        - `x-hcx-recipient_code` is the processing ID from the policy lookup, not the payer ID.
        - `x-hcx-correlation_id` is a new UUID for this check.
        - The bundle names the patient, the coverage, the hospital and the insurer, encrypted for the payer.

        ### Postconditions

        - NHCX answers `202` at once. That only means the message was accepted.
        - The payer's answer arrives later on `/v1/coverageeligibility/on_check`.

        ### Common mistakes

        - Treating the `202` as the eligibility answer.
        - Using the payer ID as the recipient code instead of the processing ID.
        - Reusing a correlation ID from an earlier check.
        - Sending a status other than `request.initiated`.

        ### Best practices

        - Persist the correlation ID against the patient episode before posting; it is the only key for matching the callback.
        - Refresh the token automatically before the 1200-second expiry and treat a 401 as refresh-and-retry-once.
        - Run discovery first only when get/policies gives no policy code, then validation, then auth-requirements for the chosen package; store the returned MAND codes and STG questionnaire references and attach them to the preauth.
        - "Match response items to your request by `productOrService` code: the payer answers in the package codes you sent, for example `MG004A`, as NHA's published PMJAY bundles show. The numbers in the handbook's response table (100005, 100478, 100063, 100012) are not item codes; in the published bundles they are questionnaire, document-requirement and question identifiers."
        - Use IST timestamps with the +05:30 offset in the protected header.
        - Log the 202 body (protocol_status, api_call_id) so a missing callback can be traced with /v1/status.

        ### Related scenario

        A patient arrives at a district hospital with a PMJAY card. The desk calls /participant/get/policies and receives a processingID for the state health agency. Because the treating doctor wants a corneal grafting package, the desk builds a CoverageEligibilityRequest with purpose validation and auth-requirements, encrypts it for the payer and posts it to /v1/coverageeligibility/check, receiving a 202 with protocol_status request.queued. Minutes later the payer's answer lands on /v1/coverageeligibility/on_check with inforce true, authorizationRequired true and MAND0409 and MAND0104 listed as supporting documents. The desk collects those documents and proceeds to /v1/preauth/submit under workflow 12.

        ### Specification

        Chapter [Coverage eligibility request](/docs/nhcx/v1/reference/fhir/coverage-eligibility-request) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - x-hcx-sender_code
        - x-hcx-recipient_code
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - x-hcx-workflow_id
        - x-hcx-timestamp
        - x-hcx-status
        - x-hcx-ben-abha-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: NHCX replies synchronously with HTTP 202 Accepted and a StatusSuccessResponse acknowledgement (timestamp, api_call_id, correlation_id, result with sender_code, recipient_code, entity_type coverageeligibility and protocol_status such as request.queued or request.dispatched, plus an empty error object).
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                correlation_id: 11223344-5566-7788-99aa-bbccddeeff00
                result:
                  sender_code: <provider participant code>
                  recipient_code: <payer participant code>
                  entity_type: coverageeligibility
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/coverageeligibility/on_check:
    post:
      operationId: eligibility_v1_coverageeligibility_on_check
      x-abdm-atom: nhcx.endpoint.coverageeligibility-on-check
      x-abdm-use-case: Coverage eligibility
      tags:
        - Coverage eligibility
      summary: "Payer: send the coverage eligibility response"
      description: |-
        Payer returns the CoverageEligibilityResponse (policy in force, benefits, auth requirements) or an error to the provider through NHCX.

        ### Business purpose

        This is the answer leg of the eligibility check. The payer (or a TPA acting for it) tells the provider whether the policy is live, which items are covered or excluded, the allowed amounts, whether preauthorisation is required and which supporting documents the preauth must carry. Delivering this before treatment lets the hospital counsel the patient and assemble the right evidence, and lets the payer avoid adjudicating preauths that were never going to be covered.

        ### When to use

        - The payer calls it after it has processed a `/v1/coverageeligibility/check`, with the same `x-hcx-correlation_id`.
        - Set `x-hcx-status` to one of these:
          - `response.complete` for a final answer. Accept `response.completed` as the same value; some samples spell it that way.
          - `response.partial` for a partial answer.
          - `response.error` for a protocol-level rejection, with `x-hcx-error_details` filled in.
        - The payload is a CoverageEligibilityResponseBundle with `outcome` `complete`. It says whether the policy is in force (`insurance[*].inforce`), which items are excluded (`item[*].excluded`), and whether a pre-authorisation is needed and with which documents (`item[*].authorizationRequired`, `item[*].authorizationSupporting`).
        - A redirect or forward to another payer is also a valid outcome.

        ### Preconditions

        - A check with this correlation ID exists in NHCX.
        - The payer has a valid access token and the provider's certificate, and encrypts the answer for the provider.
        - `x-hcx-status` is `response.complete`, `response.partial` or `response.error`.
        - Business errors go inside the encrypted answer. Only protocol errors go in `x-hcx-error_details`.

        ### Postconditions

        - NHCX answers `202` and forwards the answer to the provider.
        - The provider must reply `202` within 30 seconds, or NHCX retries up to five times.
        - On success the check is closed and the provider can move on to pre-authorisation.

        ### Common mistakes

        - Replying with `200` or a custom body on the receiving side, which makes NHCX retry.
        - Creating a new correlation ID instead of reusing the request's.
        - Putting patient or clinical details in `x-hcx-error_details`.

        ### Best practices

        - Acknowledge first, process later: return 202 within 30 seconds and queue decryption and business handling.
        - Be idempotent on x-hcx-correlation_id; the same callback may be redelivered up to five times.
        - Set inforce, disposition, excluded, authorizationRequired and authorizationSupporting explicitly so the desk can act without free-text interpretation.
        - Use ProtocolResponse with x-hcx-status response.error and a catalogued error code for protocol rejections; put business errors inside the encrypted resource.
        - Providers: whitelist the NHCX NAT IPs, expose the callback on a domain name (not IP or port) on an India-based server, and implement v1/error alongside on_check.

        ### Related scenario

        A state health agency's bridge receives an eligibility check for a beneficiary requesting validation and auth-requirements for package SE012A. Its rules engine confirms the policy is active with sufficient wallet balance and that SE012A needs preauthorisation with documents MAND0409, MAND0104 and MAND0062. The bridge builds a CoverageEligibilityResponseBundle, encrypts it for the hospital, sets x-hcx-status response.complete with the original correlation ID and posts it to /v1/coverageeligibility/on_check. NHCX acknowledges with 202 and delivers it to the hospital's callback, which acknowledges within 30 seconds; the hospital then prepares its /v1/preauth/submit.

        ### Specification

        Chapter [Coverage eligibility response](/docs/nhcx/v1/reference/fhir/coverage-eligibility-response) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - name: x-hcx-sender_code
          required: true
          description: Your participant code. Mandatory on the envelope.
          example: <payer participant code>
        - name: x-hcx-recipient_code
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          example: <provider participant code>
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - x-hcx-workflow_id
        - x-hcx-timestamp
        - name: x-hcx-status
          required: true
          description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
          example: response.complete
        - x-hcx-ben-abha-id
        - x-hcx-debug_flag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - JWEPayload
                  description: Always `JWEPayload`. Every response (`on_`) call sends it beside `payload`.
                payload:
                  type: string
              required:
                - type
                - payload
            example:
              type: JWEPayload
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: The gateway (and, when the callback reaches it, the provider system) returns HTTP 202 Accepted with the StatusSuccessResponse acknowledgement echoing correlation_id and api_call_id, entity_type coverageeligibility and a protocol_status.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                correlation_id: 11223344-5566-7788-99aa-bbccddeeff00
                result:
                  sender_code: <payer participant code>
                  recipient_code: <provider participant code>
                  entity_type: coverageeligibility
                  protocol_status: request.dispatched
                error:
                  code: ""
                  message: ""
webhooks:
  /v1/coverageeligibility/check:
    post:
      operationId: eligibility_webhook_v1_coverageeligibility_check
      x-abdm-atom: nhcx.callback.coverageeligibility-check
      x-abdm-triggered-by: eligibility_v1_coverageeligibility_check
      x-abdm-use-case: Webhooks
      tags:
        - Coverage eligibility
      summary: Payer receives a coverage eligibility check
      description: |-
        Hosted by the payer. The exchange posts this message to the `endpoint_url` you registered, at `/v1/coverageeligibility/check`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Provider asks the payer, via NHCX, whether a beneficiary's policy is in force, what it covers and which documents a preauth will need.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - x-hcx-sender_code
        - x-hcx-recipient_code
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - x-hcx-workflow_id
        - x-hcx-timestamp
        - x-hcx-status
        - x-hcx-ben-abha-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: <provider participant code>
                  entity_type: coverageeligibility
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/coverageeligibility/on_check:
    post:
      operationId: eligibility_webhook_v1_coverageeligibility_on_check
      x-abdm-atom: nhcx.callback.coverageeligibility-on-check
      x-abdm-triggered-by: eligibility_v1_coverageeligibility_on_check
      x-abdm-use-case: Webhooks
      tags:
        - Coverage eligibility
      summary: Provider receives the coverage eligibility response
      description: |-
        Hosted by the provider. The exchange posts this message to the `endpoint_url` you registered, at `/v1/coverageeligibility/on_check`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Payer returns the CoverageEligibilityResponse (policy in force, benefits, auth requirements) or an error to the provider through NHCX.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - name: x-hcx-sender_code
          required: true
          description: Your participant code. Mandatory on the envelope.
          example: <payer participant code>
        - name: x-hcx-recipient_code
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          example: <provider participant code>
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - x-hcx-workflow_id
        - x-hcx-timestamp
        - name: x-hcx-status
          required: true
          description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
          example: response.complete
        - x-hcx-ben-abha-id
        - x-hcx-debug_flag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - JWEPayload
                  description: Always `JWEPayload`. Every response (`on_`) call sends it beside `payload`.
                payload:
                  type: string
              required:
                - type
                - payload
            example:
              type: JWEPayload
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: <provider participant code>
                  entity_type: coverageeligibility
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: bearer_auth
      description: Every NHCX call carries the access token from the session call in a header named `bearer_auth`, as the word `Bearer`, a space and the token. NHCX reads `bearer_auth`, not `Authorization`.
  parameters:
    BearerAuth:
      name: bearer_auth
      in: header
      required: true
      description: It is `bearer_auth`, not `Authorization`, on NHCX's own endpoints.
      schema:
        type: string
      example: Bearer <access token>
  x-nhcx-protected-header:
    alg:
      required: true
      description: "Key management algorithm. Always `RSA-OAEP-256`: the content key is wrapped with the recipient's RSA public key."
      example: RSA-OAEP-256
    enc:
      required: true
      description: Content encryption algorithm. Always `A256GCM`.
      example: A256GCM
    x-hcx-sender_code:
      required: true
      description: Your participant code. Mandatory on the envelope.
      example: <provider participant code>
    x-hcx-recipient_code:
      required: true
      description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
      example: <payer participant code>
    x-hcx-api_call_id:
      required: true
      description: Fresh on every message, including responses. Mandatory on the envelope.
      example: <uuid>
    x-hcx-request_id:
      required: false
      description: "One per originating request. The Open Protocol page marks it Mandatory; the Technical Specifications page marks it Optional. Optional on the envelope. Send it anyway, as a fresh UUID per originating request: it is cheap and satisfies both readings until NHA rules."
      example: <uuid>
    x-hcx-correlation_id:
      required: true
      description: "The thread that ties a request to its answers. [The correlation ID rule](/docs/nhcx/v1/reference/envelope-fields#the-correlation-id-rule-in-full) says when to reuse it. Mandatory on the envelope."
      example: <uuid>
    x-hcx-workflow_id:
      required: false
      description: "Which step, or which case. [The workflow code](/docs/nhcx/v1/reference/envelope-fields#the-workflow-code-means-two-different-things) explains both readings. Optional on the envelope."
      example: "11"
    x-hcx-timestamp:
      required: true
      description: "The time the message was made. [Timestamp](/docs/nhcx/v1/reference/envelope-fields#timestamp) gives the format. Mandatory on the envelope."
      example: <iso timestamp>
    x-hcx-status:
      required: true
      description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
      example: request.initiated
    x-hcx-ben-abha-id:
      required: false
      description: "The beneficiary's ABHA number. Optional: send it when the beneficiary has an ABHA number. Optional on the envelope."
      example: <14-digit ABHA number>
    x-hcx-debug_flag:
      required: false
      description: "`Error`, `Info` or `Debug`. A server may ignore it. Optional on the envelope."
      example: INFO
x-abdm-errors:
  notes: "Codes any exchange call can meet are recorded once, in the [Other](/docs/nhcx/v1/api/other) specification: the gateway's NHCX- codes, the standard payer codes, and the reference payer's structure and transport codes. The reference payer's other codes sit with the exchange they reject: coverage eligibility, preauthorisation, claim and insurance plan. [Reading error codes](/docs/nhcx/v1/reference/error-code-guide) explains the code spaces."
x-abdm-errors-reference-payer:
  source: Reference payer codes, PAYR-1001 to PAYR-1520. Sent by the PMJAY reference implementation; they arrive inside the sealed response.
  codes:
    - code: PAYR-1101
      message: Invalid purpose received as (%s) for beneficiary id (%s) from hospital id (%s). Hence no result will be returned. Please try again with a valid purpose.
      action: ""
    - code: PAYR-1102
      message: Invalid search parameter requested. Please try again with a valid id.
      action: ""
    - code: PAYR-1103
      message: Invalid careplan id received. Please try again with valid careplan id.
      action: ""
    - code: PAYR-1104
      message: Multiple records found for the beneficiary. Hence request will not be processed further.
      action: ""
    - code: PAYR-1105
      message: Hospital configuration not found. Please contact support team.
      action: ""
    - code: PAYR-1106
      message: No details found for the requested procedures in the system.
      action: ""
    - code: PAYR-1107
      message: No billable item received. Please try again with valid item data.
      action: ""
    - code: PAYR-1108
      message: No details found for the requested stratification in the system.
      action: ""
    - code: PAYR-1109
      message: No details found for the requested investigations in the system.
      action: ""
    - code: PAYR-1110
      message: No details found for the requested implants in the system.
      action: ""
    - code: PAYR-1111
      message: Rule failure.
      action: ""
    - code: PAYR-1112
      message: Invalid payer id received. Please try again ith valid payer details
      action: ""
    - code: PAYR-1113
      message: Invalid item code received as %s. Please try again with valid data
      action: ""
    - code: PAYR-1114
      message: Invalid speciality code received as %s for item %s. Please try again with valid data. Speciality code is available as the code of the category for specific cost of plan in isurance plan
      action: ""
    - code: PAYR-1115
      message: Invalid procedure quantity received as %s for item %s. Please try again with valid data. Item quantity should be greater than 1
      action: ""
    - code: PAYR-1116
      message: Hospital is not authorized to raise any case under policy %s. Hence request will not be processed further. Please connect with the support team to get the required authorization
      action: ""
    - code: PAYR-1117
      message: No policy details found for %s. Hence request will not be processed further
      action: ""
    - code: PAYR-1118
      message: No details found for requested items. Hence request will not be processed further
      action: ""
    - code: PAYR-1119
      message: No payer details received for payer id %s from HCX. Please try again with valid payer details.
      action: ""
    - code: PAYR-1120
      message: Duplicate reference id found as %s. Please try again with valid reference details.
      action: ""
    - code: PAYR-1121
      message: No policy details found for %s for beneficiary %s. Hence request will not be processed further.
      action: ""
    - code: PAYR-1122
      message: No policy details found for beneficiary %s. Hence request will not be processed further.
      action: ""
    - code: PAYR-1123
      message: Beneficiary is not a covered member for requested payer. Please enroll beneficiary for applicable policy of requested payer and try again.
      action: ""
