# NHCX claim, from the NHCX package's Bruno folder apis/05-claim.
#
# Written by the package's own documentation build; change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: claim
    label: Claim
    position: 5
  title: NHCX claim
  summary: The claim is where money actually moves.
  description: |-
    The Claim calls on the National Health Claims Exchange (NHCX): 2 operations, and 2 callbacks you host.

    The claim is where money actually moves.

    Guides that use these calls: [Claim request](/docs/nhcx/v1/reference/fhir/claim-request), [Claim response](/docs/nhcx/v1/reference/fhir/claim-response), [Claim query and answer](/docs/nhcx/v1/reference/fhir/claim-query-and-answer).
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: claim
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/05-claim
    role: upstream
    hash: sha256:d216977cce22632f8ab901882dfe7b64d92ba5f0dcdd08f477d105b15d14cfbc
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
  - file: nhcx-package/nhcx-error.yaml
    role: upstream
    hash: sha256:d24ac927ed4dd722e60d7bd1d6fed15de370cc29f750d68999ee56fac93c941b
    note: The error codes.
servers:
  - url: https://apisbx.abdm.gov.in/hcx
    description: Sandbox, NHCX exchange.
  - url: https://apisprod.nha.gov.in/hcx
    description: Production.
tags:
  - name: Claim
    description: The claim is where money actually moves.
security:
  - bearerAuth: []
paths:
  /v1/claim/submit:
    post:
      operationId: claim_v1_claim_submit
      x-abdm-atom: nhcx.endpoint.claim-submit
      x-abdm-use-case: Claim
      tags:
        - Claim
      summary: Claim submit
      description: |-
        Provider submits the final itemised Claim bundle (Claim.use claim), or a claim query response or resubmission; NHCX routes it to the payer.

        ### Business purpose

        The claim is where money actually moves. After treatment the provider assembles finalised bills, the complete document set and the preAuthRef, and asks the payer to adjudicate and settle. A well-prepared claim closes within days; a poorly prepared one cycles through queries and resubmissions for weeks. The endpoint gives hospitals a single structured channel for settlement requests and gives payers a complete evidentiary package against which to calculate the approved amount, apply deductions and trigger payment.

        ### When to use

        Use it after discharge to claim payment for a case with an approved pre-authorisation. The same call answers a payer query on the claim: the workflow code in the header says which. A reprocess goes through `/v1/task/submit` instead.

        ### Preconditions

        - An approved pre-authorisation exists, and no claim has been raised for the case yet.
        - The bundle is a FHIR `Claim` with `use` set to `claim` and the final bill amounts.
        - Discharge details and the required documents are attached. For PMJAY, so is proof of presence at discharge.
        - A valid access token, the payer's certificate and a fresh correlation ID.

        ### Postconditions

        - NHCX answers `202` at once. That only means the message was accepted.
        - The payer's answers arrive later on `/v1/claim/on_submit`, possibly several times.
        - A `response.complete` closes the claim. Nothing more can be sent on it.

        ### Common mistakes

        - Claiming more than the pre-authorisation approved, or items it did not include.
        - Answering a claim query as a new claim instead of a query reply.
        - Missing documents the payer asked for, which causes a query and delays payment.
        - Reusing the pre-authorisation's correlation ID for the claim.

        ### Best practices

        - Start from the approved preauth payload: keep diagnosis and procedure entries, change Claim.use to claim, replace estimates with final amounts and add the full document set.
        - Reference preAuthRef and reuse the case number; key every submission on the correlation ID and persist workflow ID and use_case with it.
        - Check response.outcome on every callback; partial means the claim is still live, so keep monitoring the same correlation ID.
        - Validate supportingInfo value types and discharge codes before encrypting; the PAYR-1098, 1099 and 1501 to 1505 family rejects malformed supporting info.
        - For LAMA discharges send stratification with duration; for cyclic procedures send cycle information for every cycle with one biometric record per date (PAYR-1368, PAYR-1369).
        - Implement v1/error and use /v1/status with the claim's correlation ID when no callback arrives.

        ### Related scenario

        A patient is discharged home after the corneal grafting approved under preAuthRef PREAUTH-HP-2026-78901. The billing desk takes the preauth bundle, sets Claim.use to claim, records discharge code DTH After Surgery, attaches the discharge summary, operative notes and final itemised bill of 13700 INR, and posts it to /v1/claim/submit under workflow 15 with use_case New and a new correlation ID. NHCX returns 202. The payer sends 25 and 28 as response.partial, then queries under 27 for a missing investigation report; the hospital answers under 151. Approval arrives under 26 as response.complete, and a payment notice follows on /v1/paymentnotice/request.

        ### Specification

        Chapter [Claim request](/docs/nhcx/v1/reference/fhir/claim-request) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxWorkflowId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxUseCase"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: NHCX returns HTTP 202 Accepted with a StatusSuccessResponse acknowledgement (entity_type claim) and forwards the request asynchronously.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                correlation_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                result:
                  sender_code: 1000004446@hcx
                  recipient_code: 1518@hcx
                  entity_type: claim
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/claim/on_submit:
    post:
      operationId: claim_v1_claim_on_submit
      x-abdm-atom: nhcx.endpoint.claim-on-submit
      x-abdm-use-case: Claim
      tags:
        - Claim
      summary: Claim callback
      description: |-
        Payer returns interim (response.partial) and final (response.complete) ClaimResponseBundles for a claim to the provider via NHCX.

        ### Business purpose

        This callback carries the payer's adjudication of the final claim, possibly in several stages. Interim partial responses let the payer signal receipt, processing and queries while the claim stays open; the complete response fixes the financial decision (approved, partially approved or rejected) and triggers payment advice and settlement. For the hospital it is the source of truth for what will be paid and why; for the payer it is the auditable record of the decision.

        ### When to use

        The payer calls it after each step of reviewing a claim, on the claim's correlation ID. It may come several times: progress updates, a query, then approval or rejection.

        ### Preconditions

        - A claim with this correlation ID exists and is still open.
        - A valid access token and the provider's certificate.
        - The header echoes the claim's `x-hcx-correlation_id`, with a new `x-hcx-api_call_id`.

        ### Postconditions

        - NHCX answers `202` and forwards the response. The provider must answer `202` within 30 seconds.
        - After `response.partial` the claim stays open. After `response.complete` it is closed.
        - An approval leads to payment notices. After a rejection, the provider may ask for a reprocess.

        ### Common mistakes

        - Treating outcome `complete` as approval. A rejection is also `complete`.
        - Stopping after the first callback. More may follow.
        - Sending another response after `response.complete`, or using a new correlation ID.
        - Replying `202` too slowly, which makes NHCX retry.

        ### Best practices

        - Provider: acknowledge first, then decrypt, then update case state; be idempotent on correlation ID and api_call_id.
        - "Provider: treat the PMJAY query audit trail (USER~datetime~type~comment~actor, entries separated by |; actor is PPD-Trust, CPD-Trust or the hospital name) as display text. Show each entry's comment and never parse a timestamp from it."
        - Provider: on complete plus approved, trigger settlement tracking and await 30, 31 and 33; the claim is only closed when 33 arrives and the UTR is persisted.
        - Payer: emit 25 on receipt and 28 during processing so the desk sees progress, and put reduction reasons in processNote linked by noteNumber.
        - Both: keep x-hcx-status and x-hcx-workflow_id consistent with the NHA status sheet, since the pair identifies the message.

        ### Related scenario

        A state health agency receives a final claim for 13700 INR against an approved preauth. Its bridge first posts 25 (received) and 28 (in process) as response.partial to /v1/claim/on_submit. The medical auditor finds the investigation report missing and the bridge posts 27 with the query text in the adjudication reason display; the hospital answers under 151 on /v1/claim/submit. Satisfied, the payer posts 26 with outcome complete, reason approved and benefit 13700 as response.complete. The hospital's callback acknowledges each message within 30 seconds, marks the claim adjudicated and waits for the payment notice under workflow 30.

        ### Specification

        Chapter [Claim response](/docs/nhcx/v1/reference/fhir/claim-response) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - name: x-hcx-workflow_id
          in: header
          required: false
          description: Which step, or which case. See the two readings below. Optional on the envelope.
          schema:
            type: string
          example: "26"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxDebugFlag"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: HTTP 202 Accepted with the StatusSuccessResponse acknowledgement (entity_type claim) from NHCX, then asynchronous delivery to the provider's callback, which must acknowledge with 202 within 30 seconds or NHCX retries up to five times before deleting the request.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: 9a8b7c6d-5e4f-4a3b-2c1d-0e9f8a7b6c5d
                correlation_id: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
                result:
                  sender_code: 1518@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: claim
                  protocol_status: request.dispatched
                error:
                  code: ""
                  message: ""
webhooks:
  /v1/claim/submit:
    post:
      operationId: claim_webhook_v1_claim_submit
      x-abdm-atom: nhcx.callback.claim-submit
      x-abdm-triggered-by: claim_v1_claim_submit
      x-abdm-use-case: Webhooks
      tags:
        - Claim
      summary: Receive claim submit
      description: |-
        Hosted by the payer. The exchange posts this message to the `endpoint_url` you registered, at `/v1/claim/submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Provider submits the final itemised Claim bundle (Claim.use claim), or a claim query response or resubmission; NHCX routes it to the payer.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxWorkflowId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxUseCase"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/claim/on_submit:
    post:
      operationId: claim_webhook_v1_claim_on_submit
      x-abdm-atom: nhcx.callback.claim-on-submit
      x-abdm-triggered-by: claim_v1_claim_on_submit
      x-abdm-use-case: Webhooks
      tags:
        - Claim
      summary: Receive claim callback
      description: |-
        Hosted by the provider. The exchange posts this message to the `endpoint_url` you registered, at `/v1/claim/on_submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Payer returns interim (response.partial) and final (response.complete) ClaimResponseBundles for a claim to the provider via NHCX.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - name: x-hcx-workflow_id
          in: header
          required: false
          description: Which step, or which case. See the two readings below. Optional on the envelope.
          schema:
            type: string
          example: "26"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
        - $ref: "#/components/parameters/XHcxDebugFlag"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "On every NHCX call, the token goes in a header called `bearer_auth`, with the word `Bearer` and a space in front. The sources are not unanimous: the authentication page and the FAQ both write the example as `Authorization`, and the notification endpoint uses `Authorization`. The safe course, and what the adapter does, is to send both headers with the same value."
  parameters:
    BearerAuth:
      name: bearer_auth
      in: header
      required: true
      description: It is `bearer_auth`, not `Authorization`, on NHCX's own endpoints.
      schema:
        type: string
      example: Bearer <access token>
    XHcxSenderCode:
      name: x-hcx-sender_code
      in: header
      required: true
      description: Your participant code. Mandatory on the envelope.
      schema:
        type: string
      example: 1000004446@hcx
    XHcxRecipientCode:
      name: x-hcx-recipient_code
      in: header
      required: true
      description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
      schema:
        type: string
      example: 1518@hcx
    XHcxApiCallId:
      name: x-hcx-api_call_id
      in: header
      required: true
      description: Fresh on every message, including responses. Mandatory on the envelope.
      schema:
        type: string
      example: <uuid>
    XHcxRequestId:
      name: x-hcx-request_id
      in: header
      required: false
      description: "One per originating request. The Open Protocol page marks it Mandatory; the Technical Specifications page marks it Optional. Optional on the envelope. Send it anyway, as a fresh UUID per originating request: it is cheap and satisfies both readings until NHA rules."
      schema:
        type: string
      example: <uuid>
    XHcxCorrelationId:
      name: x-hcx-correlation_id
      in: header
      required: true
      description: The thread. See the rule below. Mandatory on the envelope.
      schema:
        type: string
      example: <uuid>
    XHcxWorkflowId:
      name: x-hcx-workflow_id
      in: header
      required: false
      description: Which step, or which case. See the two readings below. Optional on the envelope.
      schema:
        type: string
      example: "15"
    XHcxTimestamp:
      name: x-hcx-timestamp
      in: header
      required: true
      description: See the format note below. Mandatory on the envelope.
      schema:
        type: string
      example: <iso timestamp>
    XHcxStatus:
      name: x-hcx-status
      in: header
      required: true
      description: Where this message stands. Values below. Mandatory on the envelope.
      schema:
        type: string
      example: request.initiated
    XHcxBenAbhaId:
      name: x-hcx-ben-abha-id
      in: header
      required: false
      description: "The beneficiary's ABHA number. Optional: send it when the beneficiary has an ABHA number. Optional on the envelope."
      schema:
        type: string
      example: "91711234567890"
    XHcxUseCase:
      name: x-hcx-use_case
      in: header
      required: false
      description: Values differ by exchange, see below. Optional on the envelope.
      schema:
        type: string
      example: New
    XHcxDebugFlag:
      name: x-hcx-debug_flag
      in: header
      required: false
      description: "`Error`, `Info` or `Debug`. A server may ignore it. Optional on the envelope."
      schema:
        type: string
      example: INFO
x-abdm-errors:
  notes: "Codes any exchange call can meet are recorded once, in the [Other](/docs/nhcx/v1/api/other) specification: the gateway's NHCX- codes, the standard payer codes, and the reference payer's structure and transport codes. The reference payer's other codes sit with the exchange they reject: coverage eligibility, preauthorisation, claim and insurance plan. [Reading error codes](/docs/nhcx/v1/reference/error-code-guide) explains the code spaces."
x-abdm-errors-reference-payer:
  source: Reference payer codes, PAYR-1001 to PAYR-1520. Sent by the PMJAY reference implementation; they arrive inside the sealed response.
  codes:
    - code: PAYR-1301
      message: Claim has already been raised for case number %s. Hence new claim request will not be accepted.
      action: ""
    - code: PAYR-1302
      message: No preauthorization approved record found for case number %s. Hence new claim request will not be accepted.
      action: ""
    - code: PAYR-1303
      message: No active claim record found for case number %s. Hence query updation request will not be accepted.
      action: ""
    - code: PAYR-1304
      message: No claim queried record found for case number %s. Hence query updation request will not be accepted.
      action: ""
    - code: PAYR-1305
      message: Invalid usecase requested for case number %s. Please try again with valid usecase.
      action: ""
    - code: PAYR-1306
      message: No item found in preauthorization request for procedure %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1307
      message: Invalid quantity requested for procedure %s with item sequence %s for case number %s. Please try again with valid quantity.
      action: ""
    - code: PAYR-1308
      message: No item found in active claim request for procedure %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1309
      message: No item found in preauthorization request for implant %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1310
      message: Invalid quantity requested for implant %s with item sequence %s for case number %s. Please try again with valid quantity.
      action: ""
    - code: PAYR-1311
      message: No item found in active claim request for implant %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1312
      message: No item found in preauthorization request for investigation %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1313
      message: Invalid quantity requested for investigation %s with item sequence %s for case number %s. Please try again with valid quantity.
      action: ""
    - code: PAYR-1314
      message: No item found in active claim request for investigation %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1315
      message: Rejected item found for preauthorization for procedure %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1316
      message: Rejected item found for preauthorization for investigation %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1317
      message: Rejected item found for preauthorization for implant %s with item sequence %s for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1318
      message: No requested treatment plan found for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1319
      message: No requested investigation plan found for case number %s. Please try again with valid items.
      action: ""
    - code: PAYR-1320
      message: No details found for the requested investigations in the system. Hence request will not be processed.
      action: ""
    - code: PAYR-1321
      message: Error occurred while processing the request due to invalid workflow id as (%s)
      action: ""
    - code: PAYR-1322
      message: No active case found for the given case number.
      action: The SHA HP sandbox sent this code as "Active instance found for case number", for a second request on a case while the first was still queued. The sheet's message reads the opposite way.
    - code: PAYR-1323
      message: Insufficient wallet balance. Hence the request will not be processed.
      action: ""
    - code: PAYR-1324
      message: Invalid discharge stage received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1325
      message: Invalid admission date received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1326
      message: Invalid discharge date received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1327
      message: Invalid admission date format received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1328
      message: Invalid discharge date format received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1329
      message: Invalid registration date received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1330
      message: Invalid registration date format received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1331
      message: Receiver not registered in NHCX. Please try again with valid receiver details.
      action: ""
    - code: PAYR-1332
      message: Invalid CRC request.
      action: ""
    - code: PAYR-1333
      message: Invalid claim type (in-patient/out-patient) received. Hence the request will not be processed.
      action: ""
    - code: PAYR-1334
      message: Hospital configuration not found. Please contact support team.
      action: ""
    - code: PAYR-1335
      message: Invalid implant quantity received as %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1336
      message: Invalid implant unit price received as INR %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1337
      message: Invalid implant net amount received as INR %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1338
      message: Invalid implant attachment received for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1339
      message: Invalid implant status received as %s for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1340
      message: Invalid investigation status received as %s for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1341
      message: Invalid investigation attachment received for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1342
      message: Existing case in progress found for case number %s. Hence new reimbursement request will not be accepted.
      action: ""
    - code: PAYR-1343
      message: Previous reimbursement approved record found for the new reimbursement request for case number %s. Hence request will not be processed further.
      action: ""
    - code: PAYR-1344
      message: No details found for the requested procedures in the system.
      action: ""
    - code: PAYR-1345
      message: Invalid procedure status received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1346
      message: Invalid procedure description received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1347
      message: Invalid procedure type received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1348
      message: Invalid procedure factor received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1349
      message: Invalid procedure quantity received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1350
      message: Invalid procedure net amount received as INR %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1351
      message: Invalid speciality code received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1352
      message: Requested beneficary details and careplan details does not match any criteria for processing the case at this hospital. Please try again with valid data.
      action: ""
    - code: PAYR-1353
      message: Invalid careplan id received. Please try again with valid careplan id.
      action: ""
    - code: PAYR-1354
      message: Rule failure.
      action: ""
    - code: PAYR-1355
      message: No details found for the requested implants in the system. Hence request will not be processed.
      action: ""
    - code: PAYR-1356
      message: Patient liability is not aplicable for the hospital and beneficiary do not have enough wallet balance with deficit amount INR %s for the requested preauthorization for case number %s.
      action: ""
    - code: PAYR-1357
      message: Admission date cannot be after the discharge date. Hence request will not be processed. Please correct the data and try again.
      action: ""
    - code: PAYR-1358
      message: Registration of the patient is allowed maximum upto %s days after admission. Hence request will not be processed. Please correct the data and try again.
      action: ""
    - code: PAYR-1359
      message: No billable treatment plan received for case number %s. Please try again with valid treatment plan data.
      action: ""
    - code: PAYR-1360
      message: Invalid item code received as %s for item sequence %s case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1361
      message: Invalid item sequence received as %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1362
      message: No procedure with code LM100 received with 'Requested' status for case number %s. Please try again with valid data. For PMJAY claims, if case comes under LAMA/DAMA scenario with beneficiary being discharged before surgery or during surgery, procedure with code LM100 is mandatory. Only this procedure code will be accepted for LAMA/DAMA case, and all other previous preauthorization approved items will get disqualified for the claim submission
      action: ""
    - code: PAYR-1363
      message: Response for Authentication Consent Questionnaire is missing for case number %s. This must be sent if the biometric authentication for patient is not available during discharge. For new claim request, either biometric authentication for patient during discharge, or response for Authentication Consent questionnaire must be sent. Please check/update the insurance plan for the policy for the details of the questionnaire.
      action: ""
    - code: PAYR-1364
      message: No value received for link id %s for Authentication Consent Questionnaire for claim request. This must be sent if the biometric authentication for patient is not available during discharge. For new claim request, either biometric authentication for patient during discharge, or response for Authentication Consent questionnaire must be sent. Please check/update the insurance plan for the policy for the details of the questionnaire.
      action: ""
    - code: PAYR-1365
      message: Response for STG Questionnaire id %s is mandatory for procedure code %s. Hence the preauthorization request will not be processed as the questionnaire response is not received for procedure code.
      action: ""
    - code: PAYR-1366
      message: Invalid biometric user token received. Please try again with valid biometric details of the beneficiary. For any issues with biometric, please try with Authentication Consent Questionnaire for discharge, details for which has been received in insurance plan.
      action: ""
    - code: PAYR-1367
      message: No biometric records found for the beneficiary for %s. Please ensure correctness of biometric authentication date for the day for cyclic procedure %s.
      action: ""
    - code: PAYR-1368
      message: "%s units of cycle information received for procedure code %s with item sequence %s. Cycle information should be sent for all the requested/processed cycles."
      action: ""
    - code: PAYR-1369
      message: Biometric authentication cannot be performed more than once on the same date. Multiple biometric authentication information has been provided for same date for cyclic procedure %s. Hence case will not be processed. Please check and update biometric authentication execution dates and try again.
      action: ""
    - code: PAYR-1370
      message: Received invalid start date as %s for supporting details with item sequence %s. Please try again with valid start date.
      action: ""
