# NHCX task: reprocess, cancel and shortfall. Split out of the NHCX package's Bruno folder
# apis/13-other, so a regulated appeal path is not filed under Other.
#
# Written by the package's system/build-ekadocs.mjs (make ekadocs); change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: task
    label: Reprocess, cancel and shortfall
    position: 8
  title: NHCX reprocess, cancel and shortfall
  summary: "Claims are often not fully approved first time, for mundane reasons: missing documents, policy interpretation differences, package or pricing discrepancies."
  description: |-
    The reprocess, cancel and shortfall calls on the National Health Claims Exchange (NHCX): 2 operations, and 2 callbacks you host.

    Claims are often not fully approved first time, for mundane reasons: missing documents, policy interpretation differences, package or pricing discrepancies.

    Guides that use these calls: [Building and sending a JWE](/docs/nhcx/v1/getting-started/building-and-sending-a-jwe), [Cancel, reprocess and shortfall](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall).

    Production address for the NHCX portal: not published.
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: task
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/13-other
    role: upstream
    hash: sha256:d65315e2042e17c77dd9400fc36380a58195496d693f53bb5102e805d7231de2
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
  - file: nhcx-package/nhcx-error.yaml
    role: upstream
    hash: sha256:d24ac927ed4dd722e60d7bd1d6fed15de370cc29f750d68999ee56fac93c941b
    note: The error codes.
servers:
  - url: https://apisbx.abdm.gov.in/hcx
    description: Sandbox, NHCX exchange.
  - url: https://apisprod.nha.gov.in/hcx
    description: Production.
tags:
  - name: Reprocess, cancel and shortfall
    description: "Claims are often not fully approved first time, for mundane reasons: missing documents, policy interpretation differences, package or pricing discrepancies."
security:
  - bearerAuth: []
paths:
  /v1/task/submit:
    post:
      operationId: task_v1_task_submit
      x-abdm-atom: nhcx.endpoint.task-submit
      x-abdm-use-case: Reprocess, cancel and shortfall
      tags:
        - Reprocess, cancel and shortfall
      summary: "Provider: submit a reprocess or cancel task"
      description: |-
        Provider sends a FHIR Task asking the payer to reprocess a rejected or short-paid claim or to cancel a preauth; Task.code and reasonCode set the intent.

        ### Business purpose

        Claims are often not fully approved first time, for mundane reasons: missing documents, policy interpretation differences, package or pricing discrepancies. Without a formal appeal path, disputes leave the system and become phone calls and email. The Task flow gives providers a structured, auditable way to contest a decision with new evidence, and to withdraw a pre-authorisation that will never be used. Payers get a controlled re-adjudication workflow with SLA adherence, aligned with NHA and IRDAI expectations of transparent dispute resolution.

        ### When to use

        Use it to ask the payer to reprocess a rejected or short-paid claim, or to cancel a pre-authorisation. Reprocess uses workflow `36`. Cancel uses workflow `PC01` and is answered on `PC02`.

        ### Preconditions

        - You have a valid access token and the payer's certificate.
        - The original claim or pre-authorisation exists, and the Task points to it.
        - A reprocess has a clear reason and new supporting documents attached.
        - The header carries the correlation ID of the original claim or pre-authorisation.

        ### Postconditions

        - NHCX answers `202` at once. That only means the message was accepted.
        - The payer's answer arrives later on `/v1/task/on_submit`.
        - Only a submitted or approved pre-authorisation can be cancelled.

        ### Common mistakes

        - Leaving out the reference to the original claim or pre-authorisation.
        - Using a new correlation ID instead of the original one.
        - Spelling the input anything other than `intimationNumber`.
        - Cancelling a pre-authorisation that is already cancelled or paid.

        ### Best practices

        - Link the Task to the original entity twice: basedOn with the sender's reference id and Task.input with claimNumber and intimation number.
        - Use reasonCode other only with a clear Task.description.
        - Persist the correlation id and workflow id so the on_submit Task bundle can be matched and the ClaimResponse extracted from Task.output.
        - Design the case state machine so 252 or 253 terminates the appeal branch.
        - Fresh api_call_id per call, IST timestamps, request.initiated on the outbound header.
        - Implement v1/error; a Task that never reaches the payer is otherwise silent.

        ### Related scenario

        A hospital's claim for a cardiac package, submitted on /v1/claim/submit, comes back on /v1/claim/on_submit rejected for a missing implant invoice. The billing team obtains the invoice and the integration builds a Task: code reprocess, reasonCode claimrejected, basedOn the original claim, input claimNumber and intimation number, the invoice attached, workflow 18, and the claim's correlation id. It posts /v1/task/submit and receives 202. The payer acknowledges (251), re-adjudicates and returns a Task bundle on /v1/task/on_submit whose Task.output wraps a ClaimResponse with outcome complete and workflow 252; a payment notice follows on /v1/paymentnotice/request.

        ### Specification

        Chapter [Cancel, reprocess and shortfall](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - x-hcx-sender_code
        - x-hcx-recipient_code
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - x-hcx-workflow_id
        - x-hcx-timestamp
        - x-hcx-status
        - x-hcx-ben-abha-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: The gateway returns HTTP 202 with a StatusSuccessResponse whose result carries entity_type task and a protocol_status; 400, 404 and 500 use the same envelope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 25/08/2026 10:00:00:154
                api_call_id: f2a3b4c5-d6e7-8901-5678-012345678901
                correlation_id: 66778899-aabb-ccdd-eeff-001122334455
                result:
                  sender_code: <provider participant code>
                  recipient_code: <payer participant code>
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/task/on_submit:
    post:
      operationId: task_v1_task_on_submit
      x-abdm-atom: nhcx.endpoint.task-on-submit
      x-abdm-use-case: Reprocess, cancel and shortfall
      tags:
        - Reprocess, cancel and shortfall
      summary: "Payer: send the task outcome"
      description: |-
        Payer returns a Task bundle with Task.status completed whose Task.output references a ClaimResponse carrying the reprocess or cancellation outcome.

        ### Business purpose

        This callback closes the appeal or cancellation the provider opened on /v1/task/submit. It carries the payer's final decision on a reprocess (approved, partially approved, queried or rejected) or confirms a pre-authorisation cancellation, in the same ClaimResponse shape used for ordinary adjudication so hospitals can reuse their parsers. Because the reprocess response is final within the workflow, it delivers closure, a clean audit trail and reduced ambiguity for both sides, which is the point of moving disputes inside NHCX.

        ### When to use

        The payer calls it to answer a reprocess or cancellation Task. The answer is a completed Task that points at a `ClaimResponse` with the new decision. A cancellation is confirmed on workflow `PC02`.

        ### Preconditions

        - The payer answered the incoming Task with `202` within 30 seconds.
        - A valid access token and the provider's certificate.
        - The header reuses the Task's `x-hcx-correlation_id`.
        - The `ClaimResponse` inside is built like any other decision.

        ### Postconditions

        - NHCX answers `202` and forwards the answer to the provider.
        - The provider reads the `ClaimResponse` the Task points at, like any other decision.
        - The reprocess decision is final. A cancelled pre-authorisation needs a new one if treatment resumes.

        ### Common mistakes

        - Looking for the `ClaimResponse` directly in the bundle instead of following the Task's output.
        - Reading outcome `complete` as approval. A rejection is also `complete`.
        - Sending a new correlation ID on the answer.
        - Sending a bare `ClaimResponse` without the Task around it.

        ### Best practices

        - Payer: acknowledge first, re-adjudicate asynchronously, then post the Task bundle with the outcome workflow id and ClaimResponse nested in Task.output.
        - Provider: share the ClaimResponse parser between /v1/claim/on_submit and this callback; only the extraction path differs.
        - Branch on adjudication reason as well as outcome; check processNote for reductions or query text.
        - "Terminate the appeal branch of the case state machine on 252 or 253. On 254, note that NHCX publishes no workflow code for the answer: the handbook's 19 is the preauthorisation query response code, so confirm with the payer how it wants the answer sent."
        - Be idempotent on correlation id; expect redeliveries.
        - Fresh api_call_id, IST timestamp, responder status on the callback header.

        ### Related scenario

        A scheme payer's TPA receives a reprocess Task on a rejected claim with the missing implant invoice attached. Its endpoint returns 202 and the case reopens for re-adjudication with the original claim, the new document and the justification. The reviewer approves at the package rate, and the TPA posts /v1/task/on_submit: a Task bundle, status completed, Task.output referencing a ClaimResponse with outcome complete, workflow 252, under the claim's correlation id. The hospital acknowledges within 30 seconds, extracts the ClaimResponse from Task.output, marks the appeal closed and awaits the payment notice on /v1/paymentnotice/request.

        ### Specification

        Chapter [Cancel, reprocess and shortfall](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - name: x-hcx-sender_code
          required: true
          description: Your participant code. Mandatory on the envelope.
          example: <payer participant code>
        - name: x-hcx-recipient_code
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          example: <provider participant code>
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - name: x-hcx-workflow_id
          required: false
          description: "Which step, or which case. [The workflow code](/docs/nhcx/v1/reference/envelope-fields#the-workflow-code-means-two-different-things) explains both readings. Optional on the envelope."
          example: "252"
        - x-hcx-timestamp
        - name: x-hcx-status
          required: true
          description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
          example: response.complete
        - x-hcx-ben-abha-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - JWEPayload
                  description: Always `JWEPayload`. Every response (`on_`) call sends it beside `payload`.
                payload:
                  type: string
              required:
                - type
                - payload
            example:
              type: JWEPayload
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: The gateway returns HTTP 202 with the StatusSuccessResponse envelope (400, 404, 500 in the same shape) and forwards the bundle to the provider, which must acknowledge within 30 seconds.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 26/08/2026 16:30:00:611
                api_call_id: a3b4c5d6-e7f8-9012-6789-123456789012
                correlation_id: 66778899-aabb-ccdd-eeff-001122334455
                result:
                  sender_code: <payer participant code>
                  recipient_code: <provider participant code>
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
webhooks:
  /v1/task/submit:
    post:
      operationId: task_webhook_v1_task_submit
      x-abdm-atom: nhcx.callback.task-submit
      x-abdm-triggered-by: task_v1_task_submit
      x-abdm-use-case: Webhooks
      tags:
        - Reprocess, cancel and shortfall
      summary: Payer receives a reprocess or cancel task
      description: |-
        Hosted by the payer. The exchange posts this message to the `endpoint_url` you registered, at `/v1/task/submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Provider sends a FHIR Task asking the payer to reprocess a rejected or short-paid claim or to cancel a preauth; Task.code and reasonCode set the intent.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - x-hcx-sender_code
        - x-hcx-recipient_code
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - x-hcx-workflow_id
        - x-hcx-timestamp
        - x-hcx-status
        - x-hcx-ben-abha-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: <provider participant code>
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/task/on_submit:
    post:
      operationId: task_webhook_v1_task_on_submit
      x-abdm-atom: nhcx.callback.task-on-submit
      x-abdm-triggered-by: task_v1_task_on_submit
      x-abdm-use-case: Webhooks
      tags:
        - Reprocess, cancel and shortfall
      summary: Provider receives the task outcome
      description: |-
        Hosted by the provider. The exchange posts this message to the `endpoint_url` you registered, at `/v1/task/on_submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Payer returns a Task bundle with Task.status completed whose Task.output references a ClaimResponse carrying the reprocess or cancellation outcome.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - name: x-hcx-sender_code
          required: true
          description: Your participant code. Mandatory on the envelope.
          example: <payer participant code>
        - name: x-hcx-recipient_code
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          example: <provider participant code>
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - name: x-hcx-workflow_id
          required: false
          description: "Which step, or which case. [The workflow code](/docs/nhcx/v1/reference/envelope-fields#the-workflow-code-means-two-different-things) explains both readings. Optional on the envelope."
          example: "252"
        - x-hcx-timestamp
        - name: x-hcx-status
          required: true
          description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
          example: response.complete
        - x-hcx-ben-abha-id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - JWEPayload
                  description: Always `JWEPayload`. Every response (`on_`) call sends it beside `payload`.
                payload:
                  type: string
              required:
                - type
                - payload
            example:
              type: JWEPayload
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: <provider participant code>
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: bearer_auth
      description: Every NHCX call carries the access token from the session call in a header named `bearer_auth`, as the word `Bearer`, a space and the token. NHCX reads `bearer_auth`, not `Authorization`.
  parameters:
    BearerAuth:
      name: bearer_auth
      in: header
      required: true
      description: It is `bearer_auth`, not `Authorization`, on NHCX's own endpoints.
      schema:
        type: string
      example: Bearer <access token>
  x-nhcx-protected-header:
    alg:
      required: true
      description: "Key management algorithm. Always `RSA-OAEP-256`: the content key is wrapped with the recipient's RSA public key."
      example: RSA-OAEP-256
    enc:
      required: true
      description: Content encryption algorithm. Always `A256GCM`.
      example: A256GCM
    x-hcx-sender_code:
      required: true
      description: Your participant code. Mandatory on the envelope.
      example: <provider participant code>
    x-hcx-recipient_code:
      required: true
      description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
      example: <payer participant code>
    x-hcx-api_call_id:
      required: true
      description: Fresh on every message, including responses. Mandatory on the envelope.
      example: <uuid>
    x-hcx-request_id:
      required: false
      description: "One per originating request. The Open Protocol page marks it Mandatory; the Technical Specifications page marks it Optional. Optional on the envelope. Send it anyway, as a fresh UUID per originating request: it is cheap and satisfies both readings until NHA rules."
      example: <uuid>
    x-hcx-correlation_id:
      required: true
      description: "The thread that ties a request to its answers. [The correlation ID rule](/docs/nhcx/v1/reference/envelope-fields#the-correlation-id-rule-in-full) says when to reuse it. Mandatory on the envelope."
      example: <uuid>
    x-hcx-workflow_id:
      required: false
      description: "Which step, or which case. [The workflow code](/docs/nhcx/v1/reference/envelope-fields#the-workflow-code-means-two-different-things) explains both readings. Optional on the envelope."
      example: "18"
    x-hcx-timestamp:
      required: true
      description: "The time the message was made. [Timestamp](/docs/nhcx/v1/reference/envelope-fields#timestamp) gives the format. Mandatory on the envelope."
      example: <iso timestamp>
    x-hcx-status:
      required: true
      description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
      example: request.initiated
    x-hcx-ben-abha-id:
      required: false
      description: "The beneficiary's ABHA number. Optional: send it when the beneficiary has an ABHA number. Optional on the envelope."
      example: <14-digit ABHA number>
x-abdm-errors:
  notes: |-
    Codes any exchange call can meet are recorded once, in the [Other](/docs/nhcx/v1/api/other) specification: the gateway's NHCX- codes, the standard payer codes, and the reference payer's structure and transport codes. The reference payer's other codes sit with the exchange they reject: coverage eligibility, preauthorisation, claim and insurance plan. [Reading error codes](/docs/nhcx/v1/reference/error-code-guide) explains the code spaces.

    18 codes from PAYR-1003 to PAYR-1020 mean one thing on the standard payer sheet and another on the reference payer's sheet. Read the code together with its message.
  ranges:
    - range: NHCX-1xxx
      covers: The exchange, on the envelope. The message never reached the payer.
      examples: "`NHCX-1001`, `NHCX-1002`"
    - range: PAYR-10xx
      covers: Transport and bundle structure. An element, id, sequence or type is missing. Not a value problem.
      examples: "`PAYR-1001`, `PAYR-1002`"
    - range: PAYR-11xx
      covers: Coverage eligibility. The policy, the beneficiary or the hospital configuration.
      examples: "`PAYR-1101`, `PAYR-1102`"
    - range: PAYR-12xx
      covers: Preauthorisation. Codes, amounts, dates, sequencing and scheme rules.
      examples: "`PAYR-1201`, `PAYR-1202`"
    - range: PAYR-13xx
      covers: Claim. The same, against the approved preauthorisation.
      examples: "`PAYR-1301`, `PAYR-1302`"
    - range: PAYR-14xx
      covers: Insurance plan, and the scheme's outer rules. Empanelment, policy association, plan configuration.
      examples: "`PAYR-1401`, `PAYR-1402`"
x-abdm-errors-gateway:
  source: Gateway codes, NHCX-. Sent by the exchange; they arrive synchronously on your own call, or on /v1/error.
  codes:
    - code: NHCX-401
      message: User Unauthorized
      action: ""
    - code: NHCX-1001
      message: Receiver system is not reachable.
      action: ""
    - code: NHCX-1002
      message: Sender not registered in NHCX. Please register in NHCX portal and try again.
      action: ""
    - code: NHCX-1003
      message: Receiver not registered in NHCX. Please try again with valid receiver details.
      action: ""
    - code: NHCX-1004
      message: No receiver registered in NHCX for the requested scheme. Please try again with valid receiver details for the scheme.
      action: ""
    - code: NHCX-1005
      message: Invalid request header. Please try again with valid headers.
      action: ""
    - code: NHCX-1006
      message: Duplicate request. Request with same correlation id already exist in the system.
      action: ""
    - code: NHCX-1007
      message: Something went wrong while processing the request. Please check the request structure and values and try again.
      action: ""
    - code: NHCX-1008
      message: Something went wrong while processing the request. Please try again after sometime.
      action: ""
    - code: NHCX-1009
      message: Something went wrong while processing the request. Please check log for more details.
      action: ""
    - code: NHCX-1010
      message: No Data with given Correlation id for call back request, please check status for more details
      action: ""
    - code: NHCX-1011
      message: Invalid Status, please check x-hcx-status value from the protected header
      action: ""
    - code: NHCX-1012
      message: No records found with the requested api caller id. Please try again with a valid api caller id.
      action: ""
    - code: NHCX-1013
      message: Invalid or blank request found.
      action: ""
    - code: NHCX-1014
      message: Unable to send protocol response to sender.
      action: ""
    - code: NHCX-1015
      message: Invalid response received from receiver.
      action: ""
    - code: NHCX-1016
      message: Invalid Api Action, please check the request action for this correlationId before trying again
      action: ""
    - code: NHCX-1017
      message: Invalid response received from receiver
      action: ""
    - code: NHCX-1018
      message: Invalid ABHA number received. ABHA number should be sent in the format XX-XXXX-XXXX-XXXX
      action: ""
x-abdm-errors-standard-payer:
  source: Standard payer codes, PAYR-1001 to PAYR-1020. Sent by A payer implementing the published standard; they arrive inside the sealed response.
  codes:
    - code: PAYR-1001
      message: Error while decrypting request. Please reprocess the request encrypting with valid certificate of the payer.
      action: ""
    - code: PAYR-1002
      message: Error while encrypting request. Please update encryption certificate in NHCX.
      action: ""
    - code: PAYR-1003
      message: Error while connecting to NHCX. System will try to resend the message to NHCX after some time.
      action: ""
    - code: PAYR-1004
      message: Provider is not registered with the payer for requested policy.
      action: ""
    - code: PAYR-1005
      message: Beneficiary is not a covered member for requested policy. Please enroll beneficiary for the policy and try again.
      action: ""
    - code: PAYR-1006
      message: Policy does not exist. Please try with a valid policy.
      action: ""
    - code: PAYR-1007
      message: Requested policy is expired. Please try with a valid policy.
      action: ""
    - code: PAYR-1008
      message: Eligible coverage amount of the beneficiary for the requested policy is insufficient to process the request.
      action: ""
    - code: PAYR-1009
      message: Requested items are not valid or not covered. Please try again with valid or covered items.
      action: ""
    - code: PAYR-1010
      message: Preauthorization is required to process the request but was not obtained.
      action: ""
    - code: PAYR-1011
      message: Enhancement request can not be processed as the prior approved package/procedure does not support enhancement.
      action: ""
    - code: PAYR-1012
      message: Claim amount requested is more than the preauthorization approved amount.
      action: ""
    - code: PAYR-1013
      message: No prior approval for the requested procedures/packages obtained.
      action: ""
    - code: PAYR-1014
      message: Date of birth of the beneficiary can not be after date of service.
      action: ""
    - code: PAYR-1015
      message: Date of service cannot be after date of death.
      action: ""
    - code: PAYR-1016
      message: Duplicate claim submitted based on service codes and dates.
      action: ""
    - code: PAYR-1017
      message: Amount calculations are not correct. Please verify calculated amount.
      action: ""
    - code: PAYR-1018
      message: Time limit for submission expired.
      action: ""
    - code: PAYR-1019
      message: Requested additional information was not received or was not received within time limit
      action: ""
    - code: PAYR-1020
      message: Unable to process payment as no valid bank details found for the provider.
      action: ""
x-abdm-errors-reference-payer:
  source: Reference payer codes, PAYR-1001 to PAYR-1520. Sent by the PMJAY reference implementation; they arrive inside the sealed response.
  codes:
    - code: PAYR-1001
      message: Error occurred while decrypting payload for receiver code <receiver_code> with correlation id <sender_correlation_id>.
      action: ""
    - code: PAYR-1002
      message: Error occurred while encrypting payload for receiver code <receiver_code> with correlation id <sender_correlation_id>.
      action: ""
    - code: PAYR-1003
      message: Invalid workflow requested. Hence request will not be processed further.
      action: ""
    - code: PAYR-1004
      message: Received FHIR bundle is malformed. Please correct the bundle and try again. <Error details>
      action: ""
    - code: PAYR-1005
      message: Maximum time limit exceeded in receiving the request. Please try again.
      action: ""
    - code: PAYR-1006
      message: Invalid name in request. Hence request will not be processed further.
      action: ""
    - code: PAYR-1007
      message: Invalid gender in request. Hence request will not be processed further.
      action: ""
    - code: PAYR-1008
      message: Invalid FHIR bundle received. Hence request will not be processed further.
      action: ""
    - code: PAYR-1009
      message: No identifier found for patient component. Hence request will not be processed further. https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Patient.html
      action: ""
    - code: PAYR-1010
      message: No type found for patient component identifier. Hence request will not be processed further. https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Patient.html
      action: ""
    - code: PAYR-1011
      message: No identifier found for claim component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1012
      message: No type found for claim component identifier. Hence request will not be processed further.
      action: ""
    - code: PAYR-1013
      message: No identifier found for organization component for provider. Hence request will not be processed further.
      action: ""
    - code: PAYR-1014
      message: No type found for organization component identifier for provider. Hence request will not be processed further.
      action: ""
    - code: PAYR-1015
      message: No identifier found for organization component for payer. Hence request will not be processed further.
      action: ""
    - code: PAYR-1016
      message: No type found for organization component identifier for payer. Hence request will not be processed further.
      action: ""
    - code: PAYR-1017
      message: No task code received. Hence request will not be processed further.
      action: ""
    - code: PAYR-1018
      message: No task reason code received. Hence request will not be processed further.
      action: ""
    - code: PAYR-1019
      message: Invalid sequence received in supporting info element. Hence request will not be processed further.
      action: ""
    - code: PAYR-1020
      message: Invalid category received in supporting info element for sequence %s. Hence request will not be processed further.
      action: ""
    - code: PAYR-1021
      message: Invalid code received in supporting info element for sequence %s. Hence request will not be processed further.
      action: ""
    - code: PAYR-1023
      message: Invalid procedure category received for procedure component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1024
      message: Invalid procedure status received for procedure component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1025
      message: Invalid procedure sequence received for procedure component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1026
      message: No procedure component found for reference in claim component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1027
      message: Invalid item id found for item in claim component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1028
      message: Invalid item sequence received for item in claim component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1029
      message: Invalid bundle id received for FHIR bundle. Hence request will not be processed further.
      action: ""
    - code: PAYR-1030
      message: Invalid questionnaire id received in FHIR bundle for questionnaire component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1031
      message: Invalid url received for bundle entry in FHIR bundle. Hence request will not be processed further. Please reach out to technical team.
      action: ""
    - code: PAYR-1032
      message: Invalid purpose received for coverage eligibility request. Hence request will not be processed further. Please try again with valid purpose details.
      action: ""
    - code: PAYR-1033
      message: No items received for coverage eligibility purpose. Since items are mandatory for the requested purpose, hence request will not be processed further. Please try again with valid item details.
      action: ""
    - code: PAYR-1034
      message: Invalid procedure code received. Please try again with valid procedure details.
      action: ""
    - code: PAYR-1035
      message: Invalid policy code received. Please try again with valid policy details.
      action: ""
    - code: PAYR-1036
      message: Invalid attachment received in supporting info with sequence number %s. Please try again with valid attachment details as attachment value is expected. If issue is not resolved, please reach out to technical team.
      action: ""
    - code: PAYR-1037
      message: No identifier found for communication component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1038
      message: No type found for communication component identifier. Hence request will not be processed further.
      action: ""
    - code: PAYR-1039
      message: No payload found for communication component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1040
      message: No component found for given reference. Hence request will not be processed further.
      action: ""
    - code: PAYR-1041
      message: No identifier found for procedure component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1042
      message: No type found for procedure component identifier. Hence request will not be processed further.
      action: ""
    - code: PAYR-1043
      message: Date received in the request does not adhere to the NRCES date datatype format. Hence request will not be processed further. Please refere to the date format in NRCES portal.
      action: ""
    - code: PAYR-1044
      message: Date and time received in the request does not adhere to the NRCES date datatype format. Hence request will not be processed further. Please refere to the date time format in NRCES portal.
      action: ""
    - code: PAYR-1045
      message: Invalid quantity received for item. Hence request will not be processed further.
      action: ""
    - code: PAYR-1046
      message: No value or timing details received for supporting info for sequence %s. Hence request will not be processed further. Please reach out to technical team.
      action: ""
    - code: PAYR-1047
      message: Invalid reference received in supporting info with sequence number %s. Please try again with valid resource as reference value.
      action: ""
    - code: PAYR-1048
      message: No reference resource received for supporting info with sequence number %s. Please try again with valid resource for reference value.
      action: ""
    - code: PAYR-1049
      message: Invalid FHIR bundle received. Hence request will not be processed further. please reach out to technical team.
      action: ""
    - code: PAYR-1050
      message: No type found for practitioner component identifier. Hence request will not be processed further.
      action: ""
    - code: PAYR-1051
      message: No section found for composition component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1052
      message: No references found in composition section. Hence request will not be processed further.
      action: ""
    - code: PAYR-1053
      message: Invalid reference found in child sections of composition section. Hence request will not be processed further.
      action: ""
    - code: PAYR-1054
      message: No section content found for composition component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1055
      message: Invalid subject type found for composition component. This should be of type Patient. Hence request will not be processed further. Please try again with valid subject type for the composition.
      action: ""
    - code: PAYR-1056
      message: Invalid contact organization found for subject in composition component. This should be of type Organization. Hence request will not be processed further. Please try again with valid data.
      action: ""
    - code: PAYR-1057
      message: Invalid general practioner type found for subject in composition component. This should be of type Organization/Practitioner/PractitionerRole. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Patient.html
      action: ""
    - code: PAYR-1058
      message: Invalid managing organization type found for subject in composition component. This should be of type Organization. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Patient.html
      action: ""
    - code: PAYR-1059
      message: Invalid encounter type found for composition/observation component. This should be of type Encounter. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-DiagnosticReportRecord.html
      action: ""
    - code: PAYR-1060
      message: No subject found for encounter in composition component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1061
      message: Invalid subject type found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1062
      message: No episode of care found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1063
      message: Invalid episode of care type found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1064
      message: No based on found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1065
      message: Invalid based on type found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1066
      message: No appointment found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1067
      message: Invalid appointment type found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1068
      message: No reason reference found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1069
      message: Invalid reason reference type found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1070
      message: No author found for composition component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1071
      message: Invalid author type found for composition component. This should be of type Practitioner / PractitionerRole / Organization / Patient / Device / RelatedPerson. Hence request will not be processed further. Please try again with valid author type for the composition.
      action: ""
    - code: PAYR-1072
      message: No procedure reference received for procedure element in claim resource. Hence request will not be processed further.
      action: ""
    - code: PAYR-1073
      message: No based on found for observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Observation.html
      action: ""
    - code: PAYR-1074
      message: Invalid based on type found for observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Observation.html
      action: ""
    - code: PAYR-1075
      message: No part of found for observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Observation.html
      action: ""
    - code: PAYR-1076
      message: Invalid part of type found for observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Observation.html
      action: ""
    - code: PAYR-1077
      message: No subject found for observation component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1078
      message: Invalid subject type found for observation component. This should be of type Patient. Hence request will not be processed further. Please try again with valid subject type for the observation.
      action: ""
    - code: PAYR-1079
      message: No care team details received. Hence request will not be processed further. Please add the care team details and try again.
      action: ""
    - code: PAYR-1080
      message: Invalid HPR details received for practioner resource with url %s. Hence request will not be processed further. Please try again with valid HPR id.
      action: ""
    - code: PAYR-1081
      message: Invalid service date received for item with sequence %s in claim resource. Hence request will not be processed further. Please try again with valid item service date.
      action: ""
    - code: PAYR-1082
      message: Invalid title received for composition for supporting info with sequence %s in claim resource. Hence request will not be processed further. Please try again with valid composition title.
      action: ""
    - code: PAYR-1083
      message: No HPR details found for the practitioner for resource %s. Hence request will not be processed further. Please send the details in the identifier for Practitioner resource with category code as HPIN.
      action: ""
    - code: PAYR-1084
      message: No questionnaire response resource found for url %s. Hence request will not be processed further. Please add the resources for all the references given in the FHIR bundle and try again.
      action: ""
    - code: PAYR-1085
      message: Invalid questionnaire response resource type found in the FHIR bundle for url %s. Hence request will not be processed further.
      action: ""
    - code: PAYR-1086
      message: No procedure resource found for url %s. Hence request will not be processed further. Please add the resources for all the references given in the FHIR bundle and try again.
      action: ""
    - code: PAYR-1087
      message: Invalid procedure resource type found in the FHIR bundle for url %s. Hence request will not be processed further. Procedure resource type is expected.
      action: ""
    - code: PAYR-1088
      message: Invalid composition details.
      action: ""
    - code: PAYR-1089
      message: No billing items found. Hence request will not be processed further. Please try again with valid billing items.
      action: ""
    - code: PAYR-1090
      message: No identifier found for coverage component. Hence request will not be processed further.
      action: ""
    - code: PAYR-1091
      message: No type found for coverage component identifier. Hence request will not be processed further.
      action: ""
    - code: PAYR-1092
      message: Something went wrong while processing request, kindly intiate new request
      action: ""
    - code: PAYR-1093
      message: No subject found for encounter in composition component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1094
      message: Invalid subject type found for encounter in composition/observation component. Hence request will not be processed further. Please refer to https://www.nrces.in/ndhm/fhir/r4/StructureDefinition-Encounter.html
      action: ""
    - code: PAYR-1095
      message: Invalid discharge information received for claim request. Hence request will not be processed further. Please send the discharge information in supporting info in claim resource, with category as DIS (refer - https://www.nrces.in/ndhm/fhir/r4/ValueSet-ndhm-supportinginfo-category.html), and codes in LAMA/DAMA/DTH/DTM (refer - https://www.nrces.in/ndhm/fhir/r4/ValueSet-ndhm-supportinginfo-code.html).
      action: ""
    - code: PAYR-1096
      message: Invalid death date received for claim request. Hence request will not be processed further. Please send the death date information in supporting info in claim resource, with category as ONS (refer - https://www.nrces.in/ndhm/fhir/r4/ValueSet-ndhm-supportinginfo-category.html), and code as DTM (refer - https://www.nrces.in/ndhm/fhir/r4/ValueSet-ndhm-supportinginfo-code.html).
      action: ""
    - code: PAYR-1097
      message: No payload found in the request. Please ensure that the request that is being sent, contains encrypted payload within the mandatory payload properties.
      action: ""
    - code: PAYR-1098
      message: Value type received as %s for category - OTH and code - EDT for item with sequence %s in supporting info in claim resource. In supporting info list, item with category - OTH and code - EDT combination is used to get the registration date. So the registration date should be sent as timing (date or period) or as a string value, adhering to the NRCES standards, with the category - OTH and code - EDT.
      action: ""
    - code: PAYR-1099
      message: Value type received as %s for category - ONS and code - DSDE for item with sequence %s in supporting info in claim resource. In supporting info list, item with category - ONS and code - DSDE combination is used to get the discharge date. So the discharge date should be sent as timing (date or period) or as a string value, adhering to the NRCES standards, with the category - ONS and code - DSDE.
      action: ""
x-abdm-errors-observed:
  source: Observed live codes, ERR-PYR-. Sent by the PMJAY reference implementation, on none of its published sheets; they arrive inside the sealed response.
  codes:
    - code: ERR-PYR-CLM-007
      message: No prior preauthorization or claim record found for case number
      action: On none of the seven sheets. The SHA HP sandbox sent it for a claim raised under a number of its own rather than the preauthorisation's.
