{
  "openapi": "3.1.1",
  "info": {
    "x-portal": {
      "module": "ambulance",
      "label": "Ambulance Booking",
      "position": 3,
      "icon": "ambulance"
    },
    "title": "UHI Ambulance Booking",
    "summary": "Send a patient's details to the chosen ambulance provider and get a quote and terms back.",
    "description": "**Domain:** `nic2008:86909`<br>\n**fulfillment.type:** `EMERGENCY`<br>\n**Coverage:** search / on_search and init / on_init. No confirm, status or cancel examples yet.<br>\n**Search:** category `ALL`, item `AMBULANCE`, `locations[]` with `SOURCE` and optional `DESTINATION`, `additional_services` tag.<br>\n**on_search:** ALS / BLS / PTA / Mortuary Van categories, one fulfillment per vehicle with ETA window, `tracking` flag and `deeplink_url` tag, items with estimated / minimum / maximum charges.<br>\n**on_init:** order id, quote breakup (base + consumables), terms in state `INITIATED`, payment `ON-ORDER`.",
    "version": "2.0.2",
    "contact": {
      "name": "National Health Authority India"
    },
    "x-abdm-gateway": "uhi",
    "x-abdm-module": "ambulance",
    "x-abdm-phase": 1,
    "x-abdm-roles": [
      "eua",
      "hspa"
    ]
  },
  "x-abdm-sources": [
    {
      "file": "catalogue/uhi/openapi/.raw/nha-2026-09-28-uhi/gateway/UHI Documentation Requirements.yaml",
      "role": "upstream",
      "hash": "sha256:af065b1acc1032286c5b10ba43a39c048bfd8ce8afe1017b92e11b783a43d158",
      "fetched": "2026-09-28"
    },
    {
      "file": "catalogue/uhi/openapi/.raw/nha-2026-09-28-uhi/gateway/UHI Gateway Service.yaml",
      "role": "upstream",
      "hash": "sha256:a04a7a18f19f9fb448f747d84b19aa10908b9118ac32a4bf84cf330440984d47",
      "fetched": "2026-09-28"
    }
  ],
  "servers": [
    {
      "url": "https://uhigatewaysandbox.abdm.gov.in",
      "description": "Sandbox"
    },
    {
      "url": "https://uhigateway.abdm.gov.in",
      "description": "Production"
    },
    {
      "url": "https://uhigatewaybeta.abdm.gov.in",
      "description": "Beta. Use it only when NHA asks you to."
    }
  ],
  "tags": [
    {
      "name": "HSPA - Provider Platform"
    },
    {
      "name": "EUA - Consumer Platform"
    }
  ],
  "paths": {
    "/init": {
      "post": {
        "tags": [
          "HSPA - Provider Platform"
        ],
        "summary": "/init (EUA → HSPA)",
        "operationId": "uhi_ambulance_init",
        "description": "Initialize an order by providing billing and/or shipping details<br>\n\nSign this request first: [Signing](/docs/uhi/v1/concepts/signing).",
        "servers": [
          {
            "url": "https://{provider_uri}",
            "description": "The HSPA's provider_uri, taken from context.provider_uri in its on_search.",
            "variables": {
              "provider_uri": {
                "default": "provider_uri"
              }
            }
          }
        ],
        "requestBody": {
          "description": "Initialization of the order once quote is agreed",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "context": {
                    "$ref": "#/components/schemas/Context"
                  },
                  "message": {
                    "type": "object",
                    "properties": {
                      "order": {
                        "type": "object",
                        "properties": {
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "$ref": "#/components/schemas/Provider/properties/id"
                              }
                            }
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "$ref": "#/components/schemas/Item/properties/id"
                                },
                                "quantity": {
                                  "$ref": "#/components/schemas/ItemQuantity/properties/selected"
                                },
                                "fulfillment_id": {
                                  "$ref": "#/components/schemas/Fulfillment/properties/id"
                                }
                              },
                              "required": [
                                "id"
                              ]
                            }
                          },
                          "billing": {
                            "$ref": "#/components/schemas/Billing"
                          },
                          "fulfillment": {
                            "$ref": "#/components/schemas/Fulfillment"
                          },
                          "quote": {
                            "$ref": "#/components/schemas/Quotation"
                          }
                        }
                      }
                    },
                    "required": [
                      "order"
                    ]
                  }
                },
                "required": [
                  "context",
                  "message"
                ]
              },
              "examples": {
                "ambulance-patient-provides-any-additional-billing-and-fulfillment-deta": {
                  "summary": "Patient provides any additional billing and fulfillment details and finalizes booking (Ambulance)",
                  "value": {
                    "context": {
                      "domain": "nic2008:86909",
                      "action": "init",
                      "city": "std:011",
                      "consumer_id": "nha.eua",
                      "consumer_uri": "https://uhieuasandbox.abdm.gov.in/api/v1/euaService",
                      "core_version": "0.7.1",
                      "country": "IND",
                      "message_id": "e9a19230-f951-11ec-b135-53aea776f66b",
                      "provider_id": "hspa-nha",
                      "provider_uri": "https://hspasbx.abdm.gov.in/api/v1/hspa/ambulance",
                      "timestamp": "2026-01-05T15:24:35",
                      "transaction_id": "e9a19230-f951-11ec-b135-53aea776f66b"
                    },
                    "message": {
                      "order": {
                        "billing": {
                          "address": {
                            "area_code": "500067",
                            "city": null,
                            "country": "INDIA",
                            "door": "",
                            "locality": "13-6-454/36/1, Hiranagar, Gudimalkapur, Asifnagar, Hyderabad, Andhra Pradesh",
                            "name": "<NAME>",
                            "state": "Telangana"
                          },
                          "email": "",
                          "name": "<NAME>",
                          "phone": "<MOBILE_NUMBER>"
                        },
                        "customer": {
                          "id": "<ABHA_ADDRESS>",
                          "person": {
                            "dayOfBirth": "<DOB>",
                            "dob": "<DOB>",
                            "gender": "M",
                            "monthOfBirth": "<DOB>",
                            "yearOfBirth": "<DOB>"
                          }
                        },
                        "fulfillment": {
                          "end": {
                            "time": {
                              "timestamp": "2026-01-05T12:35:00"
                            }
                          },
                          "id": "ML-ALS-01",
                          "start": {
                            "time": {
                              "timestamp": "2026-01-05T12:30:00"
                            }
                          },
                          "tags": {
                            "additional_services": "oxygen cylinder, etc",
                            "deeplink_url": "https://deeplinkurl.com"
                          },
                          "tracking": true,
                          "type": "EMERGENCY"
                        },
                        "item": {
                          "category_id": "1",
                          "descriptor": {
                            "flag": true,
                            "long_desc": "disclaimer",
                            "name": "Charges",
                            "short_desc": "applicability"
                          },
                          "fulfillment_id": "ML-ALS-01",
                          "id": "1",
                          "price": {
                            "currency": "INR",
                            "estimated_Value": "500",
                            "maximum_Value": "1500",
                            "minimum_Value": "200",
                            "value": "500"
                          }
                        },
                        "locations": [
                          {
                            "address": "<ADDRESS>",
                            "descriptor": {
                              "code": "SOURCE",
                              "name": "SOURCE"
                            },
                            "gps": "12.423423,77.325647"
                          },
                          {
                            "address": "<ADDRESS>",
                            "descriptor": {
                              "code": "DESTINATION",
                              "name": "DESTINATION"
                            },
                            "gps": "12.423423,77.325647"
                          }
                        ],
                        "provider": {
                          "descriptor": {
                            "long_desc": "India's first, GPS based technology platform for fast and reliable first point medical attention. With an increasing emphasis on promoting independent living today, having access to the nearest ambulance to you can provide much needed peace of mind in a worst case scenario.",
                            "name": "NHA HSPA",
                            "short_desc": "HSPA DESC"
                          },
                          "id": "1"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of message received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "ack": {
                          "$ref": "#/components/schemas/Ack"
                        }
                      },
                      "required": [
                        "ack"
                      ]
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "UHI Auth header",
            "required": true
          }
        ],
        "x-abdm-title": "Send the patient's details for a quote",
        "x-abdm-hosted-by": "hspa",
        "x-abdm-answered-by": "uhi_ambulance_on_init"
      }
    },
    "/on_init": {
      "post": {
        "tags": [
          "EUA - Consumer Platform"
        ],
        "summary": "/on_init (HSPA → EUA)",
        "operationId": "uhi_ambulance_on_init",
        "description": "Send order object with payment details updated\n\nThe header Authorization is passed by HSPA to EUA\n\nSign this request first: [Signing](/docs/uhi/v1/concepts/signing).\n\nRetry behaviour: not yet published.",
        "servers": [
          {
            "url": "https://{consumer_uri}",
            "description": "The EUA's consumer_uri, taken from context.consumer_uri in the request.",
            "variables": {
              "consumer_uri": {
                "default": "consumer_uri"
              }
            }
          }
        ],
        "requestBody": {
          "description": "TODO",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "context": {
                    "$ref": "#/components/schemas/Context"
                  },
                  "message": {
                    "type": "object",
                    "properties": {
                      "order": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "$ref": "#/components/schemas/Order/properties/id"
                          },
                          "provider": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "$ref": "#/components/schemas/Provider/properties/id"
                              }
                            }
                          },
                          "state": {
                            "$ref": "#/components/schemas/State"
                          },
                          "items": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "$ref": "#/components/schemas/Item/properties/id"
                                },
                                "quantity": {
                                  "$ref": "#/components/schemas/ItemQuantity/properties/selected"
                                }
                              }
                            }
                          },
                          "billing": {
                            "$ref": "#/components/schemas/Billing"
                          },
                          "fulfillment": {
                            "$ref": "#/components/schemas/Fulfillment"
                          },
                          "quote": {
                            "$ref": "#/components/schemas/Quotation"
                          },
                          "payment": {
                            "$ref": "#/components/schemas/Payment"
                          }
                        }
                      }
                    },
                    "required": [
                      "order"
                    ]
                  },
                  "error": {
                    "$ref": "#/components/schemas/Error"
                  }
                },
                "required": [
                  "context"
                ]
              },
              "examples": {
                "ambulance-hspa-platform-generates-a-booking-and-sends-terms-that-requi": {
                  "summary": "HSPA Platform generates a booking and sends terms that require settlement to a bank account (Ambulance)",
                  "value": {
                    "context": {
                      "domain": "nic2008:86909",
                      "action": "on_init",
                      "city": "std:011",
                      "consumer_id": "nha.eua",
                      "consumer_uri": "https://uhieuasandbox.abdm.gov.in/api/v1/euaService",
                      "core_version": "0.7.1",
                      "country": "IND",
                      "message_id": "e9a19230-f951-11ec-b135-53aea776f66b",
                      "provider_id": "nha.hspa",
                      "provider_uri": "https://hspasbx.abdm.gov.in/api/v1/hspa/ambulance",
                      "timestamp": "2026-04-16T17:54:01",
                      "transaction_id": "e9a19230-f951-11ec-b135-53aea776f66b"
                    },
                    "message": {
                      "order": {
                        "billing": {
                          "address": {
                            "area_code": "500067",
                            "country": "INDIA",
                            "door": "",
                            "locality": "13-6-454/36/1, Hiranagar, Gudimalkapur, Asifnagar, Hyderabad, Andhra Pradesh",
                            "name": "<NAME>",
                            "state": "Telangana"
                          },
                          "email": "",
                          "name": "<NAME>",
                          "phone": "<MOBILE_NUMBER>"
                        },
                        "customer": {
                          "id": "<ABHA_ADDRESS>",
                          "person": {
                            "dayOfBirth": "<DOB>",
                            "dob": "<DOB>",
                            "gender": "M",
                            "monthOfBirth": "<DOB>",
                            "yearOfBirth": "<DOB>"
                          }
                        },
                        "fulfillment": {
                          "end": {
                            "time": {
                              "timestamp": "2026-01-05T12:35:00"
                            }
                          },
                          "id": "ML-ALS-01",
                          "start": {
                            "time": {
                              "timestamp": "2026-01-05T12:30:00"
                            }
                          },
                          "tags": {
                            "additional_services": "oxygen cylinder, etc",
                            "deeplink_url": "https://deeplinkurl.com",
                            "terms_reference": "https://termsreference.com"
                          },
                          "tracking": true,
                          "type": "EMERGENCY"
                        },
                        "id": "7661-863173-3384",
                        "item": {
                          "category_id": "1",
                          "descriptor": {
                            "flag": true,
                            "long_desc": "disclaimer",
                            "name": "Charges",
                            "short_desc": "applicability"
                          },
                          "fulfillment_id": "ML-ALS-01",
                          "id": "1",
                          "price": {
                            "currency": "INR",
                            "estimated_Value": "500",
                            "maximum_Value": "1500",
                            "minimum_Value": "200",
                            "value": "500"
                          }
                        },
                        "locations": [
                          {
                            "address": "<ADDRESS>",
                            "descriptor": {
                              "code": "SOURCE",
                              "flag": false,
                              "name": "SOURCE"
                            },
                            "gps": "12.423423,77.325647"
                          },
                          {
                            "address": "<ADDRESS>",
                            "descriptor": {
                              "code": "DESTINATION",
                              "flag": false,
                              "name": "DESTINATION"
                            },
                            "gps": "12.423423,77.325647"
                          }
                        ],
                        "payment": {
                          "status": "NOT_PAID",
                          "type": "ON-ORDER"
                        },
                        "provider": {
                          "descriptor": {
                            "flag": false,
                            "long_desc": "India's first, GPS based technology platform for fast and reliable first point medical attention. With an increasing emphasis on promoting independent living today, having access to the nearest ambulance to you can provide much needed peace of mind in a worst case scenario.",
                            "name": "HSPA",
                            "short_desc": "HSPA DESC"
                          },
                          "id": "1"
                        },
                        "quote": {
                          "breakup": [
                            {
                              "price": {
                                "currency": "INR",
                                "value": "50.0"
                              },
                              "title": "Ambulance Base Charge"
                            },
                            {
                              "price": {
                                "currency": "INR",
                                "value": "50.0"
                              },
                              "title": "Consumable Charges"
                            }
                          ],
                          "price": {
                            "currency": "INR",
                            "value": "100.0"
                          }
                        },
                        "terms": [
                          {
                            "descriptor": {
                              "flag": false,
                              "long_desc": "Long descripiton of commercial terms",
                              "name": "Commercial terms and conditions",
                              "short_desc": "Short description of commercial terms"
                            },
                            "reason": "",
                            "reasonRequired": false,
                            "termsState": "INITIATED",
                            "timePeriod": "2024-11-12T09:00:00",
                            "type": "Commercial"
                          },
                          {
                            "descriptor": {
                              "flag": false,
                              "long_desc": "Long descripiton of settlement terms",
                              "name": "Settlement terms and conditions",
                              "short_desc": "Short description of settlement terms"
                            },
                            "reason": "",
                            "reasonRequired": false,
                            "termsState": "INITIATED",
                            "timePeriod": "2024-11-12T09:00:00",
                            "type": "Settlement"
                          },
                          {
                            "descriptor": {
                              "flag": false,
                              "long_desc": "Long descripiton of cancellation terms",
                              "name": "Cancellation terms and conditions",
                              "short_desc": "Short description of cancellation terms"
                            },
                            "reason": "",
                            "reasonRequired": false,
                            "termsState": "INITIATED",
                            "timePeriod": "2024-11-12T09:00:00",
                            "type": "Cancellation"
                          },
                          {
                            "descriptor": {
                              "flag": false,
                              "long_desc": "Long descripiton of refund terms",
                              "name": "Refund terms and conditions",
                              "short_desc": "Short description of refund terms"
                            },
                            "reason": "",
                            "reasonRequired": false,
                            "termsState": "INITIATED",
                            "timePeriod": "2024-11-12T09:00:00",
                            "type": "Refund"
                          },
                          {
                            "descriptor": {
                              "flag": false,
                              "long_desc": "Long descripiton of payment terms",
                              "name": "Payment terms and conditions",
                              "short_desc": "Short description of payment terms"
                            },
                            "reason": "",
                            "reasonRequired": false,
                            "termsState": "INITIATED",
                            "timePeriod": "2024-11-12T09:00:00",
                            "type": "Payment"
                          }
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Acknowledgement of message received",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "object",
                      "properties": {
                        "ack": {
                          "$ref": "#/components/schemas/Ack"
                        }
                      },
                      "required": [
                        "ack"
                      ]
                    },
                    "error": {
                      "$ref": "#/components/schemas/Error"
                    }
                  },
                  "required": [
                    "message"
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "Authorization",
            "description": "UHI Auth header",
            "required": true
          }
        ],
        "x-abdm-title": "Send the quote and terms",
        "x-abdm-hosted-by": "eua",
        "x-abdm-triggered-by": "uhi_ambulance_init"
      }
    }
  },
  "components": {
    "schemas": {
      "Ack": {
        "title": "Ack",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "ACK: the request was received. The answer arrives later on a callback.",
            "example": "ACK"
          }
        }
      },
      "Address": {
        "description": "Describes an address",
        "type": "object",
        "properties": {
          "door": {
            "type": "string",
            "description": "Door / Shop number of the address"
          },
          "name": {
            "type": "string",
            "description": "Name of address if applicable. Example, shop name"
          },
          "building": {
            "type": "string",
            "description": "Name of the building or block"
          },
          "street": {
            "type": "string",
            "description": "Street name or number"
          },
          "locality": {
            "type": "string",
            "description": "Name of the locality, apartments"
          },
          "ward": {
            "type": "string",
            "description": "Name or number of the ward if applicable"
          },
          "city": {
            "type": "string",
            "description": "City name"
          },
          "state": {
            "type": "string",
            "description": "State name"
          },
          "country": {
            "type": "string",
            "description": "Country name"
          },
          "area_code": {
            "type": "string",
            "description": "Area code. This can be Pincode, ZIP code or any equivalent"
          }
        }
      },
      "Agent": {
        "description": "Describes an order executor",
        "allOf": [
          {
            "$ref": "#/components/schemas/Person"
          },
          {
            "$ref": "#/components/schemas/Contact"
          },
          {
            "type": "object"
          }
        ]
      },
      "Billing": {
        "description": "Describes a billing event",
        "type": "object",
        "properties": {
          "name": {
            "description": "Personal details of the customer needed for billing.",
            "type": "string"
          },
          "organization": {
            "$ref": "#/components/schemas/Organization"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "phone": {
            "type": "string"
          },
          "time": {
            "$ref": "#/components/schemas/Time"
          },
          "tax_number": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "name",
          "phone"
        ]
      },
      "Category": {
        "description": "Describes a category",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique id of the category"
          },
          "parent_category_id": {
            "$ref": "#/components/schemas/Category/properties/id"
          },
          "descriptor": {
            "$ref": "#/components/schemas/Descriptor"
          },
          "time": {
            "$ref": "#/components/schemas/Time"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          }
        }
      },
      "City": {
        "description": "Describes a city",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the city"
          },
          "code": {
            "type": "string",
            "description": "City code"
          }
        }
      },
      "Contact": {
        "type": "object",
        "properties": {
          "phone": {
            "type": "string"
          },
          "email": {
            "type": "string"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          }
        }
      },
      "Context": {
        "description": "Describes a DHP message context",
        "type": "object",
        "properties": {
          "domain": {
            "$ref": "#/components/schemas/Domain"
          },
          "country": {
            "$ref": "#/components/schemas/Country/properties/code"
          },
          "city": {
            "$ref": "#/components/schemas/City/properties/code"
          },
          "action": {
            "type": "string",
            "description": "Defines the DHP API call. Any actions other than the enumerated actions are not supported by DHP Protocol",
            "enum": [
              "search",
              "select",
              "init",
              "confirm",
              "status",
              "on_search",
              "on_select",
              "on_init",
              "on_confirm",
              "on_confirm_audit",
              "on_status",
              "on_status_audit",
              "on_cancel_audit"
            ]
          },
          "core_version": {
            "type": "string",
            "description": "Version of DHP core API specification being used"
          },
          "consumer_id": {
            "type": "string",
            "format": "uri",
            "description": "Unique id of the Consumer. By default it is the fully qualified domain name of the Consumer"
          },
          "consumer_uri": {
            "type": "string",
            "format": "uri",
            "description": "URI of the Consumer for accepting callbacks. Must have the same domain name as the consumer_id"
          },
          "provider_id": {
            "type": "string",
            "format": "uri",
            "description": "Unique id of the Provider. By default it is the fully qualified domain name of the Provider"
          },
          "provider_uri": {
            "type": "string",
            "format": "uri",
            "description": "URI of the Provider. Must have the same domain name as the provider_id"
          },
          "transaction_id": {
            "type": "string",
            "description": "This is a unique value which persists across all API calls from search through confirm"
          },
          "message_id": {
            "type": "string",
            "description": "This is a unique value which persists during a request / callback cycle"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time",
            "description": "Time of request generation in RFC3339 format"
          },
          "key": {
            "type": "string",
            "description": "The encryption public key of the sender"
          },
          "ttl": {
            "type": "string",
            "description": "The duration in ISO8601 format after timestamp for which this message holds valid"
          }
        },
        "required": [
          "domain",
          "action",
          "country",
          "city",
          "core_version",
          "transaction_id",
          "message_id",
          "consumer_id",
          "consumer_uri",
          "timestamp"
        ]
      },
      "Country": {
        "description": "Describes a country.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the country"
          },
          "code": {
            "type": "string",
            "description": "Country code as per ISO 3166-1 and ISO 3166-2 format"
          }
        }
      },
      "Customer": {
        "type": "object",
        "x-examples": {
          "Example 1": {
            "customer": {
              "person": {
                "gender": "M",
                "dob": "<DOB>",
                "dayOfBirth": "<DOB>",
                "monthOfBirth": "<DOB>",
                "yearOfBirth": "<DOB>"
              },
              "id": "<ABHA_ADDRESS>"
            }
          }
        },
        "properties": {
          "customer": {
            "type": "object",
            "properties": {
              "person": {
                "type": "object",
                "properties": {
                  "gender": {
                    "type": "string"
                  },
                  "dob": {
                    "type": "string"
                  },
                  "dayOfBirth": {
                    "type": "integer"
                  },
                  "monthOfBirth": {
                    "type": "integer"
                  },
                  "yearOfBirth": {
                    "type": "integer"
                  }
                }
              },
              "id": {
                "type": "string"
              },
              "cred": {
                "type": "string"
              },
              "Contact": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          }
        }
      },
      "DecimalValue": {
        "description": "Describes a decimal value",
        "type": "string",
        "pattern": "[+-]?([0-9]*[.])?[0-9]+"
      },
      "Descriptor": {
        "description": "Describes the description of a real-world object.",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "code": {
            "type": "string"
          },
          "symbol": {
            "type": "string"
          },
          "short_desc": {
            "type": "string"
          },
          "long_desc": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Image"
            }
          },
          "audio": {
            "type": "string",
            "format": "uri"
          },
          "3d_render": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "Domain": {
        "description": "Describes the domain of an object",
        "type": "string"
      },
      "Duration": {
        "description": "Describes duration as per ISO8601 format",
        "type": "string"
      },
      "Error": {
        "description": "Describes an error object",
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "code": {
            "type": "string",
            "description": "DHP specific error code. For full list of error codes, refer to error_codes.md in the root folder of this repo"
          },
          "path": {
            "type": "string",
            "description": "Path to json schema generating the error. Used only during json schema validation errors"
          },
          "message": {
            "type": "string",
            "description": "Human readable message describing the error"
          }
        },
        "required": [
          "type",
          "code"
        ]
      },
      "Fulfillment": {
        "description": "Describes how a single product/service will be rendered/fulfilled to the end customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique reference ID to the fulfillment of an order"
          },
          "type": {
            "type": "string",
            "description": "This describes the type of fulfillment"
          },
          "provider_id": {
            "$ref": "#/components/schemas/Provider/properties/id"
          },
          "state": {
            "$ref": "#/components/schemas/State"
          },
          "tracking": {
            "type": "boolean",
            "description": "Indicates whether the fulfillment allows tracking",
            "default": false
          },
          "customer": {
            "type": "object",
            "properties": {
              "person": {
                "$ref": "#/components/schemas/Person"
              },
              "contact": {
                "$ref": "#/components/schemas/Contact"
              }
            }
          },
          "agent": {
            "$ref": "#/components/schemas/Agent"
          },
          "person": {
            "$ref": "#/components/schemas/Person"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "start": {
            "description": "Details on the start of fulfillment",
            "type": "object",
            "properties": {
              "time": {
                "$ref": "#/components/schemas/Time"
              },
              "instructions": {
                "$ref": "#/components/schemas/Descriptor"
              },
              "contact": {
                "$ref": "#/components/schemas/Contact"
              },
              "person": {
                "$ref": "#/components/schemas/Person"
              }
            }
          },
          "end": {
            "description": "Details on the end of fulfillment",
            "type": "object",
            "properties": {
              "time": {
                "$ref": "#/components/schemas/Time"
              },
              "instructions": {
                "$ref": "#/components/schemas/Descriptor"
              },
              "contact": {
                "$ref": "#/components/schemas/Contact"
              },
              "person": {
                "$ref": "#/components/schemas/Person"
              }
            }
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          }
        }
      },
      "Image": {
        "description": "Image of an object. <br/><br/> A url based image will look like <br/><br/>```uri:http://path/to/image``` <br/><br/>",
        "type": "string"
      },
      "Item": {
        "description": "Describes an item. Allows for domain extension.",
        "type": "object",
        "properties": {
          "id": {
            "description": "This is the most unique identifier of a service item. An example of an Item ID could be the SKU of a product.",
            "type": "string",
            "format": "#/components/schemas/Item/properties/id"
          },
          "parent_item_id": {
            "$ref": "#/components/schemas/Item/properties/id"
          },
          "descriptor": {
            "$ref": "#/components/schemas/Descriptor"
          },
          "price": {
            "$ref": "#/components/schemas/Price"
          },
          "category_id": {
            "$ref": "#/components/schemas/Category/properties/id"
          },
          "fulfillment_id": {
            "$ref": "#/components/schemas/Fulfillment/properties/id"
          },
          "time": {
            "$ref": "#/components/schemas/Time"
          },
          "matched": {
            "type": "boolean"
          },
          "related": {
            "type": "boolean"
          },
          "recommended": {
            "type": "boolean"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          }
        }
      },
      "ItemQuantity": {
        "description": "Describes count or amount of an item",
        "type": "object",
        "properties": {
          "allocated": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "minimum": 0
              },
              "measure": {
                "$ref": "#/components/schemas/Scalar"
              }
            }
          },
          "available": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "minimum": 0
              },
              "measure": {
                "$ref": "#/components/schemas/Scalar"
              }
            }
          },
          "maximum": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "minimum": 1
              },
              "measure": {
                "$ref": "#/components/schemas/Scalar"
              }
            }
          },
          "minimum": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "minimum": 0
              },
              "measure": {
                "$ref": "#/components/schemas/Scalar"
              }
            }
          },
          "selected": {
            "type": "object",
            "properties": {
              "count": {
                "type": "integer",
                "minimum": 0
              },
              "measure": {
                "$ref": "#/components/schemas/Scalar"
              }
            }
          }
        }
      },
      "Location": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "descriptor": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              }
            }
          },
          "city": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "country": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string"
              },
              "code": {
                "type": "string"
              }
            }
          },
          "gps": {
            "type": "string"
          },
          "address": {
            "type": "string"
          },
          "radius": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string"
              },
              "value": {
                "type": "string"
              },
              "unit": {
                "type": "string"
              }
            }
          }
        }
      },
      "Name": {
        "type": "string",
        "description": "Describes the name of a person in format: ./{given_name}/{honorific_prefix}/{first_name}/{middle_name}/{last_name}/{honorific_suffix}",
        "pattern": "^\\./[^/]+/[^/]*/[^/]*/[^/]*/[^/]*/[^/]*$"
      },
      "Order": {
        "description": "Describes the details of an order",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Hash of order object without id"
          },
          "state": {
            "type": "string"
          },
          "provider": {
            "type": "object",
            "properties": {
              "id": {
                "$ref": "#/components/schemas/Provider/properties/id"
              }
            }
          },
          "item": {
            "$ref": "#/components/schemas/Item"
          },
          "billing": {
            "$ref": "#/components/schemas/Billing"
          },
          "fulfillment": {
            "$ref": "#/components/schemas/Fulfillment"
          },
          "quote": {
            "$ref": "#/components/schemas/Quotation"
          },
          "payment": {
            "$ref": "#/components/schemas/Payment"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          }
        }
      },
      "Organization": {
        "description": "Describes an organization",
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "cred": {
            "type": "string"
          }
        }
      },
      "Payment": {
        "description": "Describes a payment",
        "type": "object",
        "properties": {
          "uri": {
            "type": "string",
            "description": "A payment target uri to be called by the DHP-Consumer. Supported formats are <br></br>a) https and, <br></br>b) payto - Refer to RFC8905",
            "format": "uri"
          },
          "tl_method": {
            "type": "string",
            "enum": [
              "https",
              "payto"
            ]
          },
          "params": {
            "type": "object",
            "properties": {
              "transaction_id": {
                "type": "string",
                "description": "This value will be placed in the the $transaction_id url param in case of http/get and in the requestBody http/post requests"
              },
              "transaction_status": {
                "type": "string"
              },
              "amount": {
                "$ref": "#/components/schemas/Price/properties/value"
              },
              "currency": {
                "$ref": "#/components/schemas/Price/properties/currency"
              }
            },
            "additionalProperties": {
              "type": "string"
            },
            "required": [
              "currency"
            ]
          },
          "type": {
            "type": "string",
            "description": "Stage at which the payment is expected",
            "enum": [
              "ON-ORDER",
              "PRE-FULFILLMENT",
              "ON-FULFILLMENT",
              "POST-FULFILLMENT"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "PAID",
              "NOT-PAID"
            ]
          },
          "time": {
            "$ref": "#/components/schemas/Time"
          }
        }
      },
      "Person": {
        "description": "Describes a person.",
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "$ref": "#/components/schemas/Name"
          },
          "image": {
            "$ref": "#/components/schemas/Image"
          },
          "dob": {
            "type": "string",
            "format": "date"
          },
          "gender": {
            "type": "string",
            "description": "Gender of something, typically a Person, but possibly also fictional characters, animals, etc. While Male and Female may be used, text strings are also acceptable for people who do not identify as a binary gender"
          },
          "cred": {
            "type": "string"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          }
        },
        "required": [
          "name"
        ]
      },
      "Price": {
        "description": "Describes the price of an item. Allows for domain extension.",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "value": {
            "$ref": "#/components/schemas/DecimalValue"
          },
          "estimated_value": {
            "$ref": "#/components/schemas/DecimalValue"
          },
          "computed_value": {
            "$ref": "#/components/schemas/DecimalValue"
          },
          "listed_value": {
            "$ref": "#/components/schemas/DecimalValue"
          },
          "offered_value": {
            "$ref": "#/components/schemas/DecimalValue"
          },
          "minimum_value": {
            "$ref": "#/components/schemas/DecimalValue"
          },
          "maximum_value": {
            "$ref": "#/components/schemas/DecimalValue"
          }
        }
      },
      "Provider": {
        "description": "Describes a service provider. This can be a restaurant, a hospital, a Store etc",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Id of the provider"
          },
          "descriptor": {
            "$ref": "#/components/schemas/Descriptor"
          },
          "category_id": {
            "type": "string",
            "description": "Category Id of the provider"
          },
          "time": {
            "$ref": "#/components/schemas/Time"
          },
          "categories": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Category"
            }
          },
          "fulfillments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Fulfillment"
            }
          },
          "payments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Item"
            }
          },
          "location": {
            "$ref": "#/components/schemas/Location"
          },
          "exp": {
            "type": "string",
            "description": "Time after which catalog has to be refreshed",
            "format": "date-time"
          },
          "tags": {
            "$ref": "#/components/schemas/Tags"
          }
        }
      },
      "Quotation": {
        "description": "Describes a quote",
        "type": "object",
        "properties": {
          "price": {
            "$ref": "#/components/schemas/Price"
          },
          "breakup": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "price": {
                  "$ref": "#/components/schemas/Price"
                }
              }
            }
          },
          "ttl": {
            "$ref": "#/components/schemas/Duration"
          }
        }
      },
      "Scalar": {
        "description": "An object representing a scalar quantity.",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "CONSTANT",
              "VARIABLE"
            ]
          },
          "value": {
            "type": "number"
          },
          "estimated_value": {
            "type": "number"
          },
          "computed_value": {
            "type": "number"
          },
          "range": {
            "type": "object",
            "properties": {
              "min": {
                "type": "number"
              },
              "max": {
                "type": "number"
              }
            }
          },
          "unit": {
            "type": "string"
          }
        },
        "required": [
          "value",
          "unit"
        ]
      },
      "Schedule": {
        "description": "Describes a schedule",
        "type": "object",
        "properties": {
          "frequency": {
            "$ref": "#/components/schemas/Duration"
          },
          "holidays": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time"
            }
          },
          "times": {
            "type": "array",
            "items": {
              "type": "string",
              "format": "date-time"
            }
          }
        }
      },
      "State": {
        "description": "Describes a state",
        "type": "object",
        "properties": {
          "descriptor": {
            "$ref": "#/components/schemas/Descriptor"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_by": {
            "type": "string",
            "description": "ID of entity which changed the state"
          }
        }
      },
      "Tags": {
        "description": "Describes a tag. This is a simple key-value store which is used to contain read-only metadata",
        "additionalProperties": {
          "type": "string"
        }
      },
      "Time": {
        "description": "Describes time in its various forms. It can be a single point in time; duration; or a structured timetable of operations<br> UHI currently follows ISO 8601 without timezone format (2022-07-15T00:00:00)",
        "type": "object",
        "properties": {
          "label": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "duration": {
            "$ref": "#/components/schemas/Duration"
          },
          "range": {
            "type": "object",
            "properties": {
              "start": {
                "type": "string",
                "format": "date-time"
              },
              "end": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "days": {
            "type": "string",
            "description": "comma separated values representing days of the week"
          },
          "schedule": {
            "$ref": "#/components/schemas/Schedule"
          }
        }
      }
    }
  }
}
