# NHCX pre-authorisation, from the NHCX package's Bruno folder apis/03-preauth.
#
# Written by the package's own documentation build; change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: preauth
    label: Pre-authorisation
    position: 5
  title: NHCX pre-authorisation
  summary: Pre-authorisation is the provider's formal request for the payer's approval to deliver a specific treatment to a covered beneficiary.
  description: |-
    The Pre-authorisation calls on the National Health Claims Exchange (NHCX): 2 operations, and 2 callbacks you host.

    Pre-authorisation is the provider's formal request for the payer's approval to deliver a specific treatment to a covered beneficiary.

    Guides that use these calls: [Building and sending a JWE](/docs/nhcx/v1/getting-started/building-and-sending-a-jwe), [Preauthorisation request](/docs/nhcx/v1/reference/fhir/preauthorisation-request), [Preauthorisation response](/docs/nhcx/v1/reference/fhir/preauthorisation-response), [Preauthorisation enhancement](/docs/nhcx/v1/reference/fhir/preauthorisation-enhancement), [Preauthorisation query and answer](/docs/nhcx/v1/reference/fhir/preauthorisation-query-and-answer), [Resubmission and cancellation of a pre-authorisation](/docs/nhcx/v1/roles/provider/preauthorisation#follow-ups-on-the-same-case), [Cancelling a pre-authorisation with a Task](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall#cancel), [Reprocess, cancel and shortfall calls](/docs/nhcx/v1/api/task/).
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: preauth
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/03-preauth
    role: upstream
    hash: sha256:270ab9c7c4783d9042ee4c4adbd8141d8fd69037d358a330808f23e3d945deca
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
  - file: nhcx-package/nhcx-error.yaml
    role: upstream
    hash: sha256:d24ac927ed4dd722e60d7bd1d6fed15de370cc29f750d68999ee56fac93c941b
    note: The error codes.
servers:
  - url: https://apisbx.abdm.gov.in/hcx
    description: Sandbox, NHCX exchange.
  - url: https://apisprod.nha.gov.in/hcx
    description: Production.
tags:
  - name: Pre-authorisation
    description: Pre-authorisation is the provider's formal request for the payer's approval to deliver a specific treatment to a covered beneficiary.
security:
  - bearerAuth: []
paths:
  /v1/preauth/submit:
    post:
      operationId: preauth_v1_preauth_submit
      x-abdm-atom: nhcx.endpoint.preauth-submit
      x-abdm-use-case: Pre-authorisation
      tags:
        - Pre-authorisation
      summary: "Provider: submit a pre-authorisation"
      description: |-
        Provider submits, resubmits, enhances or answers a query on a pre-authorisation Claim bundle (Claim.use preauthorization); NHCX routes it to the payer.

        ### Business purpose

        Pre-authorisation is the provider's formal request for the payer's approval to deliver a specific treatment to a covered beneficiary. An approved preAuthRef is the payer's binding commitment to reimburse the approved amount and is required before the final claim can proceed through NHCX. Settling the money question before the patient enters theatre protects the hospital from unpaid treatment, gives the payer control over admissibility, and gives the patient certainty about cashless cover.

        ### When to use

        Use it to ask the payer to approve a treatment before it starts. The same call also sends a resubmission, an enhancement or an answer to a payer query: the workflow code in the header says which.

        ### Preconditions

        - You have a valid access token and the payer's certificate.
        - Coverage is confirmed and the documents the payer asks for are ready.
        - The bundle is a FHIR `Claim` with `use` set to `preauthorization`, encrypted for the payer.

        ### Postconditions

        - NHCX answers `202` at once. That only means the message was accepted, not approved.
        - The payer's decision arrives later on `/v1/preauth/on_submit`.

        ### Common mistakes

        - Sending to the insurer's code instead of the claims processor's.
        - Treating the `202` as an approval.
        - Reusing a correlation ID after a failed request.

        ### Best practices

        - Build one ClaimBundle and switch Claim.use between preauthorization and claim; keep careTeamSequence, diagnosisSequence, procedureSequence and informationSequence internally consistent.
        - Always send both x-hcx-workflow_id and x-hcx-use_case, and persist them with the correlation ID and the case number.
        - Attach every document the auth-requirements response listed (MAND codes) before submitting; the document list is per package, not static.
        - Raise enhancements while the patient is admitted, not retrospectively at discharge (PAYR-1018 time limit expired).
        - Persist preAuthRef from an approved or partially approved response; it is required at final claim.
        - Implement v1/error and /v1/status so a preauth that never reached the payer is visible at the desk.

        ### Related scenario

        After the eligibility callback confirms cover for corneal grafting (SE012A) and lists the required documents, the hospital builds a Claim bundle with use preauthorization, ICD-10 H18.6, a total of 13700 INR and the investigation and consent attachments, and posts it to /v1/preauth/submit under workflow 12 with use_case New. NHCX returns 202. The payer queries under 24 asking for detailed ICPs; the hospital answers on the same endpoint under 19 with the same correlation ID. Approval arrives under 21 with preAuthRef PREAUTH-HP-2026-78901. Two days later the surgeon needs a higher bed category, so the hospital posts an enhancement under 13 with use_case Enhancement, and after discharge it moves to /v1/claim/submit.

        ### Specification

        Chapter [Preauthorisation request](/docs/nhcx/v1/reference/fhir/preauthorisation-request) of the NHCX integration specification.

        ### Also sent as pre-authorisation enhancement

        The same address, with other headers and body.

        Provider asks for more against an approved pre-authorisation, a longer stay or an added package, on the same endpoint and case number as the first request, under workflow 13 with x-hcx-use_case Enhancement.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - x-hcx-sender_code
        - x-hcx-recipient_code
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - x-hcx-workflow_id
        - x-hcx-timestamp
        - x-hcx-status
        - x-hcx-ben-abha-id
        - x-hcx-use_case
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            examples:
              v1_preauth_submit:
                summary: Pre-authorisation submit
                value:
                  payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
              v1_preauth_enhancement:
                summary: Pre-authorisation enhancement
                value:
                  payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: NHCX returns HTTP 202 Accepted with a StatusSuccessResponse acknowledgement (entity_type preauth, protocol_status request.queued or request.dispatched).
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                correlation_id: 11223344-5566-7788-99aa-bbccddeeff00
                result:
                  sender_code: <provider participant code>
                  recipient_code: <payer participant code>
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/preauth/on_submit:
    post:
      operationId: preauth_v1_preauth_on_submit
      x-abdm-atom: nhcx.endpoint.preauth-on-submit
      x-abdm-use-case: Pre-authorisation
      tags:
        - Pre-authorisation
      summary: "Payer: send the pre-authorisation response"
      description: |-
        Payer returns the ClaimResponseBundle for a pre-authorisation (approved, partially approved, queried or rejected) to the provider via NHCX.

        ### Business purpose

        This callback carries the payer's decision on a preauth. For the hospital it is the moment the money question is settled: an approval with a preAuthRef lets treatment proceed under a binding commitment, a partial approval tells the desk the amount was capped and why, a query says what evidence is missing, and a rejection closes the request. For the payer it is the channel through which adjudication results, package-rate caps and query text reach the provider in a structured, auditable form.

        ### When to use

        The payer calls it after deciding on a pre-authorisation, with the same correlation ID. It carries an approval, a partial approval, a query or a rejection: the workflow code in the header says which.

        ### Preconditions

        - A pre-authorisation with this correlation ID exists in NHCX.
        - The payer has a valid access token and the provider's certificate, and encrypts the decision for the provider.
        - The correlation ID matches the request, the call ID is new, and sender and recipient are swapped.
        - An approval carries the `preAuthRef`, and any cut in the amount is explained.

        ### Postconditions

        - NHCX answers `202` and forwards the decision to the provider, who must reply `202` within 30 seconds.
        - On approval the provider stores the `preAuthRef` and may treat. A query keeps the request open. A rejection closes it.

        ### Common mistakes

        - Provider side: deciding on `outcome` alone. The adjudication reason says whether it was approved or rejected.
        - Provider side: replying with `200` or a bare body, which triggers retries.
        - Payer side: creating a new correlation ID instead of reusing the request's.

        ### Best practices

        - Provider: acknowledge first, adjudicate later; queue the decrypt and state change and be idempotent on correlation ID.
        - Provider: branch on x-hcx-workflow_id, ClaimResponse.outcome and adjudication[0].reason.coding.code together, and surface processNote text to the desk.
        - Provider: persist preAuthRef and the payer identifier (identifier[0].value) against the case for the claim stage.
        - Payer: fill disposition, adjudication categories (submitted, eligible, copay, benefit) and processNote so a partial approval is explainable.
        - Payer: put protocol errors in x-hcx-error_details with catalogued codes and business errors inside the encrypted ClaimResponse.
        - Provider: expose the callback on a domain name on an India-based server and whitelist the NHCX NAT IPs.

        ### Related scenario

        The insurer's adjudication engine reviews a corneal grafting preauth submitted for 25000 INR and caps it at the package rate of 13700 INR. Its bridge builds a ClaimResponseBundle with outcome partial, preAuthRef PREAUTH-HP-2026-78902 and a processNote explaining the cap, sets x-hcx-workflow_id 21 and x-hcx-status response.complete with the request's correlation ID, encrypts it for the hospital and posts to /v1/preauth/on_submit. NHCX acknowledges with 202 and delivers it to the hospital, whose callback acknowledges inside 30 seconds and shows the desk the reduced amount and reason. Treatment proceeds, and after discharge the hospital submits the final claim on /v1/claim/submit referencing that preAuthRef.

        ### Specification

        Chapter [Preauthorisation response](/docs/nhcx/v1/reference/fhir/preauthorisation-response) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - name: x-hcx-sender_code
          required: true
          description: Your participant code. Mandatory on the envelope.
          example: <payer participant code>
        - name: x-hcx-recipient_code
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          example: <provider participant code>
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - name: x-hcx-workflow_id
          required: false
          description: "Which step, or which case. [The workflow code](/docs/nhcx/v1/reference/envelope-fields#the-workflow-code-means-two-different-things) explains both readings. Optional on the envelope."
          example: "21"
        - x-hcx-timestamp
        - name: x-hcx-status
          required: true
          description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
          example: response.complete
        - x-hcx-ben-abha-id
        - x-hcx-debug_flag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - JWEPayload
                  description: Always `JWEPayload`. Every response (`on_`) call sends it beside `payload`.
                payload:
                  type: string
              required:
                - type
                - payload
            example:
              type: JWEPayload
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: HTTP 202 Accepted with the StatusSuccessResponse acknowledgement (entity_type preauth) from NHCX, then asynchronous delivery to the provider's registered /v1/preauth/on_submit.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                correlation_id: 11223344-5566-7788-99aa-bbccddeeff00
                result:
                  sender_code: <payer participant code>
                  recipient_code: <provider participant code>
                  entity_type: preauth
                  protocol_status: request.dispatched
                error:
                  code: ""
                  message: ""
webhooks:
  /v1/preauth/submit:
    post:
      operationId: preauth_webhook_v1_preauth_submit
      x-abdm-atom: nhcx.callback.preauth-submit
      x-abdm-triggered-by: preauth_v1_preauth_submit
      x-abdm-use-case: Webhooks
      tags:
        - Pre-authorisation
      summary: Payer receives a pre-authorisation
      description: |-
        Hosted by the payer. The exchange posts this message to the `endpoint_url` you registered, at `/v1/preauth/submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Provider submits, resubmits, enhances or answers a query on a pre-authorisation Claim bundle (Claim.use preauthorization); NHCX routes it to the payer.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - x-hcx-sender_code
        - x-hcx-recipient_code
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - x-hcx-workflow_id
        - x-hcx-timestamp
        - x-hcx-status
        - x-hcx-ben-abha-id
        - x-hcx-use_case
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            examples:
              v1_preauth_submit:
                summary: Pre-authorisation submit
                value:
                  payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
              v1_preauth_enhancement:
                summary: Pre-authorisation enhancement
                value:
                  payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: <provider participant code>
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/preauth/on_submit:
    post:
      operationId: preauth_webhook_v1_preauth_on_submit
      x-abdm-atom: nhcx.callback.preauth-on-submit
      x-abdm-triggered-by: preauth_v1_preauth_on_submit
      x-abdm-use-case: Webhooks
      tags:
        - Pre-authorisation
      summary: Provider receives the pre-authorisation response
      description: |-
        Hosted by the provider. The exchange posts this message to the `endpoint_url` you registered, at `/v1/preauth/on_submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Payer returns the ClaimResponseBundle for a pre-authorisation (approved, partially approved, queried or rejected) to the provider via NHCX.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      x-nhcx-protected-header:
        - alg
        - enc
        - name: x-hcx-sender_code
          required: true
          description: Your participant code. Mandatory on the envelope.
          example: <payer participant code>
        - name: x-hcx-recipient_code
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          example: <provider participant code>
        - x-hcx-api_call_id
        - x-hcx-request_id
        - x-hcx-correlation_id
        - name: x-hcx-workflow_id
          required: false
          description: "Which step, or which case. [The workflow code](/docs/nhcx/v1/reference/envelope-fields#the-workflow-code-means-two-different-things) explains both readings. Optional on the envelope."
          example: "21"
        - x-hcx-timestamp
        - name: x-hcx-status
          required: true
          description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
          example: response.complete
        - x-hcx-ben-abha-id
        - x-hcx-debug_flag
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                  enum:
                    - JWEPayload
                  description: Always `JWEPayload`. Every response (`on_`) call sends it beside `payload`.
                payload:
                  type: string
              required:
                - type
                - payload
            example:
              type: JWEPayload
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOi4uLn0.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: <provider participant code>
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
components:
  securitySchemes:
    bearerAuth:
      type: apiKey
      in: header
      name: bearer_auth
      description: Every NHCX call carries the access token from the session call in a header named `bearer_auth`, as the word `Bearer`, a space and the token. NHCX reads `bearer_auth`, not `Authorization`.
  parameters:
    BearerAuth:
      name: bearer_auth
      in: header
      required: true
      description: It is `bearer_auth`, not `Authorization`, on NHCX's own endpoints.
      schema:
        type: string
      example: Bearer <access token>
  x-nhcx-protected-header:
    alg:
      required: true
      description: "Key management algorithm. Always `RSA-OAEP-256`: the content key is wrapped with the recipient's RSA public key."
      example: RSA-OAEP-256
    enc:
      required: true
      description: Content encryption algorithm. Always `A256GCM`.
      example: A256GCM
    x-hcx-sender_code:
      required: true
      description: Your participant code. Mandatory on the envelope.
      example: <provider participant code>
    x-hcx-recipient_code:
      required: true
      description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
      example: <payer participant code>
    x-hcx-api_call_id:
      required: true
      description: Fresh on every message, including responses. Mandatory on the envelope.
      example: <uuid>
    x-hcx-request_id:
      required: false
      description: "One per originating request. The Open Protocol page marks it Mandatory; the Technical Specifications page marks it Optional. Optional on the envelope. Send it anyway, as a fresh UUID per originating request: it is cheap and satisfies both readings until NHA rules."
      example: <uuid>
    x-hcx-correlation_id:
      required: true
      description: "The thread that ties a request to its answers. [The correlation ID rule](/docs/nhcx/v1/reference/envelope-fields#the-correlation-id-rule-in-full) says when to reuse it. Mandatory on the envelope."
      example: <uuid>
    x-hcx-workflow_id:
      required: false
      description: "Which step, or which case. [The workflow code](/docs/nhcx/v1/reference/envelope-fields#the-workflow-code-means-two-different-things) explains both readings. Optional on the envelope."
      example: "12"
    x-hcx-timestamp:
      required: true
      description: "The time the message was made. [Timestamp](/docs/nhcx/v1/reference/envelope-fields#timestamp) gives the format. Mandatory on the envelope."
      example: <iso timestamp>
    x-hcx-status:
      required: true
      description: "Where this message stands. [Status words](/docs/nhcx/v1/reference/envelope-fields#status-words) lists the values. Mandatory on the envelope."
      example: request.initiated
    x-hcx-ben-abha-id:
      required: false
      description: "The beneficiary's ABHA number. Optional: send it when the beneficiary has an ABHA number. Optional on the envelope."
      example: <14-digit ABHA number>
    x-hcx-use_case:
      required: false
      description: "Values differ by exchange. [Domain headers](/docs/nhcx/v1/reference/envelope-fields#domain-headers) lists them. Optional on the envelope."
      example: New
    x-hcx-debug_flag:
      required: false
      description: "`Error`, `Info` or `Debug`. A server may ignore it. Optional on the envelope."
      example: INFO
x-abdm-errors:
  notes: "Codes any exchange call can meet are recorded once, in the [Other](/docs/nhcx/v1/api/other) specification: the gateway's NHCX- codes, the standard payer codes, and the reference payer's structure and transport codes. The reference payer's other codes sit with the exchange they reject: coverage eligibility, preauthorisation, claim and insurance plan. [Reading error codes](/docs/nhcx/v1/reference/error-code-guide) explains the code spaces."
x-abdm-errors-reference-payer:
  source: Reference payer codes, PAYR-1001 to PAYR-1520. Sent by the PMJAY reference implementation; they arrive inside the sealed response.
  codes:
    - code: PAYR-1201
      message: Invalid claimed amount received for case number %s. Please try again with a valid claim amount. Claimed amount should be greater than INR 0 and less than equals to balance wallet amount of the beneficiary.
      action: ""
    - code: PAYR-1202
      message: Invalid speciality code received as %s for item %s for case number %s. Please try again with valid data. Speciality code is available as the code of the category for specific cost of plan in isurance plan.
      action: ""
    - code: PAYR-1203
      message: Invalid speciality description received as %s for procedure %s for case number %s. Please try again with valid data. Speciality description is available as the display of the category for specific cost of plan in isurance plan.
      action: ""
    - code: PAYR-1204
      message: Invalid procedure code received as %s for case number %s. Please try again with valid data. Procedure code is available as the code of the type for benefit component, of specific cost, of plan in isurance plan.
      action: ""
    - code: PAYR-1205
      message: Invalid procedure description received as %s for procedure %s for case number %s. Please try again with valid data. Procedure description is available as the display of the type for benefit component, of specific cost, of plan in isurance plan.
      action: ""
    - code: PAYR-1206
      message: Invalid procedure type received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1207
      message: Invalid procedure factor received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1208
      message: Invalid procedure quantity received as %s for item %s for case number %s. Please try again with valid data. Item quantity should be greater than 1.
      action: ""
    - code: PAYR-1209
      message: Invalid net amount received as INR %s for item %s for case number %s. Please try again with valid data. Item net amount should be greater than INR 0.
      action: ""
    - code: PAYR-1210
      message: Invalid procedure status received as %s for procedure %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1211
      message: Requested beneficary details and careplan details does not match any criteria for processing the case at this hospital. Please try again with valid data.
      action: ""
    - code: PAYR-1212
      message: No previous preauthorization approved record found for the enhancement request for case number %s. Hence request will not be processed further. Please initiate a new preauthorization.
      action: ""
    - code: PAYR-1213
      message: Existing case in progress found for case number %s. Hence enhancement request will not be accepted. Please try after the adjudication is completed for the current case.
      action: ""
    - code: PAYR-1214
      message: No previous preauthorization approved record found for the resubmission request for case number %s. Hence request will not be processed further. Please initiate a new preauthorization.
      action: ""
    - code: PAYR-1215
      message: Existing case in progress found for case number %s. Hence resubmission request will not be accepted. Please try after the adjudication is completed for the current case.
      action: ""
    - code: PAYR-1216
      message: Existing case in progress found for case number %s. Hence new preauthorization request will not be accepted.
      action: ""
    - code: PAYR-1217
      message: Previous preauthorization approved record found for the new preauthorization request for case number %s. Hence request will not be processed further. Please initiate enhancement/resubmission.
      action: ""
    - code: PAYR-1218
      message: No queried preauthorization record found for the query update request for case number %s. Hence request will not be processed further.
      action: ""
    - code: PAYR-1219
      message: Case number %s is not queried. Hence query updation request will not be processed further.
      action: ""
    - code: PAYR-1220
      message: Invalid investigation description received as %s for investigation code %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1221
      message: Invalid investigation code received as %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1222
      message: Invalid investigation status received as %s for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1223
      message: Invalid investigation attachment received for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1224
      message: Invalid implant description received as %s for implant code %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1225
      message: Invalid implant code received as %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1226
      message: Invalid implant status received as %s for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1227
      message: Invalid implant attachment received for investigation %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1228
      message: Invalid implant quantity received as %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1229
      message: Invalid implant net amount received as INR %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1230
      message: Invalid implant unit price received as INR %s for implant %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1231
      message: Claim has already been raised for case number %s. Hence preauthorization request will not be accepted.
      action: ""
    - code: PAYR-1232
      message: No investigation found for case number %s. Investigation details are mandatory for private hospitals.
      action: ""
    - code: PAYR-1233
      message: Patient liability is not aplicable for the hospital and beneficiary do not have enough wallet balance with deficit amount INR %s for the requested preauthorization for case number %s.
      action: ""
    - code: PAYR-1234
      message: No preauthorization record found for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1235
      message: Insufficient wallet balance. Hence the request will not be processed.
      action: ""
    - code: PAYR-1236
      message: Invalid claim type (in-patient/out-patient) received. Hence the request will not be processed.
      action: ""
    - code: PAYR-1237
      message: Beneficiary is having an active preauthorization request at %s. Hence the request will not be processed. Kindly inform %s to cancel the active preauthorization request or raise a claim to proceed with current preauthorization.
      action: ""
    - code: PAYR-1238
      message: Beneficiary is having an active preauthorization request at this hospital with reference number %s. Hence the request will not be processed. Kindly cancel the active preauthorization request or raise a claim to proceed with current preauthorization.
      action: ""
    - code: PAYR-1239
      message: Hospital configuration not found. Please contact support team.
      action: ""
    - code: PAYR-1240
      message: No details found for the requested procedures in the system.
      action: ""
    - code: PAYR-1241
      message: Invalid registration date received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1242
      message: Invalid registration date format received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1243
      message: Invalid admission date received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1244
      message: Invalid admission date format received for case number %s. Hence the request will not be processed.
      action: ""
    - code: PAYR-1245
      message: Rule failure.
      action: The SHA HP sandbox sent this code as "Only one conservative procedure can be booked for a case", on an enhancement that added a second Conservative package.
    - code: PAYR-1246
      message: Invalid payer id received as %s. Please try again with valid payer id.
      action: ""
    - code: PAYR-1247
      message: Payer details for payer id %s is not received from HCX for the request. Hence the request will not be processed.
      action: ""
    - code: PAYR-1248
      message: Invalid item code received as %s for item sequence %s case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1249
      message: Invalid item sequence received as %s for case number %s. Please try again with valid data.
      action: ""
    - code: PAYR-1250
      message: Requested policy %s is not listed. Please try again with valid policy code.
      action: ""
    - code: PAYR-1251
      message: No billable treatment plan received for case number %s. Please try again with valid treatment plan data.
      action: ""
    - code: PAYR-1252
      message: Case number %s is not in active preauthorization state with the current status of the case with the payer system is %s. Hence the preauthorization can not be cancelled. Only the cases with current status as preauthorization submitted or preauthorization approved can be cancelled.
      action: ""
    - code: PAYR-1253
      message: Case number %s is already cancelled. Hence the preauthorization can not be cancelled again. Only the cases with current status as preauthorization submitted or preauthorization approved can be cancelled.
      action: ""
    - code: PAYR-1254
      message: Response for STG Questionnaire id %s is mandatory for procedure code %s. Hence the preauthorization request will not be processed as the questionnaire response is not received for procedure code.
      action: ""
    - code: PAYR-1255
      message: Case number %s is already cancelled. Hence no preauthorization request will be accepted for this case number. New preauthorization request needs to be raised with new case/reference number to proceed further.
      action: ""
    - code: PAYR-1256
      message: Response for Authentication Consent Questionnaire is missing for case number %s. This must be sent if the biometric authentication for patient is not available. For new preauthorization request, either biometric authentication for patient or response for Authentication Consent questionnaire must be sent. Please check/update the insurance plan for the policy for the details of the questionnaire. Please adhere to the response of the coverage eligibility for auth-requirements purpose to check the mandatory documents to be attached with the request
      action: ""
    - code: PAYR-1257
      message: Payment is initiated for case number %s. Hence the preauthorization can not be cancelled again. Only the cases with current status as preauthorization submitted or preauthorization approved can be cancelled
      action: ""
    - code: PAYR-1258
      message: Payment is accomplished/cleared for case number %s. Hence the preauthorization can not be cancelled again. Only the cases with current status as preauthorization submitted or preauthorization approved can be cancelled
      action: ""
    - code: PAYR-1259
      message: DOB is missing for new born for the case number (%s) with correlation id as (%s) at (%s)
      action: ""
    - code: PAYR-1260
      message: DOB cannot be a future date for the case number (%s) with correlation id as (%s) at (%s)
      action: ""
    - code: PAYR-1261
      message: Invalid new born details for the case number (%s) with correlation id as (%s) at (%s)
      action: ""
    - code: PAYR-1262
      message: Gender is mandatory for the new born beneficiary
      action: ""
    - code: PAYR-1263
      message: Documents are mandatory for the new born beneficiary
      action: ""
    - code: PAYR-1264
      message: Documents are mandatory for the new born beneficiary
      action: ""
    - code: PAYR-1265
      message: Documents are mandatory for the new born beneficiary
      action: ""
    - code: PAYR-1266
      message: Documents are mandatory for the new born beneficiary
      action: ""
    - code: PAYR-1267
      message: Beneficiary is having an active preauthorization request for new born case at this hospital with reference number %s. Hence the request will not be processed. Kindly cancel the active preauthorization request or raise a claim to proceed with current preauthorization
      action: ""
    - code: PAYR-1268
      message: Beneficiary is having an active preauthorization request for new born case at %s. Hence the request will not be processed. Kindly inform %s to cancel the active preauthorization request or raise a claim to proceed with current preauthorization
      action: ""
    - code: PAYR-1269
      message: Date of birth received for new born beneficiary exceeds 6 years before the current date. New born cases can be raised only for the beneficiary whose date of birth is within 6 years of current date
      action: ""
    - code: PAYR-1270
      message: Item LM100 is not applicable for preauthorization request. This item is expected/mandated only during claim submission if the patient is discharged after/during surgery under LAMA/DAMA category for PMJAY cases.
      action: ""
    - code: PAYR-1271
      message: No value received for link id %s for Authentication Consent Questionnaire for preauthorization request. This must be sent if the biometric authentication for patient is not available. For new preauthorization request, either biometric authentication for patient or response for Authentication Consent questionnaire must be sent. Please check/update the insurance plan for the policy for the details of the questionnaire. Please adhere to the response of the coverage eligibility for auth-requirements purpose to check the mandatory documents to be attached with the request.
      action: ""
    - code: PAYR-1272
      message: Invalid biometric user token received. Please try again with valid valid biometric details of the beneficiary. For any issues with biometric, please try with Authentication Consent Questionnaire, details for which has been received in response for coverage eligibliity auth-requirements.
      action: ""
    - code: PAYR-1273
      message: No questionnaire found for the received selection. Please validate the questionnaire url from insurance plan/coverage auth-requirements response.
      action: ""
