openapi: 3.1.1
info:
  x-portal:
    module: network
    label: Network and discovery
    position: 1
    icon: globe
  title: UHI network and discovery
  summary: The Gateway search, the discovery pair every service answers, and the network registry lookup.
  description: |-
    UHI(Unified Health Interface) is envisioned as an open protocol for various digital health services. UHI Network will be an open network of End User Applications (EUAs) and participating Health Service Provider (HSP) applications. UHI will enable a wide variety of digital health services between patients and health service providers (HSPs) including appointment booking, teleconsultation, service discovery and others.<br>
    <b>API Security</b><br> You need Authorization Token to consume APIs. <br><br><b>Gateway Signing</b> <br>The BG will send its signature in the Proxy-Authorization header in the exact same format as shown below - <ul><li><p>X-Gateway-Authorization: {"headers":"(created) (expires) digest","expires":"1682340844","signature":"PEYK1W+xsuBuyaNbO0BaECKndTEQ9wjQXjkS1CgvuZUZ/mmUCUcqBNCzi2590GeLD4s2bqvv8dCopS9yomMZDA==","created":"1682340834","keyId":"gateway-nha|uhi_gateway_pubkeyid|ed25519","algorithm":"ed25519"}</p></li></ul>
    <p>The EUAs and HSPAs subscriber is expected to send an Authorization header where the “auth-scheme” is “Signature” and the “auth-param” parameters <br> Below is the format of a EUA/HSPA Authorization header in the typical HTTP Signature format - </p>
    <ul><li><p>Authorization: {"headers":"(created) (expires) digest","expires":"1682340844","signature":"PEYK1W+xsuBuyaNbO0BaECKndTEQ9wjQXjkS1CgvuZUZ/mmUCUcqBNCzi2590GeLD4s2bqvv8dCopS9yomMZDA==","created":"1682340834","keyId":"eua-nha|nha.eua.k1|ed25519","algorithm":"ed25519"}</p> <p>Follow this link for the signing header generation process code - <a href ="https://github.com/NHA-ABDM/UHI/blob/Group-consultation/src/gateway/Discovery/src/main/java/in/gov/abdm/uhi/discovery/security/Crypt.java">Crypt</a></p>
    <p>also please find the link for header generation utility tool to generate key value pairs and header - <a href ="https://github.com/NHA-ABDM/UHI/tree/main/header_generator_utility">Header Generation Utility</a></p></li></ul>

    <br/><p>Changelog for swagger -> <a href="https://docs.google.com/document/d/1esrCfE1J6H4p7m10zbPAADQxAivGICX0KlDZQhX4sIE/edit"> Changelog file</a></p>

    <p>Refer this UHI signing document link -> <a href="https://github.com/NHA-ABDM/UHI/blob/main/docs/Signing%20UHI%20APIs_Final%20(1).docx"> UHI header signing doc</a></p><br/>

    <p><b>Hashing Algorithm</b><br> For computing the digest of the request body, the hashing function will use the BLAKE-512 hashing algorithm. BLAKE is a cryptographic hash function based on Dan Bernstein’s ChaCha stream cipher.<br></p>
    <p><b>Signing Algorithm</b><br> To digitally sign the singing string, the subscribers should use the “Ed25519” signature scheme . For the first version of UHI gateway, we’ll be using the Ed25519 Signature Scheme.<br></p>
  version: 2.0.2
  contact:
    name: National Health Authority India
  x-abdm-gateway: uhi
  x-abdm-module: network
  x-abdm-phase: 1
  x-abdm-roles:
    - eua
    - hspa
x-abdm-sources:
  - file: catalogue/openapi/.raw/nha-2026-09-28-uhi/gateway/UHI Documentation Requirements.yaml
    role: upstream
    hash: sha256:af065b1acc1032286c5b10ba43a39c048bfd8ce8afe1017b92e11b783a43d158
    fetched: "2026-09-28"
  - file: catalogue/openapi/.raw/nha-2026-09-28-uhi/gateway/UHI Gateway Service.yaml
    role: upstream
    hash: sha256:a04a7a18f19f9fb448f747d84b19aa10908b9118ac32a4bf84cf330440984d47
    fetched: "2026-09-28"
servers:
  - url: https://uhigatewaysandbox.abdm.gov.in
    description: Sandbox
  - url: https://uhigateway.abdm.gov.in
    description: Production
  - url: https://uhigatewaybeta.abdm.gov.in
    description: Beta. Use it only when NHA asks you to.
tags:
  - name: UHI - Gateway
  - name: HSPA - Provider Platform
  - name: EUA - Consumer Platform
  - name: UHI-Network Registry
paths:
  /api/v1/uhi/search:
    post:
      tags:
        - UHI - Gateway
      summary: "/api/v1/uhi/search (EUA → Gateway): Search requestor to broadcast the message over HSPAs"
      operationId: uhi_network_gateway_search
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Search for services by intent
      parameters:
        - name: Authorization
          in: header
          required: true
          schema:
            type: string
          description: UHI Auth header
      requestBody:
        description: "EUA-Consumer Platform searches for healthcare services/product<br> "
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    intent:
                      $ref: "#/components/schemas/Intent"
              required:
                - context
                - message
            examples:
              consultation-search-doctor-by-speciality-physicalconsultation:
                summary: Search doctor by speciality (PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: CARDIOLOGY
                          name: CARDIOLOGY
                      fulfillment:
                        type: Physical
                        start:
                          time:
                            timestamp: "2022-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2022-07-16T00:00:00"
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      location:
                        gps: 12.423423,77.325647
                        radius:
                          type: CONSTANT
                          value: "5"
                          unit: km
              consultation-search-doctor-by-name-and-speciality-physicalconsultation:
                summary: Search doctor by name and speciality(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: CARDIOLOGY
                          name: CARDIOLOGY
                      fulfillment:
                        agent:
                          name: ganesh
                        type: Physical
                        start:
                          time:
                            timestamp: "2022-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2022-07-16T00:00:00"
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      location:
                        gps: 12.423423,77.325647
                        radius:
                          type: CONSTANT
                          value: "5"
                          unit: km
              consultation-search-by-doctor-and-facility-physicalconsultation:
                summary: Search by Doctor and facility (PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      provider:
                        descriptor:
                          name: Test Hospital
                      category:
                        descriptor:
                          code: CARDIOLOGY
                          name: CARDIOLOGY
                      fulfillment:
                        agent:
                          name: ganesh
                        type: Physical
                        start:
                          time:
                            timestamp: "2022-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2022-07-16T00:00:00"
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      location:
                        gps: 12.423423,77.325647
                        radius:
                          type: CONSTANT
                          value: "5"
                          unit: km
              consultation-search-by-provider-facility-and-specialty-physicalconsultati:
                summary: Search by provider facility and specialty (PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      provider:
                        descriptor:
                          name: Test Hospital
                      category:
                        descriptor:
                          code: CARDIOLOGY
                          name: CARDIOLOGY
                      fulfillment:
                        type: Physical
                        start:
                          time:
                            timestamp: "2022-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2022-07-16T00:00:00"
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      location:
                        gps: 12.423423,77.325647
                        radius:
                          type: CONSTANT
                          value: "5"
                          unit: km
              consultation-search-by-hpr-address-physicalconsultation:
                summary: Search by HPR Address (PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                    timestamp: "2022-11-14T07:20:54.005277Z"
                    transaction_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                  message:
                    intent:
                      fulfillment:
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                        start:
                          time:
                            timestamp: "2022-07-22T13:21:41"
                        end:
                          time:
                            timestamp: "2022-07-22T23:59:59"
                        type: Physical
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      location:
                        gps: 12.423423,77.325647
                        radius:
                          type: CONSTANT
                          value: "5"
                          unit: km
              consultation-search-by-doctor-name-physicalconsultation:
                summary: Search by Doctor Name(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      location:
                        gps: 12.423423,77.325647
                        radius:
                          type: CONSTANT
                          value: "5"
                          unit: km
                      fulfillment:
                        agent:
                          name: ganesh
                        start:
                          time:
                            timestamp: "2022-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2022-07-16T00:00:00"
                        type: Physical
              consultation-search-doctor-by-pincode-physicalconsultation:
                summary: Search Doctor by PinCode(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      fulfillment:
                        agent:
                          name: ganesh
                        start:
                          time:
                            timestamp: "2022-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2022-07-16T00:00:00"
                        type: Physical
                      address:
                        area_code: "110001"
              consultation-search-doctor-by-state-and-district-physicalconsultation:
                summary: Search Doctor by State and District(PhysicalConsultation)
                value:
                  context:
                    action: search
                    city: std:011
                    consumer_id: eua-nha
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    core_version: 0.7.1
                    country: IND
                    domain: nic2004:85111
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-18T06:52:13.969464Z"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      fulfillment:
                        end:
                          time:
                            timestamp: "2026-06-18T23:59:59"
                        start:
                          time:
                            timestamp: "2026-06-18T10:37:32"
                        type: Physical
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      location:
                        state:
                          name: MAHARASHTRA
                          code: "27"
                        district:
                          name: PUNE
                          code: "490"
              consultation-search-doctor-by-gps-physicalconsultation:
                summary: Search Doctor by GPS(PhysicalConsultation)
                value:
                  context:
                    action: search
                    city: std:011
                    consumer_id: eua-nha
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    core_version: 0.7.1
                    country: IND
                    domain: nic2004:85111
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-18T06:52:13.969464Z"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      fulfillment:
                        end:
                          time:
                            timestamp: "2026-06-18T23:59:59"
                        start:
                          time:
                            timestamp: "2026-06-18T10:37:32"
                        type: Physical
                      item:
                        descriptor:
                          code: Consultation
                          name: Consultation
                      location:
                        gps: 18.5302973,73.8526433
                        radius:
                          type: CONSTANT
                          value: "50"
                          unit: km
              consultation-second-search-hpr-address:
                summary: "Teleconsultation example, send Physical: Second search (HPR Address)"
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    provider_id: hspa-nha
                    message_id: da1cc980-32af-11ef-bcbe-590b07ce8c90
                    timestamp: "2024-06-25T05:01:39.587857Z"
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: da1cc980-32af-11ef-bcbe-590b07ce8c90
                  message:
                    intent:
                      provider:
                        id: "1"
                        categories:
                          - id: "201"
                            parent_category_id: "101"
                            descriptor:
                              name: Cardiology
                              code: CARDIOLOGY
                          - id: "101"
                            descriptor:
                              name: ALLOPATHY
                              code: ALLOPATHY
                        fulfillments:
                          - type: Online
                            agent:
                              id: <HPR_ADDRESS>@hpr.ndhm
                              image: null
                            start:
                              time:
                                timestamp: "2024-06-25T10:30:27"
                            end:
                              time:
                                timestamp: "2024-06-25T23:59:59"
                        items:
                          - id: "1"
                            descriptor:
                              name: Consultation
                              code: CONSULTATION
                            price:
                              currency: INR
                              value: "0.0"
                            fulfillment_id: "1"
                            category_id: "201"
              pmjay-hem-search-pmjay-hem-with-state-mandatory:
                summary: Search PMJAY-HEM with State(Mandatory)
                value:
                  context:
                    domain: nic2004:85112
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                    timestamp: "2022-11-14T07:20:54.005277Z"
                    transaction_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                  message:
                    intent:
                      fulfillment:
                        start:
                          time:
                            timestamp: "2022-07-22T13:21:41"
                        end:
                          time:
                            timestamp: "2022-07-22T23:59:59"
                        type: PMJAYHEM
                      item:
                        descriptor:
                          code: PMJAY
                          name: PMJAY
                          flag: false
                      location:
                        state:
                          name: ANDHRA PRADESH
                          code: "28"
              pmjay-hem-search-pmjay-hem-with-state-mandatory-and-district:
                summary: Search PMJAY-HEM with State(Mandatory) and District
                value:
                  context:
                    domain: nic2004:85112
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                    timestamp: "2022-11-14T07:20:54.005277Z"
                    transaction_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                  message:
                    intent:
                      fulfillment:
                        start:
                          time:
                            timestamp: "2022-07-22T13:21:41"
                        end:
                          time:
                            timestamp: "2022-07-22T23:59:59"
                        type: PMJAYHEM
                      item:
                        descriptor:
                          code: PMJAY
                          name: PMJAY
                          flag: false
                      location:
                        state:
                          name: ANDHRA PRADESH
                          code: "28"
                        district:
                          name: ANAKAPALLI
                          code: 744
              pmjay-hem-search-pmjay-hem-with-state-mandatory-and-speciality:
                summary: Search PMJAY-HEM with State(Mandatory) and Speciality
                value:
                  context:
                    domain: nic2004:85112
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                    timestamp: "2022-11-14T07:20:54.005277Z"
                    transaction_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                  message:
                    intent:
                      fulfillment:
                        start:
                          time:
                            timestamp: "2022-07-22T13:21:41"
                        end:
                          time:
                            timestamp: "2022-07-22T23:59:59"
                        type: PMJAYHEM
                      category:
                        descriptor:
                          name: Cardiology
                          code: 100002
                      item:
                        descriptor:
                          code: PMJAY
                          name: PMJAY
                          flag: false
                      location:
                        state:
                          name: ANDHRA PRADESH
                          code: "28"
                        district:
                          name: ANAKAPALLI
                          code: 744
              pmjay-hem-search-pmjay-hem-with-state-mandatory-and-facility-name:
                summary: Search PMJAY-HEM with State(Mandatory) and Facility Name
                value:
                  context:
                    domain: nic2004:85112
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                    timestamp: "2022-11-14T07:20:54.005277Z"
                    transaction_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                  message:
                    intent:
                      provider:
                        descriptor:
                          name: General Hospital
                      fulfillment:
                        start:
                          time:
                            timestamp: "2022-07-22T13:21:41"
                        end:
                          time:
                            timestamp: "2022-07-22T23:59:59"
                        type: PMJAYHEM
                      item:
                        descriptor:
                          code: PMJAY
                          name: PMJAY
                          flag: false
                      location:
                        state:
                          name: ANDHRA PRADESH
                          code: "28"
              pmjay-hem-search-pmjay-hem-with-state-mandatory-and-pincode:
                summary: Search PMJAY-HEM with State(Mandatory) and PinCode
                value:
                  context:
                    domain: nic2004:85112
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                    timestamp: "2022-11-14T07:20:54.005277Z"
                    transaction_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                  message:
                    intent:
                      fulfillment:
                        start:
                          time:
                            timestamp: "2022-07-22T13:21:41"
                        end:
                          time:
                            timestamp: "2022-07-22T23:59:59"
                        type: PMJAYHEM
                      item:
                        descriptor:
                          code: PMJAY
                          name: PMJAY
                          flag: false
                      location:
                        state:
                          name: ANDHRA PRADESH
                          code: "28"
                      address:
                        area_code: 523303
              pmjay-hem-search-pmjay-hem-with-gps:
                summary: Search PMJAY-HEM with GPS
                value:
                  context:
                    domain: nic2004:85112
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                    timestamp: "2022-11-14T07:20:54.005277Z"
                    transaction_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                  message:
                    intent:
                      fulfillment:
                        start:
                          time:
                            timestamp: "2022-07-22T13:21:41"
                        end:
                          time:
                            timestamp: "2022-07-22T23:59:59"
                        type: PMJAYHEM
                      item:
                        descriptor:
                          code: PMJAY
                          name: PMJAY
                          flag: false
                      location:
                        gps: 17.3787973,78.4368433
                        radius:
                          type: CONSTANT
                          value: "13.0"
                          unit: km
              blood-bank-search-blood-available-in-blood-banks-blood-bank:
                summary: Search Blood Available in Blood banks(Blood-bank)
                value:
                  context:
                    domain: nic2008:86906
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: "11"
                          name: Whole Blood
                      fulfillment:
                        type: BloodStock
                        start:
                          time:
                            timestamp: "2022-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2022-07-16T00:00:00"
                      item:
                        descriptor:
                          code: "17"
                          name: AB+Ve
                      location:
                        gps: 12.423423,77.325647
                        radius:
                          type: CONSTANT
                          value: "5"
                          unit: km
              blood-bank-search-blood-bank-using-state-and-district-blood-bank:
                summary: Search Blood-bank Using state and district(Blood-bank)
                value:
                  context:
                    domain: nic2008:86906
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: "11"
                          name: Whole Blood
                      fulfillment:
                        type: BloodStock
                        start:
                          time:
                            timestamp: "2022-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2022-07-16T00:00:00"
                      item:
                        descriptor:
                          code: "17"
                          name: AB+Ve
                      location:
                        district:
                          code: "022"
                          name: Pune
                        state:
                          code: "311"
                          name: Maharashtra
              ambulance-search-ambulance-with-source-location:
                summary: Search Ambulance With Source Location
                value:
                  context:
                    domain: nic2008:86909
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-03-23T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: ALL
                          name: ALL
                      fulfillment:
                        type: EMERGENCY
                        start:
                          time:
                            timestamp: "2026-01-05T15:24:35"
                        end:
                          time:
                            timestamp: "2026-01-05T23:59:59"
                        tags:
                          additional_services: oxygen cylinder, etc
                      locations:
                        - descriptor:
                            code: SOURCE
                            name: SOURCE
                          gps: 28.61469203602857,77.20759019852424
                          address: <ADDRESS>
                      item:
                        descriptor:
                          code: AMBULANCE
                          name: AMBULANCE
              ambulance-search-ambulance-with-source-and-destination-location:
                summary: Search Ambulance With Source and Destination Location
                value:
                  context:
                    domain: nic2008:86909
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-03-23T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: ALL
                          name: ALL
                      fulfillment:
                        type: EMERGENCY
                        start:
                          time:
                            timestamp: "2026-01-05T15:24:35"
                        end:
                          time:
                            timestamp: "2026-01-05T23:59:59"
                        tags:
                          additional_services: oxygen cylinder, etc
                      locations:
                        - descriptor:
                            code: SOURCE
                            name: SOURCE
                          gps: 28.61469203602857,77.20759019852424
                          address: <ADDRESS>
                        - descriptor:
                            code: DESTINATION
                            name: DESTINATION
                          gps: 12.423423,77.325647
                          address: <ADDRESS>
                      item:
                        descriptor:
                          code: AMBULANCE
                          name: AMBULANCE
              jan-aushadhi-search-jan-aushadi-kendra-with-gps:
                summary: Search Jan Aushadi Kendra with GPS
                value:
                  context:
                    domain: nic2008:47721
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-09T18:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      fulfillment:
                        type: JANAUSHADHI
                        start:
                          time:
                            timestamp: "2026-06-09T00:00:00"
                        end:
                          time:
                            timestamp: "2026-06-09T23:59:59"
                      item:
                        descriptor:
                          code: JANAUSHADHI
                          name: JANAUSHADHI
                      location:
                        gps: 17.39916197665472, 78.43400530708318
                        radius:
                          type: CONSTANT
                          value: "5"
                          unit: km
              jan-aushadhi-search-jan-aushadi-kendra-with-kendra-code:
                summary: Search Jan Aushadi Kendra with Kendra Code
                value:
                  context:
                    domain: nic2008:47721
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-09T18:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: PMBJK02129
                          name: PMBJK02129
                      fulfillment:
                        type: JANAUSHADHI
                        start:
                          time:
                            timestamp: "2026-06-19T00:00:00"
                        end:
                          time:
                            timestamp: "2026-06-19T23:59:59"
                      item:
                        descriptor:
                          code: JANAUSHADHI
                          name: JANAUSHADHI
              jan-aushadhi-search-jan-aushadi-kendra-with-pin-code:
                summary: Search Jan Aushadi Kendra with Pin Code
                value:
                  context:
                    domain: nic2008:47721
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-09T18:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      fulfillment:
                        type: JANAUSHADHI
                        start:
                          time:
                            timestamp: "2026-06-19T00:00:00"
                        end:
                          time:
                            timestamp: "2026-06-19T23:59:59"
                      item:
                        descriptor:
                          code: JANAUSHADHI
                          name: JANAUSHADHI
                      address:
                        area_code: "500028"
              jan-aushadhi-search-jan-aushadi-kendra-with-state-and-district:
                summary: Search Jan Aushadi Kendra with State and District
                value:
                  context:
                    domain: nic2008:47721
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-09T18:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      fulfillment:
                        type: JANAUSHADHI
                        start:
                          time:
                            timestamp: "2026-06-09T00:00:00"
                        end:
                          time:
                            timestamp: "2026-06-09T23:59:59"
                      item:
                        descriptor:
                          code: JANAUSHADHI
                          name: JANAUSHADHI
                      location:
                        district:
                          code: "509"
                          name: KHAMMAM
                        state:
                          code: "36"
                          name: Telangana
              jan-aushadhi-search-jan-aushadi-kendra-with-custom-filters:
                summary: Search Jan Aushadi Kendra with Custom Filters
                value:
                  context:
                    domain: nic2008:47721
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-19T18:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      fulfillment:
                        type: JANAUSHADHI
                        start:
                          time:
                            timestamp: "2026-06-19T00:00:00"
                        end:
                          time:
                            timestamp: "2026-06-19T23:59:59"
                      item:
                        descriptor:
                          code: JANAUSHADHI
                          name: JANAUSHADHI
                      location:
                        district:
                          code: "507"
                          name: HYDERABAD
                        state:
                          code: "36"
                          name: Telangana
                      address:
                        area_code: "500028"
              jan-aushadhi-search-medicine-by-medicine-name:
                summary: Search Medicine by Medicine Name
                value:
                  context:
                    domain: nic2008:47721
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-09T18:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      fulfillment:
                        type: JANAUSHADHI_MEDICINE
                        start:
                          time:
                            timestamp: "2026-06-09T00:00:00"
                        end:
                          time:
                            timestamp: "2026-06-09T23:59:59"
                      item:
                        descriptor:
                          code: Paracetamol
                          name: Paracetamol
              jan-aushadhi-search-jan-aushadi-kendra-for-selected-medicine:
                summary: Search Jan Aushadi Kendra for Selected Medicine
                value:
                  context:
                    domain: nic2008:47721
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-06-19T18:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      fulfillment:
                        type: JANAUSHADHI_KENDRA
                        start:
                          time:
                            timestamp: "2026-06-19T00:00:00"
                        end:
                          time:
                            timestamp: "2026-06-19T23:59:59"
                      item:
                        descriptor:
                          code: "76476"
                          name: "76476"
                      location:
                        district:
                          code: "507"
                          name: HYDERABAD
                        state:
                          code: "36"
                          name: Telangana
              notto-search-notto-by-organ-tissue:
                summary: Search NOTTO by Organ/Tissue
                value:
                  context:
                    domain: nic2004:86100
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-07-15T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: "3"
                          name: Kidney
                      fulfillment:
                        type: NOTTO_HOSPITAL
                        start:
                          time:
                            timestamp: "2026-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2026-07-15T23:59:59"
                      item:
                        descriptor:
                          code: NOTTO
                          name: NOTTO
              notto-search-notto-by-organ-tissue-and-state:
                summary: Search NOTTO by Organ/Tissue and State
                value:
                  context:
                    domain: nic2004:86100
                    country: IND
                    city: std:011
                    action: search
                    core_version: 0.7.1
                    consumer_id: nha.eua
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2026-07-15T15:24:35"
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    intent:
                      category:
                        descriptor:
                          code: "3"
                          name: Kidney
                      fulfillment:
                        type: NOTTO_HOSPITAL
                        start:
                          time:
                            timestamp: "2026-07-15T00:00:00"
                        end:
                          time:
                            timestamp: "2026-07-15T23:59:59"
                      item:
                        descriptor:
                          code: NOTTO
                          name: NOTTO
                      location:
                        state:
                          code: "36"
                          name: Telangana
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - context
      x-abdm-title: Search through the Gateway
      x-abdm-hosted-by: gateway
      x-abdm-answered-by: uhi_network_gateway_on_search
      x-abdm-nha-operation-id: searchUsingPOST
  /api/v1/uhi/on_search:
    post:
      tags:
        - UHI - Gateway
      summary: "/api/v1/uhi/on_search (HSPA → Gateway): Accepter for all the on_search response from the HSPAs"
      operationId: uhi_network_gateway_on_search
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Accepter for all the on_search response from the HSPAs
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    catalog:
                      $ref: "#/components/schemas/Catalog"
                  required:
                    - catalog
                error:
                  $ref: "#/components/schemas/Error"
              required:
                - context
            examples:
              consultation-1st-onsearch-for-search-with-specialty-physicalconsultation:
                summary: "Teleconsultation example, send Physical: 1st Onsearch for search with Specialty(PhysicalConsultation)"
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: "2022-07-05T15:24:35"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://100.65.158.41:8901/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                    message_id: e9
                  message:
                    catalog:
                      descriptor:
                        name: Ref HSPA
                        images: HSPA IMAGE
                        short_desc: Reference HSPA Test hospital
                        long_desc: Expert institution providing patient treatment with specialized health science and auxiliary healthcare staff and extraordinary medical equipments.
                      providers:
                        - id: "1"
                          descriptor:
                            name: Test Hospital
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          categories:
                            - id: "1"
                              parent_category_id: "101"
                              descriptor:
                                name: Cardiology
                                code: CARDIOLOGY
                            - id: "101"
                              descriptor:
                                name: Allopathy
                                code: ALLOPATHY
                            - id: "0"
                              parent_category_id: "101"
                              descriptor:
                                name: General Medicine, Pharmacy, Dental surgery
                                code: GENERAL MEDICINE, PHARMACY, DENTAL SURGERY
                          fulfillments:
                            - id: "0"
                              type: Physical
                              agent:
                                id: <EMAIL>
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                            - id: "1"
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                          items:
                            - id: "0"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "20.0"
                              category_id: "0"
                              fulfillment_id: "0"
                            - id: "1"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "300.0"
                              category_id: "1"
                              fulfillment_id: "1"
                          location:
                            id: "1"
                            descriptor:
                              name: Test Hospital
                              short_desc: Expertise in every field with renowned staff.
                              long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                            city:
                              name: Delhi
                              code: "011"
                            district:
                              name: INDIA
                              code: "+91"
                            gps: 18.5246036,73.792927
                            address: 3rd, 7th & 9th Floor, Tower-L, Jeevan Bharati Building, Connaught Place, New Delhi, Delhi 110001
              consultation-1st-on-search-for-search-by-doctor-and-specialty-physicalcon:
                summary: 1st on_search  for Search by Doctor and specialty(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: "2022-07-05T15:24:35"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    catalog:
                      descriptor:
                        name: Ref HSPA
                        images: HSPA IMAGE
                        short_desc: Reference HSPA Test hospital
                        long_desc: Expert institution providing patient treatment with specialized health science and auxiliary healthcare staff and extraordinary medical equipments.
                      providers:
                        - id: "1"
                          descriptor:
                            name: Test Hospital
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          categories:
                            - id: "0"
                              parent_category_id: "101"
                              descriptor:
                                name: Cardiology
                                code: CARDIOLOGY
                            - id: "101"
                              descriptor:
                                name: Allopathy
                                code: ALLOPATHY
                          fulfillments:
                            - id: "0"
                              type: Physical
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                          items:
                            - id: "0"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "300.0"
                              category_id: "0"
                              fulfillment_id: "0"
                          location:
                            id: "1"
                            descriptor:
                              name: Test Hospital
                              short_desc: Expertise in every field with renowned staff.
                              long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                            city:
                              name: Delhi
                              code: "011"
                            district:
                              name: INDIA
                              code: "+91"
                            gps: 18.5246036,73.792927
                            address: 3rd, 7th & 9th Floor, Tower-L, Jeevan Bharati Building, Connaught Place, New Delhi, Delhi 110001
              consultation-1st-on-search-for-search-by-doctor-and-facility-physicalcons:
                summary: 1st on_search for search by doctor and facility(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: "2022-07-05T15:24:35"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    catalog:
                      descriptor:
                        name: Ref HSPA
                        images: HSPA IMAGE
                        short_desc: Reference HSPA Test hospital
                        long_desc: Expert institution providing patient treatment with specialized health science and auxiliary healthcare staff and extraordinary medical equipments.
                      providers:
                        - id: "1"
                          descriptor:
                            name: Test Hospital
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          categories:
                            - id: "0"
                              parent_category_id: "101"
                              descriptor:
                                name: Cardiology
                                code: CARDIOLOGY
                            - id: "101"
                              descriptor:
                                name: Allopathy
                                code: ALLOPATHY
                          fulfillments:
                            - id: "0"
                              type: Physical
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                          items:
                            - id: "0"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "300.0"
                              category_id: "0"
                              fulfillment_id: "0"
                          location:
                            id: "1"
                            descriptor:
                              name: Test Hospital
                              short_desc: Expertise in every field with renowned staff.
                              long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                            city:
                              name: Delhi
                              code: "011"
                            district:
                              name: INDIA
                              code: "+91"
                            gps: 18.5246036,73.792927
                            address: 3rd, 7th & 9th Floor, Tower-L, Jeevan Bharati Building, Connaught Place, New Delhi, Delhi 110001
              consultation-1st-on-search-for-search-by-provider-facility-and-specialty:
                summary: "1st on_search for search by provider facility and specialty(PhysicalConsultation) "
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: "2022-07-05T15:24:35"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    catalog:
                      descriptor:
                        name: Ref HSPA
                        images: HSPA IMAGE
                        short_desc: Reference HSPA Test hospital
                        long_desc: Expert institution providing patient treatment with specialized health science and auxiliary healthcare staff and extraordinary medical equipments.
                      providers:
                        - id: "1"
                          descriptor:
                            name: Test Hospital
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          categories:
                            - id: "201"
                              parent_category_id: "101"
                              descriptor:
                                name: Cardiology
                                code: CARDIOLOGY
                            - id: "101"
                              descriptor:
                                name: Allopathy
                                code: ALLOPATHY
                          fulfillments:
                            - id: "0"
                              type: Physical
                              agent:
                                id: <EMAIL>
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                            - id: "1"
                              type: Physical
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                          items:
                            - id: "0"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "300.0"
                              category_id: "201"
                              fulfillment_id: "0"
                            - id: "1"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "300.0"
                              category_id: "201"
                              fulfillment_id: "1"
                          location:
                            id: "1"
                            descriptor:
                              name: Test Hospital
                              short_desc: Expertise in every field with renowned staff.
                              long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                            city:
                              name: Delhi
                              code: "011"
                            district:
                              name: INDIA
                              code: "+91"
                            gps: 18.5246036,73.792927
                            address: 3rd, 7th & 9th Floor, Tower-L, Jeevan Bharati Building, Connaught Place, New Delhi, Delhi 110001
              consultation-1st-on-search-for-search-by-hpr-address-physicalconsultation:
                summary: "1st on_search for search by HPR address(PhysicalConsultation) "
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: "2022-11-14T07:20:54.005277Z"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                    message_id: dfa04e10-63ec-11ed-9f98-49dd5c7c4d8a
                  message:
                    catalog:
                      descriptor:
                        name: Ref HSPA
                        images: HSPA IMAGE
                        short_desc: Reference HSPA Test hospital
                        long_desc: Expert institution providing patient treatment with specialized health science and auxiliary healthcare staff and extraordinary medical equipments.
                      providers:
                        - id: "1"
                          descriptor:
                            name: Test Hospital
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          categories:
                            - id: "209"
                              parent_category_id: "101"
                              descriptor:
                                name: Dental surgery
                                code: DENTAL SURGERY
                            - id: "101"
                              descriptor:
                                name: Allopathy
                                code: ALLOPATHY
                          fulfillments:
                            - id: "0"
                              type: Physical
                              agent:
                                id: <EMAIL>
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                          items:
                            - id: "0"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "20.0"
                              category_id: "209"
                              fulfillment_id: "0"
                          location:
                            id: "1"
                            descriptor:
                              name: Test Hospital
                              short_desc: Expertise in every field with renowned staff.
                              long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                            city:
                              name: Delhi
                              code: "011"
                            district:
                              name: INDIA
                              code: "+91"
                            gps: 18.5246036,73.792927
                            address: 3rd, 7th & 9th Floor, Tower-L, Jeevan Bharati Building, Connaught Place, New Delhi, Delhi 110001
              consultation-1st-on-search-for-search-by-doctor-name-physicalconsultation:
                summary: "Teleconsultation example, send Physical: 1st on_search for search by Doctor name(PhysicalConsultation)"
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: "2022-07-05T15:24:35"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://100.65.158.41:8901/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                    message_id: e9
                  message:
                    catalog:
                      descriptor:
                        name: Ref HSPA
                        images: HSPA IMAGE
                        short_desc: Reference HSPA Test hospital
                        long_desc: Expert institution providing patient treatment with specialized health science and auxiliary healthcare staff and extraordinary medical equipments.
                      providers:
                        - id: "1"
                          descriptor:
                            name: Test Hospital
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          categories:
                            - id: "201"
                              parent_category_id: "101"
                              descriptor:
                                name: Cardiology
                                code: CARDIOLOGY
                            - id: "101"
                              descriptor:
                                name: Allopathy
                                code: ALLOPATHY
                          fulfillments:
                            - id: "0"
                              type: Physical
                              agent:
                                id: <EMAIL>
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                            - id: "1"
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                          items:
                            - id: "0"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "300.0"
                              category_id: "201"
                              fulfillment_id: "0"
                            - id: "1"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "0.0"
                              category_id: "201"
                              fulfillment_id: "1"
                          location:
                            id: "1"
                            descriptor:
                              name: Test Hospital
                              short_desc: Expertise in every field with renowned staff.
                              long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                            city:
                              name: Delhi
                              code: "011"
                            district:
                              name: INDIA
                              code: "+91"
                            gps: 18.5246036,73.792927
                            address: 3rd, 7th & 9th Floor, Tower-L, Jeevan Bharati Building, Connaught Place, New Delhi, Delhi 110001
              consultation-1st-on-search-for-search-doctor-by-pincode-physicalconsultat:
                summary: "Teleconsultation example, send Physical: 1st on_search for search Doctor by PinCode(PhysicalConsultation)"
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: "2022-07-05T15:24:35"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://100.65.158.41:8901/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                    message_id: e9
                  message:
                    catalog:
                      descriptor:
                        name: Ref HSPA
                        images: HSPA IMAGE
                        short_desc: Reference HSPA Test hospital
                        long_desc: Expert institution providing patient treatment with specialized health science and auxiliary healthcare staff and extraordinary medical equipments.
                      providers:
                        - id: "1"
                          descriptor:
                            name: Test Hospital
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          categories:
                            - id: "201"
                              parent_category_id: "101"
                              descriptor:
                                name: Cardiology
                                code: CARDIOLOGY
                            - id: "101"
                              descriptor:
                                name: Allopathy
                                code: ALLOPATHY
                          fulfillments:
                            - id: "0"
                              type: Physical
                              agent:
                                id: <EMAIL>
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                            - id: "1"
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/experience": "10.0"
                                  "@abdm/gov.in/languages": Hindi, English
                                  "@abdm/gov.in/education": MBBS, BDS
                                  "@abdm/gov.in/hpr_id": <HPR_ID>
                                  "@abdm/gov.in/hfr_id": <HPR_ID>
                                  "@abdm/gov.in/hip_id": IN2910000074
                              start:
                                time:
                                  timestamp: "2023-01-03T12:30:00"
                              end:
                                time:
                                  timestamp: "2023-01-03T12:45:00"
                          items:
                            - id: "0"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "300.0"
                              category_id: "201"
                              fulfillment_id: "0"
                            - id: "1"
                              descriptor:
                                name: Consultation
                              price:
                                currency: INR
                                value: "0.0"
                              category_id: "201"
                              fulfillment_id: "1"
                          location:
                            id: "1"
                            descriptor:
                              name: Test Hospital
                              short_desc: Expertise in every field with renowned staff.
                              long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                            city:
                              name: Delhi
                              code: "011"
                            district:
                              name: INDIA
                              code: "+91"
                            gps: 18.5246036,73.792927
                            address: 3rd, 7th & 9th Floor, Tower-L, Jeevan Bharati Building, Connaught Place, New Delhi, Delhi 110001
              consultation-2nd-on-search-response:
                summary: "Teleconsultation example, send Physical: 2nd on_search response "
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_search
                    timestamp: "2024-06-25T05:01:39.587857Z"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: da1cc980-32af-11ef-bcbe-590b07ce8c90
                    message_id: da1cc980-32af-11ef-bcbe-590b07ce8c90
                  message:
                    catalog:
                      descriptor:
                        name: Ref HSPA
                        short_desc: Reference HSPA Test hospital
                        long_desc: Expert institution providing patient treatment with specialized health science and auxiliary healthcare staff and extraordinary medical equipments.
                      providers:
                        - id: "1"
                          descriptor:
                            name: Test Hospital
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          fulfillments:
                            - id: 21ddefb0-fc52-4837-959a-d79b100013c4
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T12:15:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T12:30:00"
                            - id: 48f30a20-96de-4e92-adcc-25f8570f95b5
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T12:30:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T12:45:00"
                            - id: e486f6fc-8564-4234-b1f1-1d2aa673bb7c
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T12:45:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T13:00:00"
                            - id: db07e802-4091-4b83-bbe4-39e231743aa3
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T13:00:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T13:15:00"
                            - id: 72488196-b2e4-41a2-bec1-a70ecdfd1286
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T13:15:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T13:30:00"
                            - id: cd4ea078-1e27-4e19-b4df-d98ba418cafb
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T13:30:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T13:45:00"
                            - id: cd9d91eb-4524-49b6-9a3d-c6a50a5a795c
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T13:45:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T14:00:00"
                            - id: 1e922a92-192a-4238-bde2-c96f4b9bbb58
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T14:00:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T14:15:00"
                            - id: 242717f2-b173-4b2e-b438-e4dda1f3d7f8
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T14:15:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T14:30:00"
                            - id: 0c7d19ad-e967-4ce4-9174-9bc33db08df6
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
                                  "@abdm/gov.in/experience": "5.0"
                                  "@abdm/gov.in/hpr_id": <HPR_ADDRESS>@hpr.ndhm
                                  "@abdm/gov.in/languages": Eng, Hin
                              start:
                                time:
                                  timestamp: "2024-06-25T14:30:00"
                              end:
                                time:
                                  timestamp: "2024-06-25T14:45:00"
                            - id: a5acad4d-19c1-4399-b39d-5861ccae57e4
                              type: Online
                              agent:
                                id: <HPR_ADDRESS>@hpr.ndhm
                                name: <NAME>
                                gender: M
                                tags:
                                  "@abdm/gov.in/education": MBBS
[...]
