openapi: 3.1.1
info:
  x-portal:
    module: consultation
    label: Physical Consultation
    position: 2
    icon: stethoscope
  title: UHI Physical Consultation
  summary: Book, fulfil and cancel a physical consultation, directly between EUA and HSPA after discovery.
  description: |-
    **Domain:** `nic2004:85111` (the `/select` example uses `nic2004:85110`)<br>
    **fulfillment.type:** `Online` (Teleconsultation), `Physical` (Physical Consultation)<br>
    **Coverage:** full lifecycle. search (1st via gateway, 2nd peer-to-peer for slots), select, init, confirm, status, update (both directions), cancel, message, and gateway audit copies.<br>
    **Search filters:** specialty `category.descriptor.code`; doctor name `fulfillment.agent.name`; facility `provider.descriptor.name`; HPR address `fulfillment.agent.id`; Physical only: GPS + radius, pincode `address.area_code`, state + district.<br>
    **Tele vs Physical:** Tele uses `PRE-ORDER` payment and a teleconsultation URI tag; Physical uses `ON-ORDER`/`FREE` payment and an `authorization` PIN (`GENERATED` then `VERIFIED` / `HSPAOVERRIDE`).
  version: 2.0.2
  contact:
    name: National Health Authority India
  x-abdm-gateway: uhi
  x-abdm-module: consultation
  x-abdm-phase: 1
  x-abdm-roles:
    - eua
    - hspa
x-abdm-sources:
  - file: catalogue/openapi/.raw/nha-2026-09-28-uhi/gateway/UHI Documentation Requirements.yaml
    role: upstream
    hash: sha256:af065b1acc1032286c5b10ba43a39c048bfd8ce8afe1017b92e11b783a43d158
    fetched: "2026-09-28"
  - file: catalogue/openapi/.raw/nha-2026-09-28-uhi/gateway/UHI Gateway Service.yaml
    role: upstream
    hash: sha256:a04a7a18f19f9fb448f747d84b19aa10908b9118ac32a4bf84cf330440984d47
    fetched: "2026-09-28"
servers:
  - url: https://uhigatewaysandbox.abdm.gov.in
    description: Sandbox
  - url: https://uhigateway.abdm.gov.in
    description: Production
  - url: https://uhigatewaybeta.abdm.gov.in
    description: Beta. Use it only when NHA asks you to.
tags:
  - name: HSPA - Provider Platform
  - name: EUA - Consumer Platform
  - name: UHI - Gateway
paths:
  /select:
    post:
      tags:
        - HSPA - Provider Platform
      summary: /select (EUA → HSPA)
      operationId: uhi_consultation_select
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Select items from the catalog and build your order <br> <b><i>*Currently not being used for doctor search will be used in vaccination search</i></b>
      servers: &a1
        - url: https://{provider_uri}
          description: The HSPA's provider_uri, taken from context.provider_uri in its on_search.
          variables:
            provider_uri:
              default: provider_uri
      requestBody:
        description: Selection of various products/services as part of order
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        provider:
                          type: object
                          properties:
                            id:
                              $ref: "#/components/schemas/Provider/properties/id"
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                $ref: "#/components/schemas/Item/properties/id"
                              quantity:
                                $ref: "#/components/schemas/ItemQuantity/properties/selected"
                              fulfillment_id:
                                $ref: "#/components/schemas/Fulfillment/properties/id"
                            required:
                              - id
                  required:
                    - order
              required:
                - context
                - message
            examples:
              consultation-patient-requests-a-quote-for-booking-a-consultation-slot-in:
                summary: Patient requests a quote for booking a consultation slot in a given doctor’s schedule
                value:
                  context:
                    domain: nic2004:85110
                    country: IND
                    city: std:011
                    action: select
                    core_version: 0.7.1
                    message_id: 85a422c4-2867-4d72-b5f5-d31588e2f7c5
                    timestamp: "2021-03-23T10:00:40.065Z"
                  message:
                    order:
                      provider:
                        id: "1"
                      items:
                        - id: "1"
                          fulfillment_id: "2"
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Select items and build an order
      x-abdm-hosted-by: hspa
      x-abdm-answered-by: uhi_consultation_on_select
  /on_select:
    post:
      tags:
        - EUA - Consumer Platform
      summary: /on_select (HSPA → EUA)
      operationId: uhi_consultation_on_select
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Send draft order object with quoted price for selected items<br> <b><i>*Currently not being used for doctor search will be used in vaccination search</i></b>

        Retry behaviour: not yet published.
      servers: &a2
        - url: https://{consumer_uri}
          description: The EUA's consumer_uri, taken from context.consumer_uri in the request.
          variables:
            consumer_uri:
              default: consumer_uri
      requestBody:
        description: Draft order object with price quotation
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        provider:
                          $ref: "#/components/schemas/Provider"
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                $ref: "#/components/schemas/Item/properties/id"
                              quantity:
                                $ref: "#/components/schemas/ItemQuantity/properties/selected"
                              fulfillment_id:
                                $ref: "#/components/schemas/Fulfillment/properties/id"
                            required:
                              - id
                        quote:
                          $ref: "#/components/schemas/Quotation"
                  required:
                    - order
                error:
                  $ref: "#/components/schemas/Error"
              required:
                - context
            examples:
              consultation-patient-receives-a-quote-for-booking-a-consultation-slot-in:
                summary: Patient receives a quote for booking a consultation slot in a given doctor’s schedule
                value:
                  context:
                    domain: nic2004:85110
                    country: IND
                    city: std:011
                    action: select
                    core_version: 0.7.1
                    message_id: 85a422c4-2867-4d72-b5f5-d31588e2f7c5
                    timestamp: "2021-03-23T10:00:40.065Z"
                  message:
                    order:
                      provider:
                        id: "1"
                        descriptor:
                          name: MAX Hospitals
                      items:
                        - id: "1"
                          descriptor:
                            name: Consultation
                          fulfillment_id: "2"
                          provider_id: "1"
                      fulfillment:
                        id: "2"
                        type: DIGITAL-OPD
                        person:
                          id: "1"
                          name: <NAME>
                          gender: male
                          image: https://image/of/doctor.png
                          cred: uhiId:237402938409485039850935
                        time:
                          range:
                            start: T10:15Z
                            end: T10:30Z
                      quote:
                        price:
                          currency: INR
                          value: "110"
                          breakup:
                            - ./dhp-0_7_1.consultation: "100"
                            - ./dhp-0_7_1.cgst: "5"
                            - ./dhp-0_7_1.sgst: "5"
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Send a quoted draft order
      x-abdm-hosted-by: eua
      x-abdm-triggered-by: uhi_consultation_select
  /init:
    post:
      tags:
        - HSPA - Provider Platform
      summary: /init (EUA → HSPA)
      operationId: uhi_consultation_init
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Initialize an order by providing billing and/or shipping details<br>
      servers: *a1
      requestBody:
        description: Initialization of the order once quote is agreed
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        provider:
                          type: object
                          properties:
                            id:
                              $ref: "#/components/schemas/Provider/properties/id"
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                $ref: "#/components/schemas/Item/properties/id"
                              quantity:
                                $ref: "#/components/schemas/ItemQuantity/properties/selected"
                              fulfillment_id:
                                $ref: "#/components/schemas/Fulfillment/properties/id"
                            required:
                              - id
                        billing:
                          $ref: "#/components/schemas/Billing"
                        fulfillment:
                          $ref: "#/components/schemas/Fulfillment"
                        quote:
                          $ref: "#/components/schemas/Quotation"
                  required:
                    - order
              required:
                - context
                - message
            examples:
              consultation-patient-provides-any-additional-billing-and-fulfillment-deta:
                summary: "Teleconsultation example, send Physical: Patient provides any additional billing and fulfillment details and finalizes booking (Consultation)"
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: init
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    provider_id: hspa-nha
                    message_id: da1cc980-32af-11ef-bcbe-590b07ce8c90
                    timestamp: "2024-06-25T05:09:45.791121Z"
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: da1cc980-32af-11ef-bcbe-590b07ce8c90
                  message:
                    order:
                      provider:
                        id: "1"
                      item:
                        id: "0"
                        descriptor:
                          name: Consultation
                          code: CONSULTATION
                        price:
                          currency: INR
                          value: "0.0"
                        fulfillment_id: db07e802-4091-4b83-bbe4-39e231743aa3
                      fulfillment:
                        id: db07e802-4091-4b83-bbe4-39e231743aa3
                        type: Online
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          image: <BASE64_PHOTO>
                          gender: M
                          tags:
                            "@abdm/gov.in/experience": "5.0"
                            "@abdm/gov.in/languages": Eng, Hin
                            "@abdm/gov.in/education": MBBS
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                        start:
                          time:
                            timestamp: "2024-06-25T13:00:00"
                        end:
                          time:
                            timestamp: "2024-06-25T13:15:00"
                        tags:
                          "@abdm/gov.in/slot_id": db07e802-4091-4b83-bbe4-39e231743aa3
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: <NAME>
                          locality: <ADDRESS>
                          city: null
                          state: Telangana
                          country: INDIA
                          area_code: "500067"
                        phone: <MOBILE_NUMBER>
                        email: ""
                      customer:
                        person:
                          dob: <DOB>
                          gender: M
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                        id: <ABHA_ADDRESS>
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Initialise an order
      x-abdm-hosted-by: hspa
      x-abdm-answered-by: uhi_consultation_on_init
  /on_init:
    post:
      tags:
        - EUA - Consumer Platform
      summary: /on_init (HSPA → EUA)
      operationId: uhi_consultation_on_init
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Send order object with payment details updated

        The header Authorization is passed by HSPA to EUA

        Retry behaviour: not yet published.
      servers: *a2
      requestBody:
        description: TODO
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        id:
                          $ref: "#/components/schemas/Order/properties/id"
                        provider:
                          type: object
                          properties:
                            id:
                              $ref: "#/components/schemas/Provider/properties/id"
                        state:
                          $ref: "#/components/schemas/State"
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                $ref: "#/components/schemas/Item/properties/id"
                              quantity:
                                $ref: "#/components/schemas/ItemQuantity/properties/selected"
                        billing:
                          $ref: "#/components/schemas/Billing"
                        fulfillment:
                          $ref: "#/components/schemas/Fulfillment"
                        quote:
                          $ref: "#/components/schemas/Quotation"
                        payment:
                          $ref: "#/components/schemas/Payment"
                  required:
                    - order
                error:
                  $ref: "#/components/schemas/Error"
              required:
                - context
            examples:
              consultation-hspa-platform-generates-a-booking-and-sends-terms-that-requi:
                summary: HSPA Platform generates a booking and sends terms that require settlement to a bank account(Physical Consultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_init
                    timestamp: "2024-06-25T05:09:45.791121Z"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: https://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: da1cc980-32af-11ef-bcbe-590b07ce8c90
                    message_id: da1cc980-32af-11ef-bcbe-590b07ce8c90
                  message:
                    order:
                      id: 7661-863173-3384
                      provider:
                        id: "1"
                      item:
                        id: "0"
                        descriptor:
                          name: Consultation
                          code: CONSULTATION
                        price:
                          currency: INR
                          value: "0.0"
                        fulfillment_id: db07e802-4091-4b83-bbe4-39e231743aa3
                      fulfillment:
                        id: db07e802-4091-4b83-bbe4-39e231743aa3
                        type: Physical
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          image: <BASE64_PHOTO>
                          gender: M
                          tags:
                            "@abdm/gov.in/experience": "5.0"
                            "@abdm/gov.in/languages": Eng, Hin
                            "@abdm/gov.in/education": MBBS
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                        start:
                          time:
                            timestamp: "2024-06-25T13:00:00"
                        end:
                          time:
                            timestamp: "2024-06-25T13:15:00"
                        tags:
                          "@abdm/gov.in/slot_id": db07e802-4091-4b83-bbe4-39e231743aa3
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            short_desc: Short description of commercial terms
                            long_desc: Long descripiton of commercial terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: INITIATED
                        - type: Settlement
                          descriptor:
                            name: Settlement terms and conditions
                            short_desc: Short description of settlement terms
                            long_desc: Long descripiton of settlement terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: INITIATED
                        - type: Cancellation
                          descriptor:
                            name: Cancellation terms and conditions
                            short_desc: Short description of cancellation terms
                            long_desc: Long descripiton of cancellation terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: INITIATED
                        - type: Refund
                          descriptor:
                            name: Refund terms and conditions
                            short_desc: Short description of refund terms
                            long_desc: Long descripiton of refund terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: INITIATED
                        - type: Payment
                          descriptor:
                            name: Payment terms and conditions
                            short_desc: Short description of payment terms
                            long_desc: Long descripiton of payment terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: INITIATED
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: <NAME>
                          locality: <ADDRESS>
                          state: Telangana
                          country: INDIA
                          area_code: "500067"
                        email: ""
                        phone: <MOBILE_NUMBER>
                      quote:
                        price:
                          currency: INR
                          value: "0.0"
                        breakup:
                          - title: Consultation
                            price:
                              currency: INR
                              value: "0.0"
                          - title: CGST @ 5%
                            price:
                              currency: INR
                              value: "0.0"
                          - title: SGST @ 5%
                            price:
                              currency: INR
                              value: "0.0"
                          - title: Registration
                            price:
                              currency: INR
                              value: "0"
                      customer:
                        id: <ABHA_ADDRESS>
                        person:
                          gender: M
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          dob: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                      payment:
                        type: ON-ORDER
                        status: NOT_PAID
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Send the order with its quote and terms
      x-abdm-hosted-by: eua
      x-abdm-triggered-by: uhi_consultation_init
  /confirm:
    post:
      tags:
        - HSPA - Provider Platform
      summary: /confirm (EUA → HSPA)
      operationId: uhi_consultation_confirm
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Confirms the order by agreeing to the fullfillment terms
      servers: *a1
      requestBody:
        description: Confirmation of the order once fulfillment terms are agreed <br>
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        provider:
                          type: object
                          properties:
                            id:
                              $ref: "#/components/schemas/Provider/properties/id"
                        state:
                          $ref: "#/components/schemas/State"
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                $ref: "#/components/schemas/Item/properties/id"
                              quantity:
                                $ref: "#/components/schemas/ItemQuantity/properties/selected"
                              fulfillment_id:
                                $ref: "#/components/schemas/Fulfillment/properties/id"
                            required:
                              - id
                        billing:
                          $ref: "#/components/schemas/Billing"
                        fulfillment:
                          $ref: "#/components/schemas/Fulfillment"
                  required:
                    - order
              required:
                - context
                - message
            examples:
              consultation-confirm-request-for-the-order:
                summary: "Teleconsultation example, send Physical: Confirm request for the order"
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: confirm
                    timestamp: "2024-06-24T09:18:51.128672Z"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: " https: //uhieuasandbox.abdm.gov.in/api/v1/euaService"
                    provider_id: hspa-nha
                    provider_uri: " https: //hspasbx.abdm.gov.in/api/v1"
                    transaction_id: ee219380-3213-11ef-8788-59590da7b6ce
                    message_id: ee219380-3213-11ef-8788-59590da7b6ce
                  message:
                    order:
                      id: 8673-410643-5926
                      provider:
                        id: "1"
                      item:
                        id: "0"
                        descriptor:
                          name: Consultation
                          code: CONSULTATION
                        price:
                          currency: INR
                          value: "0.0"
                        fulfillment_id: 654f28ee-f459-4fb7-b9f0-8b457453daf5
                      fulfillment:
                        id: 654f28ee-f459-4fb7-b9f0-8b457453daf5
                        type: Online
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          image: <BASE64_PHOTO>
                          gender: M
                          tags:
                            "@abdm/gov.in/experience": "5.0"
                            "@abdm/gov.in/languages": Eng, Hin
                            "@abdm/gov.in/education": MBBS
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                        start:
                          time:
                            timestamp: "2024-06-24T16:00:00"
                        end:
                          time:
                            timestamp: "2024-06-24T16:15:00"
                        tags:
                          "@abdm/gov.in/slot_id": 654f28ee-f459-4fb7-b9f0-8b457453daf5
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            short_desc: Short description of commercial terms
                            long_desc: Long descripiton of commercial terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Settlement
                          descriptor:
                            name: Settlement terms and conditions
                            short_desc: Short description of settlement terms
                            long_desc: Long descripiton of settlement terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Cancellation
                          descriptor:
                            name: Cancellation terms and conditions
                            short_desc: Short description of cancellation terms
                            long_desc: Long descripiton of cancellation terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Refund
                          descriptor:
                            name: Refund terms and conditions
                            short_desc: Short description of refund terms
                            long_desc: Long descripiton of refund terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Payment
                          descriptor:
                            name: Payment terms and conditions
                            short_desc: Short description of payment terms
                            long_desc: Long descripiton of payment terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: <NAME>
                          locality: <ADDRESS>
                          state: Telangana
                          country: INDIA
                          area_code: "500067"
                        email: ""
                        phone: <MOBILE_NUMBER>
                      quote:
                        price:
                          currency: INR
                          value: "0.0"
                        breakup:
                          - title: Consultation
                            price:
                              currency: INR
                              value: "0.0"
                          - title: SGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: CGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: Registration
                            price:
                              currency: INR
                              value: "0"
                      customer:
                        id: <ABHA_ADDRESS>
                        person:
                          gender: M
                          dob: <DOB>
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                      payment:
                        status: NOT_PAID
                        type: PRE-ORDER
                        params:
                          transaction_id: ""
                          amount: "1000"
                          mode: ""
                          vpa: ""
                          redirect_url: "https: //uhieuasandbox.abdm.gov.in/on_paymentStatus"
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Confirm the order
      x-abdm-hosted-by: hspa
      x-abdm-answered-by: uhi_consultation_on_confirm
  /on_confirm:
    post:
      tags:
        - EUA - Consumer Platform
      summary: /on_confirm (HSPA → EUA)
      operationId: uhi_consultation_on_confirm
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Send active order object

        The header Authorization is passed by HSPA to EUA

        Retry behaviour: not yet published.
      servers: *a2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        id:
                          $ref: "#/components/schemas/Order/properties/id"
                        provider:
                          type: object
                          properties:
                            id:
                              $ref: "#/components/schemas/Provider/properties/id"
                        state:
                          $ref: "#/components/schemas/State"
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                $ref: "#/components/schemas/Item/properties/id"
                              quantity:
                                $ref: "#/components/schemas/ItemQuantity/properties/selected"
                        billing:
                          $ref: "#/components/schemas/Billing"
                        fulfillment:
                          $ref: "#/components/schemas/Fulfillment"
                        quote:
                          $ref: "#/components/schemas/Quotation"
                        payment:
                          $ref: "#/components/schemas/Payment"
                  required:
                    - order
                error:
                  $ref: "#/components/schemas/Error"
              required:
                - context
            examples:
              consultation-hspa-platform-sends-confirmed-order-status-physicalconsultat:
                summary: HSPA Platform sends CONFIRMED order status(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_confirm
                    timestamp: "2026-06-18T06:52:13.969464Z"
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: "https: //uhieuasandbox.abdm.gov.in/api/v1/euaService"
                    provider_id: hspa-nha
                    provider_uri: https://hspasbx.abdm.gov.in/api/v1/hspa
                    transaction_id: f1a1a6b2-ece2-46a0-8229-9e8b5610afcc
                    message_id: f1a1a6b2-ece2-46a0-8229-9e8b5610afcc
                  message:
                    order:
                      id: 3714-330853-9384
                      provider:
                        id: "1"
                        descriptor:
                          name: Test Hospital
                          flag: false
                          short_desc: Expertise in every field with renowned staff.
                          long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                        categories:
                          - id: "201"
                            parent_category_id: "101"
                            descriptor:
                              name: Cardiology
                              code: CARDIOLOGY
                              flag: false
                          - id: "101"
                            parent_category_id: ""
                            descriptor:
                              name: Allopathy
                              code: ALLOPATHY
                              flag: false
                        location:
                          id: "1"
                          descriptor:
                            name: Test Hospital
                            flag: false
                            short_desc: Expertise in every field with renowned staff.
                            long_desc: We are Test hospital. We have established a very profound name in the healthcare industry by providing expert services in every healthcare fields that we have.
                          city:
                            name: Delhi
                            code: "011"
                          country:
                            name: INDIA
                            code: "+91"
                          gps: 18.5246036,73.792927
                          address: 3rd, 7th & 9th Floor, Tower-L, Jeevan Bharati Building, Connaught Place, New Delhi, Delhi 110001
                      state: CONFIRMED
                      item:
                        id: "0"
                        descriptor:
                          name: Consultation
                          code: CONSULTATION
                          flag: false
                        price:
                          currency: INR
                          value: "0.0"
                        fulfillment_id: 79db6b5b-afe4-4297-b9b1-5148ed45372c
                      fulfillment:
                        id: 79db6b5b-afe4-4297-b9b1-5148ed45372c
                        type: Physical
                        tracking: false
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          image: 8+pftJAweP4Qf516iSSsjzm76sAvHuaXBAFLgjjOfwpDnJwaoQDIP8A9bpU6SOhyCfwqvtJOeKepJzgnH6UAU93cc0gcnj+tNJXPfNOJx+FAAWPTI6UFj1x+VJkY+7n6U0MOfl5oAmDEEds0pIcbehHIb0qNW78gU4jcvGOOlADNuTzwR/n/P8A9enxs0bAhtpB4IP+f/1GgfOcbsEcZFKEOQuMjvj/AD9PypAb+iTz32p2loVllV5QHSIMzbQctgLk9Aa9K0vwBBrD3EsWpmFFnkjWJ4n3AKxHILg9u9eeeBZIbfxlYyzMVjxOhI7FoXA/U4/GvZTr58M+C11R40aa8kMkanO3fJuk5IHQDcffGMjOa468E5aI6adRqO5HJ8LdN8ooZS4zjLGXPT1WQe35Vjn4faYtxPpys8UKpGUcQTnYXLDPL4wCAefx9ao+Hvilqtz4qjtNTED29zMsIWFdoibdg
                          gender: M
                          tags:
                            "@abdm/gov.in/experience": "5.0"
                            "@abdm/gov.in/languages": Eng, Hin
                            "@abdm/gov.in/education": MBBS
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                        start:
                          time:
                            timestamp: "2026-06-18T16:00:00"
                        end:
                          time:
                            timestamp: "2026-06-18T16:30:00"
                        tags:
                          "@abdm/gov.in/slot_id": 79db6b5b-afe4-4297-b9b1-5148ed45372c
                          "@abdm/gov.in/messaging_support": "true"
                          "@abdm/gov.in/deep_link": ""
                          "@abdm/gov.in/helpline_number": ""
                          "@abdm/gov.in/chatbot_link": ""
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: <NAME>
                          locality: <ADDRESS>
                          city: Pune
                          state: Maharashtra
                          country: INDIA
                          area_code: "411058"
                        phone: <MOBILE_NUMBER>
                        email: ""
                      quote:
                        price:
                          currency: INR
                          value: "0.0"
                        breakup:
                          - title: Consultation
                            price:
                              currency: INR
                              value: "0.0"
                          - title: CGST @ 5%
                            price:
                              currency: INR
                              value: "0.0"
                          - title: SGST @ 5%
                            price:
                              currency: INR
                              value: "0.0"
                          - title: Registration
                            price:
                              currency: INR
                              value: "0"
                      customer:
                        person:
                          dob: <DOB>
                          gender: M
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                        id: <ABHA_ADDRESS>
                      payment:
                        uri: ""
                        type: ON-ORDER
                        status: FREE
                        params:
                          transaction_id: ""
                          amount: "0.0"
                          mode: ""
                          vpa: ""
                          redirect_url: ""
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            flag: false
                            short_desc: Short description of commercial terms
                            long_desc: Long description of commercial terms
                          reasonRequired: false
                          timePeriod: "2026-06-18T16:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Settlement
                          descriptor:
                            name: Settlement terms and conditions
                            flag: false
                            short_desc: Short description of Settlement terms
                            long_desc: Long description of Settlement terms
                          reasonRequired: false
                          timePeriod: "2026-06-18T16:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Cancellation
                          descriptor:
                            name: Cancellation terms and conditions
                            flag: false
                            short_desc: Short description of Cancellation terms
                            long_desc: "Cancellation: Full refund if cancelled 48 hrs before consultation time. \\n Rescheduling: No charges for rescheduling 48 hrs prior to consultation time"
                          reasonRequired: false
                          timePeriod: "2026-06-18T16:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Refund
                          descriptor:
                            name: Refund terms and conditions
                            flag: false
                            short_desc: Short description of Refund terms
                            long_desc: "No Show: If doctor does not show up - full refund. No refund if patient does not turn up for appointment"
                          reasonRequired: false
                          timePeriod: "2026-06-18T16:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Payment
                          descriptor:
                            name: Payment terms and conditions
                            flag: false
                            short_desc: Short description of Payment terms
                            long_desc: Long description of Payment terms
                          reasonRequired: false
                          timePeriod: "2026-06-18T16:00:00"
                          reason: ""
                          termsState: AGREED
                      authorization:
                        type: PIN
                        token: "3774"
                        valid_from: "2026-06-18T00:00:00"
                        valid_to: "2026-06-18T23:59:00"
                        status: GENERATED
              consultation-hspa-platform-sends-failed-status:
                summary: "Teleconsultation example, send Physical: HSPA Platform sends FAILED status"
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_confirm
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: "https: //uhieuasandbox.abdm.gov.in/api/v1/euaService"
                    provider_id: hspa-nha
                    message_id: ec17f6f0-320a-11ef-97d1-972e8788648a
                    timestamp: "2024-06-24T09:23:39.433926Z"
                    provider_uri: "https: //hspasbx.abdm.gov.in/api/v1"
                    transaction_id: ec17f6f0-320a-11ef-97d1-972e8788648a
                  message:
                    order:
                      provider:
                        id: "1"
                        categories: []
                      item:
                        id: "0"
                        descriptor:
                          name: Consultation
                          code: CONSULTATION
                        price:
                          currency: INR
                          value: "100.0"
                        fulfillment_id: 250cf57d-54c3-4b47-ab57-70420baa8010
                      fulfillment:
                        id: 250cf57d-54c3-4b47-ab57-70420baa8010
                        type: Online
                        agent:
                          id: <EMAIL>
                          name: <NAME>
                          image: <BASE64_PHOTO>
                          gender: M
                          tags:
                            "@abdm/gov.in/experience": "2.0"
                            "@abdm/gov.in/languages": Gujarati, English, Hindi
                            "@abdm/gov.in/education": MBBS
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                        start:
                          time:
                            timestamp: "2024-06-24T22:00:00"
                        end:
                          time:
                            timestamp: "2024-06-24T23:00:00"
                        tags:
                          "@abdm/gov.in/slot_id": 250cf57d-54c3-4b47-ab57-70420baa8010
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            short_desc: Short description of commercial terms
                            long_desc: Long descripiton of commercial terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Settlement
                          descriptor:
                            name: Settlement terms and conditions
                            short_desc: Short description of settlement terms
                            long_desc: Long descripiton of settlement terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Cancellation
                          descriptor:
                            name: Cancellation terms and conditions
                            short_desc: Short description of cancellation terms
                            long_desc: Long descripiton of cancellation terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Refund
                          descriptor:
                            name: Refund terms and conditions
                            short_desc: Short description of refund terms
                            long_desc: Long descripiton of refund terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Payment
                          descriptor:
                            name: Payment terms and conditions
                            short_desc: Short description of payment terms
                            long_desc: Long descripiton of payment terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: <NAME>
                          locality: <ADDRESS>
                          city: Pune
                          state: Maharashtra
                          country: INDIA
                          area_code: "411058"
                        phone: <MOBILE_NUMBER>
                        email: ""
                      customer:
                        person:
                          dob: <DOB>
                          gender: M
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                        id: <ABHA_ADDRESS>
                      payment:
                        type: PRE-ORDER
                        status: NOT_PAID
                        params:
                          amount: "100.0"
                          mode: ""
                          vpa: ""
                          transaction_id: ""
                          redirect_url: ""
                      quote:
                        price:
                          currency: INR
                          value: "100.0"
                        breakup:
                          - title: Consultation
                            price:
                              currency: INR
                              value: "100.0"
                          - title: SGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: CGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: Registration
                            price:
                              currency: INR
                              value: "0"
                      state: FAILED
                      id: 6979-844711-2406
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Send the confirmed order and PIN
      x-abdm-hosted-by: eua
      x-abdm-triggered-by: uhi_consultation_confirm
  /status:
    post:
      tags:
        - HSPA - Provider Platform
      summary: /status (EUA → HSPA)
      operationId: uhi_consultation_status
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Requests current status of the order.
      servers: *a1
      requestBody:
        description: Describes the contents of the message
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      $ref: "#/components/schemas/Order"
                  required:
                    - order
                error:
                  $ref: "#/components/schemas/Error"
              required:
                - context
            examples:
              consultation-get-the-current-status:
                summary: Get the current status
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: status
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    provider_id: hspa-nha
                    provider_uri: http://hspasbx.abdm.gov.in/api/v1
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    order:
                      id: 8441-696786-1042
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Request the order status
      x-abdm-hosted-by: hspa
      x-abdm-answered-by: uhi_consultation_on_status
  /on_status:
    post:
      tags:
        - EUA - Consumer Platform
      summary: /on_status (HSPA → EUA)
      operationId: uhi_consultation_on_status
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Send order object's current status

        The header Authorization is passed by HSPA to EUA

        Retry behaviour: not yet published.
      servers: *a2
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      type: object
                      properties:
                        id:
                          $ref: "#/components/schemas/Order/properties/id"
                        provider:
                          type: object
                          properties:
                            id:
                              $ref: "#/components/schemas/Provider/properties/id"
                        state:
                          $ref: "#/components/schemas/State"
                        items:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                $ref: "#/components/schemas/Item/properties/id"
                              quantity:
                                $ref: "#/components/schemas/ItemQuantity/properties/selected"
                        billing:
                          $ref: "#/components/schemas/Billing"
                        fulfillment:
                          $ref: "#/components/schemas/Fulfillment"
                        quote:
                          $ref: "#/components/schemas/Quotation"
                        payment:
                          $ref: "#/components/schemas/Payment"
                  required:
                    - order
                error:
                  $ref: "#/components/schemas/Error"
              required:
                - context
            examples:
              consultation-hspa-platform-sends-confirmed-order-status-physical-consulta:
                summary: HSPA Platform sends CONFIRMED order status(Physical Consultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_status
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35.481906"
                    provider_id: hspa-nha
                    provider_uri: http://hspasbx.abdm.gov.in/api/v1
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    order:
                      id: 8441-696786-1042
                      state: CONFIRMED
                      item:
                        id: "1"
                        descriptor:
                          code: Consultation
                          name: Consultation
                      fulfillment:
                        id: d680dd36-1d0d-43c6-96c4-dec0f06008ea
                        type: Physical
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          gender: F
                          tags:
                            "@abdm/gov.in/education": MBBS,MS
                            "@abdm/gov.in/experience": "15.0"
                            "@abdm/gov.in/languages": English, Hindi, Marathi
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                            "@abdm/gov.in/hfr_id": <HPR_ID>
                            "@abdm/gov.in/hip_id": IN2910000074
                        start:
                          time:
                            timestamp: "2022-09-15T15:00:00"
                        end:
                          time:
                            timestamp: "2022-09-15T15:15:00"
                        tags:
                          "@abdm/gov.in/slot_id": d680dd36-1d0d-43c6-96c4-dec0f06008ea
                          "@abdm/gov.in/messaging_support": "true"
                          "@abdm/gov.in/deep_link": ""
                          "@abdm/gov.in/helpline_number": ""
                          "@abdm/gov.in/chatbot_link": ""
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            short_desc: Short description of commercial terms
                            long_desc: Long descripiton of commercial terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Settlement
                          descriptor:
                            name: Settlement terms and conditions
                            short_desc: Short description of settlement terms
                            long_desc: Long descripiton of settlement terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Cancellation
                          descriptor:
                            name: Cancellation terms and conditions
                            short_desc: Short description of cancellation terms
                            long_desc: Long descripiton of cancellation terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Refund
                          descriptor:
                            name: Refund terms and conditions
                            short_desc: Short description of refund terms
                            long_desc: Long descripiton of refund terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Payment
                          descriptor:
                            name: Payment terms and conditions
                            short_desc: Short description of payment terms
                            long_desc: Long descripiton of payment terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: " Flat no. 702, C Wing, The One Society Siddhivinayak Vihar Bhugaon, bavdhan Pirangut"
                          locality: ""
                          city: Pune
                          state: Maharashtra
                          country: INDIA
                          area_code: "412115"
                        email: <EMAIL>
                        phone: <MOBILE_NUMBER>
                      payment:
                        uri: ""
                        type: ON-ORDER
                        status: NOT_PAID
                        tl_method: ""
                        params:
                          transaction_id: ""
                          amount: "1000"
                          mode: ""
                          vpa: ""
                          redirect_url: ""
                      quote:
                        price:
                          currency: INR
                          value: "1000"
                        breakup:
                          - title: Consultation
                            price:
                              currency: INR
                              value: "1000"
                          - title: CGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: SGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: Registration
                            price:
                              currency: INR
                              value: "0"
                      authorization:
                        type: PIN
                        token: 1234
                        valid_from: "2024-06-24T00:00:00"
                        valid_to: "2024-06-24T23:59:00"
                        status: GENERATED
                      customer:
                        person:
                          gender: M
                          dob: <DOB>
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                        id: <ABHA_ADDRESS>
                      provider:
                        id: "1"
              consultation-hspa-platform-sends-cancelled-order-status-physicalconsultat:
                summary: HSPA Platform sends CANCELLED order status(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_status
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35.481906"
                    provider_id: hspa-nha
                    provider_uri: http://hspasbx.abdm.gov.in/api/v1
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    order:
                      id: 8441-696786-1042
                      state: CANCELLED
                      item:
                        id: "1"
                        descriptor:
                          code: Consultation
                          name: Consultation
                      fulfillment:
                        id: d680dd36-1d0d-43c6-96c4-dec0f06008ea
                        type: Physical
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          gender: F
                          tags:
                            "@abdm/gov.in/education": MBBS,MS
                            "@abdm/gov.in/experience": "15.0"
                            "@abdm/gov.in/languages": English, Hindi, Marathi
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                            "@abdm/gov.in/hfr_id": <HPR_ID>
                            "@abdm/gov.in/hip_id": IN2910000074
                        start:
                          time:
                            timestamp: "2022-09-15T15:00:00"
                        end:
                          time:
                            timestamp: "2022-09-15T15:15:00"
                        tags:
                          "@abdm/gov.in/teleconsultation/uri": www.callmyhspa.com/tele
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            short_desc: Short description of commercial terms
                            long_desc: Long descripiton of commercial terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Settlement
                          descriptor:
                            name: Settlement terms and conditions
                            short_desc: Short description of settlement terms
                            long_desc: Long descripiton of settlement terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Cancellation
                          descriptor:
                            name: Cancellation terms and conditions
                            short_desc: Short description of cancellation terms
                            long_desc: Long descripiton of cancellation terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Refund
                          descriptor:
                            name: Refund terms and conditions
                            short_desc: Short description of refund terms
                            long_desc: Long descripiton of refund terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Payment
                          descriptor:
                            name: Payment terms and conditions
                            short_desc: Short description of payment terms
                            long_desc: Long descripiton of payment terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: " Flat no. 702, C Wing, The One Society Siddhivinayak Vihar Bhugaon, bavdhan Pirangut"
                          locality: ""
                          city: Pune
                          state: Maharashtra
                          country: INDIA
                          area_code: "412115"
                        email: <EMAIL>
                        phone: <MOBILE_NUMBER>
                      payment:
                        uri: ""
                        type: ON-ORDER
                        status: NOT_PAID
                        tl_method: ""
                        params:
                          transaction_id: ""
                          amount: "1000"
                          mode: ""
                          vpa: ""
                          redirect_url: ""
                      authorization:
                        type: PIN
                        token: 1234
                        valid_from: "2024-06-24T00:00:00"
                        valid_to: "2024-06-24T23:59:00"
                        status: GENERATED
                      quote:
                        price:
                          currency: INR
                          value: "1000"
                        breakup:
                          - title: Consultation
                            price:
                              currency: INR
                              value: "1000"
                          - title: CGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: SGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: Registration
                            price:
                              currency: INR
                              value: "0"
                      customer:
                        person:
                          gender: M
                          dob: <DOB>
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                        id: <ABHA_ADDRESS>
                      provider:
                        id: "1"
              consultation-hspa-platform-sends-completed-order-status-physicalconsultat:
                summary: HSPA Platform sends COMPLETED order status(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_status
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35.481906"
                    provider_id: hspa-nha
                    provider_uri: http://hspasbx.abdm.gov.in/api/v1
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    order:
                      id: 8441-696786-1042
                      state: COMPLETED
                      item:
                        id: "1"
                        descriptor:
                          code: Consultation
                          name: Consultation
                      fulfillment:
                        id: d680dd36-1d0d-43c6-96c4-dec0f06008ea
                        type: Physical
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          gender: F
                          tags:
                            "@abdm/gov.in/education": MBBS,MS
                            "@abdm/gov.in/experience": "15.0"
                            "@abdm/gov.in/languages": English, Hindi, Marathi
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                            "@abdm/gov.in/hfr_id": <HPR_ID>
                            "@abdm/gov.in/hip_id": IN2910000074
                        start:
                          time:
                            timestamp: "2022-09-15T15:00:00"
                        end:
                          time:
                            timestamp: "2022-09-15T15:15:00"
                        tags:
                          "@abdm/gov.in/slot_id": d680dd36-1d0d-43c6-96c4-dec0f06008ea
                          "@abdm/gov.in/messaging_support": "true"
                          "@abdm/gov.in/deep_link": ""
                          "@abdm/gov.in/helpline_number": ""
                          "@abdm/gov.in/chatbot_link": ""
                          "@abdm/gov.in/care_context_id": care5148ed45372c
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            short_desc: Short description of commercial terms
                            long_desc: Long descripiton of commercial terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Settlement
                          descriptor:
                            name: Settlement terms and conditions
                            short_desc: Short description of settlement terms
                            long_desc: Long descripiton of settlement terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Cancellation
                          descriptor:
                            name: Cancellation terms and conditions
                            short_desc: Short description of cancellation terms
                            long_desc: Long descripiton of cancellation terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Refund
                          descriptor:
                            name: Refund terms and conditions
                            short_desc: Short description of refund terms
                            long_desc: Long descripiton of refund terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Payment
                          descriptor:
                            name: Payment terms and conditions
                            short_desc: Short description of payment terms
                            long_desc: Long descripiton of payment terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: " Flat no. 702, C Wing, The One Society Siddhivinayak Vihar Bhugaon, bavdhan Pirangut"
                          locality: ""
                          city: Pune
                          state: Maharashtra
                          country: INDIA
                          area_code: "412115"
                        email: <EMAIL>
                        phone: <MOBILE_NUMBER>
                      payment:
                        uri: ""
                        type: ON-ORDER
                        status: PAID
                        tl_method: ""
                        params:
                          transaction_id: ""
                          amount: "1000"
                          mode: ""
                          vpa: ""
                          redirect_url: ""
                      quote:
                        price:
                          currency: INR
                          value: "1000"
                        breakup:
                          - title: Consultation
                            price:
                              currency: INR
                              value: "1000"
                          - title: CGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: SGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: Registration
                            price:
                              currency: INR
                              value: "0"
                      authorization:
                        type: PIN
                        token: 1234
                        valid_from: "2024-06-24T00:00:00"
                        valid_to: "2024-06-24T23:59:00"
                        status: VERIFIED
                      customer:
                        person:
                          gender: M
                          dob: <DOB>
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                        id: <ABHA_ADDRESS>
                      provider:
                        id: "1"
              consultation-hspa-platform-sends-appointment-started-order-status-physica:
                summary: HSPA Platform sends APPOINTMENT_STARTED order status(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_status
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35.481906"
                    provider_id: hspa-nha
                    provider_uri: http://hspasbx.abdm.gov.in/api/v1
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    order:
                      id: 8441-696786-1042
                      state: APPOINTMENT_STARTED
                      item:
                        id: "1"
                        descriptor:
                          code: Consultation
                          name: Consultation
                      fulfillment:
                        id: d680dd36-1d0d-43c6-96c4-dec0f06008ea
                        type: Physical
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          gender: F
                          tags:
                            "@abdm/gov.in/education": MBBS,MS
                            "@abdm/gov.in/experience": "15.0"
                            "@abdm/gov.in/languages": English, Hindi, Marathi
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                            "@abdm/gov.in/hfr_id": <HPR_ID>
                            "@abdm/gov.in/hip_id": IN2910000074
                        start:
                          time:
                            timestamp: "2022-09-15T15:00:00"
                        end:
                          time:
                            timestamp: "2022-09-15T15:15:00"
                        tags:
                          "@abdm/gov.in/slot_id": d680dd36-1d0d-43c6-96c4-dec0f06008ea
                          "@abdm/gov.in/messaging_support": "true"
                          "@abdm/gov.in/deep_link": ""
                          "@abdm/gov.in/helpline_number": ""
                          "@abdm/gov.in/chatbot_link": ""
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            short_desc: Short description of commercial terms
                            long_desc: Long descripiton of commercial terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Settlement
                          descriptor:
                            name: Settlement terms and conditions
                            short_desc: Short description of settlement terms
                            long_desc: Long descripiton of settlement terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Cancellation
                          descriptor:
                            name: Cancellation terms and conditions
                            short_desc: Short description of cancellation terms
                            long_desc: Long descripiton of cancellation terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Refund
                          descriptor:
                            name: Refund terms and conditions
                            short_desc: Short description of refund terms
                            long_desc: Long descripiton of refund terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                        - type: Payment
                          descriptor:
                            name: Payment terms and conditions
                            short_desc: Short description of payment terms
                            long_desc: Long descripiton of payment terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
                          termsState: AGREED
                      billing:
                        name: <NAME>
                        address:
                          door: ""
                          name: " Flat no. 702, C Wing, The One Society Siddhivinayak Vihar Bhugaon, bavdhan Pirangut"
                          locality: ""
                          city: Pune
                          state: Maharashtra
                          country: INDIA
                          area_code: "412115"
                        email: <EMAIL>
                        phone: <MOBILE_NUMBER>
                      payment:
                        uri: ""
                        type: ON-ORDER
                        status: PAID
                        tl_method: ""
                        params:
                          transaction_id: ""
                          amount: "1000"
                          mode: ""
                          vpa: ""
                          redirect_url: ""
                      quote:
                        price:
                          currency: INR
                          value: "1000"
                        breakup:
                          - title: Consultation
                            price:
                              currency: INR
                              value: "1000"
                          - title: CGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: SGST @ 5%
                            price:
                              currency: INR
                              value: "0"
                          - title: Registration
                            price:
                              currency: INR
                              value: "0"
                      authorization:
                        type: PIN
                        token: 1234
                        valid_from: "2024-06-24T00:00:00"
                        valid_to: "2024-06-24T23:59:00"
                        status: VERIFIED/HSPAOVERRIDE
                      customer:
                        person:
                          gender: M
                          dob: <DOB>
                          dayOfBirth: <DOB>
                          monthOfBirth: <DOB>
                          yearOfBirth: <DOB>
                          tags:
                            "@abdm/gov.in/abha_number": <ABHA_NUMBER>
                        id: <ABHA_ADDRESS>
                      provider:
                        id: "1"
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Send the order status
      x-abdm-hosted-by: eua
      x-abdm-triggered-by: uhi_consultation_status
  /cancel:
    post:
      tags:
        - HSPA - Provider Platform
      summary: /cancel (EUA → HSPA)
      operationId: uhi_consultation_cancel
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Sends the cancellation request to other party.
      servers: *a1
      requestBody:
        description: Describes the contents of the message
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      $ref: "#/components/schemas/Order"
                  required:
                    - order
                error:
                  $ref: "#/components/schemas/Error"
              required:
                - context
            examples:
              consultation-cancel-for-patient-cancelling-appointment:
                summary: Cancel for patient cancelling appointment
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: cancel
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35"
                    provider_id: hspa-nha
                    provider_uri: http://hspasbx.abdm.gov.in/api/v1
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    order:
                      id: 8441-696786-1042
                      state: CANCELLED
                      fulfillment:
                        tags:
                          "@abdm/gov.in/cancelledby": patient
                          "@abdm/gov.in/cancel_reason": predefined cancel reason
      responses:
        "200":
          description: Acknowledgement of message received
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: object
                    properties:
                      ack:
                        $ref: "#/components/schemas/Ack"
                    required:
                      - ack
                  error:
                    $ref: "#/components/schemas/Error"
                required:
                  - message
      parameters:
        - schema:
            type: string
          in: header
          name: Authorization
          description: UHI Auth header
          required: true
      x-abdm-title: Cancel the order
      x-abdm-hosted-by: hspa
      x-abdm-answered-by: uhi_consultation_on_cancel
  /on_cancel:
    post:
      tags:
        - EUA - Consumer Platform
      summary: /on_cancel (HSPA → EUA)
      operationId: uhi_consultation_on_cancel
      description: |-
        Sign this request first: [Signing](/docs/uhi/v1/concepts/signing).

        Receives the cancellation request from other party.

        The header Authorization is passed by HSPA to EUA

        Retry behaviour: not yet published.
      servers: *a2
      requestBody:
        description: Describes the contents of the message
        content:
          application/json:
            schema:
              type: object
              properties:
                context:
                  $ref: "#/components/schemas/Context"
                message:
                  type: object
                  properties:
                    order:
                      $ref: "#/components/schemas/Order"
                  required:
                    - order
                error:
                  $ref: "#/components/schemas/Error"
              required:
                - context
            examples:
              consultation-on-cancel-for-patient-cancelling-appointment-physicalconsult:
                summary: On_cancel for patient cancelling appointment(PhysicalConsultation)
                value:
                  context:
                    domain: nic2004:85111
                    country: IND
                    city: std:011
                    action: on_cancel
                    core_version: 0.7.1
                    consumer_id: eua-nha
                    consumer_uri: http://uhieuasandbox.abdm.gov.in/api/v1/euaService
                    message_id: e9a19230-f951-11ec-b135-53aea776f66b
                    timestamp: "2022-07-05T15:24:35.481906"
                    provider_id: hspa-nha
                    provider_uri: http://hspasbx.abdm.gov.in/api/v1
                    transaction_id: e9a19230-f951-11ec-b135-53aea776f66b
                  message:
                    order:
                      id: 8441-696786-1042
                      state: CANCELLED
                      item:
                        id: "1"
                        descriptor:
                          code: Consultation
                          name: Consultation
                      fulfillment:
                        id: d680dd36-1d0d-43c6-96c4-dec0f06008ea
                        type: Physical
                        agent:
                          id: <HPR_ADDRESS>@hpr.ndhm
                          name: <NAME>
                          gender: F
                          tags:
                            "@abdm/gov.in/education": MBBS,MS
                            "@abdm/gov.in/experience": "15.0"
                            "@abdm/gov.in/languages": English, Hindi, Marathi
                            "@abdm/gov.in/hpr_id": <HPR_ID>
                            "@abdm/gov.in/hfr_id": <HPR_ID>
                            "@abdm/gov.in/hip_id": IN2910000074
                        start:
                          time:
                            timestamp: "2022-09-15T15:00:00"
                        end:
                          time:
                            timestamp: "2022-09-15T15:15:00"
                        tags:
                          "@abdm/gov.in/cancelledby": patient
                          "@abdm/gov.in/cancel_reason": predefined cancel reason
                      terms:
                        - type: Commercial
                          descriptor:
                            name: Commercial terms and conditions
                            short_desc: Short description of commercial terms
                            long_desc: Long descripiton of commercial terms
                          reasonRequired: false
                          timePeriod: "2024-11-12T09:00:00"
                          reason: ""
[...]
