openapi: 3.0.3
info:
  title: PHR and Locker APIs
  version: 1.0.0
  description: Personal Health Record (PHR) app, ABHA enrolment and HIE-CM (consent, linking, data flow, subscription, locker) APIs, generated from the "PHR and locker" Postman collection. Examples are sandbox responses saved in that collection, with personal data and credentials replaced. All timestamps are UTC ISO-8601 with Z.
servers:
  - url: https://abhasbx.abdm.gov.in
    description: ABHA / PHR sandbox
tags:
  - name: Gateway
    description: Gateway
  - name: P3-Subscription
    description: P3-Subscription
  - name: ABHA enrolment via Aadhaar
    description: P1-Registration-login / P1 - Create ABHA Number using Aadhaar / ABHA enrolment via Aadhaar
  - name: P1 - Create ABHA Address Flow
    description: P1-Registration-login / P1 - Create ABHA Address Flow / Enrolment via Mobile
  - name: P1-Registration-login
    description: P1-Registration-login / P1 - Create ABHA Address Flow / Enrolment via ABHA Number-ABHA OTP
  - name: P1 - PHR Login
    description: P1-Registration-login / P1 - PHR Login / P1 - Login via Mobile Number
  - name: P1 - Login via ABHA Address - Password
    description: P1-Registration-login / P1 - PHR Login / P1 - Login via ABHA Address - Password
  - name: P2 -PHR Profile
    description: P2-Management / P2 -PHR Profile / P2 - Update Email (optional)
  - name: P2 - Link ABHA Number
    description: P2-Management / P2 -PHR Profile / P2 - Link ABHA Number / P2 - via ABHA OTP
  - name: P2 - Switch Profile
    description: P2-Management / P2 -PHR Profile / P2 - Switch Profile
  - name: P2 - Patient Share
    description: P2-Management / P2 - Patient Share
  - name: P2 - User Initiated Linking
    description: P2-Management / P2 - User Initiated Linking
  - name: P2 - Initiated Linking
    description: P2-Management / P2 -  Initiated Linking
  - name: HIU & HIP
    description: P2-Management / P2 - Consent Manager / HIU & HIP
  - name: FETCH & MANAGE CONSENT REQUESTS
    description: P2-Management / P2 - Consent Manager / FETCH & MANAGE CONSENT REQUESTS
  - name: P2 - Data Flow
    description: P2-Management / P2 - Data Flow
  - name: P4-Locker
    description: P4-Locker
paths:
  /abha/api/v3/enrollment/auth/byAbdm:
    post:
      tags:
        - ABHA enrolment via Aadhaar
      summary: Mobile Update - Verify OTP
      description: "This API verifies via Mobile OTP. After verifying OTP successfully mobile will be mobile number will be updated for further communication for perticular ABHA number. \r

        <br> <br>**Example of OTP Request**<br>  **Mobile Update - Verify OTP:** When the user wants to verify the Mobile Number for communication purpose.<br>   <br> <br><b>Note:</b><br> **1.**OTP will be valid for 10 minute only <br><br>"
      operationId: postEnrollmentAuthByAbdm
      security:
        - bearerAuth: []
      parameters:
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: '2022-10-06T15:10:00.587Z'
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                  example:
                    - abha-enrol
                    - mobile-verify
                    - email-verify
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                      example:
                        - otp
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                          example: '{{txnId}}'
                        otpValue:
                          type: string
                          example: '{{encrypted OTP}}'
                      required:
                        - txnId
                        - otpValue
                  required:
                    - authMethods
                    - otp
              required:
                - scope
                - authData
            examples:
              Mobile Update - Verify OTP:
                summary: ABHA enrolment via Aadhaar › Mobile Update - Verify OTP
                value:
                  scope:
                    - abha-enrol
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      timeStamp: '2022-10-06T15:10:00.587Z'
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: '{{encrypted otp}}'
      responses:
        '200':
          description: "The 200 response code indicates a successful request. In this context, it refers to the successful generation and delivery of an OTP (One-Time Password) for various services.<br><br> <strong>Types of OTP Responses:</strong> <ol> <li><strong> Mobile Update-Verify OTP-Positive flow:</strong> Indicates a successful request. The response includes a message indicating that the OTP has been verified successfully.</li> </ol>

            \ <ol start =\"2\">

            <li><strong>Mobile Update-Verify OTP-OTP Expired:</strong> This error occurs when the OTP provided for verification has expired. The OTP must be used within the valid time frame to ensure secure authentication.</li> </ol>

            \ "
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 9c5d453e-756f-45e1-9766-43b9cc1190de
                  authResult:
                    type: string
                    example: failed
                  message:
                    type: string
                    example: OTP expired, please try again,Mobile number is now successfully linked to your Account,Email address is now successfully linked to your Account
                  accounts:
                    type: array
                    items:
                      type: object
                    example:
                      - ABHANumber: <ABHA_NUMBER>
              examples:
                Mobile Update - Verify OTP-positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    authResult: success
                    message: Mobile number is now successfully linked to your Account
                    accounts:
                      - ABHANumber: <ABHA_NUMBER>
                Mobile Update - Verify OTP-OTP EXPIRED:
                  value:
                    txnId: 9c5d453e-756f-45e1-9766-43b9cc1190de
                    authResult: failed
                    message: OTP expired, please try again
                    accounts: []
                Email Update - Verify OTP-positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    authResult: success
                    message: Email address is now successfully linked to your Account
                    accounts:
                      - ABHANumber: <ABHA_NUMBER>
                Email Update - Verify OTP-OTP EXPIRED:
                  value:
                    txnId: 9c5d453e-756f-45e1-9766-43b9cc1190de
                    authResult: failed
                    message: OTP expired, please try again
                    accounts: []
                OTP EXPIRED:
                  value:
                    txnId: 9c5d453e-756f-45e1-9766-43b9cc1190de
                    authResult: failed
                    message: OTP expired, please try again
                    accounts: []
                positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    authResult: success
                    message: Mobile number is now successfully linked to your Account
                    accounts:
                      - ABHANumber: <ABHA_NUMBER>
        '400':
          description: "The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the OTP (One-Time Password) verification process.<br><br>

            \   <ol>

            \   <li>

            \   <p><strong>Invalid OTP Value:</strong> This error occurs when the OTP value provided for verification is invalid. The OTP must be correctly formatted and match the one sent to the user’s registered mobile number</p>

            \   </li>

            \   </ol>

            \   <ol start=\"2\">

            \   <li>

            \   <p><strong>Invalid Transaction Id:</strong>  This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the OTP request and ensuring that the correct OTP is verified.</p>

            \   </li>

            \   </ol>

            \   <ol start=\"3\">

            \   <li>

            \   <p><strong>Invalid Scope:</strong> This error occurs when the scope provided in the OTP verification request for mobile update is invalid. The scope specifies the purpose of the OTP verification, such as abha-enrol, mobile-verify, etc.</p>

            \   </li>

            \   </ol>

            \   <ol start=\"4\">

            \   <li>

            \   <p><strong>Invalid AuthMethod - :</strong>  This error occurs when the authentication method provided in the OTP verification request for mobile update is invalid. The authMethods field must contain valid authentication methods such as otp.</p>

            \   </li>

            \   </ol>

            \  "
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: Invalid Transaction Id
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T11:41:47.000Z'
                  - type: object
                    properties:
                      authMethods:
                        type: string
                        example: Invalid Auth Method
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T11:40:16.000Z'
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: 30839193-9788-4c0d-9459-7cd70a
                      description:
                        type: string
                        example: Invalid OTP value
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T14:37:47.000Z'
              examples:
                Mobile Update - Verify OTP:
                  summary: Invalid OTP Value
                  value:
                    txnId: 30839193-9788-4c0d-9459-7cd70a
                    description: Invalid OTP value
                Invalid Transaction Id:
                  summary: Invalid Transaction Id
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: '2024-05-10T11:41:47.000Z'
                Invalid Scope:
                  summary: Invalid scope
                  value:
                    scope: Invalid Scope
                    timestamp: '2024-05-10T11:41:47.000Z'
                Invalid AuthMethod:
                  summary: Invalid authMethod
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: '2024-05-10T11:21:54.000Z'
                Invalid Transaction Id (2):
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: '2024-05-10T11:41:47.000Z'
                Invalid authMethod:
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: '2024-05-10T11:40:16.000Z'
        '401':
          description: The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '900901'
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                Invalid access token:
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        '422':
          description: Unprocessable Entity
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Invalid OTP value:
                  value:
                    error:
                      code: ABDM-1204
                      message: 'UIDAI Error code : 400 : Invalid Aadhaar OTP value.'
        '500':
          description: The 500 response code indicates an Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '900900'
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: 'Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure'
              examples:
                Mobile Update - Verify OTP-Invalid access token:
                  value:
                    code: '900900'
                    message: Unclassified Authentication Failure
                    description: 'Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure'
                Invalid access token:
                  value:
                    code: '900900'
                    message: Unclassified Authentication Failure
                    description: 'Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure'
      x-documented-in: M1 ABHA Swagger 1.yaml
  /abha/api/v3/enrollment/enrol/abha-address:
    post:
      tags:
        - ABHA enrolment via Aadhaar
      summary: ABHA Address
      description: This API endpoint is used to enroll a new ABHA address. It allows users to create a unique ABHA address that can be used for accessing and managing their health records. The endpoint ensures that the provided ABHA address is unique and valid..
      operationId: postEnrollmentEnrolAbhaAddress
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: '2022-10-06T15:10:00.587Z'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                  example: '{{txnId}}'
                abhaAddress:
                  type: string
                  example: '{{abhaAddress}}'
                preferred:
                  type: integer
                  example: 1
              required:
                - txnId
                - abhaAddress
                - preferred
            examples:
              ABHA Address:
                summary: ABHA enrolment via Aadhaar › ABHA Address
                value:
                  txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                  abhaAddress: '{{ABHA Address}}'
                  preferred: 1
      responses:
        '200':
          description: The 200 response code indicates a successful request. In this context, it refers to the successful operation of the Enroll ABHA Address API.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: '{{txnId}}'
                  abhaAddress:
                    type: string
                    example: '{{abhaAddress}}'
                  preferred:
                    type: integer
                    example: 1
              examples:
                ABHA Address-Positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    healthIdNumber: <ABHA_NUMBER>
                    preferredAbhaAddress: <ABHA_ADDRESS>
                Positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    healthIdNumber: <ABHA_NUMBER>
                    preferredAbhaAddress: <ABHA_ADDRESS>
        '400':
          description: The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the operation of the Suggestion API.<br><br> <p><strong>Types of Suggestion API Errors:</strong></p> <ol> <li><strong>Invalid Preferred Flag:</strong> This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed. An invalid transaction ID means the server cannot verify the request, leading to a failure in enrolling the ABHA address. .</li> </ol> <ol start="2"> <li><strong>Invalid Transaction Id:</strong>This error occurs when the preferred flag provided in the request is invalid. The preferred flag indicates the user’s preference for the suggested ABHA address. An invalid preferred flag means the server cannot process the user’s preference correctly, leading to a failure in enrolling the ABHA address.</li> </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  preferred:
                    type: string
                    example: Invalid Preferred Flag
                  timestamp:
                    type: string
                    format: date-time
                    example: '2024-05-10T12:00:14.000Z'
              examples:
                ABHA Address-Invalid Preferred Flag:
                  summary: Invalid Preferred Flag
                  value:
                    preferred: Invalid Preferred Flag
                    timestamp: '2024-05-10T12:00:14.000Z'
                ABHA Address-Invalid Transaction Id:
                  summary: Invalid Transaction Id
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: '2024-05-10T12:01:22.000Z'
                Invalid Transaction Id:
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: '2024-05-10T12:01:22.000Z'
                Invalid Preferred Flag:
                  value:
                    preferred: Invalid Preferred Flag
                    timestamp: '2024-05-10T12:00:14.000Z'
        '401':
          description: The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '900901'
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                ABHA Address-Invalid access token:
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                Invalid access token:
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        '500':
          description: <b>Internal Server Error</b><br><br>  An Internal Server Error (500) indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
      x-documented-in: M1 ABHA Swagger 1.yaml
  /abha/api/v3/enrollment/enrol/byAadhaar:
    post:
      tags:
        - ABHA enrolment via Aadhaar
      summary: Create ABHA by verifying OTP
      description: 'This API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number for an individual using their Aadhaar number. The ABHA number is a unique identifier that helps in authenticating individuals and linking their health records across multiple systems and stakeholders, ensuring that medical records are issued to the correct individual and accessed by authorized Health Information Users with appropriate consent. '
      operationId: postEnrollmentEnrolByAadhaar
      security:
        - bearerAuth: []
      parameters:
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: '2022-10-06T15:10:00.587Z'
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                      example:
                        - otp
                        - demo_auth
                        - bio
                        - face
                        - iris
                        - child
                  required:
                    - authMethods
                  anyOf:
                    - type: object
                      properties:
                        otp:
                          type: object
                          properties:
                            txnId:
                              type: string
                              example: '{{txnId}}'
                            otpValue:
                              type: string
                              example: '{{encrypted otp}}'
                            mobile:
                              type: string
                              example: '{{mobile number}}'
                          required:
                            - txnId
                            - otpValue
                            - mobile
                      required:
                        - otp
                    - type: object
                      properties:
                        demo_auth:
                          type: object
                          properties:
                            aadhaarNumber:
                              type: string
                              example: '{{encrypted aadhaar number}}'
                            districtCode:
                              type: string
                              example: '{{District code}}'
                            stateCode:
                              type: string
                              example: '{{State code}}'
                            dateOfBirth:
                              type: string
                              example: '{{DOB}}'
                            gender:
                              type: string
                              example: '{{Gender}}'
                            name:
                              type: string
                              example: '{{Full name}}'
                            mobile:
                              type: string
                              example: '{{Mobile number}}'
                            pinCode:
                              type: string
                              example: '{{Pincode}}'
                            address:
                              type: string
                              example: '{{Address}}'
                            profilePhoto:
                              type: string
                              example: '{{Base64 plain String}}'
                          required:
                            - aadhaarNumber
                            - name
                            - gender
                            - dateOfBirth
                            - districtCode
                            - stateCode
                      required:
                        - demo_auth
                    - type: object
                      properties:
                        bio:
                          type: object
                          properties:
                            aadhaar:
                              type: string
                              example: '{{encrypted aadhaar number}}'
                            fingerPrintAuthPid:
                              type: string
                              example: '{{fingerPrintAuthPid}}'
                            mobile:
                              type: string
                              example: '{{mobile number}}'
                          required:
                            - aadhaar
                            - fingerPrintAuthPid
                            - mobile
                      required:
                        - bio
                    - type: object
                      properties:
                        face:
                          type: object
                          properties:
                            aadhaar:
                              type: string
                              example: '{{encrypted aadhaar number}}'
                            rdPidData:
                              type: string
                              example: '{{faceAuthPid}}'
                            mobile:
                              type: string
                              example: '{{mobile number}}'
                          required:
                            - aadhaar
                            - fingerPrintAuthPid
                            - mobile
                      required:
                        - face
                    - type: object
                      properties:
                        iris:
                          type: object
                          properties:
                            aadhaar:
                              type: string
                              example: '{{encrypted aadhaar number}}'
                            Pid:
                              type: string
                              example: '{{PID}}'
                            mobile:
                              type: string
                              example: '{{mobile number}}'
                          required:
                            - aadhaar
                            - fingerPrintAuthPid
                            - mobile
                      required:
                        - iris
                    - type: object
                      properties:
                        child:
                          type: object
                          properties:
                            dayOfBirth:
                              type: string
                              example: '{{day Of Birth}}'
                            monthOfBirth:
                              type: string
                              example: '{{month Of Birth}}'
                            yearOfBirth:
                              type: string
                              example: '{{year Of Birth}}'
                            gender:
                              type: string
                              example: '{{Gender}}'
                            password:
                              type: string
                              example: ''
                            name:
                              type: string
                              example: '{{Name}}'
                            profilePhoto:
                              type: string
                              example: ''
                            parentConsent:
                              type: string
                              example: 'true'
                          required:
                            - dayOfBirth
                            - monthOfBirth
                            - yearOfBirth
                            - gender
                            - name
                            - parentConsent
                      required:
                        - child
                consent:
                  type: object
                  properties:
                    code:
                      type: string
                      example: abha-enrollment
                    version:
                      type: string
                      example: '1.4'
              required:
                - authData
                - consent
            examples:
              Create ABHA by verifying OTP:
                summary: ABHA enrolment via Aadhaar › Create ABHA by verifying OTP
                value:
                  authData:
                    authMethods:
                      - otp
                    otp:
                      timeStamp: '2022-10-06T15:10:00.587Z'
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: '{{encrypted otp}}'
                      mobile: '{{mobile number for ABHA communication}}'
                  consent:
                    code: abha-enrollment
                    version: '1.4'
      responses:
        '200':
          description: The 200 response code indicates a successful request. In this context, it refers to the successful generation and delivery of an OTP (One-Time Password) for various services.<br><br> <strong>Types of OTP Responses:</strong> <ol> <li><strong>Create ABHA by Verifying OTP - Positive Flow:</strong> his API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems.</li> </ol> <ol start ="2"> <li><strong>CHILD ABHA - Positive Flow:</strong> This API endpoint is used to create a CHILD ABHA number for a minor using their demographic details. The CHILD ABHA number helps in uniquely identifying minors and linking their health records across multiple systems.</li> </ol> <ol start="3"> <li><strong>CHILD ABHA - Account Already Exists.</strong> This error occurs when an attempt is made to create a CHILD ABHA number for a minor who already has an existing ABHA number.</li> </ol> <ol start ="4"> <li><strong>DemoAuth API - In Case of Existing ABHA Numbe:</strong> This API endpoint is used for the demo authentication of an individual using their Aadhaar number. It verifies the demographic details against the Aadhaar database and generates an ABHA number if the details match. If an ABHA number already exists, it will return the existing ABHA number</li> </ol> <ol start ="5"> <li><strong>DemoAuth API - New ABHA Creation :</strong> This API endpoint is used for the demo authentication of an individual using their Aadhaar number. It verifies the demographic details against the Aadhaar database and generates a new ABHA number if the details match and no existing ABHA number is found.</li> </ol>
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: This account already exist,Account created successfully
                      tokens:
                        type: object
                        properties:
                          token:
                            type: string
                          expiresIn:
                            type: integer
                            example: 1800
                          refreshToken:
                            type: string
                          refreshExpiresIn:
                            type: integer
                            example: 1296000
                      ABHAProfile:
                        type: object
                        properties:
                          firstName:
                            type: string
                            example: Username
                          middleName:
                            type: string
                            example: ''
                          lastName:
                            type: string
                            example: <NAME>
                          dob:
                            type: string
                            example: <DOB>
                          gender:
                            type: string
                            example: F
                          mobile:
                            type: string
                            example: '******0903'
                          phrAddress:
                            type: array
                            items:
                              type: string
                            example:
                              - <ABHA_ADDRESS>
                          districtCode:
                            type: string
                            example: '490'
                          stateCode:
                            type: string
                            example: '27'
                          abhaType:
                            type: string
                            example: CHILD
                          stateName:
                            type: string
                            example: Maharashtra
                          districtName:
                            type: string
                            example: <ADDRESS>
                          ABHANumber:
                            type: string
                            example: <ABHA_NUMBER>
                          abhaStatus:
                            type: string
                            example: ACTIVE
                      isNew:
                        type: boolean
                        example: false
                  - type: object
                    properties:
                      healthIdNumber:
                        type: string
                        example: <ABHA_NUMBER>
                      healthId:
                        type: string
                        example: <ABHA_ADDRESS>
                      mobile:
                        type: string
                        example: '******0903'
                      firstName:
                        type: string
                        example: Username
                      middleName:
                        type: string
                        example: <NAME>
                      lastName:
                        type: string
                        example: <NAME>
                      name:
                        type: string
                        example: <NAME>
                      yearOfBirth:
                        type: string
                        example: '<DOB>'
                      dayOfBirth:
                        type: string
                        example: '<DOB>'
                      monthOfBirth:
                        type: string
                        example: '<DOB>'
                      gender:
                        type: string
                        example: F
                      stateCode:
                        type: string
                        example: '27'
                      districtCode:
                        type: string
                        example: '490'
                      stateName:
                        type: string
                        example: MAHARASHTRA
                      districtName:
                        type: string
                        example: <ADDRESS>
                      kycVerified:
                        type: boolean
                        example: true
                      token:
                        type: string
                      jwtResponse:
                        type: object
                        properties:
                          token:
                            type: string
                          expiresIn:
                            type: integer
                            example: 1800
                          refreshToken:
                            type: string
                          refreshExpiresIn:
                            type: integer
                            example: 1296000
                      status:
                        type: string
                        example: ACTIVE
                      new:
                        type: string
                        example: true,false
              examples:
                Create ABHA by verifying OTP - Positive flow:
                  value:
                    message: This account already exist
                    txnId: b89ec10d-71fa-4280-83b3-1fedad66b5f5
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: John
                      middleName: ''
                      lastName: Doe
                      dob: <DOB>
                      gender: M
                      photo: <BASE64_PHOTO> <BASE64_PHOTO>
                      mobile: '******0903'
                      phrAddress:
                        - <ABHA_ADDRESS>
                      address: <ADDRESS>
                      districtCode: '478'
                      stateCode: '27'
                      pinCode: '<PINCODE>'
                      abhaType: STANDARD
                      stateName: MAHARASHTRA
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: false
                Create CHILD ABHA - Positive Flow:
                  value:
                    message: Account created successfully
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: John
                      middleName: ''
                      lastName: Doe
                      dob: <DOB>
                      gender: F
                      photo: ''
                      mobile: '******0903'
                      districtCode: '490'
                      stateCode: '27'
                      abhaType: CHILD
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: true
                Create ABHA via Biometric (Fingerprint, Face, IRIS) - Positive Flow:
                  value:
                    message: Account created successfully
                    txnId: b764e218-72b7-4bd7-a11e-2c9f2880fd61
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: John
                      middleName: ''
                      lastName: Doe
                      dob: <DOB>
                      gender: F
                      photo: ''
                      mobile: '******0903'
                      email: null
                      phrAddress:
                        - <ABHA_ADDRESS>
                      districtCode: '490'
                      stateCode: '27'
                      abhaType: CHILD
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: true
                CHILD ABHA - Account Already Exist:
                  value:
                    message: This account already exist
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: John
                      middleName: ''
                      lastName: Doe
                      dob: <DOB>
                      gender: F
                      mobile: '******0903'
                      phrAddress:
                        - <ABHA_ADDRESS>
                      districtCode: '490'
                      stateCode: '27'
                      abhaType: CHILD
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: false
                DemoAuth API - In case of Existing ABHA Number:
                  value:
                    healthIdNumber: <ABHA_NUMBER>
                    healthId: <ABHA_ADDRESS>
                    mobile: '******0903'
                    firstName: John
                    middleName: ''
                    lastName: Doe
                    name: John Doe
                    yearOfBirth: '<DOB>'
                    dayOfBirth: '<DOB>'
                    monthOfBirth: '<DOB>'
                    gender: F
                    stateCode: '27'
                    districtCode: '494'
                    pincode: '<PINCODE>'
                    address: <ADDRESS>
                    stateName: MAHARASHTRA
                    districtName: <ADDRESS>
                    kycVerified: true
                    token: <JWT TOKEN>
                    jwtResponse:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                    status: ACTIVE
                    new: false
                DemoAuth API - New ABHA creation:
                  value:
                    healthIdNumber: <ABHA_NUMBER>
                    healthId: <ABHA_ADDRESS>
                    mobile: '******0903'
                    firstName: John
                    middleName: ''
                    lastName: Doe
                    name: John Doe
                    yearOfBirth: '<DOB>'
                    dayOfBirth: '<DOB>'
                    monthOfBirth: '<DOB>'
                    gender: F
                    stateCode: '27'
                    districtCode: '490'
                    stateName: MAHARASHTRA
                    districtName: <ADDRESS>
                    kycVerified: true
                    token: <JWT TOKEN>
                    jwtResponse:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                    status: ACTIVE
                    new: true
                positive flow:
                  value:
                    message: Account created successfully
                    txnId: b89ec10d-71fa-4280-83b3-1fedad66b5f5
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                    ABHAProfile:
                      firstName: John
                      middleName: ''
                      lastName: Doe
                      dob: <DOB>
                      gender: M
                      photo: <BASE64_PHOTO>
                      mobile: '******0903'
                      phrAddress:
                        - <ABHA_ADDRESS>
                      address: <ADDRESS>
                      districtCode: '478'
                      stateCode: '27'
                      pinCode: '<PINCODE>'
                      abhaType: STANDARD
                      stateName: MAHARASHTRA
                      districtName: <ADDRESS>
                      ABHANumber: <ABHA_NUMBER>
                      abhaStatus: ACTIVE
                    isNew: true
        '400':
          description: The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the OTP (One-Time Password) verification process.<br><br> <ol> <li> <p><strong>Create ABHA by Verifying OTP - Invalid Transaction Id:</strong>This API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems..</p> </li> </ol> <ol start="2"> <li> <p><strong>Create ABHA by Verifying OTP - Invalid authMethod:</strong> This API endpoint is used to create an ABHA number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems.</p> </li> </ol> <ol start="3"> <li> <p><strong>Create ABHA by Verifying OTP - Invalid Mobile Number:</strong> This API endpoint is used to create an ABHA number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems.</p> </li> </ol> <ol start="4"> <li> <p><strong>DemoAuth API - State District Not Matching - :</strong> This API endpoint is used for the demo authentication of an individual using their Aadhaar number. It verifies the demographic details against the Aadhaar database and generates an ABHA number if the details match.</p> </li> </ol>
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      txnId:
                        type: string
                        example: Invalid Transaction Id
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T11:41:47.000Z'
                  - type: object
                    properties:
                      authMethods:
                        type: string
                        example: Invalid Auth Method
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T11:40:16.000Z'
                  - type: object
                    properties:
                      mobile:
                        type: string
                        example: Invalid Mobile Number
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T11:44:46.000Z'
                  - type: object
                    properties:
                      districtCode:
                        type: string
                        example: Invalid state and district code
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T14:37:47.000Z'
              examples:
                Create ABHA by verifying OTP-Invalid Transaction Id:
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: '2024-05-10T11:41:47.000Z'
                Create ABHA by verifying OTP-Invalid authMethod:
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: '2024-05-10T11:40:16.000Z'
                Create ABHA by verifying OTP-Invalid Mobile Number:
                  value:
                    mobile: Invalid Mobile Number
                    timestamp: '2024-05-10T11:44:46.000Z'
                DemoAuth API-State District not matching:
                  value:
                    districtCode: Invalid state and district code
                    timestamp: '2024-05-10T14:37:47.000Z'
                Invalid Transaction Id:
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: '2024-05-10T11:41:47.000Z'
                Invalid authMethod:
                  value:
                    authMethods: Invalid Auth Method
                    timestamp: '2024-05-10T11:40:16.000Z'
                Invalid mobile Number:
                  value:
                    mobile: Invalid Mobile Number
                    timestamp: '2024-05-10T11:44:46.000Z'
        '401':
          description: 'The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials.<br><br> <strong>Types of OTP Response Errors:</strong> <ol> <li><strong>Aadhaar Bio - Invalid Benefit Name</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="2"> <li><strong>DemoAuth API - Invalid Benefit Name</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity..</li> </ol> <ol start="3"> <li><strong>CHILD ABHA - Invalid Benefit Name</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="4"> <li><strong> CHILD ABHA - Access Issue</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="5"> <li><strong>CHILD ABHA - X-token Expired</strong>: This error occurs when the X-token provided for authorization has expired. The X-token is essential for authenticating the request, and an expired token means the server cannot verify the user’s identity.</li> </ol> '
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      message:
                        type: string
                        example: Invalid Benefit Name,X-token expired
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T18:52:59.000Z'
                  - type: object
                    properties:
                      error:
                        type: object
                        properties:
                          code:
                            type: string
                            example: ABDM-1021
                          message:
                            type: string
                            example: Lack of required privileges
              examples:
                Aadhaar Bio-Invalid Benefit Name:
                  value:
                    message: Invalid Benefit Name
                    timestamp: '2024-05-10T14:39:48.000Z'
                DemoAuth API-Invalid Benefit Name:
                  value:
                    message: Invalid Benefit Name
                    timestamp: '2024-05-10T14:25:56.000Z'
                CHILD ABHA-Invalid Benefit Name:
                  value:
                    message: Invalid Benefit Name
                    timestamp: '2024-05-10T18:52:59.000Z'
                CHILD ABHA-Access Issue:
                  value:
                    error:
                      code: ABDM-1021
                      message: Lack of required priviledges
                CHILD ABHA - X-token expired:
                  value:
                    code: ABDM-1094
                    message: X-token expired
                    timestamp: '2024-05-10T18:55:03.000Z'
        '422':
          description: 'The 422 response code Indicates an unprocessable entity due to errors such as invalid OTP value.<br><br> <strong>Types of OTP Response Errors:</strong> <ol> <li><strong>Create ABHA by Verifying OTP - Invalid OTP Value</strong>: This API endpoint is used to create an ABHA (Ayushman Bharat Health Account) number by verifying an OTP sent to the user’s registered mobile number. The ABHA number uniquely identifies individuals and helps in authenticating them and linking their health records across multiple systems ,This error occurs when the OTP value provided in the request is invalid. The OTP must be correctly formatted and match the one sent to the user’s registered mobile number.</li> </ol> <ol start="2"> <li><strong>Aadhaar Bio - Invalid Certificate</strong>: This error occurs when the certificate provided for Aadhaar biometric authentication is invalid.</li> </ol> <ol start="3"> <li><strong>DemoAuth API - 6 ABHA Linked to Mobile</strong>: This error occurs when the mobile number provided is already linked to 6 ABHA numbers. The mobile number must be unique or linked to fewer than 6 ABHA numbers.</li> </ol> <ol start="4"> <li><strong>  DemoAuth API - Details Not Matches Against Aadhaar</strong>: This error occurs when the information provided does not match the details on record with Aadhaar. The demographic details must be accurate and match the Aadhaar records.</li> </ol> <ol start="5"> <li><strong>CHILD ABHA - CHILD LIMIT</strong>: This error occurs when the limit for creating or updating CHILD ABHA profiles has been exceeded. The request cannot be processed as the limit has been reached.</li> </ol> '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: ABDM-1157
                      message:
                        type: string
                        example: 'Child ABHA’s account limit has been exceeded for the requested Abha ID number ‘<ABHA_NUMBER>, UIDAI Error code : 400 : Invalid Aadhaar OTP value. , UIDAI Error code : 501 : Invalid certificate identifier in ci attribute of Skey,  The information you provided does not match the details on record with Aadhaar. Please verify and provide accurate information., The mobile number provided by you is already linked to 6 ABHA Numbers. Please provide a different Mobile Number'
              examples:
                Create ABHA by verifying OTP- Invalid OTP value:
                  value:
                    error:
                      code: ABDM-1204
                      message: 'UIDAI Error code : 400 : Invalid Aadhaar OTP value.'
                Aadhaar Bio-Invalid certificate:
                  value:
                    error:
                      code: ABDM-1204
                      message: 'UIDAI Error code : 501 : Invalid certificate identifier in “ci” attribute of “Skey”.'
                DemoAuth API-6 ABHA linked to Mobile:
                  value:
                    error:
                      code: ABDM-1124
                      message: The mobile number provided by you is already linked to 6 ABHA Numbers. Please provide a different Mobile Number.
                DemoAuth API-Details not matches against Aadhaar:
                  value:
                    error:
                      code: ABDM-1207
                      message: The information you provided does not match the details on record with Aadhaar. Please verify and provide accurate information.
                CHILD ABHA-CHILD LIMIT:
                  value:
                    error:
                      code: ABDM-1157
                      message: Child ABHA’s account limit has been exceeded for the requested Abha ID number ‘<ABHA_NUMBER>
                Invalid OTP value:
                  value:
                    error:
                      code: ABDM-1204
                      message: 'UIDAI Error code : 400 : Invalid Aadhaar OTP value.'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
              examples:
                Invalid access token:
                  value:
                    code: '900900'
                    message: Unclassified Authentication Failure
                    description: 'Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure'
      x-documented-in: M1 ABHA Swagger 1.yaml
  /abha/api/v3/enrollment/enrol/suggestion:
    get:
      tags:
        - ABHA enrolment via Aadhaar
      summary: ABHA Address Suggestion API
      description: This API endpoint is used to provide suggestions for ABHA addresses based on the user’s personal information. It helps users find suitable ABHA addresses by generating a list of suggestions. This is particularly useful during the ABHA enrollment process to ensure that users can choose an appropriate and unique ABHA address.
      operationId: getEnrollmentEnrolSuggestion
      security:
        - bearerAuth: []
      parameters:
        - name: Transaction_Id
          in: header
          required: true
          schema:
            type: string
          example: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: '2022-10-06T15:10:00.587Z'
      responses:
        '200':
          description: The 200 response code indicates a successful request. In this context, it refers to the successful operation of the Suggestion API, suggestions for ABHA addresses based on the user’s personal information.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: 23acf181-339d-4771-b532-5c5df4a28d19
                  abhaAddressList:
                    type: array
                    items:
                      type: string
                    example:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - Username
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
              examples:
                ABHA Address Suggestion API-Positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    abhaAddressList:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                Positive flow:
                  value:
                    txnId: 23acf181-339d-4771-b532-5c5df4a28d19
                    abhaAddressList:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
        '400':
          description: |-
            The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the operation of the Suggestion API.<br><br> <p><strong>Types of Suggestion API Errors:</strong></p>
              <ol>
              <li><strong>Abha Address - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed..</li>
              </ol>
              <ol start="2">
              <li><strong>Abha Address - Invalid Preferred Flag:</strong> This error occurs when the preferred flag provided in the request is invalid. The preferred flag indicates the user’s preference for the suggested ABHA address.</li>
              </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: Invalid Transaction Id
                  timestamp:
                    type: string
                    format: date-time
                    example: '2024-05-10T12:01:22.000Z'
              examples:
                Abha Address-Invalid Transaction Id:
                  value:
                    txnId: Invalid Transaction Id
                    timestamp: '2024-05-10T12:01:22.000Z'
                Abha Address-Invalid Preferred Flag:
                  value:
                    preferred: Invalid Preferred Flag
                    timestamp: '2024-05-10T12:00:14.000Z'
        '401':
          description: The 401 response code indicates an unauthorized request. In this context, This error occurs when the transaction ID provided in the request is invalid. The transaction ID is essential for tracking the request and ensuring that the correct information is processed. An invalid transaction ID means the server cannot verify the request, leading to a failure in generating ABHA address suggestions.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                        example: ABDM-1017
                      message:
                        type: string
                        example: Invalid Transaction Id
              examples:
                ABHA Address Suggestion API-Invalid Transaction Id:
                  value:
                    error:
                      code: ABDM-1017
                      message: Invalid Transaction Id
                Invalid Transaction Id:
                  value:
                    error:
                      code: ABDM-1017
                      message: Invalid Transaction Id
        '500':
          description: <b>Internal Server Error</b><br><br>  An Internal Server Error (500) indicates that the server encountered an unexpected condition that prevented it from fulfilling the request.
      x-documented-in: M1 ABHA Swagger 1.yaml
  /abha/api/v3/enrollment/request/otp:
    post:
      tags:
        - ABHA enrolment via Aadhaar
      summary: 'Use Case: ABHA enrollment - Send OTP using Aadhaar number Mobile number, ABHA number and Email address'
      description: "This API endpoint is used to generate and send an OTP (One-Time Password) to the user’s registered mobile number. The OTP is essential for verifying the user’s identity and ensuring secure access to the ABHA (Ayushman Bharat Health Account) enrollment process. Depending on the type of identifier provided (Aadhaar Number, ABHA Number, or Mobile Number), the OTP will be generated and sent to the corresponding registered mobile number.\r

        <br> <br> </ol>**Usage of this API for below scenarios: OTP Request**<br><br> **1. AADHAR OTP:**When the user wants to enroll using their Aadhar Number, an OTP is sent to the mobile number registered with their Aadhar linked mobile number. For this pass loginHint as \"Aadhar-number\".   <br>  **2. Mobile OTP:** When the user wants to enroll using their Mobile Number, an OTP is sent to the provided mobile number. For this pass loginHint as \"mobile-number\".<br><b>Note:</b><br> **1.**OTP will be valid for 10 minute only <br><br>


        Flows in the Postman collection:

        - P1-Registration-login › P1 - Create ABHA Number using Aadhaar › ABHA enrolment via Aadhaar › Send OTP

        - P1-Registration-login › P1 - Create ABHA Number using Aadhaar › ABHA enrolment via Aadhaar › Mobile Update - Send OTP"
      operationId: postEnrollmentRequestOtp
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: '2022-10-06T15:10:00.587Z'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                  example:
                    - email-verify
                    - abha-enrol
                    - mobile-verify
                loginHint:
                  type: string
                  example: aadhaar
                loginId:
                  type: string
                  example: '{{encrypted aadhaar number}},{{encrypted mobile number}},{{encrypted email address}}'
                otpSystem:
                  type: string
                  example: abdm,aadhaar
              required:
                - scope
                - loginHint
                - loginId
                - otpSystem
            examples:
              Send OTP:
                summary: ABHA enrolment via Aadhaar › Send OTP
                value:
                  txnId: ''
                  scope:
                    - abha-enrol
                  loginHint: aadhaar
                  loginId: '{{encrypted aadhaar}}'
                  otpSystem: aadhaar
              Mobile Update - Send OTP:
                summary: ABHA enrolment via Aadhaar › Mobile Update - Send OTP
                value:
                  txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                  scope:
                    - abha-enrol
                    - mobile-verify
                  loginHint: mobile
                  loginId: '{{encrypted mobileNumber}}'
                  otpSystem: abdm
      responses:
        '200':
          description: |-
            The 200 response code indicates a successful request. In this context, it refers to the successful generation and delivery of an OTP (One-Time Password) for various services.<br><br> <strong>Types of OTP Responses:</strong> <ol> <li><strong>AADHAAR OTP Response:</strong> This OTP is generated for authentication or verification purposes related to AADHAAR, the unique identification number issued by the Indian government.</li> </ol>
             <ol start ="2">
            <li><strong>ABHA OTP Response:</strong> This OTP is generated for authentication or verification purposes related to ABHA (Ayushman Bharat Health Account), which is part of India’s health ID system</li> </ol>
             <ol start="3">
            <li><strong>Mobile OTP Response.</strong> This OTP is generated for general mobile number verification purposes, such as logging into an account, completing a transaction, or verifying identity</li> </ol> <ol start ="4"> <li><strong>Email OTP Response:</strong> This OTP is generated for verification purposes of Email, the OTP is send to the registered email address </li> </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                    example: c6a49f66-c740-4a7d-a93d-8c0431bbb8f3
                  message:
                    type: string
                    example: OTP is sent to Aadhaar registered mobile number ending with*******0903,OTP sent to Aadhaar registered mobile number ending with ******0903,OTP sent to email address ending with <EMAIL>
              examples:
                ABHA Creation via Aadhaar OTP-REQUEST OTP FOR AADHAAR AUTHENTICATION:
                  value:
                    txnId: c6a49f66-c740-4a7d-a93d-8c0431bbb8f3
                    message: OTP is sent to Aadhaar registered mobile number ending with*******0903
                Mobile Update - Send OTP- positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-107h6b18a5fa
                    message: OTP sent to mobile number ending with ******0903
                ABHA enrolment via Aadhaar-positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                    message: OTP sent to Aadhaar registered mobile number ending with ******0903
                Email Verify via OTP-positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                    message: OTP sent to email address ending with <EMAIL>
                positive flow:
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                    message: OTP sent to Aadhaar registered mobile number ending with ******0903
                positive flow (2):
                  value:
                    txnId: 37d8d312-35a0-41e7-a6e4-107h6b18a5fa
                    message: OTP sent to mobile number ending with ******0903
        '400':
          description: 'The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the OTP (One-Time Password) generation or validation process.<br><br> <strong>Types of OTP Response Errors:</strong> <ol> <li><strong>ABHA enrolment via Aadhar - Invalid Scope</strong>: This error occurs when the scope provided in the OTP request is invalid. The scope specifies the purpose of the OTP request, such as abha-enrol, mobile-verify, etc.</li> </ol> <ol start="2"> <li><strong>ABHA enrolment via Aadhar  -Send OTP- Invalid LoginId</strong>: This error occurs when the login ID provided for the Aadhaar OTP is invalid. The login ID should be the encrypted Aadhaar number.</li> </ol> <ol start="3"> <li><strong>Mobile Update -Send OTP- Invalid Scope</strong>:  This error occurs when the scope provided in the OTP request for mobile update is invalid.</li> </ol> <ol start="4"> <li><strong>Mobile Update -Send OTP- Invalid LoginId</strong>: This error occurs when the login ID provided for the mobile OTP is invalid. The login ID should be the encrypted mobile number.</li> </ol> <ol start="5"> <li><strong>Mobile Update -Send OTP- Invalid LoginHint</strong>: This error occurs when the login hint provided for the mobile OTP is invalid. The login hint should indicate the type of identifier being used, such as mobile.</li> </ol>  <ol start="6"> <li><strong>ABHA Creation via Aadhar- Invalid Scope</strong>: This error occurs when the scope provided in the OTP request for ABHA creation via Aadhaar is invalid.</li> </ol> <ol start="7"> <li><strong>ABHA Creation via Aadhar- Invalid Login Hint</strong>: This error occurs when the login hint provided for the Aadhaar OTP is invalid. The login hint should indicate the type of identifier being used, such as aadhaar.</li> </ol> <ol start="8"> <li><strong>ABHA enrolment via Aadhar  - Invalid Scope</strong>: The scope of the OTP response is invalid.</li> </ol><ol start="9"> <li><strong>ABHA Verify via Email- Invalid Scope</strong>: This error occurs when the scope provided in the OTP request for ABHA creation via email is invalid.</li> </ol> <ol start="10"> <li><strong>ABHA Verify via Email- Invalid Login Hint</strong>: This error occurs when the login hint provided for the email OTP is invalid. The login hint should indicate the type of identifier being used, such as aadhaar.</li> </ol> <ol start="11"> <li><strong>ABHA Verify via Email  - Invalid LoginHint</strong>: This error occurs when the email ID provided for the email OTP is invalid. The login ID should be the encrypted email address..</li> </ol> '
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      scope:
                        type: string
                        example: Invalid Scope
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T11:13:04.000Z'
                  - type: object
                    properties:
                      loginId:
                        type: string
                        example: Invalid LoginId
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T11:15:14.000Z'
                  - type: object
                    properties:
                      loginHint:
                        type: string
                        example: Invalid Login Hint
                      timestamp:
                        type: string
                        format: date-time
                        example: '2024-05-10T11:16:16.000Z'
              examples:
                ABHA enrolment via Aadhaar-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: '2024-05-10T11:13:04.000Z'
                ABHA enrolment via Aadhaar-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: '2024-05-10T11:15:14.000Z'
                ABHA enrolment via Aadhaar-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: '2024-05-10T11:16:16.000Z'
                Mobile Update - Send OTP-Invalid Scope:
                  value:
                    scope: Invalid Scope
                    timestamp: '2024-05-10T11:13:04.000Z'
                Mobile Update - Send OTP-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: '2024-05-10T11:15:14.000Z'
                Mobile Update - Send OTP-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: '2024-05-10T11:16:16.000Z'
                ABHA Creation via Aadhaar OTP-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: '2024-05-10T11:13:04.000Z'
                ABHA Creation via Aadhaar OTP-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: '2024-05-10T11:16:16.000Z'
                ABHA Verify via Email-Invalid Login Hint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: '2024-05-10T11:16:16.000Z'
                ABHA Verify via Email-Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: '2024-05-10T11:13:04.000Z'
                ABHA Verify via Email-Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: '2024-05-10T11:15:14.000Z'
                Invalid LoginId:
                  value:
                    loginId: Invalid LoginId
                    timestamp: '2024-05-10T11:15:14.000Z'
                  description: 'Note: When mobile number is invalid or empty'
                Invalid scope:
                  value:
                    scope: Invalid Scope
                    timestamp: '2024-05-10T11:13:04.000Z'
                  description: 'Note: When scope is removed'
                Invalid LoginHint:
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: '2024-05-10T11:16:16.000Z'
                  description: 'Note: When loginHint is empty or invalid'
                Invalid LoginId (2):
                  value:
                    loginId: Invalid LoginId
                    timestamp: '2024-05-10T11:15:14.000Z'
                  description: 'Note: When mobile number is invalid or empty'
                Invalid LoginHint (2):
                  value:
                    loginHint: Invalid Login Hint
                    timestamp: '2024-05-10T11:16:16.000Z'
                  description: 'Note: When loginHint is empty or invalid'
                Invalid scope (2):
                  value:
                    scope: Invalid Scope
                    timestamp: '2024-05-10T11:13:04.000Z'
                  description: 'Note: When scope is removed'
        '401':
          description: 'The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the Invalid Credentials <br><br> <strong>Types of OTP Response Errors:</strong> <ol> <li><strong>ABHA Enrolment via Aadhaar - Invalid Access Token</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="2"> <li><strong>Mobile Update - Send OTP - Invalid Access Token</strong>: This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="3"> <li><strong>ABHA Creation via Aadhaar OTP - Invalid Access Token</strong>:  This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> <ol start="4"> <li><strong>EMail verification via  OTP - Invalid Access Token</strong>:  This error occurs when the access token provided for authorization is invalid. The access token is essential for authenticating the request, and an invalid token means the server cannot verify the user’s identity.</li> </ol> '
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '900901'
                  message:
                    type: string
                    example: Invalid Credentials
                  description:
                    type: string
                    example: Invalid JWT token. Make sure you have provided the correct security credentials
              examples:
                ABHA enrolment via Aadhaar-Invalid access token:
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                Mobile Update - Send OTP-Invalid access token:
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                ABHA Creation via Aadhaar OTP-Invalid access token:
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                Email verify via  OTP-Invalid access token:
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                Invalid access token:
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
                Invalid access token (2):
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided the correct security credentials
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    example: '900900'
                  message:
                    type: string
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    example: 'Access failure for API: /abha/api/v3, version: v3 status: (900900) - Unclassified Authentication Failure'
      x-documented-in: M1 ABHA Swagger 1.yaml
  /abha/api/v3/phr/app/enrollment/enrol:
    post:
      tags:
        - P1 - Create ABHA Address Flow
      summary: '3 flows: Enroll ABHA Address'
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via Mobile › Enroll ABHA Address
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-ABHA OTP › Enroll ABHA Address
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-Aadhaar OTP › Enroll ABHA Address
      operationId: postEnrollmentEnrol
      security:
        - apiKeyAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: '2022-10-06T15:10:00.587Z'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                phrDetails:
                  type: object
                  properties:
                    mobile:
                      type: string
                    firstName:
                      type: string
                    middleName:
                      type: string
                    lastName:
                      type: string
                    yearOfBirth:
                      type: string
                    dayOfBirth:
                      type: string
                    monthOfBirth:
                      type: string
                    gender:
                      type: string
                    email:
                      type: string
                    profilePhoto:
                      type: string
                    address:
                      type: string
                    stateName:
                      type: string
                    stateCode:
                      type: string
                    districtName:
                      type: string
                    districtCode:
                      type: string
                    pinCode:
                      type: string
                    abhaAddress:
                      type: string
                    password:
                      type: string
            examples:
              Enroll ABHA Address:
                summary: Enrolment via Mobile › Enroll ABHA Address
                value:
                  txnId: 27d444b7-2a3d-46d8-bf67-e5590b6c46b6
                  phrDetails:
                    mobile: <BASE64_PHOTO>
                    firstName: John
                    middleName: ''
                    lastName: Doe
                    yearOfBirth: '<DOB>'
                    dayOfBirth: ''
                    monthOfBirth: '<DOB>'
                    gender: M
                    email: ''
                    profilePhoto: ''
                    address: <ADDRESS>
                    stateName: Maharashtra
                    stateCode: '27'
                    districtName: <ADDRESS>
                    districtCode: '123'
                    pinCode: '<PINCODE>'
                    abhaAddress: <ABHA_ADDRESS>
                    password: <BASE64_PHOTO>
              Enroll ABHA Address (2):
                summary: Enrolment via ABHA Number-ABHA OTP › Enroll ABHA Address
                value:
                  txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                  phrDetails:
                    firstName: John
                    middleName: ''
                    lastName: Doe
                    dayOfBirth: '<DOB>'
                    monthOfBirth: '<DOB>'
                    yearOfBirth: '<DOB>'
                    gender: M
                    email: ''
                    mobile: <BASE64_PHOTO>
                    address: <ADDRESS>
                    stateName: Maharashtra
                    stateCode: '27'
                    districtName: <ADDRESS>
                    districtCode: '123'
                    pinCode: '<PINCODE>'
                    abhaAddress: <ABHA_ADDRESS>
                    password: <BASE64_PHOTO>
              Enroll ABHA Address (3):
                summary: Enrolment via ABHA Number-Aadhaar OTP › Enroll ABHA Address
                value:
                  txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                  phrDetails:
                    firstName: John
                    middleName: ''
                    lastName: Doe
                    dayOfBirth: '<DOB>'
                    monthOfBirth: '<DOB>'
                    yearOfBirth: '<DOB>'
                    gender: M
                    email: ''
                    mobile: <BASE64_PHOTO>
                    address: <ADDRESS>
                    stateName: Maharashtra
                    stateCode: '27'
                    districtName: <ADDRESS>
                    districtCode: '123'
                    pinCode: '<PINCODE>'
                    abhaAddress: <ABHA_ADDRESS>
                    password: <BASE64_PHOTO>
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  message:
                    type: string
                  phrDetails:
                    type: object
                    properties:
                      firstName:
                        type: string
                      middleName:
                        type: string
                      lastName:
                        type: string
                      fullName:
                        type: string
                      dayOfBirth:
                        type: string
                      monthOfBirth:
                        type: string
                      yearOfBirth:
                        type: string
                      dateOfBirth:
                        type: string
                      gender:
                        type: string
                      email:
                        type: string
                      mobile:
                        type: string
                      address:
                        type: string
                      stateName:
                        type: string
                      districtName:
                        type: string
                      pinCode:
                        type: string
                      abhaAddress:
                        type: array
                        items:
                          type: string
                      stateCode:
                        type: string
                      districtCode:
                        type: string
                  tokens:
                    type: object
                    properties:
                      token:
                        type: string
                      expiresIn:
                        type: integer
                      refreshToken:
                        type: string
                      refreshExpiresIn:
                        type: integer
              examples:
                Enroll ABHA Address:
                  value:
                    txnId: 6907ebb5-ff71-47f9-8052-6dd5554df5df
                    message: ABHA Address Created Successfully
                    phrDetails:
                      firstName: John
                      middleName: ''
                      lastName: Doe
                      fullName: John Doe
                      dayOfBirth: '<DOB>'
                      monthOfBirth: '<DOB>'
                      yearOfBirth: '<DOB>'
                      dateOfBirth: <DOB>
                      gender: M
                      email: <EMAIL>
                      mobile: '******1234'
                      address: <ADDRESS>
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      pinCode: '<PINCODE>'
                      abhaAddress:
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                      stateCode: '27'
                      districtCode: '123'
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                Enroll ABHA Address (2):
                  value:
                    txnId: 6907ebb5-ff71-47f9-8052-6dd4254df5df
                    message: ABHA Address Created Successfully
                    phrDetails:
                      firstName: John
                      middleName: ''
                      lastName: Doe
                      fullName: John Doe
                      dayOfBirth: '<DOB>'
                      monthOfBirth: '<DOB>'
                      yearOfBirth: '<DOB>'
                      dateOfBirth: <DOB>
                      gender: M
                      email: <EMAIL>
                      mobile: '******0903'
                      address: <ADDRESS>
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      pinCode: '<PINCODE>'
                      abhaAddress:
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                      stateCode: '27'
                      districtCode: '123'
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                Enroll ABHA Address (3):
                  value:
                    txnId: 6907ebb5-ff71-47f9-8052-6dd4254df5df
                    message: ABHA Address Created Successfully
                    phrDetails:
                      firstName: John
                      middleName: ''
                      lastName: Doe
                      fullName: John Doe
                      dayOfBirth: '<DOB>'
                      monthOfBirth: '<DOB>'
                      yearOfBirth: '<DOB>'
                      dateOfBirth: <DOB>
                      gender: M
                      email: <EMAIL>
                      mobile: '******0903'
                      address: <ADDRESS>
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      pinCode: '<PINCODE>'
                      abhaAddress:
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                      stateCode: '27'
                      districtCode: '123'
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
              examples:
                Enroll ABHA Address-ABHA Address already exists:
                  value:
                    code: 'ABDM-9999: '
                    message: This ABHA Address already exists. Please create with unique ABHA address
                Enroll ABHA Address-Invalid Day and Month Of Birth:
                  value:
                    - code: 'ABDM-9999: '
                      message: Invalid Month Of Birth
                    - code: 'ABDM-9999: '
                      message: Invalid Day Of Birth
                Enroll ABHA Address-Invalid First Name:
                  value:
                    - code: 'ABDM-9999: '
[...]
