# Module M1: ABHA identity.
#
# Operations are derived from NHA's own M1 Postman collection: paths,
# methods, headers, request schemas and the response examples NHA saved.
# Every summary and description is written by hand, because generated prose
# makes an agent pick the wrong tool.
#
# Nothing here has been run against the sandbox from this repository.
# Sample values are scrubbed: tokens, ABHA numbers and long identifiers in
# NHA's collection are replaced with placeholders.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  title: ABDM M1, ABHA identity
  summary: Create, find, log into and manage an ABHA, the health account that
    identifies a patient across ABDM.
  description: |
    M1 is where a patient gets an identity. An ABHA number is a 14 digit
    identifier issued after a KYC check, and an ABHA address is the readable
    name, such as `name@sbx`, that the rest of ABDM uses to route records.

    You are here if you are building a PHR app, or a hospital, lab or pharmacy
    system that registers patients. Everything in M2 and M3 assumes the patient
    already has an ABHA address, and this module is how they get one.

    Two versions live side by side. Most of M1 is served from `/abha/api/v3`
    and a few login calls from `/abha/api/v3.1`, so the version is part of the
    path here rather than part of the server URL.

    Where this comes from, and what it is worth. Paths, methods, headers,
    request shapes and the response examples are derived from NHA's own M1
    Postman collection. Nothing has been run against the sandbox from this
    repository, so no operation here is verified. Where NHA saved no response
    body, the operation says so rather than guessing a shape.

    Sample values are scrubbed. Tokens, ABHA numbers and long identifiers are
    replaced with placeholders, and Postman variables such as
    `{{lastResponseTxnId}}` are rewritten as `<LAST_RESPONSE_TXN_ID>`.

    One rule runs through the whole module. Identifiers you send, an Aadhaar
    number, a mobile number, an OTP, are encrypted against NHA's public key
    rather than sent raw.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://devforum.abdm.gov.in
  x-abdm-gateway: hiecm
  x-abdm-module: M1
  x-abdm-phase: 1
  x-abdm-roles:
  - phr
  - his
x-abdm-sources:
- file: ABDM Sandbox/ABDM/M1 ABHA Collection.postman_collection.json
  role: upstream
  status: not-yet-hashed
  note: 'NHA''s own M1 collection, 123 requests. Every operation below is derived
    from it: paths, methods, headers, request shapes and the saved response examples.
    Tag names are its folder names, so an integrator reading NHA''s collection
    finds the same words here.'
- file: ABDM Sandbox/ABDM/Proposed Simplified Milestone 1.docx
  role: upstream
  status: not-yet-hashed
  note: Carries the sandbox and production base URLs and the enrolment flows.
- url: https://sandbox.abdm.gov.in/sandbox/v3/new-documentation/swagger
  role: upstream
  status: not-yet-fetched
  note: The published swagger. Fetch and hash it before filling `paths`.
servers:
- url: https://abhasbx.abdm.gov.in/abha/api
  description: Sandbox. The version segment is part of the path, because M1 serves
    both v3 and v3.1.
- url: https://abha.abdm.gov.in/api/abha
  description: Production.
security:
- gatewaySession: []
tags:
- name: abha-creation
  description: |
    Creating an ABHA number after verifying who the person is. NHA supports Aadhaar OTP, face authentication, fingerprint, IRIS, demographic authentication, a driving licence route, and a separate route for a child. Aadhaar OTP is mandatory for every integrator. The rest are optional.
- name: abha-login
  description: |
    Signing an existing ABHA holder in, by mobile number, Aadhaar number, ABHA number with a password, mobile OTP, biometric, or a face authentication QR code.
- name: abha-profile
  description: |
    Managing an account after it exists. Updating the mobile number or email, setting a password, repeating KYC, downloading the ABHA card, deactivating, reactivating, deleting, and logging out.
- name: find-abha
  description: |
    Recovering an ABHA for someone who does not remember it, using mobile OTP, Aadhaar OTP, face authentication or fingerprint.
- name: benefit-apis
  description: |
    The benefit scheme variants of creation, search and linking. These calls carry the `BENEFIT_NAME` header.
- name: tokens-and-encryption
  description: |
    The certificate and token calls the other groups depend on, including the public key used to encrypt Aadhaar and mobile values in transit.
paths:
  /v3/enrollment/auth/byAbdm:
    post:
      operationId: m1_enrolment_verify_abdm_otp
      tags:
      - abha-creation
      summary: Verify an OTP that ABDM sent, during enrolment
      description: |
        Confirms the mobile number or email address the person gave during
        enrolment. The OTP here came from ABDM rather than from Aadhaar, which is
        why the call is separate from the Aadhaar verification.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                        otpValue:
                          type: string
                        timeStamp:
                          type: string
                      required:
                      - otpValue
                      - txnId
                  required:
                  - authMethods
                  - otp
              required:
              - authData
              - scope
            examples:
              create_abha_aadhaar_otp:
                summary: create abha aadhaar otp
                value:
                  scope:
                  - abha-enrol
                  - mobile-verify
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
              create_abha_aadhaar_otp_alt:
                summary: create abha aadhaar otp alt
                value:
                  scope:
                  - abha-enrol
                  - email-verify
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
              create_abha_driving_license:
                summary: create abha driving license
                value:
                  scope:
                  - abha-enrol
                  - mobile-verify
                  - dl-flow
                  authData:
                    authMethods:
                    - otp
                    otp:
                      timeStamp: <GENERATED>
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-enrolment-verify-abdm-otp
  /v3/enrollment/enrol/abha-address:
    post:
      operationId: m1_enrolment_claim_abha_address
      tags:
      - abha-creation
      summary: Claim a chosen ABHA address
      description: |
        Attaches the address the person picked to the ABHA number created
        earlier. `preferred: 1` marks it as the one to show.

        Until this succeeds the account has only the default address that NHA
        issues automatically, which is the fourteen digit number followed by
        `@sbx` or `@abdm` and which nobody can remember.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                abhaAddress:
                  type: string
                preferred:
                  type: integer
              required:
              - abhaAddress
              - preferred
              - txnId
            examples:
              create_abha_aadhaar_otp:
                summary: create abha aadhaar otp
                value:
                  txnId: <TXN_ID>
                  abhaAddress: <ABHA_ADDRESS>
                  preferred: 1
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-enrolment-claim-abha-address
  /v3/enrollment/enrol/auth/init:
    post:
      operationId: m1_enrolment_face_auth_init
      tags:
      - abha-creation
      summary: Start face or biometric authentication and get a transaction id
      description: |
        Returns the `txnId` that a QR code is built from. The person scans that QR
        with the ABHA app, completes face authentication through the Aadhaar RD
        service, and you then continue with the captured result.

        The same call starts the face authentication login flow, not only
        enrolment.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-enrolment-face-auth-init
  /v3/enrollment/enrol/byAadhaar:
    post:
      operationId: m1_enrolment_by_aadhaar
      tags:
      - abha-creation
      summary: Create an ABHA from a verified Aadhaar OTP
      description: |
        Exchanges the OTP you just received for a real ABHA number. Send the
        `txnId` from the OTP request, the encrypted OTP value, and the consent
        block recording that the person agreed.

        This is the call that creates the account, so treat a success as a
        permanent side effect. If you retry it blindly after a timeout you may be
        asking NHA to enrol somebody twice.

        `BENEFIT_NAME` is sent on this call in NHA's collection when the
        enrolment belongs to a benefit scheme.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      - $ref: '#/components/parameters/XToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                        otpValue:
                          type: string
                        mobile:
                          type: string
                        fingerPrintAuthPid:
                          type: string
                        timeStamp:
                          type: string
                      required:
                      - mobile
                      - txnId
                    face:
                      type: object
                      properties:
                        txnId:
                          type: string
                        aadhaar:
                          type: string
                      required:
                      - aadhaar
                      - txnId
                    iris:
                      type: object
                      properties:
                        aadhaar:
                          type: string
                        Pid:
                          type: string
                        mobile:
                          type: string
                      required:
                      - Pid
                      - aadhaar
                      - mobile
                    bio:
                      type: object
                      properties:
                        aadhaar:
                          type: string
                        fingerPrintAuthPid:
                          type: string
                        mobile:
                          type: string
                      required:
                      - aadhaar
                      - fingerPrintAuthPid
                      - mobile
                  required:
                  - authMethods
                consent:
                  type: object
                  properties:
                    code:
                      type: string
                    version:
                      type: string
                  required:
                  - code
                  - version
              required:
              - authData
              - consent
            examples:
              create_abha_aadhaar_otp:
                summary: create abha aadhaar otp
                value:
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
                      mobile: <MOBILE>
                  consent:
                    code: abha-enrollment
                    version: '1.4'
              create_abha_face_authentication:
                summary: create abha face authentication
                value:
                  authData:
                    authMethods:
                    - face_auth
                    face:
                      txnId: <TXN_ID>
                      aadhaar: <ENCRYPTED_AADHAAR>
                  consent:
                    code: abha-enrollment
                    version: '1.4'
              create_abha_fingerprint_authentication:
                summary: create abha fingerprint authentication
                value:
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      fingerPrintAuthPid: <FINGERPRINTAUTHPID>
                      mobile: <MOBILE>
                  consent:
                    code: abha-enrollment
                    version: '1.4'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-enrolment-by-aadhaar
  /v3/enrollment/enrol/byDocument:
    post:
      operationId: m1_enrolment_by_document
      tags:
      - abha-creation
      summary: Create an ABHA from an identity document
      description: |
        The route for somebody who cannot complete Aadhaar authentication. NHA's
        collection uses a driving licence. The account created this way is
        restricted until it is upgraded through Aadhaar KYC, so tell the person
        that rather than letting them discover it later.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                documentType:
                  type: string
                documentId:
                  type: string
                firstName:
                  type: string
                middleName:
                  type: string
                lastName:
                  type: string
                dob:
                  type: string
                gender:
                  type: string
                frontSidePhoto:
                  type: string
                backSidePhoto:
                  type: string
                address:
                  type: string
                state:
                  type: string
                district:
                  type: string
                pinCode:
                  type: string
                consent:
                  type: object
                  properties:
                    code:
                      type: string
                    version:
                      type: string
                  required:
                  - code
                  - version
              required:
              - address
              - backSidePhoto
              - consent
              - district
              - dob
              - documentId
              - documentType
              - firstName
              - frontSidePhoto
              - gender
              - lastName
              - middleName
              - pinCode
              - state
              - txnId
            examples:
              create_abha_driving_license:
                summary: create abha driving license
                value:
                  txnId: <TXN_ID>
                  documentType: DRIVING_LICENCE
                  documentId: DL0820****858
                  firstName: <FIRST_NAME>
                  middleName: <MIDDLE_NAME>
                  lastName: <LAST_NAME>
                  dob: <DATE_OF_BIRTH>
                  gender: M
                  frontSidePhoto: <ENCRYPTED_VALUE>
                  backSidePhoto: <ENCRYPTED_VALUE>
                  address: <ADDRESS>
                  state: <STATE>
                  district: <DISTRICT>
                  pinCode: <PIN_CODE>
                  consent:
                    code: abha-enrollment
                    version: '1.4'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-enrolment-by-document
  /v3/enrollment/enrol/capturePID:
    post:
      operationId: m1_enrolment_capture_pid
      tags:
      - abha-creation
      summary: Submit a captured biometric or face authentication block
      description: |
        Hands NHA the PID block produced by the Aadhaar RD service. The block is
        encrypted by the device and is time limited, so send it as soon as the
        capture returns rather than storing it.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                txnId:
                  type: string
              required:
              - scope
              - txnId
            examples:
              create_abha_face_authentication:
                summary: create abha face authentication
                value:
                  scope:
                  - abha-enrol
                  - face-verify
                  txnId: <TXN_ID>
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  message:
                    type: string
                  txnId:
                    type: string
                required:
                - message
                - status
              examples:
                without_submiting_pid:
                  summary: without submiting pid
                  value:
                    status: VERIFIED
                    message: Awaiting PID capture
                without_verify_and_submitting_pid:
                  summary: without verify and submitting pid
                  value:
                    status: PENDING
                    message: Awaiting PID capture
      x-abdm-atom: hiecm.endpoint.m1-enrolment-capture-pid
  /v3/enrollment/enrol/suggestion:
    get:
      operationId: m1_enrolment_address_suggestions
      tags:
      - abha-creation
      summary: Get suggested ABHA addresses for a new account
      description: |
        Returns a handful of available ABHA addresses built from the person's
        name and date of birth. Offer them as a choice. The person may type their
        own instead, subject to NHA's address policy: at least four characters,
        letters, numbers and dots only, and it may not begin with a number or
        begin or end with a dot.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/TransactionId'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-enrolment-address-suggestions
  /v3/enrollment/profile/children:
    get:
      operationId: m1_enrolment_list_children
      tags:
      - abha-creation
      summary: List the child ABHA accounts linked to this account
      description: |
        A parent or guardian can hold ABHA accounts for children under their own
        account. This returns them.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/XToken'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-enrolment-list-children
  /v3/enrollment/request/otp:
    post:
      operationId: m1_enrolment_request_otp
      tags:
      - abha-creation
      summary: Send an OTP to begin or continue an enrolment
      description: |
        The first call of most enrolment flows, and the one people reuse without
        noticing. What it does depends on `scope` and `loginHint`.

        Starting an enrolment: `scope` is `["abha-enrol"]`, `loginHint` is
        `aadhaar`, `loginId` is the encrypted Aadhaar number and `otpSystem` is
        `aadhaar`. The OTP goes to the mobile registered with Aadhaar.

        Verifying a mobile or email afterwards: `scope` gains `mobile-verify` or
        `email-verify`, `otpSystem` becomes `abdm`, and you pass the `txnId` from
        the enrolment you are continuing.

        `loginId` is encrypted, never the raw value. Encrypt it against NHA's
        public key first.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                loginHint:
                  type: string
                loginId:
                  type: string
                otpSystem:
                  type: string
                txnId:
                  type: string
              required:
              - loginHint
              - loginId
              - otpSystem
              - scope
            examples:
              create_abha_aadhaar_otp:
                summary: create abha aadhaar otp
                value:
                  scope:
                  - abha-enrol
                  loginHint: aadhaar
                  loginId: _encrypted_12_digit_aadhaar_no_
                  otpSystem: aadhaar
              create_abha_aadhaar_otp_alt:
                summary: create abha aadhaar otp alt
                value:
                  txnId: <TXN_ID>
                  scope:
                  - abha-enrol
                  - mobile-verify
                  loginHint: mobile
                  loginId: <ENCRYPTED_MOBILE_NUMBER>
                  otpSystem: abdm
              create_abha_aadhaar_otp_alt_alt:
                summary: create abha aadhaar otp alt alt
                value:
                  txnId: <TXN_ID>
                  scope:
                  - abha-enrol
                  - email-verify
                  loginHint: email
                  loginId: <EMAIL_ENCRYPTION>
                  otpSystem: abdm
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-enrolment-request-otp
  /v3.1/profile/login/request/otp:
    post:
      operationId: m1_login_request_otp_v31
      tags:
      - abha-login
      summary: Send a login OTP, v3.1
      description: |
        The v3.1 variant of the login OTP request. It sits on a different base
        path from the rest of M1, `/abha/api/v3.1` rather than `/abha/api/v3`,
        which is why the version appears in the path here.

        NHA's collection uses it for Aadhaar OTP and biometric login. Treat v3
        as the default and reach for v3.1 only where NHA's material does.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                loginHint:
                  type: string
                loginId:
                  type: string
                otpSystem:
                  type: string
              required:
              - loginHint
              - loginId
              - otpSystem
              - scope
            examples:
              login_abha_via_aadhaar_otp_v3_1_api:
                summary: login abha via aadhaar otp v3 1 api
                value:
                  scope:
                  - abha-login
                  - aadhaar-verify
                  - aadhaar-otp-verify
                  loginHint: aadhaar
                  loginId: <ENCRYPTED_AADHAAR_NUMBER>
                  otpSystem: aadhaar
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-login-request-otp-v31
  /v3.1/profile/login/verify:
    post:
      operationId: m1_login_verify_v31
      tags:
      - abha-login
      summary: Verify a login OTP, v3.1
      description: |
        The v3.1 counterpart of the login verification, on the `/abha/api/v3.1`
        base path.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                        otpValue:
                          type: string
                      required:
                      - otpValue
                      - txnId
                    face_login:
                      type: object
                      properties:
                        aadhaar:
                          type: string
                        faceAuthPid:
                          type: string
                        txnId:
                          type: string
                      required:
                      - aadhaar
                    bio_login:
                      type: object
                      properties:
                        aadhaar:
                          type: string
                        fingerPrintAuthPid:
                          type: string
                      required:
                      - aadhaar
                      - fingerPrintAuthPid
                    iris_login:
                      type: object
                      properties:
                        aadhaar:
                          type: string
                        irisAuthPid:
                          type: string
                      required:
                      - aadhaar
                      - irisAuthPid
                  required:
                  - authMethods
              required:
              - authData
              - scope
            examples:
              login_abha_via_aadhaar_otp_v3_1_api:
                summary: login abha via aadhaar otp v3 1 api
                value:
                  scope:
                  - abha-login
                  - aadhaar-verify
                  - aadhaar-otp-verify
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
              login_abha_via_biometric_v3_1_api:
                summary: login abha via biometric v3 1 api
                value:
                  scope:
                  - abha-login
                  - aadhaar-face-login-verify
                  authData:
                    authMethods:
                    - face_login
                    face_login:
                      aadhaar: <ENCRYPTED_AADHAAR>
                      faceAuthPid: <FACEAUTHPID>
              login_abha_via_biometric_v3_1_api_alt:
                summary: login abha via biometric v3 1 api alt
                value:
                  scope:
                  - abha-login
                  - aadhaar-bio-login-verify
                  authData:
                    authMethods:
                    - bio_login
                    bio_login:
                      aadhaar: <ENCRYPTED_AADHAAR>
                      fingerPrintAuthPid: <FINGERPRINTAUTHPID>
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  authResult:
                    type: string
                  message:
                    type: string
                  token:
                    type: string
                  expiresIn:
                    type: integer
                  refreshToken:
                    type: string
                  refreshExpiresIn:
                    type: integer
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        ABHANumber:
                          type: string
                        preferredAbhaAddress:
                          type: string
                        name:
                          type: string
                        status:
                          type: string
                        profilePhoto:
                          type: string
                      required:
                      - ABHANumber
                      - name
                      - preferredAbhaAddress
                      - profilePhoto
                      - status
                required:
                - accounts
                - authResult
                - expiresIn
                - message
                - refreshExpiresIn
                - refreshToken
                - token
                - txnId
              examples:
                verify_face:
                  summary: verify face
                  value:
                    txnId: <TXN_ID>
                    authResult: success
                    message: FACE verified successfully
                    token: <TOKEN>
                    expiresIn: 1800
                    refreshToken: <REFRESHTOKEN>
                    refreshExpiresIn: 1296000
                    accounts:
                    - ABHANumber: <ABHA_NUMBER>
                      preferredAbhaAddress: <ABHA_ADDRESS>
                      name: <NAME>
                      status: ACTIVE
                      profilePhoto: <BASE64_PHOTO>
      x-abdm-atom: hiecm.endpoint.m1-login-verify-v31
  /v3/profile/login/request/otp:
    post:
      operationId: m1_login_request_otp
      tags:
      - abha-login
      summary: Send a login OTP
      description: |
        Starts a login. `loginHint` selects what the person is identifying
        themselves with: `mobile`, `aadhaar` or `abha-number`. As everywhere in
        M1, `loginId` is encrypted rather than raw.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                loginHint:
                  type: string
                loginId:
                  type: string
                otpSystem:
                  type: string
                txnId:
                  type: string
              required:
              - loginHint
              - loginId
              - otpSystem
              - scope
            examples:
              login_abha_via_mobile_number:
                summary: login abha via mobile number
                value:
                  scope:
                  - abha-login
                  - mobile-verify
                  loginHint: mobile
                  loginId: <ENCRYPTED_MOBILE_NUMBER>
                  otpSystem: abdm
              login_abha_via_aadhaar_number:
                summary: login abha via aadhaar number
                value:
                  scope:
                  - abha-login
                  - aadhaar-verify
                  loginHint: abha-number
                  loginId: <ABHA_NUMBER_ENCRYPTION>
                  otpSystem: aadhaar
              login_via_abha_number_mobile_otp:
                summary: login via abha number mobile otp
                value:
                  scope:
                  - abha-login
                  - mobile-verify
                  loginHint: abha-number
                  loginId: <ENCRYPTED_A_B_H_A_NUMBER>
                  otpSystem: abdm
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  message:
                    type: string
                required:
                - message
                - txnId
              examples:
                example:
                  summary: example
                  value:
                    txnId: <TXN_ID>
                    message: Transaction Id generated Successfully
        '401':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
              examples:
                biometric_is_not_allowed:
                  summary: biometric is not allowed
                  value:
                    error:
                      code: ABDM-1224
                      message: Login via Biometric is not allowed.
      x-abdm-atom: hiecm.endpoint.m1-login-request-otp
  /v3/profile/login/verify:
    post:
      operationId: m1_login_verify
      tags:
      - abha-login
      summary: Verify a login OTP and get a user token
      description: |
        Returns the user scoped token that profile calls need, sent afterwards as
        the `X-token` header. That token identifies one person, so it is not
        interchangeable with the gateway session token, which identifies your
        application.

        If the identifier the person used maps to more than one ABHA, this
        responds with the list instead of a token, and you continue with the
        user selection call.

        The saved responses in NHA's collection cover 400, 401, 404 and 422 as
        well as 200, so read the body rather than only the status.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      - $ref: '#/components/parameters/TToken'
      - $ref: '#/components/parameters/XToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                        otpValue:
                          type: string
                      required:
                      - otpValue
                      - txnId
                    password:
                      type: object
                      properties:
                        ABHANumber:
                          type: string
                        password:
                          type: string
                      required:
                      - ABHANumber
                      - password
                    face:
                      type: object
                      properties:
                        txnId:
                          type: string
                      required:
                      - txnId
                    bio:
                      type: object
                      properties:
                        txnId:
                          type: string
                        fingerPrintAuthPid:
                          type: string
                      required:
                      - fingerPrintAuthPid
                      - txnId
                  required:
                  - authMethods
              required:
              - authData
              - scope
            examples:
              login_abha_via_mobile_number:
                summary: login abha via mobile number
                value:
                  scope:
                  - abha-login
                  - mobile-verify
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
              login_abha_via_aadhaar_number:
                summary: login abha via aadhaar number
                value:
                  scope:
                  - abha-login
                  - aadhaar-verify
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
              login_abha_number_password:
                summary: login abha number password
                value:
                  scope:
                  - abha-login
                  - password-verify
                  authData:
                    authMethods:
                    - password
                    password:
                      ABHANumber: <ABHA_NUMBER>
                      password: <PASSWORD>
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  authResult:
                    type: string
                  message:
                    type: string
                  token:
                    type: string
                  expiresIn:
                    type: integer
                  refreshToken:
                    type: string
                  refreshExpiresIn:
                    type: integer
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        ABHANumber:
                          type: string
                        preferredAbhaAddress:
                          type: string
                        name:
                          type: string
                        status:
                          type: string
                        profilePhoto:
                          type: string
                        mobileVerified:
                          type: boolean
                      required:
                      - ABHANumber
                      - mobileVerified
                      - name
                      - preferredAbhaAddress
                      - profilePhoto
                      - status
                required:
                - accounts
                - authResult
                - expiresIn
                - message
                - refreshExpiresIn
                - refreshToken
                - token
                - txnId
              examples:
                example:
                  summary: example
                  value:
                    txnId: <TXN_ID>
                    authResult: success
                    message: Aadhaar Face Authentication Success
                    token: <TOKEN>
                    expiresIn: 1800
                    refreshToken: <REFRESHTOKEN>
                    refreshExpiresIn: 1296000
                    accounts:
                    - ABHANumber: <ABHA_NUMBER>
                      preferredAbhaAddress: <ABHA_ADDRESS>
                      name: <NAME>
                      status: ACTIVE
                      profilePhoto: <BASE64_PHOTO>
                      mobileVerified: false
        '400':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  faceDto:
                    type: string
                  timestamp:
                    type: string
                  PID:
                    type: string
                  scope:
                    type: string
                  authData:
                    type: string
                  txnId:
                    type: string
                  authMethod:
                    type: string
                  bioDto:
                    type: string
                required:
                - timestamp
              examples:
                invalid_dto:
                  summary: invalid dto
                  value:
                    faceDto: Invalid Aadhaar face request
                    timestamp: '2025-01-15 13:29:43'
                invalid_dto_alt:
                  summary: invalid dto alt
                  value:
                    faceDto: Invalid Aadhaar face request
                    timestamp: '2025-01-15 13:32:04'
        '401':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
              examples:
                invalid_authorization:
                  summary: invalid authorization
                  value:
                    code: '900901'
                    message: Invalid Credentials
                    description: Invalid JWT token. Make sure you have provided
                      the correct security credentials
        '404':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  type:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
                - type
              examples:
                invalid_url:
                  summary: invalid url
                  value:
                    code: '404'
                    type: Status report
                    message: Runtime Error
                    description: No matching resource found for given API Request
        '422':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
              examples:
                used_pid:
                  summary: used pid
                  value:
                    error:
                      code: ABDM-1204
                      message: 'UIDAI Error code : 563 : Duplicate request (this
                        error occurs when exactly same authentication request
                        was re-sent by AUA)'
                expired_pid:
                  summary: expired pid
                  value:
                    error:
                      code: ABDM-1204
                      message: 'UIDAI Error code : 561 : Request expired (“Pid->ts”
                        value is older than N hours where N is a configured threshold
                        in authentication server)'
      x-abdm-atom: hiecm.endpoint.m1-login-verify
  /v3/profile/login/verify/user:
    post:
      operationId: m1_login_select_account
      tags:
      - abha-login
      summary: Choose which ABHA to sign in to
      description: |
        Used when one mobile number carries several ABHA accounts, which is
        common in a family. Send the `txnId` from the verify call and the ABHA
        number the person picked.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/TToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                ABHANumber:
                  type: string
                txnId:
                  type: string
              required:
              - ABHANumber
              - txnId
            examples:
              login_abha_via_mobile_number:
                summary: login abha via mobile number
                value:
                  ABHANumber: <ABHA_NUMBER>
                  txnId: <TXN_ID>
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-login-select-account
  /v3/profile/account:
    patch:
      operationId: m1_profile_update_account
      tags:
      - abha-profile
      summary: Update fields on an ABHA profile
      description: |
        Changes self declared profile details. Changing a mobile number or an
        email address is not done here: those need the OTP pair below, because
        NHA verifies the new value before accepting it.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      - $ref: '#/components/parameters/XToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                abhaNumber:
                  type: string
                name:
                  type: string
                dob:
                  type: string
                gender:
                  type: string
                profilePhoto:
                  type: string
                mobile:
                  type: string
                accountStatus:
                  type: string
            examples:
              create_child_abha:
                summary: create child abha
                value:
                  abhaNumber: <ABHA_NUMBER>
                  name: <NAME>
                  dob: <DATE_OF_BIRTH>
                  gender: M
              abha_card:
                summary: abha card
                value:
                  profilePhoto: <BASE64_PHOTO>
              benefit_profile_update:
                summary: benefit profile update
                value:
                  abhaNumber: <ABHA_NUMBER>
                  mobile: <MOBILE>
                  accountStatus: ACTIVE
                  profilePhoto: <BASE64_PHOTO>
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ABHANumber:
                    type: string
                  preferredAbhaAddress:
                    type: string
                  mobile:
                    type: string
                  firstName:
                    type: string
                  middleName:
                    type: string
                  lastName:
                    type: string
                  name:
                    type: string
                  yearOfBirth:
                    type: string
                  dayOfBirth:
                    type: string
                  monthOfBirth:
                    type: string
                  gender:
                    type: string
                  email:
                    type:
                    - 'null'
                    - string
                  profilePhoto:
                    type: string
                  status:
                    type: string
                  stateCode:
                    type: string
                  districtCode:
                    type: string
                  subDistrictCode:
                    type: 'null'
                  villageCode:
                    type: 'null'
                  townCode:
                    type: 'null'
                  wardCode:
                    type: 'null'
                  pincode:
                    type: string
                  address:
                    type: string
                  kycPhoto:
                    type: string
                  stateName:
                    type: string
                  districtName:
                    type: string
                  subdistrictName:
                    type: string
                  villageName:
                    type: 'null'
                  townName:
                    type:
                    - 'null'
                    - string
                  wardName:
                    type: 'null'
                  authMethods:
                    type: array
                    items:
                      type: string
                  tags:
                    type: object
                    properties: {}
                  kycVerified:
                    type: boolean
                  verificationStatus:
                    type: string
                  verificationType:
                    type: string
                  emailVerified:
                    type:
                    - 'null'
                    - string
                required:
                - ABHANumber
                - address
                - authMethods
                - dayOfBirth
                - districtCode
                - districtName
                - email
                - emailVerified
                - firstName
                - gender
                - kycPhoto
                - kycVerified
                - lastName
                - middleName
                - mobile
                - monthOfBirth
                - name
                - pincode
                - preferredAbhaAddress
                - profilePhoto
                - stateCode
                - stateName
                - status
                - subDistrictCode
                - subdistrictName
                - tags
                - townCode
                - townName
                - verificationStatus
                - verificationType
                - villageCode
                - villageName
                - wardCode
                - wardName
                - yearOfBirth
              examples:
                with_x_token_normal_flow:
                  summary: with x token normal flow
                  value:
                    ABHANumber: <ABHA_NUMBER>
                    preferredAbhaAddress: <ABHA_ADDRESS>
                    mobile: <MOBILE>
                    firstName: <FIRST_NAME>
                    middleName: <MIDDLE_NAME>
                    lastName: <LAST_NAME>
                    name: <NAME>
                    yearOfBirth: <YEAR>
                    dayOfBirth: <DAY>
                    monthOfBirth: <MONTH>
                    gender: M
                    email: <EMAIL>
                    profilePhoto: <BASE64_PHOTO>
                    status: ACTIVE
                    stateCode: '32'
                    districtCode: '563'
                    subDistrictCode: null
                    villageCode: null
                    townCode: null
                    wardCode: null
                    pincode: <PIN_CODE>
                    address: <ADDRESS>
                    kycPhoto: <BASE64_PHOTO>
                    stateName: <STATE>
                    districtName: <DISTRICT>
                    subdistrictName: <SUB_DISTRICT>
                    villageName: null
                    townName: null
                    wardName: null
                    authMethods:
                    - EMAIL_OTP
                    - MOBILE_OTP
                    tags: {}
                    kycVerified: true
                    verificationStatus: VERIFIED
                    verificationType: DRIVING_LICENCE
                    emailVerified: <EMAIL>
                with_abha_number:
                  summary: with abha number
                  value:
                    ABHANumber: <ABHA_NUMBER>
                    preferredAbhaAddress: <ABHA_ADDRESS>
                    mobile: <MOBILE>
                    firstName: <FIRST_NAME>
                    middleName: <MIDDLE_NAME>
                    lastName: <LAST_NAME>
                    name: <NAME>
                    yearOfBirth: <YEAR>
                    dayOfBirth: <DAY>
                    monthOfBirth: <MONTH>
                    gender: M
                    email: null
                    profilePhoto: <BASE64_PHOTO>
                    status: ACTIVE
                    stateCode: '32'
                    districtCode: '563'
                    subDistrictCode: null
                    villageCode: null
                    townCode: null
                    wardCode: null
                    pincode: <PIN_CODE>
                    address: <ADDRESS>
                    kycPhoto: <BASE64_PHOTO>
                    stateName: <STATE>
                    districtName: <DISTRICT>
                    subdistrictName: <SUB_DISTRICT>
                    villageName: null
                    townName: <TOWN>
                    wardName: null
                    authMethods:
                    - AADHAAR_BIO
                    - DEMOGRAPHICS
                    - MOBILE_OTP
                    - AADHAAR_OTP
                    tags: {}
                    kycVerified: true
                    verificationStatus: VERIFIED
                    verificationType: AADHAAR
                    emailVerified: null
      x-abdm-atom: hiecm.endpoint.m1-profile-update-account
    get:
      operationId: m1_profile_get_account
      tags:
      - abha-profile
      summary: Read the signed in person's ABHA profile
      description: |
        Needs the `X-token` from login, because it reads one person's account
        rather than anything about your application.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/XToken'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-profile-get-account
  /v3/profile/account/abha-card:
    get:
      operationId: m1_profile_get_abha_card
      tags:
      - abha-profile
      summary: Get the ABHA card
      description: |
        The card as an image, for display inside your application.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/XToken'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-profile-get-abha-card
  /v3/profile/account/download-abha-card:
    get:
      operationId: m1_profile_download_abha_card
      tags:
      - abha-profile
      summary: Download the ABHA card as a file
      description: |
        The same card, delivered as a downloadable file rather than for inline
        display.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/XToken'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-profile-download-abha-card
  /v3/profile/account/qrCode:
    get:
      operationId: m1_profile_get_qr_code
      tags:
      - abha-profile
      summary: Get the ABHA QR code
      description: |
        The QR a person shows at a facility so their ABHA address can be read
        without typing. Returns the image payload for the signed in account.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/XToken'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-profile-get-qr-code
  /v3/profile/account/request/logout:
    get:
      operationId: m1_profile_logout
      tags:
      - abha-profile
      summary: Log the person out and invalidate their user token
      description: |
        Invalidates the `X-token`. Call it when the person signs out, and when
        your session ends, so a token cannot outlive the session that produced
        it.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  timestamp:
                    type: string
                required:
                - message
                - timestamp
              examples:
                example:
                  summary: example
                  value:
                    message: You have been logged out
                    timestamp: '2025-01-31 20:03:49'
                awssbx:
                  summary: awssbx
                  value:
                    message: You have been logged out
                    timestamp: '2025-10-23 11:23:49'
      x-abdm-atom: hiecm.endpoint.m1-profile-logout
  /v3/profile/account/request/otp:
    post:
      operationId: m1_profile_request_otp
      tags:
      - abha-profile
      summary: Send an OTP to change something on the profile
      description: |
        Raise this before updating a mobile number, an email address or a
        password. `scope` names both the area and the action, for example
        `["abha-profile", "mobile-verify"]`.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/XToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                loginHint:
                  type: string
                loginId:
                  type: string
                otpSystem:
                  type: string
              required:
              - loginHint
              - loginId
              - otpSystem
              - scope
            examples:
              mobile_update:
                summary: mobile update
                value:
                  scope:
                  - abha-profile
                  - mobile-verify
                  loginHint: mobile
                  loginId: <MOBILE_ENCRYPTION>
                  otpSystem: abdm
              email_update:
                summary: email update
                value:
                  scope:
                  - abha-profile
                  - email-verify
                  loginHint: email
                  loginId: <EMAIL_ENCRYPTION>
                  otpSystem: abdm
              set_or_update_password_copy:
                summary: set or update password copy
                value:
                  scope:
                  - abha-profile
                  - change-password
                  loginHint: password
                  loginId: <PASSWORD_ENCRYPTION>
                  otpSystem: aadhaar
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-profile-request-otp
  /v3/profile/account/verify:
    post:
      operationId: m1_profile_verify_otp
      tags:
      - abha-profile
      summary: Verify the OTP for a profile change
      description: |
        Completes the change the OTP was raised for. Send the same `scope` you
        used when requesting it, along with the `txnId` and the encrypted OTP.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/XToken'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                        otpValue:
                          type: string
                      required:
                      - otpValue
                      - txnId
                    password:
                      type: object
                      properties:
                        newPassword:
                          type: string
                        oldPassword:
                          type: string
                      required:
                      - newPassword
                      - oldPassword
                  required:
                  - authMethods
                reasons:
                  type: array
                  items:
                    type: string
              required:
              - authData
              - scope
            examples:
              mobile_update:
                summary: mobile update
                value:
                  scope:
                  - abha-profile
                  - mobile-verify
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
              email_update:
                summary: email update
                value:
                  scope:
                  - abha-profile
                  - email-verify
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
              set_or_update_password_copy:
                summary: set or update password copy
                value:
                  scope:
                  - abha-profile
                  - change-password
                  authData:
                    authMethods:
                    - otp
                    otp:
                      txnId: <TXN_ID>
                      otpValue: <OTPVALUE>
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-profile-verify-otp
  /v3/profile/account/abha/search:
    post:
      operationId: m1_find_abha_search
      tags:
      - find-abha
      summary: Find an ABHA for somebody who does not know theirs
      description: |
        Takes an encrypted mobile number, Aadhaar number or biometric result and
        sends an OTP to the mobile on record. The response carries a `txnId` and
        a message naming the masked mobile the OTP went to, so the person can
        confirm it is theirs before waiting for it.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                mobile:
                  type: string
              required:
              - mobile
              - scope
            examples:
              find_abha_using_mobile_otp:
                summary: find abha using mobile otp
                value:
                  scope:
                  - search-abha
                  mobile: <MOBILE>
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  message:
                    type: string
                required:
                - message
                - txnId
              examples:
                example:
                  summary: example
                  value:
                    txnId: <TXN_ID>
                    message: OTP is sent to Mobile number ending with ******0161
      x-abdm-atom: hiecm.endpoint.m1-find-abha-search
  /v3/profile/benefit/abha/search/insurance/{abhaNumber}:
    get:
      operationId: m1_benefit_search_insurance
      tags:
      - benefit-apis
      summary: Find insurance cover recorded against an ABHA number
      description: |
        NHA's collection saves 400, 401 and 500 responses for this call as well
        as 200, which is a fair sign of how often it is called with something
        missing. Handle all four.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/AbhaNumber'
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  abhaNumber:
                    type: string
                  entityType:
                    type: string
                  insuranceProgramsLinked:
                    type: array
                    items:
                      type: string
                required:
                - abhaNumber
                - entityType
                - insuranceProgramsLinked
              examples:
                example:
                  summary: example
                  value:
                    abhaNumber: <ABHA_NUMBER>
                    entityType: Insurance
                    insuranceProgramsLinked:
                    - Health ID Test
        '400':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
              examples:
                invalid_abha_no:
                  summary: invalid abha no
                  value:
                    error:
                      code: ABDM-1013
                      message: Invalid ABHA Number
        '401':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                required:
                - error
              examples:
                inte:
                  summary: inte
                  value:
                    error:
                      code: 'ABDM-9999: '
                      message: ABDM-1094Access to this feature is restricted.
                        Please contact NHA to enable it.
        '500':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
                required:
                - code
                - description
                - message
              examples:
                invalid_authorization:
                  summary: invalid authorization
                  value:
                    code: '900900'
                    message: Unclassified Authentication Failure
                    description: 'Access failure for API: /abha/api/v3/profile/benefit/abha/1,
                      version: 1 status: (900900) - Unclassified Authentication
                      Failure'
      x-abdm-atom: hiecm.endpoint.m1-benefit-search-insurance
  /v3/profile/benefit/abha/statedistrict/{abhaNumber}:
    get:
      operationId: m1_benefit_get_state_district
      tags:
      - benefit-apis
      summary: Get the state and district recorded against an ABHA number
      description: |
        Used to route a person to the right scheme, since eligibility is often
        decided by where they live.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/AbhaNumber'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-benefit-get-state-district
  /v3/profile/benefit/abha/{abhaNumber}:
    get:
      operationId: m1_benefit_get_by_abha
      tags:
      - benefit-apis
      summary: Get the benefit record for an ABHA number
      description: |
        Reads the benefit record attached to one ABHA number.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      - $ref: '#/components/parameters/AbhaNumber'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-benefit-get-by-abha
  /v3/profile/benefit/linkAndDelink:
    post:
      operationId: m1_benefit_link_or_delink
      tags:
      - benefit-apis
      summary: Link or unlink a benefit record from an ABHA
      description: |
        One call does both directions. NHA's saved success response names the
        scheme and confirms the link in a human readable `status` string rather
        than a code, so match on the HTTP status and the scheme, not on that
        text.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      - $ref: '#/components/parameters/XToken'
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  benefitName:
                    type: string
                  healthId:
                    type: string
                  status:
                    type: string
                required:
                - benefitName
                - healthId
                - status
              examples:
                link:
                  summary: link
                  value:
                    benefitName: healthid api
                    healthId: <ABHA_ADDRESS>
                    status: Benefit record has been linked successfully
                de_link:
                  summary: de link
                  value:
                    benefitName: healthid api
                    healthId: <ABHA_ADDRESS>
                    status: Benefit record has been de-linked successfully
        '400':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                    required:
                    - code
                    - message
                  message:
                    type: string
                  timestamp:
                    type: string
                  loginId:
                    type: string
              examples:
                already_link:
                  summary: already link
                  value:
                    error:
                      code: ABDM-1140
                      message: The benefit record has already been linked
                already_de_link:
                  summary: already de link
                  value:
                    error:
                      code: ABDM-1138
                      message: The benefit record has already been de-linked
        '401':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  timestamp:
                    type: string
                required:
                - code
                - message
                - timestamp
              examples:
                invalid_benefit_name:
                  summary: invalid benefit name
                  value:
                    code: ABDM-1094
                    message: Invalid Benefit Name
                    timestamp: '2024-10-25 15:01:29'
                de_link_insurance_restricted:
                  summary: de link insurance restricted
                  value:
                    code: ABDM-1094
                    message: Access to this feature is restricted. Please contact
                      NHA to enable it.
                    timestamp: '2024-10-25 15:02:34'
      x-abdm-atom: hiecm.endpoint.m1-benefit-link-or-delink
  /v3/profile/benefit/search:
    post:
      operationId: m1_benefit_search
      tags:
      - benefit-apis
      summary: Search benefit records for a person
      description: |
        Searches by encrypted XML UID or by ABHA number, depending on
        `loginHint`. Returns an array, one entry per benefit scheme, each with
        the scheme name, its identifier and a status.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                loginHint:
                  type: string
                loginId:
                  type: string
              required:
              - loginHint
              - loginId
              - scope
            examples:
              benefit_search_api:
                summary: benefit search api
                value:
                  scope:
                  - search
                  loginHint: xmlUid
                  loginId: <ENCRYPTED_XML_UID>
              benefit_search_api_alt:
                summary: benefit search api alt
                value:
                  scope:
                  - search
                  loginHint: abha-number
                  loginId: <ENCRYPTED_A_B_H_A_NUMBER>
      responses:
        '200':
          description: Recorded in NHA's own collection. Values are scrubbed.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    stateCode:
                      type:
                      - 'null'
                      - string
                    benefitName:
                      type: string
                    benefitId:
                      type: string
                    abhaNumber:
                      type: string
                    status:
                      type: integer
                  required:
                  - abhaNumber
                  - benefitId
                  - benefitName
                  - stateCode
                  - status
              examples:
                with_login_id:
                  summary: with login id
                  value:
                  - stateCode: null
                    benefitName: COVIN
                    benefitId: <BENEFIT_ID>
                    abhaNumber: <ABHA_NUMBER>
                    status: 0
                awssbx:
                  summary: awssbx
                  value:
                  - stateCode: '27'
                    benefitName: healthid api
                    benefitId: <BENEFIT_ID>
                    abhaNumber: <ABHA_NUMBER>
                    status: 0
      x-abdm-atom: hiecm.endpoint.m1-benefit-search
  /v3/profile/benefit/search/aadhaarByAbha:
    get:
      operationId: m1_benefit_find_aadhaar_by_abha
      tags:
      - benefit-apis
      summary: Find the Aadhaar number behind an ABHA number
      description: |
        The reverse lookup. It returns a national identity number, so treat both
        the request and the response as sensitive and log neither.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-benefit-find-aadhaar-by-abha
  /v3/profile/benefit/search/abhaByAadhaar:
    get:
      operationId: m1_benefit_find_abha_by_aadhaar
      tags:
      - benefit-apis
      summary: Find an ABHA number from an Aadhaar number
      description: |
        A benefit scheme lookup, not a general search. The Aadhaar value is
        encrypted.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/BenefitName'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-benefit-find-abha-by-aadhaar
  /v3/phr/app/enrollment/encrypt:
    post:
      operationId: m1_encrypt_value
      tags:
      - tokens-and-encryption
      summary: Encrypt a value with NHA's public key
      description: |
        Every `loginId` in M1 is encrypted rather than sent raw, and this is NHA's
        own helper for doing it. It is convenient for trying a flow by hand.

        Do not put it in a production path. Sending an Aadhaar or mobile number to
        a remote endpoint so that it can be encrypted defeats the point of
        encrypting it. Encrypt locally against NHA's published public key
        instead.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/KeyType'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: string
              required:
              - data
            examples:
              find_abha_via_faceauth_without_pid:
                summary: find abha via faceauth without pid
                value:
                  data: '1'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-encrypt-value
  /v3/profile/account/request/token:
    get:
      operationId: m1_token_refresh
      tags:
      - tokens-and-encryption
      summary: Get a new user token from a refresh token
      description: |
        Refreshes the `X-token` without making the person log in again. Read the
        expiry from the response rather than assuming one.
      parameters:
      - $ref: '#/components/parameters/RequestId'
      - $ref: '#/components/parameters/Timestamp'
      - $ref: '#/components/parameters/RToken'
      responses:
        '200':
          description: The call was accepted. NHA's collection saves no response
            body for this operation, so the shape is not recorded here. Run it
            against the sandbox and record what comes back before relying on it.
      x-abdm-atom: hiecm.endpoint.m1-token-refresh
components:
  securitySchemes:
    gatewaySession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        The `accessToken` from `POST /api/hiecm/gateway/v3/sessions`, which is described in hiecm-gateway.yaml. Send it as `Authorization: Bearer <ACCESS_TOKEN>`.
  parameters:
    RequestId:
      name: REQUEST-ID
      in: header
      required: true
      description: |
        A fresh UUID that you generate for this request. Present on 121 of the 123 requests in NHA's M1 collection. Log it, because it is how a support ticket is traced.
      schema:
        type: string
        format: uuid
      example: 5f7a4a1e-59ba-4c0c-9e0c-8e6b3b6e2f11
    Timestamp:
      name: TIMESTAMP
      in: header
      required: true
      description: |
        The current time in ISO 8601, in UTC. Take it from a synchronised clock. A drifted clock fails the whole module and the error does not say so.
      schema:
        type: string
        format: date-time
      example: '2026-08-24T10:15:30.000Z'
    XToken:
      name: X-token
      in: header
      required: false
      description: |
        The user scoped token returned when a person logs in or verifies an OTP. Profile calls act on one account, so they need this in addition to the gateway token. Required on the calls that read or change a specific person's account.
      schema:
        type: string
    BenefitName:
      name: BENEFIT_NAME
      in: header
      required: false
      description: |
        The benefit scheme an enrolment belongs to. Observed on the enrolment and benefit calls in NHA's collection. Confirm the exact values with NHA before using them in production.
      schema:
        type: string
    TToken:
      name: T-token
      in: header
      required: false
      schema:
        type: string
      description: The transaction token that carries state between the two halves
        of a login. Returned by the verify call and sent back on the account selection
        call.
    RToken:
      name: R-token
      in: header
      required: false
      schema:
        type: string
      description: The refresh token, sent when asking for a new user token without
        making the person log in again.
    KeyType:
      name: KEY_TYPE
      in: header
      required: false
      schema:
        type: string
      description: Which NHA public key the encryption helper should use.
    TransactionId:
      name: TRANSACTION_ID
      in: header
      required: false
      schema:
        type: string
      description: The enrolment transaction this call belongs to, when the transaction
        is not carried in the body.
    AbhaNumber:
      name: abhaNumber
      in: path
      required: true
      schema:
        type: string
      example: <ABHA_NUMBER>
      description: A fourteen digit ABHA number, written in the hyphenated form
        NHA uses, for example 91-1234-5678-9012.
