# Module M4: HPR and HFR registration. Phase 2.
#
# This file exists so that M4 has a declared place and an honest phase, not
# so that anyone can integrate from it. Nothing is written here. Do not
# improvise operations from this file, and do not compile a skill against it.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1

info:
  title: ABDM M4, HPR and HFR registration
  summary: Register healthcare professionals and facilities. Phase 2, not written yet.
  description: |
    M4 registers the people and the places. A healthcare professional gets an
    HPID from the Healthcare Professionals Registry, and a facility is
    searched for, onboarded and linked in the Health Facility Registry.

    This module is Phase 2. Nothing in it is documented, verified or
    compiled, and no agent skill covers it. If you are being asked about M4,
    the answer is that it is Phase 2 and that is where the answer stops.

    Two things are worth recording now, because they surprise people who
    assume M4 sits behind the same gateway as M1 to M3.

    First, the host and the version differ. M4 runs on the HPR service at
    `/v4/int`, not on the HIE-CM gateway at `/api/hiecm/.../v3`.

    Second, the access token still comes from the same place, the gateway
    session endpoint in hiecm-gateway.yaml.
  version: abdm-v4
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://devforum.abdm.gov.in
  x-abdm-gateway: hiecm
  x-abdm-module: M4
  x-abdm-phase: 2
  x-abdm-roles: [his, hip]

x-abdm-sources:
  - file: ABDM Sandbox/ABDM/Proposed Simplified Milestone 4 (NHPR).docx
    role: upstream
    status: not-yet-hashed
    note: >
      NHA milestone pack. Carries the HPR base URLs, the Aadhaar link and
      verification sequence, and the session request and response that
      hiecm-gateway.yaml describes.
  - url: https://sandbox.abdm.gov.in/sandbox/v3/new-documentation?doc=health-facility-registry/HPID%20creation
    role: upstream
    status: not-yet-fetched

servers:
  - url: https://apihspsbx.abdm.gov.in/v4/int
    description: Sandbox
  - url: https://apinhpr.abdm.gov.in/v4/int
    description: Production

security:
  - gatewaySession: []

tags:
  - name: hpr-registration
    description: >
      Creating an HPID for a healthcare professional, through Aadhaar
      verification. Phase 2, not written.
  - name: hfr-facility
    description: >
      Searching for a facility, onboarding it and linking software to it.
      Phase 2, not written.

# Phase 2. Left empty on purpose. Filling this in is a scope change, not a
# documentation task, and it needs the Phase 1 modules verified first.
paths: {}

components:
  securitySchemes:
    gatewaySession:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        The `accessToken` from `POST /api/hiecm/gateway/v3/sessions`, which
        is described in hiecm-gateway.yaml. Send it as
        `Authorization: Bearer <ACCESS_TOKEN>`.
