openapi: 3.1.1
info:
  x-portal:
    module: p1
    label: P1 Registration and login
    position: 6
    icon: user-round
  title: ABDM P1, PHR registration and login
  summary: Create an ABHA address in a PHR app and log in to it.
  version: abdm-v3
  license:
    name: MIT
    identifier: MIT
  contact:
    name: ABDM sandbox support
    url: https://sandboxsupport.abdm.gov.in/
  x-abdm-gateway: hiecm
  x-abdm-module: P1
  x-abdm-phase: 1
  x-abdm-roles:
    - phr
x-abdm-sources:
  - file: catalogue/openapi/.raw/nha-2026-09-16/phr/PHR and Locker Swagger.yaml
    role: upstream
    hash: sha256:a7e1b7e0b56b75297623057678cf307f21ecdbfbc9ebdb022dc67df78540f6d5
    fetched: "2026-09-16"
servers:
  - url: https://abhasbx.abdm.gov.in
    description: ABHA service, sandbox
security:
  - bearerAuth: []
tags:
  - name: P1 - Create ABHA Address Flow
    description: P1-Registration-login / P1 - Create ABHA Address Flow / Enrolment via Mobile
  - name: P1-Registration-login
    description: P1-Registration-login / P1 - Create ABHA Address Flow / Enrolment via ABHA Number-ABHA OTP
  - name: P1 - PHR Login
    description: P1-Registration-login / P1 - PHR Login / P1 - Login via Mobile Number
  - name: P1 - Login via ABHA Address - Password
    description: P1-Registration-login / P1 - PHR Login / P1 - Login via ABHA Address - Password
  - name: ABHA enrolment via Aadhaar
    description: P1-Registration-login / P1 - Create ABHA Number using Aadhaar / ABHA enrolment via Aadhaar
paths:
  /abha/api/v3/phr/app/enrollment/enrol:
    post:
      tags:
        - P1 - Create ABHA Address Flow
      summary: "3 flows: Enroll ABHA Address"
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via Mobile › Enroll ABHA Address
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-ABHA OTP › Enroll ABHA Address
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-Aadhaar OTP › Enroll ABHA Address
      operationId: p1_post_v3_phr_app_enrollment_enrol
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                phrDetails:
                  type: object
                  properties:
                    mobile:
                      type: string
                    firstName:
                      type: string
                    middleName:
                      type: string
                    lastName:
                      type: string
                    yearOfBirth:
                      type: string
                    dayOfBirth:
                      type: string
                    monthOfBirth:
                      type: string
                    gender:
                      type: string
                    email:
                      type: string
                    profilePhoto:
                      type: string
                    address:
                      type: string
                    stateName:
                      type: string
                    stateCode:
                      type: string
                    districtName:
                      type: string
                    districtCode:
                      type: string
                    pinCode:
                      type: string
                    abhaAddress:
                      type: string
                    password:
                      type: string
              required:
                - txnId
                - phrDetails
            examples:
              Enroll ABHA Address:
                summary: Enrolment via Mobile › Enroll ABHA Address
                value:
                  txnId: 27d444b7-2a3d-46d8-bf67-e5590b6c46b6
                  phrDetails:
                    mobile: <ENCRYPTED_MOBILE>
                    firstName: John
                    middleName: ""
                    lastName: Doe
                    yearOfBirth: <DOB>
                    dayOfBirth: ""
                    monthOfBirth: <DOB>
                    gender: M
                    email: ""
                    profilePhoto: ""
                    address: <ADDRESS>
                    stateName: Maharashtra
                    stateCode: "27"
                    districtName: <ADDRESS>
                    districtCode: "123"
                    pinCode: <PINCODE>
                    abhaAddress: <ABHA_ADDRESS>
                    password: <ENCRYPTED_PASSWORD>
              Enroll ABHA Address (2):
                summary: Enrolment via ABHA Number-ABHA OTP › Enroll ABHA Address
                value:
                  txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                  phrDetails:
                    firstName: John
                    middleName: ""
                    lastName: Doe
                    dayOfBirth: <DOB>
                    monthOfBirth: <DOB>
                    yearOfBirth: <DOB>
                    gender: M
                    email: ""
                    mobile: <ENCRYPTED_MOBILE>
                    address: <ADDRESS>
                    stateName: Maharashtra
                    stateCode: "27"
                    districtName: <ADDRESS>
                    districtCode: "123"
                    pinCode: <PINCODE>
                    abhaAddress: <ABHA_ADDRESS>
                    password: <ENCRYPTED_PASSWORD>
              Enroll ABHA Address (3):
                summary: Enrolment via ABHA Number-Aadhaar OTP › Enroll ABHA Address
                value:
                  txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                  phrDetails:
                    firstName: John
                    middleName: ""
                    lastName: Doe
                    dayOfBirth: <DOB>
                    monthOfBirth: <DOB>
                    yearOfBirth: <DOB>
                    gender: M
                    email: ""
                    mobile: <ENCRYPTED_MOBILE>
                    address: <ADDRESS>
                    stateName: Maharashtra
                    stateCode: "27"
                    districtName: <ADDRESS>
                    districtCode: "123"
                    pinCode: <PINCODE>
                    abhaAddress: <ABHA_ADDRESS>
                    password: <ENCRYPTED_PASSWORD>
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  message:
                    type: string
                  phrDetails:
                    type: object
                    properties:
                      firstName:
                        type: string
                      middleName:
                        type: string
                      lastName:
                        type: string
                      fullName:
                        type: string
                      dayOfBirth:
                        type: string
                      monthOfBirth:
                        type: string
                      yearOfBirth:
                        type: string
                      dateOfBirth:
                        type: string
                      gender:
                        type: string
                      email:
                        type: string
                      mobile:
                        type: string
                      address:
                        type: string
                      stateName:
                        type: string
                      districtName:
                        type: string
                      pinCode:
                        type: string
                      abhaAddress:
                        type: array
                        items:
                          type: string
                      stateCode:
                        type: string
                      districtCode:
                        type: string
                  tokens:
                    type: object
                    properties:
                      token:
                        type: string
                      expiresIn:
                        type: integer
                      refreshToken:
                        type: string
                      refreshExpiresIn:
                        type: integer
              examples:
                Enroll ABHA Address:
                  value:
                    txnId: 6907ebb5-ff71-47f9-8052-6dd5554df5df
                    message: ABHA Address Created Successfully
                    phrDetails:
                      firstName: John
                      middleName: ""
                      lastName: Doe
                      fullName: John Doe
                      dayOfBirth: <DOB>
                      monthOfBirth: <DOB>
                      yearOfBirth: <DOB>
                      dateOfBirth: <DOB>
                      gender: M
                      email: <EMAIL>
                      mobile: "******1234"
                      address: <ADDRESS>
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      pinCode: <PINCODE>
                      abhaAddress:
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                      stateCode: "27"
                      districtCode: "123"
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                Enroll ABHA Address (2):
                  value:
                    txnId: 6907ebb5-ff71-47f9-8052-6dd4254df5df
                    message: ABHA Address Created Successfully
                    phrDetails:
                      firstName: John
                      middleName: ""
                      lastName: Doe
                      fullName: John Doe
                      dayOfBirth: <DOB>
                      monthOfBirth: <DOB>
                      yearOfBirth: <DOB>
                      dateOfBirth: <DOB>
                      gender: M
                      email: <EMAIL>
                      mobile: "******0903"
                      address: <ADDRESS>
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      pinCode: <PINCODE>
                      abhaAddress:
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                      stateCode: "27"
                      districtCode: "123"
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                Enroll ABHA Address (3):
                  value:
                    txnId: 6907ebb5-ff71-47f9-8052-6dd4254df5df
                    message: ABHA Address Created Successfully
                    phrDetails:
                      firstName: John
                      middleName: ""
                      lastName: Doe
                      fullName: John Doe
                      dayOfBirth: <DOB>
                      monthOfBirth: <DOB>
                      yearOfBirth: <DOB>
                      dateOfBirth: <DOB>
                      gender: M
                      email: <EMAIL>
                      mobile: "******0903"
                      address: <ADDRESS>
                      stateName: Maharashtra
                      districtName: <ADDRESS>
                      pinCode: <PINCODE>
                      abhaAddress:
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                        - <ABHA_ADDRESS>
                      stateCode: "27"
                      districtCode: "123"
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                anyOf:
                  - type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
              examples:
                Enroll ABHA Address-ABHA Address already exists:
                  value:
                    code: "ABDM-9999: "
                    message: This ABHA Address already exists. Please create with unique ABHA address
                Enroll ABHA Address-Invalid Day and Month Of Birth:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Month Of Birth
                    - code: "ABDM-9999: "
                      message: Invalid Day Of Birth
                Enroll ABHA Address-Invalid First Name:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid First Name
                Enroll ABHA Address-Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Enroll ABHA Address-ABHA Address already exists (2):
                  value:
                    code: "ABDM-9999: "
                    message: This ABHA Address already exists. Please create with unique ABHA address
                Enroll ABHA Address-Invalid Day and Month Of Birth (2):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Month Of Birth
                    - code: "ABDM-9999: "
                      message: Invalid Day Of Birth
                Enroll ABHA Address-Invalid First Name (2):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid First Name
                Enroll ABHA Address-Invalid Transaction Id (2):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Enroll ABHA Address-Invalid Transaction Id (3):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Enroll ABHA Address-Invalid Day and Month Of Birth (3):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Month Of Birth
                    - code: "ABDM-9999: "
                      message: Invalid Day Of Birth
                Enroll ABHA Address-ABHA Address already exists (3):
                  value:
                    code: "ABDM-9999: "
                    message: This ABHA Address already exists. Please create with unique ABHA address
                Enroll ABHA Address-Invalid First Name (3):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid First Name
      x-abdm-nha-operation-id: postEnrollmentEnrol
  /abha/api/v3/phr/app/enrollment/isExists:
    get:
      tags:
        - P1 - Create ABHA Address Flow
      summary: "3 flows: isExists API, isExists API Copy"
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via Mobile › isExists API
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-ABHA OTP › isExists API Copy
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-Aadhaar OTP › isExists API
      operationId: p1_get_v3_phr_app_enrollment_isexists
      security:
        - bearerAuth: []
      parameters:
        - name: abhaAddress
          in: query
          required: false
          schema:
            type: string
          example: <ABHA_ADDRESS>
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: boolean
              examples:
                isExists API - ABHA address not exist:
                  value: false
                isExists API - ABHA address not exist (2):
                  value: false
                isExists API - ABHA address not exist (3):
                  value: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
              examples:
                isExists API-Invalid ABHA Address:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid ABHA Address
                isExists API-Invalid ABHA Address (2):
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid ABHA Address
                isExists API-Invalid ABHA Address (3):
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid ABHA Address
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
              examples:
                isExists API- No Auth:
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
                isExists API- No Auth (2):
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
                isExists API- No Auth (3):
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
      x-abdm-nha-operation-id: getEnrollmentIsExists
  /abha/api/v3/phr/app/enrollment/request/otp:
    post:
      tags:
        - P1 - Create ABHA Address Flow
      summary: "3 flows: OTP Request - Mobile, OTP Request - ABHA OTP, OTP Request - AADHAR OTP"
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via Mobile › OTP Request - Mobile
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-ABHA OTP › OTP Request - ABHA OTP
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-Aadhaar OTP › OTP Request - AADHAR OTP
      operationId: p1_post_v3_phr_app_enrollment_request_otp
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                loginHint:
                  type: string
                loginId:
                  type: string
                otpSystem:
                  type: string
              required:
                - scope
                - loginHint
                - loginId
                - otpSystem
            examples:
              OTP Request - Mobile:
                summary: Enrolment via Mobile › OTP Request - Mobile
                value:
                  scope:
                    - abha-address-enroll
                    - mobile-verify
                  loginHint: mobile-number
                  loginId: "{{encryptedData}}"
                  otpSystem: abdm
              OTP Request - ABHA OTP:
                summary: Enrolment via ABHA Number-ABHA OTP › OTP Request - ABHA OTP
                value:
                  scope:
                    - abha-login
                    - mobile-verify
                  loginHint: abha-number
                  loginId: "{{encryptedData}}"
                  otpSystem: abdm
              OTP Request - AADHAR OTP:
                summary: Enrolment via ABHA Number-Aadhaar OTP › OTP Request - AADHAR OTP
                value:
                  scope:
                    - abha-login
                    - aadhaar-verify
                  loginHint: abha-number
                  loginId: "{{encryptedData}}"
                  otpSystem: aadhaar
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  message:
                    type: string
              examples:
                OTP Request - Mobile:
                  value:
                    txnId: 1bda575d-02pd-40be-77e6-1e3efca52a82
                    message: OTP is sent to Mobile number ending with ******2425
                OTP Request - ABHA OTP:
                  value:
                    txnId: 4795527e-848b-4a62-91ec-be041fbf60f7
                    message: OTP sent to mobile number ending with ******2425
                OTP Request - AADHAR OTP:
                  value:
                    txnId: f69f7624-9768-40e2-aa4a-0c76252b9b25
                    message: OTP sent to Aadhaar registered mobile number ending with ******2425
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  - type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                OTP Request - Invalid LoginId:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid LoginId
                OTP Request - Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                OTP Request - Invalid Mobile:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Mobile Number
                OTP Request - ABHA OTP-Invalid Login Hint:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Login Hint
                OTP Request - ABHA OTP-Invalid LoginId:
                  value:
                    code: ABDM-9999
                    message: Invalid LoginId
                OTP Request - ABHA OTP-Invalid ABHA Number:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid ABHA Number
                OTP Request - ABHA OTP-Invalid Otp System:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Otp System
                OTP Request - AADHAR OTP-Invalid Otp System:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Otp System
                OTP Request - AADHAR OTP-Invalid Login Hint:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Login Hint
                OTP Request - AADHAR OTP-Invalid ABHA Number:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid ABHA Number
      x-abdm-nha-operation-id: postEnrollmentRequestOtp2
  /abha/api/v3/phr/app/enrollment/suggestion:
    post:
      tags:
        - P1 - Create ABHA Address Flow
      summary: "3 flows: Suggestion API"
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via Mobile › Suggestion API
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-ABHA OTP › Suggestion API
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-Aadhaar OTP › Suggestion API
      operationId: p1_post_v3_phr_app_enrollment_suggestion
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                txnId:
                  type: string
                firstName:
                  type: string
                lastName:
                  type: string
                dayOfBirth:
                  type: string
                monthOfBirth:
                  type: string
                yearOfBirth:
                  type: string
                email:
                  type: string
              required:
                - txnId
                - firstName
                - lastName
                - dayOfBirth
                - monthOfBirth
                - yearOfBirth
            examples:
              Suggestion API:
                summary: Enrolment via Mobile › Suggestion API
                value:
                  txnId: ee10d1c7-e25f-40e0-a3a1-df4c1dda02211
                  firstName: John
                  lastName: Doe
                  dayOfBirth: <DOB>
                  monthOfBirth: <DOB>
                  yearOfBirth: <DOB>
                  email: ""
              Suggestion API (2):
                summary: Enrolment via ABHA Number-ABHA OTP › Suggestion API
                value:
                  txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                  firstName: John
                  lastName: Doe
                  dayOfBirth: <DOB>
                  monthOfBirth: <DOB>
                  yearOfBirth: <DOB>
                  email: ""
              Suggestion API (3):
                summary: Enrolment via ABHA Number-Aadhaar OTP › Suggestion API
                value:
                  txnId: 7f45052a-ac63-48de-92db-c5d8d3d0c92a
                  firstName: John
                  lastName: Doe
                  dayOfBirth: <DOB>
                  monthOfBirth: <DOB>
                  yearOfBirth: <DOB>
                  email: ""
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  abhaAddressList:
                    type: array
                    items:
                      type: string
              examples:
                Suggestion API:
                  value:
                    txnId: 4765527e-898b-4a62-91ec-be041fbf60f8
                    abhaAddressList:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                Suggestion API (2):
                  value:
                    txnId: 4795527e-848b-4a62-91ec-be041fbf60f7
                    abhaAddressList:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                Suggestion API (3):
                  value:
                    txnId: 4795527e-848b-4a62-91ec-be041fbf60f7
                    abhaAddressList:
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
                      - <ABHA_ADDRESS>
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
              examples:
                Suggestion API - Blank FirstName:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid First Name
                Suggestion API - Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Suggestion API- Invalid Month Of Birth:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Month Of Birth
                    - code: "ABDM-9999: "
                      message: Invalid First Name
                Suggestion API - Invalid Day Of Birth:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Day Of Birth
                Suggestion API-Invalid Year Of Birth:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Year Of Birth
                Suggestion API - Invalid Day Of Birth (2):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Day Of Birth
                Suggestion API - Invalid Transaction Id (2):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Suggestion API- Invalid Month Of Birth (2):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Month Of Birth
                    - code: "ABDM-9999: "
                      message: Invalid First Name
                Suggestion API - Blank FirstName (2):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid First Name
                Suggestion API-Invalid Year Of Birth (2):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Year Of Birth
                Suggestion API - Invalid Day Of Birth (3):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Day Of Birth
                Suggestion API - Invalid Transaction Id (3):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Suggestion API-Invalid Year Of Birth (3):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Year Of Birth
                Suggestion API- Invalid Month Of Birth (3):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Month Of Birth
                    - code: "ABDM-9999: "
                      message: Invalid First Name
                Suggestion API - Blank FirstName (3):
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid First Name
      x-abdm-nha-operation-id: postEnrollmentSuggestion
  /abha/api/v3/phr/app/enrollment/verify:
    post:
      tags:
        - P1 - Create ABHA Address Flow
      summary: "3 flows: OTP Verify - Mobile, OTP Verify - ABHA OTP, OTP Verify - AADHAR OTP"
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via Mobile › OTP Verify - Mobile
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-ABHA OTP › OTP Verify - ABHA OTP
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-Aadhaar OTP › OTP Verify - AADHAR OTP
      operationId: p1_post_v3_phr_app_enrollment_verify
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                        otpValue:
                          type: string
              required:
                - scope
                - authData
            examples:
              OTP Verify - Mobile:
                summary: Enrolment via Mobile › OTP Verify - Mobile
                value:
                  scope:
                    - abha-address-enroll
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
              OTP Verify - ABHA OTP:
                summary: Enrolment via ABHA Number-ABHA OTP › OTP Verify - ABHA OTP
                value:
                  scope:
                    - abha-login
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
              OTP Verify - AADHAR OTP:
                summary: Enrolment via ABHA Number-Aadhaar OTP › OTP Verify - AADHAR OTP
                value:
                  scope:
                    - abha-login
                    - aadhaar-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  message:
                    type: string
                  authResult:
                    type: string
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        abhaAddress:
                          type: string
                        fullName:
                          type: string
                        abhaNumber:
                          type: string
                        status:
                          type: string
                        kycStatus:
                          type: string
                  tokens:
                    type: object
                    properties:
                      token:
                        type: string
                      expiresIn:
                        type: integer
                      refreshToken:
                        type: string
                      refreshExpiresIn:
                        type: integer
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        mobile:
                          type: string
                        firstName:
                          type: string
                        middleName:
                          type: string
                        lastName:
                          type: string
                        name:
                          type: string
                        yearOfBirth:
                          type: string
                        dayOfBirth:
                          type: string
                        monthOfBirth:
                          type: string
                        gender:
                          type: string
                        email:
                          nullable: true
                        profilePhoto:
                          type: string
                        status:
                          type: string
                        stateCode:
                          type: string
                        districtCode:
                          type: string
                        subDistrictCode:
                          nullable: true
                        villageCode:
                          nullable: true
                        townCode:
                          nullable: true
                        wardCode:
                          nullable: true
                        pincode:
                          type: string
                        address:
                          type: string
                        kycPhoto:
                          type: string
                        stateName:
                          type: string
                        districtName:
                          type: string
                        subdistrictName:
                          type: string
                        villageName:
                          nullable: true
                        townName:
                          type: string
                        wardName:
                          nullable: true
                        authMethods:
                          type: array
                          items:
                            type: string
                        tags:
                          type: object
                          properties: {}
                        kycVerified:
                          type: boolean
                        verificationStatus:
                          type: string
                        verificationType:
                          type: string
                        emailVerified:
                          nullable: true
                        ABHANumber:
                          type: string
                        preferredAbhaAddress:
                          type: string
              examples:
                OTP Verify - Mobile:
                  value:
                    txnId: 1cba575d-02cd-40be-90e6-1e2edca88a88
                    message: OTP Verified Successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: XX-XXXX-XXXX-1234
                        status: ACTIVE
                        kycStatus: VERIFIED
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                OTP Verify - ABHA OTP:
                  value:
                    txnId: 32297943-1c66-4b3b-95a5-3fe10eea5558
                    message: OTP Verified Successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: PENDING
                    accounts:
                      - mobile: "******0903"
                        firstName: John
                        middleName: ""
                        lastName: Doe
                        name: John Doe
                        yearOfBirth: <DOB>
                        dayOfBirth: <DOB>
                        monthOfBirth: <DOB>
                        gender: M
                        email: null
                        profilePhoto: <BASE64_PHOTO>
                        status: ACTIVE
                        stateCode: "27"
                        districtCode: "487"
                        subDistrictCode: null
                        villageCode: null
                        townCode: null
                        wardCode: null
                        pincode: <PINCODE>
                        address: <ADDRESS>
                        kycPhoto: <BASE64_PHOTO>
                        stateName: MAHARASHTRA
                        districtName: <ADDRESS>
                        subdistrictName: <ADDRESS>
                        villageName: null
                        townName: <ADDRESS>
                        wardName: null
                        authMethods:
                          - DEMOGRAPHICS
                          - MOBILE_OTP
                          - AADHAAR_OTP
                        tags: {}
                        kycVerified: true
                        verificationStatus: VERIFIED
                        verificationType: AADHAAR
                        emailVerified: null
                        ABHANumber: <ABHA_NUMBER>
                        preferredAbhaAddress: <ABHA_ADDRESS>
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                OTP Verify - AADHAR OTP:
                  value:
                    txnId: 32297943-1c66-4b3b-95a5-3fe10eea5558
                    message: OTP Verified Successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: PENDING
                    accounts:
                      - mobile: "******0903"
                        firstName: John
                        middleName: ""
                        lastName: Doe
                        name: John Doe
                        yearOfBirth: <DOB>
                        dayOfBirth: <DOB>
                        monthOfBirth: <DOB>
                        gender: M
                        email: null
                        profilePhoto: <BASE64_PHOTO>
                        status: ACTIVE
                        stateCode: "27"
                        districtCode: "487"
                        subDistrictCode: null
                        villageCode: null
                        townCode: null
                        wardCode: null
                        pincode: <PINCODE>
                        address: <ADDRESS>
                        kycPhoto: <BASE64_PHOTO>
                        stateName: MAHARASHTRA
                        districtName: <ADDRESS>
                        subdistrictName: <ADDRESS>
                        villageName: null
                        townName: <ADDRESS>
                        wardName: null
                        authMethods:
                          - DEMOGRAPHICS
                          - MOBILE_OTP
                          - AADHAAR_OTP
                        tags: {}
                        kycVerified: true
                        verificationStatus: VERIFIED
                        verificationType: AADHAAR
                        emailVerified: null
                        ABHANumber: <ABHA_NUMBER>
                        preferredAbhaAddress: <ABHA_ADDRESS>
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
              examples:
                OTP Verify - Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                OTP Verify - Invalid OTP:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid OTP Request
                OTP Verify - Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                    - code: "ABDM-1006: "
                      message: Invalid OTP Request
                OTP Verify - ABHA OTP-Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                    - code: "ABDM-1006: "
                      message: Invalid OTP Request
                OTP Verify - ABHA OTP-Invalid OTP Request:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid OTP Request
                OTP Verify - ABHA OTP-Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                    - code: "ABDM-1006: "
                      message: Invalid OTP Request
                OTP Verify - ABHA OTP-Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                OTP Verify - AADHAR OTP-Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                    - code: "ABDM-1006: "
                      message: Invalid OTP Request
                OTP Verify - AADHAR OTP-Invalid OTP Request:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid OTP Request
                OTP Verify - AADHAR OTP-Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                OTP Verify - AADHAR OTP-Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                    - code: "ABDM-1006: "
                      message: Invalid OTP Request
      x-abdm-nha-operation-id: postEnrollmentVerify
  /abha/api/v3/phr/app/login/public/certificate:
    get:
      tags:
        - P1-Registration-login
      summary: PHR Certificate
      operationId: p1_get_v3_phr_app_login_public_certificate
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      responses:
        default:
          description: No response was saved in the Postman collection and no documented definition exists.
      x-abdm-nha-operation-id: getLoginPublicCertificate
  /abha/api/v3/phr/app/login/request/otp:
    post:
      tags:
        - P1 - PHR Login
      summary: "7 flows: OTP Request - Mobile, OTP Request - Email, OTP Request -  ABHAADDRES Mobile, OTP Request - AADHAR OTP, OTP Request - ABHA OTP, OTP Request -  ABHAADDRES Email, new OTP Request- AADHAAR"
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Mobile Number › OTP Request - Mobile
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Email (optional) › OTP Request - Email
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Address - Mobile OTP › OTP Request -  ABHAADDRES Mobile
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Number-Aadhaar OTP › OTP Request - AADHAR OTP
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Number-ABHA OTP › OTP Request - ABHA OTP
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Address - Email OTP › OTP Request -  ABHAADDRES Email
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Aadhaar- OTP › new OTP Request- AADHAAR
      operationId: p1_post_v3_phr_app_login_request_otp
      security:
        - bearerAuth: []
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                loginHint:
                  type: string
                loginId:
                  type: string
                otpSystem:
                  type: string
              required:
                - scope
                - loginHint
                - loginId
                - otpSystem
            examples:
              OTP Request - Mobile:
                summary: P1 - Login via Mobile Number › OTP Request - Mobile
                value:
                  scope:
                    - abha-address-login
                    - mobile-verify
                  loginHint: mobile-number
                  loginId: "{{encryptedData}}"
                  otpSystem: abdm
              OTP Request - Email:
                summary: P1 - Login via Email (optional) › OTP Request - Email
                value:
                  scope:
                    - abha-address-login
                    - email-verify
                  loginHint: email
                  loginId: "{{encryptedData}}"
                  otpSystem: abdm
              OTP Request - ABHAADDRES Mobile:
                summary: P1 - Login via ABHA Address - Mobile OTP › OTP Request -  ABHAADDRES Mobile
                value:
                  scope:
                    - abha-address-login
                    - mobile-verify
                  loginHint: abha-address
                  loginId: "{{encryptedData}}"
                  otpSystem: abdm
              OTP Request - AADHAR OTP:
                summary: P1 - Login via ABHA Number-Aadhaar OTP › OTP Request - AADHAR OTP
                value:
                  scope:
                    - abha-login
                    - aadhaar-verify
                  loginHint: abha-number
                  loginId: "{{encryptedData}}"
                  otpSystem: aadhaar
              OTP Request - ABHA OTP:
                summary: P1 - Login via ABHA Number-ABHA OTP › OTP Request - ABHA OTP
                value:
                  scope:
                    - abha-login
                    - mobile-verify
                  loginHint: abha-number
                  loginId: "{{encryptedData}}"
                  otpSystem: abdm
              OTP Request - ABHAADDRES Email:
                summary: P1 - Login via ABHA Address - Email OTP › OTP Request -  ABHAADDRES Email
                value:
                  scope:
                    - abha-address-login
                    - email-verify
                  loginHint: abha-address
                  loginId: "{{encryptedData}}"
                  otpSystem: abdm
              new OTP Request- AADHAAR:
                summary: P1 - Login via Aadhaar- OTP › new OTP Request- AADHAAR
                value:
                  scope:
                    - abha-login
                    - aadhaar-verify
                    - aadhaar-otp-verify
                  loginHint: aadhaar
                  loginId: <ENCRYPTED_LOGIN_ID>
                  otpSystem: aadhaar
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  message:
                    type: string
              examples:
                OTP Request - Mobile:
                  value:
                    txnId: b81a963d-4b97-48b4-9f9f-acf9f13afab7
                    message: OTP is sent to Mobile number ending with ******2425
                OTP Request - Email:
                  value:
                    txnId: b81a963d-4b97-48b4-9f9f-acf9f13afab7
                    message: OTP is sent to email ending with <EMAIL>
                OTP Request - ABHAADDRES Mobile:
                  value:
                    txnId: 48895712-9363-455b-937b-31e02fb71640
                    message: OTP is sent to Mobile number ending with ******2425
                OTP Request - AADHAR OTP:
                  value:
                    txnId: 04b2444d-9f12-4e8c-b645-334a6a9697de
                    message: OTP is sent to Aadhaar registered mobile number ending with *******2425
                OTP Request - ABHA OTP:
                  value:
                    txnId: 04b2444d-9f12-4e8c-b645-334a6a9697de
                    message: OTP is sent to Mobile number ending with ******2425
                OTP Request - ABHAADDRES Email:
                  value:
                    txnId: 48895712-9363-455b-937b-31e02fb71640
                    message: OTP is sent to email ending with <EMAIL>
                200 OK:
                  value:
                    txnId: c9ca1085-77f4-4848-a51e-f710edce0f98
                    message: OTP sent to Aadhaar registered mobile number ending with ******1280
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  - type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                OTP Request - Mobile-Invalid Scope:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Scope
                OTP Request - Mobile-Invalid Login Hint:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Login Hint
                OTP Request - Mobile-Invalid mobile number:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid mobile number
                OTP Request - Mobile-Invalid LoginId:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid LoginId
                OTP Request - Email-Invalid Otp System:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Otp System
                OTP Request - Email- Invalid Email Id:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Email Id
                OTP Request - Email- Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                OTP Request - Email -Invalid Login Hint:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Login Hint
                OTP Request - ABHAADDRES Mobile-Invalid Otp System:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Otp System
                OTP Request - ABHAADDRES Mobile-Invalid Abha Address:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Abha Address
                OTP Request - ABHAADDRES Mobile- Blank login hint:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Login Hint
                OTP Request - ABHAADDRES Mobile-Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                OTP Request - AADHAR OTP- Invalid LoginId:
                  value:
                    code: ABDM-9999
                    message: Invalid LoginId
                OTP Request - AADHAR OTP- Invalid Scope:
                  value:
                    code: "ABDM-1006: "
                    message: ' [{"scope":"Invalid Scope","timestamp":"2024-05-09T19:00:54.000Z"}]'
                OTP Request - AADHAR OTP-Invalid Login Hint:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Login Hint
                OTP Request - AADHAR OTP-Invalid Otp System:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Otp System
                OTP Request - ABHA OTP- Invalid Otp System:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Otp System
                OTP Request - ABHA OTP-Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                OTP Request - ABHA OTP-Invalid ABHA Number:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid ABHA Number
                OTP Request - ABHA OTP-Invalid Login Hint:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Login Hint
                OTP Request - ABHAADDRES Email-Blank LoginID:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid LoginId
                OTP Request - ABHAADDRES Email-Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                OTP Request - ABHAADDRES Email-Invalid Otp System:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Otp System
                OTP Request - ABHAADDRES Email-Invalid Abha Address:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Abha Address
                OTP Request - ABHAADDRES Email-Invalid Login Hint:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Login Hint
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
              examples:
                OTP Request - ABHA OTP- No Auth:
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
                OTP Request - ABHAADDRES Email-No Auth:
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
      x-abdm-nha-operation-id: postLoginRequestOtp
  /abha/api/v3/phr/app/login/search:
    post:
      tags:
        - P1 - Login via ABHA Address - Password
      summary: Search Auth Methods - ABHAAddress
      operationId: p1_post_v3_phr_app_login_search
      security:
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                abhaAddress:
                  type: string
              required:
                - abhaAddress
            examples:
              Search Auth Methods - ABHAAddress:
                summary: P1 - Login via ABHA Address - Password › Search Auth Methods - ABHAAddress
                value:
                  abhaAddress: <ABHA_ADDRESS>
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  healthIdNumber:
                    type: string
                    nullable: true
                  abhaAddress:
                    type: string
                  authMethods:
                    type: array
                    items:
                      type: string
                  blockedAuthMethods:
                    type: array
                    items: {}
                  status:
                    type: string
                  message:
                    nullable: true
                  fullName:
                    type: string
                  mobile:
                    type: string
              examples:
                Search Auth Methods - ABHAAddress:
                  value:
                    healthIdNumber: <ABHA_NUMBER>
                    abhaAddress: <ABHA_ADDRESS>
                    authMethods:
                      - MOBILE_OTP
                      - PASSWORD
                      - EMAIL_OTP
                    blockedAuthMethods: []
                    status: ACTIVE
                    message: null
                Search Auth Methods - ABHAAddress-ABHA no. not linked:
                  value:
                    healthIdNumber: null
                    abhaAddress: <ABHA_ADDRESS>
                    authMethods:
                      - EMAIL_OTP
                      - MOBILE_OTP
                      - PASSWORD
                    blockedAuthMethods: []
                    status: ACTIVE
                    message: null
                    fullName: John Doe
                    mobile: "******0903"
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  - type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Search Auth Methods - ABHAAddress-Invalid ABHA Address:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid ABHA Address
                Search Auth Methods - ABHAAddress- User not exist:
                  value:
                    code: ABDM-1211
                    message: User not found.
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
              examples:
                Search Auth Methods - ABHAAddress- No Auth:
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
      x-abdm-nha-operation-id: postLoginSearch
  /abha/api/v3/phr/app/login/verify:
    post:
      tags:
        - P1 - PHR Login
      summary: "8 flows: Login OTP Verify - Mobile, Login OTP Verify - Email, Login OTP Verify - ABHAADDRES Mobile, Login OTP Verify - AADHAR, Login OTP Verify - ABHA, Login Verify - Password, Login OTP Verify - ABHAADDRESS Email, new OTP verify- AADHAAR"
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Mobile Number › Login OTP Verify - Mobile
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Email (optional) › Login OTP Verify - Email
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Address - Mobile OTP › Login OTP Verify - ABHAADDRES Mobile
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Number-Aadhaar OTP › Login OTP Verify - AADHAR
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Number-ABHA OTP › Login OTP Verify - ABHA
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Address - Password › Login Verify - Password
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Address - Email OTP › Login OTP Verify - ABHAADDRESS Email
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Aadhaar- OTP › new OTP verify- AADHAAR
      operationId: p1_post_v3_phr_app_login_verify
      security:
        - bearerAuth: []
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: TIMESTAMP
          in: header
          required: true
          description: Request timestamp in UTC, ISO-8601 with Z.
          schema:
            type: string
            format: date-time
          example: "2022-10-06T15:10:00.587Z"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: array
                  items:
                    type: string
                authData:
                  type: object
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                    otp:
                      type: object
                      properties:
                        txnId:
                          type: string
                        otpValue:
                          type: string
                    password:
                      type: object
                      properties:
                        abhaAddress:
                          type: string
                        password:
                          type: string
              required:
                - scope
                - authData
            examples:
              Login OTP Verify - Mobile:
                summary: P1 - Login via Mobile Number › Login OTP Verify - Mobile
                value:
                  scope:
                    - abha-address-login
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
              Login OTP Verify - Email:
                summary: P1 - Login via Email (optional) › Login OTP Verify - Email
                value:
                  scope:
                    - abha-address-login
                    - email-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
              Login OTP Verify - ABHAADDRES Mobile:
                summary: P1 - Login via ABHA Address - Mobile OTP › Login OTP Verify - ABHAADDRES Mobile
                value:
                  scope:
                    - abha-address-login
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
              Login OTP Verify - AADHAR:
                summary: P1 - Login via ABHA Number-Aadhaar OTP › Login OTP Verify - AADHAR
                value:
                  scope:
                    - abha-login
                    - aadhaar-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
              Login OTP Verify - ABHA:
                summary: P1 - Login via ABHA Number-ABHA OTP › Login OTP Verify - ABHA
                value:
                  scope:
                    - abha-login
                    - mobile-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
              Login Verify - Password:
                summary: P1 - Login via ABHA Address - Password › Login Verify - Password
                value:
                  scope:
                    - abha-address-login
                    - password-verify
                  authData:
                    authMethods:
                      - password
                    password:
                      abhaAddress: <ABHA_ADDRESS>
                      password: <ENCRYPTED_PASSWORD>
              Login OTP Verify - ABHAADDRESS Email:
                summary: P1 - Login via ABHA Address - Email OTP › Login OTP Verify - ABHAADDRESS Email
                value:
                  scope:
                    - abha-address-login
                    - email-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: 37d8d312-35a0-41e7-a6e4-1074eb18a5fa
                      otpValue: "{{encryptedData}}"
              new OTP verify- AADHAAR:
                summary: P1 - Login via Aadhaar- OTP › new OTP verify- AADHAAR
                value:
                  scope:
                    - abha-login
                    - aadhaar-verify
                    - aadhaar-otp-verify
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: c51ad4d8-ae92-4509-8fb9-b91dea948492
                      otpValue: <ENCRYPTED_OTP_VALUE>
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  txnId:
                    type: string
                  message:
                    type: string
                  authResult:
                    type: string
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        abhaAddress:
                          type: string
                        fullName:
                          type: string
                        abhaNumber:
                          type: string
                        status:
                          type: string
                        kycStatus:
                          type: string
                  tokens:
                    type: object
                    properties:
                      token:
                        type: string
                      expiresIn:
                        type: integer
                      refreshToken:
                        type: string
                        nullable: true
                      refreshExpiresIn:
                        type: integer
                        nullable: true
                      switchProfileEnabled:
                        type: boolean
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        mobile:
                          type: string
                        firstName:
                          type: string
                        middleName:
                          type: string
                        lastName:
                          type: string
                        name:
                          type: string
                        yearOfBirth:
                          type: string
                        dayOfBirth:
                          type: string
                        monthOfBirth:
                          type: string
                        gender:
                          type: string
                        email:
                          nullable: true
                        profilePhoto:
                          type: string
                        status:
                          type: string
                        stateCode:
                          type: string
                        districtCode:
                          type: string
                        subDistrictCode:
                          nullable: true
                        villageCode:
                          nullable: true
                        townCode:
                          nullable: true
                        wardCode:
                          nullable: true
                        pincode:
                          type: string
                        address:
                          type: string
                        kycPhoto:
                          type: string
                        stateName:
                          type: string
                        districtName:
                          type: string
                        subdistrictName:
                          type: string
                        villageName:
                          nullable: true
                        townName:
                          type: string
                        wardName:
                          nullable: true
                        authMethods:
                          type: array
                          items:
                            type: string
                        tags:
                          type: object
                          properties: {}
                        kycVerified:
                          type: boolean
                        verificationStatus:
                          type: string
                        verificationType:
                          type: string
                        emailVerified:
                          nullable: true
                        ABHANumber:
                          type: string
                        preferredAbhaAddress:
                          type: string
                  preferredAbhaAddress:
                    type: string
              examples:
                Login OTP Verify - Mobile:
                  value:
                    txnId: b81a963d-4b97-48b4-9f9f-acf9f13afab7
                    message: OTP verified successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: PENDING
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        status: ACTIVE
                        kycStatus: PENDING
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: null
                      refreshExpiresIn: null
                Login OTP Verify - Mobile- Invalid OTP:
                  value:
                    txnId: 637fbed4-3f43-443a-a8dc-18c34def2822
                    message: Entered OTP is incorrect. Kindly re-enter valid OTP.
                    authResult: failed
                    users: []
                Login OTP Verify - Email:
                  value:
                    txnId: b81a963d-4b97-48b4-9f9f-acf9f13afab7
                    message: OTP verified successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: null
                      refreshExpiresIn: null
                Login OTP Verify - Email - Invalid OTP:
                  value:
                    txnId: 0bb3230e-ebe4-487b-8093-1cc37d5807ed
                    message: OTP did not match, please try again
                    authResult: failed
                    users: []
                Login OTP Verify - ABHAADDRES Mobile- Invalid OTP:
                  value:
                    txnId: 4f630826-9cff-4aa2-9045-f479990f15dd
                    message: Entered OTP is incorrect. Kindly re-enter valid OTP.
                    authResult: failed
                    users: []
                Login OTP Verify - Mobile (2):
                  value:
                    txnId: 48895712-9363-455b-937b-31e02fb71640
                    message: OTP verified successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: PENDING
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        status: ACTIVE
                        kycStatus: PENDING
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: null
                      refreshExpiresIn: null
                Login OTP Verify - AADHAR:
                  value:
                    txnId: 04b2444d-9f12-4e8c-b645-334a6a9697de
                    message: OTP Verified Successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: PENDING
                    accounts:
                      - mobile: "******0903"
                        firstName: John
                        middleName: ""
                        lastName: Doe
                        name: John Doe
                        yearOfBirth: <DOB>
                        dayOfBirth: <DOB>
                        monthOfBirth: <DOB>
                        gender: M
                        email: null
                        profilePhoto: <BASE64_PHOTO>
                        status: ACTIVE
                        stateCode: "27"
                        districtCode: "487"
                        subDistrictCode: null
                        villageCode: null
                        townCode: null
                        wardCode: null
                        pincode: <PINCODE>
                        address: <ADDRESS>
                        kycPhoto: <BASE64_PHOTO>
                        stateName: MAHARASHTRA
                        districtName: <ADDRESS>
                        subdistrictName: <ADDRESS>
                        villageName: null
                        townName: <ADDRESS>
                        wardName: null
                        authMethods:
                          - DEMOGRAPHICS
                          - MOBILE_OTP
                          - AADHAAR_OTP
                        tags: {}
                        kycVerified: true
                        verificationStatus: VERIFIED
                        verificationType: AADHAAR
                        emailVerified: null
                        ABHANumber: <ABHA_NUMBER>
                        preferredAbhaAddress: <ABHA_ADDRESS>
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                Login OTP Verify - ABHA- Invalid OTP:
                  value:
                    txnId: afe155a3-524e-4035-924f-b23e38b65e4e
                    message: Please enter a valid OTP. Entered OTP is either expired or incorrect.
                    authResult: failed
                    users: []
                Login OTP Verify - ABHA:
                  value:
                    txnId: 04b2444d-9f12-4e8c-b645-334a6a9697de
                    message: OTP Verified Successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: PENDING
                    accounts:
                      - mobile: "******0903"
                        firstName: John
                        middleName: ""
                        lastName: Doe
                        name: John Doe
                        yearOfBirth: <DOB>
                        dayOfBirth: <DOB>
                        monthOfBirth: <DOB>
                        gender: M
                        email: null
                        profilePhoto: <BASE64_PHOTO>
                        status: ACTIVE
                        stateCode: "27"
                        districtCode: "487"
                        subDistrictCode: null
                        villageCode: null
                        townCode: null
                        wardCode: null
                        pincode: <PINCODE>
                        address: <ADDRESS>
                        kycPhoto: <BASE64_PHOTO>
                        stateName: MAHARASHTRA
                        districtName: <ADDRESS>
                        subdistrictName: <ADDRESS>
                        villageName: null
                        townName: <ADDRESS>
                        wardName: null
                        authMethods:
                          - DEMOGRAPHICS
                          - MOBILE_OTP
                          - AADHAAR_OTP
                        tags: {}
                        kycVerified: true
                        verificationStatus: VERIFIED
                        verificationType: AADHAAR
                        emailVerified: null
                        ABHANumber: <ABHA_NUMBER>
                        preferredAbhaAddress: <ABHA_ADDRESS>
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                Login Verify - Password:
                  value:
                    message: Password verified successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: <JWT TOKEN>
                      refreshExpiresIn: 1296000
                Login Verify - Password- Invalid Password:
                  value:
                    message: Password did not match, please try again
                    authResult: failed
                    users: []
                Login OTP Verify - Email (2):
                  value:
                    txnId: 48895712-9363-455b-937b-31e02fb71640
                    message: OTP verified successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 1800
                      refreshToken: null
                      refreshExpiresIn: null
                Login OTP Verify - ABHAADDRESS Email-Invalid OTP:
                  value:
                    txnId: 8e11bfaf-0b0f-48dd-9050-e219ee2ad6e0
                    message: OTP did not match, please try again
                    authResult: failed
                    users: []
                200 Ok:
                  value:
                    txnId: c9ca1085-77f4-4848-a51e-f710edce0f98
                    message: OTP verified successfully
                    authResult: success
                    users:
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                      - abhaAddress: <ABHA_ADDRESS>
                        fullName: John Doe
                        abhaNumber: <ABHA_NUMBER>
                        status: ACTIVE
                        kycStatus: VERIFIED
                    preferredAbhaAddress: <ABHA_ADDRESS>
                    tokens:
                      token: <JWT TOKEN>
                      expiresIn: 300
                      switchProfileEnabled: false
        "400":
          description: Bad Request
          content:
            application/json:
              schema:
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        message:
                          type: string
                  - type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              examples:
                Login OTP Verify - Mobile-Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Login OTP Verify - Mobile -Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                Login OTP Verify - Mobile-Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                    - code: "ABDM-1006: "
                      message: Invalid Password Request, Please enter valid ABHA Address or valid password
                Login OTP Verify - Email - Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Login OTP Verify - Email - Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                Login OTP Verify - Email - Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                    - code: "ABDM-1006: "
                      message: Invalid Password Request, Please enter valid ABHA Address or valid password
                Login OTP Verify - ABHAADDRES Mobile-Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Login OTP Verify - ABHAADDRES Mobile-Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                    - code: "ABDM-1006: "
                      message: Invalid Password Request, Please enter valid ABHA Address or valid password
                Login OTP Verify - ABHAADDRES Mobile-Invalid Scope:
                  value:
                    code: ABDM-1107
                    message: Invalid combinations of scopes
                Login OTP Verify - AADHAR- Invalid scope:
                  value:
                    code: ABDM-1107
                    message: Invalid combinations of scopes
                Login OTP Verify - AADHAR-Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                    - code: "ABDM-1006: "
                      message: Invalid Password Request, Please enter valid ABHA Address or valid password
                Login OTP Verify - AADHAR-Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Login OTP Verify - ABHA-Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                Login OTP Verify - ABHA-Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
                Login OTP Verify - ABHA-Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                    - code: "ABDM-1006: "
                      message: Invalid Password Request, Please enter valid ABHA Address or valid password
                Login Verify - Password- Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                Login Verify - Password-Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                Login Verify - Password-Blank password:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Password
                Login OTP Verify - ABHAADDRESS Email-Invalid Scope:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Scope
                Login OTP Verify - ABHAADDRESS Email-Invalid Auth Methods:
                  value:
                    - code: "ABDM-1006: "
                      message: Invalid Auth Methods
                    - code: "ABDM-1006: "
                      message: Invalid Password Request, Please enter valid ABHA Address or valid password
                Login OTP Verify - ABHAADDRESS Email-Invalid Transaction Id:
                  value:
                    - code: "ABDM-9999: "
                      message: Invalid Transaction Id
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                  message:
                    type: string
                  description:
                    type: string
              examples:
                Login OTP Verify - ABHAADDRES Mobile-No Auth:
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
                Login OTP Verify - ABHA-No Auth:
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
                Login OTP Verify - ABHAADDRESS Email-No Auth:
                  value:
                    code: "900902"
                    message: Missing Credentials
                    description: <JWT TOKEN>
      x-abdm-nha-operation-id: postLoginVerify
  /abha/api/v3/phr/app/login/verify/user:
    post:
      tags:
        - P1-Registration-login
      summary: "6 flows: Verify User, Verify - User"
      description: |-
        Flows in the Postman collection:
        - P1-Registration-login › P1 - Create ABHA Address Flow › Enrolment via ABHA Number-ABHA OTP › Verify User
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Mobile Number › Verify - User
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Email (optional) › Verify - User
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Number-Aadhaar OTP › Verify - User
        - P1-Registration-login › P1 - PHR Login › P1 - Login via ABHA Number-ABHA OTP › Verify - User
        - P1-Registration-login › P1 - PHR Login › P1 - Login via Aadhaar- OTP › Verify - User
      operationId: p1_post_v3_phr_app_login_verify_user
      security:
        - bearerAuth: []
        - bearerAuth: []
      parameters:
        - name: REQUEST-ID
          in: header
          required: true
          description: Unique UUID for each request.
          schema:
            type: string
            format: uuid
          example: 18235d89-cb13-479d-ad71-7a57d5f669a8
        - name: T-token
          in: header
          required: true
          schema:
            type: string
          example: Bearer <JWT TOKEN>
[...]
