{
    "openapi": "3.0.1",
    "info": {
        "title": "Health Professional Identification APIs"
    },
    "servers": [
        {
            "url": "https://apihspsbx.abdm.gov.in/v4/int"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "paths": {
        "/aadhaar/generateLink": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "generateAadhaarLink",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadharGenerateLinkRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadharGenerateLinkResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/aadhaar/isAuthenticated": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "isAadhaarAuthenticated",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/verifyOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "verifyOtp",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadharVerifyResponsePayload"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/demographicAuthViaMobile": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "demographicAuthViaMobile",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/MobileDemographicAuthResponseModel"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/checkHpIdAccountExist": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "accountExist",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountExistPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountExistResponsePayload"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/hpid/suggestion": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "getSuggesstion",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HpIdSuggestionRequst"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/generateMobileOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "generateMobileOtp",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDGenerateMobileOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/verifyMobileOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "verifyMobileOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDVerifyMobileOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HPRIDVerifyMobileOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/createHprIdWithPreVerified": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "createHprIdV2",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccountWithPreVerifiedAadhaar"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateAccountJwtResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/authPassword": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "loginViaPassword",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/LoginViaPasswordRequestDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/LoginViaPasswordResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/cert": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "getPublicCertificate",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "publicCertificateRequestDto",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "$ref": "#/components/schemas/PublicCertificateRequestDto"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/confirmWithAadhaarOtp": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "verifyAadhaarOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarAuthVerifyRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadhaarAuthVerifyResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v1/auth/init": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "sendViaAadhaarOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarAuthRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadhaarAuthResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/v2/auth/loginViaMobileSendOTP": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "sendVerifyOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendVerifyOtpRequestDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendVerifyOtpResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/generate-mobile-otp": {
            "post": {
                "tags": [
                    "Verification"
                ],
                "operationId": "generateMobileOTP_2",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGenerateOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadhaarGenerateOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/generate-verification-email": {
            "post": {
                "tags": [
                    "Verification"
                ],
                "operationId": "sendVerificationEmail",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EmailAuthRequestDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmailAuthResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/regenerate-mobile-otp": {
            "post": {
                "tags": [
                    "Verification"
                ],
                "operationId": "regenerateMobileOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGenerateOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadhaarGenerateOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/resent-verify-email": {
            "post": {
                "tags": [
                    "Verification"
                ],
                "operationId": "resentVerificationEmail",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EmailAuthRequestDto"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmailAuthResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/verify-email-otp": {
            "post": {
                "tags": [
                    "Verification"
                ],
                "operationId": "verifyEmailOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/EmailOTPVerificationRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmailOTPVerificationResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/verify-mobile-otp": {
            "post": {
                "tags": [
                    "Verification"
                ],
                "operationId": "verifyMobileOtp",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/VerifyOtpRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadhaarGenerateOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hpid/get/categories": {
            "get": {
                "tags": [
                    "Util"
                ],
                "operationId": "fetchHpIdCategories",
                "parameters": [
                    {
                        "name": "role",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/HpCategoriesDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hpid/get/subCategories": {
            "get": {
                "tags": [
                    "Util"
                ],
                "operationId": "fetchHpIdSubCategoriesFromCategory",
                "parameters": [
                    {
                        "name": "categoryCode",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "role",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/HpSubCategoriesDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/password/change/byPassword": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "operationId": "changePassword",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HidChangePasswordRequestPayload"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordChangeDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/password/recover/byAadhaar": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "operationId": "recoverPasswordViaAadhaar",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/TxnResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/password/recover/byMobile/sendMobileOTP": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "operationId": "generateMobileOTP_1",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CategoryRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendOtpResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/password/recover/byMobile/verifyMobileOTP": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "operationId": "verifyMobileOTP_1",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HidChangePasswordRequestPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendOtpResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/password/recover/confirmByAadhaar": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "operationId": "recoverPasswordConfirmByAadhaar",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HidOtpWebRequestPaylaod"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateAaddhaarDemographicMobileResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/password/reset/password": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "operationId": "resetPasswordAndSession",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HidOtpWebRequestPaylaod"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordChangeDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/password/resetPassword": {
            "post": {
                "tags": [
                    "Profile"
                ],
                "operationId": "resetPassword",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HidOtpWebRequestPaylaod"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PasswordChangeDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/account/getIdCard": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "operationId": "getAccountPngCard",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "X-Token",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ProfileResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/account/information": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "operationId": "getUserProfileByJwt",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "masked",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "boolean",
                            "default": true
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserProfileResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/account/user-details/{hprId}": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "operationId": "getUserDetails",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hprId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UserEntityResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/forgot/hprId/aadhaar": {
            "post": {
                "tags": [
                    "Forgot Healthcare Professional ID/number"
                ],
                "operationId": "retrievalHealthIdByAadhaar",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveHprIdPayloadResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/forgot/hprId/mobile": {
            "post": {
                "tags": [
                    "Forgot Healthcare Professional ID/number"
                ],
                "operationId": "retrievalHealthIdByMobile",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RetriveHprIdMobilePayLoad"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/RetrieveHprIdPayloadResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/forgot/hprId/mobile/generateOtp": {
            "post": {
                "tags": [
                    "Forgot Healthcare Professional ID/number"
                ],
                "operationId": "generateMobileOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SendOtpRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SendOtpResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/search/existsByHprId/{hprId}": {
            "get": {
                "tags": [
                    "Searched"
                ],
                "operationId": "existsByHprId",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hprId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/search/searchByHprId/{hprId}": {
            "get": {
                "tags": [
                    "Searched"
                ],
                "operationId": "searchUserByHprId",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hprId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ForgetUserEntityResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/search/searchByMobile/{mobile}": {
            "get": {
                "tags": [
                    "Searched"
                ],
                "operationId": "searchUserByMobileNo",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "mobile",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ForgetUserEntityResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v4/auth/logout": {
            "get": {
                "tags": [
                    "Profile"
                ],
                "operationId": "logout",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AadhaarGetTransactionRequest": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "AadharVerifyResponsePayload": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    },
                    "photo": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    },
                    "birthdate": {
                        "type": "string"
                    },
                    "careOf": {
                        "type": "string"
                    },
                    "house": {
                        "type": "string"
                    },
                    "street": {
                        "type": "string"
                    },
                    "landmark": {
                        "type": "string"
                    },
                    "locality": {
                        "type": "string"
                    },
                    "villageTownCity": {
                        "type": "string"
                    },
                    "subDist": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "postOffice": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    }
                }
            },
            "HPRIDGenerateMobileOTPResponseDTO": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "MobileDemographicAuthResponseModel": {
                "type": "object",
                "properties": {
                    "verified": {
                        "type": "boolean"
                    }
                }
            },
            "CreateAccountWithPreVerifiedAadhaar": {
                "required": [
                    "email",
                    "txnId"
                ],
                "type": "object",
                "properties": {
                    "idType": {
                        "type": "string",
                        "example": "hpr_id"
                    },
                    "domainName": {
                        "type": "string",
                        "example": "@hpr.abdm"
                    },
                    "email": {
                        "type": "string",
                        "description": "Email Address of the user.",
                        "example": "<ABHA_ADDRESS>.com"
                    },
                    "firstName": {
                        "type": "string",
                        "description": "First Name of the user).",
                        "example": "Ayushman"
                    },
                    "middleName": {
                        "type": "string",
                        "description": "Middle name of the user ",
                        "example": "Bharat"
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Last name of the user ",
                        "example": "Mission"
                    },
                    "password": {
                        "type": "string",
                        "description": "Passwords for authentication",
                        "example": "Ayushman@143"
                    },
                    "profilePhoto": {
                        "type": "string",
                        "description": "Profile photo of the user (Uploaded by the user).",
                        "example": "<BASE64 ENCODED STRING>"
                    },
                    "txnId": {
                        "type": "string",
                        "description": "Transaction ID",
                        "format": "uuid",
                        "example": "c3b0c27d-e19d-4244-b8bb-3fa19285054a"
                    },
                    "hprId": {
                        "type": "string",
                        "description": "Healthcare Professional ID Alias.",
                        "example": "<EMAIL>"
                    },
                    "sourceType": {
                        "type": "string",
                        "enum": [
                            "DRIVING_LICENSE",
                            "AADHAAR"
                        ]
                    },
                    "hpCategoryCode": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1
                    },
                    "hpSubCategoryCode": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1
                    },
                    "clientId": {
                        "type": "string",
                        "example": "V4"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "council": {
                        "type": "boolean"
                    },
                    "role": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "CreateAccountJwtResponse": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "subDistrictCode": {
                        "type": "string"
                    },
                    "subDistrictName": {
                        "type": "string"
                    },
                    "stateName": {
                        "type": "string"
                    },
                    "districtName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "kycPhoto": {
                        "type": "string"
                    },
                    "mobile": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "subCategoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "role": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "authMethods": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "AADHAAR_OTP",
                                "MOBILE_OTP",
                                "PASSWORD",
                                "DEMOGRAPHICS",
                                "AADHAAR_BIO",
                                "EMAIL_OTP",
                                "MOBILE_OTP_RESET_PASSWROD",
                                "FACE_AUTH"
                            ]
                        }
                    },
                    "new": {
                        "type": "boolean"
                    }
                }
            },
            "HPRIDVerifyMobileOTPRequestDTO": {
                "type": "object",
                "properties": {
                    "otp": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "HPRIDVerifyMobileOTPResponseDTO": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "HpIdSuggestionRequst": {
                "required": [
                    "txnId"
                ],
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string",
                        "description": "Based on UUID",
                        "example": "a825f76b-0696-40f3-864c-5a3a5b389a83"
                    }
                }
            },
            "HPRIDGenerateMobileOTPRequestDTO": {
                "type": "object",
                "properties": {
                    "mobile": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "AccountExistPayload": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "preverifiedCheck": {
                        "type": "boolean"
                    }
                }
            },
            "AccountExistResponsePayload": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "categoryName": {
                        "type": "string"
                    },
                    "subCategoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "categorySubName": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "stateName": {
                        "type": "string"
                    },
                    "districtName": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    },
                    "profilePhoto": {
                        "type": "string"
                    },
                    "mobile": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "new": {
                        "type": "boolean"
                    }
                }
            },
            "RetriveHprIdMobilePayLoad": {
                "required": [
                    "firstName",
                    "gender",
                    "name",
                    "otp",
                    "txnId",
                    "yearOfBirth"
                ],
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "pattern": "^(M|F|O|U)$",
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "pattern": "^(\\d{4})$",
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "pattern": "^(0?[1-9]|1[012])$",
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "pattern": "^(0?[1-9]|[12][0-9]|3[01])$",
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    }
                }
            },
            "RetrieveHprIdPayloadResponse": {
                "type": "object",
                "properties": {
                    "hprId": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "token": {
                        "type": "string"
                    }
                }
            },
            "SendOtpRequest": {
                "type": "object",
                "properties": {
                    "mobileNumber": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "hpid": {
                        "type": "string"
                    }
                }
            },
            "SendOtpResponse": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "HidOtpWebRequestPaylaod": {
                "required": [
                    "newPassword",
                    "otp",
                    "txnId"
                ],
                "type": "object",
                "properties": {
                    "newPassword": {
                        "type": "string",
                        "description": "Encrypted new Password."
                    },
                    "otp": {
                        "type": "string",
                        "description": "Encrypted OTP."
                    },
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "PasswordChangeDTO": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                }
            },
            "ValidateAaddhaarDemographicMobileResponseDTO": {
                "type": "object",
                "properties": {
                    "verified": {
                        "type": "boolean"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "HidChangePasswordRequestPayload": {
                "required": [
                    "newPassword"
                ],
                "type": "object",
                "properties": {
                    "oldPassword": {
                        "type": "string"
                    },
                    "newPassword": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    },
                    "hprID": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    }
                }
            },
            "CategoryRequest": {
                "required": [
                    "hprId"
                ],
                "type": "object",
                "properties": {
                    "hprId": {
                        "type": "string"
                    },
                    "categories": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }
            },
            "TxnResponse": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string",
                        "description": "Based on UUID",
                        "format": "uuid",
                        "example": "a825f76b-0696-40f3-864c-5a3a5b389a83"
                    },
                    "mobileNumber": {
                        "type": "string",
                        "example": "******2125"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "verified": {
                        "type": "boolean"
                    }
                }
            },
            "VerifyOtpRequest": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    }
                }
            },
            "AadhaarGenerateOTPResponseDTO": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "EmailOTPVerificationRequestDTO": {
                "type": "object",
                "properties": {
                    "hpr_token": {
                        "type": "string"
                    },
                    "hpr_id": {
                        "type": "string"
                    },
                    "officialEmail": {
                        "type": "string"
                    },
                    "emailOtp": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "EmailOTPVerificationResponseDTO": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    }
                }
            },
            "EmailAuthRequestDto": {
                "type": "object",
                "properties": {
                    "emailAddress": {
                        "type": "string"
                    },
                    "otp_type": {
                        "type": "string"
                    }
                }
            },
            "EmailAuthResponseDto": {
                "type": "object",
                "properties": {
                    "msg": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    }
                }
            },
            "AadhaarGenerateOTPRequestDTO": {
                "required": [
                    "hpr_token",
                    "officialMobile"
                ],
                "type": "object",
                "properties": {
                    "hpr_token": {
                        "type": "string"
                    },
                    "officialMobile": {
                        "type": "string"
                    }
                }
            },
            "SendVerifyOtpRequestDto": {
                "type": "object",
                "properties": {
                    "mobile": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    },
                    "hpid": {
                        "type": "string"
                    }
                }
            },
            "MobileLinkedHpIdDto": {
                "type": "object",
                "properties": {
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "subCategoryId": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "SendVerifyOtpResponseDto": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileLinkedHpIdDTO": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MobileLinkedHpIdDto"
                        }
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "AadhaarAuthRequestDTO": {
                "type": "object",
                "properties": {
                    "idType": {
                        "type": "string"
                    },
                    "domainName": {
                        "type": "string"
                    },
                    "authMethod": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    }
                }
            },
            "AadhaarAuthResponseDTO": {
                "type": "object",
                "properties": {
                    "transactionId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "AadhaarAuthVerifyRequestDTO": {
                "type": "object",
                "properties": {
                    "otp": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "AadhaarAuthVerifyResponseDTO": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "expiresIn": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "refreshToken": {
                        "type": "string"
                    },
                    "refreshExpiresIn": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "LoginViaPasswordRequestDto": {
                "type": "object",
                "properties": {
                    "idType": {
                        "type": "string"
                    },
                    "domainName": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    }
                }
            },
            "LoginViaPasswordResponseDto": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "expiresIn": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "refreshToken": {
                        "type": "string"
                    },
                    "refreshExpiresIn": {
                        "type": "integer",
                        "format": "int64"
                    }
                }
            },
            "AadharGenerateLinkRequest": {
                "type": "object",
                "properties": {
                    "scopes": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "source": {
                        "type": "string"
                    }
                }
            },
            "AadharGenerateLinkResponse": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    },
                    "url": {
                        "type": "string"
                    }
                }
            },
            "ForgetUserEntityResponseDTO": {
                "type": "object",
                "properties": {
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "authMethods": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "AADHAAR_OTP",
                                "MOBILE_OTP",
                                "PASSWORD",
                                "DEMOGRAPHICS",
                                "AADHAAR_BIO",
                                "EMAIL_OTP",
                                "MOBILE_OTP_RESET_PASSWROD",
                                "FACE_AUTH"
                            ]
                        }
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "string"
                    },
                    "subCategoryId": {
                        "type": "string"
                    }
                }
            },
            "UserEntityResponseDTO": {
                "type": "object",
                "properties": {
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "categoryName": {
                        "type": "string"
                    },
                    "categorySubName": {
                        "type": "string"
                    }
                }
            },
            "UserProfileResponseDto": {
                "type": "object",
                "properties": {
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "mobile": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "type": "string"
                    },
                    "gender": {
[...]
