{
    "openapi": "3.0.1",
    "info": {
        "title": "Health Professional Registry APIs",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://apihspsbx.abdm.gov.in/v4/int"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "paths": {
        "/aadhaar/generateLink": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "generateAadhaarLink",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadharGenerateLinkRequest"
                            },
                            "example": {
                                "scopes": [
                                    "nhpr-register"
                                ],
                                "source": "NHPR"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadharGenerateLinkResponse"
                                },
                                "example": {
                                    "txnId": "de4ff682-fcc6-4bcf-a978-0dbb19a288b4",
                                    "mobileNumber": "******1234"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/aadhaar/isAuthenticated": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "isAadhaarAuthenticated",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            },
                            "example": {
                                "txnId": "259813b1-a339-4482-8df5-16ee45b8dcf2"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean"
                                },
                                "example": true
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/verifyOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "verifyOtp",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            },
                            "example": {
                                "txnId": "de4ff682-fcc6-4bcf-a978-0dbb19a288b4"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadharVerifyResponsePayload"
                                },
                                "example": {
                                    "txnId": "951b4258-2ac7-432c-8dbf-6ed990757b88",
                                    "mobileNumber": null,
                                    "photo": "<BASE64 ENCODED STRING>",
                                    "gender": "M",
                                    "name": "Ayushman Bharat Mission",
                                    "email": null,
                                    "pincode": "201005",
                                    "birthdate": "01-11-1990",
                                    "careOf": "RAJPAL SHARMA",
                                    "house": "PLOT NO 84 B,D-201,EURO APARTMENT",
                                    "street": "SECTOR 5 RAJENDER NAGAR",
                                    "landmark": null,
                                    "locality": "NEAR AGRASEN BHAWAN",
                                    "villageTownCity": "Sahibabad",
                                    "subDist": null,
                                    "district": "Ghaziabad",
                                    "state": "Uttar Pradesh",
                                    "postOffice": "Sahibabad",
                                    "address": "9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/demographicAuthViaMobile": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "demographicAuthViaMobile",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
                            },
                            "example": {
                                "txnId": "de4ff682-fcc6-4bcf-a978-0dbb19a288b4",
                                "mobileNumber": "JrHfDROoEcsYJ41g2wdkicsI7mT1ATCP347iqwBhWbfaEIgZ03/WHAYvDHRG2WXl4HBNuP2orD+3O75pN0xFhOz4oLXrePAxKTLK8uG5jdeAiGE2lKwOrShq9/gg+BckrQcDYjpMUePRuDau4mqLHa8FdSCQ8npGPY9KCpD2hZkscWNqZR68gRo/EwpY4u32kDzv5i1K/s+A7FNVwXqZS5AK2BadEhG5drSRk7P83eFxJZUlwtsvDK6iipOsM4VtMXXXXXXXXXXXXXXXXXXXXXXXXXXX"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MobileDemographicAuthResponseModel"
                                },
                                "example": {
                                    "verified": true,
                                    "errorCode": null,
                                    "reason": null,
                                    "uidaiToken": null
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/checkHpIdAccountExist": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "accountExist",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountExistPayload"
                            },
                            "example": {
                                "txnId": "de4ff682-fcc6-4bcf-a978-0dbb19a288b4"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountExistResponsePayload"
                                },
                                "example": {
                                    "token": "<JWT TOKEN>",
                                    "hprIdNumber": "<HPR_ID>",
                                    "categoryId": 100,
                                    "subCategoryId": 85,
                                    "txnId": "79dbf65d-affa-4249-8935-3d01676d8b82",
                                    "name": "Ayushman Bharat Mission",
                                    "gender": "M",
                                    "yearOfBirth": "1990",
                                    "monthOfBirth": "11",
                                    "dayOfBirth": "1",
                                    "firstName": "Ayushman",
                                    "middleName": "",
                                    "lastName": "Mission",
                                    "stateCode": "9",
                                    "districtCode": "145",
                                    "stateName": "Uttar Pradesh",
                                    "districtName": "Ghaziabad",
                                    "address": "9th Floor, Tower-l, Jeevan Bharati Building, Connaught Place, New Delhi - 110001",
                                    "pincode": "201005",
                                    "profilePhoto": "<BASE64 ENCODED STRING>",
                                    "mobile": null,
                                    "hprId": "<EMAIL>",
                                    "new": false
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/hpid/suggestion": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "getSuggesstion",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HpIdSuggestionRequst"
                            },
                            "example": {
                                "txnId": "a825f76b-0696-40f3-864c-5a3a5b389a83"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                },
                                "example": [
                                    "anujsharma"
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/generateMobileOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "generateMobileOtp",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDGenerateMobileOTPRequestDTO"
                            },
                            "example": {
                                "mobile": "981065XXXX",
                                "txnId": "de4ff682-fcc6-4bcf-a978-0dbb19a288b4"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
                                },
                                "example": {
                                    "txnId": "951b4258-2ac7-432c-8dbf-6ed990757b88",
                                    "mobileNumber": null
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/verifyMobileOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "verifyMobileOTP",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDVerifyMobileOTPRequestDTO"
                            },
                            "example": {
                                "otp": "<BASE64 ENCODED STRING>",
                                "txnId": "de4ff682-fcc6-4bcf-a978-0dbb19a288b4"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HPRIDVerifyMobileOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/createHprIdWithPreVerified": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "createHprIdV2",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccountWithPreVerifiedAadhaar"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateAccountJwtResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/register-professional-new": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "registerProfesstional",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HealthProfessionalDto"
                            },
                            "example": {
                                "hprToken": "<JWT TOKEN>",
                                "practitioner": {
                                    "healthProfessionalType": "doctor",
                                    "profilePhoto": "<BASE64 ENCODED STRING>",
                                    "officialMobileCode": "",
                                    "officialMobile": "97624xxxxx",
                                    "officialMobileStatus": "",
                                    "officialEmail": "",
                                    "officialEmailStatus": "",
                                    "visibleProfilePicture": "0",
                                    "profileVisibleToPublic": "1",
                                    "personalInformation": {
                                        "salutation": "1",
                                        "firstName": "Ayushman",
                                        "middleName": "",
                                        "lastName": "Mission",
                                        "nationality": "356",
                                        "fatherName": "",
                                        "motherName": "",
                                        "spouseName": "",
                                        "gender": "M",
                                        "dateOfBirth": "1991-24-04",
                                        "placeOfBirthState": "68",
                                        "district": "",
                                        "subDistrict": "",
                                        "city": "",
                                        "languagesSpoken": "1,2",
                                        "category": "C"
                                    },
                                    "addressAsPerKYC": "",
                                    "communicationAddress": {
                                        "isCommunicationAddressAsPerKYC": "false",
                                        "address": "",
                                        "name": "",
                                        "country": "",
                                        "state": "",
                                        "district": "",
                                        "subDistrict": "",
                                        "city": "",
                                        "pincode": ""
                                    },
                                    "contactInformation": {
                                        "publicMobileNumber": "",
                                        "publicMobileNumberCode": "",
                                        "publicMobileNumberStatus": "",
                                        "landLineNumber": "",
                                        "landLineNumberCode": "",
                                        "publicEmail": "",
                                        "publicEmailStatus": ""
                                    },
                                    "registrationAcademic": {
                                        "category": "1",
                                        "registrationData": [
                                            {
                                                "registeredWithCouncil": "47",
                                                "registrationNumber": "REG12032",
                                                "registrationDate": "2024-12-01",
                                                "registrationCertificate": {
                                                    "fileType": "pdf",
                                                    "data": "<BASE64 ENCODED STRING>"
                                                },
                                                "isPermanentOrRenewable": "Permanent",
                                                "renewableDueDate": "",
                                                "categoryId": "2",
                                                "isNameDifferentInCertificate": "false",
                                                "proofOfNameChangeCertificate": "",
                                                "qualifications": [
                                                    {
                                                        "nameOfDegreeOrDiplomaObtained": "4074",
                                                        "country": "356",
                                                        "state": "27",
                                                        "college": "1022",
                                                        "university": "6372",
                                                        "yearOfAwardingDegreeDiploma": "2024",
                                                        "monthOfAwardingDegreeDiploma": "February",
                                                        "degreeCertificate": {
                                                            "fileType": "pdf",
                                                            "data": "<BASE64 ENCODED STRING>"
                                                        },
                                                        "isNameDifferentInCertificate": "false",
                                                        "proofOfNameChangeCertificate": ""
                                                    },
                                                    {
                                                        "nameOfDegreeOrDiplomaObtained": "Graduation",
                                                        "country": "United States Of America",
                                                        "state": "united",
                                                        "college": "united School",
                                                        "university": "united University",
                                                        "yearOfAwardingDegreeDiploma": "2024",
                                                        "monthOfAwardingDegreeDiploma": "February",
                                                        "degreeCertificate": {
                                                            "fileType": "pdf",
                                                            "data": "<BASE64 ENCODED STRING>"
                                                        },
                                                        "isNameDifferentInCertificate": "true",
                                                        "proofOfNameChangeCertificate": "<BASE64 ENCODED STRING>"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "currentWorkDetails": {
                                        "currentlyWorking": "0",
                                        "purposeOfWork": "Administrative",
                                        "chooseWorkStatus": "1",
                                        "reasonForNotWorking": "Retired",
                                        "certificateAttachment": "<BASE64 ENCODED STRING>",
                                        "facilityDeclarationData": {
                                            "facilityId": "IN2710000059",
                                            "facilityName": "",
                                            "facilityAddress": "",
                                            "facilityPincode": "",
                                            "state": "",
                                            "district": "",
                                            "facilityType": "",
                                            "facilityDepartment": "Surgery",
                                            "facilityDesignation": "MD",
                                            "ministry": {
                                                "ministry": "MinistryMOR ( Mo Railways )"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthProfessionalResponseDto"
                                },
                                "example": {
                                    "referenceNumber": "9a2d25fc-6897-4645-8e78-7f12a91b4ab4",
                                    "status": "true",
                                    "message": "Congratulations! Your profile has been submitted successfully for verification.",
                                    "error": null,
                                    "hprId": "<HPR_ID>"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/update-professional-new": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "updateProfesstional",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HealthProfessionalDto"
                            },
                            "example": {
                                "hprToken": "<JWT TOKEN>",
                                "practitioner": {
                                    "healthProfessionalType": "doctor",
                                    "profilePhoto": "<BASE64 ENCODED STRING>",
                                    "officialMobileCode": "",
                                    "officialMobile": "97624xxxxx",
                                    "officialMobileStatus": "",
                                    "officialEmail": "",
                                    "officialEmailStatus": "",
                                    "visibleProfilePicture": "0",
                                    "profileVisibleToPublic": "1",
                                    "personalInformation": {
                                        "salutation": "1",
                                        "firstName": "Ayushman",
                                        "middleName": "",
                                        "lastName": "Mission",
                                        "nationality": "356",
                                        "fatherName": "",
                                        "motherName": "",
                                        "spouseName": "",
                                        "gender": "M",
                                        "dateOfBirth": "19XX-24-04",
                                        "placeOfBirthState": "68",
                                        "district": "",
                                        "subDistrict": "",
                                        "city": "",
                                        "languagesSpoken": "1,2",
                                        "category": "C"
                                    },
                                    "addressAsPerKYC": "",
                                    "communicationAddress": {
                                        "isCommunicationAddressAsPerKYC": "false",
                                        "address": "",
                                        "name": "",
                                        "country": "",
                                        "state": "",
                                        "district": "",
                                        "subDistrict": "",
                                        "city": "",
                                        "pincode": ""
                                    },
                                    "contactInformation": {
                                        "publicMobileNumber": "",
                                        "publicMobileNumberCode": "",
                                        "publicMobileNumberStatus": "",
                                        "landLineNumber": "",
                                        "landLineNumberCode": "",
                                        "publicEmail": "",
                                        "publicEmailStatus": ""
                                    },
                                    "registrationAcademic": {
                                        "category": "1",
                                        "registrationData": [
                                            {
                                                "registeredWithCouncil": "47",
                                                "registrationNumber": "REG12032",
                                                "registrationDate": "2024-12-01",
                                                "registrationCertificate": {
                                                    "fileType": "pdf",
                                                    "data": "<BASE64 ENCODED STRING>"
                                                },
                                                "isPermanentOrRenewable": "Permanent",
                                                "renewableDueDate": "",
                                                "categoryId": "2",
                                                "isNameDifferentInCertificate": "false",
                                                "proofOfNameChangeCertificate": "",
                                                "qualifications": [
                                                    {
                                                        "nameOfDegreeOrDiplomaObtained": "4074",
                                                        "country": "356",
                                                        "state": "27",
                                                        "college": "1022",
                                                        "university": "6372",
                                                        "yearOfAwardingDegreeDiploma": "2024",
                                                        "monthOfAwardingDegreeDiploma": "February",
                                                        "degreeCertificate": {
                                                            "fileType": "pdf",
                                                            "data": "<BASE64 ENCODED STRING>"
                                                        },
                                                        "isNameDifferentInCertificate": "false",
                                                        "proofOfNameChangeCertificate": ""
                                                    },
                                                    {
                                                        "nameOfDegreeOrDiplomaObtained": "Graduation",
                                                        "country": "United States Of America",
                                                        "state": "united",
                                                        "college": "united School",
                                                        "university": "united University",
                                                        "yearOfAwardingDegreeDiploma": "2024",
                                                        "monthOfAwardingDegreeDiploma": "February",
                                                        "degreeCertificate": {
                                                            "fileType": "pdf",
                                                            "data": "<BASE64 ENCODED STRING>"
                                                        },
                                                        "isNameDifferentInCertificate": "true",
                                                        "proofOfNameChangeCertificate": "<BASE64 ENCODED STRING>"
                                                    }
                                                ]
                                            }
                                        ]
                                    },
                                    "currentWorkDetails": {
                                        "currentlyWorking": "0",
                                        "purposeOfWork": "Administrative",
                                        "chooseWorkStatus": "1",
                                        "reasonForNotWorking": "Retired",
                                        "certificateAttachment": "<BASE64 ENCODED STRING>",
                                        "facilityDeclarationData": {
                                            "facilityId": "IN2710000059",
                                            "facilityName": "",
                                            "facilityAddress": "",
                                            "facilityPincode": "",
                                            "state": "",
                                            "district": "",
                                            "facilityType": "",
                                            "facilityDepartment": "Surgery",
                                            "facilityDesignation": "MD",
                                            "ministry": {
                                                "ministry": "MinistryMOR ( Mo Railways )"
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthProfessionalResponseDto"
                                },
                                "example": {
                                    "referenceNumber": "5b17ca73-f069-4018-91a0-665df0117d43",
                                    "status": "true",
                                    "message": "Congratulations! Your profile has been submitted successfully for verification.",
                                    "error": null,
                                    "hprId": "<HPR_ID>"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/fetch-documents-list": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "fetchDocuments",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FetchRequestDTO"
                            },
                            "example": {
                                "hprid": "71-7061-5874-XXXX"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FetchDocumentResponseDTO"
                                },
                                "example": {
                                    "documentList": {
                                        "profileDetails": {
                                            "profilePhoto": {
                                                "id": 30106,
                                                "data": "<BASE64_PHOTO>"
                                            },
                                            "proofOfWorkCertificate": {
                                                "id": 30106,
                                                "data": "JVBERi0xLjMK"
                                            }
                                        },
                                        "registrationDetails": [
                                            {
                                                "registrationCertificate": {
                                                    "id": 21021,
                                                    "systemOfMedicide": "modern_medicine",
                                                    "data": "JVBERi0xLjMK"
                                                },
                                                "proofOfNameChangeRegCertificate": {
                                                    "id": 21021,
                                                    "systemOfMedicide": "modern_medicine",
                                                    "data": "JVBERi0xLjMK"
                                                }
                                            }
                                        ],
                                        "qualificationDetails": [
                                            {
                                                "degreeCertificate": {
                                                    "id": 9693,
                                                    "courseName": "PhD Biostatistics",
                                                    "qualificationYear": "2021",
                                                    "data": "JVBERi0xLjMK"
                                                },
                                                "proofOfNameChangeQualCertificate": {
                                                    "id": 9693,
                                                    "courseName": "PhD Biostatistics",
                                                    "qualificationYear": "2021",
                                                    "data": "JVBERi0xLjMK"
                                                }
                                            }
                                        ],
                                        "qualification": null
                                    },
                                    "Message": "Data fetched successfully"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/uploads/upload-document": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "uploadDocuments",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadDocumentDTO"
                            },
                            "example": {
                                "hpr_token": "<JWT TOKEN>",
                                "document": [
                                    {
                                        "document_id": 20931,
                                        "document_type": "registrationCertificate",
                                        "fileType": "",
                                        "data": "JVBERi0xLjMK"
                                    }
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadDocumentResponseDTO"
                                },
                                "example": {
                                    "profilePhoto": null,
                                    "degreeCertificate": null,
                                    "registrationCertificate": {
                                        "status": "pass",
                                        "msg": "Registration certificate updated"
                                    },
                                    "proofOfWorkCertificate": null
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/fetch-professional-info": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "getProfessionalInfo",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FetchPracticionerRequestDTO"
                            },
                            "example": {
                                "practitioner": {
                                    "id": "71-5223-5385-XXXX",
                                    "name": "",
                                    "contactNumber": "976243XXXX",
                                    "state": "UTTAR PRADESH",
                                    "registrationNumber": ""
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FetchProfessionalResponseDTO"
                                },
                                "example": {
                                    "practitioners": [
                                        [
                                            {
                                                "identifier": 38053,
                                                "active": false,
                                                "name": "Ayushman Bharat Mission",
                                                "gender": "Male",
                                                "salutation": "Mr",
                                                "communicationLanguage": " English ",
                                                "registrations": [
                                                    {
                                                        "identifier": 25989,
                                                        "category": "Dentistry",
                                                        "nuidnumber": null,
                                                        "nuidvalidtill": null,
                                                        "systemOfMedicide": null,
                                                        "isRenewable": "false",
                                                        "dueDate": null,
                                                        "councilName": "Karnataka State Dental Council",
                                                        "registeredAt": null,
                                                        "registrationNumber": "REG12032",
                                                        "registrationDate": "2024-12-01"
                                                    }
                                                ],
                                                "qualifications": [
                                                    {
                                                        "identifier": 12835,
                                                        "courseName": "Bds - Bachelor Of Dental Surgery",
                                                        "collegeName": "A.j. Institute Of Dental Sciences, Mangalore",
                                                        "universityName": "Rajiv Gandhi University Of Health Sciences (rguhs)",
                                                        "qualificationYear": "2024",
                                                        "qualificationMonth": ""
                                                    }
                                                ],
                                                "hpr_id": "<HPR_ID>",
                                                "application_status": null,
                                                "is_council_verified": "true",
                                                "is_work_verified": null,
                                                "email": "",
                                                "mobileNumber": "******2125",
                                                "hpr_category": "doctor"
                                            }
                                        ]
                                    ],
                                    "message": "Data fetched successfully"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/affiliated-board": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllAffiliatedBoard",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AffiliatedBoardResponseDTO"
                                    }
                                },
                                "example": [
                                    {
                                        "id": 1,
                                        "name": "Central Board Of Secondary Education (CBSE)",
                                        "status": true,
                                        "visibleStatus": true,
                                        "stateId": null,
                                        "courseId": null,
                                        "councilBoard": false,
                                        "nationalBoard": true
                                    },
                                    {
                                        "id": 2,
                                        "name": "Council for the Indian School Certificate Examination (CISCE)",
                                        "status": true,
                                        "visibleStatus": true,
                                        "stateId": null,
                                        "courseId": null,
                                        "councilBoard": false,
                                        "nationalBoard": true
                                    },
                                    {
                                        "id": 3,
                                        "name": "National Institute Of Open Schooling (NIOS)",
                                        "status": true,
                                        "visibleStatus": true,
                                        "stateId": null,
                                        "courseId": null,
                                        "councilBoard": false,
                                        "nationalBoard": true
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/affiliated-board/states/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAffiliatedBoardByStateId",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AffiliatedBoard"
                                    }
                                },
                                "example": [
                                    {
                                        "id": 38,
                                        "name": "Maharashtra  State Board of Secondary  and Higher Secondary  Education,   Pune",
                                        "status": true,
                                        "visibleStatus": true,
                                        "stateId": 20,
                                        "courseId": null,
                                        "councilBoard": false,
                                        "nationalBoard": false
                                    },
                                    {
                                        "id": 821,
                                        "name": "MAHARASHTRA NURSING COUNCIL, MUMBAI",
                                        "status": true,
                                        "visibleStatus": true,
                                        "stateId": 20,
                                        "courseId": null,
                                        "councilBoard": true,
                                        "nationalBoard": false
                                    },
                                    {
                                        "id": 3154,
                                        "name": "Maharashtra Nursing Council, Mumbai",
                                        "status": true,
                                        "visibleStatus": true,
                                        "stateId": 20,
                                        "courseId": 5519,
                                        "councilBoard": false,
                                        "nationalBoard": false
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/affiliated-board/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAffiliatedBoardById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AffiliatedBoardResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/colleges/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getCollegeByState",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CollegeResponseDTO"
                                    }
                                },
                                "example": [
                                    {
                                        "id": 21,
                                        "name": "Dayanand Medical College And Hospital",
                                        "status": true,
                                        "visibleStatus": true,
                                        "createdAt": "2023-08-17T16:58:31.000Z",
                                        "systemOfMedicineId": 1,
                                        "stateId": 27,
                                        "courseId": null,
                                        "stateName": "Maharashtra",
                                        "systemOfMedicineName": null,
                                        "deleted": false
                                    },
                                    {
                                        "id": 22,
                                        "name": "Gian Sagar Medical College And Hospital",
                                        "status": true,
                                        "visibleStatus": true,
                                        "createdAt": "2023-08-17T16:58:31.000Z",
                                        "systemOfMedicineId": 1,
                                        "stateId": 27,
                                        "courseId": null,
                                        "stateName": "Maharashtra",
                                        "systemOfMedicineName": null,
                                        "deleted": false
                                    },
                                    {
                                        "id": 23,
                                        "name": "Government Medical College (gmc), Amritsar",
                                        "status": true,
                                        "visibleStatus": true,
                                        "createdAt": "2023-08-17T16:58:31.000Z",
                                        "systemOfMedicineId": 1,
                                        "stateId": 27,
                                        "courseId": null,
                                        "stateName": "Maharashtra",
                                        "systemOfMedicineName": null,
                                        "deleted": false
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/colleges/{stateId}/{medicineId}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getCollegeByStateAndMedicineId",
                "parameters": [
                    {
                        "name": "stateId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "medicineId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CollegeResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/countries": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllCountries",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CountriesResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/countries/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getCountriesById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountriesResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/courses": {
            "post": {
                "tags": [
                    "Utility"
                ],
                "operationId": "listCourses",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoursesRequestDTO"
                            },
                            "example": {
                                "systemOfMedicine": "Registered Auxiliary Nurse Midwife(RANM)",
                                "hprType": "nurse",
                                "qualificationCount": 0
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CoursesRequestDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/district": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllDistricts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DistrictsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/district/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getDistrictsByState",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DistrictsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/languages": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "listGovernmentHealthProgrammes",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PiLanguagesResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/languages/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getPiLanguagesById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PiLanguagesResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/medical-councils": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllMedicalCouncil",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MedicalCouncilResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/medical-councils/name": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getMedicalCouncilBySystemOfMedicineName",
                "parameters": [
                    {
                        "name": "medicineName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MedicalCouncilResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/nurse-councils": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllNurseCouncils",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NurseCouncilsResponseDTO"
                                    }
                                },
                                "example": [
                                    {
                                        "id": 1,
                                        "name": "Andhra Pradesh  Nurses Midwives And Health Visitors Council, Vijayawada",
                                        "status": true,
                                        "visibleStatus": true,
                                        "position": 0,
                                        "stateId": 2
                                    },
                                    {
                                        "id": 2,
                                        "name": "Arunachal Pradesh Nursing Council",
                                        "status": true,
                                        "visibleStatus": true,
                                        "position": 0,
                                        "stateId": 3
                                    },
                                    {
                                        "id": 3,
                                        "name": "Assam Nurses Midwives And Health Visitors Council, Guwahati",
                                        "status": true,
                                        "visibleStatus": true,
                                        "position": 0,
                                        "stateId": 4
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/states": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllStates",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StatesResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/states/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getStatus",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9]{2}$",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/StatesResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/sub-districts": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllSubDistricts",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SubDistrictsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/sub-districts/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllSubDistricts_1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SubDistrictsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/system-of-medicines": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllMedicalSystem",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MedicalSystemResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/universites": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "listAllUniversity",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UniversityResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/universites/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getUniversityByCollege",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UniversityResponseDTO"
                                    }
                                },
                                "example": [
                                    {
                                        "id": 6046,
                                        "name": "Baba Farid University Of Health Sciences,faridkot",
                                        "status": true,
                                        "visibleStatus": true,
                                        "collegeId": 27,
                                        "collegeName": null,
                                        "deleted": false,
                                        "college": null
                                    }
                                ]
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/fetchProfessionalFacility": {
            "post": {
                "tags": [
                    "hpr"
                ],
                "operationId": "fetchProfessionalFacility",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FacilityRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/HprProfileFacilityResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getFacilityCreatedByHprId": {
            "post": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getFacilitiesCreatedByHprId",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FacilitiesByHprIdRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilityByHprIdResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getFacilityDeclaredByHprId": {
            "post": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getFacilitiesDeclaredByHprId",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FacilitiesByHprIdRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilityDeclaredByHprIdResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hprFacilitySuggestions": {
            "post": {
                "tags": [
                    "hpr"
                ],
                "operationId": "createFacilitySuggestion",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HprFacilitySuggestionRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HprFacilitySuggestionResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/hprWorkDetails/status": {
            "put": {
                "tags": [
                    "Utility"
                ],
                "operationId": "updateStatus",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/WorkStatusUpdateRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/relinkOrDelinkProfessionalFromFacility": {
            "post": {
                "tags": [
                    "Utility"
                ],
                "operationId": "linkDelinkExistingFacility",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RelinkDelinkExistingFacilityRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/RelinkDelinkExistingFacilityResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "WorkStatusUpdateRequestDTO": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "facilityId": {
                        "type": "string"
                    },
                    "professionalHprId": {
                        "type": "string"
                    },
                    "managerHprId": {
                        "type": "string"
                    },
                    "isHpr": {
                        "type": "boolean"
                    }
                }
            },
[...]
