openapi: 3.0.3
info:
  title: PHR V3 Swagger
  version: 1.0.0
  contact: {}
servers:
  - url: https://abhasbx.abdm.gov.in
paths:
  /abha/api/v3/phr/app/enrollment/request/otp:
    post:
      tags:
        - Enrollment API Collection
      summary: OTP Request
      description: This API endpoint is used to generate an OTP (One-Time Password) for the purpose of starting a registration transaction. Depending on the type of identifier provided ( ABHA Number, or Mobile Number), the OTP will be generated and sent to the corresponding registered mobile number. This is essential for verifying the user’s identity and ensuring secure access to the registration process.<br>
        <br>**Example of OTP Request**<br>
        <br>Example1:<br>
       **AADHAAR OTP:** When the user wants to enroll using their ABHA Number, an OTP is sent to the mobile number registered with their Aadhaar linked mobile number. For this pass loginHint as "abha-number".   <br>
         <br>Example2:<br>
       **ABHA OTP:** When the user wants to enroll using their ABHA Number, an OTP is sent to the mobile number registered with their ABHA Number. For this pass loginHint as "abha-number". <br>
        <br>Example3:<br>
       **Mobile OTP:** When the user wants to enroll using their Mobile Number, an OTP is sent to the provided mobile number. For this pass loginHint as "mobile-number".<br><br><b>Note:</b><br> **1.** OTP will be valid for 10 minute only
       <br><br>
       

      operationId: otpRequestMobile
      parameters:
        - name: REQUEST-ID
          description: >-
            Unique UUID to track the end to end request transaction
          in: header
          required: true
          schema:
            type: string
            example: 'e906de88-7e4e-465f-9744-f246a5c96b5b'
        - name: TIMESTAMP
          description: >-
            Actual time the request was initiated, ISO 8601 date-time: year, month, day, hour, minutes,
            seconds and milliseconds, e.g. 2024-09-03T11:20:51.456Z
          in: header
          required: true
          schema:
            type: string
            example: '2024-09-03T11:20:51.456Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                loginHint:
                  type: string
                  description: >-
                    The registration or login method being used.
                  example: mobile number
                loginId:
                  type: string
                  description: >-
                    Encrypted login id, which can be a mobile number, ABHA number or ABHA address.
                  example: '{{encrypted abha number}}'
                otpSystem:
                  type: string
                  description: >-
                    The system used to deliver and verify the OTP.
                  example: abdm
                scope:
                  type: array
                  items:
                    type: string
                    example: abha-login
                  example:
                    - abha-login
                    - mobile-verify
              required:
                - scope
                - loginId
                - loginHint
                - otpSystem
            examples:
              OTP Request - AADHAAR OTP:
                value:
                  scope:
                    - abha-login
                    - aadhaar-verify
                  loginHint: abha-number
                  loginId: '{{encrypted abha-number}}'
                  otpSystem: aadhaar
              OTP Request - ABHA OTP:
                value:
                  scope:
                    - abha-login
                    - mobile-verify
                  loginHint: abha-number
                  loginId: '{{encrypted abha number}}'
                  otpSystem: abdm
              OTP Request - Mobile:
                value:
                  scope:
                    - abha-address-enroll
                    - mobile-verify
                  loginHint: mobile-number
                  loginId: '{{encrypted mobile-number}}'
                  otpSystem: abdm
                 
        description: <b>Below is the Request Body description:</b><br><br>


         <!--<div>
         <table>
         <thead>
         <tr>
         <th>Attributes</th>
         <th>Description</th>
         </tr>
         </thead>
         <tbody>
         <tr>
         <td>scope <sup>* required</td>
         <td>Aadhaar/Abha/mobile</td>
         </tr>
         <tr>
         <td>loginHint <sup> * required</td>
         <td>Aadhaar,Abha And Mobile Number</td>
         </tr>
          <tr>
         <td>loginId <sup>* required </sup></td>
         <td>encrypted mobile-number</td>
         </tr>
          <tr>
         <td>otpSystem <sup>* required</td>
         <td>abdm/aadhaar</td>
         </tr>
         </tbody>
         </table>
         </div>
         <hr> -->
         <b>Note:</b> Mandatory fields can't be null.
         <ol>
          <li>
          <p><strong>scope</strong> (required):</p>
          <ul>
          <li><strong>Description:</strong> Specifies the scope of the OTP request.</li>
          <li><strong>Example:</strong> <code>["abha-login", "mobile-verify"]</code></li>
          <li><strong>Possible Values:</strong> <code>abha-login</code>, <code>mobile-verify</code>, <code>aadhaar-verify</code>, <code>abha-address-enroll</code>etc.</li>
          </ul>
          </li>
          <li>
          <p><strong>loginHint</strong> (required):</p>
          <ul>
          <li><strong>Description:</strong> Indicates the type of identifier being used for the OTP request.</li>
          <li><strong>Example:</strong> <code>abha-number</code></li>
          <li><strong>Possible Values:</strong><code>abha-number</code>, <code>mobile-number</code></li>
          </ul>
          </li>
          <li>
          <p><strong>loginId</strong> (required):</p>
          <ul>
          <li><strong>Description:</strong> The encrypted identifier (ABHA Number, or Mobile Number) for which the OTP is being requested.</li>
          <li><strong>Example:</strong> <code>{{encrypted abha number/mobile number}}</code></li>
          </ul>
          </li>
          <li>
          <p><strong>otpSystem</strong> (required):</p>
          <ul>
          <li><strong>Description:</strong> Specifies the system used for OTP generation.</li>
          <li><strong>Example:</strong> <code>abdm</code></li>
          <li><strong>Possible Values:</strong> <code>abdm</code>, <code>aadhaar</code></li>
          </ul>
          </li>
          </ol>
          <ol>

      responses:
        '200':
          description: >-
            The 200 response code indicates a successful request. In this context, it refers to the successful generation and delivery of an OTP (One-Time Password) for various services.<br><br>
            <strong>Types of OTP Responses:</strong>
            <ol>
            <li><strong>AADHAAR OTP Response:</strong> This OTP is generated for authentication or verification purposes related to AADHAAR, the unique identification number issued by the Indian government.</li>
            </ol>
             <ol start ="2">
            <li><strong>ABHA OTP Response:</strong> This OTP is generated for authentication or verification purposes related to ABHA (Ayushman Bharat Health Account), which is part of India’s health ID system</li>
            </ol>
             <ol start="3">
            <li><strong>Mobile OTP Response.</strong> This OTP is generated for general mobile number verification purposes, such as logging into an account, completing a transaction, or verifying identity</li>
            </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: OTP is sent to Mobile number ending with ******2425
                  txnId:
                    type: string
                    example: 1bda575d-02pd-40be-77e6-1e3efca52a82
              examples:
                OTP Response - AADHAAR OTP:
                  value:
                    message: >-
                      OTP sent to Aadhaar registered mobile number ending with
                      ******2425
                    txnId: f90f7434-9768-40e6-aa4a-0c76332b9b77
                OTP Response - ABHA OTP:
                  value:
                    message: OTP sent to mobile number ending with ******2425
                    txnId: 4794327e-548b-4a62-91ec-be022fbf60f7
                OTP Response - Mobile:
                  value:
                    message: OTP is sent to Mobile number ending with ******2425
                    txnId: 1bda575d-02pd-40be-77e6-1e3efca52a82
        '400':
          description: >-
            The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the OTP (One-Time Password) generation or validation process.<br><br>
            <strong>Types of OTP Response Errors:</strong>
            <ol>
            <li><strong>OTP Response - Invalid Mobile</strong>: The mobile number provided is invalid.</li>
            </ol>
            <ol start="2">
            <li><strong>OTP Response - Invalid Scope</strong>: The scope of the OTP response is invalid.</li>
            </ol>
            <ol start="3">
            <li><strong>OTP Response - Invalid LoginId</strong>: The login ID provided is invalid.</li>
            </ol>
            <ol start="4">
            <li><strong>OTP Response - AADHAAR OTP - Invalid ABHA Number</strong>: The ABHA number provided for AADHAAR OTP is invalid.</li>
            </ol>
            <ol start="5">
            <li><strong>OTP Response - AADHAAR OTP - Invalid OTP System</strong>: The OTP system for AADHAAR is invalid.</li>
            </ol>
            <ol start="6">
            <li><strong>OTP Response - AADHAAR OTP - Invalid Login Hint</strong>: The login hint provided for AADHAAR OTP is invalid.</li>
            </ol>
            <ol start="7">
            <li><strong>OTP Response - ABHA OTP - Invalid ABHA Number</strong>: The ABHA number provided for ABHA OTP is invalid.</li>
            </ol>
            <ol start="8">
            <li><strong>OTP Response - ABHA OTP - Invalid LoginId</strong>: The login ID provided for ABHA OTP is invalid.</li>
            </ol>
            <ol start="9">
            <li><strong>OTP Response - ABHA OTP - Invalid OTP System</strong>: The OTP system for ABHA is invalid.</li>
            </ol>
            <ol start="10">
            <li><strong>OTP Response - ABHA OTP - Invalid Login Hint</strong>: The login hint provided for ABHA OTP is invalid.</li>
            </ol>


          headers:
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            access-control-allow-headers:
              schema:
                type: string
                example: >-
                  Content-Type,SOAPAction,apikey,Internal-Key,TIMESTAMP,REQUEST-ID,t-token,x-token,R-token,X-token,Authorization,methods,x-b3-sampled,access-control-expose-headers,x-envoy-external-address,host,cache-control,sec-fetch-mode,x-request-id,accept-language,x-forwarded-proto,x-forwarded-for,access-control-request-method,access-control-allow-headers,pragma,accept,x-envoy-attempt-count,activityid,x-b3-spanid,x-b3-traceid,access-control-request-headers,accept-encoding,sec-fetch-dest,date,x-envoy-upstream-service-time,Transfer-Encoding,referer,sec-fetch-site,request-id,timestamp,x-auth-token,x-cm-id,KEY_TYPE,Authorization
            access-control-allow-methods:
              schema:
                type: string
                example: POST
            activityid:
              schema:
                type: string
                example: f0d566d1-a1ac-4d0e-be8f-b74565c9c65e
            cache-control:
              schema:
                type: string
                example: no-cache, no-store, max-age=0, must-revalidate
            content-security-policy:
              schema:
                type: string
                example: form-action 'self'
            date:
              schema:
                type: string
                example: Thu, 09 May 2024 12:13:01 GMT
            expires:
              schema:
                type: string
                example: '0'
            permissions-policy:
              schema:
                type: string
                example: geolocation=(self)
            pragma:
              schema:
                type: string
                example: no-cache
            referrer-policy:
              schema:
                type: string
                example: no-referrer
            strict-transport-security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            vary:
              schema:
                type: string
                example: >-
                  Origin,Access-Control-Request-Method,Access-Control-Request-Headers
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-envoy-upstream-service-time:
              schema:
                type: string
                example: '30'
            x-frame-options:
              schema:
                type: string
                example: DENY
            x-xss-protection:
              schema:
                type: string
                example: 1 ; mode=block
          content:
            application/json:
              schema:
                example:
                  - code: 'ABDM-1006'
                    message: Invalid Mobile Number
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                          description: >-
                            ABDM-1006 - Bad Request, invalid request Body. May be returned either bare (`ABDM-1006`) or
                            with a trailing ": " separator (`ABDM-1006: `); match on the code itself and tolerate the
                            separator.
                          example: 'ABDM-1006'
                        message:
                          type: string
                          example: Invalid Mobile Number
                    example:
                      - code: 'ABDM-1006'
                        message: Invalid Mobile Number
                  - type: object
                    properties:
                      code:
                        type: string
                        pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                        description: >-
                          ABDM-9999 - Unknown exception. May be returned either bare (`ABDM-9999`) or with a trailing
                          ": " separator (`ABDM-9999: `); match on the code itself and tolerate the separator.
                        example: ABDM-9999
                      message:
                        type: string
                        example: Invalid LoginId
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                          description: >-
                            ABDM-9999 - Unknown exception. May be returned either bare (`ABDM-9999`) or with a trailing
                            ": " separator (`ABDM-9999: `); match on the code itself and tolerate the separator.
                          example: 'ABDM-9999'
                        message:
                          type: string
                          example: Invalid Otp System
                    example:
                      - code: 'ABDM-9999'
                        message: Invalid Otp System
                  - type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                          pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                          description: >-
                            ABDM-9999 - Unknown exception. May be returned either bare (`ABDM-9999`) or with a trailing
                            ": " separator (`ABDM-9999: `); match on the code itself and tolerate the separator.
                          example: 'ABDM-9999'
                        message:
                          type: string
                          example: Invalid Login Hint
                    example:
                      - code: 'ABDM-9999'
                        message: Invalid Login Hint
              examples:
                OTP Response - AADHAAR OTP - Invalid ABHA Number:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid ABHA Number
                OTP Response - AADHAAR OTP - Invalid Login Hint:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Login Hint
                OTP Response - AADHAAR OTP - Invalid Otp System:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Otp System
                OTP Response - ABHA OTP - Invalid ABHA Number:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid ABHA Number
                OTP Response - ABHA OTP - Invalid Login Hint:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Login Hint
                OTP Response - ABHA OTP - Invalid LoginId:
                  value:
                    code: ABDM-9999
                    message: Invalid LoginId
                OTP Response - ABHA OTP - Invalid Otp System:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Otp System
                OTP Response - Invalid LoginId:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid LoginId
                OTP Response - Invalid Mobile:
                  value:
                    - code: 'ABDM-1006'
                      message: Invalid Mobile Number
                OTP Response - Invalid Scope:
                  value:
                    - code: 'ABDM-1006'
                      message: Invalid Scope
        '401':
          description: >-
            Unauthorized. The request carried no valid credentials, or the access token has expired.
            Obtain a fresh token from the session API and retry.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      900902 - Missing Credentials. May be returned either bare or with a trailing ": " separator;
                      match on the code itself and tolerate the separator.
                    example: '900902'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Missing Credentials
                  description:
                    type: string
                    description: >-
                      Detailed description of the failure.
                    example: >-
                      Invalid Credentials. Make sure your API invocation call has a header: 'Authorization :
                      Bearer ACCESS_TOKEN' or 'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'
        '403':
          description: >-
            Forbidden. The caller is authenticated but is not permitted to perform this operation on
            this resource.
          content:
            text/plain:
              schema:
                type: string
                example: Forbidden
        '500':
          description: >-
            The 500 response code indicates an internal server error. The request was well formed
            and authenticated, but the service could not complete it. Retry with the same
            REQUEST-ID; if the failure persists, raise it with ABDM support quoting that id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      900900 - Unclassified Authentication Failure. May be returned either bare or with a
                      trailing ": " separator; match on the code itself and tolerate the separator.
                    example: '900900'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    description: Detailed description of the failure, naming the API and status.
                    example: >-
                      Access failure for API: /abha/api/v3/phr, version: v3 status: (900900) -
                      Unclassified Authentication Failure
              examples:
                Internal Server Error:
                  value:
                    code: '900900'
                    message: Unclassified Authentication Failure
                    description: >-
                      Access failure for API: /abha/api/v3/phr, version: v3 status: (900900) -
                      Unclassified Authentication Failure
        '503':
          description: >-
            The 503 response code indicates the service is temporarily unavailable because a
            dependency it relies on could not be reached. The request may be retried after a
            short delay.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      ABDM-1024 - Dependent service unavailable. May be returned either bare or with a
                      trailing ": " separator; match on the code itself and tolerate the separator.
                    example: 'ABDM-1024'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Dependent service unavailable
              examples:
                Service Unavailable:
                  value:
                    code: 'ABDM-1024'
                    message: Dependent service unavailable
      security:
        - apiKey: []
  /abha/api/v3/phr/app/enrollment/verify:
    post:
      tags:
        - Enrollment API Collection
      summary: OTP Verify
      description: This API endpoint is used to verify the OTP (One-Time Password) provided by the user during the registration process. The OTP verification ensures that the user has access to the mobile number associated with their Aadhaar Number, ABHA Number, or Mobile Number, thereby confirming their identity.<br><br>**Example of OTP Verify**<br>
        <br>Example1:<br>
       
       **AADHAAR OTP:** Verifies the OTP sent to the mobile number registered with the user’s Aadhaar.<br><br>
         <br>Example2:<br>
       **ABHA OTP:** Verifies the OTP sent to the mobile number registered with the user’s ABHA.<br><br>
        <br>Example3:<br>
       **Mobile OTP:** Verifies the OTP sent to the provided mobile number.<br><br>Note:<br>**1. OTP will be valid for 10 minute only**
       
      operationId: otpVerifyMobile
      parameters:
        - name: REQUEST-ID
          description: >-
            Unique UUID to track the end to end request transaction
          in: header
          required: true
          schema:
            type: string
            example: 'e906de88-7e4e-465f-9744-f246a5c96b5b'
        - name: TIMESTAMP
          description: >-
            Actual time the request was initiated, ISO 8601 date-time: year, month, day, hour, minutes,
            seconds and milliseconds, e.g. 2024-09-03T11:20:51.456Z
          in: header
          required: true
          schema:
            type: string
            example: '2024-09-03T11:20:51.456Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                authData:
                  type: object
                  description: >-
                    The authentication data - includes authMethods, transaction id and OTP value.
                  properties:
                    authMethods:
                      type: array
                      items:
                        type: string
                        example: otp
                      example:
                        - otp
                    otp:
                      type: object
                      properties:
                        otpValue:
                          type: string
                          example: '{{encrypted OTP}}'
                        txnId:
                          type: string
                          example: '{{transactionId}}'
                      required:
                        - txnId
                        - otpValue
                  required:
                  - authMethods
                  - otp
                scope:
                  type: array
                  items:
                    type: string
                    example: abha-login
                  example:
                    - abha-login
                    - mobile-verify
              required:
                - authData
                - scope
            examples:
              OTP Verify - AADHAAR OTP:
                value:
                  authData:
                    authMethods:
                      - otp
                    otp:
                      txnId: '{{transactionId}}'
                      otpValue: '{{encrypted OTP}}'
                  scope:
                    - abha-login
                    - aadhaar-verify
              OTP Verify - ABHA OTP:
                value:
                  authData:
                    authMethods:
                      - otp
                    otp:
                      otpValue: '{{encrypted OTP}}'
                      txnId: '{{transactionId}}'
                  scope:
                    - abha-login
                    - mobile-verify
              OTP Verify - Mobile:
                value:
                  authData:
                    authMethods:
                      - otp
                    otp:
                      otpValue: '{{encryptedData}}'
                      txnId: '{{transactionId}}'
                  scope:
                    - abha-address-enroll
                    - mobile-verify
                    
        description : <b>Below is the Request Body description:<br></b><br> <!--<br>
            <div>
           <table>
           <thead>
           <tr>
           <th>Attributes</th>
           <th>Description</th>
           </tr>
           </thead>
           <tbody>
           <tr>
           <td>loginHint <sup> * required</td>
           <td>Aadhaar,Abha And Mobile Number</td>
           </tr>
            <tr>
           <td>loginId <sup>* required </sup></td>
           <td>encrypted mobile-number</td>
           </tr>
            <tr>
           <td>otpSystem <sup>* required</td>
           <td>abdm/aadhaar</td>
           </tr>
            <tr>
           <td>scope <sup>* required</td>
           <td>Aadhaar/Abha/mobile</td>
           </tr>
           </tbody>
           </table>
           </div>
           <hr> -->
           <b>Note:</b> Mandatory fields can't be null. 
           <ol> 
            <li>
            <p><strong>authData</strong> (required):</p>
            <ul>
            <li><strong>Description:</strong> Contains the authentication methods and OTP details.</li>
            <li><strong>Properties:</strong>
            <ul>
            <li><strong>authMethods:</strong> Specifies the method of authentication.
            <ul>
            <li><strong>Type:</strong> Array of strings</li>
            <li><strong>Example:</strong> <code>["OTP"]</code></li>
            </ul>
            </li>
            <li><strong>otp:</strong> Contains the OTP value and transaction ID.
            <ul>
            <li><strong>Properties:</strong>
            <ul>
            <li><strong>otpValue:</strong> The encrypted OTP provided by the user.
            <ul>
            <li><strong>Type:</strong> String</li>
            <li><strong>Example:</strong> <code>{{encrypted OTP}}</code></li>
            </ul>
            </li>
            <li><strong>txnId:</strong> The transaction ID associated with the OTP request.
            <ul>
            <li><strong>Type:</strong> String</li>
            <li><strong>Example:</strong> <code>{{transactionId}}</code></li>
            </ul>
            </li>
            </ul>
            </li>
            </ul>
            </li>
            </ul>
            </li>
            </ul>
            </li>
            <li>
            <p><strong>scope</strong> (required):</p>
            <ul>
            <li><strong>Description:</strong> Specifies the scope of the OTP verification.</li>
            <li><strong>Type:</strong> Array of strings</li>
            <li><strong>Example:</strong> <code>["abha-login", "mobile-verify"]</code></li>
            <li><strong>Possible Values:</strong> <code>abha-login</code>, <code>mobile-verify</code>, <code>aadhaar-verify</code>, <code>abha-address-enroll</code>etc.</li>
            </ul>
            </li>
            </ol>
      responses:
        '200':
          description: >-
           The 200 response code indicates a successful request. In this context, it refers to the successful verification of an OTP (One-Time Password) for various services.<br><br>
             <strong>Types of OTP Verifications:</strong>
            <ol>
            <li><strong>AADHAAR OTP verify: </strong> This verification confirms the OTP sent for authentication or verification purposes related to AADHAAR, the unique identification number issued by the Indian government.</li>
            </ol>
             <ol start ="2">
            <li><strong>ABHA OTP Verify:</strong> This verification confirms the OTP sent for authentication or verification purposes related to ABHA (Ayushman Bharat Health Account), which is part of India’s health ID system.</li>
            </ol>
             <ol start="3">
            <li><strong>Mobile OTP Verify:</strong> This verification confirms the OTP sent to a mobile number for purposes such as logging into an account, completing a transaction, or verifying identity.</li>
            </ol>
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      type: object
                      properties:
                        ABHANumber:
                          type: string
                          example: 91-5326-6278-1550
                        address:
                          type: string
                          example: house no-620, main road, Pune, Maharashtra
                        authMethods:
                          type: array
                          items:
                            type: string
                            example: DEMOGRAPHICS
                          example:
                            - DEMOGRAPHICS
                            - MOBILE_OTP
                            - AADHAAR_OTP
                            - AADHAAR_BIO
                        dayOfBirth:
                          type: string
                          example: '14'
                        districtCode:
                          type: string
                          example: '487'
                        districtName:
                          type: string
                          example: PUNE
                        email:
                          nullable: true
                          example: null
                        emailVerified:
                          nullable: true
                          example: null
                        firstName:
                          type: string
                          example: John
                        gender:
                          type: string
                          example: M
                        kycPhoto:
                          type: string
                          example: >-
                            {{profile-photo}}
                        kycVerified:
                          type: boolean
                          example: true
                        lastName:
                          type: string
                          example: Doe
                        middleName:
                          type: string
                          example: ''
                        mobile:
                          type: string
                          example: '******2425'
                        monthOfBirth:
                          type: string
                          example: '11'
                        name:
                          type: string
                          example: John Doe
                        pincode:
                          type: string
                          example: '422003'
                        preferredAbhaAddress:
                          type: string
                          example: 15_hemant.bodhai@sbx
                        profilePhoto:
                          type: string
                          example: >-
                            {{profile-photo}}
                        stateCode:
                          type: string
                          example: '27'
                        stateName:
                          type: string
                          example: MAHARASHTRA
                        status:
                          type: string
                          example: ACTIVE
                        subDistrictCode:
                          nullable: true
                          example: null
                        subdistrictName:
                          type: string
                          example: PUNE
                        tags:
                          type: object
                          properties: {}
                        townCode:
                          nullable: true
                          example: null
                        townName:
                          type: string
                          example: Pune
                        verificationStatus:
                          type: string
                          example: VERIFIED
                        verificationType:
                          type: string
                          example: AADHAAR
                        villageCode:
                          nullable: true
                          example: null
                        villageName:
                          nullable: true
                          example: null
                        wardCode:
                          nullable: true
                          example: null
                        wardName:
                          nullable: true
                          example: null
                        yearOfBirth:
                          type: string
                          example: '1998'
                    example:
                      - ABHANumber: 91-5326-6278-1550
                        address: house no-620, main road, Pune, Maharashtra
                        authMethods:
                          - DEMOGRAPHICS
                          - MOBILE_OTP
                          - AADHAAR_OTP
                          - AADHAAR_BIO
                        dayOfBirth: '14'
                        districtCode: '487'
                        districtName: PUNE
                        email: null
                        emailVerified: null
                        firstName: John
                        gender: M
                        kycPhoto: >-
                          {{profile-photo}}
                        kycVerified: true
                        lastName: Doe
                        middleName: ''
                        mobile: '******2425'
                        monthOfBirth: '11'
                        name: John Doe
                        pincode: '422003'
                        preferredAbhaAddress: 15_hemant.bodhai@sbx
                        profilePhoto: >-
                          {{profile-photo}}
                        stateCode: '27'
                        stateName: MAHARASHTRA
                        status: ACTIVE
                        subDistrictCode: null
                        subdistrictName: PUNE
                        tags: {}
                        townCode: null
                        townName: Pune
                        verificationStatus: VERIFIED
                        verificationType: AADHAAR
                        villageCode: null
                        villageName: null
                        wardCode: null
                        wardName: null
                        yearOfBirth: '1998'
                  authResult:
                    type: string
                    example: success
                  message:
                    type: string
                    example: OTP Verified Successfully
                  tokens:
                    type: object
                    properties:
                      expiresIn:
                        type: number
                        example: 1800
                      refreshExpiresIn:
                        type: number
                        example: 1296000
                      refreshToken:
                        type: string
                        example: >-
                          {{jwt-token}}
                      token:
                        type: string
                        description: >-
                          JWT access token issued by the ABDM session API after successful validation of client id and
                          client secret.
                        example: >-
                          {{jwt-token}}
                  txnId:
                    type: string
                    example: 1cba575d-02cd-40be-90e6-1e2edca88a88
                  users:
                    type: array
                    items:
                      type: object
                      properties:
                        abhaAddress:
                          type: string
                          example: hemant.bodhai@sbx
                        abhaNumber:
                          type: string
                          description: >-
                            14-digit unique ABHA number of the patient.
                          example: XX-XXXX-XXXX-1234
                        fullName:
                          type: string
                          example: John Doe
                        kycStatus:
                          type: string
                          example: VERIFIED
                        status:
                          type: string
                          example: ACTIVE
                    example:
                      - abhaAddress: hemant.bodhai@sbx
                        abhaNumber: XX-XXXX-XXXX-1234
                        fullName: John Doe
                        kycStatus: VERIFIED
                        status: ACTIVE
              examples:
                OTP Verify - AADHAAR OTP:
                  value:
                    accounts:
                      - ABHANumber: 91-5326-6278-1550
                        address: house no-620, main road, Pune, Maharashtra
                        authMethods:
                          - DEMOGRAPHICS
                          - MOBILE_OTP
                          - AADHAAR_OTP
                          - AADHAAR_BIO
                        dayOfBirth: '14'
                        districtCode: '487'
                        districtName: PUNE
                        email: null
                        emailVerified: null
                        firstName: John
                        gender: M
                        kycPhoto: >-
                          {{profile-photo}}
                        kycVerified: true
                        lastName: Doe
                        middleName: ''
                        mobile: '******2425'
                        monthOfBirth: '11'
                        name: John Doe
                        pincode: '422003'
                        preferredAbhaAddress: 15_hemant.bodhai@sbx
                        profilePhoto: >-
                          {{profile-photo}}
                        stateCode: '27'
                        stateName: MAHARASHTRA
                        status: ACTIVE
                        subDistrictCode: null
                        subdistrictName: PUNE
                        tags: {}
                        townCode: null
                        townName: Pune
                        verificationStatus: VERIFIED
                        verificationType: AADHAAR
                        villageCode: null
                        villageName: null
                        wardCode: null
                        wardName: null
                        yearOfBirth: '1998'
                    authResult: success
                    message: OTP Verified Successfully
                    tokens:
                      expiresIn: 1800
                      refreshExpiresIn: 1296000
                      refreshToken: >-
                        {{jwt-token}}
                      token: >-
                        {{jwt-token}}
                    txnId: 44297943-1c66-4b3b-95a5-6fe10eea5558
                    users:
                      - abhaAddress: johndoe3@abdm
                        abhaNumber: '**-****-****-1234'
                        fullName: John Doe
                        kycStatus: VERIFIED
                        status: ACTIVE
                OTP Verify - ABHA OTP:
                  value:
                    accounts:
                      - ABHANumber: 91-5326-6278-1550
                        address: house no-620, main road, Pune, Maharashtra
                        authMethods:
                          - DEMOGRAPHICS
                          - MOBILE_OTP
                          - AADHAAR_OTP
                          - AADHAAR_BIO
                        dayOfBirth: '11'
                        districtCode: '487'
                        districtName: PUNE
                        email: null
                        emailVerified: null
                        firstName: Hemant
                        gender: M
                        kycPhoto: >-
                          {{profile-photo}}
                        kycVerified: true
                        lastName: Bodhai
                        middleName: P
                        mobile: '9922332425'
                        monthOfBirth: '11'
                        name: Hemant P Bodhai
                        pincode: '422003'
                        preferredAbhaAddress: 15_hemant.bodhai@sbx
                        profilePhoto: >-
                          {{profile-photo}}
                        stateCode: '27'
                        stateName: MAHARASHTRA
                        status: ACTIVE
                        subDistrictCode: null
                        subdistrictName: PUNE
                        tags: {}
                        townCode: null
                        townName: Pune
                        verificationStatus: VERIFIED
                        verificationType: AADHAAR
                        villageCode: null
                        villageName: null
                        wardCode: null
                        wardName: null
                        yearOfBirth: '1997'
                    authResult: success
                    message: OTP Verified Successfully
                    tokens:
                      expiresIn: 1800
                      refreshExpiresIn: 1296000
                      refreshToken: >-
                        {{jwt-token}}
                      token: >-
                        {{jwt-token}}
                    txnId: 32297983-1c66-4b3b-95a5-3fe10ddd5658
                    users:
                      - abhaAddress: 14_hemant.bodhai@sbx
                        abhaNumber: 91-5326-6278-1550
                        fullName: Hemant Prakash Bodhai
                        kycStatus: VERIFIED
                        status: ACTIVE
                      - abhaAddress: 15_hemant.bodhai@sbx
                        abhaNumber: 91-5326-6278-1550
                        fullName: Hemant Prakash Bodhai
                        kycStatus: PENDING
                        status: ACTIVE
                OTP Verify - Mobile:
                  value:
                    authResult: success
                    message: OTP Verified Successfully
                    tokens:
                      expiresIn: 1800
                      refreshExpiresIn: 1296000
                      refreshToken: >-
                        {{jwt-token}}
                      token: >-
                        {{jwt-token}}
                    txnId: 1cba575d-02cd-40be-90e6-1e2edca88a88
                    users:
                      - abhaAddress: hemant.bodhai@sbx
                        abhaNumber: XX-XXXX-XXXX-1234
                        fullName: John Doe
                        kycStatus: VERIFIED
                        status: ACTIVE
        '400':
          description: >-
           The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the OTP (One-Time Password) verification process.<br><br>
              <ol>
              <li>
              <p><strong>OTP Verify - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided for OTP verification is invalid.</p>
              </li>
              </ol>
              <ol start="2">
              <li>
              <p><strong>OTP Verify - Invalid OTP:</strong> This error occurs when the OTP provided for verification is invalid.</p>
              </li>
              </ol>
              <ol start="3">
              <li>
              <p><strong>OTP Verify - Invalid Scope:</strong> This error occurs when the scope of the OTP verification request is invalid.</p>
              </li>
              </ol>
              <ol start="4">
              <li>
              <p><strong>OTP Verify - AADHAAR OTP - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided for AADHAAR OTP verification is invalid.</p>
              </li>
              </ol>
              <ol start="5">
              <li>
              <p><strong>OTP Verify - AADHAAR OTP - Invalid OTP Request:</strong> This error occurs when the OTP request for AADHAAR verification is invalid.</p>
              </li>
              </ol>
              <ol start="6">
              <li>
              <p><strong>OTP Verify - AADHAAR OTP - Invalid Auth Methods:</strong> This error occurs when the authentication methods used for AADHAAR OTP verification are invalid.</p>
              </li>
              </ol>
              <ol start="7">
              <li>
              <p><strong>OTP Verify - AADHAAR OTP - Invalid Scope:</strong> This error occurs when the scope of the AADHAAR OTP verification request is invalid.</p>
              </li>
              </ol>
              <ol start="8">
              <li>
              <p><strong>OTP Verify - ABHA OTP - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided for ABHA OTP verification is invalid.</p>
              </li>
              </ol>
              <ol start="9">
              <li>
              <p><strong>OTP Verify - ABHA OTP - Invalid OTP Request:</strong> This error occurs when the OTP request for ABHA verification is invalid.</p>
              </li>
              </ol>
              <ol start="10">
              <li>
              <p><strong>OTP Verify - ABHA OTP - Invalid Auth Methods:</strong> This error occurs when the authentication methods used for ABHA OTP verification are invalid.</p>
              </li>
              </ol>
              <ol start=11>
              <li>
              <p><strong>OTP Verify - ABHA OTP - Invalid Scope:</strong> This error occurs when the scope of the ABHA OTP verification request is invalid.</p>
              </li>
              </ol>
          headers:
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            access-control-allow-headers:
              schema:
                type: string
                example: >-
                  Content-Type,SOAPAction,apikey,Internal-Key,TIMESTAMP,REQUEST-ID,t-token,x-token,R-token,X-token,Authorization,methods,x-b3-sampled,access-control-expose-headers,x-envoy-external-address,host,cache-control,sec-fetch-mode,x-request-id,accept-language,x-forwarded-proto,x-forwarded-for,access-control-request-method,access-control-allow-headers,pragma,accept,x-envoy-attempt-count,activityid,x-b3-spanid,x-b3-traceid,access-control-request-headers,accept-encoding,sec-fetch-dest,date,x-envoy-upstream-service-time,Transfer-Encoding,referer,sec-fetch-site,request-id,timestamp,x-auth-token,x-cm-id,KEY_TYPE,Authorization
            access-control-allow-methods:
              schema:
                type: string
                example: POST
            activityid:
              schema:
                type: string
                example: 11144247-eda2-4db0-bd05-4b3298f27726
            cache-control:
              schema:
                type: string
                example: no-cache, no-store, max-age=0, must-revalidate
            content-security-policy:
              schema:
                type: string
                example: form-action 'self'
            date:
              schema:
                type: string
                example: Thu, 09 May 2024 12:15:25 GMT
            expires:
              schema:
                type: string
                example: '0'
            permissions-policy:
              schema:
                type: string
                example: geolocation=(self)
            pragma:
              schema:
                type: string
                example: no-cache
            referrer-policy:
              schema:
                type: string
                example: no-referrer
            strict-transport-security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            vary:
              schema:
                type: string
                example: >-
                  Origin,Access-Control-Request-Method,Access-Control-Request-Headers
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-envoy-upstream-service-time:
              schema:
                type: string
                example: '27'
            x-frame-options:
              schema:
                type: string
                example: DENY
            x-xss-protection:
              schema:
                type: string
                example: 1 ; mode=block
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                      description: >-
                        ABDM-9999 - Unknown exception. May be returned either bare (`ABDM-9999`) or with a trailing
                        ": " separator (`ABDM-9999: `); match on the code itself and tolerate the separator.
                      example: 'ABDM-9999'
                    message:
                      type: string
                      example: Invalid Transaction Id
                example:
                  - code: 'ABDM-9999'
                    message: Invalid Transaction Id
              examples:
                OTP Verify - AADHAAR OTP - Invalid Auth Methods:
                  value:
                    - code: 'ABDM-1006'
                      message: Invalid Auth Methods
                OTP Verify - AADHAAR OTP - Invalid OTP Request:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid OTP Value
                OTP Verify - AADHAAR OTP - Invalid Scope:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Scope
                    # - code: 'ABDM-9999: '
                    #   message: Invalid OTP Value
                OTP Verify - AADHAAR OTP - Invalid Transaction Id:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Transaction Id
                OTP Verify - ABHA OTP - Invalid Auth Methods:
                  value:
                    - code: 'ABDM-1006'
                      message: Invalid Auth Methods
                    - code: 'ABDM-9999'
                      message: Invalid OTP Value
                OTP Verify - ABHA OTP - Invalid OTP Request:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid OTP Value
                OTP Verify - ABHA OTP - Invalid Scope:
                  value:
                    # - code: 'ABDM-9999: '
                    #   message: Invalid Scope
                    - code: 'ABDM-9999'
                      message: Invalid OTP Value
                OTP Verify - ABHA OTP - Invalid Transaction Id:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Transaction Id
                OTP Verify - Invalid OTP:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid OTP Value
                OTP Verify - Invalid Scope:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Scope
                    - code: 'ABDM-9999'
                      message: Invalid OTP Value
                OTP Verify - Invalid Transaction Id:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Transaction Id
        '401':
          description: >-
            Unauthorized. The request carried no valid credentials, or the access token has expired.
            Obtain a fresh token from the session API and retry.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      900902 - Missing Credentials. May be returned either bare or with a trailing ": " separator;
                      match on the code itself and tolerate the separator.
                    example: '900902'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Missing Credentials
                  description:
                    type: string
                    description: >-
                      Detailed description of the failure.
                    example: >-
                      Invalid Credentials. Make sure your API invocation call has a header: 'Authorization :
                      Bearer ACCESS_TOKEN' or 'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'
        '403':
          description: >-
            Forbidden. The caller is authenticated but is not permitted to perform this operation on
            this resource.
          content:
            text/plain:
              schema:
                type: string
                example: Forbidden
        '500':
          description: >-
            The 500 response code indicates an internal server error. The request was well formed
            and authenticated, but the service could not complete it. Retry with the same
            REQUEST-ID; if the failure persists, raise it with ABDM support quoting that id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      900900 - Unclassified Authentication Failure. May be returned either bare or with a
                      trailing ": " separator; match on the code itself and tolerate the separator.
                    example: '900900'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    description: Detailed description of the failure, naming the API and status.
                    example: >-
                      Access failure for API: /abha/api/v3/phr, version: v3 status: (900900) -
                      Unclassified Authentication Failure
              examples:
                Internal Server Error:
                  value:
                    code: '900900'
                    message: Unclassified Authentication Failure
                    description: >-
                      Access failure for API: /abha/api/v3/phr, version: v3 status: (900900) -
                      Unclassified Authentication Failure
        '503':
          description: >-
            The 503 response code indicates the service is temporarily unavailable because a
            dependency it relies on could not be reached. The request may be retried after a
            short delay.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      ABDM-1024 - Dependent service unavailable. May be returned either bare or with a
                      trailing ": " separator; match on the code itself and tolerate the separator.
                    example: 'ABDM-1024'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Dependent service unavailable
              examples:
                Service Unavailable:
                  value:
                    code: 'ABDM-1024'
                    message: Dependent service unavailable
      security:
        - apiKey: []
  /abha/api/v3/phr/app/enrollment/suggestion:
    post:
      tags:
        - Enrollment API Collection
      summary: Suggestion API
      description: This API endpoint is used to provide suggestions for ABHA addresses based on the user’s personal information. It helps users find suitable ABHA addresses by generating a list of suggestions.
      
      operationId: suggestionApi
      parameters:
        - name: REQUEST-ID
          description: >-
            Unique UUID to track the end to end request transaction
          in: header
          required: true
          schema:
            type: string
            example: 'e906de88-7e4e-465f-9744-f246a5c96b5b'
        - name: TIMESTAMP
          description: >-
            Actual time the request was initiated, ISO 8601 date-time: year, month, day, hour, minutes,
            seconds and milliseconds, e.g. 2024-09-03T11:20:51.456Z
          in: header
          required: true
          schema:
            type: string
            example: '2024-09-03T11:20:51.456Z'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                dayOfBirth:
                  type: string
                  example: '14'
                firstName:
                  type: string
                  example: John
                lastName:
                  type: string
                  example: Doe
                monthOfBirth:
                  type: string
                  example: '11'
                txnId:
                  type: string
                  example: '{{transactionId}}'
                yearOfBirth:
                  type: string
                  example: '2025'
              required:
                - firstName
                - txnId
                - yearOfBirth
            examples:
              Suggestion API:
                value:
                  dayOfBirth: '14'
                  firstName: John
                  lastName: Doe
                  monthOfBirth: '11'
                  txnId: '{{transactionId}}'
                  yearOfBirth: '2025'
        description : <b>Below is the Request Body description:</b><br><br>
            <!--<div>
             <table>
             <thead>
             <tr>
             <th>Attributes</th>
             <th>Description</th>
             </tr>
             </thead>
             <tbody>
             <tr>
             <td>dateOfBirth <sup> * required</td>
             <td>The day of the user’s birth.</td>
             </tr>
              <tr>
             <td>firstName <sup>* required </sup></td>
             <td>The user’s first name.</td>
             </tr>
              <tr>
             <td>lastName</td>
             <td>The user’s last name </td>
             </tr>
              <tr>
             <td>monthOfBirth</td>
             <td>The month of the user’s birth.</td>
             <tr>
             <td>txnId <sup>* required</td>
             <td>The transaction ID associated with the request.</td>
             </tr>
             <td>yearOfBirth</td>
             <td>The year of the user’s birth.</td>
             </tr>
             </tbody>
             </table> 
             </div>
             <hr width="100%" size="2"> -->
             <b>Note:</b> Mandatory fields can't be null.
             
             <ol>
              <li>
              <p><strong>dayOfBirth</strong> (optional):</p>
              <ul>
              <li><strong>Description:</strong> The day of the user’s birth.</li>
              <li><strong>Type:</strong> String</li>
              <li><strong>Example:</strong> <code>14</code></li>
              </ul>
              </li>
              <li>
              <p><strong>firstName</strong> (required):</p>
              <ul>
              <li><strong>Description:</strong> The user’s first name.</li>
              <li><strong>Type:</strong> String</li>
              <li><strong>Example:</strong> <code>John</code></li>
              </ul>
              </li>
              <li>
              <p><strong>lastName</strong> (optional):</p>
              <ul>
              <li><strong>Description:</strong> The user’s last name.</li>
              <li><strong>Type:</strong> String</li>
              <li><strong>Example:</strong> <code>Doe</code></li>
              </ul>
              </li>
              <li>
              <p><strong>monthOfBirth</strong> (optional):</p>
              <ul>
              <li><strong>Description:</strong> The month of the user’s birth.</li>
              <li><strong>Type:</strong> String</li>
              <li><strong>Example:</strong> <code>11</code></li>
              </ul>
              </li>
              <li>
              <p><strong>txnId</strong> (required):</p>
              <ul>
              <li><strong>Description:</strong> The transaction ID associated with the request.</li>
              <li><strong>Type:</strong> String</li>
              <li><strong>Example:</strong> <code>4765527e-898b-4a62-91ec-be039fbf60f8</code></li>
              </ul>
              </li>
              <li>
              <p><strong>yearOfBirth</strong> (required):</p>
              <ul>
              <li><strong>Description:</strong> The year of the user’s birth.</li>
              <li><strong>Type:</strong> String</li>
              <li><strong>Example:</strong> <code>2025</code></li>
              </ul>
              </li>
              </ol>

      responses:
        '200':
          description: The 200 response code indicates a successful request. In this context, it refers to the successful operation of the Suggestion API.
          content:
            application/json:
              schema:
                type: object
                properties:
                  abhaAddressList:
                    type: array
                    items:
                      type: string
                      example: doe.1411
                    example:
                      - doe.1411
                      - johndoe
                      - john_doe
                      - johndoe14
                      - johndoe.14
                      - john_14111998
                      - john_1411
                      - john14111998
                      - john1411
                      - john1998
                      - john.doe
                      - john.1411
                      - john.14111998
                      - johndoe_14
                      - doe_1411
                      - johndoe1998
                      - 1998_johndoe
                  txnId:
                    type: string
                    example: 4765527e-898b-4a62-91ec-be041fbf60f8
              examples:
                Suggestion API:
                  value:
                    abhaAddressList:
                      - doe.1411
                      - johndoe
                      - john_doe
                      - johndoe14
                      - johndoe.14
                      - john_14111998
                      - john_1411
                      - john14111998
                      - john1411
                      - john1998
                      - john.doe
                      - john.1411
                      - john.14111998
                      - johndoe_14
                      - doe_1411
                      - johndoe1998
                      - 1998_johndoe
                    txnId: 4765527e-898b-4a62-91ec-be039fbf60f8
        '400':
          description: >-
            The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the operation of the Suggestion API.<br><br>
            <p><strong>Types of Suggestion API Errors:</strong></p>
              <ol>
              <li><strong>Suggestion API - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided for the Suggestion API is invalid.</li>
              </ol>
              <ol start="2">
              <li><strong>Suggestion API - Blank FirstName:</strong> This error occurs when the first name field is left blank in the Suggestion API request.</li>
              </ol>
              <ol start="3">
              <li><strong>Suggestion API - Invalid Day Of Birth:</strong> This error occurs when the day of birth provided in the Suggestion API request is invalid.</li>
              </ol>
              <ol start="4">
              <li><strong>Suggestion API - Invalid Month Of Birth:</strong> This error occurs when the month of birth provided in the Suggestion API request is invalid.</li>
              </ol>
              <ol start="5">
              <li><strong>Suggestion API - Invalid Year Of Birth:</strong> This error occurs when the year of birth provided in the Suggestion API request is invalid.</li>
              </ol>
              <ol start="6">
              <li><strong>Suggestion API - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided for the Suggestion API is invalid.</li>
              </ol>
              <ol start="7">
              <li><strong>Suggestion API - Blank FirstName:</strong> This error occurs when the first name field is left blank in the Suggestion API request.</li>
              </ol>
              <ol start="8">
              <li><strong>Suggestion API - Invalid Day Of Birth:</strong> This error occurs when the day of birth provided in the Suggestion API request is invalid.</li>
              </ol>
              <ol start="9">
              <li><strong>Suggestion API - Invalid Month Of Birth:</strong> This error occurs when the month of birth provided in the Suggestion API request is invalid.</li>
              </ol>
              <ol start="10">
              <li><strong>Suggestion API - Invalid Year Of Birth:</strong> This error occurs when the year of birth provided in the Suggestion API request is invalid.</li>
              </ol>
              <ol start="11">
              <li><strong>Suggestion API - Invalid Transaction Id:</strong> This error occurs when the transaction ID provided for the Suggestion API is invalid.</li>
              </ol>
              <ol start="12">
              <li><strong>Suggestion API - Blank FirstName:</strong> This error occurs when the first name field is left blank in the Suggestion API request.</li>
              </ol>
              <ol start="13">
              <li><strong>Suggestion API - Invalid Day Of Birth:</strong> This error occurs when the day of birth provided in the Suggestion API request is invalid.</li>
              </ol>
              <ol start="14">
              <li><strong>Suggestion API - Invalid Month Of Birth:</strong> This error occurs when the month of birth provided in the Suggestion API request is invalid.</li>
              </ol>
              <ol start="15">
              <li><strong>Suggestion API - Invalid Year Of Birth:</strong> This error occurs when the year of birth provided in the Suggestion API request is invalid.</li>
              </ol>
            
          headers:
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            access-control-allow-headers:
              schema:
                type: string
                example: >-
                  Content-Type,SOAPAction,apikey,Internal-Key,TIMESTAMP,REQUEST-ID,t-token,x-token,R-token,X-token,Authorization,methods,x-b3-sampled,access-control-expose-headers,x-envoy-external-address,host,cache-control,sec-fetch-mode,x-request-id,accept-language,x-forwarded-proto,x-forwarded-for,access-control-request-method,access-control-allow-headers,pragma,accept,x-envoy-attempt-count,activityid,x-b3-spanid,x-b3-traceid,access-control-request-headers,accept-encoding,sec-fetch-dest,date,x-envoy-upstream-service-time,Transfer-Encoding,referer,sec-fetch-site,request-id,timestamp,x-auth-token,x-cm-id,KEY_TYPE,Authorization
            access-control-allow-methods:
              schema:
                type: string
                example: POST
            activityid:
              schema:
                type: string
                example: d0e90aaa-500f-499c-b7c5-e6821819cf04
            cache-control:
              schema:
                type: string
                example: no-cache, no-store, max-age=0, must-revalidate
            content-security-policy:
              schema:
                type: string
                example: form-action 'self'
            date:
              schema:
                type: string
                example: Thu, 09 May 2024 10:09:59 GMT
            expires:
              schema:
                type: string
                example: '0'
            permissions-policy:
              schema:
                type: string
                example: geolocation=(self)
            pragma:
              schema:
                type: string
                example: no-cache
            referrer-policy:
              schema:
                type: string
                example: no-referrer
            strict-transport-security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            vary:
              schema:
                type: string
                example: >-
                  Origin,Access-Control-Request-Method,Access-Control-Request-Headers
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-envoy-upstream-service-time:
              schema:
                type: string
                example: '26'
            x-frame-options:
              schema:
                type: string
                example: DENY
            x-xss-protection:
              schema:
                type: string
                example: 1 ; mode=block
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                      description: >-
                        ABDM-9999 - Unknown exception. May be returned either bare (`ABDM-9999`) or with a trailing
                        ": " separator (`ABDM-9999: `); match on the code itself and tolerate the separator.
                      example: 'ABDM-9999'
                    message:
                      type: string
                      example: Invalid Transaction Id
                example:
                  - code: 'ABDM-9999'
                    message: Invalid Transaction Id
              examples:
                Suggestion API - Blank FirstName:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid First Name
                Suggestion API - Invalid Day Of Birth:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Day Of Birth
                Suggestion API - Invalid Transaction Id:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Transaction Id
                Suggestion API - Invalid Month Of Birth:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Month Of Birth
                    - code: 'ABDM-9999'
                      message: Invalid First Name
                Suggestion API - Invalid Year Of Birth:
                  value:
                    - code: 'ABDM-9999'
                      message: Invalid Year Of Birth
        '401':
          description: >-
            Unauthorized. The request carried no valid credentials, or the access token has expired.
            Obtain a fresh token from the session API and retry.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      900902 - Missing Credentials. May be returned either bare or with a trailing ": " separator;
                      match on the code itself and tolerate the separator.
                    example: '900902'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Missing Credentials
                  description:
                    type: string
                    description: >-
                      Detailed description of the failure.
                    example: >-
                      Invalid Credentials. Make sure your API invocation call has a header: 'Authorization :
                      Bearer ACCESS_TOKEN' or 'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'
        '403':
          description: >-
            Forbidden. The caller is authenticated but is not permitted to perform this operation on
            this resource.
          content:
            text/plain:
              schema:
                type: string
                example: Forbidden
        '500':
          description: >-
            The 500 response code indicates an internal server error. The request was well formed
            and authenticated, but the service could not complete it. Retry with the same
            REQUEST-ID; if the failure persists, raise it with ABDM support quoting that id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      900900 - Unclassified Authentication Failure. May be returned either bare or with a
                      trailing ": " separator; match on the code itself and tolerate the separator.
                    example: '900900'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    description: Detailed description of the failure, naming the API and status.
                    example: >-
                      Access failure for API: /abha/api/v3/phr, version: v3 status: (900900) -
                      Unclassified Authentication Failure
              examples:
                Internal Server Error:
                  value:
                    code: '900900'
                    message: Unclassified Authentication Failure
                    description: >-
                      Access failure for API: /abha/api/v3/phr, version: v3 status: (900900) -
                      Unclassified Authentication Failure
        '503':
          description: >-
            The 503 response code indicates the service is temporarily unavailable because a
            dependency it relies on could not be reached. The request may be retried after a
            short delay.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      ABDM-1024 - Dependent service unavailable. May be returned either bare or with a
                      trailing ": " separator; match on the code itself and tolerate the separator.
                    example: 'ABDM-1024'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Dependent service unavailable
              examples:
                Service Unavailable:
                  value:
                    code: 'ABDM-1024'
                    message: Dependent service unavailable
      security:
        - apiKey: []
  /abha/api/v3/phr/app/enrollment/isExists:
    get:
      tags:
        - Enrollment API Collection
      summary: isExists API
      description: This API endpoint checks if a given ABHA address already exists. It helps users determine the availability of their desired ABHA address before proceeding with registration.
      operationId: isexistsApi
      parameters:
        - name: abhaAddress
          in: query
          required: true
          schema:
            type: string
            example: kiran_1997199711@sbx
        - name: REQUEST-ID
          description: >-
            Unique UUID to track the end to end request transaction
          in: header
          required: true
          schema:
            type: string
            example: 'e906de88-7e4e-465f-9744-f246a5c96b5b'
        - name: TIMESTAMP
          description: >-
            Actual time the request was initiated, ISO 8601 date-time: year, month, day, hour, minutes,
            seconds and milliseconds, e.g. 2024-09-03T11:20:51.456Z
          in: header
          required: true
          schema:
            type: string
            example: '2024-09-03T11:20:51.456Z'
      responses:
        '200':
          description: >-
            The 200 response code indicates a successful request. In this context, it refers to the successful operation of the isExists API. isExists API - ABHA address not exist: This response indicates that the ABHA (Ayushman Bharat Health Account) address does not exist in the system.
          headers:
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            access-control-allow-headers:
              schema:
                type: string
                example: >-
                  Content-Type,SOAPAction,apikey,Internal-Key,TIMESTAMP,REQUEST-ID,t-token,x-token,R-token,X-token,Authorization,methods,x-b3-sampled,access-control-expose-headers,x-envoy-external-address,host,cache-control,sec-fetch-mode,x-request-id,accept-language,x-forwarded-proto,x-forwarded-for,access-control-request-method,access-control-allow-headers,pragma,accept,x-envoy-attempt-count,activityid,x-b3-spanid,x-b3-traceid,access-control-request-headers,accept-encoding,sec-fetch-dest,date,x-envoy-upstream-service-time,Transfer-Encoding,referer,sec-fetch-site,request-id,timestamp,x-auth-token,x-cm-id,KEY_TYPE,Authorization
            access-control-allow-methods:
              schema:
                type: string
                example: GET
            activityid:
              schema:
                type: string
                example: d45364ca-f068-41f3-8300-73349eda6b09
            cache-control:
              schema:
                type: string
                example: no-cache, no-store, max-age=0, must-revalidate
            content-security-policy:
              schema:
                type: string
                example: form-action 'self'
            date:
              schema:
                type: string
                example: Thu, 09 May 2024 10:14:48 GMT
            expires:
              schema:
                type: string
                example: '0'
            permissions-policy:
              schema:
                type: string
                example: geolocation=(self)
            pragma:
              schema:
                type: string
                example: no-cache
            referrer-policy:
              schema:
                type: string
                example: no-referrer
            strict-transport-security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            vary:
              schema:
                type: string
                example: >-
                  Origin,Access-Control-Request-Method,Access-Control-Request-Headers
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-envoy-upstream-service-time:
              schema:
                type: string
                example: '41'
            x-frame-options:
              schema:
                type: string
                example: DENY
            x-xss-protection:
              schema:
                type: string
                example: 1 ; mode=block
          content:
            application/octet-stream:
              examples:
                isExists API - ABHA address not exist:
                  value: 'false'
        '400':
          description: >-
           The 400 response code indicates a bad request. In this context, it refers to various errors encountered during the operation of the isExists API. isExists API - Invalid ABHA Address: This error occurs when the ABHA (Ayushman Bharat Health Account) address provided is invalid.
          headers:
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            access-control-allow-headers:
              schema:
                type: string
                example: >-
                  Content-Type,SOAPAction,apikey,Internal-Key,TIMESTAMP,REQUEST-ID,t-token,x-token,R-token,X-token,Authorization,methods,x-b3-sampled,access-control-expose-headers,x-envoy-external-address,host,cache-control,sec-fetch-mode,x-request-id,accept-language,x-forwarded-proto,x-forwarded-for,access-control-request-method,access-control-allow-headers,pragma,accept,x-envoy-attempt-count,activityid,x-b3-spanid,x-b3-traceid,access-control-request-headers,accept-encoding,sec-fetch-dest,date,x-envoy-upstream-service-time,Transfer-Encoding,referer,sec-fetch-site,request-id,timestamp,x-auth-token,x-cm-id,KEY_TYPE,Authorization
            access-control-allow-methods:
              schema:
                type: string
                example: GET
            activityid:
              schema:
                type: string
                example: ab10580b-1024-4682-84cb-758109666118
            cache-control:
              schema:
                type: string
                example: no-cache, no-store, max-age=0, must-revalidate
            content-security-policy:
              schema:
                type: string
                example: form-action 'self'
            date:
              schema:
                type: string
                example: Thu, 09 May 2024 10:13:12 GMT
            expires:
              schema:
                type: string
                example: '0'
            permissions-policy:
              schema:
                type: string
                example: geolocation=(self)
            pragma:
              schema:
                type: string
                example: no-cache
            referrer-policy:
              schema:
                type: string
                example: no-referrer
            strict-transport-security:
              schema:
                type: string
                example: max-age=31536000 ; includeSubDomains
            vary:
              schema:
                type: string
                example: >-
                  Origin,Access-Control-Request-Method,Access-Control-Request-Headers
            x-content-type-options:
              schema:
                type: string
                example: nosniff
            x-envoy-upstream-service-time:
              schema:
                type: string
                example: '27'
            x-frame-options:
              schema:
                type: string
                example: DENY
            x-xss-protection:
              schema:
                type: string
                example: 1 ; mode=block
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    code:
                      type: string
                      pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                      description: >-
                        ABDM-1006 - Bad Request, invalid request Body. May be returned either bare (`ABDM-1006`) or
                        with a trailing ": " separator (`ABDM-1006: `); match on the code itself and tolerate the
                        separator.
                      example: 'ABDM-1006'
                    message:
                      type: string
                      example: Invalid ABHA Address
                example:
                  - code: 'ABDM-1006'
                    message: Invalid ABHA Address
              examples:
                isExists API - Invalid ABHA Address:
                  value:
                    - code: 'ABDM-1006'
                      message: Invalid ABHA Address
        '401':
          description: >-
            The 401 response code indicates an unauthorized request. In this context, it refers to the lack of proper authentication during the operation of the isExists API. isExists API.
          headers:
            Transfer-Encoding:
              schema:
                type: string
                example: chunked
            accept-encoding:
              schema:
                type: string
                example: gzip, deflate, br
            access-control-allow-headers:
              schema:
                type: string
                example: >-
                  Content-Type,SOAPAction,apikey,Internal-Key,TIMESTAMP,REQUEST-ID,t-token,x-token,R-token,X-token,Authorization,methods,x-b3-sampled,access-control-expose-headers,x-envoy-external-address,host,cache-control,sec-fetch-mode,x-request-id,accept-language,x-forwarded-proto,x-forwarded-for,access-control-request-method,access-control-allow-headers,pragma,accept,x-envoy-attempt-count,activityid,x-b3-spanid,x-b3-traceid,access-control-request-headers,accept-encoding,sec-fetch-dest,date,x-envoy-upstream-service-time,Transfer-Encoding,referer,sec-fetch-site,request-id,timestamp,x-auth-token,x-cm-id,KEY_TYPE,Authorization
            access-control-allow-methods:
              schema:
                type: string
                example: GET
            activityid:
              schema:
                type: string
                example: f568472d-45e2-4a71-8fea-8695c15b3ec7
            cache-control:
              schema:
                type: string
                example: no-cache
            date:
              schema:
                type: string
                example: Thu, 09 May 2024 10:15:38 GMT
            postman-token:
              schema:
                type: string
                example: 5f58e1bb-855a-4e1e-b2c8-0db8b541ebbd
            request-id:
              schema:
                type: string
                example: d45d03da-125c-4478-b46f-b1ce2346e6b6
            timestamp:
              schema:
                type: string
                example: '2024-05-09T10:15:39.679Z'
            www-authenticate:
              schema:
                type: string
                example: >-
                  null Bearer realm="WSO2 API Manager" null,
                  error="invalid_token", error_description="The provided token
                  is invalid"
            x-b3-sampled:
              schema:
                type: string
                example: '0'
            x-b3-spanid:
              schema:
                type: string
                example: dcb1840eb398889e
            x-b3-traceid:
              schema:
                type: string
                example: 316638d00c522ba3dcb1840eb398889e
            x-envoy-attempt-count:
              schema:
                type: string
                example: '1'
            x-envoy-upstream-service-time:
              schema:
                type: string
                example: '3'
            x-forwarded-proto:
              schema:
                type: string
                example: http
            x-request-id:
              schema:
                type: string
                example: 5d683984-5298-49e4-ada9-506c85d8ba20
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      900902 - Missing Credentials. May be returned either bare or with a trailing ": " separator;
                      match on the code itself and tolerate the separator.
                    example: '900902'
                  description:
                    type: string
                    example: >-
                      Invalid Credentials. Make sure your API invocation call
                      has a header: 'Authorization : Bearer ACCESS_TOKEN' or
                      'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'
                  message:
                    type: string
                    example: Missing Credentials
              examples:
                isExists API - No Auth:
                  value:
                    code: '900902'
                    description: >-
                      Invalid Credentials. Make sure your API invocation call
                      has a header: 'Authorization : Bearer ACCESS_TOKEN' or
                      'Authorization : Basic ACCESS_TOKEN' or 'apikey: API_KEY'
                    message: Missing Credentials
        '403':
          description: >-
            Forbidden. The caller is authenticated but is not permitted to perform this operation on
            this resource.
          content:
            text/plain:
              schema:
                type: string
                example: Forbidden
        '500':
          description: >-
            The 500 response code indicates an internal server error. The request was well formed
            and authenticated, but the service could not complete it. Retry with the same
            REQUEST-ID; if the failure persists, raise it with ABDM support quoting that id.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      900900 - Unclassified Authentication Failure. May be returned either bare or with a
                      trailing ": " separator; match on the code itself and tolerate the separator.
                    example: '900900'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Unclassified Authentication Failure
                  description:
                    type: string
                    description: Detailed description of the failure, naming the API and status.
                    example: >-
                      Access failure for API: /abha/api/v3/phr, version: v3 status: (900900) -
                      Unclassified Authentication Failure
              examples:
                Internal Server Error:
                  value:
                    code: '900900'
                    message: Unclassified Authentication Failure
                    description: >-
                      Access failure for API: /abha/api/v3/phr, version: v3 status: (900900) -
                      Unclassified Authentication Failure
        '503':
          description: >-
            The 503 response code indicates the service is temporarily unavailable because a
            dependency it relies on could not be reached. The request may be retried after a
            short delay.
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    pattern: '^(ABDM-\d{4}|\d{3,6})(: )?$'
                    description: >-
                      ABDM-1024 - Dependent service unavailable. May be returned either bare or with a
                      trailing ": " separator; match on the code itself and tolerate the separator.
                    example: 'ABDM-1024'
                  message:
                    type: string
                    description: Short description of the failure.
                    example: Dependent service unavailable
              examples:
                Service Unavailable:
                  value:
                    code: 'ABDM-1024'
                    message: Dependent service unavailable
      security:
        - apiKey: []
  /abha/api/v3/phr/app/enrollment/enrol:
    post:
      tags:
        - Enrollment API Collection
      summary: Enroll ABHA Address
      description: This API endpoint is used to enroll a new ABHA (Ayushman Bharat Health Account) address. It collects and processes the user’s personal and contact information to create a unique ABHA address.
      operationId: enrollAbhaAddress
      parameters:
        - name: REQUEST-ID
          description: >-
            Unique UUID to track the end to end request transaction
          in: header
          required: true
          schema:
            type: string
            example: 'e906de88-7e4e-465f-9744-f246a5c96b5b'
        - name: TIMESTAMP
          description: >-
            Actual time the request was initiated, ISO 8601 date-time: year, month, day, hour, minutes,
            seconds and milliseconds, e.g. 2024-09-03T11:20:51.456Z
          in: header
          required: true
[...]
