{
    "openapi": "3.0.1",
    "info": {
        "title": "Health Facility Registry APIs"
    },
    "externalDocs": {
        "description": "HFR API Documentation",
        "url": "https://sandboxcmssbx.abdm.gov.in/uploads/HFR_Documentation_SBX_Updated_08_04_2026_bd4a65ba44_2_0ae63ba293.pdf"
    },
    "servers": [
        {
            "url": "https://apihspsbx.abdm.gov.in/v4/int"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "paths": {
        "/aadhaar/generateLink": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "generateAadhaarLink",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadharGenerateLinkRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadharGenerateLinkResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/aadhaar/isAuthenticated": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "isAadhaarAuthenticated",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/verifyOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "verifyOtp",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadharVerifyResponsePayload"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/demographicAuthViaMobile": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "demographicAuthViaMobile",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/MobileDemographicAuthResponseModel"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/checkHpIdAccountExist": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "accountExist",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountExistPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountExistResponsePayload"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/hpid/suggestion": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "getSuggesstion",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HpIdSuggestionRequst"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/generateMobileOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "generateMobileOtp",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDGenerateMobileOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/verifyMobileOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "verifyMobileOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDVerifyMobileOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HPRIDVerifyMobileOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/createHprIdWithPreVerified": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "createHprIdV2",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccountWithPreVerifiedAadhaar"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateAccountJwtResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/search/address/filter/deduplicate": {
            "post": {
                "tags": [
                    "Onboarding APIs"
                ],
                "operationId": "getFilteredAddressPost",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddressFilterRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DeduplicateResponseDto"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/basic-information": {
            "post": {
                "tags": [
                    "Onboarding APIs"
                ],
                "operationId": "v15BasicFacilityInformation",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-hprid-auth",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FacilityBasicInformationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilityOnboardResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/additional-information": {
            "post": {
                "tags": [
                    "Onboarding APIs"
                ],
                "operationId": "v15FacilityAdditionalInformation",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FacilityAdditionalInformationRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilityOnboardResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/detailed-information": {
            "post": {
                "tags": [
                    "Onboarding APIs"
                ],
                "operationId": "v15FacilityDetailedInformation",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FacilityDetailedInformationRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilityOnboardResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/submit-facility": {
            "post": {
                "tags": [
                    "Onboarding APIs"
                ],
                "operationId": "v15SubmitFacilityDetails",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-hprid-auth",
                        "in": "header",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "x-hprid-auth-verifier",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FacilitySubmitDetails"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilitySubmitResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/bridges/MutipleHRPAddUpdateServices": {
            "post": {
                "tags": [
                    "Multiple HRP API"
                ],
                "operationId": "facilityAddAndUpdate",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BridgeAddUpdateRequestDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/getPsuDetailsByMinistry": {
            "get": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getPsuData",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ministry",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/FacilityManagement/v1.5/facility/bygeoLocation/searchWithinRadiusWithFilter": {
            "post": {
                "tags": [
                    "Search"
                ],
                "operationId": "getFacilityWithinRadiusWithFilter",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HFRSearchWithinRadiusRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilitySearchResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/FacilityManagement/v1.5/facility/search": {
            "post": {
                "tags": [
                    "Search"
                ],
                "operationId": "searchFacility_1",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SearchFacilityRequestDTO"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilitySearchResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.0/facility/search-facilities": {
            "post": {
                "tags": [
                    "Multiple HRP API"
                ],
                "operationId": "searchFacility",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SearchFacilityRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/SearchFacilityResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/fetch-facility-Sub-type": {
            "post": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getAllFacilitySubTypeByFacilityType",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UtilityFacilitySubTypeReqDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/fetch-facility-type": {
            "post": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getAllFacilityTypeByOwnershipAndSysOfMed",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UtilityFacilityTypeReqDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/get-master-data": {
            "get": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getMasterData",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UtilityTypeDataResDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/get-master-types": {
            "get": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getAllMasterType",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/MasterTypeResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/get-owner-subtype": {
            "post": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getAllSubTypesByOwnerShipTypeAndSubType",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SubTypeUtilityRequestDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/get-specialities": {
            "post": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getAllSpecialitiesBySystemOfMedicineCode",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SpecialitiesUtilityRequestDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/lgd/districts": {
            "get": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getAllDistrictByStateId",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stateCode",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UtilityCodeNameResDto"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/lgd/states": {
            "get": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getAllStatesByLGD",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StatesUtilityResponseDto"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/lgd/subdistricts": {
            "get": {
                "tags": [
                    "Utilities"
                ],
                "operationId": "getAllSubDistrictByDistrictCode",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "districtCode",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UtilityCodeNameResDto"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/sendOtpToContact": {
            "post": {
                "tags": [
                    "HFR-HRP Linkage APIs"
                ],
                "operationId": "sendOtpToContact",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FacilityContactDetails"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FacilityOtpResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1.5/facility/validateOtp": {
            "post": {
                "tags": [
                    "HFR-HRP Linkage APIs"
                ],
                "operationId": "validateOtp",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ValidateOtpRequestDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/ValidateOtpResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AadhaarGetTransactionRequest": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "AadharVerifyResponsePayload": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    },
                    "photo": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    },
                    "birthdate": {
                        "type": "string"
                    },
                    "careOf": {
                        "type": "string"
                    },
                    "house": {
                        "type": "string"
                    },
                    "street": {
                        "type": "string"
                    },
                    "landmark": {
                        "type": "string"
                    },
                    "locality": {
                        "type": "string"
                    },
                    "villageTownCity": {
                        "type": "string"
                    },
                    "subDist": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "postOffice": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    }
                }
            },
            "HPRIDGenerateMobileOTPResponseDTO": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "MobileDemographicAuthResponseModel": {
                "type": "object",
                "properties": {
                    "verified": {
                        "type": "boolean"
                    }
                }
            },
            "CreateAccountWithPreVerifiedAadhaar": {
                "required": [
                    "email",
                    "txnId"
                ],
                "type": "object",
                "properties": {
                    "idType": {
                        "type": "string",
                        "example": "hpr_id"
                    },
                    "domainName": {
                        "type": "string",
                        "example": "@hpr.abdm"
                    },
                    "email": {
                        "type": "string",
                        "description": "Email Address of the user.",
                        "example": "<ABHA_ADDRESS>.com"
                    },
                    "firstName": {
                        "type": "string",
                        "description": "First Name of the user).",
                        "example": "Ayushman"
                    },
                    "middleName": {
                        "type": "string",
                        "description": "Middle name of the user ",
                        "example": "Bharat"
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Last name of the user ",
                        "example": "Mission"
                    },
                    "password": {
                        "type": "string",
                        "description": "Passwords for authentication",
                        "example": "Ayushman@143"
                    },
                    "profilePhoto": {
                        "type": "string",
                        "description": "Profile photo of the user (Uploaded by the user).",
                        "example": "<BASE64 ENCODED STRING>"
                    },
                    "txnId": {
                        "type": "string",
                        "description": "Transaction ID",
                        "format": "uuid",
                        "example": "c3b0c27d-e19d-4244-b8bb-3fa19285054a"
                    },
                    "hprId": {
                        "type": "string",
                        "description": "Healthcare Professional ID Alias.",
                        "example": "<EMAIL>"
                    },
                    "sourceType": {
                        "type": "string",
                        "enum": [
                            "DRIVING_LICENSE",
                            "AADHAAR"
                        ]
                    },
                    "hpCategoryCode": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1
                    },
                    "hpSubCategoryCode": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1
                    },
                    "clientId": {
                        "type": "string",
                        "example": "V4"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "council": {
                        "type": "boolean"
                    },
                    "role": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "CreateAccountJwtResponse": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "subDistrictCode": {
                        "type": "string"
                    },
                    "subDistrictName": {
                        "type": "string"
                    },
                    "stateName": {
                        "type": "string"
                    },
                    "districtName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "kycPhoto": {
                        "type": "string"
                    },
                    "mobile": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "subCategoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "role": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "authMethods": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "AADHAAR_OTP",
                                "MOBILE_OTP",
                                "PASSWORD",
                                "DEMOGRAPHICS",
                                "AADHAAR_BIO",
                                "EMAIL_OTP",
                                "MOBILE_OTP_RESET_PASSWROD",
                                "FACE_AUTH"
                            ]
                        }
                    },
                    "new": {
                        "type": "boolean"
                    }
                }
            },
            "HPRIDVerifyMobileOTPRequestDTO": {
                "type": "object",
                "properties": {
                    "otp": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "HPRIDVerifyMobileOTPResponseDTO": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "HpIdSuggestionRequst": {
                "required": [
                    "txnId"
                ],
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string",
                        "description": "Based on UUID",
                        "example": "a825f76b-0696-40f3-864c-5a3a5b389a83"
                    }
                }
            },
            "HPRIDGenerateMobileOTPRequestDTO": {
                "type": "object",
                "properties": {
                    "mobile": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "AccountExistPayload": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "preverifiedCheck": {
                        "type": "boolean"
                    }
                }
            },
            "AccountExistResponsePayload": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "categoryName": {
                        "type": "string"
                    },
                    "subCategoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "categorySubName": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "stateName": {
                        "type": "string"
                    },
                    "districtName": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    },
                    "profilePhoto": {
                        "type": "string"
                    },
                    "mobile": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "new": {
                        "type": "boolean"
                    }
                }
            },
            "RetriveHprIdMobilePayLoad": {
                "required": [
                    "firstName",
                    "gender",
                    "name",
                    "otp",
                    "txnId",
                    "yearOfBirth"
                ],
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "pattern": "^(M|F|O|U)$",
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "pattern": "^(\\d{4})$",
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "pattern": "^(0?[1-9]|1[012])$",
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "pattern": "^(0?[1-9]|[12][0-9]|3[01])$",
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    }
                }
            },
            "RetrieveHprIdPayloadResponse": {
                "type": "object",
                "properties": {
                    "hprId": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "token": {
                        "type": "string"
                    }
                }
            },
            "SendOtpRequest": {
                "type": "object",
                "properties": {
                    "mobileNumber": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "hpid": {
                        "type": "string"
                    }
                }
            },
            "SendOtpResponse": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "BridgeAddUpdateRequestDTO": {
                "required": [
                    "facilityId",
                    "facilityName"
                ],
                "type": "object",
                "properties": {
                    "facilityId": {
                        "pattern": "^IN\\d+$",
                        "type": "string"
                    },
                    "facilityName": {
                        "type": "string"
                    },
                    "HRP": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/MultipleHRPRequest"
                        }
                    }
                }
            },
            "MultipleHRPRequest": {
                "required": [
                    "active",
                    "bridgeId",
                    "hipName",
                    "type"
                ],
                "type": "object",
                "properties": {
                    "bridgeId": {
                        "type": "string"
                    },
                    "hipName": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "active": {
                        "type": "boolean"
                    }
                }
            },
            "ValidateOtpRequestDto": {
                "type": "object",
                "properties": {
                    "facilityId": {
                        "type": "string"
                    },
                    "sourceId": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    },
                    "source": {
                        "type": "string"
                    },
                    "transactionId": {
                        "type": "string"
                    }
                }
            },
            "ErrorStatus": {
                "type": "object",
                "properties": {
                    "field": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "ValidateOtpResponse": {
                "type": "object",
                "properties": {
                    "facilityId": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errorStatus": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorStatus"
                        }
                    }
                }
            },
            "FacilitySubmitDetails": {
                "required": [
                    "trackingId"
                ],
                "type": "object",
                "properties": {
                    "trackingId": {
                        "pattern": "^[0-9]+$",
                        "type": "string"
                    },
                    "sourceOfInformation": {
                        "type": "string"
                    },
                    "sourceUniqueID": {
                        "type": "string"
                    },
                    "facilitySuperUser": {
                        "type": "string"
                    }
                }
            },
            "FacilitySubmitResponse": {
                "type": "object",
                "properties": {
                    "facilityId": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            },
            "FacilityContactDetails": {
                "type": "object",
                "properties": {
                    "facilityId": {
                        "type": "string"
                    }
                }
            },
            "FacilityOtpResponse": {
                "type": "object",
                "properties": {
                    "facilityId": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "transactionId": {
                        "type": "string"
                    },
                    "errorStatus": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorStatus"
                        }
                    }
                }
            },
            "SpecialitiesUtilityRequestDto": {
                "required": [
                    "systemOfMedicineCode"
                ],
                "type": "object",
                "properties": {
                    "systemOfMedicineCode": {
                        "pattern": "^(?i)(A|D|DIAG|H|IMAGE|M|P|SD|SR|UN|YN)$",
                        "type": "string"
                    }
                }
            },
            "SubTypeUtilityRequestDto": {
                "required": [
                    "ownerSubtypeCode",
                    "ownershipCode"
                ],
                "type": "object",
                "properties": {
                    "ownershipCode": {
                        "maxLength": 2,
                        "minLength": 0,
                        "pattern": "^(?i)(G|P|PP)$",
                        "type": "string"
                    },
                    "ownerSubtypeCode": {
                        "pattern": "^(?i)(C|P|NP)$",
                        "type": "string"
                    }
                }
            },
            "UtilityFacilityTypeReqDto": {
                "required": [
                    "ownershipCode",
                    "systemOfMedicineCode"
                ],
                "type": "object",
                "properties": {
                    "ownershipCode": {
                        "maxLength": 2,
                        "minLength": 0,
                        "pattern": "^(?i)(G|P|PP)$",
                        "type": "string"
                    },
                    "systemOfMedicineCode": {
                        "pattern": "^[A-Za-z\\s,]*$",
                        "type": "string"
                    }
                }
            },
            "UtilityFacilitySubTypeReqDto": {
                "required": [
                    "facilityTypeCode"
                ],
                "type": "object",
                "properties": {
                    "facilityTypeCode": {
                        "pattern": "^[0-9\\s]*$",
                        "type": "string"
                    }
                }
            },
            "FacilityBloodBankDetails": {
                "type": "object",
                "properties": {
                    "isFacilityRegisteredInERaktkosh": {
                        "type": "string"
                    },
                    "eRaktoshId": {
                        "type": "string"
                    },
                    "bloodBankLicenseNumber": {
                        "type": "string"
                    },
                    "bloodStorageCenters": {
                        "type": "string"
                    },
                    "storageCentersCount": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "bloodCollectedPerAnnum": {
                        "type": "string"
                    },
                    "bloodRequiredPerAnnum": {
                        "type": "string"
                    }
                }
            },
            "FacilityDetailedInformationRequest": {
                "type": "object",
                "properties": {
                    "trackingId": {
                        "type": "string"
                    },
                    "specialities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FacilitySpecialities"
                        }
                    },
                    "medicalInfrastructure": {
                        "$ref": "#/components/schemas/FacilityMedicalInfrastructure"
                    },
                    "pharmacyDetails": {
                        "$ref": "#/components/schemas/FacilityPharmacyDetails"
                    },
                    "bloodBankDetails": {
                        "$ref": "#/components/schemas/FacilityBloodBankDetails"
                    },
                    "imagingServices": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FacilityImagingServices"
                        }
                    },
                    "diagnosticServices": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "FacilityImagingServices": {
                "type": "object",
                "properties": {
                    "service": {
                        "type": "string"
                    },
                    "count": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "FacilityMedicalInfrastructure": {
                "type": "object",
                "properties": {
                    "countLevel1IcuBedWithOutVentilators": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countIPDBedsWithoutOxygen": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countIPDBedsWithOxygen": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countICUBedsWithVentilators": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countICUBedsWithoutVentilators": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countHDUBedsWithVentilators": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countHDUBedsWithoutVentilators": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalNumberOfVentilators": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countDayCareBedsWithoutOxygen": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countDayCareBedsWithOxygen": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countDentalChairs": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "totalNumberOfBeds": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "hasIcuBeds": {
                        "type": "string"
                    },
                    "countLevel1IcuBedWithVentilators": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "CountLevel1IcuBedWithOutVentilators": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countLevel2IcuBeds": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "countLevel3IcuBeds": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "isIcuContactSameAsManager": {
                        "type": "string"
                    },
                    "cmoMoIcuControlMobile": {
                        "type": "string"
                    }
                }
            },
            "FacilityPharmacyDetails": {
                "type": "object",
                "properties": {
                    "isJanAushadhiKendra": {
                        "type": "string"
                    },
                    "janAushadhiKendraId": {
                        "type": "string"
                    },
                    "drugLicenseNumber": {
                        "type": "string"
                    },
                    "pharmacyGstinNumber": {
                        "type": "string"
                    },
                    "pharmacistRegistrationNumber": {
                        "type": "string"
                    }
                }
            },
            "FacilitySpecialities": {
                "type": "object",
                "properties": {
                    "systemOfMedicineCode": {
                        "type": "string"
                    },
                    "isSpecializationAvalaible": {
                        "type": "string"
                    },
                    "specialities": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                }
            },
            "FacilityOnboardResponse": {
                "type": "object",
                "properties": {
                    "trackingId": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "message": {
                        "type": "string"
                    },
                    "errorStatus": {
                        "type": "array",
                        "items": {
                            "type": "object"
                        }
                    }
                }
            },
            "AbdmCompliantSoftware": {
                "type": "object",
                "properties": {
                    "existingSoftwares": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "anyOther": {
                        "type": "string"
                    }
                }
            },
            "FacilityBasicAttachment": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "value": {
                        "type": "string"
                    }
                }
            },
            "FacilityBasicInfoAddress": {
                "type": "object",
                "properties": {
                    "country": {
                        "type": "string"
                    },
                    "stateLGDCode": {
                        "type": "string"
                    },
                    "districtLGDCode": {
                        "type": "string"
                    },
                    "subDistrictLGDCode": {
                        "type": "string"
                    },
                    "facilityRegion": {
                        "type": "string"
                    },
                    "villageCityTownLGDCode": {
                        "type": "string"
                    },
                    "addressLine1": {
                        "type": "string"
                    },
                    "addressLine2": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    },
                    "latitude": {
                        "type": "string"
                    },
                    "longitude": {
                        "type": "string"
                    }
                }
            },
            "FacilityBasicInfoAddressProof": {
                "type": "object",
                "properties": {
                    "addressProofType": {
                        "type": "string"
                    },
                    "addressProofAttachment": {
                        "$ref": "#/components/schemas/FacilityBasicAttachment"
                    }
                }
            },
            "FacilityBasicInfoContact": {
                "type": "object",
                "properties": {
                    "facilityEmailId": {
                        "type": "string"
                    },
                    "facilityContactNumber": {
                        "type": "string"
                    },
                    "websiteLink": {
                        "type": "string"
                    },
                    "facilityLandlineNumber": {
                        "type": "string"
                    },
                    "facilityStdCode": {
                        "type": "string"
                    }
                }
            },
            "FacilityBasicInfoUploads": {
                "type": "object",
                "properties": {
                    "facilityBoardPhoto": {
                        "$ref": "#/components/schemas/FacilityBasicAttachment"
                    },
                    "facilityBuildingPhoto": {
                        "$ref": "#/components/schemas/FacilityBasicAttachment"
                    }
                }
            },
            "FacilityBasicInformation": {
                "type": "object",
                "properties": {
                    "facilityName": {
                        "type": "string"
                    },
                    "facilityAddressDetails": {
                        "$ref": "#/components/schemas/FacilityBasicInfoAddress"
                    },
                    "facilityContactInformation": {
                        "$ref": "#/components/schemas/FacilityBasicInfoContact"
                    },
                    "ownershipCode": {
                        "type": "string"
                    },
                    "ownershipSubTypeCode": {
                        "type": "string"
                    },
                    "ownershipSubTypeCode2": {
                        "type": "string"
                    },
                    "typeOfServiceCode": {
                        "type": "string"
                    },
                    "systemOfMedicineCode": {
                        "type": "string"
                    },
                    "facilityTypeCode": {
                        "type": "string"
                    },
                    "specialityTypeCode": {
                        "type": "string"
                    },
                    "facilityUploads": {
                        "$ref": "#/components/schemas/FacilityBasicInfoUploads"
                    },
                    "facilityAddressProof": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FacilityBasicInfoAddressProof"
                        }
                    },
                    "facilitySubType": {
                        "type": "string"
                    },
                    "workingInPsu": {
                        "type": "boolean"
                    },
                    "facPsuName": {
                        "type": "string"
                    },
                    "facilityOperationalStatus": {
                        "type": "string"
                    },
                    "timingsOfFacility": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FacilityTimings"
                        }
                    },
                    "abdmCompliantSoftware": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AbdmCompliantSoftware"
                        }
                    }
                }
            },
            "FacilityBasicInformationRequest": {
                "type": "object",
                "properties": {
                    "facilityInformation": {
                        "$ref": "#/components/schemas/FacilityBasicInformation"
                    },
                    "trackingId": {
                        "type": "string"
                    }
                }
            },
            "FacilityTimings": {
                "type": "object",
                "properties": {
                    "workingDays": {
                        "type": "string"
                    },
                    "openingHours": {
                        "type": "string"
                    }
                }
            },
            "FacilityAdditionalInformationRequest": {
                "required": [
                    "trackingId"
                ],
                "type": "object",
                "properties": {
                    "trackingId": {
                        "pattern": "^[0-9]+$",
                        "type": "string"
                    },
                    "linkedProgramIds": {
                        "$ref": "#/components/schemas/FacilityLinkedProgramIds"
                    },
                    "generalInformation": {
                        "$ref": "#/components/schemas/FacilityGeneralInformation"
                    }
                }
            },
            "FacilityGeneralInformation": {
                "type": "object",
                "properties": {
                    "hasDialysisCenter": {
                        "pattern": "^(YALL|YIN|N)$",
                        "type": "string"
                    },
                    "hasPharmacy": {
                        "pattern": "^(YALL|YIN|N)$",
                        "type": "string"
                    },
                    "hasBloodBank": {
                        "pattern": "^(YALL|YIN|N)$",
                        "type": "string"
                    },
                    "hasCathLab": {
                        "pattern": "^(YALL|YIN|N)$",
                        "type": "string"
                    },
                    "hasDiagnosticLab": {
                        "pattern": "^(YALL|YIN|N)$",
                        "type": "string"
                    },
                    "hasImagingCenter": {
                        "type": "string"
                    },
                    "servicesByImagingCenter": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/FacilityServices"
                        }
                    }
                }
            },
            "FacilityLinkedProgramIds": {
                "type": "object",
                "properties": {
                    "nhrrId": {
                        "type": "string"
                    },
                    "nin": {
                        "type": "string"
                    },
                    "abpmjayId": {
                        "type": "string"
                    },
                    "rohiniId": {
                        "type": "string"
                    },
                    "echsId": {
                        "type": "string"
                    },
                    "cghsId": {
                        "type": "string"
                    },
                    "ceaRegistration": {
                        "type": "string"
                    },
                    "stateInsuranceSchemeId": {
                        "type": "string"
                    }
                }
            },
            "FacilityServices": {
                "type": "object",
                "properties": {
                    "service": {
                        "type": "string"
                    },
                    "count": {
                        "minimum": 0,
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "SearchFacilitiesRequestFacility": {
                "type": "object",
                "properties": {
                    "facilityName": {
                        "type": "string"
                    },
                    "systemOfMedicine": {
                        "type": "string"
                    },
                    "facilityType": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "photo": {
                        "type": "string"
                    },
                    "ownership": {
                        "type": "string"
                    }
                }
            },
            "SearchFacilityRequest": {
                "type": "object",
                "properties": {
                    "requestId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "timestamp": {
                        "type": "string"
                    },
                    "facility": {
                        "$ref": "#/components/schemas/SearchFacilitiesRequestFacility"
                    }
                }
            },
            "Facility": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "string"
                    },
                    "transactionId": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "active": {
                        "type": "string"
                    },
                    "systemOfMedicine": {
                        "type": "string"
                    },
                    "contactNumber": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "latitude": {
                        "type": "string"
                    },
                    "langitude": {
                        "type": "string"
                    },
                    "address": {
                        "$ref": "#/components/schemas/FacilityAddress"
                    },
                    "photo": {
                        "type": "string"
                    },
                    "facilityType": {
                        "type": "string"
                    },
                    "facilityProfileStatus": {
                        "type": "string"
                    },
                    "docDesignation": {
                        "type": "string"
                    },
                    "docDepartment": {
                        "type": "string"
                    }
                }
            },
            "FacilityAddress": {
                "type": "object",
                "properties": {
                    "use": {
                        "type": "string"
                    },
                    "addressType": {
                        "type": "string"
                    },
                    "addressLine1": {
                        "type": "string"
                    },
                    "addressLine2": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    }
                }
            },
            "SearchFacilityResponse": {
                "type": "object",
                "properties": {
                    "referenceNumber": {
                        "type": "string"
                    },
                    "facilities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Facility"
                        }
                    }
                }
            },
            "AddressFilterRequest": {
                "type": "object",
                "properties": {
                    "name": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
[...]
