{
    "openapi": "3.0.1",
    "info": {
        "title": "Health Professional Registry APIs"
    },
    "servers": [
        {
            "url": "https://apihspsbx.abdm.gov.in/v4/int"
        }
    ],
    "security": [
        {
            "BearerAuth": []
        }
    ],
    "paths": {
        "/aadhaar/generateLink": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "generateAadhaarLink",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadharGenerateLinkRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadharGenerateLinkResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/aadhaar/isAuthenticated": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "isAadhaarAuthenticated",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "boolean"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/verifyOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "verifyOtp",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AadhaarGetTransactionRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AadharVerifyResponsePayload"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/demographicAuthViaMobile": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "demographicAuthViaMobile",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/MobileDemographicAuthResponseModel"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/checkHpIdAccountExist": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "accountExist",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AccountExistPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountExistResponsePayload"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/hpid/suggestion": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "getSuggesstion",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HpIdSuggestionRequst"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/generateMobileOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "generateMobileOtp",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDGenerateMobileOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HPRIDGenerateMobileOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v1/registration/aadhaar/verifyMobileOTP": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "verifyMobileOTP",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HPRIDVerifyMobileOTPRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HPRIDVerifyMobileOTPResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/v2/registration/aadhaar/createHprIdWithPreVerified": {
            "post": {
                "tags": [
                    "Registration API's Collection Via Aadhaar"
                ],
                "operationId": "createHprIdV2",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAccountWithPreVerifiedAadhaar"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateAccountJwtResponse"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/register-professional-new": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "registerProfesstional",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HealthProfessionalDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthProfessionalResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/update-professional-new": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "updateProfesstional",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/HealthProfessionalDto"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/HealthProfessionalResponseDto"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/fetch-documents-list": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "fetchDocuments",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FetchRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FetchDocumentResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/uploads/upload-document": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "uploadDocuments",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UploadDocumentDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UploadDocumentResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/doctors/fetch-professional-info": {
            "post": {
                "tags": [
                    "Enrollment"
                ],
                "operationId": "getProfessionalInfo",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FetchPracticionerRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/FetchProfessionalResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/affiliated-board": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllAffiliatedBoard",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AffiliatedBoardResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/affiliated-board/states/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAffiliatedBoardByStateId",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/AffiliatedBoard"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/affiliated-board/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAffiliatedBoardById",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/AffiliatedBoardResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/colleges/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getCollegeByState",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CollegeResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/colleges/{stateId}/{medicineId}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getCollegeByStateAndMedicineId",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stateId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "medicineId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CollegeResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/countries": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllCountries",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CountriesResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/countries/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getCountriesById",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/CountriesResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/courses": {
            "post": {
                "tags": [
                    "Utility"
                ],
                "operationId": "listCourses",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CoursesRequestDTO"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/CoursesRequestDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/district": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllDistricts",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DistrictsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/district/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getDistrictsByState",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/DistrictsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/languages": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "listGovernmentHealthProgrammes",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/PiLanguagesResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/languages/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getPiLanguagesById",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/PiLanguagesResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/medical-councils": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllMedicalCouncil",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MedicalCouncilResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/medical-councils/name": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getMedicalCouncilBySystemOfMedicineName",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "medicineName",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MedicalCouncilResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/nurse-councils": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllNurseCouncils",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/NurseCouncilsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/states": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllStates",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/StatesResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/states/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getStatus",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "pattern": "^[0-9]{2}$",
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/StatesResponseDTO"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/sub-districts": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllSubDistricts",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SubDistrictsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/sub-districts/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllSubDistricts_1",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/SubDistrictsResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/system-of-medicines": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getAllMedicalSystem",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MedicalSystemResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/universites": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "listAllUniversity",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UniversityResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apis/v1/masters/universites/{id}": {
            "get": {
                "tags": [
                    "Utility"
                ],
                "operationId": "getUniversityByCollege",
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/UniversityResponseDTO"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "AadhaarGetTransactionRequest": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "AadharVerifyResponsePayload": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    },
                    "photo": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    },
                    "birthdate": {
                        "type": "string"
                    },
                    "careOf": {
                        "type": "string"
                    },
                    "house": {
                        "type": "string"
                    },
                    "street": {
                        "type": "string"
                    },
                    "landmark": {
                        "type": "string"
                    },
                    "locality": {
                        "type": "string"
                    },
                    "villageTownCity": {
                        "type": "string"
                    },
                    "subDist": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "postOffice": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    }
                }
            },
            "HPRIDGenerateMobileOTPResponseDTO": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "MobileDemographicAuthResponseModel": {
                "type": "object",
                "properties": {
                    "verified": {
                        "type": "boolean"
                    }
                }
            },
            "CreateAccountWithPreVerifiedAadhaar": {
                "required": [
                    "email",
                    "txnId"
                ],
                "type": "object",
                "properties": {
                    "idType": {
                        "type": "string",
                        "example": "hpr_id"
                    },
                    "domainName": {
                        "type": "string",
                        "example": "@hpr.abdm"
                    },
                    "email": {
                        "type": "string",
                        "description": "Email Address of the user.",
                        "example": "<ABHA_ADDRESS>.com"
                    },
                    "firstName": {
                        "type": "string",
                        "description": "First Name of the user).",
                        "example": "Ayushman"
                    },
                    "middleName": {
                        "type": "string",
                        "description": "Middle name of the user ",
                        "example": "Bharat"
                    },
                    "lastName": {
                        "type": "string",
                        "description": "Last name of the user ",
                        "example": "Mission"
                    },
                    "password": {
                        "type": "string",
                        "description": "Passwords for authentication",
                        "example": "Ayushman@143"
                    },
                    "profilePhoto": {
                        "type": "string",
                        "description": "Profile photo of the user (Uploaded by the user).",
                        "example": "<BASE64 ENCODED STRING>"
                    },
                    "txnId": {
                        "type": "string",
                        "description": "Transaction ID",
                        "format": "uuid",
                        "example": "c3b0c27d-e19d-4244-b8bb-3fa19285054a"
                    },
                    "hprId": {
                        "type": "string",
                        "description": "Healthcare Professional ID Alias.",
                        "example": "<EMAIL>"
                    },
                    "sourceType": {
                        "type": "string",
                        "enum": [
                            "DRIVING_LICENSE",
                            "AADHAAR"
                        ]
                    },
                    "hpCategoryCode": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1
                    },
                    "hpSubCategoryCode": {
                        "type": "integer",
                        "format": "int32",
                        "example": 1
                    },
                    "clientId": {
                        "type": "string",
                        "example": "V4"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "council": {
                        "type": "boolean"
                    },
                    "role": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "CreateAccountJwtResponse": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "subDistrictCode": {
                        "type": "string"
                    },
                    "subDistrictName": {
                        "type": "string"
                    },
                    "stateName": {
                        "type": "string"
                    },
                    "districtName": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "kycPhoto": {
                        "type": "string"
                    },
                    "mobile": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "subCategoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "role": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "authMethods": {
                        "uniqueItems": true,
                        "type": "array",
                        "items": {
                            "type": "string",
                            "enum": [
                                "AADHAAR_OTP",
                                "MOBILE_OTP",
                                "PASSWORD",
                                "DEMOGRAPHICS",
                                "AADHAAR_BIO",
                                "EMAIL_OTP",
                                "MOBILE_OTP_RESET_PASSWROD",
                                "FACE_AUTH"
                            ]
                        }
                    },
                    "new": {
                        "type": "boolean"
                    }
                }
            },
            "HPRIDVerifyMobileOTPRequestDTO": {
                "type": "object",
                "properties": {
                    "otp": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "HPRIDVerifyMobileOTPResponseDTO": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "HpIdSuggestionRequst": {
                "required": [
                    "txnId"
                ],
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string",
                        "description": "Based on UUID",
                        "example": "a825f76b-0696-40f3-864c-5a3a5b389a83"
                    }
                }
            },
            "HPRIDGenerateMobileOTPRequestDTO": {
                "type": "object",
                "properties": {
                    "mobile": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "AccountExistPayload": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "preverifiedCheck": {
                        "type": "boolean"
                    }
                }
            },
            "AccountExistResponsePayload": {
                "type": "object",
                "properties": {
                    "token": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "categoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "categoryName": {
                        "type": "string"
                    },
                    "subCategoryId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "categorySubName": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "stateCode": {
                        "type": "string"
                    },
                    "districtCode": {
                        "type": "string"
                    },
                    "stateName": {
                        "type": "string"
                    },
                    "districtName": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    },
                    "profilePhoto": {
                        "type": "string"
                    },
                    "mobile": {
                        "type": "string"
                    },
                    "hprId": {
                        "type": "string"
                    },
                    "new": {
                        "type": "boolean"
                    }
                }
            },
            "RetriveHprIdMobilePayLoad": {
                "required": [
                    "firstName",
                    "gender",
                    "name",
                    "otp",
                    "txnId",
                    "yearOfBirth"
                ],
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    },
                    "name": {
                        "type": "string"
                    },
                    "gender": {
                        "pattern": "^(M|F|O|U)$",
                        "type": "string"
                    },
                    "yearOfBirth": {
                        "pattern": "^(\\d{4})$",
                        "type": "string"
                    },
                    "monthOfBirth": {
                        "pattern": "^(0?[1-9]|1[012])$",
                        "type": "string"
                    },
                    "dayOfBirth": {
                        "pattern": "^(0?[1-9]|[12][0-9]|3[01])$",
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    }
                }
            },
            "RetrieveHprIdPayloadResponse": {
                "type": "object",
                "properties": {
                    "hprId": {
                        "type": "string"
                    },
                    "hprIdNumber": {
                        "type": "string"
                    },
                    "token": {
                        "type": "string"
                    }
                }
            },
            "SendOtpRequest": {
                "type": "object",
                "properties": {
                    "mobileNumber": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "hpid": {
                        "type": "string"
                    }
                }
            },
            "SendOtpResponse": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "mobileNumber": {
                        "type": "string"
                    }
                }
            },
            "HidOtpWebRequestPaylaod": {
                "required": [
                    "newPassword",
                    "otp",
                    "txnId"
                ],
                "type": "object",
                "properties": {
                    "newPassword": {
                        "type": "string",
                        "description": "Encrypted new Password."
                    },
                    "otp": {
                        "type": "string",
                        "description": "Encrypted OTP."
                    },
                    "txnId": {
                        "type": "string",
                        "format": "uuid"
                    }
                }
            },
            "PasswordChangeDTO": {
                "type": "object",
                "properties": {
                    "message": {
                        "type": "string"
                    }
                }
            },
            "ValidateAaddhaarDemographicMobileResponseDTO": {
                "type": "object",
                "properties": {
                    "verified": {
                        "type": "boolean"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "HidChangePasswordRequestPayload": {
                "required": [
                    "newPassword"
                ],
                "type": "object",
                "properties": {
                    "oldPassword": {
                        "type": "string"
                    },
                    "newPassword": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    },
                    "hprID": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    }
                }
            },
            "CategoryRequest": {
                "required": [
                    "hprId"
                ],
                "type": "object",
                "properties": {
                    "hprId": {
                        "type": "string"
                    },
                    "categories": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        }
                    }
                }
            },
            "TxnResponse": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string",
                        "description": "Based on UUID",
                        "format": "uuid",
                        "example": "a825f76b-0696-40f3-864c-5a3a5b389a83"
                    },
                    "mobileNumber": {
                        "type": "string",
                        "example": "******2125"
                    },
                    "msg": {
                        "type": "string"
                    },
                    "verified": {
                        "type": "boolean"
                    }
                }
            },
            "DocumentDTO": {
                "type": "object",
                "properties": {
                    "document_id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "document_type": {
                        "type": "string"
                    },
                    "fileType": {
                        "type": "string"
                    },
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "string",
                            "format": "byte"
                        }
                    }
                }
            },
            "UploadDocumentDTO": {
                "type": "object",
                "properties": {
                    "hpr_token": {
                        "type": "string"
                    },
                    "document": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/DocumentDTO"
                        }
                    }
                }
            },
            "UploadDocumentMessage": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    }
                }
            },
            "UploadDocumentResponseDTO": {
                "type": "object",
                "properties": {
                    "profilePhoto": {
                        "$ref": "#/components/schemas/UploadDocumentMessage"
                    },
                    "degreeCertificate": {
                        "$ref": "#/components/schemas/UploadDocumentMessage"
                    },
                    "registrationCertificate": {
                        "$ref": "#/components/schemas/UploadDocumentMessage"
                    },
                    "proofOfWorkCertificate": {
                        "$ref": "#/components/schemas/UploadDocumentMessage"
                    }
                }
            },
            "CoursesRequestDTO": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "name": {
                        "type": "string"
                    },
                    "systemOfMedicineId": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "visibleStatus": {
                        "type": "boolean"
                    },
                    "status": {
                        "type": "boolean"
                    },
                    "sortOrder": {
                        "type": "boolean"
                    },
                    "courseCategory": {
                        "type": "string",
                        "enum": [
                            "basic",
                            "additional"
                        ]
                    },
                    "systemOfMedicine": {
                        "type": "string"
                    },
                    "hprType": {
                        "type": "string",
                        "enum": [
                            "doctor",
                            "nurse",
                            "facility_manager",
                            "asha",
                            "paharmacist",
                            "anganwadi",
                            "administrator",
                            "paramedical",
                            "pharmacist"
                        ]
                    },
                    "qualificationCount": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "international": {
                        "type": "boolean"
                    },
                    "createdBy": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "acronym": {
                        "type": "string"
                    },
                    "priority": {
                        "type": "string"
                    }
                }
            },
            "VerifyOtpRequest": {
                "type": "object",
                "properties": {
                    "txnId": {
                        "type": "string"
                    },
                    "otp": {
                        "type": "string"
                    }
                }
            },
            "AadhaarGenerateOTPResponseDTO": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "txnId": {
                        "type": "string"
                    }
                }
            },
            "EmailOTPVerificationRequestDTO": {
                "type": "object",
                "properties": {
                    "hpr_token": {
                        "type": "string"
                    },
                    "hpr_id": {
                        "type": "string"
                    },
                    "officialEmail": {
                        "type": "string"
                    },
                    "emailOtp": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "EmailOTPVerificationResponseDTO": {
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string"
                    },
                    "msg": {
                        "type": "string"
                    }
                }
            },
            "CertificateDTO": {
                "type": "object",
                "properties": {
                    "fileType": {
                        "type": "string"
                    },
                    "data": {
                        "type": "string"
                    }
                }
            },
            "CommunicationAddressDTO": {
                "type": "object",
                "properties": {
                    "isCommunicationAddressAsPerKYC": {
                        "type": "string"
                    },
                    "address": {
                        "type": "string"
                    },
                    "name": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "subDistrict": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "pincode": {
                        "type": "string"
                    }
                }
            },
            "ContactInformationDTO": {
                "type": "object",
                "properties": {
                    "publicMobileNumber": {
                        "type": "string"
                    },
                    "publicMobileNumberCode": {
                        "type": "string"
                    },
                    "publicMobileNumberStatus": {
                        "type": "string"
                    },
                    "landLineNumber": {
                        "type": "string"
                    },
                    "landLineNumberCode": {
                        "type": "string"
                    },
                    "publicEmail": {
                        "type": "string"
                    },
                    "publicEmailStatus": {
                        "type": "string"
                    }
                }
            },
            "CurrentWorkDetailsDTO": {
                "type": "object",
                "properties": {
                    "facilityDeclarationData": {
                        "$ref": "#/components/schemas/FacilityDeclarationDataDTO"
                    },
                    "currentlyWorking": {
                        "type": "string"
                    },
                    "purposeOfWork": {
                        "type": "string"
                    },
                    "chooseWorkStatus": {
                        "type": "string"
                    },
                    "reasonForNotWorking": {
                        "type": "string"
                    },
                    "certificateAttachment": {
                        "type": "string"
                    }
                }
            },
            "FacilityDeclarationDataDTO": {
                "type": "object",
                "properties": {
                    "ministry": {
                        "$ref": "#/components/schemas/MinistryResponseDTO"
                    },
                    "facilityId": {
                        "type": "string"
                    },
                    "facilityName": {
                        "type": "string"
                    },
                    "facilityAddress": {
                        "type": "string"
                    },
                    "facilityPincode": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "facilityType": {
                        "type": "string"
                    },
                    "facilityDepartment": {
                        "type": "string"
                    },
                    "facilityDesignation": {
                        "type": "string"
                    },
                    "areYouWorkingForPsu": {
                        "type": "string"
                    },
                    "psuName": {
                        "type": "string"
                    }
                }
            },
            "HealthProfessionalDto": {
                "type": "object",
                "properties": {
                    "practitioner": {
                        "$ref": "#/components/schemas/PractitionerDTO"
                    },
                    "hprToken": {
                        "type": "string"
                    }
                }
            },
            "MinistryResponseDTO": {
                "type": "object",
                "properties": {
                    "ministry": {
                        "type": "string"
                    }
                }
            },
            "PersonalInformationDTO": {
                "type": "object",
                "properties": {
                    "fname": {
                        "type": "string"
                    },
                    "mname": {
                        "type": "string"
                    },
                    "salutation": {
                        "type": "string"
                    },
                    "firstName": {
                        "type": "string"
                    },
                    "middleName": {
                        "type": "string"
                    },
                    "lastName": {
                        "type": "string"
                    },
                    "fatherName": {
                        "type": "string"
                    },
                    "motherName": {
                        "type": "string"
                    },
                    "spouseName": {
                        "type": "string"
                    },
                    "nationality": {
                        "type": "string"
                    },
                    "placeOfBirthState": {
                        "type": "string"
                    },
                    "district": {
                        "type": "string"
                    },
                    "subDistrict": {
                        "type": "string"
                    },
                    "city": {
                        "type": "string"
                    },
                    "languagesSpoken": {
                        "type": "string"
                    },
                    "dateOfBirth": {
                        "type": "string",
                        "format": "date-time"
                    },
                    "category": {
                        "type": "string"
                    },
                    "gender": {
                        "type": "string"
                    }
                }
            },
            "PractitionerDTO": {
                "type": "object",
                "properties": {
                    "personalInformation": {
                        "$ref": "#/components/schemas/PersonalInformationDTO"
                    },
                    "communicationAddress": {
                        "$ref": "#/components/schemas/CommunicationAddressDTO"
                    },
                    "contactInformation": {
                        "$ref": "#/components/schemas/ContactInformationDTO"
                    },
                    "registrationAcademic": {
                        "$ref": "#/components/schemas/RegistrationAcademicDTO"
                    },
                    "specialities": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/SpecialitiesDTO"
                        }
                    },
                    "currentWorkDetails": {
                        "$ref": "#/components/schemas/CurrentWorkDetailsDTO"
                    },
                    "apiClientId": {
                        "type": "string"
                    },
                    "profilePhoto": {
                        "type": "string"
                    },
                    "healthProfessionalType": {
                        "type": "string"
                    },
                    "officialMobileCode": {
                        "type": "string"
                    },
                    "officialMobile": {
                        "type": "string"
                    },
                    "officialMobileStatus": {
                        "type": "string"
                    },
                    "officialEmail": {
                        "type": "string"
                    },
                    "officialEmailStatus": {
                        "type": "string"
                    },
                    "visibleProfilePicture": {
                        "type": "string"
                    },
                    "profileVisibleToPublic": {
                        "type": "string"
                    },
                    "addressAsPerKYC": {
                        "type": "string"
                    }
                }
            },
            "QualificationsDTO": {
                "type": "object",
                "properties": {
                    "nameOfDegreeOrDiplomaObtained": {
                        "type": "string"
                    },
                    "country": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "college": {
                        "type": "string"
                    },
                    "university": {
                        "type": "string"
                    },
                    "monthOfAwardingDegreeDiploma": {
                        "type": "string"
                    },
                    "yearOfAwardingDegreeDiploma": {
                        "type": "string"
                    },
                    "degreeCertificate": {
                        "$ref": "#/components/schemas/CertificateDTO"
                    },
                    "isNameDifferentInCertificate": {
                        "type": "string"
                    },
                    "proofOfNameChangeCertificate": {
                        "type": "string"
                    }
                }
            },
            "RegistrationAcademicDTO": {
                "type": "object",
                "properties": {
                    "category": {
                        "type": "string"
                    },
                    "registrationData": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/RegistrationDataDTO"
                        }
                    }
                }
            },
            "RegistrationDataDTO": {
                "type": "object",
                "properties": {
                    "qualifications": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/QualificationsDTO"
                        }
                    },
                    "registeredWithCouncil": {
                        "type": "string"
                    },
                    "registrationNumber": {
                        "type": "string"
                    },
[...]
