# NHCX other, from the NHCX package's Bruno folder apis/13-other.
#
# Written by the package's system/build-ekadocs.mjs (make ekadocs); change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: other
    label: Other
    position: 13
  title: NHCX other
  summary: "Claims are often not fully approved first time, for mundane reasons: missing documents, policy interpretation differences, package or pricing discrepancies."
  description: |-
    The Other calls on the National Health Claims Exchange (NHCX): 14 operations, and 4 callbacks you host.

    Claims are often not fully approved first time, for mundane reasons: missing documents, policy interpretation differences, package or pricing discrepancies.

    Guides that use these calls: [Cancel, reprocess and shortfall](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall), [Predetermination, status and search](/docs/nhcx/v1/reference/fhir/predetermination-status-and-search), [Notifications and patient apps](/docs/nhcx/v1/reference/notifications-and-patient-apps), [Accepted with 202, and no callback arrives](/docs/nhcx/v1/troubleshooting/accepted-then-no-callback).

    Production address for the NHCX portal: not published.
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: other
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/13-other
    role: upstream
    hash: sha256:d65315e2042e17c77dd9400fc36380a58195496d693f53bb5102e805d7231de2
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
  - file: nhcx-package/nhcx-error.yaml
    role: upstream
    hash: sha256:d24ac927ed4dd722e60d7bd1d6fed15de370cc29f750d68999ee56fac93c941b
    note: The error codes.
servers:
  - url: https://apisbx.abdm.gov.in/hcx
    description: Sandbox, NHCX exchange.
  - url: https://apisprod.nha.gov.in/hcx
    description: Production.
tags:
  - name: Other
    description: "Claims are often not fully approved first time, for mundane reasons: missing documents, policy interpretation differences, package or pricing discrepancies."
  - name: Adapter
    description: Internal twins of the exchange calls, for the NHCX adapter deployment.
security:
  - bearerAuth: []
paths:
  /v1/task/submit:
    post:
      operationId: other_v1_task_submit
      x-abdm-atom: nhcx.endpoint.task-submit
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Task submit (reprocess or cancel)
      description: |-
        Provider sends a FHIR Task asking the payer to reprocess a rejected or short-paid claim or to cancel a preauth; Task.code and reasonCode set the intent.

        ### Business purpose

        Claims are often not fully approved first time, for mundane reasons: missing documents, policy interpretation differences, package or pricing discrepancies. Without a formal appeal path, disputes leave the system and become phone calls and email. The Task flow gives providers a structured, auditable way to contest a decision with new evidence, and to withdraw a pre-authorisation that will never be used. Payers get a controlled re-adjudication workflow with SLA adherence, aligned with NHA and IRDAI expectations of transparent dispute resolution.

        ### When to use

        After adjudication, when a claim was rejected or partially paid and you have valid justification and additional evidence: Task.code reprocess with reasonCode claimrejected (or partialpayment for a short payment; the handbook sample uses rejectiondisputed), workflow 18 REPROCESS_REQUEST_SUBMITTED, with 36 listed for the arbitration or erroneous case. For cancelling a submitted or approved preauth: Task.code cancel with a cancellation reasonCode (treatmentplanchanged, patientrequest, financialconstraints, alternativetreatment, duplicateclaim, administrativeerror, other), workflow 122 PREAUTH_CANCEL_INITIATED (PC01 in the scenario sheet). x-hcx-correlation_id carries the correlation id of the original claim or preauth. Reprocess outcomes are final within the workflow.

        ### Preconditions

        - Provider is an active NHCX participant with a valid NPI facility code and Bearer token; payer certificate available for JWE encryption.
        - The original claim or preauth exists; Task.basedOn references it with the sender's reference id, and Task.input carries claimNumber and the intimation number.
        - Patient resource carries PMJAY Member ID and ABHA number; supporting evidence attached (the FAQ says a document as valueAttachment is mandatory for reprocess).
        - Task.status requested, Task.intent order, Task.code from http://terminology.hl7.org/CodeSystem/financialtaskcode, reasonCode from ndhm-reason-code; Task.description explains when reasonCode is other.
        - Protected header with the original correlation id, fresh api_call_id, IST timestamp, workflow id and status request.initiated.

        ### Postconditions

        The gateway returns HTTP 202 with a StatusSuccessResponse whose result carries entity_type task and a protocol_status; 400, 404 and 500 use the same envelope. The payer validates completeness and eligibility (workflow 251 acknowledges receipt), re-adjudicates and answers on /v1/task/on_submit with a Task bundle whose Task.output references a ClaimResponse: 252 approved, 253 rejected (outcome complete with adjudication reason cancelled), 254 queried (answer with workflow 19). Approval may be followed by payment workflows 30, 31 and 33. For cancellation, only preauths in submitted or approved state can be cancelled; PAYR-1252, PAYR-1253, PAYR-1257 and PAYR-1258 explain refusals.

        ### Common mistakes

        - Omitting Task.basedOn, so the payer has nothing to act on; or sending the sender's reference only in input and not in basedOn.
        - Minting a fresh correlation id instead of carrying the original claim or preauth's.
        - Submitting a reprocess without new evidence; the handbook restricts appeals to cases with valid justification and supporting documents.
        - Cancelling a preauth that is already cancelled, paid or not in an active state (PAYR-1252, PAYR-1253, PAYR-1257, PAYR-1258).
        - Spelling the intimation input anything other than intimationNumber; a reprocess under another spelling is refused with PAYR-1008.
        - Offering a second reprocess by default; the response is final unless scheme rules allow otherwise.
        - Using unverified codes such as a numeric PC01 reason or workflow 36 for a plain reprocess without checking the workflow reference.

        ### Best practices

        - Link the Task to the original entity twice: basedOn with the sender's reference id and Task.input with claimNumber and intimation number.
        - Use reasonCode other only with a clear Task.description.
        - Persist the correlation id and workflow id so the on_submit Task bundle can be matched and the ClaimResponse extracted from Task.output.
        - Design the case state machine so 252 or 253 terminates the appeal branch.
        - Fresh api_call_id per call, IST timestamps, request.initiated on the outbound header.
        - Implement v1/error; a Task that never reaches the payer is otherwise silent.

        ### Related scenario

        A hospital's claim for a cardiac package, submitted on /v1/claim/submit, comes back on /v1/claim/on_submit rejected for a missing implant invoice. The billing team obtains the invoice and the integration builds a Task: code reprocess, reasonCode claimrejected, basedOn the original claim, input claimNumber and intimation number, the invoice attached, workflow 18, and the claim's correlation id. It posts /v1/task/submit and receives 202. The payer acknowledges (251), re-adjudicates and returns a Task bundle on /v1/task/on_submit whose Task.output wraps a ClaimResponse with outcome complete and workflow 252; a payment notice follows on /v1/paymentnotice/request.

        ### Specification

        Chapter [Cancel, reprocess and shortfall](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxWorkflowId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxMDAwMDA0NDQ2QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: The gateway returns HTTP 202 with a StatusSuccessResponse whose result carries entity_type task and a protocol_status; 400, 404 and 500 use the same envelope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 25/08/2026 10:00:00:154
                api_call_id: f2a3b4c5-d6e7-8901-5678-012345678901
                correlation_id: 66778899-aabb-ccdd-eeff-001122334455
                result:
                  sender_code: 1000004446@hcx
                  recipient_code: 1518@hcx
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/task/on_submit:
    post:
      operationId: other_v1_task_on_submit
      x-abdm-atom: nhcx.endpoint.task-on-submit
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Task callback (reprocess or cancel outcome)
      description: |-
        Payer returns a Task bundle with Task.status completed whose Task.output references a ClaimResponse carrying the reprocess or cancellation outcome.

        ### Business purpose

        This callback closes the appeal or cancellation the provider opened on /v1/task/submit. It carries the payer's final decision on a reprocess (approved, partially approved, queried or rejected) or confirms a pre-authorisation cancellation, in the same ClaimResponse shape used for ordinary adjudication so hospitals can reuse their parsers. Because the reprocess response is final within the workflow, it delivers closure, a clean audit trail and reduced ambiguity for both sides, which is the point of moving disputes inside NHCX.

        ### When to use

        The payer calls it after acknowledging a Task (workflow 251 REPROCESS_REQUEST_RECEIVED), validating it and re-adjudicating. The outer wrapper is a collection Bundle with a Task whose status is completed and whose Task.output.type references a ClaimResponse for the entity the sender named; workflow 252 approved (outcome complete), 253 rejected (outcome complete with adjudication reason cancelled, display Rejected), 254 queried (outcome partial, often zero totals; provider answers with workflow 19). Cancellation accomplished is PC02. Carry the same x-hcx-correlation_id and a responder status (response.complete, or request.initiated for a query per the workflow sheet).

        ### Preconditions

        - The inbound Task was decrypted, its correlation id and workflow captured, and the 202 acceptance body returned within 30 seconds.
        - Payer registered with a valid Bearer token and the provider's certificate for encryption.
        - A Task bundle: Task.status completed, Task.output[0].valueReference pointing to a ClaimResponse entry that is structurally identical to a normal adjudication response (total, item adjudication, processNote, adjudication reason).
        - Protected header echoing the request's correlation id with a fresh api_call_id, IST timestamp, the outcome workflow id and a responder status.

        ### Postconditions

        The gateway returns HTTP 202 with the StatusSuccessResponse envelope (400, 404, 500 in the same shape) and forwards the bundle to the provider, which must acknowledge within 30 seconds. The provider resolves Task.output[0].valueReference.reference within the bundle and passes the ClaimResponse through its standard adjudication parser. The reprocess decision is final within the workflow context; no further standard reprocessing cycles are expected unless scheme rules allow. After approval, payment proceeds through workflows 30 PAYMENT_INITIATED, 31 PAYMENT_PROCESSED and 33 PAYMENT_SETTLED. A cancelled preauth requires a new preauth with a new case number if treatment resumes (PAYR-1255).

        ### Common mistakes

        - Provider side: looking for the ClaimResponse as a direct Bundle.entry instead of following Task.output[].valueReference.
        - Reading outcome complete as approval; a rejected reprocess is outcome complete with adjudication reason cancelled.
        - Treating a queried response with outcome partial and zero totals as a zero-value approval.
        - Payer side: minting a new correlation id on the callback (NHCX-1010) or sending a standalone ClaimResponse bundle instead of a Task wrapper.
        - Missing the 30-second 202 on the inbound Task, triggering five redeliveries and deletion of the request.
        - Splitting the PMJAY pipe-delimited adjudication reason (USER~datetime~type~comment~trust) as if it were structured.

        ### Best practices

        - Payer: acknowledge first, re-adjudicate asynchronously, then post the Task bundle with the outcome workflow id and ClaimResponse nested in Task.output.
        - Provider: share the ClaimResponse parser between /v1/claim/on_submit and this callback; only the extraction path differs.
        - Branch on adjudication reason as well as outcome; check processNote for reductions or query text.
        - Terminate the appeal branch of the case state machine on 252 or 253; on 254 respond with workflow 19.
        - Be idempotent on correlation id; expect redeliveries.
        - Fresh api_call_id, IST timestamp, responder status on the callback header.

        ### Related scenario

        A scheme payer's TPA receives a reprocess Task on a rejected claim with the missing implant invoice attached. Its endpoint returns 202 and the case reopens for re-adjudication with the original claim, the new document and the justification. The reviewer approves at the package rate, and the TPA posts /v1/task/on_submit: a Task bundle, status completed, Task.output referencing a ClaimResponse with outcome complete, workflow 252, under the claim's correlation id. The hospital acknowledges within 30 seconds, extracts the ClaimResponse from Task.output, marks the appeal closed and awaits the payment notice on /v1/paymentnotice/request.

        ### Specification

        Chapter [Cancel, reprocess and shortfall](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - name: x-hcx-workflow_id
          in: header
          required: false
          description: Which step, or which case. See the two readings below. Optional on the envelope.
          schema:
            type: string
          example: "252"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxNTE4QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: The gateway returns HTTP 202 with the StatusSuccessResponse envelope (400, 404, 500 in the same shape) and forwards the bundle to the provider, which must acknowledge within 30 seconds.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 26/08/2026 16:30:00:611
                api_call_id: a3b4c5d6-e7f8-9012-6789-123456789012
                correlation_id: 66778899-aabb-ccdd-eeff-001122334455
                result:
                  sender_code: 1518@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /internal/v1/task/submit:
    post:
      operationId: other_internal_v1_task_submit
      x-abdm-use-case: Adapter
      tags:
        - Adapter
      summary: Task submit (internal variant) (adapter)
      description: |-
        Internal twin of /v1/task/submit on the taskhcxservice, operationId hcxTaskPostInternal, with the same JWEPayload Task body and 202 envelope.

        ### Business purpose

        The taskhcxservice is one of six NHCX services that publish each operation at both /v1/... and /internal/v1/... with identical descriptions and request bodies, differing only in the operationId suffix. This is the internal form of the provider's reprocess or cancel request: the structured appeal path for rejected or short-paid claims and the withdrawal path for unused pre-authorisations. The specifications document no behavioural difference from the public endpoint.

        ### When to use

        Same circumstances as /v1/task/submit: a reprocess (Task.code reprocess, reasonCode claimrejected or partialpayment, workflow 18) after an adverse adjudication with new evidence, or a preauth cancellation (Task.code cancel with a cancellation reasonCode, workflow 122 or PC01). x-hcx-correlation_id carries the original claim or preauth correlation id. The specs do not say when the internal path applies; default to the public path unless onboarding guidance names this one.

        ### Preconditions

        - As for the public endpoint: active provider with NPI facility code, Bearer token, payer certificate for JWE encryption.
        - Body is a JWEPayload whose plaintext is the Task resource with basedOn referencing the original entity by the sender's reference id, Task.input with claimNumber and intimation number, and supporting evidence.
        - Protected header with the original correlation id, fresh api_call_id, IST timestamp, workflow id and status request.initiated.
        - Confirmation that the internal route is intended for your integration.

        ### Postconditions

        Returns 202 Accepted with StatusSuccessResponse (entity_type task), or 400, 404 or 500 in the same envelope. The payer answers later on the task on_submit callback with a Task bundle wrapping a ClaimResponse: workflows 251 received, 252 approved, 253 rejected, 254 queried, PC02 cancellation accomplished. The decision is final within the workflow context. No additional behaviour is documented for the internal variant.

        ### Common mistakes

        - Expecting the internal path to skip validation of basedOn, correlation id or status; it is documented as identical.
        - Omitting Task.basedOn or minting a fresh correlation id.
        - Cancelling a preauth not in submitted or approved state (PAYR-1252, PAYR-1253, PAYR-1257, PAYR-1258).
        - Hard-coding the internal prefix without confirming the route; a 404 may be a host or prefix mismatch.

        ### Best practices

        - Reuse the public endpoint's Task builder; make only the path prefix configurable.
        - Link to the original entity in both basedOn and Task.input; use Task.description with reasonCode other.
        - Fresh api_call_id per call, IST timestamps, request.initiated on the outbound header.
        - Persist correlation id and workflow id for matching the callback; implement v1/error.

        ### Related scenario

        A hospital integrator generating a client from the taskhcxservice Swagger sees hcxTaskPost and hcxTaskPostInternal with the same description. The team builds one reprocess-and-cancel module that posts to /v1/task/submit by default and can be switched to the internal path if NHCX onboarding requires it. When a surgeon changes the treatment plan after a preauth was approved, the module sends Task.code cancel with reasonCode treatmentplanchanged under the preauth's correlation id, receives 202, and later gets the cancellation confirmation on the task on_submit callback before a new preauth is raised.

        ### Specification

        Chapter [Cancel, reprocess and shortfall](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - name: x-hcx-workflow_id
          in: header
          required: false
          description: Which step, or which case. See the two readings below. Optional on the envelope.
          schema:
            type: string
          example: "122"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxMDAwMDA0NDQ2QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "200":
          description: Returns 202 Accepted with StatusSuccessResponse (entity_type task), or 400, 404 or 500 in the same envelope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 25/08/2026 10:20:00:093
                api_call_id: b4c5d6e7-f8a9-0123-7890-234567890123
                correlation_id: 778899aa-bbcc-ddee-ff00-112233445566
                result:
                  sender_code: 1000004446@hcx
                  recipient_code: 1518@hcx
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /internal/v1/task/on_submit:
    post:
      operationId: other_internal_v1_task_on_submit
      x-abdm-use-case: Adapter
      tags:
        - Adapter
      summary: Task callback (internal variant) (adapter)
      description: |-
        Internal twin of /v1/task/on_submit (hcxOnTaskPostInternal): the payer Task bundle wrapping the ClaimResponse outcome of a reprocess or cancel.

        ### Business purpose

        This is the internal-path form of the callback that closes a reprocess or cancellation. The OpenAPI lists it with the same description and bare object body as the public callback and distinguishes it only by the operationId suffix. Its role is unchanged: deliver the payer's final, auditable decision on an appeal, or confirmation of a preauth cancellation, in a Task bundle whose Task.output references a ClaimResponse that hospitals can parse with their normal adjudication logic.

        ### When to use

        Same as the public callback: after acknowledging and re-adjudicating a Task, the payer posts a Task bundle with status completed and Task.output referencing the ClaimResponse, under the original correlation id, with workflow 252, 253 or 254 (or PC02 for cancellation) and a responder status. The specifications do not say when the internal path is used in preference to the public one.

        ### Preconditions

        - Inbound Task decrypted, correlation id captured, 202 acceptance returned within 30 seconds.
        - Registered payer with a valid Bearer token and the provider's certificate.
        - Task bundle with Task.status completed and Task.output[0].valueReference resolving to a ClaimResponse entry in the bundle.
        - Protected header echoing the request's correlation id with a fresh api_call_id, IST timestamp, outcome workflow id and responder status.
        - Confirmation that the internal route is the intended one.

        ### Postconditions

        Returns 202 Accepted with the StatusSuccessResponse envelope, or 400, 404 or 500 in the same shape; the bundle is forwarded to the provider, which acknowledges within 30 seconds, extracts the ClaimResponse from Task.output and closes the appeal branch. The decision is final within the workflow context; approval leads to payment workflows 30, 31 and 33. No additional behaviour is documented for the internal variant.

        ### Common mistakes

        - Expecting a different envelope or relaxed validation; none is documented.
        - Sending a standalone ClaimResponse bundle rather than a Task wrapper, or minting a new correlation id (NHCX-1010).
        - Provider side: reading the ClaimResponse from Bundle.entry directly, or treating outcome complete as approval without checking the adjudication reason.
        - Using an unconfigurable path that cannot switch between public and internal forms.

        ### Best practices

        - Share the public callback's bundle builder; only the path differs.
        - Acknowledge the inbound Task first, re-adjudicate asynchronously, then post.
        - Provider: reuse the claim ClaimResponse parser, reached via Task.output[0].valueReference.reference.
        - Idempotent handling on correlation id; fresh api_call_id and IST timestamp on the callback.

        ### Related scenario

        A payer platform reviewing the taskhcxservice specification sees hcxOnTaskPost and hcxOnTaskPostInternal side by side. It implements a single outcome publisher that wraps the ClaimResponse in a Task bundle and posts to the public /v1/task/on_submit path unless configured for the internal one. When a hospital's cancellation Task for an unused preauth is processed, the publisher posts the Task bundle with PC02 semantics under the preauth's correlation id; the hospital acknowledges within 30 seconds and raises a fresh preauth with a new case number for the revised treatment.

        ### Specification

        Chapter [Cancel, reprocess and shortfall](/docs/nhcx/v1/reference/fhir/cancel-reprocess-and-shortfall) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - name: x-hcx-workflow_id
          in: header
          required: false
          description: Which step, or which case. See the two readings below. Optional on the envelope.
          schema:
            type: string
          example: PC02
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxNTE4QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "200":
          description: Returns 202 Accepted with the StatusSuccessResponse envelope, or 400, 404 or 500 in the same shape; the bundle is forwarded to the provider, which acknowledges within 30 seconds, extracts the ClaimResponse from Task.output and closes the appeal branch.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 25/08/2026 11:05:00:448
                api_call_id: c5d6e7f8-a9b0-1234-8901-345678901234
                correlation_id: 778899aa-bbcc-ddee-ff00-112233445566
                result:
                  sender_code: 1518@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/notification/subscribe:
    post:
      operationId: other_v1_notification_subscribe
      x-abdm-atom: nhcx.endpoint.notification-subscribe
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Notification subscribe
      description: |-
        A Beneficiary Service Provider (PHR app) subscribes an ABHA id to notification topics; NHCX persists it synchronously, Last-Linked-Wins per ABHA id.

        ### Business purpose

        Every other flow is a two-party exchange between hospital and payer. Notifications let a third party, the beneficiary through a PHR app, watch a claim move without being a sender or recipient on the underlying preauth or claim. The caller is a Beneficiary Service Provider (BSP), not a hospital or insurer; the persona label here is the nearest available. The subscription is what routes human-readable messages such as a preauth approval with amount and validity to the patient's app, giving beneficiaries transparency and reducing calls to the hospital desk.

        ### When to use

        Call it on every beneficiary login (Subscribe-on-Login): the user authenticates with the ABHA address, the app checks its NHCX token, refreshes via the sessions endpoint if expired, then subscribes the ABHA id and stores the returned subscription_id. Because Last-Linked-Wins replaces any earlier app's subscription, resubscribe on each login rather than trusting a stored id. Most PHR apps need only topic_code workflow_events; network_events and participant_events are also defined. The call is synchronous and sits outside the workflow-code sequence; a fresh x-hcx-correlation_id is required per attempt.

        ### Preconditions

        - ABDM M1 integration completed; BSP sandbox testing on hcxsbx.abdm.gov.in, certification and production registry onboarding.
        - An HTTPS callback endpoint with TLS 1.2 or higher registered as on_notification_url, and JWT capability.
        - Access token from the ABDM session token call (01-session/session-token.bru); sent as Authorization: Bearer with Content-Type application/json.
        - Body is a JWEPayload whose compact JWE carries protected headers alg RSA-OAEP, enc A256GCM, x-hcx-sender_code (your BSP code), x-hcx-recipient_code (NHCX gateway code), x-hcx-timestamp (ISO 8601) and a unique x-hcx-correlation_id, plus the subscribe JSON: subscription_id, topic_code array, recipient_code, subscriber.id (ABHA id), on_notification_url and optional expiry.
        - Explicit user consent obtained before subscribing.

        ### Postconditions

        NHCX decrypts the request with its private key, validates headers and payload, persists the subscription with Last-Linked-Wins per ABHA id and returns the subscription state synchronously: HTTP 200 with a SubscribeResponse carrying timestamp, api_call_id, correlation_id, subscription_id, subscription_status (active, replaced or expired), expiry and message. Thereafter, when a hospital submits a preauth or claim with that ABHA id and the payer responds, NHCX pushes a notification (notification_id, topic_code, timestamp, subscriber.id, a displayable message and optional domain_values) to the registered callback. Errors: 400 validation, 401 sender not authorised, 403 sender not permitted, 409 duplicate correlation id, 500 decryption or persistence failure.

        ### Common mistakes

        - Reusing x-hcx-correlation_id across attempts or retries, which returns 409 (the API reference defines 409 as replay detection, not an existing-subscription conflict).
        - Subscribing once and trusting the stored subscription_id; another app's login silently replaces it (subscription_status replaced).
        - Sending it to the exchange host, https://apisbx.abdm.gov.in/hcx, where the other /v1 calls go. The notification integration guide gives the portal host: https://hcxsbx.abdm.gov.in/v1/notification/subscribe.
        - Sending the token on bearer_auth. This call reads it from Authorization: Bearer.
        - Sending protocol headers in the clear rather than inside the JWE protected header.
        - Using the NHCX client-credentials token endpoint instead of the ABDM gateway sessions endpoint.
        - Subscribing silently without consent or without showing subscription status in settings.

        ### Best practices

        - Subscribe on every login and refresh the token before its 100-minute expiry; store access_token encrypted and never log the secret.
        - Generate a fresh UUID correlation id per subscribe attempt, including retries; retry 500s with backoff, regenerate the token on 401, check the registry on 403.
        - Subscribe only to the topics you need, typically workflow_events.
        - Secure the callback: HTTPS with TLS 1.2 or higher, validate the JWT from NHCX, verify sender_code, rate-limit.
        - Display the message field directly to users; treat domain_values as optional audit data and read status from x-hcx-status, not the workflow id description.

        ### Related scenario

        A beneficiary opens a PHR app and logs in with the ABHA address ravi@abdm. The app confirms its NHCX token is valid, then posts /v1/notification/subscribe with subscription_id sub_ravi_001, topic_code workflow_events, its BSP code and its on_notification_url, under a fresh correlation id. NHCX replies 200 with subscription_status active. Later that day a hospital submits a preauth for the same ABHA id on /v1/preauth/submit and the payer approves it on /v1/preauth/on_submit; NHCX pushes a notification to the app's callback reading that the preauthorisation was approved for Rs. 50,000 with its validity dates, which the app displays as-is.

        ### Specification

        Chapter [Notifications and patient apps](/docs/nhcx/v1/reference/notifications-and-patient-apps) of the NHCX integration specification.
      security: []
      servers:
        - url: https://hcxsbx.abdm.gov.in
          description: Sandbox, NHCX portal.
      parameters:
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: phr-app-xyz@bsp
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: nhcx-gateway@hcx
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxCorrelationId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
                _payload_plaintext:
                  type: object
                  properties:
                    subscription_id:
                      type: string
                    topic_code:
                      type: array
                      items:
                        type: string
                    recipient_code:
                      type: string
                    subscriber:
                      type: object
                      properties:
                        id:
                          type: string
                    on_notification_url:
                      type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUCIsImVuYyI6IkEyNTZHQ00iLCJ4LWhjeC1zZW5kZXJfY29kZSI6InBoci1hcHAteHl6QGJzcCJ9.encrypted_key.iv.ciphertext.tag
              _payload_plaintext:
                subscription_id: sub_ravi_001
                topic_code:
                  - workflow_events
                recipient_code: phr-app-xyz@bsp
                subscriber:
                  id: ravi@abdm
                on_notification_url: https://api.phrapp.com/v1/hcx/notification/on_subscribe
      responses:
        "200":
          description: "NHCX decrypts the request with its private key, validates headers and payload, persists the subscription with Last-Linked-Wins per ABHA id and returns the subscription state synchronously: HTTP 200 with a SubscribeResponse carrying timestamp, api_call_id, correlation_id, subscription_id, subscription_status (active, replaced or expired), expiry and message."
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  subscription_id:
                    type: string
                  subscription_status:
                    type: string
                  expiry:
                    type: string
                  message:
                    type: string
              example:
                timestamp: 2026-08-25T08:30:00+05:30
                api_call_id: d6e7f8a9-b0c1-2345-9012-456789012345
                correlation_id: 8899aabb-ccdd-eeff-0011-223344556677
                subscription_id: sub_ravi_001
                subscription_status: active
                expiry: ""
                message: Subscription accepted
  /v1/notification/on_subscribe:
    post:
      operationId: other_v1_notification_on_subscribe
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Notification on_subscribe
      description: |-
        BSP-side subscription acknowledgement; the same name denotes the callback where NHCX pushes claim-event notifications for a subscribed ABHA id.

        ### Business purpose

        Two things share this name. The API reference defines an NHCX-side operation (operationId onSubscribe) that takes a NotificationOnSubscribePayload with the beneficiary's abhaid, optional domain_values and plain header values, and returns a SubscribeResponse; it is described as the BSP-side subscription persistence acknowledgement. The integration guide uses the same path on the BSP's own host as the callback where NHCX delivers notifications. Together they complete the beneficiary-facing loop: the patient's app learns, in plain language, that a preauth was approved, a claim adjudicated, a payment made or information requested. The caller is a Beneficiary Service Provider; the persona label is the nearest available.

        ### When to use

        As a BSP you implement this path on your host, registered through on_notification_url, and receive a push whenever a workflow event occurs for a subscribed ABHA id: preauth_request (queued, processing), preauth_response (approved, rejected), claim_request, claim_response, payment_notice (paid, pending) and communication (information_required). The NHCX-side operation is invoked with hvalues senderid, receiverid, correlationid and status required, and workflowid, source, api_caller_id, call_type and usertoken optional. It sits outside the workflow-code sequence; domain_values may carry x-hcx-workflow_id, x-hcx-correlation_id, x-hcx-status, x-hcx-action and amount fields.

        ### Preconditions

        - An active subscription created via /v1/notification/subscribe for the ABHA id; Last-Linked-Wins means only the most recently linked app receives events.
        - The BSP callback exposed over HTTPS with TLS 1.2 or higher at the registered on_notification_url, validating the JWT from NHCX, verifying sender_code and rate-limiting.
        - For the NHCX-side operation: a NotificationOnSubscribePayload with request.abhaid (required) and optional request.domain_values, plus hvalues with senderid, receiverid, correlationid and status.
        - The ordinary preauth or claim exchange between hospital and payer has produced an event for that beneficiary.

        ### Postconditions

        The NHCX-side operation returns HTTP 200 with a SubscribeResponse (timestamp, api_call_id, correlation_id, subscription_id, subscription_status active, replaced or expired, expiry, message); 400, 401, 403, 409 and 500 return a StatusSuccessResponse with the same descriptions as the subscribe table. On the BSP callback the delivered payload carries notification_id, topic_code, timestamp, subscriber.id, a human-readable message that can be shown directly to the user, and optional domain_values with x-hcx-* headers for audit or custom formatting. Nothing changes in the hospital-payer exchange; the notification is a forked copy of the outcome.

        ### Common mistakes

        - Conflating the NHCX-side operation with your own callback and implementing only one of them.
        - Parsing domain_values to build the user message instead of displaying the message field; domain_values is optional and may be absent.
        - Reading status from the x-hcx-workflow_id description (approved, rejected, queued, processing), which is a documentation error; the example carries an identifier and status lives in x-hcx-status.
        - Assuming the subscription is still yours; a subscription_status of replaced means another app took the routing slot on login.
        - Accepting callbacks without validating the JWT or sender_code, or without TLS 1.2 or higher.
        - Treating the senderid and receiverid descriptions (payer id, hospital id) literally in the notification context; they are inherited boilerplate.

        ### Best practices

        - Display message verbatim; keep domain_values for audit logging or advanced formatting only.
        - Validate the JWT and sender_code on every inbound push, enforce TLS 1.2 or higher and rate limiting.
        - Map event types (preauth_response, claim_response, payment_notice, communication) to in-app timelines using x-hcx-action and x-hcx-status.
        - Show subscription status in settings so a replaced subscription is visible to the user; resubscribe on next login.
        - Keep the endpoint fast and idempotent on notification_id.

        ### Related scenario

        A PHR app has subscribed ravi@abdm to workflow_events. A hospital submits a claim on /v1/claim/submit for that beneficiary and the payer adjudicates it on /v1/claim/on_submit. NHCX forks the outcome to the app's registered on_subscribe callback with topic_code workflow_events, a message stating the claim was approved with the amount, and domain_values including x-hcx-action claim_response and x-hcx-status response.complete. The app validates the JWT and sender_code, shows the message on the patient's timeline, and when the payer later sends a payment notice on /v1/paymentnotice/request the next push reads paid.

        ### Specification

        Chapter [Notifications and patient apps](/docs/nhcx/v1/reference/notifications-and-patient-apps) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                request:
                  type: object
                  properties:
                    abhaid:
                      type: string
                    domain_values:
                      type: object
                      properties:
                        x-hcx-workflow_id:
                          type: string
                        x-hcx-correlation_id:
                          type: string
                        x-hcx-timestamp:
                          type: string
                        x-hcx-sender_code:
                          type: string
                        x-hcx-recipient_code:
                          type: string
                        x-hcx-status:
                          type: string
                        x-hcx-action:
                          type: string
                        x-hcx-amount_submitted:
                          type: string
                hvalues:
                  type: object
                  properties:
                    senderid:
                      type: string
                    receiverid:
                      type: string
                    correlationid:
                      type: string
                    status:
                      type: string
                    workflowid:
                      type: string
            example:
              request:
                abhaid: ravi@abdm
                domain_values:
                  x-hcx-workflow_id: wf_20260825_001
                  x-hcx-correlation_id: corr_20260825_12345
                  x-hcx-timestamp: 2026-08-25T14:30:00+05:30
                  x-hcx-sender_code: payor.icici@nhcx
                  x-hcx-recipient_code: bsp.phrapp@nhcx
                  x-hcx-status: response.complete
                  x-hcx-action: preauth_response
                  x-hcx-amount_submitted: "75000.00"
              hvalues:
                senderid: payor.icici@nhcx
                receiverid: bsp.phrapp@nhcx
                correlationid: corr_20260825_12345
                status: response.complete
                workflowid: wf_20260825_001
      responses:
        "200":
          description: The NHCX-side operation returns HTTP 200 with a SubscribeResponse (timestamp, api_call_id, correlation_id, subscription_id, subscription_status active, replaced or expired, expiry, message); 400, 401, 403, 409 and 500 return a StatusSuccessResponse with the same descriptions as the subscribe table.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  subscription_id:
                    type: string
                  subscription_status:
                    type: string
                  expiry:
                    type: string
                  message:
                    type: string
              example:
                timestamp: 2026-08-25T14:30:01+05:30
                api_call_id: e7f8a9b0-c1d2-3456-0123-567890123456
                correlation_id: corr_20260825_12345
                subscription_id: sub_ravi_001
                subscription_status: active
                expiry: ""
                message: "Preauthorization approved for Rs. 50,000. Valid from 2026-08-25 to 2026-09-01. Reference: PA-2026-004567"
  /v1/delete:
    post:
      operationId: other_v1_delete
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Delete records (troubleshooting)
      description: |-
        Internal troubleshooting operation on the claim service that deletes records by correlationid and action; not part of the business transaction flows.

        ### Business purpose

        The claim service OpenAPI lists /v1/delete as an internal troubleshooting operation for deleting records identified by a correlationid and an action. It exists to clear stuck or erroneous records during integration testing and support, not to move a claim through its lifecycle. The published documentation gives no further business context and does not state which participant roles may call it.

        ### When to use

        Only in troubleshooting, and only as directed by NHCX support. The endpoint index describes it as internal troubleshooting, deleting records by correlationid plus action. It does not appear in any transaction flow, sample bundle or workflow-code table, and it carries no x-hcx-workflow_id semantics. It is unrelated to the platform behaviour in which NHCX itself deletes a request after five failed delivery attempts; that deletion is automatic and needs no call.

        ### Preconditions

        - A valid Bearer token and the HTTP headers Accept: application/json, Content-Type: application/json and bearer_auth.
        - The correlation ID of the record to be removed and the action it was recorded under; the docs name these two inputs (correlationid and action) but do not publish a schema, sample body or authorisation rule.
        - Agreement from NHCX support that deletion is the right remedy; the documentation does not describe any business validation performed by the endpoint.

        ### Postconditions

        The endpoint sits in the claim service, whose domain operations all return 202 Accepted, 400 Request Validation failed, 404 Requested resource was not found and 500 Downstream systems down, each carrying StatusSuccessResponse. No worked response body, callback or state change is documented for /v1/delete beyond the removal of the record identified by correlationid and action. After deletion a fresh request cycle with a new correlation UUID is the documented way to proceed, since a deleted or inactive correlation ID cannot be resumed.

        ### Common mistakes

        - Treating /v1/delete as a way to cancel a preauth or claim; cancellation is a Task on /v1/task/submit (code cancel, workflow PC01 or 122) and reprocess is workflow 36 on the same endpoint.
        - Calling it to recover from a failed delivery and then reusing the same correlation ID; NHCX marks failed correlation IDs inactive and a new cycle is required.
        - Assuming the input names or authorisation are documented; only correlationid and action are named, and the specs do not say who may call it.
        - Using it in production without NHCX support involvement; it is described as internal troubleshooting.

        ### Best practices

        - Reserve this call for sandbox troubleshooting and only on NHCX support's instruction.
        - Record the correlation ID, action and reason for every deletion in your own audit log, since the docs describe no NHCX-side confirmation beyond the HTTP status.
        - Prefer /v1/status to inspect a stuck correlation ID before deleting anything.
        - Mint a new correlation UUID for any re-submission after a deletion.

        ### Related scenario

        During sandbox testing a hospital's integrator submits a claim whose callback keeps failing because their endpoint returned 200 instead of 202. NHCX support asks them to fix the acknowledgement and then clears the stuck record by correlation ID and action using /v1/delete so the test case can be rerun cleanly. The integrator resubmits the claim to /v1/claim/submit under a new correlation UUID, receives a 202, and this time the on_submit callback is acknowledged correctly.

        ### Specification

        No chapter of the current documentation covers this operation. It appears only in the claim service's OpenAPI.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                correlationid:
                  type: string
                action:
                  type: string
            example:
              correlationid: 5d4c3b2a-1f0e-4d9c-8b7a-6f5e4d3c2b1a
              action: /v1/claim/submit
      responses:
        "200":
          description: The endpoint sits in the claim service, whose domain operations all return 202 Accepted, 400 Request Validation failed, 404 Requested resource was not found and 500 Downstream systems down, each carrying StatusSuccessResponse.
          content:
            application/json:
              schema:
                type: object
                properties:
                  httpStatus:
                    type: integer
                  schema:
                    type: string
                  note:
                    type: string
              example:
                httpStatus: 202
                schema: StatusSuccessResponse
                note: The claim service spec lists 202, 400, 404 and 500, all carrying StatusSuccessResponse; no worked response body is published for /v1/delete.
  /v3/api-docs:
    get:
      operationId: other_v3_api_docs
      x-abdm-use-case: Other
      tags:
        - Other
      summary: OpenAPI 3 document (status service)
      description: |-
        Serves the status service's OpenAPI 3 document, optionally filtered by a group query parameter; a discovery endpoint, not a protocol API.

        ### Business purpose

        Integrators need a machine-readable contract for the Status API in order to generate clients, validate their requests and confirm the server prefix. This endpoint serves that contract in OpenAPI 3 form for the status service (statushcxservice, OpenAPI 3.0.1, service version 1.0.0). It carries no claim-settlement data and involves no payer or provider business logic; its value is purely in making the /v1/status operation discoverable and verifiable during integration and troubleshooting.

        ### When to use

        Use it during integration setup, when generating or refreshing an API client, and when a status call is failing and you want to confirm the exact schema and server prefix the service advertises. The endpoint index lists it as endpoint 19 with an optional group query parameter. It is not part of any transaction workflow and is not referenced by the sandbox exit checklists.

        ### Preconditions

        - A GET request to the status service host; the OpenAPI documents in this corpus were captured from https://hcxsbx.abdm.gov.in/<service>/api-docs, and the status service declares the server prefix /statushcxservice.
        - No JWE envelope, no x-hcx-* protocol headers and no correlation id; the docs do not state that a Bearer token is required for these discovery endpoints.
        - No request body.

        ### Postconditions

        The service returns HTTP 200 with a JSON OpenAPI 3 document describing the status service: its info block, the /statushcxservice server entry and the /v1/status operation with its StatusSuccessResponse responses. Nothing changes on NHCX and no callback follows. The document is a description of the service as deployed and may differ from the handbook's gateway-side conventions, which the docs flag as an unresolved conflict.

        ### Common mistakes

        - Pointing at the gateway base https://apisbx.abdm.gov.in/pmjay/sbxhcx and expecting the per-service spec host; the docs advise swapping between the two URL shapes when a path 404s.
        - Treating the served document as the integration contract for gateway traffic; the handbook's gateway base and header conventions take precedence where the two disagree.
        - Sending a POST or a JSON body to a GET discovery endpoint.
        - Wrapping the call in JWE or adding x-hcx-* headers, which only apply to protocol APIs such as /v1/status.

        ### Best practices

        - Use these endpoints for exploration and client generation in the sandbox, and cache the document rather than fetching it on every run.
        - Diff the served document against the corpus (Status service: OpenAPI 3.0.1, version 1.0.0) when behaviour changes unexpectedly.
        - Never let production traffic depend on the availability of the documentation endpoints.
        - Keep the /v1/status protocol rules in mind when reading the spec: x-hcx-correlation_id must carry the original request's correlation id.

        ### Related scenario

        A hospital's integration team is building status polling for stalled preauthorisations. Before wiring /v1/status, an engineer fetches /v3/api-docs from the status service host, confirms the server prefix and the response schema, and generates a typed client. The team then implements the status request with the original correlation id in x-hcx-correlation_id, handles the synchronous request.queued and request.dispatched outcomes, and receives the payer's answer on the status callback.

        ### Specification

        Chapter [Environments and addresses](/docs/nhcx/v1/reference/environments-and-addresses) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      responses:
        "200":
          description: "The service returns HTTP 200 with a JSON OpenAPI 3 document describing the status service: its info block, the /statushcxservice server entry and the /v1/status operation with its StatusSuccessResponse responses."
          content:
            application/json:
              schema:
                type: object
                properties:
                  openapi:
                    type: string
                  info:
                    type: object
                    properties:
                      title:
                        type: string
                      version:
                        type: string
                  servers:
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          type: string
                  paths:
                    type: object
                    properties:
                      /v1/status:
                        type: object
                        properties:
                          post:
                            type: object
                            properties:
                              operationId:
                                type: string
                              responses:
                                type: object
                                properties:
                                  "202":
                                    type: object
                                    properties:
                                      description:
                                        type: string
              example:
                openapi: 3.0.1
                info:
                  title: Status service
                  version: 1.0.0
                servers:
                  - url: /statushcxservice
                paths:
                  /v1/status:
                    post:
                      operationId: status
                      responses:
                        "202":
                          description: Accepted
  /v2/api-docs:
    get:
      operationId: other_v2_api_docs
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Swagger 2 document (status service)
      description: |-
        Serves the status service's Swagger 2 document, optionally filtered by a group query parameter; a discovery endpoint, not a protocol API.

        ### Business purpose

        Some tooling still consumes Swagger 2 rather than OpenAPI 3. This endpoint serves the status service's contract in that older format so that such tools can generate clients and validate requests against /v1/status. It exists alongside /v3/api-docs and describes the same service; it carries no claim-settlement data and involves no business logic. Its value is limited to integration setup and troubleshooting.

        ### When to use

        Use it when your client generator or API tooling requires Swagger 2 input, or when comparing the Swagger 2 and OpenAPI 3 renderings of the status service during a troubleshooting session. The endpoint index lists it as endpoint 20 with an optional group query parameter. It plays no part in any transaction workflow.

        ### Preconditions

        - A GET request to the status service host; the OpenAPI documents in this corpus were captured from https://hcxsbx.abdm.gov.in/<service>/api-docs, and the status service declares the server prefix /statushcxservice.
        - No JWE envelope, no x-hcx-* protocol headers and no correlation id; the docs do not state that a Bearer token is required for these discovery endpoints.
        - No request body.

        ### Postconditions

        The service returns HTTP 200 with a JSON Swagger 2 document (swagger: 2.0) describing the status service, its base path and the /v1/status operation. Nothing changes on NHCX and no callback follows. Where the served document and the handbook disagree on URL shape, the docs advise treating the per-service spec host as the exploration surface and the handbook's gateway base as the integration surface.

        ### Common mistakes

        - Pointing at the gateway base https://apisbx.abdm.gov.in/pmjay/sbxhcx and expecting the per-service spec host; the docs advise swapping between the two URL shapes when a path 404s.
        - Treating the served document as the integration contract for gateway traffic; the handbook's gateway base and header conventions take precedence where the two disagree.
        - Sending a POST or a JSON body to a GET discovery endpoint.
        - Wrapping the call in JWE or adding x-hcx-* headers, which only apply to protocol APIs such as /v1/status.

        ### Best practices

        - Use these endpoints for exploration and client generation in the sandbox, and cache the document rather than fetching it on every run.
        - Diff the served document against the corpus (Status service: OpenAPI 3.0.1, version 1.0.0) when behaviour changes unexpectedly.
        - Never let production traffic depend on the availability of the documentation endpoints.
        - Keep the /v1/status protocol rules in mind when reading the spec: x-hcx-correlation_id must carry the original request's correlation id.

        ### Related scenario

        A TPA's legacy integration platform only imports Swagger 2 definitions. During onboarding to the status flow the team fetches /v2/api-docs from the status service, imports it, and confirms that the /v1/status operation and its StatusSuccessResponse are represented. They then implement the JWE-wrapped status request for preauthorisations that have not received an on_submit callback, and respond to providers' status requests on the status callback.

        ### Specification

        Chapter [Environments and addresses](/docs/nhcx/v1/reference/environments-and-addresses) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      responses:
        "200":
          description: "The service returns HTTP 200 with a JSON Swagger 2 document (swagger: 2.0) describing the status service, its base path and the /v1/status operation."
          content:
            application/json:
              schema:
                type: object
                properties:
                  swagger:
                    type: string
                  info:
                    type: object
                    properties:
                      title:
                        type: string
                      version:
                        type: string
                  basePath:
                    type: string
                  paths:
                    type: object
                    properties:
                      /v1/status:
                        type: object
                        properties:
                          post:
                            type: object
                            properties:
                              operationId:
                                type: string
                              responses:
                                type: object
                                properties:
                                  "202":
                                    type: object
                                    properties:
                                      description:
                                        type: string
              example:
                swagger: "2.0"
                info:
                  title: Status service
                  version: 1.0.0
                basePath: /statushcxservice
                paths:
                  /v1/status:
                    post:
                      operationId: status
                      responses:
                        "202":
                          description: Accepted
  /swagger-resources:
    get:
      operationId: other_swagger_resources
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Swagger resources list
      description: |-
        Lists the Swagger resources (API document locations) exposed by the status service; used by Swagger UI, not by integrations.

        ### Business purpose

        Swagger UI discovers which API documents a service offers by reading this list. On the status service it points the UI at the /v2/api-docs and /v3/api-docs documents so that an engineer can browse the /v1/status operation interactively. It carries no claim-settlement data and involves no business logic; the endpoint index describes it simply as the list of Swagger resources.

        ### When to use

        Use it only when hosting or debugging a Swagger UI session against the status service, or when a tool needs to discover the available document URLs before fetching them. The endpoint index lists it as endpoint 21. It is not part of any transaction workflow and is not referenced by the sandbox exit checklists.

        ### Preconditions

        - A GET request to the status service host; the OpenAPI documents in this corpus were captured from https://hcxsbx.abdm.gov.in/<service>/api-docs, and the status service declares the server prefix /statushcxservice.
        - No JWE envelope, no x-hcx-* protocol headers and no correlation id; the docs do not state that a Bearer token is required for these discovery endpoints.
        - No request body.

        ### Postconditions

        The service returns HTTP 200 with a JSON list of resource descriptors that locate the service's API documents. Nothing changes on NHCX and no callback follows. The documentation does not detail the descriptor fields beyond the purpose line, so treat the shape shown here as illustrative and read the live response.

        ### Common mistakes

        - Pointing at the gateway base https://apisbx.abdm.gov.in/pmjay/sbxhcx and expecting the per-service spec host; the docs advise swapping between the two URL shapes when a path 404s.
        - Treating the served document as the integration contract for gateway traffic; the handbook's gateway base and header conventions take precedence where the two disagree.
        - Sending a POST or a JSON body to a GET discovery endpoint.
        - Wrapping the call in JWE or adding x-hcx-* headers, which only apply to protocol APIs such as /v1/status.

        ### Best practices

        - Use these endpoints for exploration and client generation in the sandbox, and cache the document rather than fetching it on every run.
        - Diff the served document against the corpus (Status service: OpenAPI 3.0.1, version 1.0.0) when behaviour changes unexpectedly.
        - Never let production traffic depend on the availability of the documentation endpoints.
        - Keep the /v1/status protocol rules in mind when reading the spec: x-hcx-correlation_id must carry the original request's correlation id.

        ### Related scenario

        An integration engineer opens Swagger UI against the status service in the sandbox to reproduce a colleague's failing status call. The UI first requests /swagger-resources to learn where the API documents live, then loads /v3/api-docs. The engineer inspects the /v1/status operation, notices the colleague had minted a fresh correlation id instead of reusing the original preauth correlation id, and fixes the client before retrying the status request.

        ### Specification

        Chapter [Environments and addresses](/docs/nhcx/v1/reference/environments-and-addresses) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      responses:
        "200":
          description: The service returns HTTP 200 with a JSON list of resource descriptors that locate the service's API documents.
          content:
            application/json:
              schema:
                type: object
                properties:
                  _note:
                    type: string
                  resources:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        url:
                          type: string
                        swaggerVersion:
                          type: string
              example:
                _note: The service returns a JSON array of resource descriptors; wrapped here for display.
                resources:
                  - name: default
                    url: /v3/api-docs
                    swaggerVersion: "3.0"
  /swagger-resources/configuration/ui:
    get:
      operationId: other_swagger_resources_configuration_ui
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Swagger UI configuration
      description: |-
        Returns the Swagger UI display configuration for the status service; consumed by Swagger UI, not by integrations.

        ### Business purpose

        Swagger UI reads this endpoint to learn how the service wants its documentation rendered (for example, expansion and deep-linking settings). It supports the interactive exploration of the status service's /v1/status operation and has no role in claim settlement, routing or security. The endpoint index describes it as the Swagger UI configuration.

        ### When to use

        Use it only in the context of a Swagger UI session against the status service; ordinary integrations never call it. The endpoint index lists it as endpoint 22. It is not part of any transaction workflow and does not appear in the sandbox exit checklists.

        ### Preconditions

        - A GET request to the status service host; the OpenAPI documents in this corpus were captured from https://hcxsbx.abdm.gov.in/<service>/api-docs, and the status service declares the server prefix /statushcxservice.
        - No JWE envelope, no x-hcx-* protocol headers and no correlation id; the docs do not state that a Bearer token is required for these discovery endpoints.
        - No request body.

        ### Postconditions

        The service returns HTTP 200 with a small JSON object of UI settings. Nothing changes on NHCX and no callback follows. The documentation does not enumerate the settings, so the example below is illustrative; read the live response if you need specific values.

        ### Common mistakes

        - Pointing at the gateway base https://apisbx.abdm.gov.in/pmjay/sbxhcx and expecting the per-service spec host; the docs advise swapping between the two URL shapes when a path 404s.
        - Treating the served document as the integration contract for gateway traffic; the handbook's gateway base and header conventions take precedence where the two disagree.
        - Sending a POST or a JSON body to a GET discovery endpoint.
        - Wrapping the call in JWE or adding x-hcx-* headers, which only apply to protocol APIs such as /v1/status.

        ### Best practices

        - Use these endpoints for exploration and client generation in the sandbox, and cache the document rather than fetching it on every run.
        - Diff the served document against the corpus (Status service: OpenAPI 3.0.1, version 1.0.0) when behaviour changes unexpectedly.
        - Never let production traffic depend on the availability of the documentation endpoints.
        - Keep the /v1/status protocol rules in mind when reading the spec: x-hcx-correlation_id must carry the original request's correlation id.

        ### Related scenario

        While preparing sandbox exit evidence, a payer's engineer captures screenshots of the status service's Swagger UI. The browser loads /swagger-resources/configuration/ui to decide how to render the page, then the resources list and the OpenAPI document. The engineer uses the rendered /v1/status operation to explain to the certification reviewer how the payer responds on the status callback when a provider asks about a dispatched preauthorisation.

        ### Specification

        Chapter [Environments and addresses](/docs/nhcx/v1/reference/environments-and-addresses) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      responses:
        "200":
          description: The service returns HTTP 200 with a small JSON object of UI settings.
          content:
            application/json:
              schema:
                type: object
                properties:
                  deepLinking:
                    type: boolean
                  docExpansion:
                    type: string
                  displayRequestDuration:
                    type: boolean
              example:
                deepLinking: true
                docExpansion: none
                displayRequestDuration: false
  /swagger-resources/configuration/security:
    get:
      operationId: other_swagger_resources_configuration_security
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Swagger security configuration
      description: |-
        Returns the Swagger UI security configuration for the status service; consumed by Swagger UI, not by integrations.

        ### Business purpose

        Swagger UI reads this endpoint to learn how to present authorisation inputs (such as a bearer token field) when a user tries operations from the browser. It describes UI behaviour only; it does not issue tokens, and it is unrelated to the client-credentials flow at /get/session or to the JWE encryption that protects protocol payloads. The endpoint index describes it as the Swagger security configuration.

        ### When to use

        Use it only in a Swagger UI session against the status service; integrations never need it. The endpoint index lists it as endpoint 23. It is not part of any transaction workflow, not a source of credentials, and not referenced by the sandbox exit checklists.

        ### Preconditions

        - A GET request to the status service host; the OpenAPI documents in this corpus were captured from https://hcxsbx.abdm.gov.in/<service>/api-docs, and the status service declares the server prefix /statushcxservice.
        - No JWE envelope, no x-hcx-* protocol headers and no correlation id; the docs do not state that a Bearer token is required for these discovery endpoints.
        - No request body.

        ### Postconditions

        The service returns HTTP 200 with a small JSON object describing how Swagger UI should handle security inputs. Nothing changes on NHCX, no token is issued and no callback follows. The documentation does not enumerate the fields, so the example below is illustrative.

        ### Common mistakes

        - Pointing at the gateway base https://apisbx.abdm.gov.in/pmjay/sbxhcx and expecting the per-service spec host; the docs advise swapping between the two URL shapes when a path 404s.
        - Treating the served document as the integration contract for gateway traffic; the handbook's gateway base and header conventions take precedence where the two disagree.
        - Sending a POST or a JSON body to a GET discovery endpoint.
        - Wrapping the call in JWE or adding x-hcx-* headers, which only apply to protocol APIs such as /v1/status.
        - Mistaking this endpoint for an authentication API; tokens come only from the client-credentials call documented in the authentication chapter.

        ### Best practices

        - Use these endpoints for exploration and client generation in the sandbox, and cache the document rather than fetching it on every run.
        - Diff the served document against the corpus (Status service: OpenAPI 3.0.1, version 1.0.0) when behaviour changes unexpectedly.
        - Never let production traffic depend on the availability of the documentation endpoints.
        - Keep the /v1/status protocol rules in mind when reading the spec: x-hcx-correlation_id must carry the original request's correlation id.

        ### Related scenario

        A provider's engineer wants to try /v1/status from Swagger UI in the sandbox. The UI fetches /swagger-resources/configuration/security to decide how to show the authorisation dialog, and the engineer pastes a Bearer token obtained separately from the client-credentials call. Because the status request body must be a JWE built with the payer's certificate, the engineer ultimately uses the UI only to confirm the schema and runs the real status request from the integration code, which reuses the original preauth correlation id.

        ### Specification

        Chapter [Environments and addresses](/docs/nhcx/v1/reference/environments-and-addresses) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      responses:
        "200":
          description: The service returns HTTP 200 with a small JSON object describing how Swagger UI should handle security inputs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  apiKeyVehicle:
                    type: string
                  apiKeyName:
                    type: string
                  scopeSeparator:
                    type: string
              example:
                apiKeyVehicle: header
                apiKeyName: bearer_auth
                scopeSeparator: ","
  /v1/on_status:
    post:
      operationId: other_v1_on_status
      x-abdm-atom: nhcx.endpoint.on-status
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Status callback
      description: |-
        The answer to a status request, delivered to the sender that asked. The `x-hcx-status` in the protected header says where the message you asked about got to. The payload is an empty string.

        ### Business purpose

        It separates "did my message arrive" from "what did the payer decide". A sender learns whether a quiet case is still held by the exchange, has reached the recipient, or is dead, without resubmitting it and creating a duplicate.

        ### When to use

        Hosted by every participant that sends `/v1/status`. It arrives in answer to a status request you sent.

        ### Preconditions

        - You sent `/v1/status` with `x-hcx-correlation_id` set to the `api_call_id` of the message you were asking about, and you kept that mapping.
        - Your callback address is registered and answers 202 within 30 seconds.

        ### Postconditions

        Read `x-hcx-status` from the protected header. `request.dispatched` means the message reached the recipient, and `request.queued` that the exchange still holds it. `request.stopped` means redelivery was exhausted and the correlation ID retired, so the original request is dead and a retry needs a fresh correlation ID. `x-hcx-error_details`, with `code`, `message` and `trace`, is present where the original failed. Answer 202 with the receipt.

        ### Common mistakes

        - Expecting a bundle. The payload is an empty string and everything travels in the header.
        - Matching the answer on the original request's correlation ID. It carries the correlation of your status request.
        - Retrying a `request.stopped` message on its old correlation ID.
        - Offering a refresh or chase control in the user interface with no status exchange behind it.

        ### Best practices

        - Keep every `api_call_id` you send. Without it you cannot ask the question at all.
        - Act on `request.stopped` at once, and treat `request.dispatched` as a reason to wait for the payer.
        - Ask from a support screen when a case has gone quiet for longer than the payer's expected turnaround, not on a timer.

        ### Related scenario

        A pre-authorisation has had no answer for longer than the payer's usual turnaround. The support screen sends `/v1/status` with that request's `api_call_id` as the correlation ID. The answer arrives here with an empty payload and `x-hcx-status` `request.stopped`, so the desk knows the request is dead rather than slow, and resubmits it with a fresh correlation ID.

        ### Specification

        Chapter [NHCX adapter (Optional)](/docs/nhcx/v1/getting-started/nhcx-adapter) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: <participant code>
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: <recipient code>
        - $ref: "#/components/parameters/XHcxApiCallId"
        - name: x-hcx-correlation_id
          in: header
          required: true
          description: The thread. See the rule below. Mandatory on the envelope.
          schema:
            type: string
          example: <correlation id>
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: <compact JWE>
      responses:
        "200":
          description: Read `x-hcx-status` from the protected header.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 19/03/2026 11:46:35:120
                api_call_id: "{{$guid}}"
                correlation_id: "{{correlationId}}"
                error:
                  code: ""
                  message: ""
  /v1/error:
    post:
      operationId: other_v1_error
      x-abdm-use-case: Other
      tags:
        - Other
      summary: Error report (callback)
      description: |-
        Where the exchange tells a sender that a request could not be delivered after five attempts. Received by every participant under its registered address. There is no outbound form.

        ### Business purpose

        When the exchange cannot deliver a request, it tries five times, retires the correlation ID and tells the original sender here. A system without this endpoint never learns that its request died, and a dead request looks exactly like a case still under review. Every participant must host it.

        ### When to use

        Hosted, never called. Implement it before anything else that is asynchronous. Providers and payers both host it.

        ### Preconditions

        - Your callback address is registered: a domain name over HTTPS with TLS 1.2 or newer, hosted in India, reachable from the exchange's outbound addresses and answering within 30 seconds.
        - The handler accepts a body it does not recognise. What arrives is a plain JSON report of the request the exchange gave up on, with the rejection details, not a sealed `JWEPayload`. Its field names are not published, so the body in this request is an illustration rather than a schema.

        ### Postconditions

        Answer 202 with the receipt, like every other delivery, filling in whatever identifiers the report carries and leaving the rest empty. The original request is dead: its correlation ID has been retired, so a retry needs a fresh one.

        ### Common mistakes

        - Not hosting it, so failed deliveries are never seen.
        - Parsing the report against a fixed schema and answering `4xx` when it does not match.
        - Retrying the failed request on the retired correlation ID.

        ### Best practices

        - Store the report whole before doing anything with it.
        - Mark the case it names as undelivered, so the desk does not wait for a decision that will not come.
        - Check it first when a case goes quiet, before asking the exchange with `/v1/status`.

        ### Related scenario

        A hospital posts a pre-authorisation and gets its receipt, but the payer's endpoint is down. The exchange tries five times, retires the correlation ID and posts a report to the hospital's `/v1/error`. The handler stores the report whole, answers 202 with the receipt, and marks the pre-authorisation undelivered. The desk resubmits it with a fresh correlation ID once the payer is reachable.

        ### Specification

        Chapter [Building and sending a JWE](/docs/nhcx/v1/getting-started/building-and-sending-a-jwe) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: nhcx-gateway@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - name: x-hcx-correlation_id
          in: header
          required: true
          description: The thread. See the rule below. Mandatory on the envelope.
          schema:
            type: string
          example: <correlation id>
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.error
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                x-hcx-sender_code:
                  type: string
                x-hcx-recipient_code:
                  type: string
                x-hcx-api_call_id:
                  type: string
                x-hcx-correlation_id:
                  type: string
                x-hcx-workflow_id:
                  type: string
                x-hcx-timestamp:
                  type: string
                x-hcx-status:
                  type: string
                x-hcx-error_details:
                  type: object
                  properties:
                    code:
                      type: string
                    message:
                      type: string
                    trace:
                      type: string
                x-hcx-entity-type:
                  type: string
            example:
              type: ProtocolResponse
              x-hcx-sender_code: nhcx-gateway@hcx
              x-hcx-recipient_code: 1000004446@hcx
              x-hcx-api_call_id: <uuid>
              x-hcx-correlation_id: <correlation id>
              x-hcx-workflow_id: "12"
              x-hcx-timestamp: <iso timestamp>
              x-hcx-status: response.error
              x-hcx-error_details:
                code: ERR_DELIVERY_FAILED
                message: Recipient endpoint unreachable after five attempts
                trace: ""
              x-hcx-entity-type: preauth
      responses:
        "200":
          description: Answer 202 with the receipt, like every other delivery, filling in whatever identifiers the report carries and leaving the rest empty.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
webhooks:
  v1_task_submit:
    post:
      operationId: other_webhook_v1_task_submit
      x-abdm-atom: nhcx.callback.task-submit
      x-abdm-triggered-by: other_v1_task_submit
      x-abdm-use-case: Webhooks
      tags:
        - Other
      summary: Receive task submit (reprocess or cancel)
      description: |-
        Hosted by the payer. The exchange posts this message to the `endpoint_url` you registered, at `/v1/task/submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Provider sends a FHIR Task asking the payer to reprocess a rejected or short-paid claim or to cancel a preauth; Task.code and reasonCode set the intent.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxWorkflowId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxMDAwMDA0NDQ2QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  v1_task_on_submit:
    post:
      operationId: other_webhook_v1_task_on_submit
      x-abdm-atom: nhcx.callback.task-on-submit
      x-abdm-triggered-by: other_v1_task_on_submit
      x-abdm-use-case: Webhooks
[...]
