# NHCX status and search, from the NHCX package's Bruno folder apis/08-status.
#
# Written by the package's system/build-ekadocs.mjs (make ekadocs); change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: status
    label: Status and search
    position: 8
  title: NHCX status and search
  summary: Asynchronous exchanges lose messages, stall in queues and outlive the shift of the desk operator who started them.
  description: |-
    The Status and search calls on the National Health Claims Exchange (NHCX): 3 operations, and 3 callbacks you host.

    Asynchronous exchanges lose messages, stall in queues and outlive the shift of the desk operator who started them.

    Guides that use these calls: [Predetermination, status and search](/docs/nhcx/v1/reference/fhir/predetermination-status-and-search), [Accepted with 202, and no callback arrives](/docs/nhcx/v1/troubleshooting/accepted-then-no-callback), [Responses arrive against the wrong request](/docs/nhcx/v1/troubleshooting/responses-arrive-against-the-wrong-request).
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: status
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/08-status
    role: upstream
    hash: sha256:e5e337293f9f33700c21ac9873f20c627e22a26e0cbb9338ef46acb6ac3cbfe2
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:88515b7b29c6b349a131e016c80774436ea16a29738db743b4cc3a24cbd42453
    note: The sandbox and production hosts.
servers:
  - url: https://apisbx.abdm.gov.in/hcx
    description: Sandbox, NHCX exchange.
  - url: https://apisprod.nha.gov.in/hcx
    description: Production.
tags:
  - name: Status and search
    description: Asynchronous exchanges lose messages, stall in queues and outlive the shift of the desk operator who started them.
security:
  - bearerAuth: []
paths:
  /v1/status:
    post:
      operationId: status_v1_status
      x-abdm-atom: nhcx.endpoint.status
      x-abdm-use-case: Status and search
      tags:
        - Status and search
      summary: Status check
      description: |-
        Sender asks NHCX where its own in-flight request stands; the gateway answers request.queued or request.dispatched, and only dispatched yields a callback.

        ### Business purpose

        Asynchronous exchanges lose messages, stall in queues and outlive the shift of the desk operator who started them. The Status API exists so the original sender can find out which side of the exchange is holding a request without resubmitting it and creating a duplicate. It answers the hospital desk's most common question, where is my preauth, by telling it whether the gateway has forwarded the request to the payer at all. Providers, payers and TPAs all benefit because it separates gateway delay from payer delay before anyone escalates.

        ### When to use

        Call it after a submission whose callback has not arrived within your operational tolerance, for example a preauth (workflow 12) or claim (workflow 15) still awaiting its on_submit. It is only for requests you originated; x-hcx-correlation_id carries the x-hcx-api_call_id of the request being checked (the Status sheet: "same as API caller ID of the request that requires a status check"). Send x-hcx-status request.initiated. x-hcx-workflow_id and x-hcx-use_case (New, Enhancement or Resubmit) are optional on this call; x-hcx-ben-abha-id is mandatory. If the reply is request.queued, the payer has never seen the request and no callback will come; if request.dispatched, the payer holds it and will answer on the status callback.

        ### Preconditions

        - You are the original sender of the request being queried and have its api_call_id persisted.
        - Valid Bearer token; the request body is a JWE per RFC-7516 like every protocol API.
        - The payload inside the JWE is an empty string: no bundle, no Task, no resource. The Status sheet of the requests-and-responses workbook says "Payload should be empty string". The sandbox exit checklists word it as the "encrypted payload of request for which the status is seeking for" and describe no bundle for it.
        - Protected header with sender_code, recipient_code, a fresh api_call_id, the original request's api_call_id as correlation_id, an IST timestamp and status request.initiated.
        - HTTP headers Accept, Content-Type and bearer_auth.

        ### Postconditions

        The gateway validates the request and returns the protocol status synchronously in the HTTP response: HTTP 202 with a StatusSuccessResponse whose result carries sender_code, recipient_code, entity_type and protocol_status of request.queued or request.dispatched. On request.queued nothing further happens; the original request is still inside NHCX. On request.dispatched the gateway forwards the status request to the recipient, who responds asynchronously on the status callback (named /v1/on_status and /hcx/on_status in different sentences of the source). A 404 against a correlation id you believe you sent strongly suggests the original submission never landed; NHCX-1012 reports no records for the api caller id.

        ### Common mistakes

        - Minting a fresh correlation id for the status call itself instead of setting it to the original request's api_call_id; this is the single most common status-integration error and yields NHCX-1012 or 404.
        - Polling in a tight loop; a request.queued answer means the gateway is still working and there is no callback for that branch.
        - Resubmitting the original request after a request.queued response, which duplicates it (NHCX-1006).
        - Reading the Appendix C lifecycle statuses (request.acknowledged, request.queried, request.complete) as Status API outcomes; the API returns only the two gateway values.
        - Querying a correlation id after NHCX deleted it following five failed deliveries; it is gone.
        - Querying a request another participant originated; senders may only query their own.

        ### Best practices

        - Persist the correlation id against the case record before every submission so a status check is always possible.
        - Use a bounded, spaced schedule tied to the correlation id, then escalate; do not poll aggressively.
        - Branch on protocol_status: wait on request.queued, expect the status callback on request.dispatched.
        - Use a fresh x-hcx-api_call_id per status call and IST timestamps.
        - Treat Status as transport position only; the decision lives in the original on_ callback or a Search for the claim document.
        - Implement the status callback and v1/error so both branches of the answer have somewhere to land.

        ### Related scenario

        A hospital's TPA desk submitted a preauth on /v1/preauth/submit at 09:00 and by 13:00 nothing has arrived on /v1/preauth/on_submit. Rather than resubmit, the integration posts /v1/status with the preauth's correlation id. The synchronous reply shows protocol_status request.dispatched, so the request is with the payer, not stuck at the gateway; the desk stops worrying about a lost message and waits for the status callback and the eventual preauth decision. Had the reply been request.queued, the desk would have waited on the gateway and, if the delay persisted, escalated to NHCX support with the correlation id.

        ### Specification

        Chapter [NHCX adapter (Optional)](/docs/nhcx/v1/getting-started/nhcx-adapter) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxMDAwMDA0NDQ2QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: "The gateway validates the request and returns the protocol status synchronously in the HTTP response: HTTP 202 with a StatusSuccessResponse whose result carries sender_code, recipient_code, entity_type and protocol_status of request.queued or request.dispatched."
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 25/08/2026 13:00:00:215
                api_call_id: e5f6a7b8-c9d0-1234-ef01-345678901234
                correlation_id: 11223344-5566-7788-99aa-bbccddeeff00
                result:
                  sender_code: 1000004446@hcx
                  recipient_code: 1518@hcx
                  entity_type: preauth
                  protocol_status: request.dispatched
                error:
                  code: ""
                  message: ""
  /v1/search/submit:
    post:
      operationId: status_v1_search_submit
      x-abdm-atom: nhcx.endpoint.search-submit
      x-abdm-use-case: Status and search
      tags:
        - Status and search
      summary: Search submit
      description: |-
        Authorised entity such as NHA or IRDAI sends a Task to retrieve claim information for a case; the payer returns the documents on the search callback.

        ### Business purpose

        Regulators and scheme authorities need to see what was actually claimed and decided for a given case without being a party to the original exchange. The Search API is that privileged pull path: an authorised entity submits a Task naming the case, and the payer supplies the claim documents. It supports oversight, audit and dispute review, and it lets payers answer such requests through the same encrypted, correlated channel as everything else on NHCX. The documented callers are NHA and IRDAI; a provider integration usually implements only the responding side.

        ### When to use

        Use it when an authorised entity needs the claim documents for a known case number, for example during a regulatory audit or a dispute. It is a pull, not a lifecycle step, and sits outside the workflow-code sequence. The protected header's x-hcx-correlation_id carries the correlation id of the request being queried, and x-hcx-status is request.initiated. The result arrives asynchronously on /v1/search/on_submit with task type code=poll; if the search is for a claim document, the callback payload is the ClaimResponse for the reference number.

        ### Preconditions

        - The caller is an entity authorised to search claim information (the source names NHA and IRDAI) and is registered on NHCX with a valid Bearer token.
        - Request body is a JWE per RFC-7516 with protocol headers per the ProtocolHeader schema.
        - Domain payload is an encrypted Task built per the TaskBundle, with the entity being queried referenced in the about element using the sender's reference id.
        - Protected header carries sender_code, recipient_code, a fresh api_call_id, the correlation id of the request being queried, an IST timestamp and status request.initiated.
        - HTTP headers Accept, Content-Type and bearer_auth.

        ### Postconditions

        The gateway returns HTTP 202 with a StatusSuccessResponse (timestamp, api_call_id, correlation_id, result with sender_code, recipient_code, entity_type and protocol_status, and error), or 400, 404 or 500 in the same envelope. It forwards the Task to the payer, who responds later on /v1/search/on_submit with the claim document: a ClaimResponse whose basedOn carries the sender's reference id and whose about carries the recipient's reference id and the current status of the response entity. No case state changes; Search only reads.

        ### Common mistakes

        - Using Search as a general status lookup; Status answers where a request is, Search returns documents.
        - Sending a CommunicationRequest as the domain payload; Search uses a Task (Status is the one that uses CommunicationRequest).
        - Forgetting the about reference with the sender's reference id, leaving the payer with nothing to search for (PAYR-1102 Invalid search parameter requested).
        - Minting a new correlation id rather than carrying the one for the request being queried.
        - Calling it from a participant that is not an authorised entity; the description scopes it explicitly.
        - Expecting the documents in the synchronous 202.

        ### Best practices

        - Reference the case in Task.about using the sender's own reference id and keep it consistent with the correlation id you carry.
        - Persist the correlation id so the on_submit result can be matched.
        - Use fresh api_call_id values, IST timestamps and request.initiated on the outbound header.
        - Handle 404 as a signal that the correlation id is unknown to the gateway, not as a retry trigger.
        - Implement v1/error and the on_submit receiver before submitting searches.

        ### Related scenario

        A scheme authority reviewing a grievance about a rejected claim needs the payer's adjudication record. Its integration posts /v1/search/submit with a Task whose about element names the case and whose header carries the claim's correlation id. The gateway acknowledges with 202 and forwards the Task to the payer. The payer's system locates the ClaimResponse for the reference number and returns it on /v1/search/on_submit with basedOn holding the authority's reference and about holding the payer's reference and current status. The authority then compares it with the provider's original /v1/claim/submit bundle.

        ### Specification

        Chapter [NHCX adapter (Optional)](/docs/nhcx/v1/getting-started/nhcx-adapter) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - name: x-hcx-correlation_id
          in: header
          required: true
          description: The thread. See the rule below. Mandatory on the envelope.
          schema:
            type: string
          example: <uuid>
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiJOSEExQGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: The gateway returns HTTP 202 with a StatusSuccessResponse (timestamp, api_call_id, correlation_id, result with sender_code, recipient_code, entity_type and protocol_status, and error), or 400, 404 or 500 in the same envelope.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 25/08/2026 14:00:00:098
                api_call_id: f6a7b8c9-d0e1-2345-f012-456789012345
                correlation_id: 33445566-7788-99aa-bbcc-ddeeff001122
                result:
                  sender_code: 1000004446@hcx
                  recipient_code: 1518@hcx
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  /v1/search/on_submit:
    post:
      operationId: status_v1_search_on_submit
      x-abdm-atom: nhcx.endpoint.search-on-submit
      x-abdm-use-case: Status and search
      tags:
        - Status and search
      summary: Search result callback
      description: |-
        Callback returning a search result for task type code=poll; for a claim-document search the payload is the ClaimResponse for the reference number.

        ### Business purpose

        This is how a payer answers an authorised entity's search. It completes the oversight loop: the regulator or scheme authority asked for the claim documents for a case, and the payer returns the adjudication record through NHCX rather than by email or portal download. That keeps the answer encrypted, correlated to the original request and auditable. Providers benefit indirectly, because disputes and audits can be resolved from the record of what was actually submitted and decided rather than from reconstructed paperwork.

        ### When to use

        The payer calls it after receiving a /v1/search/submit Task, acknowledging it with 202 within 30 seconds and locating the requested documents. The task type code=poll is the discriminator that tells the recipient this is a search poll and not another Task-driven flow. For a claim document the domain payload is the ClaimResponse for the reference number, with basedOn holding the sender's reference id and about holding the recipient's reference id and the current status. Carry the same x-hcx-correlation_id as the search and a responder status such as response.complete.

        ### Preconditions

        - The inbound search Task was decrypted and its correlation id, status and workflow id captured; the 202 acceptance body was already returned.
        - The payer is a registered participant with a valid Bearer token and the requester's certificate for encryption.
        - The response is a JWE whose plaintext carries the ClaimResponse (for claim-document searches) with basedOn and about populated as documented; the loosely typed HcxOnSearchBody requires only a type property.
        - Protected header echoes the search's x-hcx-correlation_id, carries a fresh api_call_id, an IST timestamp and a responder status.

        ### Postconditions

        The gateway returns HTTP 202 with the StatusSuccessResponse envelope (or 400, 404, 500 in the same shape) and delivers the result to the requester's registered endpoint, which must acknowledge with 202 within 30 seconds. The requester reads the recipient's reference id and the current status of the response entity from the about element. Nothing about the underlying claim changes; the search is read-only. The endpoint is tagged V1.0 APIs-Provider side because the callback is delivered to the provider side of the exchange, with operationId hcxOnSearchPost.

        ### Common mistakes

        - Returning the search result in the synchronous 202 instead of on this callback.
        - Minting a new correlation id on the response so the requester cannot match it (NHCX-1010).
        - Omitting basedOn or about, or swapping them: basedOn carries the sender's id, about the recipient's id and current status.
        - Sending a Task or bare Bundle where the claim-document search expects the ClaimResponse resource.
        - Reading the ClaimResponse outcome as approval without checking adjudication; a rejected claim still carries outcome complete.
        - Missing the 30-second window on the inbound search, which causes redeliveries.

        ### Best practices

        - Key the search on the sender's reference id from Task.about and echo it in basedOn.
        - Populate about with your own reference id and the current status so the requester needs no further call.
        - Return 202 to the inbound search first, resolve documents asynchronously, then post this callback.
        - Be idempotent on correlation id; the same search may be redelivered up to five times.
        - Use a fresh api_call_id, IST timestamp and a responder status from response.complete, response.partial or response.error.

        ### Related scenario

        An insurer receives a search Task from the scheme authority for a claim its TPA rejected last quarter. The gateway-facing endpoint acknowledges with 202, and a worker retrieves the stored ClaimResponse for the reference number. The TPA posts /v1/search/on_submit with the ClaimResponse, basedOn set to the authority's reference id and about set to the insurer's claim id and current status, under the same correlation id as the search. The authority's system acknowledges within 30 seconds and the reviewer compares the adjudication against the provider's original claim and any reprocess Task submitted on /v1/task/submit.

        ### Specification

        Chapter [NHCX adapter (Optional)](/docs/nhcx/v1/getting-started/nhcx-adapter) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - name: x-hcx-correlation_id
          in: header
          required: true
          description: The thread. See the rule below. Mandatory on the envelope.
          schema:
            type: string
          example: <uuid>
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxNTE4QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: The gateway returns HTTP 202 with the StatusSuccessResponse envelope (or 400, 404, 500 in the same shape) and delivers the result to the requester's registered endpoint, which must acknowledge with 202 within 30 seconds.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 25/08/2026 14:20:00:341
                api_call_id: a7b8c9d0-e1f2-3456-0123-567890123456
                correlation_id: 33445566-7788-99aa-bbcc-ddeeff001122
                result:
                  sender_code: 1518@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: task
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
webhooks:
  v1_status:
    post:
      operationId: status_webhook_v1_status
      x-abdm-atom: nhcx.callback.status
      x-abdm-triggered-by: status_v1_status
      x-abdm-use-case: Webhooks
      tags:
        - Status and search
      summary: Receive status check
      description: |-
        Hosted by the payer. The exchange posts this message to the `endpoint_url` you registered, at `/v1/status`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Sender asks NHCX where its own in-flight request stands; the gateway answers request.queued or request.dispatched, and only dispatched yields a callback.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - $ref: "#/components/parameters/XHcxCorrelationId"
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxMDAwMDA0NDQ2QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  v1_search_submit:
    post:
      operationId: status_webhook_v1_search_submit
      x-abdm-atom: nhcx.callback.search-submit
      x-abdm-triggered-by: status_v1_search_submit
      x-abdm-use-case: Webhooks
      tags:
        - Status and search
      summary: Receive search submit
      description: |-
        Hosted by the payer. The exchange posts this message to the `endpoint_url` you registered, at `/v1/search/submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Authorised entity such as NHA or IRDAI sends a Task to retrieve claim information for a case; the payer returns the documents on the search callback.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/XHcxSenderCode"
        - $ref: "#/components/parameters/XHcxRecipientCode"
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - name: x-hcx-correlation_id
          in: header
          required: true
          description: The thread. See the rule below. Mandatory on the envelope.
          schema:
            type: string
          example: <uuid>
        - $ref: "#/components/parameters/XHcxTimestamp"
        - $ref: "#/components/parameters/XHcxStatus"
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiJOSEExQGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
  v1_search_on_submit:
    post:
      operationId: status_webhook_v1_search_on_submit
      x-abdm-atom: nhcx.callback.search-on-submit
      x-abdm-triggered-by: status_v1_search_on_submit
      x-abdm-use-case: Webhooks
      tags:
        - Status and search
      summary: Receive search result callback
      description: |-
        Hosted by the provider. The exchange posts this message to the `endpoint_url` you registered, at `/v1/search/on_submit`, with the headers and the sealed payload the sender posted. Answer HTTP 202 with the receipt first and process afterwards; [Receiving a callback](/docs/nhcx/v1/getting-started/receiving-a-callback) has the rules.

        Callback returning a search result for task type code=poll; for a claim-document search the payload is the ClaimResponse for the reference number.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: x-hcx-sender_code
          in: header
          required: true
          description: Your participant code. Mandatory on the envelope.
          schema:
            type: string
          example: 1518@hcx
        - name: x-hcx-recipient_code
          in: header
          required: true
          description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
          schema:
            type: string
          example: 1000004446@hcx
        - $ref: "#/components/parameters/XHcxApiCallId"
        - $ref: "#/components/parameters/XHcxRequestId"
        - name: x-hcx-correlation_id
          in: header
          required: true
          description: The thread. See the rule below. Mandatory on the envelope.
          schema:
            type: string
          example: <uuid>
        - $ref: "#/components/parameters/XHcxTimestamp"
        - name: x-hcx-status
          in: header
          required: true
          description: Where this message stands. Values below. Mandatory on the envelope.
          schema:
            type: string
          example: response.complete
        - $ref: "#/components/parameters/XHcxBenAbhaId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                payload:
                  type: string
            example:
              payload: eyJhbGciOiJSU0EtT0FFUC0yNTYiLCJlbmMiOiJBMjU2R0NNIiwieC1oY3gtc2VuZGVyX2NvZGUiOiIxNTE4QGhjeCJ9.encrypted_key.iv.ciphertext.tag
      responses:
        "202":
          description: Received. The receipt names the message it answers; the answer itself follows as a call of your own.
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: string
                  api_call_id:
                    type: string
                  correlation_id:
                    type: string
                  result:
                    type: object
                    properties:
                      sender_code:
                        type: string
                      recipient_code:
                        type: string
                      entity_type:
                        type: string
                      protocol_status:
                        type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
              example:
                timestamp: 04/09/2026 11:46:41:305
                api_call_id: <from the incoming header>
                correlation_id: <from the incoming header>
                result:
                  sender_code: 1000003538@hcx
                  recipient_code: 1000004446@hcx
                  entity_type: preauth
                  protocol_status: request.queued
                error:
                  code: ""
                  message: ""
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "On every NHCX call, the token goes in a header called `bearer_auth`, with the word `Bearer` and a space in front. The sources are not unanimous: the authentication page and the FAQ both write the example as `Authorization`, and the notification endpoint uses `Authorization`. The safe course, and what the adapter does, is to send both headers with the same value."
  parameters:
    BearerAuth:
      name: bearer_auth
      in: header
      required: true
      description: It is `bearer_auth`, not `Authorization`, on NHCX's own endpoints.
      schema:
        type: string
      example: Bearer <access token>
    XHcxSenderCode:
      name: x-hcx-sender_code
      in: header
      required: true
      description: Your participant code. Mandatory on the envelope.
      schema:
        type: string
      example: 1000004446@hcx
    XHcxRecipientCode:
      name: x-hcx-recipient_code
      in: header
      required: true
      description: The recipient's. For a provider, the processor code from the policy lookup. Mandatory on the envelope.
      schema:
        type: string
      example: 1518@hcx
    XHcxApiCallId:
      name: x-hcx-api_call_id
      in: header
      required: true
      description: Fresh on every message, including responses. Mandatory on the envelope.
      schema:
        type: string
      example: <uuid>
    XHcxRequestId:
      name: x-hcx-request_id
      in: header
      required: false
      description: One per originating request. The Open Protocol page marks it Mandatory; the Technical Specifications page marks it Optional. Optional on the envelope.
      schema:
        type: string
      example: <uuid>
    XHcxCorrelationId:
      name: x-hcx-correlation_id
      in: header
      required: true
      description: The thread. See the rule below. Mandatory on the envelope.
      schema:
        type: string
      example: <original api call id>
    XHcxTimestamp:
      name: x-hcx-timestamp
      in: header
      required: true
      description: See the format note below. Mandatory on the envelope.
      schema:
        type: string
      example: <iso timestamp>
    XHcxStatus:
      name: x-hcx-status
      in: header
      required: true
      description: Where this message stands. Values below. Mandatory on the envelope.
      schema:
        type: string
      example: request.initiated
    XHcxBenAbhaId:
      name: x-hcx-ben-abha-id
      in: header
      required: true
      description: The beneficiary's ABHA number. Mandatory on every exchange, including those with no beneficiary in the payload. Mandatory on the envelope.
      schema:
        type: string
      example: "91711234567890"
x-abdm-errors:
  notes: "Codes any exchange call can meet are recorded once, in the [Other](/docs/nhcx/v1/api/other) specification: the gateway's NHCX- codes, the standard payer codes, and the reference payer's structure and transport codes. The reference payer's other codes sit with the exchange they reject: coverage eligibility, preauthorisation, claim and insurance plan. [Reading error codes](/docs/nhcx/v1/reference/error-code-guide) explains the code spaces."
