# NHCX onboarding, from the NHCX package's Bruno folder apis/11-onboarding.
#
# Written by the package's system/build-ekadocs.mjs (make ekadocs); change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: onboarding
    label: Onboarding
    position: 11
  title: NHCX onboarding
  summary: Nothing moves through NHCX until both the sender and the recipient exist in the participant registry, which the platform treats as the source of truth for who may exchange claims data.
  description: |-
    The Onboarding calls on the National Health Claims Exchange (NHCX): 5 operations.

    Nothing moves through NHCX until both the sender and the recipient exist in the participant registry, which the platform treats as the source of truth for who may exchange claims data.

    Guides that use these calls: [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant).
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: onboarding
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/11-onboarding
    role: upstream
    hash: sha256:41195ab9975347123e36e509ad940f4fe77c467855d32dad802e46eb78e9c10e
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:47d8412abbfc53b1e1038410e7980eee029d7b1be5082f4ae6c1d4e16ae0dd0f
    note: The sandbox and production hosts.
servers:
  - url: https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice
    description: Sandbox, Participant service.
  - url: https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice
    description: Production.
tags:
  - name: Onboarding
    description: Nothing moves through NHCX until both the sender and the recipient exist in the participant registry, which the platform treats as the source of truth for who may exchange claims data.
security:
  - bearerAuth: []
paths:
  /participant/create:
    post:
      operationId: onboarding_participant_create
      x-abdm-use-case: Onboarding
      tags:
        - Onboarding
      summary: Participant create (v1)
      description: |-
        Creates a participant record in the NHCX registry from a full v1 profile and returns the generated participant_code.

        ### Business purpose

        Nothing moves through NHCX until both the sender and the recipient exist in the participant registry, which the platform treats as the source of truth for who may exchange claims data. This call is the original, full-profile way to register a hospital, insurer or TPA: it captures the organisation's name, roles, contact points, linked registry identifiers, callback endpoint and public encryption certificate in one record. The registry then issues the participant_code that every later transaction is addressed with.

        ### When to use

        Call it once, at onboarding time, before any transaction API is attempted. The FAQ base-URL table lists this path (not the v2 form) as the sandbox Create Participant API at https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice/participant/create, whereas production onboarding is documented against /v2/participant/create followed by GET /validate. It is a plain synchronous registry call; no NHCX workflow or x-hcx-status codes are involved. If the organisation later rotates its certificate or moves its callback URL, use /participant/update or /v2/update/cert rather than creating again.

        ### Preconditions

        - Sandbox or production access has been granted through the semi-manual registration review, so you hold a client_id and client_secret.
        - A valid Bearer token from POST /get/session, sent with the Bearer prefix in the bearer_auth (Authorization) header, plus Accept: application/json and Content-Type: application/json.
        - Required body fields of ParticipantCreateBody: linked_registry_codes, participant_name, registryid, roles, primaryEmail, primaryMobile, encryption_cert and endpoint_url. The certificate is mandatory at creation, so generate the 2048-bit RSA key pair and self-signed X.509 certificate first and Base64-encode it.
        - Correct registry ID for your type: HFR ID for providers, IRDAI-issued ID for payers and TPAs.

        ### Postconditions

        On success the registry returns HTTP 200 with ParticipantCreateResponse containing only participant_code, described as the machine-generated unique identifier of the participant on the HCX instance; sandbox codes look like 100001@sbx and production codes like XXXXX7583@hcx. There is no asynchronous callback. The new record carries a status (Created, Active, Inactive or Blocked in the architecture description) that the gateway checks on every routing leg, so the code is not usable for transactions until the instance activates it. Failures return 400 Client Error, 404 Resource not found or 500 with the ErrorResponse envelope (timestamp plus error code, message and trace).

        ### Common mistakes

        - Passing the wrong registry ID: providers must send the HFR ID, payers the IRDAI ID with leading zeros stripped (0123 becomes 123).
        - Mixing field casing across generations: this v1 body is snake_case (participant_code, encryption_cert, endpoint_url); copying v2 names such as endpointurl yields a 400.
        - Omitting the Accept header or the Bearer prefix on the token, which surfaces as a rejection before business logic or a flat 401.
        - Registering an endpoint_url that is an IP address or carries a port; the callback URL must be a domain name on an India-based server with the NHCX NAT IPs whitelisted.
        - Submitting the raw PEM instead of the Base64-encoded certificate.

        ### Best practices

        - Keep the private key generated alongside the certificate in PKCS8 form locally; only the certificate (public half) is registered.
        - Store the returned participant_code as configuration; it becomes x-hcx-sender_code on every outbound message and the value payers use in /fetch/certs.
        - Do not re-run create to fix a field; the registry is updated with /participant/update, and an entity can legitimately hold several participant codes only when each is linked to a separate HFR ID.
        - Log the request minus the certificate body and never log the bearer token or client_secret.
        - Treat host and prefix as one environment variable; sandbox codes and credentials do not carry into production.

        ### Related scenario

        A 200-bed hospital has been approved for the NHCX sandbox and received its client credentials. The integration team first calls POST /get/session to obtain a Bearer token, then generates an RSA key pair and self-signed certificate. They call /participant/create with the hospital's HFR ID as registryid, role PROVIDER, the Base64 certificate and their callback base URL. The registry returns participant_code 100001@sbx. With that code in hand the team calls /fetch/participants/list to find the dummy payer 1000003538@hcx and /fetch/certs to obtain its certificate, and only then sends the first /v1/coverageeligibility/check.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - $ref: "#/components/parameters/Source"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                linked_registry_codes:
                  type: array
                  items:
                    type: string
                registryid:
                  type: string
                participant_name:
                  type: string
                scheme_code:
                  type: string
                state:
                  type: string
                district:
                  type: string
                roles:
                  type: array
                  items:
                    type: string
                primaryEmail:
                  type: string
                phone:
                  type: array
                  items:
                    type: string
                primaryMobile:
                  type: string
                signing_cert_path:
                  type: string
                encryption_cert:
                  type: string
                endpoint_url:
                  type: string
            example:
              linked_registry_codes:
                - "10001"
              registryid: <client id>
              participant_name: Test Hospital
              scheme_code: PMJAY
              state: Haryana
              district: Panchkula
              roles:
                - "10001"
              primaryEmail: integration@hospital.example
              phone:
                - "01123456789"
              primaryMobile: "9876543210"
              signing_cert_path: ""
              encryption_cert: <encryption cert>
              endpoint_url: https://nhcx.hospital.example
      responses:
        "200":
          description: On success the registry returns HTTP 200 with ParticipantCreateResponse containing only participant_code, described as the machine-generated unique identifier of the participant on the HCX instance; sandbox codes look like 100001@sbx and production codes like XXXXX7583@hcx.
          content:
            application/json:
              schema:
                type: object
                properties:
                  participant_code:
                    type: string
              example:
                participant_code: 100001@sbx
  /v2/participant/create:
    post:
      operationId: onboarding_v2_participant_create
      x-abdm-use-case: Onboarding
      tags:
        - Onboarding
      summary: Participant create (v2)
      description: |-
        Registry-linked creation: registry type and ID, role codes, endpoint URL and contacts; returns participantid and a transactionid for /validate.

        ### Business purpose

        Production onboarding needs to prove that the organisation registering on NHCX is the same one already known to an external authority (the ABDM Health Facility Registry for hospitals, the IRDAI registry for insurers and TPAs). The v2 create therefore takes a thin, registry-linked payload rather than a full profile, validates the mobile number against the number held in HFR or the NHCX payer details, and sends a one-time passcode to that number. This is step 1 of the four-step production sequence and is what turns a verified facility into an addressable NHCX participant.

        ### When to use

        Use at production onboarding after sandbox certification has been reviewed and credentials issued; the documented URL is https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice/v2/participant/create. It is always followed by GET /validate with the returned transactionid and the SMS passcode, which must happen within 24 hours. In the sandbox the FAQ lists the unversioned /participant/create instead. No NHCX workflow codes or x-hcx-status values apply; this is a synchronous JSON call outside the JWE protocol.

        ### Preconditions

        - Production (or sandbox) credentials and a fresh Bearer token in bearer_auth with the Bearer prefix; Accept and Content-Type set to application/json.
        - registrytype from the Valid Registry Enums: HFR 10001, NIN 10002, ROHINI 10003, PAYER 10004 (HFR/EUA use 10001, PAYER/TPA use 10004).
        - role as an array from the Valid Role Enums: PROVIDER 10001, PAYER 10002, AGENCY_TPA 10003, EUA 10009, among others.
        - registryid formatted correctly: HFR ID for providers; IRDAI ID with leading zeros stripped for payers.
        - mobilenumber already registered with HFR (providers) or NHCX payer details (payers); both must match for the call to succeed.
        - Required fields: registrytype, registryid, role, endpointurl, mobilenumber, email; scheme_code is optional.

        ### Postconditions

        HTTP 200 with ParticipantCreateV2Resp: participantid, facilityname, facilitycontact and facilityemail echoed from the linked registry, a transactionid such as 1vouv8tlz2tnl-1fpspjhwj07c6, and an error object (code, message, trace). A passcode is sent by SMS to the registered mobile number. The participant is not confirmed until GET /validate?transactionId=&passcode= succeeds; the transaction id and passcode are valid for 24 hours and each re-trigger generates a new pair. Only after creation confirmation can /v2/participant/update be used to upload the certificate and endpoint. Failures use the standard 400/404/500 ErrorResponse envelope.

        ### Common mistakes

        - Confusing the two 10001 enums: 10001 is PROVIDER as a role and HFR/EUA as a registry type; they are different fields.
        - Sending the IRDAI registry ID with leading zeros (0123 instead of 123), which the NHA lists as a frequent production failure.
        - Using a mobile number that does not match the one on record in HFR or the NHCX payer details; the validation requires an exact match.
        - Losing the transactionid: if it is forgotten, the only recovery is to create the request again, which issues a new passcode.
        - Letting the 24-hour validity lapse before calling /validate.
        - Sending the v1 snake_case body or expecting a participant_code key; this response uses participantid.

        ### Best practices

        - Persist transactionid immediately, together with the timestamp, so the /validate step can be completed by whoever holds the registered phone.
        - Verify the mobile number and registry ID against HFR or IRDAI records before calling; the check is strict and every failed attempt is a manual round trip.
        - Treat the error object in a 200 response as meaningful and surface it to the operator rather than assuming success from the HTTP status alone.
        - Do not retry blindly: each call generates a new transaction id and passcode and invalidates the plan to confirm the previous one.
        - Keep sandbox and production credentials, hosts and participant codes strictly separate.

        ### Related scenario

        An insurer's TPA has cleared sandbox certification and received production credentials. Its integrator obtains a Bearer token, then calls /v2/participant/create with registrytype 10004, the IRDAI-issued registry ID (leading zeros stripped), role ["10003"], the production callback base URL and the mobile number the NHA has on file. The response returns participantid, the facility details and transactionid 1vouv8tlz2tnl-1fpspjhwj07c6, and an SMS passcode reaches the compliance officer's phone. Within the hour the team calls GET /validate with both values to confirm creation, then proceeds to /v2/participant/update to publish its encryption certificate.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                registrytype:
                  type: string
                registryid:
                  type: string
                role:
                  type: array
                  items:
                    type: string
                endpointurl:
                  type: string
                mobilenumber:
                  type: string
                email:
                  type: string
            example:
              registrytype: "10001"
              registryid: XXXXX74586
              role:
                - "10001"
              endpointurl: https://nhcx.demohospital.example.in
              mobilenumber: XXXX748348
              email: sample@gmail.com
      responses:
        "200":
          description: "HTTP 200 with ParticipantCreateV2Resp: participantid, facilityname, facilitycontact and facilityemail echoed from the linked registry, a transactionid such as 1vouv8tlz2tnl-1fpspjhwj07c6, and an error object (code, message, trace)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  participantid:
                    type: string
                  facilityname:
                    type: string
                  facilitycontact:
                    type: string
                  facilityemail:
                    type: string
                  transactionid:
                    type: string
                  error:
                    type: object
                    properties:
                      code:
                        type: string
                      message:
                        type: string
                      trace:
                        type: string
              example:
                participantid: XXXXX7583@hcx
                facilityname: Demo Multispeciality Hospital
                facilitycontact: XXXX748348
                facilityemail: sample@gmail.com
                transactionid: 1vouv8tlz2tnl-1fpspjhwj07c6
                error:
                  code: ""
                  message: ""
                  trace: ""
  /v2/participant/hementity/create:
    post:
      operationId: onboarding_v2_participant_hementity_create
      x-abdm-use-case: Onboarding
      tags:
        - Onboarding
      summary: HEM-entity participant create
      description: |-
        Creates a hospital (HEM-entity) participant from the full empanelment payload (bank, tax, beds, specialities, doctors); returns status and hospitalid.

        ### Business purpose

        Government scheme empanelment needs far more than a name and a certificate: a hospital must be identified by scheme, state and district, carry bank details for settlement, tax identifiers for deduction handling, and descriptive data such as hospital type, bed strength, accreditation, specialities and doctors. This endpoint captures that full hospital-empanelment profile in one registry call so the payer side can settle and audit against it. It exists alongside the thinner v2 create because scheme onboarding (for example PMJAY) involves configuration that regular private-insurance onboarding does not.

        ### When to use

        Use during scheme-specific hospital onboarding when the operator directs you to the HEM-entity form rather than the registry-linked /v2/participant/create. It shares the create description with the other two create endpoints, but the OpenAPI schemas differ materially, so it is not a drop-in alternative. It is a synchronous registry call with no workflow or x-hcx-status codes. The docs do not state whether a passcode confirmation via /validate follows; the response carries no transactionid, so plan the approval step with your onboarding contact.

        ### Preconditions

        - Bearer token with the Bearer prefix in bearer_auth, plus Accept and Content-Type: application/json.
        - Required ParticipantCreateBodyV2 fields: participant_name, scheme_code, state, district, entityid, bankdetails, participantcode, hospitaltype, incentiveCode, hospitalbedstrength, lab_yn, roles, specialityList, primaryEmail, primaryMobile, encryption_cert, endpoint_url.
        - BankDetails requires facilitybankaccountname, authorizedsignatoryname, bankaccountnumber, ifsccode, bankname, bankbranchname, bankaddress, micrcode and accounttype; upiid, paymenttype and mailid are optional.
        - If taxdetails is supplied, pannumber, tannumber and gstnumber are all required within it.
        - A Base64-encoded self-signed X.509 encryption certificate and a domain-name callback URL.

        ### Postconditions

        HTTP 200 with ParticipantCreateResponseV2 containing status and hospitalid. Unlike the other two create calls, the response does not return a participant code, despite the shared description; the participantcode you supplied in the body is the identifier the record is keyed on. There is no asynchronous callback. Errors follow the registry envelope of 400 Client Error, 404 Resource not found and 500 Downstream systems down, each with ErrorResponse (timestamp, error code, message, trace).

        ### Common mistakes

        - Expecting a participant_code in the response and failing to persist the hospitalid that is actually returned.
        - Leaving out nested required fields, especially inside bankdetails, or supplying taxdetails with only some of pannumber, tannumber and gstnumber.
        - Mixing field naming: this schema uses snake_case for participant_name, scheme_code and encryption_cert but flattened lowercase for participantcode and hospitalbedstrength; copy names exactly from the schema.
        - Sending the PEM certificate without Base64 encoding.
        - Registering an endpoint_url with an IP address or port, which fails the go-live reachability checks.

        ### Best practices

        - Build the payload from the schema field by field and validate nested objects (BankDetails, HospitalDoctorDetails, IncentiveRequest) before sending; a 400 does not point at the offending nested field.
        - Collect bank, tax, MICR and IFSC values from the finance team in advance; they are mandatory and settlement depends on them.
        - Keep the private key that pairs with encryption_cert in PKCS8 form on the callback host only.
        - Never log the full request; it contains bank account and tax identifiers.
        - Confirm with the onboarding operator whether a passcode approval step applies, since the response has no transactionid to pair with /validate.

        ### Related scenario

        A district hospital being empanelled under a state scheme is asked to register as an HEM entity. The hospital's IT partner obtains a Bearer token and assembles the full payload: scheme_code, state and district, bed strength, hospital type, speciality list, doctor roster, bank details for settlement and PAN, TAN and GST numbers, plus the Base64 certificate and callback URL. They call /v2/participant/hementity/create and receive status and hospitalid. The record is then available to the scheme payer via /participant/search, and the hospital moves on to fetching the payer's certificate with /fetch/certs before sending its first pre-authorisation.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_name:
                  type: string
                participantcode:
                  type: string
                scheme_code:
                  type: string
                state:
                  type: string
                district:
                  type: string
                entityid:
                  type: string
                hospitaltype:
                  type: string
                incentiveCode:
                  type: string
                hospitalbedstrength:
                  type: string
                lab_yn:
                  type: string
                roles:
                  type: array
                  items:
                    type: string
                specialityList:
                  type: array
                  items:
                    type: string
                primaryEmail:
                  type: string
                primaryMobile:
                  type: string
                encryption_cert:
                  type: string
                endpoint_url:
                  type: string
                bankdetails:
                  type: object
                  properties:
                    facilitybankaccountname:
                      type: string
                    authorizedsignatoryname:
                      type: string
                    bankaccountnumber:
                      type: string
                    ifsccode:
                      type: string
                    bankname:
                      type: string
                    bankbranchname:
                      type: string
                    bankaddress:
                      type: string
                    micrcode:
                      type: string
                    accounttype:
                      type: string
                taxdetails:
                  type: object
                  properties:
                    pannumber:
                      type: string
                    tannumber:
                      type: string
                    gstnumber:
                      type: string
            example:
              participant_name: District Hospital Demo
              participantcode: XXXXX7583@hcx
              scheme_code: PMJAY
              state: Karnataka
              district: Mysuru
              entityid: IN2910001234
              hospitaltype: Public
              incentiveCode: NABH
              hospitalbedstrength: "200"
              lab_yn: Y
              roles:
                - provider
              specialityList:
                - General Medicine
                - General Surgery
              primaryEmail: claims@districthospital.example.in
              primaryMobile: "9800000000"
              encryption_cert: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t...
              endpoint_url: https://nhcx.districthospital.example.in
              bankdetails:
                facilitybankaccountname: District Hospital Demo
                authorizedsignatoryname: Medical Superintendent
                bankaccountnumber: "000000000000"
                ifsccode: SBIN0000000
                bankname: State Bank of India
                bankbranchname: Mysuru Main
                bankaddress: Mysuru, Karnataka
                micrcode: "570002000"
                accounttype: Current
              taxdetails:
                pannumber: AAAAA0000A
                tannumber: BLRA00000A
                gstnumber: 29AAAAA0000A1Z5
      responses:
        "200":
          description: HTTP 200 with ParticipantCreateResponseV2 containing status and hospitalid.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  hospitalid:
                    type: string
              example:
                status: Created
                hospitalid: H00012345
  /validate:
    get:
      operationId: onboarding_validate
      x-abdm-use-case: Onboarding
      tags:
        - Onboarding
      summary: Validate participant creation
      description: |-
        Confirms a participant creation by presenting the SMS passcode and the transactionId returned by /v2/participant/create.

        ### Business purpose

        Registering an organisation on a national claims exchange must be authorised by someone who actually controls that organisation's registered contact channel. The create call therefore only stages the record and sends a passcode to the mobile number held in HFR or the NHCX payer details; this validation call closes the loop by proving possession of that passcode. It is step 2 of the four-step production onboarding sequence and is what turns a staged participant into a confirmed one.

        ### When to use

        Call it after /v2/participant/create has returned a transactionid and the passcode has arrived by SMS, and before attempting /v2/participant/update, whose validations require that creation confirmation is already completed. The production URL is https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice/validate?transactionId=""&passcode="". The pair is valid for 24 hours. It is one of only three GET operations in the participant service and carries no workflow or x-hcx-status codes.

        ### Preconditions

        - A completed /v2/participant/create whose response supplied the transactionid.
        - The passcode delivered to the registered mobile number for that specific transaction; passcodes are bound to a transaction id and cannot be reused across attempts.
        - Both values presented as query parameters passcode and transactionId within 24 hours of the create call.
        - A Bearer token in bearer_auth with the Bearer prefix and Accept: application/json, as for every registry call.

        ### Postconditions

        HTTP 200 with a bare string body; the OpenAPI declares the 200 response type as string and the operation (particiapntValidate) as validating approval from the participant for participant creation. The participant is now confirmed in the registry and satisfies the precondition for /v2/participant/update, which uploads the encryption certificate and callback endpoint. There is no asynchronous callback. A wrong or expired passcode, or an unknown transaction id, returns the registry ErrorResponse envelope on 400 or 404.

        ### Common mistakes

        - Waiting more than 24 hours; both the transaction id and the passcode expire and the create call must be repeated.
        - Re-triggering /v2/participant/create while a passcode is pending, which issues a new transaction id and passcode and orphans the earlier pair.
        - Using a passcode from a different transaction id; passcodes are specific to the transaction that generated them.
        - Calling /update/validate by mistake; that endpoint confirms updates, not creation.
        - Losing the transaction id: the documented recovery is to create the request again.

        ### Best practices

        - Treat the passcode like a one-time credential: never log it, and hand it from the phone holder to the integrator through a controlled channel.
        - Store transactionid with a 24-hour expiry so the operator dashboard can show whether confirmation is still possible.
        - Send parameters as query string values on a GET; there is no JSON body.
        - After success, proceed straight to /v2/participant/update so the certificate and endpoint are in place before any counterparty tries to fetch them.

        ### Related scenario

        A hospital's production onboarding started with /v2/participant/create, which returned transactionid 1vouv8tlz2tnl-1fpspjhwj07c6 and triggered a passcode to the medical superintendent's registered phone. The superintendent reads the passcode to the integration engineer, who calls GET /validate?transactionId=1vouv8tlz2tnl-1fpspjhwj07c6&passcode=482913 with the Bearer token. The registry returns 200 and the participant is confirmed. The engineer then calls /v2/participant/update with the Base64 certificate and callback URL, and completes that change with /update/validate.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: transactionId
          in: query
          required: true
          schema:
            type: string
          example: <transaction id>
        - name: passcode
          in: query
          required: true
          schema:
            type: string
          example: <passcode>
      responses:
        "200":
          description: HTTP 200 with a bare string body; the OpenAPI declares the 200 response type as string and the operation (particiapntValidate) as validating approval from the participant for participant creation.
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: <confirmation string as declared by the OpenAPI 200 response>
  /update/validate:
    get:
      operationId: onboarding_update_validate
      x-abdm-use-case: Onboarding
      tags:
        - Onboarding
      summary: Validate participant update
      description: |-
        Confirms a participant update by presenting the SMS passcode and the transactionId returned by /v2/participant/update.

        ### Business purpose

        Changing a participant's encryption certificate or callback endpoint changes where encrypted claims data is delivered and who can decrypt it, so the registry does not apply such updates on an API call alone. /v2/participant/update stages the change and sends a passcode to the registered mobile number; this call confirms it. It is step 4 of the production onboarding sequence and the same approval mechanism protects every later certificate or bridge rotation done through the v2 update.

        ### When to use

        Call it after /v2/participant/update returns a transactionid and the passcode arrives by SMS, within the 24-hour validity window. The production URL is https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice/update/validate?transactionId=""&passcode="". It is also the closing step of the annual key-rotation checklist when rotation is done via /v2/participant/update. The passcode-free alternative for certificate-only changes is /v2/update/cert. No workflow or x-hcx-status codes apply.

        ### Preconditions

        - The participant is already registered and its creation was confirmed via /validate.
        - A completed /v2/participant/update that returned a transactionid, with the matching passcode received on the registered mobile number.
        - The call is made within 24 hours; each new update trigger generates a new transaction id and passcode.
        - Bearer token with the Bearer prefix in bearer_auth and Accept: application/json; parameters go in the query string.

        ### Postconditions

        HTTP 200 with a bare string body (operation particiapntUpdateValidate, response type string). The staged certificate and endpoint URL become the participant's live registry values, which is what counterparties will receive from /fetch/certs and what the gateway will use for callback delivery. There is no asynchronous callback. Errors return the registry ErrorResponse envelope with 400, 404 or 500.

        ### Common mistakes

        - Assuming the update is live as soon as /v2/participant/update returns; until this call succeeds counterparties may still fetch the old certificate.
        - Presenting a passcode from a previous update attempt after a new one was triggered.
        - Letting the 24-hour window lapse and then retrying validation instead of re-issuing the update.
        - Calling /validate (creation) instead of /update/validate.
        - Losing the transaction id, which requires repeating the update request.

        ### Best practices

        - Rotate keys in two phases: keep the old private key available for decrypting inbound callbacks until the update is validated and cached certificates (24-hour TTL on the payer side) have refreshed.
        - Persist transactionid with its 24-hour expiry and record who completed validation, for audit.
        - Never log the passcode; treat it as a one-time credential.
        - After success, call /participant/search on your own code to confirm encryption_cert and endpoint_url reflect the change.

        ### Related scenario

        A year after go-live a payer's security team rotates the encryption key pair. The integrator generates a new self-signed X.509 certificate, Base64-encodes it and calls /v2/participant/update with participantcode and encryptioncert. The registry returns status and a new transactionid and sends a passcode to the registered mobile. Within the hour the team calls GET /update/validate with both values; on 200 the new certificate is live. Providers that cached the old certificate pick up the new one at their next 24-hour refresh, and the payer keeps the old private key for one more day to decrypt in-flight callbacks.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
        - name: transactionId
          in: query
          required: true
          schema:
            type: string
          example: <transaction id>
        - name: passcode
          in: query
          required: true
          schema:
            type: string
          example: <passcode>
      responses:
        "200":
          description: HTTP 200 with a bare string body (operation particiapntUpdateValidate, response type string).
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: <confirmation string as declared by the OpenAPI 200 response>
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: "On every NHCX call, the token goes in a header called `bearer_auth`, with the word `Bearer` and a space in front. The sources are not unanimous: the authentication page and the FAQ both write the example as `Authorization`, and the notification endpoint uses `Authorization`. The safe course, and what the adapter does, is to send both headers with the same value."
  parameters:
    BearerAuth:
      name: bearer_auth
      in: header
      required: true
      description: It is `bearer_auth`, not `Authorization`, on NHCX's own endpoints.
      schema:
        type: string
      example: Bearer <access token>
    Source:
      name: source
      in: header
      required: true
      description: Sent on this call, as the package's request carries it.
      schema:
        type: string
      example: internal
