# NHCX participant registry, from the NHCX package's Bruno folder apis/10-registry.
#
# Written by the package's system/build-ekadocs.mjs (make ekadocs); change the .bru
# requests there and port again rather than editing this file.
#
# Rules this file follows: catalogue/openapi/CONVENTIONS.md
openapi: 3.1.1
info:
  x-portal:
    module: registry
    label: Participant registry
    position: 10
  title: NHCX participant registry
  summary: Every NHCX API call, whether a registry lookup, a certificate fetch or a claim submission, is rejected unless it carries a valid Bearer token, so this is the first call any integration makes and...
  description: |-
    The Participant registry calls on the National Health Claims Exchange (NHCX): 23 operations.

    Every NHCX API call, whether a registry lookup, a certificate fetch or a claim submission, is rejected unless it carries a valid Bearer token, so this is the first call any integration makes and the first thing to check when a working integration starts failing.

    Guides that use these calls: [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant), [Finding participants and policies](/docs/nhcx/v1/getting-started/finding-participants-and-policies), [Fetching a recipient certificate](/docs/nhcx/v1/getting-started/fetching-a-recipient-certificate).
  version: nhcx-v1
  license:
    name: MIT
    identifier: MIT
  contact:
    name: NHCX sandbox
    url: https://hcxsbx.abdm.gov.in
  x-abdm-gateway: nhcx
  x-abdm-module: registry
  x-abdm-phase: 1
  x-abdm-roles:
    - provider
    - payer
x-abdm-sources:
  - file: nhcx-package/apis/10-registry
    role: upstream
    hash: sha256:24a781be25eb64996be9a7eb98c1f941a9dc74485129740b4831edcc54c55df0
    note: The package's Bruno collection, one request per operation.
  - file: nhcx-package/baseurl.yaml
    role: upstream
    hash: sha256:47d8412abbfc53b1e1038410e7980eee029d7b1be5082f4ae6c1d4e16ae0dd0f
    note: The sandbox and production hosts.
servers:
  - url: https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice
    description: Sandbox, Participant service.
  - url: https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice
    description: Production.
tags:
  - name: Participant registry
    description: Every NHCX API call, whether a registry lookup, a certificate fetch or a claim submission, is rejected unless it carries a valid Bearer token, so this is the first call any integration makes and the first thing to check when a working integration starts failing.
security:
  - bearerAuth: []
paths:
  /get/session:
    post:
      operationId: registry_get_session
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Get session token
      description: |-
        Exchanges the participant's client_id and client_secret (OAuth 2.0 client credentials) for a Bearer access_token valid for 1200 seconds.

        ### Business purpose

        Every NHCX API call, whether a registry lookup, a certificate fetch or a claim submission, is rejected unless it carries a valid Bearer token, so this is the first call any integration makes and the first thing to check when a working integration starts failing. It answers the question of who is calling the gateway. It is deliberately separate from payload confidentiality: a request can be perfectly encrypted and still fail with 401, and vice versa.

        ### When to use

        Call it at start-up and whenever the cached token is close to expiry. The Integration Handbook documents it as POST /get/session on host apisbx.abdm.gov.in with Content-Type application/x-www-form-urlencoded and body client_id=<NHCX_CLIENT_ID>&client_secret=<NHCX_CLIENT_SECRET>&grant_type=client_credentials. The response carries access_token, expires_in 1200 and token_type Bearer. Both sandbox-exit checklists list /get/session as the auth-token API. Note that the FAQ instead lists https://dev.abdm.gov.in/api/hiecm/gateway/v3/sessions as the Session API, and the OpenAPI entry (operationId getSession) calls the operation internal and returns ParticipantSessionResponse with a single accessToken field; confirm the current host with your onboarding contact. There is no refresh token: renewal is simply another client-credentials call.

        ### Preconditions

        - client_id and client_secret issued at the end of onboarding; client_secret is generated by the NHCX instance, stored encrypted and never returned by any registry API, so a lost secret must be reissued.
        - Credentials scoped to the right environment; sandbox credentials do not work against production and vice versa.
        - Content-Type application/x-www-form-urlencoded with grant_type=client_credentials fixed; the two secrets are the only variables.
        - No Bearer token is needed for this call itself.

        ### Postconditions

        HTTP 200 with { access_token, expires_in: 1200, token_type: Bearer }. The access_token is a JWT that should be treated as opaque; place it in the Authorization (bearer_auth) header as Bearer <token> on every subsequent call. Its lifetime is 1200 seconds (20 minutes); after that any call returns 401. The OpenAPI schema names the field accessToken and omits expiry, so read whichever key is present and assume 1200 seconds when expires_in is absent. A 400 indicates a malformed body. Nothing asynchronous follows.

        ### Common mistakes

        - Not implementing automatic refresh, so calls that worked minutes ago start returning 401 or 401 Unauthorized - Sender is not authorized to execute the operation once 20 minutes pass.
        - Sending the token without the Bearer prefix in bearer_auth, which also produces a plain 401.
        - Using the wrong Content-Type (JSON instead of form-urlencoded), omitting grant_type=client_credentials, or misspelling a credential field, which yields 400.
        - Minting a fresh token for every transaction instead of caching it.
        - Continuing to use a cached client_secret after the instance rotated it; every token minted from the old secret stops working.
        - Pairing a sandbox token with the production gateway.

        ### Best practices

        - Cache the token in memory keyed by environment and refresh proactively at roughly 80 to 90 percent of the lifetime computed from the expires_in actually received.
        - Serialise refresh behind a lock so concurrent workers do not fire simultaneous token requests.
        - On any 401, discard the cached token, mint a new one and replay the original request exactly once; if the second attempt also fails, stop and alert, since the credentials are wrong or revoked.
        - Never log the access_token or client_secret; log the expiry timestamp instead.
        - Store secrets so they can be rotated without a code deploy.
        - The token is validated by ABDM, so a 401 on any NHCX call carries no hint that expiry is the cause; treat 401 as refresh-and-retry first.

        ### Related scenario

        At 09:00 a hospital's claims engine starts and POSTs its client_id and client_secret to /get/session, receiving an access_token with expires_in 1200. It caches the token and immediately calls /fetch/certs for the payer it will submit to. At 09:17 a background timer renews the token before the 20-minute mark, so the /v1/preauth/submit sent at 09:21 carries a fresh Bearer header. Later a worker receives a 401 after a network stall; it drops the cached token, calls /get/session once more, replays the request and succeeds. Had the second attempt also failed, the engine would have alerted operations rather than looping.

        ### Specification

        Chapter [Base URLs](/docs/nhcx/v1/getting-started/base-urls) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _contentType:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
                grant_type:
                  type: string
            example:
              _contentType: application/x-www-form-urlencoded
              client_id: <NHCX_CLIENT_ID>
              client_secret: <NHCX_CLIENT_SECRET>
              grant_type: client_credentials
      responses:
        "200":
          description: "HTTP 200 with { access_token, expires_in: 1200, token_type: Bearer }."
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                  token_type:
                    type: string
              example:
                access_token: eyJhbGciOiJSUzI1NiIs...
                expires_in: 1200
                token_type: Bearer
  /participant/update:
    post:
      operationId: registry_participant_update
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Participant update (v1)
      description: |-
        Updates a participant's registry record; participant_code and roles are mandatory, every other field (certificate, endpoint, contacts, status) is optional.

        ### Business purpose

        Participant details change over the life of an integration: callback endpoints move, encryption certificates are rotated annually, contact numbers and payment details change. The registry is the source of truth that the gateway routes from, so those changes must land there, not just in the participant's own configuration. This v1 update lets an organisation amend any attribute of its full record in one synchronous call, and the sandbox onboarding document names it as the way to update the bridge URL, the encryption certificate or any other attribute.

        ### When to use

        Use it after registration whenever a registry attribute must change. The FAQ lists the sandbox Update Participant URL as https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice/participant/update, while production onboarding documents the narrower /v2/participant/update plus /update/validate for certificate and bridge changes. It is a plain JSON registry call outside the JWE protocol, with no workflow or x-hcx-status codes. For a certificate-only change without passcode validation, /v2/update/cert is the documented shortcut.

        ### Preconditions

        - The participant already exists and you hold its participant_code.
        - Bearer token with the Bearer prefix in bearer_auth, plus Accept and Content-Type: application/json.
        - Body per ParticipantUpdateBody: participant_code and roles are the only required fields; participant_name, scheme_code, linked_registry_codes, address, contact fields, status, signing_cert_path, encryption_cert, endpoint_url and payment_details are optional.
        - If updating encryption_cert, the new certificate is Base64-encoded and its private key is already deployed on the callback host.
        - Linked registry codes must validate.

        ### Postconditions

        HTTP 200 with a string body (the OpenAPI declares string; the sandbox onboarding document shows the participant code echoed back, for example 100001@sbx). The registry record now carries the amended values, and because the gateway reads endpoint_url and encryption_cert from the registry on every leg, callback routing and counterparties' certificate fetches reflect the change from the next call onwards, subject to their 24-hour certificate cache. No asynchronous callback follows. Failures use the 400/404/500 ErrorResponse envelope.

        ### Common mistakes

        - Omitting roles on a partial update; it is required even when the change has nothing to do with roles, and its absence yields a 400.
        - Copying v2 field names (participantcode, encryptioncert, endpointurl) into this snake_case body.
        - Setting an endpoint_url that uses an IP address or port, or a server outside India, which breaks callback delivery at go-live.
        - Rotating the certificate in the registry before the new private key is live on the callback host, so inbound callbacks can no longer be decrypted.
        - Missing the Accept header or the Bearer prefix.

        ### Best practices

        - Read the current record with /participant/search first and send the full intended state, so a partial body does not unintentionally blank optional fields.
        - Rotate certificates in two phases and keep the old private key for at least 24 hours, the documented certificate cache TTL.
        - Confirm callback reachability (domain name, India-based host, NAT IPs 3.109.99.210, 13.126.152.0 and 13.200.129.223 whitelisted) before pointing endpoint_url at a new host.
        - Log the change with who requested it; registry changes affect where encrypted health data is delivered.

        ### Related scenario

        A hospital migrates its claims callback service to a new domain. Before touching the registry the team deploys the service, verifies the NHCX NAT IPs are whitelisted and copies the existing PKCS8 private key across. They fetch a Bearer token via /get/session, read the current record with /participant/search, and call /participant/update with participant_code, roles and the new endpoint_url. The registry returns 200. The next /v1/preauth/on_submit callback from the payer arrives at the new domain and is acknowledged with 202 within 30 seconds.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_code:
                  type: string
                participant_name:
                  type: string
                scheme_code:
                  type: string
                roles:
                  type: array
                  items:
                    type: string
                primaryEmail:
                  type: string
                phone:
                  type: array
                  items:
                    type: string
                primaryMobile:
                  type: string
                endpoint_url:
                  type: string
                signing_cert_path:
                  type: string
                encryption_cert:
                  type: string
            example:
              participant_code: <participant code>
              participant_name: Test Hospital
              scheme_code: PMJAY
              roles:
                - "10001"
              primaryEmail: integration@hospital.example
              phone:
                - "01123456789"
              primaryMobile: "9876543210"
              endpoint_url: https://nhcx.hospital.example
              signing_cert_path: ""
              encryption_cert: <encryption cert>
      responses:
        "200":
          description: HTTP 200 with a string body (the OpenAPI declares string; the sandbox onboarding document shows the participant code echoed back, for example 100001@sbx).
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: 100001@sbx
  /v2/participant/update:
    post:
      operationId: registry_v2_participant_update
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Participant certificate and bridge update (v2)
      description: |-
        Stages a change to a participant encryption certificate and/or endpoint URL; returns a transactionid for passcode confirmation via /update/validate.

        ### Business purpose

        Exactly two operational values rotate over a participant's life: the public encryption certificate that counterparties encrypt claims data with, and the endpoint (bridge) URL that the gateway delivers callbacks to. Both are security-sensitive, so the v2 update takes only those fields and gates the change behind an SMS passcode to the registered mobile number. It is step 3 of the production onboarding sequence, where a newly confirmed participant publishes its certificate for the first time, and the documented route for annual key rotation thereafter.

        ### When to use

        Use it immediately after creation confirmation (/validate) to upload encryptioncert and endpointurl, and again whenever either value changes; always follow with GET /update/validate within 24 hours. The production URL is https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice/v2/participant/update. If only the certificate changes and passcode validation is not wanted, /v2/update/cert is the documented alternative. This is a synchronous JSON registry call with no workflow or x-hcx-status codes.

        ### Preconditions

        - participantcode is a valid code already registered in NHCX and its creation confirmation has been completed.
        - The certificate (public key) is Base64-encoded; the update validation explicitly requires this.
        - Bearer token in bearer_auth with the Bearer prefix, Accept and Content-Type: application/json.
        - ParticipantCertUpdateRequest: participantcode required; encryptioncert and endpointurl optional (the base URL).
        - The new private key is already deployed on the callback host so decryption works the moment the change goes live.

        ### Postconditions

        HTTP 200 with ParticipantCertUpdateResp: participant_code, status and transactionid. A passcode is sent to the registered mobile number; the pair is valid for 24 hours and each new trigger replaces it. The change is not live until GET /update/validate succeeds, after which /fetch/certs returns the new certificate and callbacks go to the new endpoint. Counterparties may serve a cached copy for up to 24 hours. Errors use the 400/404/500 ErrorResponse envelope.

        ### Common mistakes

        - Calling it before creation has been confirmed with /validate; the validations require a confirmed participant code.
        - Sending the raw PEM instead of the Base64-encoded certificate.
        - Using v1 field names (participant_code, encryption_cert, endpoint_url) in this flattened lowercase body.
        - Treating the 200 as completion and skipping /update/validate, so the old certificate stays live.
        - Re-triggering the update while a passcode is pending, invalidating the earlier transaction id.
        - Losing the transaction id, which forces the update to be issued again.

        ### Best practices

        - Prepare the new key pair, deploy the PKCS8 private key to the callback host and only then publish the certificate.
        - Keep the previous private key available for at least 24 hours after validation to decrypt callbacks encrypted against a cached certificate.
        - Persist transactionid with its 24-hour expiry and complete /update/validate promptly.
        - Rotate encryption keys once a year, matching the 365-day validity of the self-signed certificate.
        - Verify the new endpointurl is a domain name on an India-based server with the NHCX NAT IPs whitelisted before submitting.

        ### Related scenario

        A TPA has just confirmed its production participant with /validate. Its engineers generate a 2048-bit RSA key, a 365-day self-signed X.509 certificate, Base64-encode it and deploy the private key to the callback host. They call /v2/participant/update with participantcode, encryptioncert and endpointurl; the response returns status and a transactionid, and the registered phone receives a passcode. After GET /update/validate succeeds, the first provider to call /fetch/certs for the TPA receives the new certificate and can encrypt a pre-authorisation for it.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participantcode:
                  type: string
                encryptioncert:
                  type: string
                endpointurl:
                  type: string
            example:
              participantcode: XXXXX7583@hcx
              encryptioncert: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t...
              endpointurl: https://nhcx.demotpa.example.in
      responses:
        "200":
          description: "HTTP 200 with ParticipantCertUpdateResp: participant_code, status and transactionid."
          content:
            application/json:
              schema:
                type: object
                properties:
                  participant_code:
                    type: string
                  status:
                    type: string
                  transactionid:
                    type: string
              example:
                participant_code: XXXXX7583@hcx
                status: Update initiated
                transactionid: 1vouv8tlz2tnl-1fpspjhwj07c6
  /participant/search:
    post:
      operationId: registry_participant_search
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Participant search
      description: |-
        Reads a participant's full registry record by participant_code, including roles, status, encryption_cert and endpoint_url.

        ### Business purpose

        Before addressing a transaction to a counterparty, an integrator needs to know that the participant exists, is active, holds the expected role and publishes an encryption certificate and callback endpoint. The registry is the phone book of NHCX, and this call is the direct lookup by code. Providers use it to inspect a payer they have selected; payers use it to confirm the sender of an inbound request; everyone uses it to verify their own record after an update.

        ### When to use

        Call it once a participant_code is known, typically after /fetch/participants/list has produced candidates, or before building the first JWE for a new recipient. It is also the natural post-update check after /participant/update, /v2/participant/update or /v2/update/cert. It is a synchronous JSON registry call with no workflow or x-hcx-status codes. /participant/details takes the same body and returns the same response; the OpenAPI identifies it only as the v2 variant.

        ### Preconditions

        - A Bearer token from /get/session in bearer_auth with the Bearer prefix; Accept and Content-Type: application/json.
        - The target's participant_code in xxxxx@hcx (or @sbx) form, exactly the value later placed in x-hcx-recipient_code.
        - Sandbox base https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice/participant/search; production under https://apis.abdm.gov.in/pmjay/hcx.

        ### Postconditions

        HTTP 200 with ParticipantSearchResponse: timestamp (Unix timestamp when the request is sent) and participants, an array of full participant records with participant_code, linked_registry_codes, participant_name, scheme_code, roles, address, primaryEmail, additionalEmail, phone, primaryMobile, additionalMobile, status, signing_cert_path, encryption_cert, endpoint_url and payment_details. No state changes and no callback. An unknown code returns 404 with the ErrorResponse envelope; 400 and 500 are the other documented outcomes.

        ### Common mistakes

        - Passing participantid or participantcode instead of the snake_case participant_code this body requires.
        - Assuming a record in the registry means the participant can transact; status must be Active, and NHCX-1003 (receiver not registered) still results if the code is wrong or inactive.
        - Reading encryption_cert as the certificate content when it is documented as a URI or file path to the certificate; use /fetch/certs to obtain the key material.
        - Forgetting the Accept header, which causes rejection before business logic.
        - Sending an expired token and misreading the flat 401.

        ### Best practices

        - Cache the record for the session and re-read it when a transport error (NHCX-1001) or decrypt failure (PAYR-1001/PAYR-1002) suggests stale routing or key data.
        - Check roles and status before selecting the counterparty for x-hcx-recipient_code.
        - Call it against your own code after every registry update to confirm the change is live.
        - Never log payment_details from the response.
        - Treat the participants array as possibly empty and handle 404 gracefully.

        ### Related scenario

        A hospital's TPA desk has selected a payer code from /fetch/participants/list for a PMJAY patient. Before submitting anything the integration calls /participant/search with that participant_code and receives the payer's record: roles include payer, status is Active, scheme_code matches, and endpoint_url and encryption_cert are populated. The engine stores the code as the payerId that will become x-hcx-recipient_code, calls /fetch/certs to obtain the actual certificate, and then encrypts and sends /v1/coverageeligibility/check.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_code:
                  type: string
            example:
              participant_code: 1518@hcx
      responses:
        "200":
          description: "HTTP 200 with ParticipantSearchResponse: timestamp (Unix timestamp when the request is sent) and participants, an array of full participant records with participant_code, linked_registry_codes, participant_name, scheme_code, roles, address, primaryEmail, additionalEmail, phone, primaryMobile, additionalMobile, status, signing_cert_path, encryption_cert, endpoint_url and payment_details."
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: integer
                  participants:
                    type: array
                    items:
                      type: object
                      properties:
                        participant_code:
                          type: string
                        participant_name:
                          type: string
                        linked_registry_codes:
                          type: array
                          items:
                            type: string
                        scheme_code:
                          type: string
                        roles:
                          type: array
                          items:
                            type: string
                        status:
                          type: array
                          items:
                            type: string
                        primaryEmail:
                          type: string
                        primaryMobile:
                          type: string
                        encryption_cert:
                          type: string
                        endpoint_url:
                          type: string
              example:
                timestamp: 1716204567358
                participants:
                  - participant_code: 1518@hcx
                    participant_name: Demo Insurance Company
                    linked_registry_codes:
                      - 125@payer
                    scheme_code: default
                    roles:
                      - payer
                    status:
                      - Active
                    primaryEmail: claims@demoinsurer.example.in
                    primaryMobile: "9800000001"
                    encryption_cert: https://registry.example.in/certs/1518.pem
                    endpoint_url: https://nhcx.demoinsurer.example.in
  /participant/details:
    post:
      operationId: registry_participant_details
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Participant details (v2 search)
      description: |-
        V2 variant of participant search: takes participant_code and returns the matching full registry records.

        ### Business purpose

        This is the second of two endpoints that read a single participant by code. It exists as the v2 generation of the registry lookup (operationId participantV2SearchPost) and serves the same business need as /participant/search: confirming that a counterparty exists, is active, holds the expected role and publishes an encryption certificate and callback endpoint before any encrypted transaction is addressed to it.

        ### When to use

        Use it wherever /participant/search would be used: after payer discovery via /fetch/participants/list, before the first JWE to a new recipient, or to verify your own record after an update. The OpenAPI gives both endpoints the identical description and the same ParticipantSearchReq and ParticipantSearchResponse schemas, and documents no behavioural difference beyond the operationId; the chapter advises treating them as interchangeable unless your HCX instance says otherwise. Synchronous JSON, no workflow or x-hcx-status codes.

        ### Preconditions

        - Bearer token from /get/session in bearer_auth with the Bearer prefix; Accept and Content-Type: application/json.
        - Body per ParticipantSearchReq: participant_code (string, required) in xxxxx@hcx or @sbx form.
        - Served under the participanthcxservice prefix on the environment gateway base.

        ### Postconditions

        HTTP 200 with ParticipantSearchResponse: timestamp and a participants array of full participant records (participant_code, linked_registry_codes, participant_name, scheme_code, roles, address, contact fields, status, signing_cert_path, encryption_cert, endpoint_url, payment_details). Read-only; nothing changes and no callback follows. 400, 404 and 500 return the ErrorResponse envelope with timestamp and error code, message and trace.

        ### Common mistakes

        - Expecting a different or richer response than /participant/search; the documented schemas are identical.
        - Using participantcode or participantid instead of participant_code.
        - Treating encryption_cert (a URI or file path in the schema) as the PEM itself instead of calling /fetch/certs.
        - Omitting the Accept header or the Bearer prefix.
        - Hard-coding one of the two lookup paths without a fallback when the instance serves only the other.

        ### Best practices

        - Wrap both lookup endpoints behind one client function so the path can be switched by configuration.
        - Check status and roles before choosing a recipient code.
        - Cache the record and refresh on routing or decryption errors rather than on every transaction.
        - Do not log payment_details.

        ### Related scenario

        A payer's inbound gateway receives a /v1/claim/submit whose protected header names x-hcx-sender_code 100001@sbx. Before decrypting and processing, its integration calls /participant/details with that participant_code to confirm the sender is a registered provider with status Active and to record participant_name for the adjudication file. The claim is then decrypted with the payer's private key and passed to the claims team, whose decision goes back on /v1/claim/on_submit.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participant_code:
                  type: string
            example:
              participant_code: 100001@sbx
      responses:
        "200":
          description: "HTTP 200 with ParticipantSearchResponse: timestamp and a participants array of full participant records (participant_code, linked_registry_codes, participant_name, scheme_code, roles, address, contact fields, status, signing_cert_path, encryption_cert, endpoint_url, payment_details)."
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: integer
                  participants:
                    type: array
                    items:
                      type: object
                      properties:
                        participant_code:
                          type: string
                        participant_name:
                          type: string
                        linked_registry_codes:
                          type: array
                          items:
                            type: string
                        roles:
                          type: array
                          items:
                            type: string
                        status:
                          type: array
                          items:
                            type: string
                        primaryEmail:
                          type: string
                        primaryMobile:
                          type: string
                        encryption_cert:
                          type: string
                        endpoint_url:
                          type: string
              example:
                timestamp: 1716204567358
                participants:
                  - participant_code: 100001@sbx
                    participant_name: Demo Multispeciality Hospital
                    linked_registry_codes:
                      - IN2910001234@hfr
                    roles:
                      - provider
                    status:
                      - Active
                    primaryEmail: claims@demohospital.example.in
                    primaryMobile: "9800000000"
                    encryption_cert: https://registry.example.in/certs/100001.pem
                    endpoint_url: https://nhcx.demohospital.example.in
  /fetch/participants/list:
    post:
      operationId: registry_fetch_participants_list
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Fetch participants list
      description: |-
        Payer discovery: lists participants filtered by role, registration date window and optional entity type; the first step of the cashless workflow.

        ### Business purpose

        A patient is not cashless merely by having insurance. The hospital must first discover which payer to deal with, and that payer's participantcode becomes the payerId used for NHCX routing and the x-hcx-recipient_code header. This endpoint is the discovery workhorse: it returns every participant of a given role registered within a date window, which is how a hospital builds its payer picker and how a payer sees the providers on the exchange. It is item 1 of the provider sandbox-exit checklist.

        ### When to use

        Call it at the very start of the handbook's fixed operational order: payer search, payer selection, policy discovery, policy cache normalisation, effective payer resolution, InsurancePlan and benefit retrieval, optional eligibility verification, then preauth submission. Refresh the list periodically rather than per patient. Sandbox URL https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice/fetch/participants/list. Synchronous JSON; no workflow or x-hcx-status codes.

        ### Preconditions

        - Bearer token in bearer_auth with the Bearer prefix; Accept and Content-Type: application/json.
        - FetchParticipantRequest: role (PAYER, PROVIDER or TPA), fromdate and todate in dd/MM/yyyy format only, all required; entitytype optional (for example Gov).
        - A date window wide enough to cover the registration dates of the participants you expect; the handbook example spans 01/04/2021 to 20/03/2026.

        ### Postconditions

        HTTP 200 with ParticipantListResponse: a participantdetails array of ParticipantDetails with participantcode, participantname, address and state. The handbook notes the response shape is not stable and the documented search logic normalises participantdetails, participants or a raw array. No state changes and no callback. 400, 404 and 500 carry the ErrorResponse envelope. In the sandbox, the dummy payer 1000003538@hcx is the counterparty you will find and use.

        ### Common mistakes

        - Supplying dates in ISO or any format other than dd/MM/yyyy.
        - Using a date window that is too narrow, which silently drops payers that registered outside it.
        - Expecting a name filter; there is none, so text search and GOVT versus PRIVATE classification (from entitytype) must be done client-side.
        - Being misled by the OpenAPI description, which is copy-pasted from the update API; the request schema defines the real behaviour.
        - Parsing only participantdetails and breaking when the instance returns participants or a raw array.
        - Missing Accept header or Bearer prefix.

        ### Best practices

        - Fetch once with a wide window, cache the list, and filter by name and scheme type locally, as the handbook's internal payers endpoint does.
        - Accept all three response shapes defensively.
        - Follow selection with /participant/search or /participant/details to confirm status and roles, and /fetch/certs to obtain the certificate before encrypting.
        - Remove any hard-coded reference to 1000003538@hcx at go-live; production counterparties are resolved from this call.
        - Refresh the cached list on a schedule so newly registered payers appear.

        ### Related scenario

        A hospital's admission desk opens the cashless screen for a patient holding a government scheme card. The integration has already called /fetch/participants/list with role PAYER, a window from 01/04/2021 to today and entitytype Gov, and cached the result. The desk types the scheme name, the client filters the cached list, and the operator selects the state health agency's participantcode. The engine then calls /participant/get/policies to link the patient's policy, /fetch/certs for the payer certificate, and submits /v1/insuranceplan/request followed by /v1/preauth/submit.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                role:
                  type: string
                fromdate:
                  type: string
                todate:
                  type: string
                entitytype:
                  type: string
            example:
              role: PAYER
              fromdate: 01/04/2021
              todate: 20/03/2026
              entitytype: Gov
      responses:
        "200":
          description: "HTTP 200 with ParticipantListResponse: a participantdetails array of ParticipantDetails with participantcode, participantname, address and state."
          content:
            application/json:
              schema:
                type: object
                properties:
                  participantdetails:
                    type: array
                    items:
                      type: object
                      properties:
                        participantcode:
                          type: string
                        participantname:
                          type: string
                        address:
                          type: string
                        state:
                          type: string
              example:
                participantdetails:
                  - participantcode: 1000003538@hcx
                    participantname: NHCX Dummy Payer
                    address: New Delhi
                    state: Delhi
                  - participantcode: 1518@hcx
                    participantname: Demo Insurance Company
                    address: Bengaluru
                    state: Karnataka
  /fetch/certs:
    post:
      operationId: registry_fetch_certs
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Fetch certificate
      description: |-
        Returns a participant's public encryption certificate (PEM X.509 or SPKI key) by participantid; cache it for 24 hours and use it to build the JWE.

        ### Business purpose

        Every NHCX payload is encrypted end-to-end for exactly one recipient so that even the exchange cannot read the clinical and financial content it routes. That guarantee rests on each participant publishing a public certificate in the registry at onboarding. This call is how a sender obtains a counterparty's certificate before encrypting a request or a callback for it. It is item 3 of both sandbox-exit checklists and the endpoint the Integration Handbook names in its encryption steps.

        ### When to use

        Call it before encrypting the first message to a recipient and whenever the 24-hour cache entry for that participantid expires or is evicted after a decrypt or encrypt failure. Providers fetch the payer's certificate before /v1/coverageeligibility/check, /v1/preauth/submit and /v1/claim/submit; payers fetch the provider's certificate before encrypting on_* callbacks. Handbook call: POST /fetch/certs on host apisbx.abdm.gov.in/pmjay/sbxhcx with bearer_auth Bearer <token>. Synchronous; no workflow or x-hcx-status codes.

        ### Preconditions

        - Bearer token from /get/session in bearer_auth with the Bearer prefix; Content-Type: application/json (add Accept: application/json per the common-mistakes guidance).
        - ParticipantCertRequest with the single required field participantid, the recipient's participant code in <code>@hcx form, identical to the value you will place in x-hcx-recipient_code.
        - The recipient has completed onboarding with a certificate registered (mandatory at creation).

        ### Postconditions

        HTTP 200 with a string body containing a PEM-encoded X.509 certificate or an SPKI public key, as uploaded by that participant. Import X.509 first and fall back to SPKI (keys under roughly 400 bytes are typically SPKI), then use the key with RSA-OAEP-256 for alg and A256GCM for enc. Nothing changes in the registry and no callback follows. 400, 404 and 500 return the ErrorResponse envelope; an unregistered code is a 404 here and NHCX-1003 at the gateway.

        ### Common mistakes

        - Fetching the certificate before every request instead of caching for 24 hours, adding a round trip to the critical path of every claim.
        - Assuming the response is always a full X.509 certificate and failing when a participant uploaded a bare SPKI key.
        - Encrypting with the sender's own certificate instead of the recipient's; the recipient's private key then cannot open it, surfacing as PAYR-1001 decrypt errors.
        - Passing participant_code or participantcode instead of participantid.
        - Serving a stale cached certificate after the counterparty rotated its key; PAYR-1001 or PAYR-1002 is the signal to evict and re-fetch.
        - Sending the token without the Bearer prefix or omitting Accept.

        ### Best practices

        - Cache per participantid with a 24-hour TTL, plus a negative path that evicts and re-fetches on encrypt or decrypt failures.
        - Implement the import routine as X.509 first, SPKI fallback, treating the 400-byte size hint as diagnostic rather than a hard branch.
        - Use the documented algorithm pair RSA-OAEP-256 and A256GCM.
        - Re-fetch from the production registry at go-live; sandbox certificates do not carry over.
        - Expect annual key rotation by counterparties; the 24-hour cache bounds exposure to a rotation you were not told about.

        ### Related scenario

        A hospital is about to send its first pre-authorisation to payer 1518@hcx. The engine checks its certificate cache, finds no entry, and calls /fetch/certs with participantid 1518@hcx and a Bearer token. The response is a PEM X.509 certificate, which is parsed and cached for 24 hours. The engine builds the JWE protected header with x-hcx-sender_code, x-hcx-recipient_code 1518@hcx and the other x-hcx headers, encrypts the FHIR bundle with RSA-OAEP-256 and A256GCM using the fetched key, and POSTs to /v1/preauth/submit. Later that week the payer rotates its certificate; a PAYR-1001 on the next submission triggers eviction and a fresh fetch.

        ### Specification

        Chapter [Finding participants and policies](/docs/nhcx/v1/getting-started/finding-participants-and-policies) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participantid:
                  type: string
            example:
              participantid: 1518@hcx
      responses:
        "200":
          description: HTTP 200 with a string body containing a PEM-encoded X.509 certificate or an SPKI public key, as uploaded by that participant.
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: |-
                  -----BEGIN CERTIFICATE-----
                  MIIDdzCCAl+gAwIBAgIEbXq...
                  -----END CERTIFICATE-----
  /fetch/certs/path:
    post:
      operationId: registry_fetch_certs_path
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Fetch certificate path
      description: |-
        Companion to /fetch/certs: takes the same participantid body and returns a string described as the participant's certificate path.

        ### Business purpose

        The registry stores a participant's encryption certificate as a URI or file path in the encryption_cert field, and this endpoint exposes that reference for a given participant. It exists alongside /fetch/certs, which the Integration Handbook names as the call to use when obtaining key material for encryption. Both serve the same underlying need, resolving a counterparty's public key before building a JWE, but the OpenAPI documents them identically and does not describe how their returned strings differ.

        ### When to use

        Use it only if your HCX instance or onboarding contact tells you to; the chapter's guidance is to treat /fetch/certs as the one to use for encryption. Both endpoints are POST, both carry the Registry APIs tag, both take ParticipantCertRequest and both declare a string 200 response with 400, 404 and 500 ErrorResponse outcomes. It is a synchronous JSON registry call with no workflow or x-hcx-status codes.

        ### Preconditions

        - Bearer token from /get/session in bearer_auth with the Bearer prefix; Accept and Content-Type: application/json.
        - ParticipantCertRequest with participantid (required), the target's participant code in <code>@hcx form.
        - The target participant has completed onboarding with an encryption certificate registered.

        ### Postconditions

        HTTP 200 with a string body. The spec describes the operation (fetchCertsPath) with the same text as /fetch/certs, so the precise content of the string beyond being a certificate path is not documented. No registry state changes and no callback. Errors use the ErrorResponse envelope on 400, 404 and 500.

        ### Common mistakes

        - Assuming this returns the same PEM as /fetch/certs and feeding a path string into a key-import routine.
        - Choosing it over /fetch/certs for encryption without instance-specific guidance; the handbook names /fetch/certs.
        - Passing participant_code instead of participantid.
        - Omitting Accept or the Bearer prefix on the token.

        ### Best practices

        - Prefer /fetch/certs for obtaining key material; use this endpoint only where the instance documents a use for the path form.
        - If you do use it, log the returned string shape once so a change in behaviour is noticed.
        - Apply the same 24-hour cache discipline keyed by participantid.
        - Keep both calls behind one client function so the choice is a configuration switch.

        ### Related scenario

        An integrator building a registry inspection tool for a TPA wants to show, for each payer, where the registry references its certificate as well as the certificate itself. The tool obtains a Bearer token, calls /fetch/certs/path with participantid 1518@hcx and displays the returned path string, then calls /fetch/certs for the PEM used for actual encryption. The production claims engine itself only uses /fetch/certs, as the Integration Handbook prescribes, before each /v1/claim/submit.

        ### Specification

        Chapter [Finding participants and policies](/docs/nhcx/v1/getting-started/finding-participants-and-policies) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participantid:
                  type: string
            example:
              participantid: 1518@hcx
      responses:
        "200":
          description: HTTP 200 with a string body.
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: <certificate path string as declared by the OpenAPI 200 response>
  /v2/update/cert:
    post:
      operationId: registry_v2_update_cert
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Update certificate (v2, no passcode)
      description: |-
        Replaces a participant's public encryption certificate by participantId without passcode validation; the same schema is echoed back on success.

        ### Business purpose

        Encryption keys are recommended to be rotated once a year, and a compromised key must be replaced immediately. The passcode-gated /v2/participant/update is the safer general route, but it needs a person with the registered phone and a 24-hour confirmation step. This endpoint exists for certificate-only updates without that validation, so an organisation can publish a new public certificate quickly. Only the certificate changes; the endpoint URL is untouched.

        ### When to use

        Use it for scheduled annual rotation or emergency replacement of the certificate when passcode validation is not wanted. The production URL is https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice/v2/update/cert. To change the callback URL as well, use /v2/participant/update instead. It is the last item of the certificates checklist alongside the v2 participant update. Synchronous JSON; no workflow or x-hcx-status codes.

        ### Preconditions

        - Bearer token from /get/session in bearer_auth with the Bearer prefix; Accept and Content-Type: application/json.
        - UpdateCertV2 body: participantId and certificate, both mandatory; the certificate must be Base64-encoded (the NHA steps produce a self-signed X.509 RSA certificate, then Base64-encode the whole PEM text).
        - The matching new private key, in PKCS8 form, is already deployed on the callback host.
        - Note the camelCase field participantId, unlike participant_code (v1) and participantcode (v2 update).

        ### Postconditions

        HTTP 200 with the UpdateCertV2 schema echoed back (participantId and certificate). The registry's encryption certificate for that participant is replaced, so /fetch/certs returns the new one from the next call; counterparties may serve a cached copy for up to 24 hours. No transactionid is issued and no /update/validate step follows. No callback. 400, 404 and 500 use the ErrorResponse envelope.

        ### Common mistakes

        - Sending the raw PEM rather than the Base64-encoded certificate, which the validation explicitly requires.
        - Using participant_code, participantcode or encryptioncert; this schema is participantId and certificate.
        - Publishing the new certificate before the new private key is live on the callback host, so inbound callbacks fail to decrypt (PAYR-1001 on the counterparty side, undecryptable payloads on yours).
        - Discarding the old private key immediately, even though counterparties can hold the old certificate for 24 hours.
        - Trying to change the endpoint URL here; only the certificate is accepted.

        ### Best practices

        - Rotate in two phases: deploy the new PKCS8 private key, publish the certificate, and keep the old key for at least 24 hours.
        - Generate a 2048-bit RSA key and a 365-day self-signed X.509 certificate so the validity matches the annual rotation recommendation.
        - Verify with /participant/search or a /fetch/certs call against your own code that the new certificate is served.
        - Restrict who can call this endpoint inside your organisation, since it replaces the key that protects all inbound health data without a passcode.
        - Notify the ecosystem promptly if rotation is due to suspected compromise, as the protocol expects.

        ### Related scenario

        A hospital's security audit finds its NHCX private key was copied to a shared drive. The team generates a new 2048-bit RSA key pair and 365-day self-signed certificate, deploys the PKCS8 private key to the callback host and Base64-encodes the certificate. With a Bearer token they call /v2/update/cert with participantId XXXXX7583@hcx and the certificate; the registry echoes the schema back. They keep the old key available for one day so payers still holding the cached certificate can be decrypted, then destroy it. The next /v1/preauth/on_submit from the payer, encrypted against the new certificate, decrypts cleanly.

        ### Specification

        Chapter [Your certificate](/docs/nhcx/v1/getting-started/your-certificate) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                participantId:
                  type: string
                certificate:
                  type: string
            example:
              participantId: XXXX@hcx
              certificate: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t...
      responses:
        "200":
          description: HTTP 200 with the UpdateCertV2 schema echoed back (participantId and certificate).
          content:
            application/json:
              schema:
                type: object
                properties:
                  participantId:
                    type: string
                  certificate:
                    type: string
              example:
                participantId: XXXX@hcx
                certificate: LS0tLS1CRUdJTiBDRVJUSUZJQ0FURS0tLS0t...
  /get/linked/registry/mst:
    post:
      operationId: registry_get_linked_registry_mst
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Get linked registry master (internal)
      description: |-
        Internal-use participant-service operation that fetches the linked registry master; listed in the OpenAPI but not intended for integrators.

        ### Business purpose

        The participant registry can be extended from or linked to external registries such as the ABDM Health Facility Registry and the payer registry, and participant records carry linked_registry_codes in identifier@registry form with supported registry codes configured at instance level. This operation, described in the OpenAPI as for internal use and fetching the linked registry, appears to serve that master configuration to the platform itself. It is documented here for completeness of the 63-endpoint index, not as an integration point.

        ### When to use

        Do not call it from an integration. The Participant Registry chapter names it, together with /get/session in its OpenAPI form, as one of two internal-use endpoints that should not be called by integrators. If you need registry linkage information for a participant, read linked_registry_codes from /participant/search or /participant/details, and use the Valid Registry Enums (HFR 10001, NIN 10002, ROHINI 10003, PAYER 10004) documented for onboarding. No workflow or x-hcx-status codes apply.

        ### Preconditions

        - Served under the participanthcxservice prefix with the Registry APIs tag, so the usual bearer_auth Bearer token and Accept: application/json headers would apply.
        - The OpenAPI entry documents no request body and no parameters.
        - Access to internal operations is controlled by the NHCX instance provider; the chapter states integrators should not call it.

        ### Postconditions

        The OpenAPI declares a 200 response of type string, with 400 Client Error, 404 Resource not found and 500 Downstream systems down each returning the ErrorResponse envelope (timestamp plus error code, message and trace). No state change is described and no callback follows. The content of the returned string is not documented.

        ### Common mistakes

        - Treating it as a public registry lookup and building a dependency on an operation the platform reserves for internal use.
        - Confusing it with linked_registry_codes on a participant record, which is the documented way to see a participant's external registry identifiers.
        - Confusing the registry master with the Valid Registry Enums used in registrytype during onboarding.

        ### Best practices

        - Leave it out of client libraries and Postman collections used for certification.
        - Source registry codes from the onboarding documentation and participant records instead.
        - If an onboarding contact directs you to it, record their exact instruction, since the specification documents neither a body nor the response content.

        ### Related scenario

        While generating a client from the participanthcxservice OpenAPI document, a hospital integrator notices /get/linked/registry/mst next to /participant/search and asks whether to wire it into the payer picker. The answer from the documentation is no: it is an internal operation, and the picker should be built on /fetch/participants/list, with each selected payer confirmed through /participant/search and its linked_registry_codes read from that record. The generated method is left unused and excluded from the sandbox-exit test evidence.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                _body:
                  type: string
            example:
              _body: No request body or parameters are documented in the OpenAPI entry for this internal operation.
      responses:
        "200":
          description: The OpenAPI declares a 200 response of type string, with 400 Client Error, 404 Resource not found and 500 Downstream systems down each returning the ErrorResponse envelope (timestamp plus error code, message and trace).
          content:
            application/json:
              schema:
                type: object
                properties:
                  _contentType:
                    type: string
                  _body:
                    type: string
              example:
                _contentType: string
                _body: <string as declared by the OpenAPI 200 response; content not documented>
  /participant/link/abha/policy:
    post:
      operationId: registry_participant_link_abha_policy
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Link ABHA number to policies
      description: |-
        Payer-side write that links a beneficiary's ABHA number and member id to one or more products, so provider policy lookups can find them.

        ### Business purpose

        NHCX does not hold a national policy database of its own. Payers push their beneficiary-to-product links into the participant registry with this call, and providers pull them back with /participant/get/policies. Without a link, a hospital's policy lookup returns nothing and the patient cannot be processed as cashless on NHCX, regardless of what the admission record says. The insurer benefits by making its members discoverable; the hospital benefits by getting the payerId, memberId and productId it needs for every downstream claim call.

        ### When to use

        Use it when a policy is issued or renewed, when a member is added to a product, and after any de-link that must be re-established (for example, when an insurance company moves from one TPA to another). It sits at the very start of the member lifecycle, well before any coverage-eligibility, preauthorisation or claim workflow (workflow codes 12, 121, 13 and so on) is triggered. In the sandbox exit checklist for payers it is use case 1, Link ABHA with Policy, followed by Get Policy and De-Link.

        ### Preconditions

        - A valid Bearer token from the client-credentials call (POST /get/session, form-urlencoded client_id, client_secret, grant_type=client_credentials); tokens last 1200 seconds, so refresh before expiry.
        - HTTP headers Accept: application/json, Content-Type: application/json and bearer_auth: Bearer <token> (the participant service uses bearer_auth, not Authorization).
        - Base path for the participant service: https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice (sandbox) or https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice (production).
        - This is a synchronous plain-JSON registry call: no JWE envelope, no x-hcx-* protocol headers and no correlation id are involved.
        - The caller must be the participant named as payerid (the insurance company) or as processingid (its TPA), and the token must be minted with the client_id used when that participant was created.
        - Both the payer and, where applicable, the TPA must already exist in the registry with their own participant codes; every payer has an individual participant code even when it sits under a TPA.

        ### Postconditions

        On success the service returns HTTP 200 with ParticipantLinkAbhaResponse, whose two optional fields are result (a string) and errormessage (errorcode and errordescription). There is no asynchronous callback; the write is immediately visible to /participant/get/policies and /V2/participant/get/policies keyed by ABHA number, member id or mobile number. The linked payerid and processingid become the values that providers later resolve as the payer and the receiver code for NHCX routing. Failures return 400, 404 or 500 with the ErrorResponse envelope (timestamp plus Error with code, message and trace).

        ### Common mistakes

        - Calling with a token minted from a client_id other than the one used at participant creation for the payer or TPA; NHA lists this as common mistake 10 and the call is refused even though the token itself is valid.
        - Confusing payerid and processingid: payerid is always the insurance company's own participant code; processingid is only the TPA code when the payer is mapped under a TPA.
        - Trying to move a payer to a new TPA by re-linking in place; the documented path is de-link, then link again with the new TPA's code as processingid.
        - Omitting one of the required fields (requestid, abhanumber, memberid, payerid, policies with productid and productname) or reusing a non-UUID requestid, which returns 400 with the ErrorResponse envelope.
        - Sending the token without the Bearer prefix, or omitting the Accept header, both of which reject the call before business logic (401 or 400).

        ### Best practices

        - Generate a fresh UUID for requestid on every call and log it with the response so a duplicate submission can be traced.
        - Keep the ABHA number in the form the member layer expects (the identifier table and get/policies documentation both specify ABHA without hyphens) and store it in that form.
        - Make sure productid and productname exactly match the payer's product catalogue as registered through /product/link, because providers will later match on these values.
        - Cache and proactively refresh the Bearer token; retry once on 401 with a new token, then stop and alert.
        - After linking, verify the result with /participant/get/policies using the same identifier before telling the provider the member is ready.

        ### Related scenario

        A private insurer onboards a new group policy for a corporate client and issues a family floater to a beneficiary who already holds an ABHA. Its policy administration system has previously registered the product through /product/link and now calls /participant/link/abha/policy with the beneficiary's ABHA number, member id, the insurer's own participant code as payerid and the TPA's code as processingid. A week later the beneficiary is admitted to a network hospital; the hospital's desk calls /participant/get/policies with the ABHA number, receives the linked details and uses the processingid as x-hcx-recipient_code for the coverage-eligibility check and the preauthorisation that follow.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                abhanumber:
                  type: string
                mobilenumber:
                  type: string
                memberid:
                  type: string
                payerid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: 7f3f2a4e-0c6b-4b7a-9e2d-2c1f8a5b6d90
              abhanumber: "12345678910111"
              mobilenumber: "9876543210"
              memberid: MEM-2026-000123
              payerid: 100234@sbx
              policies:
                - productid: PRD-FLOATER-01
                  productname: Family Floater Gold
              processingid: 100235@sbx
      responses:
        "200":
          description: On success the service returns HTTP 200 with ParticipantLinkAbhaResponse, whose two optional fields are result (a string) and errormessage (errorcode and errordescription).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /V2/participant/link/abha/policy:
    post:
      operationId: registry_v2_participant_link_abha_policy
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Link ABHA number to policies (V2)
      description: |-
        V2 variant of the ABHA policy link; same ParticipantLinkAbhaRequest body and ParticipantLinkAbhaResponse as the unversioned call.

        ### Business purpose

        This endpoint serves the same business need as /participant/link/abha/policy: it lets a payer (or the TPA processing on its behalf) record which products a beneficiary holds, keyed by ABHA number and member id, so that providers can discover the policy and route claims correctly. The OpenAPI document exposes it as operation participantLinkAbhaPolicyV2 with an identical request and response schema to the v1 path; the documentation does not describe any behavioural difference beyond the path and operationId.

        ### When to use

        Use it in exactly the situations where the v1 link call applies: policy issue, renewal, member addition, or re-linking after a de-link when a payer changes TPA. It belongs to the member-layer setup that precedes every claim-side workflow (coverage eligibility, preauthorisation with workflow code 12, enhancement with code 13, claim). Choose this path or the v1 path consistently across your integration; the docs give no reason to mix them.

        ### Preconditions

        - A valid Bearer token from the client-credentials call (POST /get/session, form-urlencoded client_id, client_secret, grant_type=client_credentials); tokens last 1200 seconds, so refresh before expiry.
        - HTTP headers Accept: application/json, Content-Type: application/json and bearer_auth: Bearer <token> (the participant service uses bearer_auth, not Authorization).
        - Base path for the participant service: https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice (sandbox) or https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice (production).
        - This is a synchronous plain-JSON registry call: no JWE envelope, no x-hcx-* protocol headers and no correlation id are involved.
        - The token must belong to the participant named as payerid or processingid, generated with the client_id used at participant creation.
        - Note the capital V in the path (/V2/participant/...), which differs from the lower-case /v2/ used by the init and validate variants.

        ### Postconditions

        A successful call returns HTTP 200 with ParticipantLinkAbhaResponse (optional result string and optional errormessage with errorcode and errordescription). No asynchronous callback follows; the beneficiary's products are immediately discoverable through /participant/get/policies or /V2/participant/get/policies. Errors come back as 400, 404 or 500 with the registry ErrorResponse envelope. The link can later be reversed only through the de-link endpoints, which check that the caller is the payerid or processingid participant.

        ### Common mistakes

        - Calling with a token minted from a client_id other than the one used at participant creation for the payer or TPA; NHA lists this as common mistake 10 and the call is refused even though the token itself is valid.
        - Confusing payerid and processingid: payerid is always the insurance company's own participant code; processingid is only the TPA code when the payer is mapped under a TPA.
        - Trying to move a payer to a new TPA by re-linking in place; the documented path is de-link, then link again with the new TPA's code as processingid.
        - Omitting one of the required fields (requestid, abhanumber, memberid, payerid, policies with productid and productname) or reusing a non-UUID requestid, which returns 400 with the ErrorResponse envelope.
        - Sending the token without the Bearer prefix, or omitting the Accept header, both of which reject the call before business logic (401 or 400).
        - Lower-casing the path to /v2/participant/link/abha/policy, which is not the same route; the lower-case /v2/ prefix belongs to the init and validate pair.

        ### Best practices

        - Generate a fresh UUID for requestid on every call and log it with the response so a duplicate submission can be traced.
        - Keep the ABHA number in the form the member layer expects (the identifier table and get/policies documentation both specify ABHA without hyphens) and store it in that form.
        - Make sure productid and productname exactly match the payer's product catalogue as registered through /product/link, because providers will later match on these values.
        - Cache and proactively refresh the Bearer token; retry once on 401 with a new token, then stop and alert.
        - After linking, verify the result with /participant/get/policies using the same identifier before telling the provider the member is ready.

        ### Related scenario

        A TPA that processes claims for several insurers migrates its integration to the V2 participant APIs. When one of its insurers issues a new individual health policy, the TPA's system calls /V2/participant/link/abha/policy with the insurer's participant code as payerid and its own code as processingid, listing the product from the insurer's catalogue. The TPA then confirms the link with /V2/participant/get/policies using the member's ABHA number. When the beneficiary later visits a hospital, the provider resolves the processingid as the receiver code and submits the coverage-eligibility check and preauthorisation to the TPA.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                abhanumber:
                  type: string
                mobilenumber:
                  type: string
                memberid:
                  type: string
                payerid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: 0b1d6c1e-6a5f-4d3c-8b9a-4f2e7c0d1a22
              abhanumber: "12345678910111"
              mobilenumber: "9876543210"
              memberid: MEM-2026-000123
              payerid: 100234@sbx
              policies:
                - productid: PRD-INDIV-07
                  productname: Individual Health Silver
              processingid: 100235@sbx
      responses:
        "200":
          description: A successful call returns HTTP 200 with ParticipantLinkAbhaResponse (optional result string and optional errormessage with errorcode and errordescription).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /v2/participant/link/abha/policy/init:
    post:
      operationId: registry_v2_participant_link_abha_policy_init
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Initiate ABHA policy link (v2)
      description: |-
        First half of the two-step v2 link: submits the ABHA policy link request, to be confirmed with a passcode via the validate endpoint.

        ### Business purpose

        The init variant exists so that a policy link can be confirmed out of band before it takes effect. It takes the same ParticipantLinkAbhaRequest as the direct link calls but pairs with GET /v2/participant/link/abha/policy/validate, which accepts a passcode and transactionId. This mirrors the passcode-confirmed pattern already used for participant creation (/validate) and update (/update/validate), giving payers and TPAs an approval gate on member-layer writes. The documentation describes the pairing but does not detail how the passcode is delivered for this endpoint.

        ### When to use

        Use it when your NHCX instance requires the confirmed (init then validate) form of linking rather than the single-call form. It is part of member-layer setup and precedes any claim-side workflow. Call init with the full link request, keep the transaction identifier the flow returns, and then complete the link with the validate call carrying passcode and transactionId. If the confirmation is never completed, the link should not be assumed to exist; verify with /participant/get/policies.

        ### Preconditions

        - A valid Bearer token from the client-credentials call (POST /get/session, form-urlencoded client_id, client_secret, grant_type=client_credentials); tokens last 1200 seconds, so refresh before expiry.
        - HTTP headers Accept: application/json, Content-Type: application/json and bearer_auth: Bearer <token> (the participant service uses bearer_auth, not Authorization).
        - Base path for the participant service: https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice (sandbox) or https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice (production).
        - This is a synchronous plain-JSON registry call: no JWE envelope, no x-hcx-* protocol headers and no correlation id are involved.
        - The caller must be the participant named as payerid or processingid, with a token minted from the client_id used at participant creation.
        - The request body is ParticipantLinkAbhaRequest: requestid (UUID), abhanumber, memberid, payerid and policies (productid, productname) are required; mobilenumber and processingid are optional.

        ### Postconditions

        The service answers synchronously with HTTP 200 and ParticipantLinkAbhaResponse (optional result and errormessage). Per the documented pattern, the link is then confirmed by GET /v2/participant/link/abha/policy/validate with the passcode and transactionId; the docs do not state that the link is visible in policy lookups before that confirmation. There is no NHCX callback. Errors return 400, 404 or 500 with the ErrorResponse envelope. For the sibling participant flows the transaction id and passcode are valid for 24 hours; the docs do not state a separate validity for the policy link pair.

        ### Common mistakes

        - Treating init as the complete link and never calling /v2/participant/link/abha/policy/validate, then reporting that get/policies returns nothing.
        - Using a token from a client_id other than the one used at participant creation for the payer or TPA (common mistake 10 in the NHA list); linking is refused for unauthorised parties.
        - Mixing the case of the path: init and validate live under lower-case /v2/, while the direct V2 link uses /V2/.
        - Swapping payerid and processingid, or omitting required fields such as requestid, memberid or the policies array.

        ### Best practices

        - Persist the requestid you sent and the transaction identifier you receive together, so the validate step can be completed by a different process or after a restart.
        - Complete the validate step promptly; the sibling participant create and update passcodes expire after 24 hours, so do not assume a longer window here.
        - Use the same product identifiers as registered through /product/link.
        - Confirm the outcome with /participant/get/policies before informing the provider or beneficiary.
        - Refresh the Bearer token proactively and retry once on 401.

        ### Related scenario

        An insurer's policy administration team is required by its NHCX instance to confirm member links by passcode. When a new policy is issued, the system posts the ParticipantLinkAbhaRequest to /v2/participant/link/abha/policy/init and records the transaction identifier. The authorised operator receives the passcode and the system calls GET /v2/participant/link/abha/policy/validate with passcode and transactionId to complete the link. The team then checks /V2/participant/get/policies for the member's ABHA number and, satisfied, closes the case; the hospital will discover the policy on the beneficiary's next admission.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                abhanumber:
                  type: string
                mobilenumber:
                  type: string
                memberid:
                  type: string
                payerid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: 3c9e8d2f-5b4a-4e1c-9f7d-8a6b5c4d3e21
              abhanumber: "12345678910111"
              mobilenumber: "9876543210"
              memberid: MEM-2026-000123
              payerid: 100234@sbx
              policies:
                - productid: PRD-FLOATER-01
                  productname: Family Floater Gold
              processingid: 100235@sbx
      responses:
        "200":
          description: The service answers synchronously with HTTP 200 and ParticipantLinkAbhaResponse (optional result and errormessage).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /v2/participant/link/abha/policy/validate:
    get:
      operationId: registry_v2_participant_link_abha_policy_validate
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: Validate ABHA policy link (v2)
      description: |-
        Second half of the two-step v2 link: confirms an initiated ABHA policy link with the passcode and transactionId query parameters.

        ### Business purpose

        This GET endpoint closes the approval loop opened by /v2/participant/link/abha/policy/init. By requiring a passcode tied to a transactionId, it ensures that a member-layer write attributed to a payer or TPA was actually authorised by that organisation, in the same way that participant creation and update are confirmed through /validate and /update/validate. The value to the ecosystem is trust in the registry: providers rely on the policy lookup, so the links behind it should be deliberate and traceable.

        ### When to use

        Call it after a successful init call, once the passcode is available, passing both required query parameters: passcode (string) and transactionId (string). It is the last step of the confirmed link flow and must be completed before the link is relied on. It has no role in claim-side workflows (eligibility, preauthorisation, claim) beyond making the member discoverable so that those flows can start.

        ### Preconditions

        - A prior POST /v2/participant/link/abha/policy/init that returned a transaction identifier.
        - The passcode associated with that transaction; the documentation for the sibling participant flows says the passcode is specific to each transaction id and valid for 24 hours.
        - A valid Bearer token in bearer_auth: Bearer <token>, plus Accept: application/json; there is no request body, and no JWE or x-hcx-* headers are involved.
        - The participant service base path, sandbox https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice.

        ### Postconditions

        On success the endpoint returns HTTP 200 with ParticipantLinkAbhaResponse (optional result and errormessage). The initiated link is confirmed and the beneficiary's products become discoverable through the policy lookup endpoints. No asynchronous callback follows. Errors return 400, 404 or 500 with the ErrorResponse envelope. If the transaction cannot be found or the passcode is wrong, the documented remedy for the sibling participant flows is to trigger the init request again, which generates a new transaction id and passcode.

        ### Common mistakes

        - Sending passcode and transactionId in a JSON body instead of as query parameters; this is a GET with two required query parameters.
        - Using a transactionId from a different init call or from a participant create/update flow.
        - Letting the passcode age out; the sibling flows document a 24-hour validity for transaction id and passcode.
        - Calling with a token from a client_id other than the one used at participant creation, which fails the link authorisation check.
        - Omitting the Accept header or the Bearer prefix on bearer_auth.

        ### Best practices

        - URL-encode both query parameters and log the transactionId with the outcome.
        - Treat a 404 or an errormessage as a signal to restart from init rather than retrying the same passcode indefinitely.
        - Verify the confirmed link with /participant/get/policies using the same ABHA number.
        - Keep the init and validate calls under the same participant token so the identity check passes.

        ### Related scenario

        A TPA's operations desk initiated a policy link for a new member earlier in the day through /v2/participant/link/abha/policy/init and stored the transaction identifier against the case. When the authorised approver supplies the passcode, the system calls GET /v2/participant/link/abha/policy/validate?passcode=...&transactionId=... and receives a 200 with a result string. The desk then runs /V2/participant/get/policies for the member's ABHA number, sees the product listed, and closes the linking task; the next call in the member's journey will be the hospital's coverage-eligibility check.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      responses:
        "200":
          description: On success the endpoint returns HTTP 200 with ParticipantLinkAbhaResponse (optional result and errormessage).
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /participant/delink/abha/policy:
    post:
      operationId: registry_participant_delink_abha_policy
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: De-link ABHA policies
      description: |-
        Removes specific products from a member's policy link for a payer, keyed on payerid, memberid and the products listed.

        ### Business purpose

        Policies lapse, members leave a product, and insurance companies move between TPAs. This call is the only documented way to reverse a link written through /participant/link/abha/policy, which keeps the registry honest so that providers do not route claims against coverage that no longer exists. Because there is no in-place re-parenting operation, de-link followed by a fresh link is also the documented procedure when a payer changes its processing TPA. The insurer and TPA control their own data; providers get accurate policy lookups.

        ### When to use

        Use it when a product should no longer be discoverable for a member: policy termination, member removal, product migration, or the first half of a TPA change. It belongs to the member layer and precedes no claim-side workflow; it is the payer's use case 3 in the sandbox exit checklist (Link, Get Policy, De-Link). Do not use it to correct an ABHA number, which is what /update/abhanumber is for.

        ### Preconditions

        - A valid Bearer token from the client-credentials call (POST /get/session, form-urlencoded client_id, client_secret, grant_type=client_credentials); tokens last 1200 seconds, so refresh before expiry.
        - HTTP headers Accept: application/json, Content-Type: application/json and bearer_auth: Bearer <token> (the participant service uses bearer_auth, not Authorization).
        - Base path for the participant service: https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice (sandbox) or https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice (production).
        - This is a synchronous plain-JSON registry call: no JWE envelope, no x-hcx-* protocol headers and no correlation id are involved.
        - The caller must be the participant named as payerid or processingid when the policies were linked; NHCX extracts the client id from the token and allows the call only on a match.
        - The body is ParticipantDeLinkAbhaRequest: requestid (UUID), payerid, memberid and policies (productid, productname) are required; processingid is optional. There is no abhanumber field.

        ### Postconditions

        A successful call returns HTTP 200 with ParticipantDeLinkAbhaResponse and the listed products are no longer returned by /participant/get/policies for that payer and member. No asynchronous callback follows. If the caller is not the linking payer or TPA the call is refused with an error message; if a listed product is not linked the response carries "There is no policies with requested details". Other failures return 400, 404 or 500 with the ErrorResponse envelope. To re-establish coverage, call the link endpoint again, optionally with a new processingid.

        ### Common mistakes

        - Calling from a participant that is neither the payerid nor the processingid used at link time; NHCX checks the client id in the token, not the body, and refuses the call (common mistake 10).
        - Listing a product that is not actually linked for that payerid and memberid, which returns the error message "There is no policies with requested details".
        - Including abhanumber or mobilenumber in the body; the de-link request is keyed on payerid, memberid and the products listed, and has no ABHA field.
        - Expecting provider-side caches to update: the handbook documents the policy cache as permanent with no TTL, so a de-linked policy keeps appearing until the provider passes forceRefresh: true.
        - Using a token generated with a different client_id from the one used when the payer or TPA participant was created.

        ### Best practices

        - De-link only the specific products that need removing; the policies array is the unit of work.
        - When moving an insurer to a new TPA, follow the documented order: de-link the existing policies, then link them again with the new TPA's participant code as processingid.
        - Generate a fresh UUID for requestid on every call and log it with the response.
        - Confirm the result with /participant/get/policies afterwards, and remember that providers may need a forced refresh of their own policy cache.
        - Refresh the Bearer token proactively and retry once on 401 before escalating.

        ### Related scenario

        An insurance company ends its contract with one TPA and appoints another. Its integration first calls /participant/get/policies to enumerate the products linked for each affected member, then calls /participant/delink/abha/policy for each member with the insurer's participant code as payerid, the member id and the products to remove. Once every de-link returns success, it calls /participant/link/abha/policy again with the new TPA's participant code as processingid. Hospitals that have cached these members' policies are told to refresh, so that their next coverage-eligibility check is addressed to the new TPA.

        ### Specification

        Chapter [Creating and updating a participant](/docs/nhcx/v1/getting-started/creating-and-updating-a-participant) of the NHCX integration specification.
      parameters:
        - $ref: "#/components/parameters/BearerAuth"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                requestid:
                  type: string
                payerid:
                  type: string
                memberid:
                  type: string
                policies:
                  type: array
                  items:
                    type: object
                    properties:
                      productid:
                        type: string
                      productname:
                        type: string
                processingid:
                  type: string
            example:
              requestid: 9a7c5e3d-1b2f-4c8a-b6d4-0e9f8a7b6c55
              payerid: 100234@sbx
              memberid: MEM-2026-000123
              policies:
                - productid: PRD-FLOATER-01
                  productname: Family Floater Gold
              processingid: 100235@sbx
      responses:
        "200":
          description: A successful call returns HTTP 200 with ParticipantDeLinkAbhaResponse and the listed products are no longer returned by /participant/get/policies for that payer and member.
          content:
            application/json:
              schema:
                type: object
                properties:
                  result:
                    type: string
              example:
                result: success
  /V2/participant/delink/abha/policy:
    post:
      operationId: registry_v2_participant_delink_abha_policy
      x-abdm-use-case: Participant registry
      tags:
        - Participant registry
      summary: De-link ABHA policies (V2)
      description: |-
        V2 variant of the ABHA policy de-link; same ParticipantDeLinkAbhaRequest body and response as the unversioned call.

        ### Business purpose

        This endpoint performs the same member-layer removal as /participant/delink/abha/policy: it takes products out of a member's link for a given payer so that providers stop discovering lapsed or migrated coverage. The OpenAPI document exposes it as participantDeLinkAbhaPolicyV2 with an identical request and response schema; the documentation does not describe any behavioural difference beyond the path and operationId. It is the natural partner of /V2/participant/link/abha/policy for integrations that have standardised on the V2 paths.

        ### When to use

        Use it in the same situations as the v1 de-link: policy termination, member removal, product migration, or as the first step when an insurer changes TPA (de-link, then link again with the new processingid). It is part of member-layer maintenance and is not tied to any claim workflow code. Pair it consistently with the V2 link and V2 get-policies calls.

        ### Preconditions

        - A valid Bearer token from the client-credentials call (POST /get/session, form-urlencoded client_id, client_secret, grant_type=client_credentials); tokens last 1200 seconds, so refresh before expiry.
        - HTTP headers Accept: application/json, Content-Type: application/json and bearer_auth: Bearer <token> (the participant service uses bearer_auth, not Authorization).
        - Base path for the participant service: https://apisbx.abdm.gov.in/pmjay/sbxhcx/participanthcxservice (sandbox) or https://apisprod.nha.gov.in/pmjay/hcx/participanthcxservice (production).
        - This is a synchronous plain-JSON registry call: no JWE envelope, no x-hcx-* protocol headers and no correlation id are involved.
        - The caller must be the payerid or processingid participant from the original link, using a token minted with the client_id used at participant creation.
        - Body: requestid (UUID), payerid, memberid and policies are required; processingid is optional; there is no abhanumber field.
        - Note the capital V in /V2/.

        ### Postconditions

        On success the service returns HTTP 200 with ParticipantDeLinkAbhaResponse and the products are no longer visible through the get-policies endpoints for that payer and member. There is no callback. An unauthorised caller is refused with an error message, and a product that is not linked yields "There is no policies with requested details". Other errors use the 400/404/500 ErrorResponse envelope. Provider-side policy caches are documented as permanent, so they will keep the old answer until forced to refresh.

        ### Common mistakes

        - Calling from a participant that is neither the payerid nor the processingid used at link time; NHCX checks the client id in the token, not the body, and refuses the call (common mistake 10).
        - Listing a product that is not actually linked for that payerid and memberid, which returns the error message "There is no policies with requested details".
[...]
